<div
	fxFlexFill
	fxLayout="row"
	fxLayoutAlign="center start"
	class="card-list"
	[class.initiating]="(accountFilesService.showSpinner | await) !== undefined"
	[class.mobile]="envService.isMobile | await"
	*ngIf="accountDatabaseService.currentUser | await as currentUser"
>
	<div
		fxFlex="95"
		fxLayout="column"
		fxLayoutAlign="center stretch"
		fxLayoutGap="16px"
		fxLayoutGap.lt-md="8px"
	>
		<ng-container
			*ngIf="
				recordType === recordTypes.File && (envService.isMobile | await)
			"
		>
			<div></div>

			<div fxLayoutAlign="center">
				<cyph-account-storage-analytics
					fxFlex="90"
					fxFlex.md="66"
					fxFlex.gt-md="40"
					class="mobile"
				></cyph-account-storage-analytics>
			</div>
		</ng-container>

		<mat-card
			class="animated incoming"
			*ngFor="
				let o of accountFilesService.config[recordType].incoming()
					| await
					| cyphFilter: (getFilterFunction(true) | await);
				trackBy: trackBySelf;
				let i = index
			"
			[attr.data-index]="i"
			[class.bounceInRight]="
				(accountFilesService.initiated | await) === false
			"
			[ngClass]="'_' + i"
		>
			<mat-card-header fxLayout="row">
				<mat-icon mat-card-avatar>
					{{
						accountFilesService.getThumbnail(
							o.record.mediaType,
							anonymousMessages
						)
					}}
				</mat-icon>
				<mat-card-title>
					<ng-container
						*ngIf="
							recordType === recordTypes.EhrApiKey;
							else incomingTitleDefault
						"
					>
						<div *ngIf="!o.record.wasAnonymousShare">
							<a [routerLink]="'/profile/' + o.owner">
								@{{ o.owner }}
							</a>
						</div>
						<div *ngIf="o.record.wasAnonymousShare">
							{{ getDateTimeString(o.record.timestamp) }}
						</div>
					</ng-container>

					<ng-template #incomingTitleDefault>
						{{ o.record.name || stringsService.untitled }}
					</ng-template>
				</mat-card-title>

				<mat-card-subtitle>
					<ng-container *ngIf="recordType === recordTypes.File">
						<div>
							<span cyphTranslate>Type:</span>
							&ngsp;
							<span>{{ o.record.mediaType }}</span>
						</div>
						<div>
							<span cyphTranslate>Size:</span>
							&ngsp;
							<span>{{ readableByteLength(o.record.size) }}</span>
						</div>
					</ng-container>
					<div *ngIf="!o.record.wasAnonymousShare">
						<span cyphTranslate>Shared by</span>
						&ngsp;
						<a [routerLink]="'/profile/' + o.owner">
							{{ o.owner }}
						</a>
					</div>
					<div
						cyphTranslate
						*ngIf="o.record.wasAnonymousShare && !anonymousMessages"
					>
						Shared anonymously
					</div>
					<div
						*ngIf="
							!!o.record.replyToEmail || !!o.record.replyToName
						"
					>
						<span cyphTranslate>Reply-to:</span>
						&ngsp;
						<span *ngIf="!!o.record.replyToName">
							{{ o.record.replyToName }}
						</span>
						&ngsp;
						<span *ngIf="!!o.record.replyToEmail">
							&lt;<a [href]="'mailto:' + o.record.replyToEmail">{{
								o.record.replyToEmail
							}}</a
							>&gt;
						</span>
					</div>
				</mat-card-subtitle>
				<div fxFlex fxLayoutAlign="end center">
					<button
						mat-icon-button
						cyphTranslate
						matTooltip="Accept"
						(click)="
							recordType === recordTypes.EhrApiKey ?
								acceptEhrApiKey(o.record) :
								accountFilesService.acceptIncomingFile(o.record)
						"
					>
						<mat-icon>check</mat-icon>
					</button>
					<button
						mat-icon-button
						cyphTranslate
						matTooltip="Reject"
						(click)="
							accountFilesService.acceptIncomingFile(
								o.record,
								false
							)
						"
					>
						<mat-icon>close</mat-icon>
					</button>
				</div>
			</mat-card-header>
		</mat-card>

		<br />

		<div
			fxLayout="row"
			fxLayoutGap="8px"
			*ngIf="
				recordType === recordTypes.File &&
				((envService.isMobile | await) || !!(currentDirectory | await))
			"
		>
			<div
				fxFlex
				*ngIf="
					(envService.isMobile | await) ||
					!!(currentDirectory | await)
				"
			>
				<h3 *ngIf="currentDirectory | await as directory">
					<code>/{{ directory }}</code>
				</h3>
			</div>
			<div *ngIf="envService.isMobile | await">
				<ng-container
					*ngTemplateOutlet="createDirectoryButton"
				></ng-container>
			</div>
		</div>

		<div
			fxLayoutAlign="center"
			*ngIf="
				(recordType !== recordTypes.File ||
					!(currentDirectory | await)) &&
				(
					accountFilesService.config[recordType].list()
					| await
					| cyphFilter: (getFilterFunction() | await)
				)?.length < 1
			"
		>
			<h2>
				{{
					stringsService.youHaveNo +
						' ' +
						(anonymousMessages ?
							stringsService.messages :
							accountFilesService.config[recordType].stringPlural)
				}}
			</h2>
		</div>

		<div
			class="table-container"
			*ngIf="
				recordType !== recordTypes.File &&
				(envService.isMobile | await) === false &&
				((recordType === recordTypes.File &&
					!!(currentDirectory | await)) ||
					(
						accountFilesService.config[recordType].list()
						| await
						| cyphFilter: (getFilterFunction() | await)
					)?.length > 0)
			"
		>
			<mat-table
				matSort
				[dataSource]="
					getTableDataSource(
						getMergedRowData(
							(accountFilesService.config[recordType].list()
								| await
								| cyphFilter: (getFilterFunction() | await)) ||
								[]
						)(
							recordType === recordTypes.File ?
								(accountFilesService.directories.watch(
									(currentDirectory | await) || ''
								) | await) || [] :
								[]
						)
					)
				"
			>
				<ng-container matColumnDef="actions">
					<mat-header-cell
						fxFlex="224px"
						*matHeaderCellDef
					></mat-header-cell>
					<mat-cell
						fxFlex="224px"
						fxLayoutAlign="end center"
						*matCellDef="let o"
					>
						<ng-container
							*ngTemplateOutlet="
								actionButtons;
								context: {currentUser: currentUser, o: o}
							"
						></ng-container>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="name">
					<mat-header-cell fxFlex *matHeaderCellDef mat-sort-header>
						<span cyphTranslate>Name</span>
					</mat-header-cell>
					<mat-cell fxFlex *matCellDef="let o">
						<span [style.width]="'100%'">
							{{ o.record.name || stringsService.untitled }}
						</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="owner">
					<mat-header-cell
						fxFlex="96px"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate>Shared By</span>
					</mat-header-cell>
					<mat-cell fxFlex="96px" *matCellDef="let o">
						<a
							[routerLink]="'/profile/' + o.owner"
							*ngIf="
								!o.record.wasAnonymousShare &&
									currentUser?.user?.username !== o.owner;
								else anonymousShare
							"
						>
							<span [style.width]="'100%'">{{ o.owner }}</span>
						</a>
						<ng-template #anonymousShare>
							<span
								cyphTranslate
								*ngIf="o.record.wasAnonymousShare; else noShare"
							>
								Anonymous
							</span>
						</ng-template>
						<ng-template #noShare>
							<div fxLayoutAlign="center">&mdash;</div>
						</ng-template>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="password">
					<mat-header-cell
						fxFlex="96px"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate>Password</span>
					</mat-header-cell>
					<mat-cell fxFlex="96px" *matCellDef="let o">
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Edit Password"
							(click)="editPassword(o, 'password')"
							*ngIf="currentUser?.user?.username === o.owner"
						>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Copy to Clipboard"
							(click)="copyPassword(o, 'password')"
						>
							<mat-icon>content_copy</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="passwordURL">
					<mat-header-cell fxFlex *matHeaderCellDef mat-sort-header>
						<span cyphTranslate>Website</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let o">
						<span>
							{{
								(
									accountFilesService.watchPassword(o.record)
									| await
								)?.url || ''
							}}
						</span>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Edit Website"
							(click)="editPassword(o, 'url')"
							*ngIf="currentUser?.user?.username === o.owner"
						>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Copy to Clipboard"
							(click)="copyPassword(o, 'url')"
						>
							<mat-icon>content_copy</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="passwordUsername">
					<mat-header-cell fxFlex *matHeaderCellDef mat-sort-header>
						<span cyphTranslate>Username</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let o">
						<span>
							{{
								(
									accountFilesService.watchPassword(o.record)
									| await
								)?.username || ''
							}}
						</span>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Edit Username"
							(click)="editPassword(o, 'username')"
							*ngIf="currentUser?.user?.username === o.owner"
						>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Copy to Clipboard"
							(click)="copyPassword(o, 'username')"
						>
							<mat-icon>content_copy</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="pgpExpires">
					<mat-header-cell
						fxFlex="128px"
						fxLayoutAlign="center center"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate>Expires</span>
					</mat-header-cell>
					<mat-cell
						fxFlex="128px"
						fxLayoutAlign="center center"
						*matCellDef="let o"
					>
						<span *ngIf="getPGPKey(o) | await as pgpKey">
							{{
								!pgpKey?.key?.pgpMetadata?.expires ?
									'-' :
									(getISODateString(
										pgpKey?.key?.pgpMetadata?.expires || 0
									) | await) || ''
							}}
						</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="pgpPrivateKey">
					<mat-header-cell
						fxFlex="128px"
						fxLayoutAlign="center center"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate>Export Private Key</span>
					</mat-header-cell>
					<mat-cell
						fxFlex="128px"
						fxLayoutAlign="center center"
						*matCellDef="let o"
					>
						<ng-container *ngIf="getPGPKey(o) | await as pgpKey">
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Download"
								matTooltipPosition="left"
								(click)="
									pgpKey.savePrivateKey();
									$event.stopPropagation()
								"
								*ngIf="
									pgpKey.savePrivateKey !== undefined;
									else noPGPPrivateKey
								"
							>
								<mat-icon>cloud_download</mat-icon>
							</button>
						</ng-container>
						<ng-template #noPGPPrivateKey>
							<span
								cyphTranslate
								matTooltip="No private key"
								matTooltipPosition="left"
							>
								-
							</span>
						</ng-template>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="pgpPublicKey">
					<mat-header-cell
						fxFlex="128px"
						fxLayoutAlign="center center"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate>Export Public Key</span>
					</mat-header-cell>
					<mat-cell
						fxFlex="128px"
						fxLayoutAlign="center center"
						*matCellDef="let o"
					>
						<ng-container *ngIf="getPGPKey(o) | await as pgpKey">
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Download"
								matTooltipPosition="left"
								(click)="
									pgpKey.savePublicKey();
									$event.stopPropagation()
								"
							>
								<mat-icon>cloud_download</mat-icon>
							</button>
						</ng-container>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="replyTo">
					<mat-header-cell fxFlex *matHeaderCellDef mat-sort-header>
						<span cyphTranslate>Reply-To</span>
					</mat-header-cell>
					<mat-cell fxFlex *matCellDef="let o">
						<div
							class="truncate"
							*ngIf="
								!!o.record.replyToEmail ||
									!!o.record.replyToName;
								else noReplyTo
							"
						>
							<span *ngIf="!!o.record.replyToName">
								{{ o.record.replyToName }}
							</span>
							&ngsp;
							<span *ngIf="!!o.record.replyToEmail">
								&lt;<a
									[href]="'mailto:' + o.record.replyToEmail"
									>{{ o.record.replyToEmail }}</a
								>&gt;
							</span>
						</div>
						<ng-template #noReplyTo>
							<div fxLayoutAlign="center">&mdash;</div>
						</ng-template>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="size">
					<mat-header-cell
						fxFlex="96px"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate>Size</span>
					</mat-header-cell>
					<mat-cell fxFlex="96px" *matCellDef="let o">
						<div
							*ngIf="
								o.record.mediaType !== 'cyph/folder';
								else noSize
							"
						>
							{{ readableByteLength(o.record.size) }}
						</div>
						<ng-template #noSize>
							<div fxLayoutAlign="center">&mdash;</div>
						</ng-template>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="timestamp">
					<mat-header-cell
						fxFlex="128px"
						*matHeaderCellDef
						mat-sort-header
					>
						<span cyphTranslate *ngIf="!anonymousMessages"
							>Created</span
						>
						<span cyphTranslate *ngIf="anonymousMessages"
							>Sent</span
						>
					</mat-header-cell>
					<mat-cell fxFlex="128px" *matCellDef="let o">
						<div
							*ngIf="
								o.record.mediaType !== 'cyph/folder';
								else noTimestamp
							"
						>
							{{
								watchRelativeDateString(o.record.timestamp)
									| await
							}}
						</div>
						<ng-template #noTimestamp>
							<div fxLayoutAlign="center">&mdash;</div>
						</ng-template>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="type">
					<mat-header-cell
						fxFlex="64px"
						*matHeaderCellDef
					></mat-header-cell>
					<mat-cell fxFlex="64px" *matCellDef="let o">
						<mat-icon
							[matTooltip]="
								recordType === recordTypes.File ?
									o.record.mediaType :
									undefined
							"
						>
							{{
								accountFilesService.getThumbnail(
									o.record.mediaType,
									anonymousMessages
								)
							}}
						</mat-icon>
					</mat-cell>
				</ng-container>

				<mat-header-row
					*matHeaderRowDef="getTableColumns(recordType)"
				></mat-header-row>
				<mat-row
					*matRowDef="let row; columns: getTableColumns(recordType)"
					[class.clickable]="
						recordType === recordTypes.File ||
						accountFilesService.config[recordType].subroutable
					"
					[routerLink]="
						!accountFilesService.config[recordType].subroutable ?
							[] :
							'/' +
							(anonymousMessages ?
								'inbox' :
								accountFilesService.config[recordType].route) +
							'/' +
							row.record.id
					"
					(click)="
						row.record.mediaType === 'cyph/folder' ?
							changeDirectory(row.record.name) :
						recordType === recordTypes.File ?
							accountFilesService.openFile(row.record.id) :
							undefined
					"
				></mat-row>
			</mat-table>
			<mat-paginator
				[pageSizeOptions]="[5, 10, 25]"
				showFirstLastButtons
			></mat-paginator>

			<ng-container
				*ngTemplateOutlet="createDirectoryButton"
			></ng-container>
		</div>

		<cyph-file-manager
			[directories]="accountFilesService.directories.watchTree() | await"
			[files]="
				accountFilesService.config[recordTypes.File].list() | await
			"
			(changeDirectory)="changeDirectory($event)"
			(createDirectory)="createDirectory($event)"
			(downloadAndSave)="
				accountFilesService.downloadAndSave(
					$event.dataItem.originalConfig.id
				)
			"
			(removeDirectory)="
				accountFilesService.directories.delete($event, false)
			"
			(removeFile)="accountFilesService.remove($event, false)"
			*ngIf="recordType === recordTypes.File"
		>
		</cyph-file-manager>

		<ng-container *ngIf="envService.isMobile | await">
			<mat-card
				*ngFor="
					let o of getMergedRowData(
						(accountFilesService.config[recordType].list()
							| await
							| cyphFilter: (getFilterFunction() | await)) || []
					)(
						recordType === recordTypes.File ?
							(accountFilesService.directories.watch(
								(currentDirectory | await) || ''
							) | await) || [] :
							[]
					);
					trackBy: trackBySelf;
					let i = index
				"
				[routerLink]="
					!accountFilesService.config[recordType].subroutable ?
						[] :
						'/' +
						(anonymousMessages ?
							'inbox' :
							accountFilesService.config[recordType].route) +
						'/' +
						o.record.id
				"
				(click)="
					o.record.mediaType === 'cyph/folder' ?
						changeDirectory(o.record.name) :
					recordType === recordTypes.File ?
						accountFilesService.openFile(o.record.id) :
						undefined
				"
			>
				<mat-card-header fxLayout="row">
					<mat-icon mat-card-avatar>
						{{
							accountFilesService.getThumbnail(
								o.record.mediaType,
								anonymousMessages
							)
						}}
					</mat-icon>
					<mat-card-title
						[class.truncate]="recordType === recordTypes.Password"
					>
						{{
							(recordType !== recordTypes.Password ?
								o.record.name :
								(
									accountFilesService.watchPassword(o.record)
									| await
								)?.url) || stringsService.untitled
						}}
					</mat-card-title>
					<mat-card-subtitle>
						<ng-container
							*ngIf="
								o.record.mediaType !== 'cyph/folder' &&
								recordType === recordTypes.File
							"
						>
							<div>
								<span cyphTranslate>Type:</span>
								&ngsp;
								<span>{{ o.record.mediaType }}</span>
							</div>
							<div>
								<span cyphTranslate>Size:</span>
								&ngsp;
								<span>{{
									readableByteLength(o.record.size)
								}}</span>
							</div>
						</ng-container>

						<div
							*ngIf="
								recordType === recordTypes.Note &&
								!anonymousMessages
							"
						>
							{{
								accountFilesService.noteSnippet(o.record.id)
									| await
							}}
						</div>

						<div *ngIf="recordType === recordTypes.Password">
							{{
								(
									accountFilesService.watchPassword(o.record)
									| await
								)?.username || ''
							}}
						</div>

						<div
							*ngIf="
								!o.record.wasAnonymousShare &&
								currentUser?.user?.username !== o.owner
							"
						>
							<span cyphTranslate>Owner:</span>
							&ngsp;
							<a [routerLink]="'/profile/' + o.owner">
								{{ o.owner }}
							</a>
						</div>
						<div
							cyphTranslate
							*ngIf="
								o.record.wasAnonymousShare && !anonymousMessages
							"
						>
							Received from anonymous
						</div>
						<div
							*ngIf="
								!!o.record.replyToEmail ||
								!!o.record.replyToName
							"
						>
							<span cyphTranslate>Reply-to:</span>
							&ngsp;
							<span *ngIf="!!o.record.replyToName">
								{{ o.record.replyToName }}
							</span>
							&ngsp;
							<span *ngIf="!!o.record.replyToEmail">
								&lt;<a
									[href]="'mailto:' + o.record.replyToEmail"
									>{{ o.record.replyToEmail }}</a
								>&gt;
							</span>
						</div>
					</mat-card-subtitle>

					<div fxFlex fxLayoutAlign="end center">
						<div
							fxFlex="144px"
							fxLayout="row wrap"
							fxLayoutAlign="end center"
						>
							<ng-container
								*ngTemplateOutlet="
									actionButtons;
									context: {currentUser: currentUser, o: o}
								"
							></ng-container>
						</div>
					</div>
				</mat-card-header>
			</mat-card>
		</ng-container>

		<ng-container
			*ngIf="
				recordType === recordTypes.File &&
				(envService.isMobile | await) === false
			"
		>
			<ng-container *ngTemplateOutlet="fileUploadDropZone"></ng-container>

			<div fxLayoutAlign="center">
				<cyph-account-storage-analytics
					fxFlex="90"
					fxFlex.md="66"
					fxFlex.gt-md="40"
				></cyph-account-storage-analytics>
			</div>
		</ng-container>
	</div>

	<ng-content></ng-content>

	<ng-container
		*ngIf="(accountFilesService.showSpinner | await) !== undefined"
	>
		<cyph-spinner
			mode="indeterminate"
			*ngIf="
				((accountFilesService.showSpinner | await) || 0) < 1;
				else determinateFileSpinner
			"
		></cyph-spinner>
		<ng-template #determinateFileSpinner>
			<cyph-spinner
				mode="determinate"
				[value]="(accountFilesService.showSpinner | await) || 1"
			></cyph-spinner>
		</ng-template>
	</ng-container>
</div>

<ng-template #fileUploadDropZone>
	<div
		class="file-upload"
		fxLayoutAlign="center"
		fxLayout="row"
		[matTooltip]="stringsService.uploadFile"
		matTooltipPosition="above"
		cyphDropZone
		cyphTranslate
		(fileDrop)="
			accountFilesService.upload(
				$event.name,
				$event,
				undefined,
				undefined,
				undefined,
				undefined,
				undefined,
				undefined,
				recordType === recordTypes.File ?
					currentDirectory.value :
					undefined
			)
		"
		*ngIf="
			((accountFilesService.filesTotalSize | await) || 0) <=
			((accountFilesService.fileStorageLimit | await) || 0)
		"
	>
		<mat-icon>file_upload</mat-icon>
	</div>
</ng-template>

<ng-template #actionButtons let-currentUser="currentUser" let-o="o">
	<ng-container
		*ngIf="
			o.record.mediaType !== 'cyph/folder' &&
			recordType === recordTypes.File
		"
	>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip="Settings"
			*ngIf="false"
		>
			<mat-icon>settings</mat-icon>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip="Download"
			(click)="
				accountFilesService.downloadAndSave(o.record.id);
				$event.stopPropagation()
			"
		>
			<mat-icon>cloud_download</mat-icon>
		</button>
	</ng-container>

	<ng-container *ngIf="recordType === recordTypes.Form">
		<button mat-icon-button cyphTranslate matTooltip="Edit" *ngIf="false">
			<mat-icon>edit</mat-icon>
		</button>
	</ng-container>

	<ng-container
		*ngIf="
			recordType === recordTypes.Doc || recordType === recordTypes.Note
		"
	>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip="Edit"
			[routerLink]="
				'/' +
				accountFilesService.config[recordType].route +
				'/' +
				o.record.id +
				'/edit'
			"
			*ngIf="
				currentUser?.user?.username === o.owner && !anonymousMessages
			"
		>
			<mat-icon>edit</mat-icon>
		</button>
	</ng-container>

	<ng-container
		*ngIf="
			recordType === recordTypes.Password && (envService.isMobile | await)
		"
	>
		<button
			mat-icon-button
			cyphTranslate
			[matMenuTriggerFor]="passwordClipboardCopyMenu"
			matTooltip="Copy to Clipboard"
			(click)="$event.stopPropagation()"
		>
			<mat-icon>content_copy</mat-icon>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			[matMenuTriggerFor]="passwordMenu"
			matTooltip="Password Menu"
			(click)="$event.stopPropagation()"
		>
			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu #passwordClipboardCopyMenu="matMenu">
			<button
				mat-menu-item
				cyphTranslate
				(click)="copyPassword(o, 'url')"
			>
				Website
			</button>
			<button
				mat-menu-item
				cyphTranslate
				(click)="copyPassword(o, 'username')"
			>
				Username
			</button>
			<button
				mat-menu-item
				cyphTranslate
				(click)="copyPassword(o, 'password')"
			>
				Password
			</button>
		</mat-menu>
		<mat-menu #passwordEditMenu="matMenu">
			<button
				mat-menu-item
				cyphTranslate
				(click)="editPassword(o, 'url')"
			>
				Website
			</button>
			<button
				mat-menu-item
				cyphTranslate
				(click)="editPassword(o, 'username')"
			>
				Username
			</button>
			<button
				mat-menu-item
				cyphTranslate
				(click)="editPassword(o, 'password')"
			>
				Password
			</button>
		</mat-menu>
		<mat-menu #passwordMenu="matMenu">
			<button
				mat-menu-item
				cyphTranslate
				[matMenuTriggerFor]="passwordEditMenu"
				*ngIf="currentUser?.user?.username === o.owner"
			>
				Edit
			</button>
			<button
				mat-menu-item
				cyphTranslate
				(click)="accountFilesService.shareFilePrompt(o.record)"
				*ngIf="!!currentUser?.agseConfirmed && !anonymousMessages"
			>
				Share
			</button>
			<button
				mat-menu-item
				cyphTranslate
				(click)="accountFilesService.remove(o.record)"
			>
				Delete
			</button>
		</mat-menu>
	</ng-container>

	<button
		mat-icon-button
		cyphTranslate
		[matTooltip]="
			(pgpKey.isPrimary | await) ?
				stringsService.pgpPrimaryKeyRemove :
			pgpKey.savePrivateKey ?
				stringsService.pgpPrimaryKeySetVerified :
				stringsService.pgpPrimaryKeySetUnverified
		"
		matTooltipPosition="left"
		(click)="
			pgpKey.isPrimary.value ?
				accountFilesService.pgp.removePrimaryKey(
					pgpKey.key.pgpMetadata.fingerprint
				) :
				accountFilesService.pgp.setPrimaryKey(pgpKey.key);
			$event.stopPropagation()
		"
		*ngIf="getPGPKey(o) | await as pgpKey"
	>
		<mat-icon>{{
			(pgpKey.isPrimary | await) ? 'stars' : 'star_outline'
		}}</mat-icon>
	</button>

	<button
		mat-icon-button
		cyphTranslate
		matTooltip="Share"
		(click)="
			recordType === recordTypes.EhrApiKey ?
				shareEhrApiKey(o) :
				accountFilesService.shareFilePrompt(o.record);
			$event.stopPropagation()
		"
		*ngIf="
			o.record.mediaType !== 'cyph/folder' &&
			!!currentUser?.agseConfirmed &&
			!anonymousMessages &&
			recordType !== recordTypes.PGPKey &&
			(recordType !== recordTypes.EhrApiKey || o.data?.isMaster) &&
			!(
				recordType === recordTypes.Password &&
				(envService.isMobile | await)
			)
		"
	>
		<mat-icon>share</mat-icon>
	</button>

	<ng-container
		*ngIf="
			o.record.mediaType !== 'cyph/folder' &&
			recordType === recordTypes.File
		"
	>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip="Copy public download link"
			(click)="shareDownloadLink(o); $event.stopPropagation()"
		>
			<mat-icon>link</mat-icon>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			[disabled]="
				(accountDownloadService.watchIfShared(o.record.id) | await) !==
				true
			"
			matTooltip="Revoke public download link"
			(click)="revokeDownloadLink(o); $event.stopPropagation()"
		>
			<mat-icon>link_off</mat-icon>
		</button>
	</ng-container>

	<button
		mat-icon-button
		cyphTranslate
		matTooltip="Delete"
		(click)="
			o.record.mediaType === 'cyph/folder' ?
				deleteDirectory(o.record.name) :
			recordType === recordTypes.EhrApiKey ?
				removeEhrApiKey(o) :
				accountFilesService.remove(o.record);
			$event.stopPropagation()
		"
		*ngIf="
			!(o.record.mediaType === 'cyph/folder' && o.record.name === '..') &&
			(recordType !== recordTypes.EhrApiKey || !o.data?.isMaster) &&
			!(
				recordType === recordTypes.Password &&
				(envService.isMobile | await)
			)
		"
	>
		<mat-icon>delete</mat-icon>
	</button>
</ng-template>

<ng-template #createDirectoryButton>
	<button
		class="create-directory-button"
		mat-icon-button
		cyphTranslate
		matTooltip="Create New Folder"
		(click)="createDirectory()"
		*ngIf="recordType === recordTypes.File"
	>
		<mat-icon>create_new_folder</mat-icon>
	</button>
</ng-template>
