@import '../../../../css/mixins';

.file-upload {
	height: 10em;
}

.mobile {
	::ng-deep .mat-card-header-text {
		word-break: break-word;
	}
}

.card-list.mobile {
	padding-top: 0 !important;

	.file-upload {
		height: 5em;
	}
}

.file-manager-wrapper {
	background-color: white !important;
	overflow: hidden;
	padding: 0;
	margin-left: -16px;
	margin-right: -16px;
}

.table-container {
	position: relative;

	> .create-directory-button {
		position: absolute;
		top: 8px;
		right: 8px;
	}
}

mat-card.incoming {
	transition: 500ms;

	&:not(:hover) {
		opacity: 0.75 !important;
	}
}

cyph-account-storage-analytics.mobile {
	position: relative;
	top: -15px;
}

mat-card-subtitle,
mat-card-title {
	overflow-wrap: break-word;
	word-break: break-all;
}

mat-card-title.truncate {
	max-width: calc(100vw - 225px);
}
