<div fxFlex fxLayout='row' *ngIf='accountDatabaseService.current'>
	<div fxFlex></div>
	<div fxFlex='50' fxLayout='column' class='settings-wrapper'>
		<h1>Account Settings</h1>
		<div class='name'>
			<span>Your Name: </span>
			<span>{{accountDatabaseService.current.user.name}}</span>
		</div>
		<div class='email'>
			<span>Your Email: </span>
			<span>{{accountDatabaseService.current.user.email}}</span>
		</div>
		<div class='premium-status'>
			<span>Premium Status: </span>
			<span>
				{{
					accountDatabaseService.current.user.hasPremium ?
						'Enabled' :
						'Disabled'
				}}
			</span>
		</div>
		<div fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='8px'>
			<md-slide-toggle>Setting 1</md-slide-toggle>
			<md-slide-toggle>Setting 2</md-slide-toggle>
			<md-slide-toggle>Setting 3</md-slide-toggle>
		</div>
	</div>
	<div fxFlex></div>
</div>
