<div fxFlexFill fxLayoutAlign='center start'>
	<md-card fxFlex='90' class='note'>
		<div fxLayout='column'>
			<div fxLayoutAlign='center center' fxLayout='row'>
				<div fxFlex='grow'></div>
				<md-card-title fxFlex='noshrink' *ngIf='note'>
					<div *ngIf='!editable'>
						{{note.metadata.name}}
					</div>
					<a
						[routerLink]='
							"/account/notes/" + note.metadata.id
						'
						*ngIf='editable'
					>
						{{note.metadata.name}}
					</a>
				</md-card-title>
				<div fxFlex='grow'></div>
				<md-card-header *ngIf='note'>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Edit Note'
						routerLink='edit'
						*ngIf='!editable'
					>
						<md-icon>edit</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Save Note'
						(click)='saveNote()'
						*ngIf='editable'
					>
						<md-icon>save</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Delete Note'
						(click)='accountFilesService.remove(note)'
					>
						<md-icon>delete</md-icon>
					</button>
				</md-card-header>
			</div>
			<md-card-content fxFlex fxLayout='column' *ngIf='note'>
				<cyph-quill
					[content]='note.observable | async'
					[readOnly]='!editable'
					(onChange)='noteData = {content: $event.content, id: note.metadata.id}'
				></cyph-quill>
			</md-card-content>
		</div>
	</md-card>
</div>
