<div fxFlexFill fxLayoutAlign='center start' *ngIf='form'>
	<md-card fxFlex='90' class='form'>
		<md-card-header fxLayout='row'>
			<md-card-title>{{(form.metadata | async)?.name}}</md-card-title>
			<div fxFlex fxLayoutAlign='end center'>
				<button
					md-icon-button
					cyphTranslate
					mdTooltip='Edit Note'
				>
					<md-icon>edit</md-icon>
				</button>
				<button
					md-icon-button
					cyphTranslate
					mdTooltip='Delete Note'
				>
					<md-icon>delete</md-icon>
				</button>
			</div>
		</md-card-header>
		<md-card-content>
			<cyph-dynamic-form [form]='form.data | async'></cyph-dynamic-form>
		</md-card-content>
	</md-card>
</div>
