<div class='settings-wrapper' *ngIf='accountAuthService.current'>
	<h1>Account Settings</h1>
	<div class='name'>
		<span>Your Name: </span>
		<span>{{accountAuthService.current.user.name}}</span>
	</div>
	<div class='email'>
		<span>Your Email: </span>
		<span>{{accountAuthService.current.user.email}}</span>
	</div>
	<div class='premium-status'>
		<span>Premium Status: </span>
		<span>{{accountAuthService.current.user.hasPremium ? 'Enabled' : 'Disabled'}}</span>
	</div>
	<md2-switch>Setting 1</md2-switch>
	<md2-switch>Setting 2</md2-switch>
	<md2-switch>Setting 3</md2-switch>
</div>
