<div fxFlexFill fxLayout='row' fxLayoutAlign='center start'>
	<div fxFlex='90' fxFlex.gt-sm='65' fxFlex.gt-md='40' fxLayout='column' fxLayoutGap='16px'>
		<h1 class='header'>Notes</h1>
		<md-card
			class='note animated'
			*ngFor='let note of accountFilesService.filteredFiles.notes | async; let i = index'
			[attr.data-index]='i'
			[class.bounceInRight]='!accountFilesService.initiated'
			[ngClass]='accountFilesService.initiated ? ("_" + i) : ""'
			[routerLink]='"/account/notes/" + note.id'
		>
			<md-card-header fxLayout='row'>
				<md-card-title>
					{{note.name}}
				</md-card-title>
				<md-card-subtitle>
					<div>{{accountFilesService.noteSnippet(note.id)}}</div>
				</md-card-subtitle>
				<div fxFlex fxLayoutAlign='end center'>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Edit Note'
						[routerLink]='"/account/notes/" + note.id + "/edit"'
					>
						<md-icon>edit</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Delete Note'
						(click)='accountFilesService.remove(note); $event.stopPropagation();'
					>
						<md-icon>delete</md-icon>
					</button>
				</div>
			</md-card-header>
		</md-card>
	</div>
	<button
		md-fab
		cyphTranslate
		mdTooltip='New Note'
		mdTooltipPosition='above'
		routerLink='/account/notes/new'
	>
		<md-icon>add</md-icon>
	</button>
</div>
