<mat-card
	class='contact animated'
	[attr.data-index]='i'
	[ngClass]='"_" + i'
	[routerLink]='"/account/chat/" + contact.username'
>
	<mat-card-header fxLayout='row'>
		<img
			mat-card-avatar
			cyphTranslate
			class='avatar'
			[ngClass]='userPresence[contact.status | async]'
			[src]='contact.avatar | async'
			alt='User Avatar'
			matTooltip='Open Profile'
			[routerLink]='"/account/profile/" + contact.username'
		/>
		<mat-card-title>{{contact.name | async}}</mat-card-title>
		<mat-card-subtitle>{{contact.realUsername | async}}</mat-card-subtitle>
	</mat-card-header>
</mat-card>
