<div
	fxFlexFill
	fxLayoutAlign='center center'
	class='login-form'
	[class.checking]='checking'
>
	<mat-card fxFlex fxFlex.gt-sm='50' *ngIf='pinUnlock !== undefined'>
		<mat-card-title cyphTranslate>
			<span cyphTranslate *ngIf='!pinUnlock'>Log in to Cyph</span>
			<span cyphTranslate *ngIf='pinUnlock'>Unlock Cyph</span>
		</mat-card-title>
		<mat-card-subtitle *ngIf='pinUnlock'>
			<p>
				<span cyphTranslate>Welcome back</span>
				<span>{{savedUsername}}!</span>
			</p>
			<p cyphTranslate>
				<span>Enter your PIN below, or</span>
				<a href (click)='pinUnlock = false'>click here to sign in as a different user</a>.
			</p>
		</mat-card-subtitle>
		<mat-card-content>
			<form ngNativeValidate (submit)='submit()'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<h3 class='cyph-banner warn' [style.visibility]='error ? "visible" : "hidden"'>
						{{
							pinUnlock ?
								stringsService.invalidPIN :
								stringsService.invalidCredentials
						}}
					</h3>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center' *ngIf='!pinUnlock'>
					<mat-form-field fxFlex='60'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='username'
							[textMask]='usernameMask'
							name='username'
							placeholder='Username'
							required
							data-lpignore='true'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center' *ngIf='!pinUnlock || pinIsCustom'>
					<mat-form-field fxFlex='60'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='pinUnlock ? pin : password'
							name='password'
							[type]='hidePassword ? "password" : "text"'
							[placeholder]='pinUnlock ? "PIN" : "Master Key"'
							required
							data-lpignore='true'
						/>
						<mat-icon
							matSuffix
							class='visibility-toggle'
							(click)='hidePassword = !hidePassword'
						>
							{{hidePassword ? 'visibility' : 'visibility_off'}}
						</mat-icon>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center' *ngIf='pinUnlock && !pinIsCustom'>
					<cyph-pin-input
						fxFlex
						[(ngModel)]='pin'
						name='pin'
						required
					></cyph-pin-input>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<button
						mat-button
						type='submit'
						[matTooltip]='pinUnlock ? stringsService.unlock : stringsService.logIn'
					>
						{{pinUnlock ? stringsService.unlock : stringsService.logIn}}
					</button>
				</div>
			</form>
		</mat-card-content>
		<mat-progress-spinner class='global' mode='indeterminate'></mat-progress-spinner>
	</mat-card>
</div>
