<div fxLayout='column'>
	<div fxLayout='row'>
		<div fxFlex></div>
		<md-card-title *ngIf='accountFilesService.activeNote'>
			{{(accountFilesService.activeNote.metadata | async)?.name}}
		</md-card-title>
		<div fxFlex></div>
		<md-card-header *ngIf='accountFilesService.activeNote'>
				<button
					md-icon-button
					cyphTranslate
					mdTooltip='Save Note'
					routerLink='save'
				>
					<md-icon>save</md-icon>
				</button>
				<button
					md-icon-button
					cyphTranslate
					mdTooltip='Delete Note'
					(click)='accountFilesService.remove(accountFilesService.activeNote.metadata)'
				>
					<md-icon>delete</md-icon>
				</button>

		</md-card-header>
		<div fxFlex></div>
	</div>
	<md-card-content fxFlex fxLayout='column' *ngIf='accountFilesService.activeNote'>
		<quill-editor [ngModel]='accountFilesService.activeNote.data | async'></quill-editor>
	</md-card-content>
</div>
