<div
	fxFlexFill
	fxLayoutAlign='center center'
	class='login-form'
	[class.checking]='checking'
>
	<mat-card fxFlex fxFlex.gt-sm='50'>
		<mat-card-title cyphTranslate>
			Log In
		</mat-card-title>
		<mat-card-subtitle cyphTranslate>
			Welcome to Cyph! You can log in to your beta account here.
		</mat-card-subtitle>
		<mat-card-content>
			<form ngNativeValidate (submit)='submit()'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<h3 class='cyph-banner warn' [style.visibility]='error ? "visible" : "hidden"'>
						{{stringsService.invalidCredentials}}
					</h3>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='60'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='username'
							[textMask]='usernameMask'
							name='username'
							placeholder='Username'
							required
							data-lpignore='true'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='60'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='password'
							name='password'
							type='password'
							placeholder='Password'
							required
							data-lpignore='true'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<button mat-button type='submit' cyphTranslate>
						Log In
					</button>
				</div>
			</form>
		</mat-card-content>
		<mat-progress-spinner class='global' mode='indeterminate'></mat-progress-spinner>
	</mat-card>
</div>
