<div class='flex layout-row'>
	<div *ngIf='!envService.isMobile' class='flex-30'></div>
	<md2-list class='files flex' childClass='layout-column'>
		<md2-list-item
			class='contact layout-column'
			childClass='layout-row'
			*ngFor='let myFile of accountFilesService.myFiles; let i = index'
			[attr.data-index]='i'
		>
			<div class='wrapper layout-row layout-align-start-stretch flex animated flipInY _{{i}}'>
				<div class='layout-row flex'>
					<div class='thumb'>
						<i class='material-icons' alt='File Type'>
							{{accountFilesService.thumb(myFile.filetype)}}
						</i>
					</div>
					<div class='file layout-column flex'>
						<span class='name'>
							{{myFile.name}}
						</span>
						<div class='metadata layout-row'>
							<span class='filetype'>
								Filetype: {{myFile.filetype}} 
							</span>
							<span class='size'>
								File size {{myFile.size}} kb
							</span>
						</div>
					</div>
					<md2-button
						cyphTranslate
						class='layout-row'
						ariaLabel='File Settings'
					>
						<i class='material-icons' alt='Edit File Name'>settings</i>
					</md2-button>
					<md2-button
						cyphTranslate
						class='layout-row'
						ariaLabel='Download File'
					>
						<i class='material-icons' alt='Download File'>file_download</i>
					</md2-button>
				</div>
			</div>
		</md2-list-item>
	</md2-list>
	<div *ngIf='!envService.isMobile' class='flex-30'></div>
</div>
