<div fxFlexFill fxLayout='row' fxLayoutAlign='center start'>
	<div
		fxFlex='90'
		[fxFlex.gt-sm]='sidebar ? "90" : "65"'
		[fxFlex.gt-md]='sidebar ? "90" : "40"'
		fxLayout='column'
		fxLayoutGap='16px'
	>
		<div></div>

		<md-card
			[fxFlexOrder]='isActive(contact) ? "-1" : ""'
			class='contact animated'
			*ngFor='let contact of accountContactsService.contactList | async; let i = index'
			[attr.data-index]='i'
			[class.active]='isActive(contact)'
			[class.flipInY]='!isActive(contact)'
			[ngClass]='accountContactsService.initiated ? ("_" + i) : ""'
		>
			<md-card-header fxLayout='row'>
				<img
					md-card-avatar
					cyphTranslate
					class='avatar'
					[ngClass]='userPresence[contact.status | async]'
					[src]='contact.avatar | async'
					alt='User Avatar'
					mdTooltip='Open Profile'
					[routerLink]='"/account/profile/" + contact.username'
				/>
				<md-card-title>{{contact.name | async}}</md-card-title>
				<md-card-subtitle>{{contact.realUsername | async}}</md-card-subtitle>
				<div fxFlex fxLayoutAlign='end center'>
					<button
						md-icon-button
						cyphTranslate
						class='shrink pulldown'
						mdTooltip='Open Chat'
						[routerLink]='"/account/chat/" + contact.username'
					>
						<md-icon>chat_bubble</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Video Call'
						(click)='accountService.notImplemented("Video call button")'
					>
						<md-icon>video_call</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Send File'
						(click)='accountService.notImplemented("File transfer button")'
					>
						<md-icon>attachment</md-icon>
					</button>
				</div>
			</md-card-header>
		</md-card>

		<div></div>
	</div>
</div>
