<div
	class='login-form layout-row layout-align-center-center'
	[class.checking]='checking'
>
	<md2-card class='md-padding flex flex-gt-sm-50'>
		<md2-card-title>
			<md2-card-title-text>
				<span class='md-headline' cyphTranslate>
					Log In
				</span>
				<span class='md-subhead' cyphTranslate>
					Welcome to Cyph! You can log in to your beta account here.
				</span>
			</md2-card-title-text>
		</md2-card-title>
		<md2-card-content>
			<form (submit)='submit()'>
				<div class='layout-row layout-align-center-center'>
					<md2-subheader
						cyphTranslate
						[style.visibility]='error ? "visible" : "hidden"'
						[text]='stringsService.invalidCredentials'
					></md2-subheader>
				</div>
				<div class='layout-row layout-align-center-center'>
					<md2-input
						cyphTranslate
						class='flex-60'
						childClass='md-block'
						[(model)]='username'
						formName='username'
						label='Username'
						[required]='true'
					></md2-input>
				</div>
				<div class='layout-row layout-align-center-center'>
					<md2-input
						cyphTranslate
						class='flex-60'
						childClass='md-block'
						[(model)]='password'
						formName='password'
						type='password'
						label='Password'
						[required]='true'
					></md2-input>
				</div>
				<div class='layout-row layout-align-center-center'>
					<md2-button type='submit' ariaLabel='Log In' cyphTranslate>
						Log In
					</md2-button>
				</div>
			</form>
		</md2-card-content>
		<md2-progress-circular mdMode='indeterminate'></md2-progress-circular>
	</md2-card>
</div>
