<div
	fxFlexFill
	fxLayoutAlign='center start'
	[class.initiating]='(sent | async) === undefined'
>
	<div fxFlex='90' class='cyph-light-theme'>
		<mat-card fxFlex>
			<mat-card-title>
				<span
					cyphTranslate
					*ngIf='(messageType | async) === chatMessageValueTypes.CalendarInvite &&
					(sent | async) === false'
				>
					Request Appointment
				</span>
				<span cyphTranslate *ngIf='(messageType | async) === chatMessageValueTypes.Form'>
					Send Form
				</span>
				<span cyphTranslate *ngIf='
					(messageType | async) === chatMessageValueTypes.Quill ||
					(messageType | async) === chatMessageValueTypes.Text
				'>
					New Message
				</span>
			</mat-card-title>
			<mat-card-content>
				<div
					fxFlexFill
					fxLayout='column'
					fxLayoutGap='8px'
					*ngIf='(sent | async) === false'
				>
					<cyph-account-contacts-search
						[class.visibility-hidden]='(messageType | async) ===
						chatMessageValueTypes.CalendarInvite'
						[placeholder]='stringsService.to'
						[searchUsername]='searchUsername'
						(userFilterChange)='$event.subscribe(recipient)'
					></cyph-account-contacts-search>
					<cyph-account-chat-message-box
						[messageType]='messageType | async'
						[recipient]='recipient'
						[send]='send'
						[showHeader]='true'
						[showUnreadCount]='false'
					></cyph-account-chat-message-box>
				</div>
				<div fxFlexFill fxLayoutAlign='center center' *ngIf='sent | async'>
					<div *ngIf='(messageType | async) != chatMessageValueTypes.CalendarInvite'>
						<span cyphTranslate>Message sent to</span>
						<a [routerLink]='"/account/messages/" + (recipient | async)?.username'>
							{{(recipient | async)?.name | async}}
							(@{{(recipient | async)?.realUsername | async}})
						</a>
					</div>
					<div 
						fxLayout='column'
						fxLayoutAlign='center center'
						fxLayoutGap='5px'
						*ngIf='(messageType | async) === chatMessageValueTypes.CalendarInvite'
					>
						<h1 cyphTranslate>Your appointment has been requested!</h1>
						<h2 cyphTranslate>
							Why don't you get ahead on those medical forms while you're waiting for
							 confirmation?</h2>
						<button
							mat-raised-button
							cyphTranslate
							color='primary'
							[routerLink]='"/account/new-patient/" + (recipient | async)?.username'
						>
							Patient Forms
						</button>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='(sent | async) === undefined'
	></mat-progress-spinner>
</div>
