<md-card-header fxLayout='row'>
	<div fxFlex fxLayoutAlign='end center'>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Save Note'
		>
			<md-icon>save</md-icon>
		</button>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Delete Note'
			(click)='accountFilesService.remove(accountFilesService.activeNote.metadata)'
		>
			<md-icon>delete</md-icon>
		</button>
	</div>
</md-card-header>
<md-card-content>
	<quill-editor [ngModel]='accountFilesService.activeNote.data | async'></quill-editor>
</md-card-content>
