<div
	fxFlexFill
	fxLayout='row'
	class='menu'
	[class.collapsed]='(accountService.menuExpanded | async) === false'
	[class.mobile]='envService.isMobile'
	*ngIf='accountDatabaseService.currentUser.value'
>
	<div [fxFlex]='(accountService.menuExpanded | async) ? "25px" : "10px"'></div>

	<div
		fxFlex
		fxLayout='column'
		[fxLayoutAlign]='(accountService.menuExpanded | async) ? "center stretch" : "center center"'
		fxLayoutGap='16px'
	>
		<div></div>
		<div *ngIf='accountService.menuExpanded | async'></div>

		<button
			mat-button
			fxFlex='2em'
			cyphTranslate
			class='home'
			matTooltip='Home'
			matTooltipPosition='right'
			routerLink='/account'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<img
				[src]='
					!accountService.isTelehealth ?
						"/assets/img/logo.white.horizontal.png" :
						"/assets/img/logo.telehealth.horizontal.png"
				'
				class='logo'
				alt='Cyph Logo'
			/>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='home'
			matTooltip='Home'
			matTooltipPosition='right'
			routerLink='/account'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<img
				[src]='
					!accountService.isTelehealth ?
						"/assets/img/logo.white.icon.png" :
						"/assets/img/logo.telehealth.icon.png"
				'
				class='logo'
				alt='Cyph Logo'
			/>
		</button>

		<div fxLayoutAlign='center center'>
			<div
				[fxFlex]='(accountService.menuExpanded | async) ? "60" : "6em"'
				fxLayoutAlign='center center'
			>
				<div class='avatar-container'>
					<img
						cyphTranslate
						matTooltip='Profile'
						matTooltipPosition='right'
						class='avatar animated flipInX _1'
						[ngClass]='userPresence[
							accountDatabaseService.currentUser.value.user.status | async
						]'
						alt='Profile Picture'
						[src]='accountDatabaseService.currentUser.value.user.avatar | async'
						routerLink='/account/profile'
						(click)='click()'
					/>
				</div>
			</div>
		</div>

		<div></div>

		<button
			mat-button
			cyphTranslate
			matTooltip='Contacts'
			matTooltipPosition='right'
			routerLink='/account/contacts'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>people</mat-icon>
			<span>Contacts</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Contacts'
			matTooltipPosition='right'
			routerLink='/account/contacts'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>people</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			matTooltip='Files'
			matTooltipPosition='right'
			routerLink='/account/files'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>folder</mat-icon>
			<span>Files</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Files'
			matTooltipPosition='right'
			routerLink='/account/files'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>folder</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			matTooltip='Notes'
			matTooltipPosition='right'
			routerLink='/account/notes'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>create</mat-icon>
			<span>Notes</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Notes'
			matTooltipPosition='right'
			routerLink='/account/notes'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>create</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			matTooltip='Docs'
			matTooltipPosition='right'
			routerLink='/account/docs'
			(click)='click()'
			*ngIf='
				(!envService.isProd || accountService.isTelehealth) &&
				(accountService.menuExpanded | async)
			'
		>
			<mat-icon>library_books</mat-icon>
			<span>Docs</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Docs'
			matTooltipPosition='right'
			routerLink='/account/docs'
			(click)='click()'
			*ngIf='
				(!envService.isProd || accountService.isTelehealth) &&
				(accountService.menuExpanded | async) === false
			'
		>
			<mat-icon>library_books</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			matTooltip='Forms'
			matTooltipPosition='right'
			routerLink='/account/forms'
			(click)='click()'
			*ngIf='
				(!envService.isProd || accountService.isTelehealth) &&
				(accountService.menuExpanded | async)
			'
		>
			<mat-icon>content_paste</mat-icon>
			<span>Forms</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Forms'
			matTooltipPosition='right'
			routerLink='/account/forms'
			(click)='click()'
			*ngIf='
				(!envService.isProd || accountService.isTelehealth) &&
				(accountService.menuExpanded | async) === false
			'
		>
			<mat-icon>content_paste</mat-icon>
		</button>

		<div *ngIf='false'>
		<button
			mat-button
			cyphTranslate
			matTooltip='Settings'
			matTooltipPosition='right'
			routerLink='/account/settings'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>settings</mat-icon>
			<span>Settings</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Settings'
			matTooltipPosition='right'
			routerLink='/account/settings'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>settings</mat-icon>
		</button>
		</div>

		<div fxFlex></div>

		<button
			mat-button
			cyphTranslate
			matTooltip='Logout'
			matTooltipPosition='right'
			routerLink='/account/logout'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>exit_to_app</mat-icon>
			<span>Logout</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			matTooltip='Logout'
			matTooltipPosition='right'
			routerLink='/account/logout'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>exit_to_app</mat-icon>
		</button>

		<div></div>
		<div *ngIf='accountService.menuExpanded | async'></div>
	</div>

	<button
		mat-button
		fxFlex='25px'
		cyphTranslate
		class='menu-toggle'
		matTooltip='Toggle Menu'
		matTooltipPosition='right'
		(click)='accountService.toggleMenu()'
		*ngIf='accountService.menuExpandable | async'
	>
		<mat-icon [class.flipped]='(accountService.menuExpanded | async) === false'>
			keyboard_arrow_left
		</mat-icon>
	</button>

	<div fxFlex='10px' *ngIf='(accountService.menuExpandable | async) === false'></div>
</div>
