<md-card-header fxLayout='row'>
	<div fxFlex fxLayoutAlign='end center'>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Edit Note'
			routerLink='edit'
		>
			<md-icon>edit</md-icon>
		</button>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Delete Note'
			(click)='accountFilesService.remove(accountFilesService.activeNote.metadata)'
		>
			<md-icon>delete</md-icon>
		</button>
	</div>
</md-card-header>
<md-card-content>
	<cyph-markdown [markdown]='accountFilesService.activeNote.data | async'></cyph-markdown>
</md-card-content>
