<div class='profile layout-column' *ngIf='profile' [class.mobile]='envService.isMobile'>
	<img
		class='profile-picture animated flipInX _1'
		[ngClass]='userPresence[profile.user.status]'
		alt='Profile Picture'
		[src]='profile.user.avatar'
	/>
	<span class='name animated flipInX _2'>{{profile.user.name}}</span>
	<span class='username animated flipInX _2'>@{{profile.user.realUsername}}</span>
	<span class='description animated flipInX _3'>{{profile.description}}</span>
	
	<div *ngIf='isCurrentUser' class='status flex-50'>
		<md2-select
			cyphTranslate
			class='flex'
			childClass='md-block'
			[(model)]='profile.user.status'
			formName='status'
			label='Status'
			[options]='statuses'
		></md2-select>
	</div>

	<div *ngIf='!isCurrentUser' class='buttons layout-row'>
		<div class='flex'></div>

		<md2-button
			cyphTranslate
			childClass='md-fab'
			class='animated flipInX _4'
			ariaLabel='Add User'
		>
			<md2-icon>person_add</md2-icon>
		</md2-button>

		<md2-button
			cyphTranslate
			childClass='md-fab'
			class='animated flipInX _4'
			ariaLabel='Send Message'
			*ngIf='profile.user.status !== userPresence.online'
		>
			<md2-icon>email</md2-icon>
		</md2-button>
		<md2-button
			cyphTranslate
			childClass='md-fab'
			class='animated flipInX _4'
			ariaLabel='Start Chat'
			*ngIf='profile.user.status === userPresence.online'
			(childClick)='urlStateService.setUrl("account/chat/" + profile.user.username)'
		>
			<md2-icon>chat_bubble</md2-icon>
		</md2-button>

		<div class='flex'></div>
	</div>
</div>
