<div
	fxFlexFill
	fxLayoutAlign='center center'
	class='login-form'
	[class.checking]='checking'
	*ngIf='!envService.isProd'
>
	<mat-card fxFlex>
		<mat-card-title cyphTranslate>
			Register
		</mat-card-title>
		<mat-card-content>
			<div fxLayout='column' fxLayoutGap='32px'>
				<div fxLayout='row'>
					<form
						fxFlex
						fxLayout='column'
						fxLayoutGap='32px'
						ngNativeValidate
						(submit)='submit()'
					>
						<mat-tab-group
							[(selectedIndex)]='tabIndex'
							(selectedIndexChange)='updateRoute(0, $event)'
						>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon>radio_button_checked</mat-icon>
									&nbsp;
									<span cyphTranslate>Welcome</span>
								</ng-template>

								<div fxFlex fxLayout='column' fxLayoutGap='48px'>
									<div
										fxLayout='row'
										fxLayoutAlign='center center'
										class='description'
									>
										Congratulations on securing your Cyph account invite!
									</div>
									<div fxLayout='row' fxLayoutAlign='center center'>
										You'll be getting early access to premium features, and
										will still be able to easily communicate with anyone who
										doesn't have an account yet.
									</div>
								</div>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon *ngIf='tabIndex > 0'>
										radio_button_checked
									</mat-icon>
									<mat-icon *ngIf='tabIndex <= 0'>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Basic Information</span>
								</ng-template>

								<div fxFlex fxLayout='column' fxLayoutGap='48px'>
									<div
										fxLayout='row'
										fxLayoutAlign='center center'
										class='description'
									>
										Who are you? Associate your Cyph account with your identity
										or an alias.
									</div>

									<div fxLayout='row' fxLayoutAlign='center center'>
										<div fxFlex fxLayout='column' fxLayoutGap='16px'>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[formControl]='username'
														[textMask]='usernameMask'
														name='username'
														placeholder='Username'
														required
														data-lpignore='true'
													/>
													<div
														matSuffix
														cyphTranslate
														class='username-pending'
														matTooltip='Checking availability...'
														*ngIf='username.pending'
													>
														<mat-progress-spinner
															diameter='24'
															strokeWidth='2'
															mode='indeterminate'
														></mat-progress-spinner>
													</div>
													<mat-icon
														matSuffix
														cyphTranslate
														matTooltip='Username unavailable'
														*ngIf='
															!username.pending &&
															username.value &&
															username.errors
														'
													>
														error_outline
													</mat-icon>
													<mat-icon
														matSuffix
														cyphTranslate
														matTooltip='Username available!'
														*ngIf='
															!username.pending &&
															username.value &&
															!username.errors
														'
													>
														check
													</mat-icon>
													<mat-error
														cyphTranslate
														*ngIf='username.hasError("usernameTaken")'
													>
														Username unavailable
													</mat-error>
												</mat-form-field>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='name'
														name='name'
														placeholder='Name (or pseudonym)'
														required
														data-lpignore='true'
													/>
												</mat-form-field>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='email'
														name='email'
														type='email'
														placeholder='Email (optional)'
														data-lpignore='true'
													/>
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon *ngIf='tabIndex > 1'>
										radio_button_checked
									</mat-icon>
									<mat-icon *ngIf='tabIndex <= 1'>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Master Key</span>
								</ng-template>

								<div fxFlex fxLayout='column' fxLayoutGap='48px' cyphTranslate>
									<div
										fxLayout='row'
										fxLayoutAlign='center center'
										class='description'
									>
										This is your Cyph master key. It's like a password,
										but you'll only need it when first setting up a new
										device.
									</div>

									<div fxLayout='row' fxLayoutAlign='center center'>
										We've generated a mathematically-proven secure
										master key for you to use. You may pick your own
										instead, but to ensure your privacy it must be at
										least 20 characters and very difficult to guess.
									</div>

									<div fxLayout='row' fxLayoutAlign='center center'>
										<div
											fxLayout='column'
											fxLayoutGap='16px'
											class='cyph-banner warn'
										>
											<div
												fxLayout='row'
												fxLayoutAlign='center center'
											>
												<span>
													<strong>WARNING:</strong>
													<span>
														If you lose this key, you will not
														be able to recover your data,
														initialize new devices, or access
														your account in any way.
													</span>
													<span>Keep it somewhere safe and</span>
													<i>offline</i>.
													<span>
														For example, write it down on paper
														and hide it or lock it in a vault.
													</span>
												</span>
											</div>
											<div
												fxLayout='row'
												fxLayoutAlign='center center'
											>
												<span>
													<span>And</span>
													<strong>DO NOT</strong>
													<span>
														reuse this as a password for any
														other service, or store it in a
														third-party encrypted password
														management service.
													</span>
												</span>
											</div>
										</div>
									</div>

									<div
										fxLayout='row'
										(click)='useXkcdPassphrase = true'
										class='password-option'
										[class.deselected]='!useXkcdPassphrase'
									>
										<div fxFlex fxLayout='column' fxLayoutGap='16px'>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<h3>Option #1: Securely Generated Master Key</h3>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<div class='xkcd-passphrase'>
													{{xkcdPassphrase | async}}
												</div>
											</div>
										</div>
									</div>

									<div
										fxLayout='row'
										cyphTranslate
										(click)='useXkcdPassphrase = false'
										class='password-option'
										[class.deselected]='useXkcdPassphrase'
									>
										<div fxFlex fxLayout='column' fxLayoutGap='16px'>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<h3>Option #2: Custom Master Key</h3>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='password'
														name='password'
														type='password'
														placeholder='Master Key'
														[required]='!useXkcdPassphrase'
														[pattern]='".{" + customPasswordLength + ",}"'
														data-lpignore='true'
													/>
												</mat-form-field>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='passwordConfirmation'
														name='passwordConfirmation'
														type='password'
														placeholder='Confirm Master Key'
														[required]='!useXkcdPassphrase'
														[pattern]='password'
														data-lpignore='true'
													/>
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon *ngIf='tabIndex > 2'>
										radio_button_checked
									</mat-icon>
									<mat-icon *ngIf='tabIndex <= 2'>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>PIN</span>
								</ng-template>

								<div fxFlex fxLayout='column' fxLayoutGap='48px' cyphTranslate>
									<div
										fxLayout='row'
										fxLayoutAlign='center center'
										class='description'
									>
										This is a simple passcode used to lock your
										account when you're away.
									</div>

									<div fxLayout='row' fxLayoutAlign='center center'>
										A four-digit number is fine in most cases. However, you may
										choose to use a longer custom password, which will be more
										secure if you plan to sign in to Cyph on a shared device.
									</div>

									<div
										fxLayout='row'
										(click)='useLockScreenPIN = true'
										class='password-option'
										[class.deselected]='!useLockScreenPIN'
									>
										<div fxFlex fxLayout='column' fxLayoutGap='16px'>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<h3>Option #1: Four-Digit Number</h3>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<div fxFlex class='pin' (click)='focusPIN($event)'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='lockScreenPIN'
														[textMask]='pinMask'
														name='lockScreenPIN'
														placeholder='PIN'
														[required]='!useLockScreenPIN'
														data-lpignore='true'
													/>
												</div>
											</div>
										</div>
									</div>

									<div
										fxLayout='row'
										cyphTranslate
										(click)='useLockScreenPIN = false'
										class='password-option'
										[class.deselected]='useLockScreenPIN'
									>
										<div fxFlex fxLayout='column' fxLayoutGap='16px'>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<h3>Option #2: Custom Password</h3>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='lockScreenPassword'
														name='lockScreenPassword'
														type='password'
														placeholder='Lock Screen Password'
														[required]='!useLockScreenPIN'
														[pattern]='".{" + lockScreenPasswordLength + ",}"'
														data-lpignore='true'
													/>
												</mat-form-field>
											</div>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<mat-form-field fxFlex='60'>
													<input
														matInput
														cyphTranslate
														[(ngModel)]='lockScreenPasswordConfirmation'
														name='lockScreenPasswordConfirmation'
														type='password'
														placeholder='Confirm Lock Screen Password'
														[required]='!useLockScreenPIN'
														[pattern]='lockScreenPassword'
														data-lpignore='true'
													/>
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon *ngIf='tabIndex > 3'>
										radio_button_checked
									</mat-icon>
									<mat-icon *ngIf='tabIndex <= 3'>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Confirm</span>
								</ng-template>

								<div fxFlex fxLayout='column' fxLayoutGap='48px' cyphTranslate>
									<div
										fxLayout='row'
										fxLayoutAlign='center center'
										class='description'
									>
										Does this all look right?
									</div>

									<div fxLayout='row' fxLayoutAlign='center center'>
										<div fxFlex fxLayout='column' fxLayoutGap='16px'>
											<div fxLayout='row' fxLayoutAlign='center center'>
												<h3
													class='cyph-banner warn'
													[style.visibility]='
														error ? "visible" : "hidden"
													'
												>
													{{stringsService.signupFailed}}
												</h3>
											</div>

											<div fxLayout='row' fxLayoutAlign='center center'>
												<span cyphTranslate>Username:</span>
												&nbsp;
												<span>{{username.value}}</span>
											</div>

											<div fxLayout='row' fxLayoutAlign='center center'>
												<span cyphTranslate>Name:</span>
												&nbsp;
												<span>{{name}}</span>
											</div>

											<div fxLayout='row' fxLayoutAlign='center center'>
												<span cyphTranslate>Email:</span>
												&nbsp;
												<span>{{email || stringsService.omitted}}</span>
											</div>

											<div fxLayout='row' fxLayoutAlign='center center'>
												<span cyphTranslate>PIN:</span>
												&nbsp;
												<span *ngIf='useLockScreenPIN'>
													{{lockScreenPIN}}
												</span>
												<span *ngIf='!useLockScreenPIN'>****</span>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
						</mat-tab-group>

						<div
							fxLayout='row'
							fxLayoutAlign='center center'
							*ngIf='tabIndex === totalSteps'
						>
							<button mat-button type='submit' [disabled]='!readyToSubmit'>
								<span cyphTranslate>Register</span>
							</button>
						</div>
					</form>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center' *ngIf='tabIndex !== totalSteps'>
					<button mat-button (click)='updateRoute(1)'>
						<span cyphTranslate>Next</span>
					</button>
				</div>
			</div>
		</mat-card-content>
		<mat-progress-spinner class='global' mode='indeterminate'></mat-progress-spinner>
	</mat-card>
</div>
