<div fxFlexFill [class.editing]='isEditorFocused'>
	<div fxFlexFill fxLayout='row'>
		<div
			fxFlex
			fxFlexFill
			fxLayout='column'
			fxLayoutAlign='center stretch'
			class='profile'
			*ngIf='user'
			[class.mobile]='envService.isMobile'
		>
			<div fxLayoutAlign='center center'>
				<div fxFlex fxLayout='column' fxLayoutAlign='center stretch'>
					<div fxLayoutAlign='center center'>
						<img
							class='avatar animated jackInTheBox _1'
							[ngClass]='userPresence[user.status | async]'
							alt='Profile Picture'
							[src]='user.avatar | async'
						/>
					</div>
					<div class='name animated flipInX _2'>{{user.name | async}}</div>
					<div class='username animated flipInX _2'>@{{user.realUsername | async}}</div>
					<div
						fxLayoutAlign='center center'
						class='description animated flipInX _3'
						*ngIf='!editMode'
					>
						<div>
							{{user.description | async | slice:0:maxDescriptionLength}}
						</div>
					</div>
					<mat-form-field class='description' *ngIf='editMode && user'>
						<input
							matInput
							(blur)='isEditorFocused = false'
							(focus)='isEditorFocused = true'
							[maxlength]='maxDescriptionLength'
							[ngModel]='user.description | async'
							(ngModelChange)='descriptionDraft = $event'
						/>
					</mat-form-field>
				</div>
			</div>

			<div fxLayoutAlign='center center' class='edit-hide status' *ngIf='isCurrentUser'>
				<mat-select
					fxFlex='50'
					cyphTranslate
					[ngModel]='user.status | async'
					(ngModelChange)='user.accountUserPresence.setValue({status: $event})'
					name='status'
					placeholder='Status'
				>
					<mat-option
						*ngFor='let status of statuses; trackBy: trackByValue'
						[value]='status.value'
					>
						{{status.text}}
					</mat-option>
				</mat-select>
			</div>

			<div
				class='buttons'
				fxLayout='row'
				fxLayoutAlign='center center'
				fxLayoutGap='16px'
				*ngIf='!isCurrentUser'
			>
				<button
					mat-mini-fab
					cyphTranslate
					class='animated flipInX _4'
					matTooltip='Remove Contact'
					(click)='accountContactsService.removeContact(user.username)'
					*ngIf='isContact | async; else addContact'
				>
					<mat-icon>delete</mat-icon>
				</button>
				<ng-template #addContact>
					<button
						mat-mini-fab
						cyphTranslate
						class='animated flipInX _4'
						matTooltip='Add Contact'
						(click)='accountContactsService.addContact(user.username)'
					>
						<mat-icon>person_add</mat-icon>
					</button>
				</ng-template>

				<button
					mat-mini-fab
					cyphTranslate
					class='animated shrink pulldown flipInX _4'
					matTooltip='Open Chat'
					[routerLink]='"/account/messages/" + user.username'
				>
					<mat-icon>chat_bubble</mat-icon>
				</button>
			</div>

			<div fxLayout='row' fxLayoutAlign='center center' *ngIf='!isCurrentUser'>
				<div
					class='file-upload'
					fxFlex='25'
					fxLayoutAlign='center'
					matTooltip='Share File'
					matTooltipPosition='above'
					cyphDropZone
					cyphTranslate
					(fileDrop)='accountFilesService.upload($event.name, $event, user.username)'
				>
					<mat-icon>file_upload</mat-icon>
				</div>
			</div>
		</div>
	</div>

	<div fxLayout='row' fxLayoutGap='16px' class='edit-buttons edit-hide' *ngIf='isCurrentUser'>
		<button
			mat-fab
			cyphTranslate
			class='alt'
			matTooltip='Close'
			matTooltipPosition='above'
			(click)='editMode = false'
			*ngIf='editMode'
		>
			<mat-icon>close</mat-icon>
		</button>
		<button
			mat-fab
			cyphTranslate
			[matTooltip]='editMode ? "Save" : "Edit"'
			matTooltipPosition='above'
			(click)='editMode ? saveUserDescription() : editMode = true'
		>
			<mat-icon *ngIf='editMode'>save</mat-icon>
			<mat-icon *ngIf='!editMode'>edit</mat-icon>
		</button>
	</div>
</div>
