<div fxFlex fxLayout='row'>
	<div *ngIf='!envService.isMobile' fxFlex></div>
	<md-list fxFlex='50' fxLayout='column' class='files'>
		<md-list-item
			class='contact'
			fxLayout='row'
			*ngFor='let myFile of accountFilesService.myFiles; let i = index'
			[attr.data-index]='i'
		>
			<div
				fxFlex
				fxLayout='row'
				fxLayoutAlign='start stretch'
				class='wrapper animated flipInY _{{i}}'
			>
				<div fxFlex fxLayout='row'>
					<div class='thumb' alt='File Type'>
						<md-icon>{{accountFilesService.thumb(myFile.filetype)}}</md-icon>
					</div>
					<div fxFlex fxLayout='column' class='file'>
						<span class='name'>
							{{myFile.name}}
						</span>
						<div fxLayout='row' class='metadata'>
							<span class='filetype'>
								File type: {{myFile.filetype}} 
							</span>
							<span class='size'>
								File size: {{utilService.readableByteLength(myFile.size)}}
							</span>
						</div>
					</div>
					<button
						md-icon-button
						fxLayout='row'
						cyphTranslate
						mdTooltip='File Settings'
					>
						<md-icon>settings</md-icon>
					</button>
					<button
						md-icon-button
						fxLayout='row'
						cyphTranslate
						mdTooltip='Download File'
					>
						<md-icon>file_download</md-icon>
					</button>
				</div>
			</div>
		</md-list-item>
	</md-list>
	<div *ngIf='!envService.isMobile' fxFlex></div>
</div>
