<div
	fxFlexFill
	fxLayout='row'
	class='menu'
	[class.collapsed]='!accountService.menuExpanded'
	[class.mobile]='envService.isMobile'
	*ngIf='accountAuthService.current'
>
	<div [fxFlex]='accountService.menuExpanded ? "25px" : "10px"'></div>

	<div
		fxFlex
		fxLayout='column'
		[fxLayoutAlign]='accountService.menuExpanded ? "center stretch" : "center center"'
		fxLayoutGap='16px'
	>
		<div></div>
		<div *ngIf='accountService.menuExpanded'></div>

		<button
			md-button
			fxFlex='2em'
			cyphTranslate
			class='home'
			mdTooltip='Home'
			mdTooltipPosition='right'
			(click)='goToState(states.home)'
			*ngIf='accountService.menuExpanded'
		>
			<img
				[src]='
					!accountService.isTelehealth ?
						"/img/logo.white.horizontal.png" :
						"/img/logo.telehealth.horizontal.png"
				'
				class='logo'
				alt='Cyph Logo'
			/>
		</button>
		<button
			md-icon-button
			cyphTranslate
			class='home'
			mdTooltip='Home'
			mdTooltipPosition='right'
			(click)='goToState(states.home)'
			*ngIf='!accountService.menuExpanded'
		>
			<img
				[src]='
					!accountService.isTelehealth ?
						"/img/logo.white.icon.png" :
						"/img/logo.telehealth.icon.png"
				'
				class='logo'
				alt='Cyph Logo'
			/>
		</button>

		<div fxLayoutAlign='center center' *ngIf='accountAuthService.current'>
			<div [fxFlex]='accountService.menuExpanded ? "60" : "6em"'>
				<img
					cyphTranslate
					mdTooltip='Profile'
					mdTooltipPosition='right'
					class='avatar animated flipInX _1'
					[ngClass]='userPresence[accountAuthService.current.status]'
					alt='Profile Picture'
					[src]='accountAuthService.current.avatar'
					(click)='goToState(states.profile)'
				/>
			</div>
		</div>

		<div></div>

		<button
			md-button
			cyphTranslate
			mdTooltip='Contacts'
			mdTooltipPosition='right'
			(click)='goToState(states.contacts)'
			*ngIf='accountService.menuExpanded'
		>
			<md-icon>people</md-icon>
			<span>Contacts</span>
		</button>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Contacts'
			mdTooltipPosition='right'
			(click)='goToState(states.contacts)'
			*ngIf='!accountService.menuExpanded'
		>
			<md-icon>people</md-icon>
		</button>

		<button
			md-button
			cyphTranslate
			mdTooltip='Files'
			mdTooltipPosition='right'
			(click)='goToState(states.files)'
			*ngIf='accountService.menuExpanded'
		>
			<md-icon>folder</md-icon>
			<span>Files</span>
		</button>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Files'
			mdTooltipPosition='right'
			(click)='goToState(states.files)'
			*ngIf='!accountService.menuExpanded'
		>
			<md-icon>folder</md-icon>
		</button>

		<button
			md-button
			cyphTranslate
			mdTooltip='Settings'
			mdTooltipPosition='right'
			(click)='goToState(states.settings)'
			*ngIf='accountService.menuExpanded'
		>
			<md-icon>settings</md-icon>
			<span>Settings</span>
		</button>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Settings'
			mdTooltipPosition='right'
			(click)='goToState(states.settings)'
			*ngIf='!accountService.menuExpanded'
		>
			<md-icon>settings</md-icon>
		</button>

		<div fxFlex></div>

		<button
			md-button
			cyphTranslate
			mdTooltip='Logout'
			mdTooltipPosition='right'
			(click)='urlStateService.setUrl("account/logout")'
			*ngIf='accountService.menuExpanded'
		>
			<md-icon>exit_to_app</md-icon>
			<span>Logout</span>
		</button>
		<button
			md-icon-button
			cyphTranslate
			mdTooltip='Logout'
			mdTooltipPosition='right'
			(click)='urlStateService.setUrl("account/logout")'
			*ngIf='!accountService.menuExpanded'
		>
			<md-icon>exit_to_app</md-icon>
		</button>

		<div></div>
		<div *ngIf='accountService.menuExpanded'></div>
	</div>

	<button
		md-button
		fxFlex='25px'
		cyphTranslate
		class='menu-toggle'
		mdTooltip='Toggle Menu'
		mdTooltipPosition='right'
		(click)='accountService.toggleMenu()'
	>
		<md-icon [class.flipped]='!accountService.menuExpanded'>
			keyboard_arrow_left
		</md-icon>
	</button>
</div>
