<div
	fxFlexFill
	fxLayout='row'
	fxLayout.xs='column'
	[class.mobile]='envService.isMobile'
	[class.transition]='accountService.transition | async'
>
	<div *ngIf='accountService.interstitial' class='interstitial animated fadeIn'>
		<div class='loading'>
			<div class='logo-animation'>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<canvas [fxShow]='envService.showGranim' class='cyph-gradient animated fadeIn'></canvas>

	<cyph-account-menu
		fxLayout='column'
		fxLayout.xs='row'
		class='sidebar animated slideInLeft _0'
		[style.max-width]='accountService.menuMaxWidth | async'
		*ngIf='menuVisible'
	></cyph-account-menu>

	<div fxFlex fxFlexFill fxLayout='column' fxLayout.xs='row'>
		<div fxFlexFill>
			<div
				fxLayout='column'
				class='header animated slideInDown'
				[class.fadeOutUp]='accountService.transition | async'
				fxLayoutAlign='center center'
				*ngIf='header !== undefined'
			>
				<h1>{{header}}</h1>
			</div>
			<div
				class='router-content animated'
				[class.fadeOutUp]='(accountService.transition | async) === true'
				[class.top]='header'
				[fxFlex]='header ? "90" : ""'
				[fxFlex.gt-sm]='header ? "65" : ""'
				[fxFlex.gt-md]='header ? "40" : ""'
				fxLayout='column'
			>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>

	<div
		fxFlex='25'
		fxHide.xs
		fxLayout='column'
		class='sidebar'
		*ngIf='sidebarVisible'
	>
		<div fxFlexFill fxLayout='row'>
			<div fxFlex='4'></div>
			<cyph-account-contacts fxFlex></cyph-account-contacts>
			<div fxFlex='4'></div>
		</div>
	</div>
</div>
