<div fxFlexFill fxLayoutAlign='center start'>
	<md-card fxFlex='90' class='note'>
		<div fxLayout='column'>
			<div fxLayoutAlign='center center' fxLayout='row'>
				<div fxFlex='grow'></div>
				<md-card-title fxFlex='noshrink'>
					<div *ngIf='!editable && !newNote'>
						{{note?.metadata.name}}
					</div>
					<md-input-container fxFlex *ngIf='newNote'>
							<input
								mdInput
								cyphTranslate
								[(ngModel)]='newNoteTitle'
								name='Title'
								placeholder='Note Title'
								required
							/>
						</md-input-container>
					<md-input-container fxFlex *ngIf='note && editable'>
						<input
							mdInput
							cyphTranslate
							[(ngModel)]='note.metadata.name'
							name='Title'
							placeholder='Note Title'
							required
						/>
					</md-input-container>
				</md-card-title>
				<div fxFlex='grow'></div>
				<md-card-header *ngIf='note || newNote'>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Edit Note'
						routerLink='edit'
						*ngIf='!editable && !newNote'
					>
						<md-icon>edit</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Save Note'
						(click)='saveNote()'
						*ngIf='editable || newNote'
					>
						<md-icon>save</md-icon>
					</button>
					<button
						md-icon-button
						cyphTranslate
						mdTooltip='Delete Note'
						*ngIf='!newNote'
						(click)='accountFilesService.remove(note)'
					>
						<md-icon>delete</md-icon>
					</button>
				</md-card-header>
			</div>
			<md-card-content fxFlex fxLayout='column' *ngIf='note || newNote'>
				<div [class.cyph-light-theme]='editable || newNote'>
					<md-card [class.no-shadow]='!editable || !newNote'>
						<md-card-content>
							<cyph-quill
								[content]='note?.observable | async'
								[readOnly]='!editable && !newNote'
								(onChange)='
									noteData = {content: $event.content, id: note?.metadata.id}
								'
							></cyph-quill>
						</md-card-content>
					</md-card>
				</div>
			</md-card-content>
		</div>
	</md-card>
</div>
