<div
	fxFlexFill
	fxLayoutAlign='center start'
	[class.initiating]='(sent | async) === undefined'
>
	<div fxFlex='90' class='cyph-light-theme'>
		<mat-card fxFlex>
			<mat-card-title>
				<span cyphTranslate>New Message</span>
			</mat-card-title>
			<mat-card-content>
				<div
					fxFlexFill
					fxLayout='column'
					fxLayoutGap='8px'
					*ngIf='(sent | async) === false'
				>
					<cyph-account-contacts-search
						[placeholder]='stringsService.to'
						[searchUsername]='searchUsername'
						(userFilterChange)='$event.subscribe(recipient)'
					></cyph-account-contacts-search>
					<cyph-account-chat-message-box
						[messageType]='messageType'
						[recipient]='recipient'
						[send]='send'
						[showHeader]='true'
						[showUnreadCount]='false'
					></cyph-account-chat-message-box>
				</div>
				<div fxFlexFill fxLayoutAlign='center center' *ngIf='sent | async'>
					<div>
						<span cyphTranslate>Message sent to</span>
						<a [routerLink]='"/account/messages/" + (recipient | async)?.username'>
							{{(recipient | async)?.name | async}}
							(@{{(recipient | async)?.realUsername | async}})
						</a>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='(sent | async) === undefined'
	></mat-progress-spinner>
</div>
