<md2-content class='nano md-no-flicker flex layout-column layout-fill'>
	<div class='nano-content'>
		<div
			class='login-form layout-row layout-align-center-center'
			*ngIf='ui.betaState === cyph.im.BetaStates.login'
			[class.checking]='checking'
		>
			<md2-card class='md-padding flex-75'>
				<md2-card-title>
					<md2-card-title-text>
						<span class='md-headline' cyphTranslate>
							Log In
						</span>
						<span class='md-subhead' cyphTranslate>
							Welcome to Cyph! You can log in to your beta account here.
						</span>
					</md2-card-title-text>
				</md2-card-title>
				<md2-card-content>
					<form (submit)='onSubmit()'>
						<div class='layout-row layout-align-center-center'>
							<md2-subheader
								cyphTranslate
								[style.visibility]='error ? "visible" : "hidden"'
							>
								Invalid username or password.
							</md2-subheader>
						</div>
						<div class='layout-row layout-align-center-center'>
							<md2-input-container class='md-block flex-60'>
								<input
									[(ngModel)]='username'
									name='username'
									aria-label='Username'
									cyphTranslate
									required
								/>
								<label cyphTranslate>Username</label>
							</md2-input-container>
						</div>
						<div class='layout-row layout-align-center-center'>
							<md2-input-container class='md-block flex-60'>
								<input
									[(ngModel)]='password'
									name='password'
									type='password'
									aria-label='Password'
									cyphTranslate
									required
								/>
								<label cyphTranslate>Password</label>
							</md2-input-container>
						</div>
						<div class='layout-row layout-align-center-center'>
							<md2-button type='submit' ariaLabel='Log In' cyphTranslate>
								Log In
							</md2-button>
						</div>
					</form>
				</md2-card-content>
				<md2-progress-circular mdMode='indeterminate'></md2-progress-circular>
			</md2-card>
		</div>
		<div *ngIf='ui.betaState === cyph.im.BetaStates.register' cyphTranslate>
			Registration screen
		</div>
		<div *ngIf='ui.betaState === cyph.im.BetaStates.settings' cyphTranslate>
			Settings screen
		</div>
	</div>
</md2-content>
