<md-content
	class='nano'
	layout='column'
	layout-fill
	flex
>
	<div class='nano-content'>
		<div
			class='login-form'
			ng-show='$ctrl.ui.betaState === $ctrl.cyph.im.BetaStates.login'
			ng-class='{checking: $ctrl.checking}'
			layout='row'
			layout-align='center center'
		>
			<md-card flex='75' class='md-padding'>
				<md-card-title>
					<md-card-title-text>
						<span class='md-headline' translate>
							Log In
						</span>
						<span class='md-subhead' translate>
							Welcome to Cyph! You can log in to your beta account here.
						</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<form>
						<div layout='row' layout-align='center center'>
							<md-subheader
								ng-style='{visibility: $ctrl.error ? "visible" : "hidden"}'
							>
								Invalid username or password.
							</md-subheader>
						</div>
						<div layout='row' layout-align='center center'>
							<md-input-container class='md-block' flex='60'>
								<input
									ng-model='username'
									aria-label='Username'
									required
								/>
								<label>Username</label>
							</md-input-container>
						</div>
						<div layout='row' layout-align='center center'>
							<md-input-container class='md-block' flex='60'>
								<input
									ng-model='password'
									type='password'
									aria-label='Password'
									required
								/>
								<label>Password</label>
							</md-input-container>
						</div>
						<div layout='row' layout-align='center center'>
							<md-button type='submit' aria-label='Log In' translate>
								Log In
							</md-button>
						</div>
					</form>
				</md-card-content>
				<md-progress-circular md-mode='indeterminate'></md-progress-circular>
			</md-card>
		</div>
		<div ng-show='$ctrl.ui.betaState === $ctrl.cyph.im.BetaStates.register'>
			Registration screen
		</div>
		<div ng-show='$ctrl.ui.betaState === $ctrl.cyph.im.BetaStates.settings'>
			Settings screen
		</div>
	</div>
</md-content>
