<div
	class='chat-message-box platform-container'
	ng-class='{mobile: $ctrl.self.isMobile}'
	ng-if='
		$ctrl.self.state === $ctrl.cyph.UI.Chat.States.chat &&
		$ctrl.self.session.state.isAlive
	'
	ng-cloak
>
	<textarea
		class='message-box tabIndent'
		ng-model='$ctrl.self.currentMessage'
		ng-trim='false'
		ng-change='$ctrl.self.messageChange()'
		placeholder='Send a secure message...'
		cyph-translate
	></textarea>

	<div
		class='message-box-button-group mobile-only'
		ng-class='{
			"hidden": $ctrl.self.currentMessage === ""
		}'
	>
		<md-button
			aria-label='Send'
			ng-click='$ctrl.self.send()'
			cyph-translate
		>
			<md-icon class='grey'>send</md-icon>
		</md-button>
	</div>
	<div
		class='message-box-button-group mobile-only'
		ng-class='{
			"hidden": $ctrl.self.currentMessage !== ""
		}'
	>
		<md-button
			aria-label='Video Call'
			ng-click='$ctrl.self.p2pManager.videoCallButton()'
			ng-disabled='!$ctrl.self.p2pManager.isEnabled'
			cyph-translate
		>
			<md-icon class='grey'>videocam</md-icon>
		</md-button>
		<md-button
			aria-label='Voice Call'
			ng-click='$ctrl.self.p2pManager.voiceCallButton()'
			ng-disabled='!$ctrl.self.p2pManager.isEnabled'
			cyph-translate
		>
			<md-icon class='grey'>phone</md-icon>
		</md-button>
		<md-button
			aria-label='Send File or Photo'
			cyph-translate
		>
			<md-icon class='grey'>attach_file</md-icon>
			<cyph-file-input
				file-change='$ctrl.self.fileManager.send(file)'
				accept='$ctrl.fileInputAccept'
			></cyph-file-input>
		</md-button>
	</div>

	<md-menu
		class='mobile-only'
		md-position-mode='target-right target'
		ng-if='!$ctrl.self.p2pManager.p2p.isActive'
	>
		<md-button
			aria-label='Menu'
			class='md-icon-button'
			ng-click='$mdMenu.open($event)'
			cyph-translate
		>
			<md-icon>more_vert</md-icon>
		</md-button>
		<md-menu-content width='4'>
			<md-menu-item>
				<md-button
					aria-label='Help'
					ng-click='$ctrl.self.helpButton()'
					cyph-translate
				>
					<md-icon md-menu-align-target>help_outline</md-icon>
					<span cyph-translate>Help</span>
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button
					aria-label='Close Chat'
					ng-click='$ctrl.self.disconnectButton()'
					cyph-translate
				>
					<md-icon md-menu-align-target>close</md-icon>
					<span cyph-translate>Close Chat</span>
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>

	<md-fab-speed-dial
		md-direction='up'
		class='desktop-only md-fling md-fab-bottom-right'
		md-open='$ctrl.isSpeedDialOpen'
		ng-mouseenter='$ctrl.isSpeedDialOpen = true'
		ng-mouseleave='$ctrl.isSpeedDialOpen = false'
		ng-if='$ctrl.isSpeedDialReady'
	>
		<md-fab-trigger>
			<md-button
				aria-label='Menu'
				class='md-fab'
				cyph-translate
			>
				<md-icon>add</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions ng-if='!$ctrl.self.p2pManager.p2p.isActive'>
			<md-button
				aria-label='Send File or Photo'
				class='md-fab md-raised md-mini'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Send File or Photo
				</md-tooltip>
				<md-icon>attach_file</md-icon>
				<cyph-file-input
					file-change='$ctrl.self.fileManager.send(file)'
					accept='$ctrl.fileInputAccept'
				></cyph-file-input>
			</md-button>
			<md-button
				aria-label='Voice Call'
				class='md-fab md-raised md-mini'
				ng-click='$ctrl.self.p2pManager.voiceCallButton()'
				ng-disabled='!$ctrl.self.p2pManager.isEnabled'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Voice Call
				</md-tooltip>
				<md-icon>phone</md-icon>
			</md-button>
			<md-button
				aria-label='Video Call'
				class='md-fab md-raised md-mini'
				ng-click='$ctrl.self.p2pManager.videoCallButton()'
				ng-disabled='!$ctrl.self.p2pManager.isEnabled'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Video Call
				</md-tooltip>
				<md-icon>videocam</md-icon>
			</md-button>
			<md-button
				aria-label='Help'
				class='dark md-fab md-raised md-mini'
				ng-click='$ctrl.self.helpButton()'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Help
				</md-tooltip>
				<md-icon>help_outline</md-icon>
			</md-button>
			<md-button
				aria-label='Close Chat'
				class='dark md-fab md-raised md-mini'
				ng-click='$ctrl.self.disconnectButton()'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Close Chat
				</md-tooltip>
				<md-icon>close</md-icon>
			</md-button>
		</md-fab-actions>
		<md-fab-actions ng-if='$ctrl.self.p2pManager.p2p.isActive'>
			<md-button
				aria-label='Help'
				class='invert md-fab md-raised md-mini'
				ng-click='$ctrl.self.helpButton()'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Help
				</md-tooltip>
				<md-icon>help_outline</md-icon>
			</md-button>
			<md-button
				aria-label='Send File or Photo'
				class='md-fab md-raised md-mini'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Send File or Photo
				</md-tooltip>
				<md-icon>attach_file</md-icon>
				<cyph-file-input
					file-change='$ctrl.self.fileManager.send(file)'
					accept='$ctrl.fileInputAccept'
				></cyph-file-input>
			</md-button>
			<md-button
				aria-label='Close Chat'
				class='dark md-fab md-raised md-mini'
				ng-click='$ctrl.self.disconnectButton()'
				cyph-translate
			>
				<md-tooltip md-direction='left' cyph-translate>
					Close Chat
				</md-tooltip>
				<md-icon>close</md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>

	<md-subheader
		class='new-messages md-subheader-colored md-sticky-clone'
		ng-show='$ctrl.self.scrollManager.unreadMessages > 0'
		sticky-state='active'
		ng-click='$ctrl.self.scrollManager.scrollDown()'
	>
		<strong>&#8595;&nbsp;&nbsp;</strong>
		<span>{{$ctrl.self.scrollManager.unreadMessages}}</span>
		<span cyph-translate>new</span>
		<span ng-if='$ctrl.self.scrollManager.unreadMessages === 1' cyph-translate>message</span>
		<span ng-if='$ctrl.self.scrollManager.unreadMessages > 1' cyph-translate>messages</span>
	</md-subheader>
</div>
