<div
	class='chat-main layout-column layout-fill flex'
	[class.video]='p2pService.isActive'
	[class.mobile]='envService.isMobile'
>
	<div
		class='cyph-view loading layout-column layout-fill flex'
		[class.active]='chatService.chat.state === states.keyExchange'
	>
		<div class='flex'></div>
		<div *ngIf='!sessionService.apiFlags.telehealth' class='logo-animation'>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div *ngIf='sessionService.apiFlags.telehealth' class='telehealth-logo'>
			<img src='/img/logo.telehealth.icon.png' alt='Telehealth logo' />
		</div>
		<span cyphTranslate>Initiating key exchange...</span>
		<md2-progress-linear
			childClass='md-accent key-exchange-progress'
			mdMode='determinate'
			[value]='chatService.chat.keyExchangeProgress'
		></md2-progress-linear>
		<div class='flex'></div>
	</div>

	<div
		class='cyph-view abort-screen loading layout-column layout-fill flex'
		[class.active]='chatService.chat.state === states.aborted'
	>
		<div class='flex'></div>
		<div class='image'>
			<img
				*ngIf='!sessionService.apiFlags.telehealth'
				src='/img/walken.png'
				alt='Definitely not Christopher Walken'
				cyphTranslate
			/>
		</div>
		<div *ngIf='!sessionService.apiFlags.telehealth'>
			<span cyphTranslate>This cyph has been aborted.</span>
			<br />
			<br />
			<span cyphTranslate>Please</span>
			<a
				cyphTranslate
				target='_self'
				[href]='envService.newCyphUrlRedirect'
			>try again</a>.
		</div>
		<div *ngIf='sessionService.apiFlags.telehealth'>
			<span cyphTranslate>This telehealth session has been aborted.</span>
			<br />
			<br />
			<div *ngIf='sessionService.state.isAlice'>
				<span cyphTranslate>
					If this was a mistake or error,
					you may generate a new link and
				</span>
				<a
					cyphTranslate
					target='_self'
					[href]='envService.newCyphUrlRedirect'
				>try again</a><span>.</span>
			</div>
			<div *ngIf='!sessionService.state.isAlice'>
				<span cyphTranslate>
					If this was a mistake or error,
					your practitoner will send you a new link.
				</span>
			</div>
		</div>		
		<div class='flex'></div>
	</div>

	<div
		class='cyph-view chat-begin-message loading layout-column layout-fill flex'
		[class.active]='chatService.chat.state === states.chatBeginMessage'
	>
		<div class='flex'></div>
		<div *ngIf='!sessionService.apiFlags.telehealth' class='logo-animation connected'></div>
		<div *ngIf='sessionService.apiFlags.telehealth' class='telehealth-logo'>
			<img src='/img/logo.telehealth.icon.png' alt='Telehealth logo' />
		</div>
		<span cyphTranslate>Securely Connected!</span>
		<md2-progress-linear
			childClass='md-accent key-exchange-progress'
			mdMode='determinate'
			[value]='100'
		></md2-progress-linear>
		<div class='flex'></div>
	</div>

	<div
		class='cyph-view video-call flex'
		[class.active]='chatService.chat.state === states.chat'
		[class.playing]='p2pService.isActive'
		[class.sidebar-open]='p2pService.isSidebarOpen'
		*ngIf='p2pService.p2p'
	>
		<a class='logo' rel='noreferrer' [href]='envService.homeUrl'>
			<img 
				*ngIf='!sessionService.apiFlags.telehealth'
				src='/img/betalogo.mobile.png'
				alt='Beta logo'
				cyphTranslate
			/>
			<img
				*ngIf='sessionService.apiFlags.telehealth'
				src='/img/telehealth.video.logo.png'
				alt='Telehealth logo'
				cyphTranslate
			/>
		</a>
		<div
			class='friend stream'
			[hidden]='!p2pService.p2p.incomingStream.video || p2pService.p2p.loading'
		></div>
		<img
			class='friend'
			[hidden]='p2pService.p2p.incomingStream.video || p2pService.p2p.loading'
			src='/img/voicecall.jpg'
			alt='Voice call'
		/>
		<video
			class='me'
			[hidden]='!p2pService.p2p.outgoingStream.video'
			autoplay
			muted
		></video>

		<md2-progress-circular
			*ngIf='p2pService.p2p.loading'
			mdMode='indeterminate'
		></md2-progress-circular>

		<md2-button
			cyphTranslate
			childClass='sidebar'
			ariaLabel='Sidebar'
			(childClick)='p2pService.toggleSidebar()'
		>
			<img src='/img/icons/chat.png' alt='Chat' cyphTranslate />
		</md2-button>

		<div class='buttons'>
			<md2-button
				childClass='md-fab video-call-button'
				(childClick)='p2pService.videoCallButton()'
				[ariaLabel]='
					!p2pService.p2p.outgoingStream.video ?
						stringsService.cameraEnable :
						stringsService.cameraDisable
				'
			>
				<img
					cyphTranslate
					[hidden]='p2pService.p2p.outgoingStream.video'
					src='/img/icons/video.on.png'
					alt='Video on'
				/>
				<img
					cyphTranslate
					[hidden]='!p2pService.p2p.outgoingStream.video'
					src='/img/icons/video.off.png'
					alt='Video off'
				/>
			</md2-button>
			<md2-button
				childClass='md-fab voice-call-button'
				(childClick)='p2pService.voiceCallButton()'
				[ariaLabel]='
					!p2pService.p2p.outgoingStream.audio ?
						stringsService.micEnable :
						stringsService.micDisable
				'
			>
				<img
					cyphTranslate
					[hidden]='p2pService.p2p.outgoingStream.audio'
					src='/img/icons/mic.on.png'
					alt='Mic on'
				/>
				<img
					cyphTranslate
					[hidden]='!p2pService.p2p.outgoingStream.audio'
					src='/img/icons/mic.off.png'
					alt='Mic off'
				/>
			</md2-button>
			<md2-button
				cyphTranslate
				ariaLabel='End Call'
				childClass='md-fab md-theme-grey close-button'
				(childClick)='p2pService.closeButton()'
			>
				<md2-icon>call_end</md2-icon>
			</md2-button>
		</div>
	</div>

	<cyph-chat-message-box
		class='video-call-message-box'
		*ngIf='p2pService.isActive'
	></cyph-chat-message-box>

	<div
		class='cyph-view transfer-list flex'
		[class.active]='chatService.chat.state === states.chat'
	>
		<md2-content childClass='md-no-flicker'>
			<md2-list childClass='layout-column'>
				<md2-list-item
					class='layout-column'
					childClass='layout-row'
					*ngFor='let transfer of fileTransferService.transfers'
				>
					<div class='layout-column layout-align-start-stretch flex'>
						<div class='layout-row'>
							<span class='layout-column' *ngIf='transfer.isOutgoing' cyphTranslate>
								Sending
							</span>
							<span class='layout-column' *ngIf='!transfer.isOutgoing' cyphTranslate>
								Receiving
							</span>
							&nbsp;
							<span class='flex layout-column'>
								{{transfer.name}}
								({{utilService.readableByteLength(transfer.size)}}):
							</span>
						</div>
						<md2-progress-linear
							mdMode='determinate'
							[value]='transfer.percentComplete'
							childClass='layout-row'
						></md2-progress-linear>
					</div>
				</md2-list-item>
			</md2-list>
		</md2-content>
	</div>

	<div
		class='cyph-view message-list flex'
		[class.active]='chatService.chat.state === states.chat'
		[style.margin-top]='
			(
				(
					fileTransferService.transfers.size < 3 ?
						fileTransferService.transfers.size :
						3
				) * 65
			) + "px"
		'
	>
		<md2-content cyphNanoScroller childClass='md-no-flicker'>
			<md2-list class='layout-fill' childClass='layout-column'>
				<cyph-chat-message
					class='layout-row'
					[message]='message'
					[mobile]='envService.isMobile || p2pService.isActive'
					*ngFor='let message of chatService.chat.messages'
				></cyph-chat-message>

				<md2-list-item class='layout-row'>
					<span class='friend-is-typing' [class.show]='chatService.chat.isFriendTyping'>
						<span class='ellipsis-spinner'>
							<div class='bounce1'></div>
							<div class='bounce2'></div>
							<div class='bounce3'></div>
						</span>
					</span>
				</md2-list-item>

				<md2-list-item
					class='layout-row'
					childClass='chat-end-message layout-align-center-center'
					*ngIf='chatService.chat.isDisconnected && !hideDisconnectMessage'
				>
					<md2-card class='flex flex-gt-sm-50' childClass='md-padding'>
						<md2-card-content>
							<ng-content></ng-content>
						</md2-card-content>
					</md2-card>
				</md2-list-item>
			</md2-list>
		</md2-content>
	</div>
</div>
