<div class='chat-cyphertext mat-app-background'>
	<md-list fxLayout='column' fxLayoutGap='32px'>
		<md-list-item fxLayout='row' *ngFor='let message of cyphertextService.messages'>
			<div class='message'>
				<strong *ngIf='message.author === users.me'>
					{{stringsService.me}}:
				</strong>
				<strong *ngIf='message.author !== users.me'>
					{{message.author}}:
				</strong>
				<span>{{message.text}}</span>
			</div>
		</md-list-item>
	</md-list>
	<button
		md-fab
		cyphTranslate
		mdTooltip='Close Cyphertext'
		class='close-button'
		(click)='cyphertextService.hide()'
	>
		<md-icon>close</md-icon>
	</button>
</div>
