<div
	class='chat-message-box'
	[class.mobile]='self.isMobile'
	*ngIf='self.state === states.chat && self.session.state.isAlive'
>
	<textarea
		class='message-box tabIndent'
		[(ngModel)]='self.currentMessage'
		(ngModelChange)='self.messageChange()'
		placeholder='Send a secure message...'
		cyphTranslate
	></textarea>

	<div *ngIf='self.isMobile'>
		<div
			class='message-box-button-group'
			[class.hidden]='self.currentMessage === ""'
		>
			<md2-button
				ariaLabel='Send'
				(childClick)='self.send()'
				cyphTranslate
			>
				<md2-icon childClass='grey'>send</md2-icon>
			</md2-button>
		</div>
		<div
			class='message-box-button-group'
			[class.hidden]='self.currentMessage !== ""'
		>
			<md2-button
				ariaLabel='Video Call'
				(childClick)='self.p2pManager.videoCallButton()'
				[disabled]='!self.p2pManager.isEnabled'
				*ngIf='!self.p2pManager.p2p.isActive'
				cyphTranslate
			>
				<md2-icon childClass='grey'>videocam</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Voice Call'
				(childClick)='self.p2pManager.voiceCallButton()'
				[disabled]='!self.p2pManager.isEnabled'
				*ngIf='!self.p2pManager.p2p.isActive'
				cyphTranslate
			>
				<md2-icon childClass='grey'>phone</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Send File or Photo'
				cyphTranslate
			>
				<md2-icon childClass='grey'>attach_file</md2-icon>
				<cyph-file-input
					[accept]='fileAccept'
					(change)='self.fileManager.send($event)'
				></cyph-file-input>
			</md2-button>
		</div>

		<md2-menu
			mdPositionMode='target-right target'
			width='4'
			[button]='menuButton'
			[items]='menuItems'
		></md2-menu>
	</div>

	<md2-fab-speed-dial
		cyphTranslate
		ariaLabel='Menu'
		icon='add'
		[buttons]='speedDialButtons'
		mdDirection='up'
		childClass='md-fling md-fab-bottom-right'
		[mdOpen]='isSpeedDialOpen'
		(mouseenter)='isSpeedDialOpen = true'
		(mouseleave)='isSpeedDialOpen = false'
		*ngIf='!self.isMobile && isSpeedDialReady && !self.p2pManager.p2p.isActive'
	></md2-fab-speed-dial>
	<md2-fab-speed-dial
		cyphTranslate
		ariaLabel='Menu'
		icon='add'
		[buttons]='speedDialButtonsP2P'
		mdDirection='up'
		childClass='md-fling md-fab-bottom-right'
		[mdOpen]='isSpeedDialOpen'
		(mouseenter)='isSpeedDialOpen = true'
		(mouseleave)='isSpeedDialOpen = false'
		*ngIf='!self.isMobile && isSpeedDialReady && self.p2pManager.p2p.isActive'
	></md2-fab-speed-dial>

	<md2-subheader
		childClass='new-messages md-subheader-colored md-sticky-clone'
		*ngIf='self.scrollManager.unreadMessages > 0'
		stickyState='active'
		(click)='self.scrollManager.scrollDown()'
		[text]='
			"↓  " +
			self.scrollManager.unreadMessages +
			" " + strings.newString + " " +
			(
				self.scrollManager.unreadMessages === 1 ?
					strings.message :
					strings.messages
			)
		'
	></md2-subheader>
</div>
