<div class='chat-cyphertext nano' *ngIf='cyph && self'>
	<md2-content class='nano-content'>
		<md2-list class='layout-column'>
			<md2-list-item
				class='message-item unread layout-row'
				*ngFor='let message of self.cyphertext.messages'
			>
				<span class='message'>
					<strong *ngIf='message.author === cyph.Session.Users.me'>
						{{cyph.Strings.me}}:
					</strong>
					<strong *ngIf='message.author !== cyph.Session.Users.me'>
						{{message.author}}:
					</strong>
					<span class='flex'>{{message.text}}</span>
					<br />
					<br />
				</span>
			</md2-list-item>
		</md2-list>
	</md2-content>
	<md2-button
		cyphTranslate
		ariaLabel='Close Cyphertext'
		class='md-fab md-theme-grey close-button'
		(click)='self.cyphertext.hide()'
	>
		<strong>&times;</strong>
	</md2-button>
</div>
