<div cyphNanoScroller>
	<div fxLayout='column' fxLayoutGap='4px' class='message-list-background'>
		<cyph-chat-message
			fxLayout='row'
			[accounts]='accounts'
			[message]='message'
			[mobile]='mobile'
			[unconfirmedMessages]='unconfirmedMessages | async'
			*ngFor='let message of messages | async'
		></cyph-chat-message>

		<div fxLayout='row' class='friend-is-typing'>
			<div
				matTooltip='Friend is typing...'
				cyphTranslate
				class='ellipsis-spinner'
				*ngIf='chat.isFriendTyping | async'
				[@fadeInOut]='"in"'
			>
				<div class='bounce1'></div>
				<div class='bounce2'></div>
				<div class='bounce3'></div>
			</div>
		</div>

		<div
			fxLayout='row'
			class='chat-end-message'
			*ngIf='showDisconnectMessage'
		>
			<div fxFlexFill fxLayoutAlign='center center'>
				<mat-card fxFlex='90' fxFlex.gt-sm='50'>
					<mat-card-content>
						<ng-content></ng-content>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
