<div class='chat-cyphertext nano'>
	<md2-content class='nano-content'>
		<md2-list childClass='layout-column'>
			<md2-list-item
				class='layout-row'
				childClass='message-item unread flex layout-column'
				*ngFor='let message of self.cyphertext.messages'
			>
				<span class='message'>
					<strong *ngIf='message.author === users.me'>
						{{strings.me}}:
					</strong>
					<strong *ngIf='message.author !== users.me'>
						{{message.author}}:
					</strong>
					<span class='flex'>{{message.text}}</span>
					<br />
					<br />
				</span>
			</md2-list-item>
		</md2-list>
	</md2-content>
	<md2-button
		cyphTranslate
		ariaLabel='Close Cyphertext'
		childClass='md-fab md-theme-grey close-button'
		(childClick)='self.cyphertext.hide()'
	>
		<strong>&times;</strong>
	</md2-button>
</div>
