<div
	[fxFlex]='mobile ? "nogrow" : ""'
	class='message-item'
	[class.mobile]='mobile'
	[class.author-app]='message.authorType === authorTypes.App'
	[class.author-local]='message.authorType === authorTypes.Local'
	[class.author-remote]='message.authorType === authorTypes.Remote'
	[class.confirmed]='confirmed'
	[class.self-destruct]='chatService.chatSelfDestruct'
	[class.self-destructed]='message.selfDestructTimer?.isComplete | async'
	[matTooltip]='confirmed ? undefined : stringsService.messageUnconfirmed'
	*ngIf='message?.valueWatcher | async; let value'
>
	<div>
		<div fxLayout='row'>
			<div class='message'>
				<strong
					class='message-author'
					*ngIf='!mobile && message.authorType !== authorTypes.App'
				>
					{{message.author | async}}:
				</strong>
				<div *ngIf='value.form; else quillDeltaValue'>
					<cyph-dynamic-form [form]='value.form'></cyph-dynamic-form>
				</div>
				<ng-template #quillDeltaValue>
					<div *ngIf='value.quillDelta; else textValue'>
						<cyph-quill [content]='value.quillDelta' [isDisabled]='true'></cyph-quill>
					</div>
				</ng-template>
				<ng-template #textValue>
					<cyph-markdown class='message-text' [markdown]='value.text'></cyph-markdown>
				</ng-template>
			</div>
			<div fxFlex fxLayoutAlign='end center' class='message-timestamp'>
				<div fxLayout='row'>
					<div *ngIf='mobile && message.authorType === authorTypes.Local'>
						{{message.author | async}} &nbsp;&mdash;&nbsp;
					</div>

					<div>{{message.timeString}}</div>

					<div *ngIf='mobile && message.authorType === authorTypes.Remote'>
						&nbsp;&mdash;&nbsp; {{message.author | async}}
					</div>
				</div>
			</div>
		</div>
		<div
			fxLayout='row'
			fxLayoutAlign='center center'
			fxLayoutGap='10px'
			class='self-destruct-timer'
			*ngIf='message.selfDestructTimer'
		>
			<div cyphTranslate>Message will self-destruct in</div>
			<div class='countdown'>{{message.selfDestructTimer.timestamp | async}}</div>
		</div>
	</div>
	<div class='self-destruct-cover'></div>
</div>
