<div
	fxFlex
	fxFlexFill
	fxLayout='column'
	class='chat-main'
	[class.video]='p2pService.isActive'
	[class.mobile]='envService.isMobile'
	[class.self-destruct]='chatService.cyphSelfDestruct'
>
	<div
		fxFlex
		fxLayout='column'
		fxLayoutAlign='center stretch'
		class='loading'
		*ngIf='
			chatService.chat.state === states.keyExchange ||
			chatService.chat.state === states.chatBeginMessage
		'
		[@fadeIn]='"in"'
	>
		<div *ngIf='sessionService.apiFlags.telehealth; else animation' class='telehealth-logo'>
			<img src='/assets/img/logo.telehealth.icon.png' alt='Telehealth logo' />
		</div>

		<ng-template #animation>
			<div
				class='logo-animation'
				*ngIf='chatService.chat.state === states.keyExchange'
			>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div
				class='logo-animation connected'
				*ngIf='chatService.chat.state === states.chatBeginMessage'
			></div>
		</ng-template>

		<div
			cyphTranslate
			*ngIf='chatService.chat.state === states.keyExchange'
		>
			Initiating key exchange...
		</div>
		<div
			cyphTranslate
			*ngIf='chatService.chat.state === states.chatBeginMessage'
		>
			Securely Connected!
		</div>

		<md-progress-bar
			class='key-exchange-progress'
			[value]='chatService.chat.keyExchangeProgress'
		></md-progress-bar>
	</div>

	<div
		fxFlex
		fxLayout='column'
		fxLayoutAlign='center stretch'
		class='abort-screen loading'
		*ngIf='chatService.chat.state === states.aborted'
		[@fadeIn]='"in"'
	>
		<div class='image'>
			<img
				*ngIf='!sessionService.apiFlags.telehealth'
				src='/assets/img/walken.png'
				alt='Definitely not Christopher Walken'
				cyphTranslate
			/>
		</div>
		<div *ngIf='!sessionService.apiFlags.telehealth'>
			<span cyphTranslate>This cyph has been aborted.</span>
			<br />
			<br />
			<span cyphTranslate>Please</span>
			<a
				cyphTranslate
				[routerLink]='envService.newCyphUrlRetry'
			>try again</a>.
		</div>
		<div *ngIf='sessionService.apiFlags.telehealth'>
			<span cyphTranslate>This telehealth session has been aborted.</span>
			<br />
			<br />
			<div *ngIf='sessionService.state.isAlice'>
				<span cyphTranslate>
					If this was a mistake or error,
					you may generate a new link and
				</span>
				<a
					cyphTranslate
					[routerLink]='envService.newCyphUrlRetry'
				>try again</a><span>.</span>
			</div>
			<div *ngIf='!sessionService.state.isAlice'>
				<span cyphTranslate>
					If this was a mistake or error,
					your practitoner will send you a new link.
				</span>
			</div>
		</div>
	</div>

	<div
		fxFlex
		[fxShow]='p2pService.isActive'
		class='video-call'
		[class.sidebar-open]='p2pService.isSidebarOpen'
		*ngIf='p2pWebRTCService && chatService.chat.state === states.chat'
	>
		<a class='logo' rel='noopener noreferrer' [href]='envService.homeUrl'>
			<img 
				*ngIf='!sessionService.apiFlags.telehealth'
				src='/assets/img/betalogo.mobile.png'
				alt='Beta logo'
				cyphTranslate
			/>
			<img
				*ngIf='sessionService.apiFlags.telehealth'
				src='/assets/img/telehealth.video.logo.png'
				alt='Telehealth logo'
				cyphTranslate
			/>
		</a>
		<div
			class='friend stream'
			[fxHide]='!p2pWebRTCService.incomingStream.video || p2pWebRTCService.loading'
		></div>
		<img
			class='friend'
			[fxHide]='p2pWebRTCService.incomingStream.video || p2pWebRTCService.loading'
			src='/assets/img/voicecall.jpg'
			alt='Voice call'
		/>
		<video
			class='me'
			[fxHide]='!p2pWebRTCService.outgoingStream.video'
			autoplay
			muted
		></video>

		<md-progress-spinner
			mode='indeterminate'
			*ngIf='p2pWebRTCService.loading'
		></md-progress-spinner>

		<button
			md-icon-button
			cyphTranslate
			class='sidebar'
			mdTooltip='Toggle Chat Sidebar'
			(click)='p2pService.toggleSidebar()'
		>
			<md-icon>forum</md-icon>
		</button>

		<div
			fxFlex
			fxLayout='row'
			fxLayoutAlign='center center'
			fxLayoutGap='32px'
			class='buttons'
		>
			<button
				md-icon-button
				class='video-call-button'
				(click)='p2pService.videoCallButton()'
				[mdTooltip]='
					!p2pWebRTCService.outgoingStream.video ?
						stringsService.cameraEnable :
						stringsService.cameraDisable
				'
				mdTooltipPosition='above'
			>
				<md-icon *ngIf='!p2pWebRTCService.outgoingStream.video'>videocam</md-icon>
				<md-icon *ngIf='p2pWebRTCService.outgoingStream.video'>videocam_off</md-icon>
			</button>
			<button
				md-icon-button
				class='voice-call-button'
				(click)='p2pService.voiceCallButton()'
				[mdTooltip]='
					!p2pWebRTCService.outgoingStream.audio ?
						stringsService.micEnable :
						stringsService.micDisable
				'
				mdTooltipPosition='above'
			>
				<md-icon *ngIf='!p2pWebRTCService.outgoingStream.audio'>mic</md-icon>
				<md-icon *ngIf='p2pWebRTCService.outgoingStream.audio'>mic_off</md-icon>
			</button>
			<button
				md-icon-button
				cyphTranslate
				mdTooltip='End Call'
				mdTooltipPosition='above'
				color='warn'
				class='close-button'
				(click)='p2pService.closeButton()'
			>
				<md-icon>call_end</md-icon>
			</button>
		</div>
	</div>

	<cyph-chat-message-box
		class='video-call-message-box'
		[accounts]='accounts'
		*ngIf='p2pService.isActive'
	></cyph-chat-message-box>

	<div
		class='transfer-list'
		*ngIf='chatService.chat.state === states.chat && !p2pService.isActive'
		[@fadeIn]='"in"'
	>
		<div fxFlex fxLayout='column'>
			<div fxLayout='row' *ngFor='let transfer of fileTransferService.transfers'>
				<div fxFlex fxLayout='column' fxLayoutAlign='center stretch' class='transfer-item'>
					<div fxLayout='row'>
						<span
							fxLayout='column'
							*ngIf='transfer.metadata.isOutgoing'
							cyphTranslate
						>
							Sending
						</span>
						<span
							fxLayout='column'
							*ngIf='!transfer.metadata.isOutgoing'
							cyphTranslate
						>
							Receiving
						</span>
						&nbsp;
						<span fxFlex fxLayout='column'>
							{{transfer.metadata.name}}
							({{utilService.readableByteLength(transfer.metadata.size)}}):
						</span>
					</div>
					<md-progress-bar
						fxLayout='row'
						[value]='transfer.progress | async'
					></md-progress-bar>
				</div>
			</div>
		</div>
	</div>

	<div 
		fxFlex
		fxFlexFill
		*ngIf='chatService.cyphSelfDestruct && chatService.cyphSelfDestructed && !chatService.selfDestructFxComplete'
		class='poof'
	>
		<video id="fx" autoplay>
			<source src="./assets/video/poof.webm" type="video/webm">
		</video>
	</div>

	<div
		fxLayout='row'
		fxLayoutAlign='center center'
		fxLayoutGap='10px'
		class='self-destruct-timer'
		*ngIf='chatService.cyphSelfDestructTimer && !chatService.cyphSelfDestructed'
	>
		<div cyphTranslate>Message will self-destruct in</div>
		<div class='countdown'>{{chatService.cyphSelfDestructTimer.timestamp | async}}</div>
	</div>
	
	<cyph-chat-message-list
		fxFlex
		fxFlexFill
		[accounts]='accounts'
		[chat]='chatService.chat'
		[messageCountInTitle]='messageCountInTitle'
		[mobile]='envService.isMobile || p2pService.isActive'
		[showDisconnectMessage]='chatService.chat.isDisconnected && !hideDisconnectMessage'
		*ngIf='chatService.chat.state === states.chat'
		[@fadeIn]='"in"'
	>
		<ng-content></ng-content>
	</cyph-chat-message-list>
</div>
