<md2-list-item
	class='layout-column flex'
	[class.read]='!message.unread'
	[childClass]='
		"message-item layout-row" +
		(
			message.author === users.me ?
				" author-me" :
				message.author === users.app ?
					" author-app" :
					" author-other"
		) +
		(
			message.selfDestructTimer && message.selfDestructTimer.isComplete ?
				" self-destructed" :
				""
		)
	'
>
	<div class='flex layout-column'>
		<div class='layout-row'>
			<span class='message'>
				<strong
					class='message-author'
					*ngIf='!mobile && message.author === users.me'
				>
					{{strings.me}}:
				</strong>
				<strong
					class='message-author'
					*ngIf='!mobile && message.author !== users.me && message.author !== users.app'
				>
					{{message.author}}:
				</strong>
				<cyph-markdown
					class='message-text'
					[markdown]='message.text'
					[class.app-message]='message.author === users.app'
				></cyph-markdown>
			</span>
			<span class='message-timestamp flex'>
				<span *ngIf='mobile && message.author === users.me'>
					{{strings.me}} &nbsp;&mdash;&nbsp;
				</span>

				{{message.timeString}}

				<span
					*ngIf='mobile && message.author !== users.me && message.author !== users.app'
				>
					&nbsp;&mdash;&nbsp; {{message.author}}
				</span>
			</span>
		</div>
		<div
			class='self-destruct-timer layout-row'
			*ngIf='message.selfDestructTimer'
		>
			<span cyphTranslate>Message will self-destruct in</span>
			<span class='countdown'>{{message.selfDestructTimer.timestamp}}</span>
		</div>
	</div>
	<div class='self-destruct-cover'></div>
</md2-list-item>
