<div class='chat-cyphertext nano'>
	<md-content class='nano-content'>
		<md-list layout='column'>
			<md-list-item
				class='message-item unread'
				ng-repeat='message in $ctrl.self.cyphertext.messages'
				layout='row'
			>
				<span class='message'>
					<strong ng-if='::message.author === $ctrl.cyph.Session.Users.me'>
						{{::$ctrl.cyph.Strings.me}}:
					</strong>
					<strong ng-if='::message.author !== $ctrl.cyph.Session.Users.me'>
						{{::message.author}}:
					</strong>
					<span flex>{{::message.text}}</span>
					<br />
					<br />
				</span>
			</md-list-item>
		</md-list>
	</md-content>
	<md-button
		cyph-translate
		aria-label='Close Cyphertext'
		class='md-fab md-theme-grey close-button'
		ng-click='$ctrl.self.cyphertext.hide()'
	>
		<strong>&times;</strong>
	</md-button>
</div>
