<div class='message-list-background' fxFlex fxFlexFill>
	<div cyphNanoScroller>
		<md-list fxLayout='column'>
			<cyph-chat-message
				fxLayout='row'
				[message]='message'
				[mobile]='mobile'
				*ngFor='let message of chatService.chat.messages'
			></cyph-chat-message>

			<md-list-item fxLayout='row' class='friend-is-typing'>
				<div class='ellipsis-spinner' [class.show]='chatService.chat.isFriendTyping'>
					<div class='bounce1'></div>
					<div class='bounce2'></div>
					<div class='bounce3'></div>
				</div>
			</md-list-item>

			<md-list-item
				fxLayout='row'
				class='chat-end-message'
				*ngIf='showDisconnectMessage'
			>
				<div fxFlexFill fxLayoutAlign='center center'>
					<md-card fxFlex='90' fxFlex.gt-sm='50'>
						<md-card-content>
							<ng-content></ng-content>
						</md-card-content>
					</md-card>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
