<div
	class='chat-message-box'
	[class.mobile]='envService.isMobile'
	*ngIf='chatService.chat.state === states.chat && sessionService.state.isAlive'
>
	<textarea
		fxFlex
		class='message-box tabIndent'
		[(ngModel)]='chatService.chat.currentMessage'
		(ngModelChange)='chatService.messageChange()'
		placeholder='Send a secure message...'
		cyphTranslate
	></textarea>

	<div *ngIf='envService.isMobile'>
		<div
			class='message-box-button-group'
			[class.hidden]='chatService.chat.currentMessage === ""'
		>
			<button
				md-icon-button
				mdTooltip='Send'
				(click)='mobileButtonHandlers.send()'
				cyphTranslate
			>
				<md-icon>send</md-icon>
			</button>
		</div>
		<div
			class='message-box-button-group'
			[class.hidden]='chatService.chat.currentMessage !== ""'
		>
			<button
				md-icon-button
				mdTooltip='Video Call'
				(click)='mobileButtonHandlers.videoCall()'
				[disabled]='!p2pService.isEnabled'
				*ngIf='!p2pService.isActive'
				cyphTranslate
			>
				<md-icon>video_call</md-icon>
			</button>
			<button
				md-icon-button
				mdTooltip='Voice Call'
				(click)='mobileButtonHandlers.voiceCall()'
				[disabled]='!p2pService.isEnabled'
				*ngIf='!p2pService.isActive'
				cyphTranslate
			>
				<md-icon>call</md-icon>
			</button>
			<button
				md-icon-button
				mdTooltip='Send File or Photo'
				cyphTranslate
			>
				<md-icon>attach_file</md-icon>
				<cyph-file-input
					[accept]='fileAccept'
					(change)='mobileButtonHandlers.fileTransfer($event)'
				></cyph-file-input>
			</button>
		</div>

		<button md-icon-button [mdMenuTriggerFor]='menu' class='menu-button'>
			<md-icon>more_horiz</md-icon>
		</button>
		<md-menu #menu='mdMenu'>
			<button md-menu-item (click)='chatService.helpButton()'>
				<md-icon>help_outline</md-icon>
				<span>{{stringsService.help}}</span>
			</button>
			<button md-menu-item (click)='chatService.disconnectButton()'>
				<md-icon>close</md-icon>
				<span>{{stringsService.disconnect}}</span>
			</button>
		</md-menu>
	</div>

	<smd-fab-speed-dial
		[open]='isSpeedDialOpen'
		(mouseleave)='isSpeedDialOpen = false'
		*ngIf='!envService.isMobile'
	>
		<smd-fab-trigger [spin]='true' (mouseenter)='isSpeedDialOpen = true'>
			<button md-fab>
				<md-icon>add</md-icon>
			</button>
		</smd-fab-trigger>
		<smd-fab-actions>
			<button
				md-mini-fab
				cyphTranslate
				mdTooltip='Send File or Photo'
				mdTooltipPosition='left'
			>
				<md-icon>attach_file</md-icon>
				<cyph-file-input
					[accept]='fileAccept'
					(change)='fileTransferService.send($event)'
				></cyph-file-input>
			</button>
			<button
				md-mini-fab
				cyphTranslate
				mdTooltip='Voice Call'
				mdTooltipPosition='left'
				[disabled]='!p2pService.isEnabled'
				*ngIf='!p2pService.isActive'
				(click)='p2pService.voiceCallButton()'
			>
				<md-icon>call</md-icon>
			</button>
			<button
				md-mini-fab
				cyphTranslate
				mdTooltip='Video Call'
				mdTooltipPosition='left'
				[disabled]='!p2pService.isEnabled'
				*ngIf='!p2pService.isActive'
				(click)='p2pService.videoCallButton()'
			>
				<md-icon>video_call</md-icon>
			</button>
			<button
				md-mini-fab
				cyphTranslate
				class='alt'
				[mdTooltip]='stringsService.help'
				mdTooltipPosition='left'
				(click)='chatService.helpButton()'
			>
				<md-icon>help_outline</md-icon>
			</button>
			<button
				md-mini-fab
				cyphTranslate
				class='alt'
				[mdTooltip]='stringsService.disconnect'
				mdTooltipPosition='left'
				(click)='chatService.disconnectButton()'
			>
				<md-icon>close</md-icon>
			</button>
		</smd-fab-actions>
	</smd-fab-speed-dial>

	<h3
		md-subheader
		class='new-messages'
		*ngIf='scrollService.unreadItemCount > 0'
		(click)='scrollService.scrollDown()'
	>
		↓&nbsp;
		{{scrollService.unreadItemCount}}
		{{stringsService.newString}}
		{{
			scrollService.unreadItemCount === 1 ?
				stringsService.message :
				stringsService.messages
		}}
	</h3>
</div>
