<div
	[fxFlex]='mobile ? "nogrow" : ""'
	class='message-item'
	[class.mobile]='mobile'
	[class.author-app]='message.authorType === authorTypes.App'
	[class.author-local]='message.authorType === authorTypes.Local'
	[class.author-remote]='message.authorType === authorTypes.Remote'
	[class.self-destructed]='message.selfDestructTimer?.isComplete | async'
>
	<div>
		<div fxLayout='row'>
			<div class='message'>
				<strong
					class='message-author'
					*ngIf='!mobile && message.authorType !== authorTypes.App'
				>
					{{message.author | async}}:
				</strong>
				<cyph-markdown
					class='message-text'
					[markdown]='message.text'
				></cyph-markdown>
			</div>
			<div fxFlex fxLayoutAlign='end center' class='message-timestamp'>
				<div fxLayout='row'>
					<div *ngIf='mobile && message.authorType === authorTypes.Local'>
						{{message.author | async}} &nbsp;&mdash;&nbsp;
					</div>

					<md-progress-spinner
						mode='indeterminate'
						mdTooltip='Message delivery unconfirmed'
						cyphTranslate
						*ngIf='message.id && unconfirmedMessages[message.id]; else confirmed'
					></md-progress-spinner>
					<ng-template #confirmed>
						<div>{{message.timeString}}</div>
					</ng-template>

					<div
						*ngIf='mobile && message.authorType === authorTypes.Remote'
					>
						&nbsp;&mdash;&nbsp; {{message.author | async}}
					</div>
				</div>
			</div>
		</div>
		<div
			fxLayout='row'
			fxLayoutAlign='center center'
			fxLayoutGap='10px'
			class='self-destruct-timer'
			*ngIf='message.selfDestructTimer'
		>
			<div cyphTranslate>Message will self-destruct in</div>
			<div class='countdown'>{{message.selfDestructTimer.timestamp | async}}</div>
		</div>
	</div>
	<div class='self-destruct-cover'></div>
</div>
