<div
	fxFlex
	fxFlexFill
	fxLayout='column'
	class='chat-main'
	[class.video]='p2pService.isActive'
	[class.mobile]='envService.isMobile'
>
	<div
		fxFlex
		fxFlexFill
		fxLayout='column'
		class='loading'
		*ngIf='chatService.chat.state === states.keyExchange'
		[@fadeIn]='"in"'
	>
		<div fxFlex></div>
		<div *ngIf='!sessionService.apiFlags.telehealth' class='logo-animation'>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div *ngIf='sessionService.apiFlags.telehealth' class='telehealth-logo'>
			<img src='/img/logo.telehealth.icon.png' alt='Telehealth logo' />
		</div>
		<span cyphTranslate>Initiating key exchange...</span>
		<md-progress-bar
			class='key-exchange-progress'
			[value]='chatService.chat.keyExchangeProgress'
		></md-progress-bar>
		<div fxFlex></div>
	</div>

	<div
		fxFlex
		fxFlexFill
		fxLayout='column'
		class='abort-screen loading'
		*ngIf='chatService.chat.state === states.aborted'
		[@fadeIn]='"in"'
	>
		<div fxFlex></div>
		<div class='image'>
			<img
				*ngIf='!sessionService.apiFlags.telehealth'
				src='/img/walken.png'
				alt='Definitely not Christopher Walken'
				cyphTranslate
			/>
		</div>
		<div *ngIf='!sessionService.apiFlags.telehealth'>
			<span cyphTranslate>This cyph has been aborted.</span>
			<br />
			<br />
			<span cyphTranslate>Please</span>
			<a
				cyphTranslate
				target='_self'
				[href]='envService.newCyphUrlRedirect'
			>try again</a>.
		</div>
		<div *ngIf='sessionService.apiFlags.telehealth'>
			<span cyphTranslate>This telehealth session has been aborted.</span>
			<br />
			<br />
			<div *ngIf='sessionService.state.isAlice'>
				<span cyphTranslate>
					If this was a mistake or error,
					you may generate a new link and
				</span>
				<a
					cyphTranslate
					target='_self'
					[href]='envService.newCyphUrlRedirect'
				>try again</a><span>.</span>
			</div>
			<div *ngIf='!sessionService.state.isAlice'>
				<span cyphTranslate>
					If this was a mistake or error,
					your practitoner will send you a new link.
				</span>
			</div>
		</div>		
		<div fxFlex></div>
	</div>

	<div
		fxFlex
		fxFlexFill
		fxLayout='column'
		class='chat-begin-message loading'
		*ngIf='chatService.chat.state === states.chatBeginMessage'
	>
		<div fxFlex></div>
		<div *ngIf='!sessionService.apiFlags.telehealth' class='logo-animation connected'></div>
		<div *ngIf='sessionService.apiFlags.telehealth' class='telehealth-logo'>
			<img src='/img/logo.telehealth.icon.png' alt='Telehealth logo' />
		</div>
		<span cyphTranslate>Securely Connected!</span>
		<md-progress-bar
			class='key-exchange-progress'
			[value]='100'
		></md-progress-bar>
		<div fxFlex></div>
	</div>

	<div
		fxFlex
		[fxShow]='p2pService.isActive'
		class='video-call'
		[class.sidebar-open]='p2pService.isSidebarOpen'
		*ngIf='p2pWebRTCService && chatService.chat.state === states.chat'
	>
		<a class='logo' rel='noreferrer' [href]='envService.homeUrl'>
			<img 
				*ngIf='!sessionService.apiFlags.telehealth'
				src='/img/betalogo.mobile.png'
				alt='Beta logo'
				cyphTranslate
			/>
			<img
				*ngIf='sessionService.apiFlags.telehealth'
				src='/img/telehealth.video.logo.png'
				alt='Telehealth logo'
				cyphTranslate
			/>
		</a>
		<div
			class='friend stream'
			[fxHide]='!p2pWebRTCService.incomingStream.video || p2pWebRTCService.loading'
		></div>
		<img
			class='friend'
			[fxHide]='p2pWebRTCService.incomingStream.video || p2pWebRTCService.loading'
			src='/img/voicecall.jpg'
			alt='Voice call'
		/>
		<video
			class='me'
			[fxHide]='!p2pWebRTCService.outgoingStream.video'
			autoplay
			muted
		></video>

		<md-progress-spinner
			*ngIf='p2pWebRTCService.loading'
			mode='indeterminate'
		></md-progress-spinner>

		<button
			md-icon-button
			cyphTranslate
			class='sidebar'
			mdTooltip='Toggle Chat Sidebar'
			(click)='p2pService.toggleSidebar()'
		>
			<md-icon>forum</md-icon>
		</button>

		<div
			fxFlex
			fxLayout='row'
			fxLayoutAlign='center center'
			fxLayoutGap='32px'
			class='buttons'
		>
			<button
				md-icon-button
				class='video-call-button'
				(click)='p2pService.videoCallButton()'
				[mdTooltip]='
					!p2pWebRTCService.outgoingStream.video ?
						stringsService.cameraEnable :
						stringsService.cameraDisable
				'
				mdTooltipPosition='above'
			>
				<md-icon *ngIf='!p2pWebRTCService.outgoingStream.video'>videocam</md-icon>
				<md-icon *ngIf='p2pWebRTCService.outgoingStream.video'>videocam_off</md-icon>
			</button>
			<button
				md-icon-button
				class='voice-call-button'
				(click)='p2pService.voiceCallButton()'
				[mdTooltip]='
					!p2pWebRTCService.outgoingStream.audio ?
						stringsService.micEnable :
						stringsService.micDisable
				'
				mdTooltipPosition='above'
			>
				<md-icon *ngIf='!p2pWebRTCService.outgoingStream.audio'>mic</md-icon>
				<md-icon *ngIf='p2pWebRTCService.outgoingStream.audio'>mic_off</md-icon>
			</button>
			<button
				md-icon-button
				cyphTranslate
				mdTooltip='End Call'
				mdTooltipPosition='above'
				color='warn'
				class='close-button'
				(click)='p2pService.closeButton()'
			>
				<md-icon>call_end</md-icon>
			</button>
		</div>
	</div>

	<cyph-chat-message-box
		class='video-call-message-box'
		*ngIf='p2pService.isActive'
	></cyph-chat-message-box>

	<div
		fxFlex
		class='transfer-list'
		*ngIf='chatService.chat.state === states.chat && !p2pService.isActive'
		[@fadeIn]='"in"'
	>
		<md-list fxFlex fxLayout='column'>
			<md-list-item fxLayout='row' *ngFor='let transfer of fileTransferService.transfers'>
				<div fxFlex fxLayout='column' fxLayoutAlign='start stretch'>
					<div fxLayout='row'>
						<span fxLayout='column' *ngIf='transfer.isOutgoing' cyphTranslate>
							Sending
						</span>
						<span fxLayout='column' *ngIf='!transfer.isOutgoing' cyphTranslate>
							Receiving
						</span>
						&nbsp;
						<span fxFlex fxLayout='column'>
							{{transfer.name}}
							({{utilService.readableByteLength(transfer.size)}}):
						</span>
					</div>
					<md-progress-bar
						fxLayout='row'
						[value]='transfer.percentComplete'
					></md-progress-bar>
				</div>
			</md-list-item>
		</md-list>
	</div>

	<cyph-chat-message-list
		fxFlex
		fxFlexFill
		[isFriendTyping]='chatService.chat.isFriendTyping'
		[messageCountInTitle]='messageCountInTitle'
		[messages]='chatService.chat.messages'
		[mobile]='envService.isMobile || p2pService.isActive'
		[showDisconnectMessage]='chatService.chat.isDisconnected && !hideDisconnectMessage'
		[unconfirmedMessages]='chatService.chat.unconfirmedMessages'
		*ngIf='chatService.chat.state === states.chat'
		[@fadeIn]='"in"'
		[style.margin-top]='
			p2pService.isActive ? "" : (
				(
					(
						fileTransferService.transfers.size < 3 ?
							fileTransferService.transfers.size :
							3
					) * 65
				).toString() + "px"
			)
		'
	>
		<ng-content></ng-content>
	</cyph-chat-message-list>
</div>
