<div
	class='chat-message-box'
	[class.mobile]='self.isMobile'
	*ngIf='
		(cyph && self) &&
		self.state === cyph.UI.Chat.States.chat &&
		self.session.state.isAlive
	'
>
	<textarea
		class='message-box tabIndent'
		[(ngModel)]='self.currentMessage'
		(ngModelChange)='self.messageChange()'
		placeholder='Send a secure message...'
		cyphTranslate
	></textarea>

	<div *ngIf='self.isMobile'>
		<div
			class='message-box-button-group'
			[class.hidden]='self.currentMessage === ""'
		>
			<md2-button
				ariaLabel='Send'
				(childClick)='self.send()'
				cyphTranslate
			>
				<md2-icon childClass='grey'>send</md2-icon>
			</md2-button>
		</div>
		<div
			class='message-box-button-group'
			[class.hidden]='self.currentMessage !== ""'
		>
			<md2-button
				ariaLabel='Video Call'
				(childClick)='self.p2pManager.videoCallButton()'
				[disabled]='!self.p2pManager.isEnabled'
				*ngIf='!self.p2pManager.p2p.isActive'
				cyphTranslate
			>
				<md2-icon childClass='grey'>videocam</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Voice Call'
				(childClick)='self.p2pManager.voiceCallButton()'
				[disabled]='!self.p2pManager.isEnabled'
				*ngIf='!self.p2pManager.p2p.isActive'
				cyphTranslate
			>
				<md2-icon childClass='grey'>phone</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Send File or Photo'
				cyphTranslate
			>
				<md2-icon childClass='grey'>attach_file</md2-icon>
				<cyph-file-input
					(fileChange)='self.fileManager.send($event)'
					[accept]='fileInputAccept'
				></cyph-file-input>
			</md2-button>
		</div>

		<md2-menu
			mdPositionMode='target-right target'
			width='4'
			[button]='menuButton'
			[items]='menuItems'
		></md2-menu>
	</div>

	<md2-fab-speed-dial
		mdDirection='up'
		childClass='md-fling md-fab-bottom-right'
		[mdOpen]='isSpeedDialOpen'
		(mouseenter)='isSpeedDialOpen = true'
		(mouseleave)='isSpeedDialOpen = false'
		*ngIf='!self.isMobile && isSpeedDialReady'
	>
		<md2-fab-trigger>
			<md2-button
				ariaLabel='Menu'
				childClass='md-fab'
				cyphTranslate
			>
				<md2-icon>add</md2-icon>
			</md2-button>
		</md2-fab-trigger>
		<md2-fab-actions *ngIf='!self.p2pManager.p2p.isActive'>
			<md2-button
				ariaLabel='Send File or Photo'
				childClass='md-fab md-raised md-mini'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Send File or Photo
				</md2-tooltip>
				<md2-icon>attach_file</md2-icon>
				<cyph-file-input
					(fileChange)='self.fileManager.send($event)'
					[accept]='fileInputAccept'
				></cyph-file-input>
			</md2-button>
			<md2-button
				ariaLabel='Voice Call'
				childClass='md-fab md-raised md-mini'
				(childClick)='self.p2pManager.voiceCallButton()'
				[disabled]='!self.p2pManager.isEnabled'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Voice Call
				</md2-tooltip>
				<md2-icon>phone</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Video Call'
				childClass='md-fab md-raised md-mini'
				(childClick)='self.p2pManager.videoCallButton()'
				[disabled]='!self.p2pManager.isEnabled'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Video Call
				</md2-tooltip>
				<md2-icon>videocam</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Help'
				childClass='dark md-fab md-raised md-mini'
				(childClick)='self.helpButton()'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Help
				</md2-tooltip>
				<md2-icon>help_outline</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Disconnect'
				childClass='dark md-fab md-raised md-mini'
				(childClick)='self.disconnectButton()'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Disconnect
				</md2-tooltip>
				<md2-icon>close</md2-icon>
			</md2-button>
		</md2-fab-actions>
		<md2-fab-actions *ngIf='self.p2pManager.p2p.isActive'>
			<md2-button
				ariaLabel='Send File or Photo'
				childClass='md-fab md-raised md-mini'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Send File or Photo
				</md2-tooltip>
				<md2-icon>attach_file</md2-icon>
				<cyph-file-input
					(fileChange)='self.fileManager.send($event)'
					[accept]='fileInputAccept'
				></cyph-file-input>
			</md2-button>
			<md2-button
				ariaLabel='Help'
				childClass='dark md-fab md-raised md-mini'
				(childClick)='self.helpButton()'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Help
				</md2-tooltip>
				<md2-icon>help_outline</md2-icon>
			</md2-button>
			<md2-button
				ariaLabel='Disconnect'
				childClass='dark md-fab md-raised md-mini'
				(childClick)='self.disconnectButton()'
				cyphTranslate
			>
				<md2-tooltip mdDirection='left' cyphTranslate>
					Disconnect
				</md2-tooltip>
				<md2-icon>close</md2-icon>
			</md2-button>
		</md2-fab-actions>
	</md2-fab-speed-dial>

	<md2-subheader
		childClass='new-messages md-subheader-colored md-sticky-clone'
		*ngIf='self.scrollManager.unreadMessages > 0'
		stickyState='active'
		(click)='self.scrollManager.scrollDown()'
	>
		<strong>&#8595;&nbsp;&nbsp;</strong>
		<span>{{self.scrollManager.unreadMessages}}</span>
		<span cyphTranslate>new</span>
		<span *ngIf='self.scrollManager.unreadMessages === 1' cyphTranslate>message</span>
		<span *ngIf='self.scrollManager.unreadMessages > 1' cyphTranslate>messages</span>
	</md2-subheader>
</div>
