<md-list-item
	[fxFlex]='mobile ? "nogrow" : ""'
	fxLayout='column'
	class='message-item'
	[class.mobile]='envService.isMobile'
	[class.author-app]='message.author === users.app'
	[class.author-me]='message.author === users.me'
	[class.author-other]='
		message.author !== users.app &&
		message.author !== users.me
	'
	[class.self-destructed]='message.selfDestructTimer && message.selfDestructTimer.isComplete'
>
	<div fxFlex fxLayout='column'>
		<div fxLayout='row'>
			<div class='message'>
				<strong
					class='message-author'
					*ngIf='!mobile && message.author === users.me'
				>
					{{stringsService.me}}:
				</strong>
				<strong
					class='message-author'
					*ngIf='
						!mobile &&
						message.author !== users.me &&
						message.author !== users.app
					'
				>
					{{message.author}}:
				</strong>
				<cyph-markdown
					class='message-text'
					[markdown]='message.text'
				></cyph-markdown>
			</div>
			<div fxFlex fxLayoutAlign='end center' class='message-timestamp'>
				<div fxLayout='row'>
					<div *ngIf='mobile && message.author === users.me'>
						{{stringsService.me}} &nbsp;&mdash;&nbsp;
					</div>

					<md-progress-spinner
						mode='indeterminate'
						mdTooltip='Message delivery unconfirmed'
						cyphTranslate
						*ngIf='message.id && unconfirmedMessages.has(message.id); else confirmed'
					></md-progress-spinner>
					<ng-template #confirmed>
						<div>{{message.timeString}}</div>
					</ng-template>

					<div
						*ngIf='
							mobile &&
							message.author !== users.me &&
							message.author !== users.app
						'
					>
						&nbsp;&mdash;&nbsp; {{message.author}}
					</div>
				</div>
			</div>
		</div>
		<div
			fxLayout='row'
			class='self-destruct-timer'
			*ngIf='message.selfDestructTimer'
		>
			<span cyphTranslate>Message will self-destruct in</span>
			<span class='countdown'>{{message.selfDestructTimer.timestamp}}</span>
		</div>
	</div>
	<div class='self-destruct-cover'></div>
</md-list-item>
