<form ngNativeValidate>
	<div *ngIf='!complete'>
		<div class='checkout-ui'>
			<div class='braintree'></div>
			<div class='layout-row layout-sm-column layout-xs-column'>
				<md-input-container>
					<input
						mdInput
						cyphTranslate
						class='layout-column layout-sm-row layout-xs-row flex'
						md1Class='md-block'
						[(ngModel)]='name'
						name='name'
						placeholder='Name'
						[required]='true'
					/>
				</md-input-container>
				<md-input-container>
					<input
						mdInput
						cyphTranslate
						class='layout-column layout-sm-row layout-xs-row flex'
						md1Class='md-block'
						[(ngModel)]='email'
						name='email'
						type='email'
						placeholder='Email'
						[required]='true'
					/>
				</md-input-container>
			</div>
			<div class='layout-row layout-sm-column layout-xs-column'>
				<md-input-container>
					<input
						mdInput
						cyphTranslate
						class='layout-column layout-sm-row layout-xs-row flex'
						md1Class='md-block'
						[(ngModel)]='company'
						name='company'
						placeholder='Company (optional)'
					/>
				</md-input-container>
			</div>
		</div>
		<button md-button type='submit'>
			<span cyphTranslate>Confirm</span>
			<span>${{amount}}</span>
			<span>
				<span *ngIf='!subscription' cyphTranslate>payment</span>
				<span *ngIf='subscription' cyphTranslate>monthly subscription</span>
			</span>
		</button>
	</div>
	<div class='confirmation' *ngIf='complete'>
		<ng-content *ngIf='success'></ng-content>
		<div *ngIf='!success'>
			<span cyphTranslate>Payment failed.</span>
			<span class='retry' (click)='ngOnInit()' cyphTranslate>Click here</span>
			<span cyphTranslate>to try again.</span>
		</div>
	</div>
</form>
