<form ngNativeValidate>
	<div fxLayout='column' fxLayoutGap='16px' *ngIf='!complete'>
		<div fxLayout='column' fxLayoutGap='16px' class='checkout-ui'>
			<div [id]='containerID' class='braintree'></div>
			<div>
				<div fxLayout='column' fxLayout.gt-md='row' fxLayoutGap='16px'>
					<md-input-container fxFlex>
						<input
							mdInput
							cyphTranslate
							[(ngModel)]='name'
							name='name'
							placeholder='Name'
							required
						/>
					</md-input-container>
					<md-input-container fxFlex>
						<input
							mdInput
							cyphTranslate
							[(ngModel)]='email'
							name='email'
							type='email'
							placeholder='Email'
							required
						/>
					</md-input-container>
				</div>
			</div>
			<div>
				<md-input-container fxFlex>
					<input
						mdInput
						cyphTranslate
						[(ngModel)]='company'
						name='company'
						placeholder='Company (optional)'
					/>
				</md-input-container>
			</div>
		</div>
		<div fxLayoutAlign='center center'>
			<button md-button type='submit'>
				<span cyphTranslate>Confirm</span>
				<span>${{amount}}</span>
				<span>
					<span *ngIf='!subscription' cyphTranslate>payment</span>
					<span *ngIf='subscription' cyphTranslate>monthly subscription</span>
				</span>
			</button>
		</div>
	</div>
	<div class='confirmation' *ngIf='complete'>
		<ng-content *ngIf='success'></ng-content>
		<div *ngIf='!success'>
			<span cyphTranslate>Payment failed.</span>
			<span class='retry' (click)='ngOnInit()' cyphTranslate>Click here</span>
			<span cyphTranslate>to try again.</span>
		</div>
	</div>
</form>
