<div *ngIf='email'>
	<form (submit)='send()' *ngIf='!email.sent'>
		<div class='layout-gt-xs-row'>
			<md2-select
				cyphTranslate
				class='flex'
				childClass='md-block'
				[(model)]='email.to'
				formName='to'
				label='Cyph team to contact'
				[options]='configService.contactEmailAddresses'
			></md2-select>
		</div>
		<div class='layout-row'>
			<md2-input
				cyphTranslate
				class='flex'
				childClass='md-block'
				[(model)]='email.fromName'
				formName='name'
				label='Name'
			></md2-input>
			<md2-input
				cyphTranslate
				class='flex'
				childClass='md-block'
				[(model)]='email.fromEmail'
				formName='email'
				type='email'
				label='Email'
				[required]='true'
			></md2-input>
		</div>
		<md2-input
			cyphTranslate
			childClass='md-block'
			[(model)]='email.subject'
			formName='subject'
			label='Subject'
		></md2-input>
		<md2-textarea
			cyphTranslate
			childClass='md-block'
			[(model)]='email.message'
			formName='message'
			label='Message'
			[required]='true'
		></md2-textarea>
		<md2-button type='submit' ariaLabel='Send' cyphTranslate>
			Send
		</md2-button>
	</form>
	<div *ngIf='email.sent' cyphTranslate>
		Your email has been sent! Someone on the team will get back to you shortly.
	</div>
</div>
