<div *ngIf='email'>
	<form ngNativeValidate (submit)='send()' *ngIf='!email.sent'>
		<div class='layout-gt-xs-row'>
			<md-select
				cyphTranslate
				class='flex'
				md1Class='md-block'
				[(ngModel)]='email.to'
				name='to'
				placeholder='Cyph Team to Contact'
			>
				<md-option
					*ngFor='let address of configService.contactEmailAddresses'
					[value]='address'
				>
					{{address}}
				</md-option>
			</md-select>
		</div>
		<div class='layout-row'>
			<md-input-container>
				<input
					mdInput
					cyphTranslate
					class='flex'
					md1Class='md-block'
					[(ngModel)]='email.fromName'
					name='name'
					placeholder='Name'
				/>
			</md-input-container>
			<md-input-container>
				<input
					mdInput
					cyphTranslate
					class='flex'
					md1Class='md-block'
					[(ngModel)]='email.fromEmail'
					name='email'
					type='email'
					placeholder='Email'
					[required]='true'
				/>
			</md-input-container>
		</div>
		<md-input-container>
			<input
				mdInput
				cyphTranslate
				md1Class='md-block'
				[(ngModel)]='email.subject'
				name='subject'
				placeholder='Subject'
			/>
		</md-input-container>
		<md-input-container>
			<textarea
				mdInput
				cyphTranslate
				md1Class='md-block'
				[(ngModel)]='email.message'
				name='message'
				placeholder='Message'
				[required]='true'
			></textarea>
		</md-input-container>
		<button md-button type='submit' cyphTranslate>
			Send
		</button>
	</form>
	<div *ngIf='email.sent' cyphTranslate>
		Your email has been sent! Someone on the team will get back to you shortly.
	</div>
</div>
