<span *ngIf='ui'>
	<section id='main' class='cyph-foreground layout-fill layout-column'>
		<cyph-chat-main
			[self]='ui.chat'
			[hideDisconnectMessage]='ui.coBranded'
			[class.active]='ui.state === states.chat'
			class='cyph-view layout-fill layout-column flex'
		>
			<cyph-signup-form [self]='ui.signupForm'>
				{{strings.signupMessage1}}
				{{strings.signupMessage2}}
			</cyph-signup-form>
		</cyph-chat-main>

		<cyph-link-connection
			[self]='ui.cyphConnection'
			[class.active]='ui.state === states.waitingForFriend'
			class='cyph-view layout-fill layout-column flex'
		></cyph-link-connection>

		<cyph-static-cyph-not-found
			[class.active]='ui.state === states.error'
			class='cyph-view layout-fill layout-column flex'
		></cyph-static-cyph-not-found>

		<div
			[class.active]='ui.state === states.blank'
			id='blank'
			class='cyph-view layout-fill layout-column flex'
		></div>

		<cyph-beta
			[betaState]='ui.betaState'
			[class.active]='ui.state === states.beta'
			class='cyph-view layout-fill layout-column flex'
		></cyph-beta>

		<footer>
			<cyph-chat-message-box
				[self]='ui.chat'
				*ngIf='ui.state === states.chat'
			></cyph-chat-message-box>

			<cyph-static-footer
				[wasInitiatedByAPI]='ui.chat.session.state.wasInitiatedByAPI'
				*ngIf='!env.isMobile && ui.chat'
			></cyph-static-footer>
		</footer>
	</section>

	<cyph-chat-cyphertext [self]='ui.chat'></cyph-chat-cyphertext>
</span>
