<form
	ngNativeValidate
	fxLayout='column'
	fxLayoutGap='32px'
	(submit)='submit.emit(form)'
	*ngIf='form'
>
	<div fxLayout='row' *ngFor='let component of form.components' class='component'>
		<div fxFlex fxLayout='column' fxLayoutGap='16px'>
			<div fxLayout='row' fxLayoutGap='16px' *ngFor='let row of component.rows' class='row'>
				<div [fxFlex]='o.width || 100' fxLayout='column' *ngFor='let o of row.elements'>

					<h3 style='text-align: center' *ngIf='o.type === types.Text'>{{o.label}}</h3>
					<div *ngIf='o.type === types.Text'>{{o.valueString}}</div>

					<md-checkbox
						[(ngModel)]='o.valueBoolean'
						[name]='o.label'
						[required]='o.required'
						*ngIf='o.type === types.Checkbox'
					>
						{{o.label}}
					</md-checkbox>

					<md-input-container *ngIf='o.type === types.Datepicker'>
						<input
							mdInput
							[mdDatepicker]='datepicker'
							[ngModel]='o.valueNumber'
							(ngModelChange)='o.valueNumber = $event ? $event.getTime() : 0'
							[placeholder]='o.label'
							[required]='o.required'
						>
						<button mdSuffix [mdDatepickerToggle]='datepicker'></button>
					</md-input-container>
					<md-datepicker *ngIf='o.type === types.Datepicker' #datepicker></md-datepicker>

					<md-input-container *ngIf='o.type === types.Email'>
						<input
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='o.label'
							type='email'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</md-input-container>

					<md-input-container *ngIf='o.type === types.Input'>
						<input
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='o.label'
							type='text'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</md-input-container>

					<md-input-container *ngIf='o.type === types.Number'>
						<input
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueNumber'
							[max]='o.max'
							[min]='o.min'
							[name]='o.label'
							type='number'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</md-input-container>

					<md-input-container *ngIf='o.type === types.Password'>
						<input
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='o.label'
							type='password'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</md-input-container>

					<label *ngIf='o.type === types.Radio'>{{o.label}}</label>
					<md-radio-group
						fxFlex
						[(ngModel)]='o.valueString'
						[name]='o.label'
						[required]='o.required'
						*ngIf='o.type === types.Radio'
					>
						<md-radio-button *ngFor='let option of o.options' [value]='option'>
							{{option}}
						</md-radio-button>
					</md-radio-group>

					<md-select
						fxFlex
						[(ngModel)]='o.valueString'
						[name]='o.label'
						[required]='o.required'
						*ngIf='o.type === types.Select'
					>
						<md-option *ngFor='let option of o.options' [value]='option'>
							{{option}}
						</md-option>
					</md-select>

					<h3 *ngIf='o.type === types.Slider'>{{o.label}}</h3>
					<md-slider
						[(ngModel)]='o.valueNumber'
						[max]='o.max'
						[min]='o.min'
						[name]='o.label'
						*ngIf='o.type === types.Slider'
					></md-slider>

					<md-slide-toggle
						[(ngModel)]='o.valueBoolean'
						[name]='o.label'
						[required]='o.required'
						*ngIf='o.type === types.SlideToggle'
					>
						{{o.label}}
					</md-slide-toggle>

					<md-input-container *ngIf='o.type === types.Textarea'>
						<textarea
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='o.label'
							[placeholder]='o.label'
							[required]='o.required'
						></textarea>
					</md-input-container>

					<md-input-container *ngIf='o.type === types.Time'>
						<input
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='o.label'
							type='time'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</md-input-container>

					<md-input-container *ngIf='o.type === types.URL'>
						<input
							mdInput
							[attr.textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='o.label'
							type='url'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</md-input-container>

				</div>
			</div>
		</div>
	</div>
	<div fxLayout='row' fxLayoutAlign='center center'>
		<button md-button cyphTranslate type='submit'>
			Submit
		</button>
	</div>
</form>
