<div fxFlex fxLayout='row' class='footer'>
	<div fxFlex></div>

	<div
		fxLayout='row'
		fxLayoutGap='16px'
		*ngIf='!envService.coBranded && !sessionService.apiFlags.telehealth'
	>
		<p fxFlex='nogrow'>
			<a [href]='envService.homeUrl'>
				<span>&copy; Cyph 2017</span>
					&nbsp;&nbsp;&nbsp;
				<span cyphTranslate>(Patents Pending) </span>
			</a>
		</p>

		<p fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "contact"' cyphTranslate>
				Contact
			</a>
		</p>

		<p fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "donate"' cyphTranslate>
				Donate
			</a>
		</p>

		<p fxFlex='nogrow'>
			<strong *ngIf='!sessionService.state.wasInitiatedByAPI' cyphTranslate>
				- Individual Use Only -
			</strong>
			<strong *ngIf='sessionService.state.wasInitiatedByAPI' cyphTranslate>
				- Cyph API -
			</strong>
		</p>

		<p fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "pricing"' cyphTranslate>
				Business Pricing
			</a>
		</p>

		<p fxFfxFlex='nogrow'lex>
			<a [href]='envService.homeUrl + "privacypolicy"' cyphTranslate>
				Privacy Policy
			</a>
		</p>

		<p fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "termsofservice"' cyphTranslate>
				Terms of Service
			</a>
		</p>
	</div>

	<div *ngIf='sessionService.apiFlags.telehealth' class='icons'>
		<img class='websign icon' src='/img/websign.icon.png' alt='WebSign Validated' />
		<img class='hipaa icon' src='/img/hipaa.icon.png' alt='HIPAA-Compliant' />
	</div>

	<div
		fxLayout='row'
		fxLayoutGap='16px'
		*ngIf='envService.coBranded || sessionService.apiFlags.telehealth'
	>
		<p fxFlex='nogrow' class='powered-by-cyph'>
			<a [href]='envService.homeUrl' class='small-font'>
				<span *ngIf='sessionService.apiFlags.telehealth' cyphTranslate>
					Telehealth Session
				</span>
				<span cyphTranslate>
					Powered by Cyph
				</span>
			</a>
		</p>
	</div>

	<div fxFlex></div>
</div>
