<div fxFlex fxLayout='row' fxLayoutAlign='center center' class='footer'>
	<div fxFlex></div>

	<div
		fxLayout='row'
		fxLayoutGap='32px'
		*ngIf='!envService.coBranded && !sessionService.apiFlags.telehealth'
	>
		<div fxFlex='nogrow'>
			<a [href]='envService.homeUrl'>
				<span>&copy; Cyph 2018</span>
					&nbsp;&nbsp;&nbsp;
				<span cyphTranslate>(Patents Pending) </span>
			</a>
		</div>

		<div fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "contact"' cyphTranslate>
				Contact
			</a>
		</div>

		<div fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "donate"' cyphTranslate>
				Donate
			</a>
		</div>

		<div fxFlex='nogrow'>
			<strong *ngIf='!sessionService.state.wasInitiatedByAPI' cyphTranslate>
				- Individual Use Only -
			</strong>
			<strong *ngIf='sessionService.state.wasInitiatedByAPI' cyphTranslate>
				- Cyph API -
			</strong>
		</div>

		<div fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "pricing"' cyphTranslate>
				Business Pricing
			</a>
		</div>

		<div fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "privacypolicy"' cyphTranslate>
				Privacy Policy
			</a>
		</div>

		<div fxFlex='nogrow'>
			<a [href]='envService.homeUrl + "termsofservice"' cyphTranslate>
				Terms of Service
			</a>
		</div>
	</div>

	<div fxLayout='row' *ngIf='envService.coBranded || sessionService.apiFlags.telehealth'>
		<div class='powered-by-cyph'>
			<a [href]='envService.homeUrl' class='small-font'>
				<span *ngIf='sessionService.apiFlags.telehealth' cyphTranslate>
					Telehealth Session
				</span>
				<span cyphTranslate>
					Powered by Cyph
				</span>
			</a>
		</div>
	</div>

	<div fxFlex fxLayout='row' fxLayoutAlign='end center'>
		<div cyphTranslate *ngIf='sessionService.apiFlags.telehealth'>
			<img src='/assets/img/websign.icon.png' alt='WebSign Validated' />
			<img src='/assets/img/hipaa.icon.png' alt='HIPAA-Compliant' />
		</div>
	</div>
</div>
