<div class='footer flex layout-row'>
	<div class='flex'></div>

	<div class='layout-row' *ngIf='!envService.coBranded && !sessionService.apiFlags.telehealth'>
		<p class='flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl'>
				<span>&copy; Cyph 2017</span>
					&nbsp;&nbsp;&nbsp;
				<span cyphTranslate>(Patents Pending) </span>
			</a>
		</p>

		<p class='flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl + "contact"' cyphTranslate>
				Contact
			</a>
		</p>

		<p class='flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl + "donate"' cyphTranslate>
				Donate
			</a>
		</p>

		<p class='flex-nogrow layout-padding'>
			<strong *ngIf='!sessionService.state.wasInitiatedByAPI' cyphTranslate>
				- Individual Use Only -
			</strong>
			<strong *ngIf='sessionService.state.wasInitiatedByAPI' cyphTranslate>
				- Cyph API -
			</strong>
		</p>

		<p class='flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl + "pricing"' cyphTranslate>
				Business Pricing
			</a>
		</p>

		<p class='flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl + "privacypolicy"' cyphTranslate>
				Privacy Policy
			</a>
		</p>

		<p class='flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl + "termsofservice"' cyphTranslate>
				Terms of Service
			</a>
		</p>
	</div>

	<div *ngIf='sessionService.apiFlags.telehealth' class='icons'>
		<img class='websign icon' src='/img/websign.icon.png' alt='WebSign Validated' />
		<img class='hipaa icon' src='/img/hipaa.icon.png' alt='HIPAA-Compliant' />
	</div>

	<div class='layout-row' *ngIf='envService.coBranded || sessionService.apiFlags.telehealth'>
		<p class='powered-by-cyph flex-nogrow layout-padding'>
			<a [href]='envService.homeUrl' class='small-font'>
				<span *ngIf='sessionService.apiFlags.telehealth' cyphTranslate>
					Telehealth Session
				</span>
				<span cyphTranslate>
					Powered by Cyph
				</span>
			</a>
		</p>
	</div>

	<div class='flex'></div>
</div>
