<md-dialog class='help'>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label='Formatting Help' cyph-translate>
				<p>
					<span cyph-translate>Cyph uses a version of Markdown called</span>
					<a href='http://commonmark.org/'>CommonMark</a>
					<span cyph-translate>
						for formatting. We also support various extensions &ndash;
						including emojis and code fencing.
					</span>
				</p>
				<p cyph-translate>
					The following examples are shamelessly copied from reddit:
				</p>
				<table>
					<tbody>
						<tr>
							<th cyph-translate>you type:</th>
							<th cyph-translate>you see:</th>
						</tr>
						<tr>
							<td>*<span cyph-translate>italics</span>*</td>
							<td><em cyph-translate>italics</em></td>
						</tr>
						<tr>
							<td>**<span cyph-translate>bold</span>**</td>
							<td><b cyph-translate>bold</b></td>
						</tr>
						<tr>
							<td>
								[cyph <span cyph-translate>me</span>!](https://cyph.com)
							</td>
							<td>
								<a href='https://cyph.com'>cyph <span cyph-translate>me</span>!</a>
							</td>
						</tr>
						<tr>
							<td>
								<br />
								* <span cyph-translate>item 1</span>
								<br />
								* <span cyph-translate>item 2</span>
								<br />
								* <span cyph-translate>item 3</span>
							</td>
							<td>
								<ul>
									<li cyph-translate>item 1</li>
									<li cyph-translate>item 2</li>
									<li cyph-translate>item 3</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<br />
								&gt; <span cyph-translate>quoted text</span>
							</td>
							<td>
								<blockquote cyph-translate>quoted text</blockquote>
							</td>
						</tr>
						<tr>
							<td>
								<span cyph-translate>
									Lines starting with tabs are treated like code:
								</span>

								<br />
								<br />

								<span class='spaces'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
								if 1 * 2 &lt; 3:
								<br />
								<span class='spaces'>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
								print "hello!"
								<br />
							</td>
							<td>
								<span cyph-translate>
									Lines starting with tabs are treated like code:
								</span>

								<br />
								<br />

								<pre>if 1 * 2 &lt; 3:</pre>
								<pre>&nbsp;&nbsp;&nbsp;&nbsp;print "hello!"</pre>
							</td>
						</tr>
						<tr>
							<td>~~<span cyph-translate>strikethrough</span>~~</td>
							<td><strike cyph-translate>strikethrough</strike></td>
						</tr>
						<tr>
							<td>
								<span
									cyph-translate
								>super</span>^<span
									cyph-translate
								>script</span>^
							</td>
							<td>
								<span
									cyph-translate
								>super</span><sup
									cyph-translate
								>script</sup>
							</td>
						</tr>
					</tbody>
				</table>
			</md-tab>
			<md-tab label='Contact Cyph' ng-disabled='$ctrl.ui.coBranded' cyph-translate>
				<span cyph-translate>Please check out the</span>
				<a cyph-translate href='{{$ctrl.cyph.Env.homeUrl}}faq'>FAQs</a>
				<span cyph-translate>first!</span>
				<br />
				<br />
				<br />
				<cyph-contact self='{to: "help"}'></cyph-contact>
			</md-tab>
		</md-tabs>
	</md-content>
</md-dialog>
