<md-dialog class='register' flex='65' flex-sm='80' flex-xs='95'>
	<md-content>
		<md-card class='md-padding'>
			<md-card-title>
				<md-card-title-text>
					<span class='md-headline' cyph-translate>
						Register with Invite Code
					</span>
					<span class='md-subhead'>
						<div ng-show='locals.signupForm.state === 1' cyph-translate>
							Enter your email address and invite code for priority access
							on our waitlist.
						</div>
						<div ng-show='locals.signupForm.state === 2' cyph-translate>
							Thanks for signing up. Feel free to give us your name too.
							Privacy is at the core of our ideology, so we'll never give
							away your email address or personal details.
						</div>
					</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<cyph-signup-form
					self='locals.signupForm'
					invite='true'
				></cyph-signup-form>
			</md-card-content>
		</md-card>

		<div class='login-button' layout='row' layout-align='center center'>
			<md-button
				ng-href='{{locals.cyph.Env.newCyphBaseUrl}}#beta/login'
				cyph-translate
			>
				Already have a Cyph account? Click here to login.
			</md-button>
		</div>
	</md-content>
</md-dialog>
