<div class='link-connection loading layout-column layout-fill flex'>
	<div class='flex'></div>
	<div *ngIf='!sessionService.apiFlags.telehealth' class='logo-animation'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div *ngIf='sessionService.apiFlags.telehealth' class='telehealth-logo'>
		<img src='/img/logo.telehealth.icon.png' alt='Telehealth logo' />
	</div>
	<div>
		<span *ngIf='isPassive && !sessionService.apiFlags.telehealth' cyphTranslate>
			Waiting for user to join...
		</span>
		<span *ngIf='isPassive && sessionService.apiFlags.telehealth' cyphTranslate>
			You have successfully checked in. Your telehealth session
			will begin when the other party connects.
		</span>
		<div *ngIf='!isPassive'>
			<span *ngIf='sessionService.apiFlags.telehealth' cyphTranslate>
				Send the link below to the patient. When they open it,
				your telehealth session will begin.
			</span>
			<span *ngIf='!sessionService.apiFlags.telehealth' cyphTranslate>
				Send the link below to another user. When they open it,
				you'll be securely connected.
			</span>
			<br />
			<br />

			<div class='connect-link-input' *ngIf='!envService.isMobile'>
				<md-input-container>
					<input
						mdInput
						cyphTranslate
						class='connect-link-input'
						[(ngModel)]='link'
						mdTooltip='Cyph Link'
					/>
				</md-input-container>
				<button
					md-icon-button
					mdTooltip='Copy to Clipboard'
					(click)='copyToClipboard()'
					cyphTranslate
				>
					<md-icon>content_copy</md-icon>
				</button>
			</div>

			<div class='connect-link-mobile' *ngIf='envService.isMobile'>
				<a
					class='connect-link-link'
					[href]='link'
					mdTooltip='Cyph Link'
				>{{link}}</a>
				<br />

				<a md-fab mdTooltip='SMS' [href]='linkSMS' cyphTranslate>
					<md-icon>textsms</md-icon>
				</a>

				<span class='divider'>
					&nbsp;
				</span>

				<a md-fab mdTooltip='Email' target='_self' [href]='linkMailto' cyphTranslate>
					<md-icon>email</md-icon>
				</a>

				<span class='divider'>
					&nbsp;
				</span>

				<button
					md-fab
					mdTooltip='Copy to Clipboard'
					(click)='copyToClipboard()'
					cyphTranslate
				>
					<md-icon>content_copy</md-icon>
				</button>
			</div>
		</div>

		<br />
		<div class='timer' *ngIf='timer'>
			<span cyphTranslate>
				Link expires in
			</span>
			<span class='countdown'>
				{{timer.timestamp}}
			</span>
			<button
				md-icon-button
				(click)='addTime(60000)'
				mdTooltip='Increase Time by One Minute'
			>
				<md-icon>alarm_add</md-icon>
			</button>
		</div>
	</div>

	<md-slide-toggle
		class='advanced-features-switch'
		*ngIf='enableAdvancedFeatures'
		[(checked)]='advancedFeatures'
		cyphTranslate
	>
		Advanced Features
	</md-slide-toggle>

	<div class='advanced-features' *ngIf='advancedFeatures'>
		<md-input-container>
			<textarea
				mdInput
				cyphTranslate
				class='queued-message-box'
				[(ngModel)]='queuedMessageDraft'
				placeholder='Queue up first message'
				rows='3'
			></textarea>
		</md-input-container>
		<div class='buttons'>
			<button
				md-icon-button
				mdTooltip='Save'
				(click)='chatService.setQueuedMessage(queuedMessageDraft)'
			>
				<md-icon>save</md-icon>
			</button>
			<button
				md-icon-button
				class='self-destruct-button'
				mdTooltip='Self-destruct'
				(click)='chatService.setQueuedMessage(
					undefined,
					!chatService.chat.queuedMessageSelfDestruct
				)'
			>
				<md-icon [class.active]='chatService.chat.queuedMessageSelfDestruct'>
					timer
				</md-icon>
			</button>
		</div>
	</div>
	<div class='flex'></div>
</div>
