<div
	fxFlex
	fxFlexFill
	fxLayout='column'
	fxLayoutAlign='center stretch'
	class='link-connection loading'
>
	<div *ngIf='!sessionService.apiFlags.telehealth' class='logo-animation'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div *ngIf='sessionService.apiFlags.telehealth' class='telehealth-logo'>
		<img src='/assets/img/logo.telehealth.icon.png' alt='Telehealth logo' />
	</div>
	<div>
		<span *ngIf='isPassive && !sessionService.apiFlags.telehealth' cyphTranslate>
			Waiting for user to join...
		</span>
		<span *ngIf='isPassive && sessionService.apiFlags.telehealth' cyphTranslate>
			You have successfully checked in. Your telehealth session
			will begin when the other party connects.
		</span>
		<div *ngIf='!isPassive'>
			<span *ngIf='sessionService.apiFlags.telehealth' cyphTranslate>
				Send the link below to the patient. When they open it,
				your telehealth session will begin.
			</span>
			<span *ngIf='!sessionService.apiFlags.telehealth' cyphTranslate>
				Send the link below to another user. When they open it,
				you'll be securely connected.
			</span>
			<br />
			<br />

			<div fxLayoutAlign='center center' *ngIf='!envService.isMobile'>
				<md-form-field fxFlex='50'>
					<input
						mdInput
						cyphTranslate
						class='connect-link-input'
						[(ngModel)]='link'
						mdTooltip='Cyph Link'
					/>
				</md-form-field>
				<button
					md-icon-button
					mdTooltip='Copy to Clipboard'
					(click)='copyToClipboard()'
					cyphTranslate
				>
					<md-icon>content_copy</md-icon>
				</button>
			</div>

			<div class='connect-link-mobile' *ngIf='envService.isMobile'>
				<a
					class='connect-link-link'
					[href]='link'
					mdTooltip='Cyph Link'
				>{{link}}</a>

				<br />
				<br />

				<a md-mini-fab mdTooltip='SMS' [href]='linkSMS' cyphTranslate>
					<md-icon>textsms</md-icon>
				</a>

				<span class='divider'>
					&nbsp;
				</span>

				<a md-mini-fab mdTooltip='Email' target='_self' [href]='linkMailto' cyphTranslate>
					<md-icon>email</md-icon>
				</a>

				<span class='divider'>
					&nbsp;
				</span>

				<button
					md-mini-fab
					mdTooltip='Copy to Clipboard'
					(click)='copyToClipboard()'
					cyphTranslate
				>
					<md-icon>content_copy</md-icon>
				</button>
			</div>
		</div>

		<br />
		<div class='timer' *ngIf='timer'>
			<span cyphTranslate>
				Link expires in
			</span>
			<span class='countdown'>
				{{timer.timestamp | async}}
			</span>
			<button
				md-icon-button
				(click)='addTime(60000)'
				mdTooltip='Increase Time by One Minute'
			>
				<md-icon>alarm_add</md-icon>
			</button>
		</div>
	</div>

	<br />
	<br />

	<div fxLayout='row' fxLayoutAlign='center center' *ngIf='enableAdvancedFeatures'>
		<div fxFlex fxFlex.gt-md='50' fxLayout='column'>
			<div fxLayout='row' fxLayoutAlign='center center'>
				<md-slide-toggle [(ngModel)]='advancedFeatures' cyphTranslate>
					Advanced Features
				</md-slide-toggle>
			</div>

			<div fxLayout='row' fxLayoutGap='16px' *ngIf='advancedFeatures'>
				<md-form-field fxFlex fxLayout='column'>
					<textarea
						mdInput
						cyphTranslate
						[(ngModel)]='queuedMessageDraft'
						placeholder='Queue up first message'
						rows='3'
					></textarea>
				</md-form-field>
				<div fxLayout='row'>
					<div fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='8px'>
						<button
							md-icon-button
							mdTooltip='Save'
							(click)='chatService.setQueuedMessage(queuedMessageDraft)'
						>
							<md-icon>save</md-icon>
						</button>
						<md-button-toggle
							mdTooltip='Self-destruct'
							[checked]='chatService.cyphSelfDestruct'
							(change)='chatService.cyphSelfDestruct = !chatService.cyphSelfDestruct'
						>
							<md-icon>timer</md-icon>
						</md-button-toggle>
					</div>
					<div
						*ngIf='chatService.cyphSelfDestruct'
						class='self-destruct-timer'
					>
						<md-form-field>
							<input
								mdInput
								[(ngModel)]='chatService.cyphSelfDestructTimeout'
								name='timer'
								maxlength='4'
							/>
							
						</md-form-field>
						&nbsp;
						<span cyphTranslate>Seconds</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
