<div class='signup-form' [class.mobile]='envService.isMobile'>
	<form ngNativeValidate (submit)='submit()' *ngIf='signupService.state === 0'>
		<div class='layout-row layout-align-center-center flex'>
			<ng-content></ng-content>
		</div>
		<div class='layout-row layout-align-center-stretch flex'>
			<div class='layout-column flex-50' *ngIf='!envService.isMobile'>
				<div class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							[(ngModel)]='signupService.data.email'
							name='email'
							type='email'
							placeholder='Email'
						/>
					</md-input-container>
				</div>
				<div class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							name='password'
							type='password'
							placeholder='Password'
							[disabled]='true'
						/>
					</md-input-container>
				</div>

				<div class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							name='confirmPassword'
							type='password'
							placeholder='Confirm Password'
							[disabled]='true'
						/>
					</md-input-container>
				</div>
				<div *ngIf='invite' class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							[(ngModel)]='signupService.data.inviteCode'
							name='inviteCode'
							type='text'
							placeholder='Invite Code'
						/>
					</md-input-container>
				</div>
				<div class='register-button layout-row layout-align-center-end'>
					<button md-button type='submit' [disabled]='true' cyphTranslate>
						Register
					</button>
				</div>
			</div>
			<div class='layout-column flex'>
				<div class='layout-row layout-align-center-center'>
					<p class='flex-80' cyphTranslate>
						We are currently at capacity and registration is closed,
						but you can sign up for the waitlist to reserve your spot
						in line for an account.
					</p>
				</div>
				<div class='layout-row layout-align-center-center'>
					<p class='flex-80' cyphTranslate>
						However, you don't need an account to use Cyph; just click the
						"start new cyph" button on the homepage. Our beta accounts program
						only provides early access to more advanced functionality and cool
						new features.
					</p>
					<br />
				</div>
				<div class='register-button layout-row layout-align-center-end'>
					<button md-button type='submit' cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</form>

	<form (submit)='submit()' *ngIf='signupService.state === 1'>
		<div class='layout-row layout-align-center-center flex'>
			<div class='layout-column flex'>
				<div class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							[(ngModel)]='signupService.data.email'
							name='email'
							type='email'
							placeholder='Email'
							[required]='true'
						/>
					</md-input-container>
				</div>
				<div *ngIf='invite' class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							[(ngModel)]='signupService.data.inviteCode'
							name='inviteCode'
							type='text'
							placeholder='Invite Code'
							[required]='true'
						/>
					</md-input-container>
				</div>
				<div class='layout-row layout-align-center-end'>
					<button md-button type='submit' cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</form>

	<form (submit)='submit()' *ngIf='signupService.state === 2'>
		<div class='layout-row layout-align-center-center flex'>
			<div class='layout-column flex'>
				<div class='layout-row layout-align-center-center'>
					<md-input-container>
						<input
							cyphTranslate
							class='flex-80'
							md1Class='md-block'
							[(ngModel)]='signupService.data.name'
							name='name'
							placeholder='Name (optional)'
						/>
					</md-input-container>
				</div>
				<div class='layout-row layout-align-center-end'>
					<button md-button type='submit' cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</form>

	<form (submit)='submit()' *ngIf='signupService.state === 3'>
		<div class='layout-row layout-align-center-center flex'>
			<div class='layout-column flex'>
				<div class='layout-row layout-align-center-center'>
					<p class='flex-80'>
						<span cyphTranslate>Thanks for subscribing,</span>
						<span>{{signupService.data.name}}!</span>
						<span cyphTranslate>We'll email you when your invite is ready.</span>
					</p>
				</div>
			</div>
		</div>
	</form>
</div>
