<div layout='row' flex class='footer desktop-only'>
	<div flex></div>

	<div layout='row' ng-hide='$ctrl.ui.coBranded'>
		<p flex='nogrow' layout-padding>
			<a flex ng-href='{{$ctrl.cyph.Env.homeUrl}}'>
				© Cyph 2016 (Patents Pending)
			</a>
		</p>

		<p flex='nogrow' layout-padding>
			<a flex ng-href='{{$ctrl.cyph.Env.homeUrl}}contact'>Contact</a>
		</p>

		<p flex='nogrow' layout-padding>
			<a ng-href='{{$ctrl.cyph.Env.homeUrl}}donate'>
				Donate
			</a>
		</p>

		<p flex='nogrow' layout-padding>
			<strong ng-hide='$ctrl.ui.chat.session.state.wasInitiatedByAPI'>
				- Individual Use Only -
			</strong>
			<strong ng-show='$ctrl.ui.chat.session.state.wasInitiatedByAPI'>
				- Cyph API -
			</strong>
		</p>

		<p flex='nogrow' layout-padding>
			<a ng-href='{{$ctrl.cyph.Env.homeUrl}}pricing'>
				Business Pricing
			</a>
		</p>

		<p flex='nogrow' layout-padding>
			<a ng-href='{{$ctrl.cyph.Env.homeUrl}}privacypolicy'>
				Privacy Policy
			</a>
		</p>

		<p flex='nogrow' layout-padding>
			<a ng-href='{{$ctrl.cyph.Env.homeUrl}}termsofservice'>
				Terms of Service
			</a>
		</p>
	</div>

	<div layout='row' ng-show='$ctrl.ui.coBranded'>
		<p class='powered-by-cyph' flex='nogrow' layout-padding>
			<a ng-href='{{$ctrl.cyph.Env.homeUrl}}' class='small-font'>
				Powered by Cyph
			</a>
		</p>
	</div>

	<div flex></div>
</div>
