<md-content
	class='cyph-not-found nano'
	layout='column'
	layout-fill
	flex
>
	<div class='nano-content'>
		<div>
			<h1 translate>
				I'm sorry, but your cyph is in another castle...
			</h1>
		</div>
		<img src='/img/404.png' alt='Funny Mario reference' />
		<div class='explanation'>
			<p>
				<span translate>Please</span>
				<a
					translate
					target='_self'
					ng-href='{{$ctrl.cyph.Env.newCyphUrl}}'
				>try again</a>.
			</p>
			<p translate>Reasons why you may have landed here:</p>
			<ul>
				<li translate>
					The cyph you're looking for has expired
				</li>
				<li translate>
					The cyph you're looking for has already been connected to
					(someone else got there first, or you clicked twice)
				</li>
				<li translate>
					A glitch in the matrix
				</li>
				<li translate>
					You're just guessing random URLs
				</li>
				<li translate>
					We broke something
				</li>
			</ul>
		</div>
	</div>
</md-content>
