<div
	fxLayout="column"
	[class.visibility-hidden]="
		(user?.rating() | await) === undefined ||
		(user?.reviews?.watch() | await) === undefined
	"
>
	<div fxLayout="row">
		<mat-icon
			*ngFor="
				let star of getStars((user?.rating() | await) || 0);
				trackBy: trackByIndex
			"
		>
			{{ star }}
		</mat-icon>
	</div>
	<div *ngIf="user?.reviews?.watch() | await as reviews">
		<span>
			{{
				numberToString(((user?.rating() | await) || 0) * ratingFactor)
			}}/5&nbsp;
		</span>
		<span>
			({{ (reviews || {size: 0}).size }}
			{{
				(reviews || {size: 0}).size === 1 ?
					stringsService.review :
					stringsService.reviews
			}})
		</span>
	</div>
</div>
