<div fxLayout='column' [class.visibility-hidden]='
	(user?.rating() | async) === undefined ||
	(user?.reviews.watch() | async) === undefined
'>
	<div fxLayout='row'>
		<mat-icon *ngFor='
			let star of getStars((user?.rating() | async) || 0);
			trackBy: trackByIndex
		'>
			{{star}}
		</mat-icon>
	</div>
	<div *ngIf='user?.reviews.watch() | async as reviews'>
		<span>
			{{numberToString(((user?.rating() | async) || 0) * ratingFactor)}}/5&nbsp;
		</span>
		<span>
			({{reviews.size}}
			{{reviews.size === 1 ? stringsService.review : stringsService.reviews}})
		</span>
	</div>
</div>
