@use '@angular/material' as mat;
@use 'sass:map';
@import '../../../../css/mixins';

.key-status {
	margin-bottom: 16px;
	background: white;
	padding: 8px;
	text-align: center;

	> .verified {
		color: map.get(mat.$green-palette, 700) !important;
	}

	> .unverified {
		color: map.get(mat.$red-palette, 700) !important;
	}
}
