<ng-container *ngIf="user?.name | await as name">
	<ng-container *ngIf="user?.extra() | await as extra">
		<ng-container *ngIf="!!extra?.pgp?.publicKey">
			<h1 matDialogTitle>
				{{ getTitle(name | slice: 0:accountService.maxNameLength) }}
			</h1>
			<div
				mat-dialog-content
				*ngIf="
					pgpService.getPublicKeyMetadata(
						extra?.pgp?.publicKey || ''
					) | await as o
				"
			>
				<div fxFlex fxLayout="column" fxLayoutGap="16px">
					<div *ngIf="o?.pgpMetadata?.userID as userID">
						<strong>{{ userID || '' }}</strong>
					</div>

					<div>
						<div fxLayout="column" fxLayoutGap="4px">
							<div
								*ngIf="
									o?.pgpMetadata?.fingerprint as fingerprint
								"
							>
								<span cyphTranslate>Fingerprint:</span>
								&ngsp;
								<code>{{ fingerprint || '' }}</code>
							</div>
							<div *ngIf="o?.pgpMetadata?.keyID as keyID">
								<span cyphTranslate>Key ID (64-bit):</span>
								&ngsp;
								<code>{{ keyID || '' }}</code>
							</div>
							<div
								*ngIf="
									extra?.pgp
										?.keybaseUsername as keybaseUsername
								"
							>
								<span cyphTranslate>Keybase account:</span>
								&ngsp;
								<code>@{{ keybaseUsername || '' }}</code>
							</div>
						</div>
					</div>

					<div>
						<pre fxFlex>{{ o?.publicKey || '' }}</pre>
						<button
							mat-icon-button
							matTooltip="Copy to Clipboard"
							(click)="copyToClipboard(o?.publicKey || '')"
							cyphTranslate
						>
							<mat-icon>content_copy</mat-icon>
						</button>
					</div>
				</div>
			</div>
			<div mat-dialog-actions fxLayoutAlign="end center">
				<button mat-button matDialogClose>
					{{ stringsService.ok }}
				</button>
			</div>
		</ng-container>
	</ng-container>
</ng-container>
