/** Hide backdrop */
md-backdrop.md-sidenav-backdrop.md-opaque {
	opacity: 0;
	z-index: -999;
}

md-sidenav {
	width: 20%;
}

.md-button.md-ink-ripple {
	text-align: center;
	font-family: ubuntu;
	font-weight: 500;
	font-size: 24px;
}

img.logo {
	width: 150px;
}

md-sidenav._md.md-sidenav-left.md-whiteframe-z2 {
	background-color: rgba(80, 57, 124, 0.9) !important;
	box-shadow: 0 2px 4px -1px rgba(71, 50, 110, 0.15), 0 4px 5px 0 rgba(70, 50, 110, 0.1), 0 1px 10px 0 rgba(70, 50, 110, 0.12);
}

md2-button.logout {
	bottom: 0;
	transform: rotate(180deg);
}

.md-button i.material-icons {
    font-size: 32px;
    top: 8px;
    right: 2px;
    position: relative;
}

md-sidenav, md2-content, md-content, md-content .layout-column {
	height: 100%;
}
