@import '../mixins';

.file-upload {
	height: 10em;
	border: dashed white 1.5px;
	cursor: pointer;

	md-icon {
		@include icon-size(42px);

		@include vertical-align;
	}

	::ng-deep {
		.dz-preview {
			margin: 20px 20px 20px -120px !important;
		}

		.dz-success-mark, .dz-error-mark {
			float: left;
			display: inherit;
			margin-top: 15px;
			display: none;
		}

		.dz-details {
			text-align: center;
			margin-top: 7px;
		}
	}
}

.initiating {
	overflow-y: hidden;
	pointer-events: none;

	> div {
		opacity: 0.5;
	}
}

md-progress-spinner {
	position: relative;
	top: 6vh;
	left: 50%;
	z-index: 1;
	@include transform(translate(-50%, -50%));
}
