@import '../mixins';

:host > div {
	padding-bottom: 1em;
	background-color: initial !important;
}

cyph-chat-message-list:after {
	display: none;
}

cyph-chat-message-box ::ng-deep .text-message-box.mobile {
	padding: 0px 4px;
}
