// Staggered animation support. Usage: add any class from ._1 -> ._10

$interval: 0.25s;
$classesToAdd: 15;

@for $i from 1 to $classesToAdd + 1 {
	._#{$i} {
		@include animation-delay($i * $interval);
	}
}

// Scrollfix to pin Cyph background/gradient - add all account component selectors here
cyph-account-contacts,
cyph-account-login,
cyph-account-logout,
cyph-account-profile,
cyph-account-register,
cyph-account-settings,
cyph-account-home,
cyph-account-menu {
	overflow: scroll;
}

.cyph-gradient {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-image: url(/img/cyph.brick.pattern.png);
	background-repeat: repeat;
	background-position-x: 50%;
	z-index: -999;
}

.login-form {
	height: 100%;

	md-input-container * {
		color: #f1f1f1 !important;
		border-color: #f1f1f1 !important;
	}

	md-progress-circular {
		display: none;
		position: absolute;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
	}

	form .md-subheader {
		color: red;
		background: #f1f1f1;
		margin: 20px;
	}

	&.checking {
		md-progress-circular {
			display: block;
		}

		md-card-title, md-card-content {
			opacity: 0.15;
		}
	}
}
