@import 'mixins';

.md-button {
	text-align: center !important;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 24px;
}

img.logo {
	width: 100%;
	max-width: 6em;
	padding: 0.25em 0.25em 0px 0.25em;

	&.collapsed-button {
		max-width: 2em;
		padding: 0.1em 0.1em 0px 0.1em;
	}
}

.menu {
	background-color: rgba(80, 57, 124, 0.9) !important;
	width: 100%;
	text-align: center;

	&.mobile {
		position: absolute;
		z-index: 999;
		max-width: 25em;

		&.collapsed {
			width: 6em;
		}

		&:not(.collapsed) {
			background-color: rgb(80, 57, 124) !important;
		}
	}

	&.collapsed {
		.full-button {
			display: none;
		}

		.home-wrapper {
			margin-bottom: 0px !important;
		}

		.profile-picture.online {
			border: 5px solid rgba(56, 140, 71, 0.9) !important;
		}

		.profile-picture.away {
			border: 5px solid rgba(247, 184, 1, 0.9) !important;
		}

		.profile-picture.busy {
			border: 5px solid rgba(255, 28, 28, 0.9) !important;
		}

		.profile-picture.offline {
			border: 5px solid rgba(40, 38, 44, 0.9) !important;
		}

		md-content {
			width: 6em;
			padding: 8px;
		}
	}

	&:not(.collapsed) {
		.collapsed-button {
			display: none;
		}

		md2-icon {
			position: relative;
			right: 2px;
			top: -2px;
		}
	}

	md-content {
		padding-right: 0px;
	}
}

md2-button.logout {
	bottom: 0px;

	@include transform(rotate(180deg));
}

.md-button md2-icon {
	@include icon-size(32px);
}

.menu, md2-content, md-content, md-content .layout-column {
	height: 100%;
}

md2-button.home {
	position: relative;
	top: 5px;
	padding: 0px;
}

md2-button.menu-toggle {
	width: 25px;
	margin-top: -6px;

	@include vertical-align();

	button {
		height: 100%;

		md2-icon.flipped md-icon {
			@include transform(rotate(180deg));

			@include transition(transform 0.5s linear);
		}

		md-icon.material-icons {
			right: 10px;
			position: relative;
		}
	}
}

.home-wrapper {
	margin-bottom: 10px;
}

.home button.md-button {
	padding: 0px;
}

.user {
	margin-top: 1em;
	max-width: 8em;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

	.profile-picture {
		width: 100%;
		height: 100%;
		background-color: #f3f3f3;
		border-radius: 50%;
		position: relative;
	}

	img:hover {
		cursor: pointer;
	}

	.profile-picture.online {
		border: 7px solid rgba(56, 140, 71, 0.9) !important;
	}

	.profile-picture.away {
		border: 7px solid rgba(247, 184, 1, 0.9) !important;
	}

	.profile-picture.busy {
		border: 7px solid rgba(255, 28, 28, 0.9) !important;
	}

	.profile-picture.offline {
		border: 7px solid rgba(40, 38, 44, 0.9) !important;
	}
}
