cyph-account-profile {
	position: relative;
	overflow: hidden;

	.profile {
		width: 100% !important;

		@include transform(translateY(0px) !important);

		// Profile Status Indicator. TODO: Add Animations
		.profile-picture {
			transition: border 0.75s ease;
		}

		.profile-picture.online {
			border: 13px solid rgba(56, 140, 71, 0.9) !important;
		}

		.profile-picture.away {
			border: 13px solid rgba(247, 184, 1, 0.9) !important;
		}

		.profile-picture.busy {
			border: 13px solid rgba(255, 28, 28, 0.9) !important;
		}

		.profile-picture.offline {
			border: 13px solid rgba(40, 38, 44, 0.9) !important;
		}
	}
}
