/** Hide backdrop */
md-backdrop.md-sidenav-backdrop.md-opaque {
	opacity: 0;
	z-index: -999;
}

md-sidenav {
	width: 20%;
}

.md-button.md-ink-ripple {
	text-align: center;
	font-family: ubuntu;
	font-weight: 500;
	font-size: 24px;
}

img.logo {
	width: 150px;
}

md-sidenav._md.md-sidenav-left.md-whiteframe-z2 {
	background-color: rgba(80, 57, 124, 0.9) !important;
	box-shadow: 0 2px 4px -1px rgba(71, 50, 110, 0.15), 0 4px 5px 0 rgba(70, 50, 110, 0.1), 0 1px 10px 0 rgba(70, 50, 110, 0.12);
}

md2-button.logout {
	bottom: 0;
	transform: rotate(180deg);
}

.md-button i.material-icons {
	font-size: 32px;
	top: 8px;
	right: 2px;
	position: relative;
}

md-sidenav, md2-content, md-content, md-content .layout-column {
	height: 100%;
	overflow: visible;
}

md2-button.home {
	position: relative;
	top: 5px;
	padding: 0px;
}

.home-wrapper {
	margin-bottom: 10px;
}

.home button.md-button.md-ink-ripple {
    padding: 0;
}

.user {
	margin-top: 15px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;

	.profile-picture {
		width: 100px;
		height: 100px;
		background-color: #f3f3f3;
		border-radius: 50%;
		position: relative;
	}

	img:hover {
		cursor: pointer;
	}

	.profile-picture.online {
		border: 7px solid rgba(56, 140, 71, 0.9) !important;
	}

	.profile-picture.away {
		border: 7px solid rgba(247, 184, 1, 0.9) !important;
	}

	.profile-picture.busy {
		border: 7px solid rgba(255, 28, 28, 0.9) !important;
	}

	.profile-picture.offline {
		border: 7px solid rgba(40, 38, 44, 0.9) !important;
	}
}

/** Mini Menu */
md-sidenav.md-closed {
	width: 69px !important;
	display: block;
	-webkit-transform: translate3d(0%,0,0) !important;
    transform: translate3d(0%,0,0) !important;
	img.logo {
		width: 105px !important;
		margin-left: 1px;
	}
	.home-wrapper {
		margin-bottom: 0px !important;
	}
	.user .profile-picture {
		width: 60px;
		height: 60px;
		left: -10px;
	}
	.profile-picture.online {
		border: 5px solid rgba(56, 140, 71, 0.9) !important;
	}

	.profile-picture.away {
		border: 5px solid rgba(247, 184, 1, 0.9) !important;
	}

	.profile-picture.busy {
		border: 5px solid rgba(255, 28, 28, 0.9) !important;
	}

	.profile-picture.offline {
		border: 5px solid rgba(40, 38, 44, 0.9) !important;
	}
}
