@import '../mixins';

md-card.note {
	margin: 2%;
	overflow: -webkit-paged-x;
}

md-card-title.mat-card-title {
	text-align: center;
	font-weight: 600;
	font-size: 28px;
}

.mat-card-header {
	top: 14px;
	position: absolute;
	right: 25px;
}

.mat-card-title {
	margin-bottom: 25px;
}

md-card.no-shadow {
	box-shadow: none;
}
