@import '../mixins';

.note {
	md-card-title {
		font-weight: bold;
		font-size: 20px;
	}

	md-card-subtitle {
		@include word-wrap;
	}
}

button.mat-fab {
	position: absolute;
	right: 42px;
	bottom: 42px;
}
