@import '../mixins';

.file-upload {
	height: auto;
	border: dashed white 1.5px;
	cursor: pointer;

	md-icon {
		font-size: 42px;
		margin: 65px;
	}

	::ng-deep {
		.dz-preview {
			margin: 20px 20px 20px -120px !important;
		}

		.dz-success-mark, .dz-error-mark {
			float: left;
			display: inherit;
			margin-top: 15px;
			display: none;
		}

		.dz-details {
			text-align: center;
			margin-top: 7px;
		}
	}
}
