@import '../mixins';

.contact {
	@include transition(filter 0s ease);

	button {
		@include transition(transform 0s ease);
	}

	&.active {
		@include filter(brightness(1.2));

		button {
			@include transform(scaleX(0));
		}
	}
}

.avatar {
	&.Online {
		@include animation-name(pulse);
	}

	&.Away {
		@include animation-name(bounce);
	}

	&.Busy {
		@include animation-name(pulse);
	}

	&.Offline {
		@include animation-name(bounce);
	}
}

.initiating {
	overflow-y: hidden;
	pointer-events: none;

	> div {
		opacity: 0.5;
	}
}

md-progress-spinner {
	position: absolute;
	top: 50vh;
	left: 50%;
	z-index: 1;

	@include transform(translate(-50%, -50%));
}

:host > div {
	position: relative;
}
