div h1 {
	font-size: 32px;
	text-align: center;
}

cyph-account-profile {
	position: relative;
	overflow: hidden;

	.profile {
		width: 100% !important;
		-webkit-transform: translateY(0%) !important;
		-ms-transform: translateY(0%) !important;
		transform: translateY(0%) !important;

		// Profile Status Indicator. TODO: Add Animations
		.profile-picture {
			transition: border 0.75s ease;
		}

		.profile-picture.online {
			border: 13px solid rgba(56, 140, 71, 0.9) !important
		}

		.profile-picture.away {
			border: 13px solid rgba(247, 184, 1, 0.9) !important;
		}

		.profile-picture.busy {
			border: 13px solid rgba(255, 28, 28, 0.9) !important;
		}

		.profile-picture.offline {
			border: 13px solid rgba(40, 38, 44, 0.9) !important;
		}
	}
}

cyph-account-contacts {
	right: 0;
	top: 0;
	overflow: scroll !important;
	position: absolute;
}
