@import '../mixins';

.description {
	padding-top: 32px;
	font-size: 1.25em;
}

.master-key-deselected {
	cursor: pointer;
	opacity: 0.25;
	border: dashed white 1.5px;

	* {
		pointer-events: none;
	}
}

.xkcd-passphrase {
	font-family: 'Ubuntu Mono';
	font-size: 2em;
	text-align: center;
}
