@import '../mixins';

.profile {
	text-align: center;
	font-family: Ubuntu;

	&.mobile {
		.avatar {
			width: 10em;
			height: 10em;
		}
	}

	.avatar {
		cursor: auto;
		width: 125px;
		min-width: 42px;
		top: 25px;
		position: relative;
		margin: 25px;
		border-width: 0.25vw !important;
		box-shadow: 0px 20px 42px 0px rgba(0, 0, 0, 0.3);
	}

	.header {
		height: 135px;
		min-height: 135px;
		background-color: rgba(139, 98, 217, 0.9);
		color: white;
		z-index: 42;

		.user-info {
			top: 10px;
			position: relative;
		}

		&:after {
			background-color: #BBA8DF;
			height: 20px;
			width: 100%;
			content: no-close-quote;
		}
	}

	.content {
		div {
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}

		margin-top: 5px;
	}

	.practice {
		mat-icon {
			@include icon-size(24px);
		}

		h3 {
			margin: 3px;
		}
	}

	.mat-card {
		max-width: 50%;
		overflow: scroll;

		.mat-card-content {
			.mat-list {
				.mat-list-item {
					span {
						text-align: center;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}

	.name {
		font-size: 42px;
		margin-top: 3px;
		margin-bottom: 0px;
		font-weight: 500;
	}

	.username {
		font-size: 24px;
		opacity: 0.6;
	}

	.description {
		font-size: 20px;
		margin: 20px auto auto auto;
		max-width: 90%;
		position: relative;

		input {
			text-align: center;
		}
	}
}

.file-upload {
	margin-top: 2rem;
	min-width: 200px;
}

.edit-buttons {
	position: relative;
	float: right;
	bottom: 80px;
	right: 10px;
}

.edit-hide {
	@include transition(opacity 0.35s ease-in-out);
}

@media (max-height: 600px) {
	:host > .editing .edit-hide {
		opacity: 0;
		pointer-events: none;
	}

	:host > :not(.editing) .edit-hide {
		opacity: 1;
	}
}
