@import '../theme';

:host ::ng-deep {
	/* Staggered animation support. Usage: add any class from ._1 -> ._10 */

	$interval: 0.25s;
	$classesToAdd: 15;

	@for $i from 1 to $classesToAdd + 1 {
		._#{$i} {
			@include animation-delay($i * $interval);
		}
	}

	> div > :not(canvas) {
		z-index: 1;

		/* Scrollfix to pin Cyph background/gradient */
		&:not(cyph-account-menu) {
			overflow: scroll;
		}
	}

	.mobile .cyph-gradient {
		opacity: 0.15;
	}

	.cyph-gradient {
		display: block;
		width: 100%;
		height: 100%;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		position: absolute;
		background-image: url(/assets/img/cyph.brick.pattern.png);
		background-repeat: repeat;
		background-position-x: 50%;
		z-index: 0;
	}

	.avatar {
		border-radius: 50%;
		border-width: 5px;
		border-style: solid;
		cursor: pointer;

		@include transition(border 0.75s ease);

		&.Online {
			border-color: map-get($mat-green, 700) !important;

			@include animation-name(pusle);
		}

		&.Away {
			border-color: map-get($mat-amber, 500) !important;

			@include animation-name(bounce);
		}

		&.Busy {
			border-color: map-get($mat-red, 700) !important;

			@include animation-name(pulse);
		}

		&.Offline {
			border-color: map-get($mat-grey, 900) !important;

			@include animation-name(bounce);
		}
	}

	.header {
		text-align: center;
	}
}

.interstitial {
	position: fixed;
	background-color: rgba(139, 98, 217, 0.69) !important;
	width: 100%;
	height: 100%;
	z-index: 2;

	.logo-animation {
		margin-top: 33vh;
		margin-left: 45vw;
		margin-right: 45vw;
		margin-bottom: 33vh;
		transform: scale(.5);
	}
}
