@import '../mixins';

md-card.note {
	margin: 2%;
	overflow: -webkit-paged-x;
}

md-card-title {
	> div {
		padding-top: 1.1em;
	}

	> div, input {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
		width: 100%;
	}
}

md-card-header {
	top: 14px;
	position: absolute;
	right: 25px;
}

md-card.no-shadow {
	box-shadow: none;
}
