@import 'theme';

.profile {
	text-align: center;
	font-family: Ubuntu;

	&.mobile {
		.avatar {
			width: 10em;
			height: 10em;
		}
	}

	.avatar {
		cursor: auto;
		width: 18em;
		height: 18em;
		box-shadow: 0px 20px 42px 0px rgba(0, 0, 0, 0.3);
	}

	.name {
		font-size: 42px;
		margin-top: 25px;
		margin-bottom: 10px;
		position: relative;
		width: auto;
		font-weight: 500;
	}

	.username {
		opacity: 0.6;
	}

	.description {
		margin: 25px auto;
	}

	.username, .description {
		font-size: 24px;
	}

	.status {
		width: 100%;
	}

	.buttons button {
		background-color: map-get($cyph-primary, default);
	}
}
