.message-list-background {
	&:not(.nano) {
		overflow-y: scroll;
	}

	&:after {
		background-image: url(/img/betalogo.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 50vh;
		height: 50vh;
		left: 50%;
		top: 50%;
		z-index: -1;
		opacity: 0.10;
		content: ' ';

		@include transform(translateX(-50%) translateY(-50%));
	}
}

.message-item, .ellipsis-spinner {
	@include transition(opacity 1s ease-in-out);
}

.message-item .message-timestamp .message-pending {
	display: none;
}

.friend-is-typing {
	margin: 20px 0px;

	.ellipsis-spinner {
		margin: 0px;
		opacity: 0;

		&.show {
			opacity: 1;
		}

		> div {
			width: 8px;
			height: 8px;
		}
	}
}
