@import 'theme';

.message-item {
	word-wrap: break-word;
	word-break: break-all;
	padding: 7.5px 10px 5px 10px;
	margin: 2.5px;
	min-height: 0px;
	position: relative;

	.message {
		max-width: 100%;
		padding-bottom: 5px;
		word-wrap: break-word;

		> * {
			padding-top: 5px;
		}
	}

	.message-timestamp {
		text-align: right;
	}

	img, .image-frame {
		max-width: 25%;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10vw;
		margin-right: auto;
		display: block;
		box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4);
		position: relative;
	}

	/* Self-destruct animation */
	> .self-destruct-cover {
		content: ' ';
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		background-color: black;
		position: absolute;
		z-index: 5;

		@include transform(scaleX(0));

		@include transform-origin(top left);
	}

	&.self-destructed > .self-destruct-cover {
		@include transform(scaleX(1));

		@include transition(transform 3s cubic-bezier(0.8, 0.4, 1, 0.3));
	}

	&.unconfirmed {
		opacity: 0.4;

		@include breathe;
	}

	&.author-app {
		background-color: map-get(map-get($cyph-message-colors, app), desktop);
		box-shadow: 0px 0px 5px map-get(map-get($cyph-message-colors, app), desktop);
		color: map-get(map-get($cyph-message-colors, app), text);
	}

	&.author-me {
		background-color: map-get(map-get($cyph-message-colors, me), desktop);
		box-shadow: 0px 0px 5px map-get(map-get($cyph-message-colors, me), desktop);
		color: map-get(map-get($cyph-message-colors, me), text);
	}

	&.author-other {
		background-color: map-get(map-get($cyph-message-colors, other), desktop);
		box-shadow: 0px 0px 5px map-get(map-get($cyph-message-colors, other), desktop);
		color: map-get(map-get($cyph-message-colors, other), text);
	}

	&.author-app .message {
		text-align: center;

		cyph-markdown {
			margin-top: 20px;

			* {
				font-weight: bold;
			}
		}
	}
}

.self-destruct-timer {
	font-size: 2.3rem;
	text-align: center;
	padding: 20px;
	display: block;
}

:host > .mobile {
	.message-item > .self-destruct-cover {
		left: -25vw;
		width: 150vw;
	}

	.self-destruct-timer {
		font-size: 1.43rem;
		padding: 5px;
	}
}
