.chat-cyphertext {
	z-index: 1;
	position: fixed;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	overflow-y: scroll;

	md-list {
		padding: 50px 12.5%;
	}

	.close-button {
		position: fixed;
		top: 30px;
		right: 5%;
	}

	.message {
		font-family: 'Ubuntu Mono', monospace;
		font-size: 1rem;
		word-break: break-all;
		word-wrap: break-word;
	}
}
