@import '../mixins';

.message-item {
	word-wrap: break-word;
	word-break: break-word;
	padding: 7.5px 10px 5px 10px;
	margin: 2.5px;
	min-height: 0px;
	position: relative;

	.message {
		max-width: 100%;
		padding-bottom: 5px;

		> * {
			padding-top: 5px;
		}
	}

	.message-timestamp {
		text-align: right;
	}

	md-progress-spinner {
		margin-left: 12px;
		margin-right: 12px;
	}

	img, .image-frame {
		max-width: 25%;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10vw;
		margin-right: auto;
		display: block;
		box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4);
		position: relative;
	}

	.self-destruct-timer {
		font-size: 2.3rem;
		text-align: center;
		padding: 20px;
		display: block;
	}

	/* Self-destruct animation */
	.self-destruct-cover {
		content: ' ';
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		background-color: black;
		position: absolute;
		z-index: 5;

		@include transform(scaleX(0));

		@include transform-origin(top left);
	}

	&.self-destructed .self-destruct-cover {
		@include transform(scaleX(1));

		@include transition(transform 3s cubic-bezier(0.8, 0.4, 1, 0.3));
	}

	&.author-app .message {
		text-align: center;

		/deep/ cyph-markdown {
			margin-top: 20px;

			* {
				font-weight: bold;
			}
		}
	}

	&.mobile {
		md-progress-spinner {
			width: 10px;
			height: 10px;
			margin: auto 9.5px;
		}

		.message-timestamp {
			height: 12px;
		}

		.self-destruct-cover {
			left: -25vw;
			width: 150vw;
		}

		.self-destruct-timer {
			font-size: 1.43rem;
			padding: 5px;
		}
	}

	&:not(.mobile) {
		md-progress-spinner {
			width: 20px;
			height: 20px;
			margin-right: 16px;
		}

		.message-item {
			border-radius: 1px;
		}
	}
}
