.message-list:not(.nano) {
	overflow-y: scroll;
}

.message-list {
	.message-item, .ellipsis-spinner {
		@include transition(opacity 1s ease-in-out);
	}

	.message-item .message-timestamp .message-pending {
		display: none;
	}

	.friend-is-typing {
		margin: 20px 0px;

		.ellipsis-spinner {
			margin: 0px;
			opacity: 0;

			&.show {
				opacity: 1;
			}

			> div {
				width: 8px;
				height: 8px;
			}
		}
	}

	&:after {
		background-image: url(/img/betalogo.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 50vh;
		height: 50vh;
		left: 50%;
		top: 50%;
		z-index: -1;
		opacity: 0.10;
		content: ' ';

		@include transform(translateX(-50%) translateY(-50%));
	}
}

.transfer-list {
	position: absolute !important;

	md-list {
		max-height: 195px;

		md-list-item {
			height: 65px;

			.mat-list-item-content {
				width: 100%;
			}

			span {
				word-wrap: break-word;
			}

			md-progress-bar {
				margin: 20px;
				margin-top: 0px;
			}
		}
	}
}

.chat-main:not(.mobile) .transfer-list {
	width: calc(100% - 3px);
}

.chat-main.mobile .transfer-list {
	width: calc(100% - 30px);
	padding: 5px;
}

.chat-main:not(.mobile):not(.video) .friend-is-typing {
	padding-left: 20px;
}

.chat-main.mobile, .chat-main.video {
	.friend-is-typing {
		.mat-list-item-content, .ellipsis-spinner {
			width: 100%;
		}
	}
}

.chat-main .message-item .message {
	max-width: 85%;
}

.chat-main:not(.mobile):not(.video) .message-item.author-app .message {
	width: 85%;

	@include transform(translateX(9.25%));
}

.chat-main:not(.mobile):not(.video) .message-item, .message-item.author-app {
	&:before, &:after {
		display: none;
	}
}

.chat-main:not(.mobile):not(.video) .message-list md-list > md-list-item:first-child {
	padding-top: 15px;
}

.chat-main.mobile.video .message-list md-list {
	padding-top: 0px;

	> md-list-item:first-child {
		margin-top: 40px !important;
	}
}

.chat-main.mobile, .chat-main.video .video-call ~ .message-list {
	.message-item {
		position: relative;
		max-width: 80%;
		min-width: 120px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		font-size: 1.2em;

		.message {
			width: 100%;
			max-width: 100%;
			padding-bottom: 0px;
		}

		img, .image-frame {
			margin-left: auto;
		}

		.message-timestamp {
			position: absolute;
			bottom: 5px;
			font-size: 0.55em;
			opacity: 0.9;
			text-align: initial;
		}
	}

	.message-item.author-me {
		margin-right: 5%;

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: right;
			right: 10px;
		}
	}

	.message-item.author-me {
		&:before, &:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 18px 0px 0px 12px;
			bottom: 0px;
		}

		&:before {
			border-color: transparent transparent;
			right: 0px;

			@include transform(rotate(-35deg));
		}

		&:after {
			right: -12px;
		}
	}

	.message-item.author-other {
		margin-left: 5%;

		&:before, &:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 0px 12px 18px 0px;
			top: 0px;
		}

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: left;
			left: 10px;
		}

		&:before {
			border-color: transparent transparent;
			left: -3px;

			@include transform(rotate(-215deg));
		}

		&:after {
			left: -12px;
		}
	}

	.message-item.author-app {
		width: 90%;
		background-color: transparent;

		.message-timestamp {
			text-align: center;
			width: 100%;
			left: 0px;
		}
	}
}

.chat-main.video {
	.video-call {
		height: 100%;
		width: 100%;
		background-color: black;
		overflow: hidden !important;

		.friend {
			height: 100%;

			> video {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}

		.me {
			position: absolute;
			bottom: 0px;
			right: 0px;
		}

		video {
			@include transform(scaleX(-1));
		}

		md-progress-spinner {
			position: absolute;
			top: 50%;
			left: 50%;

			@include transform(translate(-50%, -50%));
		}
	}
}

@media all and (orientation: landscape) {
	.chat-main.video .video-call {
		top: -17.5% !important;
		height: 135% !important;

		.me {
			min-width: 100px;
			width: 20vw;
		}

		img.friend {
			height: 56.25vw !important;
			width: 100vw !important;
		}
	}
}

@media all and (orientation: portrait) {
	.chat-main.video .video-call {
		left: -17.5% !important;
		width: 135% !important;

		.me {
			width: 40vw;
		}

		img.friend {
			height: 100vh !important;
			width: 177.78vh !important;
		}
	}
}

.chat-main.video:not(.mobile) {
	/* Message list is 15%; video UI is 100% - message list height - footer height */

	.video-call {
		height: calc(85% - 110px);
	}

	.message-list {
		max-height: 15%;
	}
}

.chat-main .key-exchange-progress {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.chat-main:not(.mobile) .key-exchange-progress {
	width: 50%;
}

.chat-main.mobile .key-exchange-progress {
	width: 75%;
}

.chat-end-message .mat-list-item-content {
	padding: 10px 0px !important;
	width: 100% !important;
}

/*** New fullscreen video UI ***/

.chat-main.video .video-call {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

	* {
		z-index: 1;
	}

	*, ~ *, ~ * :not(.self-destruct-cover) {
		@include transition(transform 0.5s ease-in-out !important);
	}

	.logo {
		position: fixed;
		top: 10px;
		left: 15px;
		height: 35px;
		opacity: 0.5;

		img {
			height: 100%;
		}
	}

	.friend {
		position: absolute;
		z-index: 0;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: auto !important;
		width: auto !important;
		min-height: 50%;
		min-width: 50%;
		margin: auto;
	}

	img.friend {
		top: 50%;
		left: 50%;
		min-width: 0px;
		min-height: 0px;
		margin: 0px;

		@include transform(translateX(-50%) translateY(-50%));

		@include transition(none !important);
	}

	.me {
		position: fixed;
	}

	.sidebar {
		position: fixed;
		top: 10px;
		right: 15px;

		md-icon {
			opacity: 0.5;
		}
	}

	button {
		background-color: rgba(0, 0, 0, 0.2);
		box-shadow: transparent 0px 0px 0px 0px, rgba(255, 255, 255, 0.5) 0px 1px 2px 0px;

		&:hover {
			@include transform(scale(1.1));
		}

		&:not(.close-button) {
			color: rgba(255, 255, 255, 0.75);
		}
	}

	.buttons {
		position: fixed;
		z-index: 2;
		bottom: 25px;
		left: 0px;
		width: 100%;

		button {
			@include transform(scale(1.25));

			&:hover {
				@include transform(scale(1.4));
			}
		}
	}

	~ .message-list {
		display: block;
		position: fixed;
		left: 100%;
		top: 0px;
		height: 100% !important;
		max-height: 100% !important;
		z-index: 10001;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.5);

		.message-item {
			box-shadow: none;

			&.author-app {
				background-color: rgba(0, 0, 0, 0.3) !important;
				color: #f1f1f1 !important;
			}

			&:before {
				display: none;
			}
		}

		md-list {
			padding-right: 0px;
			padding-bottom: 120px;
		}
	}

	~ .video-call-message-box {
		position: fixed;
		z-index: 10002;
		bottom: 0px;
		right: -310px;
		width: 310px;

		.chat-message-box.mobile {
			.message-box {
				width: 100%;
				height: 48px;
				margin-left: 0px;
				margin-bottom: 0px;
			}
		}
	}

	~ cyph-chat-message-box .menu-button {
		top: calc(50px - 100vh);
	}

	&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
		@include transform(translateX(300px) !important);
	}

	&.sidebar-open {
		.logo, .me, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
			@include transform(translateX(-300px) !important);
		}
	}
}

@media (min-width: 1200px) {
	.chat-main:not(.mobile).video .video-call {
		~ .message-list {
			width: 25vw !important;
		}

		~ .video-call-message-box {
			right: -25vw;
			width: 25vw;
		}

		&.sidebar-open {
			.logo, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
				@include transform(translateX(-25vw) !important);
			}

			.me {
				@include transform(translateX(-25vw) scaleX(-1) !important);
			}
		}

		&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
			@include transform(translateX(25vw) !important);
		}
	}
}

.chat-main:not(.mobile).video .video-call {
	~ .message-list .message-item {
		font-size: initial;
	}

	~ .video-call-message-box {
		bottom: 10px;
	}

	&.sidebar-open .logo {
		@include transform(translateX(0px) !important);
	}
}

.chat-main.mobile.video .video-call {
	~ .message-list {
		width: calc(100vw - 65px) !important;
	}

	~ .video-call-message-box {
		right: calc(65px - 100vw);
		width: calc(100vw - 65px);
	}

	.logo {
		pointer-events: none;
	}

	&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
		@include transform(translateX(calc(100vw - 65px)) !important);
	}

	&.sidebar-open {
		.logo, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
			@include transform(translateX(calc(65px - 100vw)) !important);
		}

		.me {
			@include transform(translateX(calc(65px - 100vw)) scaleX(-1) !important);
		}
	}
}

/*** SpinKit animation: http://tobiasahlin.com/spinkit/ ***/

.ellipsis-spinner {
	margin: 100px auto 0px;
	width: 70px;
	text-align: center;

	> div {
		width: 12px;
		height: 12px;
		border-radius: 100%;
		display: inline-block;

		@include animation(ellipsis-spinner 1.4s infinite ease-in-out);

		/* Prevent first frame from flickering when animation starts */
		@include animation-fill-mode(both);
	}

	.bounce1 {
		@include animation-delay(-0.32s);
	}

	.bounce2 {
		@include animation-delay(-0.16s);
	}
}

@include keyframes(ellipsis-spinner) {
	0%, 80%, 100% {
		@include transform(scale(0));
	}

	40% {
		@include transform(scale(1));
	}
}
