.message-list:not(.nano) {
	overflow-y: scroll;
}

.chat-main:not(.mobile) .message-list md-content {
	padding-right: 10px;
}

.message-list {
	.message-item, .friend-is-typing {
		@include transition(opacity 1s ease-in-out);
	}

	.message-item .message-timestamp .message-pending {
		display: none;
	}

	.friend-is-typing {
		margin-top: 20px;
		width: 100%;
		opacity: 0;

		&.show {
			opacity: 1;
		}

		.ellipsis-spinner {
			margin: 0px;

			.chat-main.mobile &, .chat-main.video & {
				margin: auto;
			}

			.chat-main.video & > div {
				background-color: #444;
			}

			> div {
				width: 8px;
				height: 8px;
			}
		}
	}

	md-card + .md-secondary-container, .friend-is-typing .md-secondary-container {
		display: none;
	}

	&:after {
		background-image: url(/img/betalogo.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 50vh;
		height: 50vh;
		left: 50%;
		top: 50%;
		z-index: -1;
		opacity: 0.10;
		content: ' ';

		@include transform(translateX(-50%) translateY(-50%));
	}
}

.transfer-list {
	position: absolute !important;

	md-content {
		max-height: 195px;

		md-list-item {
			height: 65px;

			span {
				word-wrap: break-word;
			}

			md-progress-linear {
				padding: 20px;
				padding-top: 0px;
			}
		}
	}
}

.chat-main:not(.mobile) .transfer-list {
	width: calc(100% - 3px);
}

.chat-main.mobile .transfer-list {
	width: calc(100% - 30px);
}

.chat-main:not(.mobile):not(.video) .friend-is-typing {
	text-align: left;
	padding-left: 20px;
}

.chat-main.mobile, .chat-main.video {
	.friend-is-typing {
		text-align: center;
	}
}

.chat-main .message-item .message {
	max-width: 85%;
}

.chat-main:not(.mobile):not(.video) .message-item.author-app .message {
	width: 85%;

	@include transform(translateX(9.25%));
}

.chat-main:not(.mobile):not(.video) .message-item, .message-item.author-app {
	&:before, &:after {
		display: none;
	}
}

.chat-main:not(.mobile):not(.video) .message-list md-list > md2-list-item:first-child {
	padding-top: 15px;
}

.chat-main.mobile.video .message-list md-list {
	padding-top: 0px;

	> md2-list-item:first-child {
		margin-top: 40px !important;
	}
}

.chat-main.mobile, .chat-main.video .video-call.active.playing ~ .message-list {
	.message-item {
		position: relative;
		max-width: 80%;
		min-width: 120px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		font-size: 1.2em;

		.message {
			width: 100%;
			max-width: 100%;
			padding-bottom: 0px;
		}

		img, .image-frame {
			margin-left: auto;
		}

		.message-timestamp {
			position: absolute;
			bottom: 5px;
			font-size: 0.55em;
			color: #dddddd;
			text-align: initial;
		}
	}

	.message-item.author-me {
		margin-right: 5%;

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: right;
			right: 10px;
		}
	}

	.message-item.author-me:after, .message-item.author-me:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 18px 0px 0px 12px;
		bottom: 0px;
	}

	.message-item.author-me:after {
		border-color: transparent rgba(139, 98, 217, 0.8);
		right: -12px;
	}

	.message-item.author-me:before {
		border-color: transparent transparent;
		right: 0px;
		box-shadow: 5px 1px 5px rgba(139, 98, 217, 0.8);

		@include transform(rotate(-35deg));
	}

	.message-item.author-other {
		margin-left: 5%;

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: left;
			left: 10px;
		}
	}

	.message-item.author-other:after, .message-item.author-other:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0px 12px 18px 0px;
		top: 0px;
	}

	.message-item.author-other:after {
		border-color: transparent rgba(100, 55, 190, 0.5);
		left: -12px;
	}

	.message-item.author-other:before {
		border-color: transparent transparent;
		left: -3px;
		box-shadow: 5px 1px 5px rgba(100, 51, 193, 0.5);

		@include transform(rotate(-215deg));
	}

	.message-item.author-app {
		width: 90%;
		background-color: transparent;

		.message-timestamp {
			text-align: center;
			width: 100%;
			left: 0px;
		}
	}
}

.chat-main:not(.mobile):not(.video) md2-list-item.read {
	@include animation(inkRippleCheckbox 0.35s linear 0s 1 normal);
}

.chat-main:not(.video) .video-call {
	display: none;
}

.chat-main.video {
	.video-call {
		height: 100%;
		width: 100%;
		background-color: black;
		overflow: hidden !important;

		.friend {
			height: 100%;

			> video {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}

		.me {
			position: absolute;
			bottom: 0px;
			right: 0px;
		}

		video {
			@include transform(scaleX(-1));
		}

		md-progress-circular {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 25px);
		}

		&:not(.playing) {
			max-height: 100px !important;
			background-color: transparent !important;

			& ~ .message-list {
				max-height: calc(100% - 200px) !important;
			}

			video, md-progress-circular {
				display: none !important;
			}
		}
	}
}

@media all and (orientation: landscape) {
	.chat-main.video .video-call.active.playing {
		top: -17.5% !important;
		height: 135% !important;

		.me {
			min-width: 100px;
			width: 20vw;
		}

		img.friend {
			height: 56.25vw !important;
			width: 100vw !important;
		}
	}
}

@media all and (orientation: portrait) {
	.chat-main.video .video-call.active.playing {
		left: -17.5% !important;
		width: 135% !important;

		.me {
			width: 40vw;
		}

		img.friend {
			height: 100vh !important;
			width: 177.78vh !important;
		}
	}
}

.chat-main.video:not(.mobile) {
	/* Message list is 15%; video UI is 100% - message list height - footer height */

	.video-call {
		height: calc(85% - 110px);
	}

	.message-list {
		max-height: 15%;
	}
}

.chat-main.video.mobile {
	.video-call.playing {
		& ~ .message-list {
			display: none;
		}
	}

	.video-call:not(.playing) {
		padding-left: 10px;

		& ~ .message-list {
			max-height: calc(100% - 100px) !important;
		}
	}
}

.chat-main .key-exchange-progress {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	.md-container {
		background-color: rgba(0, 0, 0, 0.15);

		.md-bar2 {
			background-color: white;
		}
	}
}

.chat-main:not(.mobile) .key-exchange-progress {
	width: 50%;
}

.chat-main.mobile .key-exchange-progress {
	width: 75%;
}

/*** New fullscreen video UI ***/

.chat-main.video .video-call.active.playing {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

	* {
		z-index: 1;
	}

	*, ~ *, ~ * :not(.md-fab-action-item):not(.self-destruct-cover) {
		@include transition(transform 0.5s ease-in-out !important);
	}

	.logo {
		position: fixed;
		top: 10px;
		left: 15px;
		height: 35px;
		opacity: 0.5;

		img {
			height: 100%;
		}
	}

	.friend {
		position: absolute;
		z-index: 0;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: auto !important;
		width: auto !important;
		min-height: 50%;
		min-width: 50%;
		margin: auto;
	}

	img.friend {
		top: 50%;
		left: 50%;
		min-width: 0px;
		min-height: 0px;
		margin: 0px;

		@include transform(translateX(-50%) translateY(-50%));

		@include transition(none !important);
	}

	.me {
		position: fixed;
	}

	.sidebar {
		position: fixed;
		top: 10px;
		right: 15px;
		height: 35px;
		padding: 0px;
		opacity: 0.5;
		outline: white solid 1px !important;

		img {
			height: 100%;
		}
	}

	.md-button {
		background-color: rgba(0, 0, 0, 0.2) !important;
	}

	.buttons {
		position: fixed;
		z-index: 2;
		bottom: 25px;
		left: calc(50vw - 100px);

		.close-button {
			position: static;
			top: auto;
			right: auto;
		}

		.md-button.md-fab {
			color: white !important;
			opacity: 0.5 !important;
			box-shadow: white 0px 0px 4px 0px, white 0px 4px 8px 0px !important;
			height: 44px !important;
			width: 44px !important;
			margin: 10px !important;

			img {
				height: 25px !important;
				width: auto !important;
				vertical-align: middle !important;
			}
		}
	}

	.md-button:hover {
		@include transform(scale(1.1));
	}

	~ .message-list {
		display: block;
		position: fixed;
		left: 100%;
		top: 0px;
		height: 100% !important;
		max-height: 100% !important;
		z-index: 10001;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.5);

		.message-item {
			box-shadow: none;

			&.author-app {
				background-color: rgba(0, 0, 0, 0.3);
			}

			&.author-other {
				background-color: rgba(97, 47, 192, 0.5);

				&:before {
					display: none;
				}

				&:after {
					border-color: transparent rgba(97, 47, 192, 0.5);
				}
			}

			&.author-me {
				background-color: rgba(125, 83, 203, 0.4);

				&:before {
					display: none;
				}

				&:after {
					border-color: transparent rgba(125, 83, 203, 0.4);
				}
			}
		}

		md-content {
			padding-right: 0px;
			padding-bottom: 120px;
		}
	}

	~ .video-call-message-box {
		position: fixed;
		z-index: 10002;
		bottom: 0px;
		right: -310px;
		width: 310px;

		.chat-message-box.mobile {
			.message-box {
				width: 100%;
				height: 48px;
				margin-left: 0px;
				margin-bottom: 0px;
			}

			md-fab-speed-dial {
				top: -235px;
			}
		}
	}

	~ cyph-chat-message-box md-menu {
		top: calc(50px - 100vh);

		md-icon {
			color: #444 !important;
		}
	}

	&:not(.sidebar-open) ~ cyph-chat-message-box md-menu {
		@include transform(translateX(300px) !important);
	}

	&.sidebar-open {
		.logo, .me, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
			@include transform(translateX(-300px) !important);
		}
	}
}

@media (min-width: 1200px) {
	.chat-main:not(.mobile).video .video-call.active.playing {
		~ .message-list {
			width: 25vw;
		}

		~ .video-call-message-box {
			right: calc(-25vw - 10px);
			width: calc(25vw + 10px);
		}

		&.sidebar-open {
			.logo, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
				@include transform(translateX(-25vw) !important);
			}

			.me {
				@include transform(translateX(-25vw) scaleX(-1) !important);
			}
		}

		&:not(.sidebar-open) ~ cyph-chat-message-box md-menu {
			@include transform(translateX(25vw) !important);
		}
	}
}

.chat-main:not(.mobile).video .video-call.active.playing {
	~ .message-list .message-item {
		font-size: initial;
	}

	~ .video-call-message-box {
		bottom: 10px;
	}

	&.sidebar-open .logo {
		@include transform(translateX(0px) !important);
	}
}

.chat-main.mobile.video .video-call.active.playing {
	~ .message-list {
		width: calc(100vw - 65px);
	}

	~ .video-call-message-box {
		right: calc(65px - 100vw);
		width: calc(100vw - 65px);
	}

	.logo {
		pointer-events: none;
	}

	&:not(.sidebar-open) ~ cyph-chat-message-box md-menu {
		@include transform(translateX(calc(100vw - 65px)) !important);
	}

	&.sidebar-open {
		.logo, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
			@include transform(translateX(calc(65px - 100vw)) !important);
		}

		.me {
			@include transform(translateX(calc(65px - 100vw)) scaleX(-1) !important);
		}
	}
}

.chat-main .video-call:not(.playing) {
	.logo, .sidebar, .buttons > :not(.close-button), ~ .video-call-message-box {
		display: none;
	}
}

.close-button {
	background-color: #202020 !important;
	box-shadow: rgba(25, 130, 25, 0.13725) 0px 0px 4px 0px, rgba(25, 130, 25, 0.27843) 0px 4px 8px 0px !important;
	font-family: 'Ubuntu Mono', monospace !important;
	font-size: 2.1em;
}

.signup-form {
	margin-left: auto;
	margin-right: auto;

	div {
		line-height: 135%;
	}

	md-input-container {
		margin-top: 45px;
	}

	.md-button {
		font-size: 14px !important;
	}
}
