@import '../mixins';

.message-list-background {
	position: relative;

	@include shadow;

	&:after {
		background-image: url(/assets/img/betalogo.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		width: 50vh;
		height: 50vh;
		left: 50%;
		top: 50%;
		z-index: -1;
		opacity: 0.10;
		content: ' ';

		@include transform(translateX(-50%) translateY(-75%));
	}
}

.message-item {
	@include transition(opacity 0.75s ease-in-out);
}

.friend-is-typing {
	margin: 20px 0px;
	min-height: 18px;

	.ellipsis-spinner {
		margin: 0px;
	}
}
