:host {
	background-color: #B48DFF;
	margin-top: 20px;
}

.checkout-ui {
	margin: 30px 30px 0px 30px;
	padding: 10px;
	background-color: white;
	opacity: 0.9;

	label {
		color: #283036;
	}

	.braintree {
		margin-bottom: 20px;
	}
}

.confirmation {
	font-size: 120%;
	width: 100%;
	text-align: center;
	padding-top: 50%;

	@include transform(translateY(-50%));
}
