@import '../mixins';

.connect-link-input, .connect-link-link {
	font-family: 'Ubuntu Mono';
	text-align: center;
}

.connect-link-link {
	font-size: 130%;
	word-wrap: break-word;
	word-break: break-all;
}

.connect-link-mobile .divider {
	width: 21px;
	display: inline-block;
}

.countdown {
	padding-left: 10px;
}
