@import '../../../../css/mixins';

.post-compose {
	margin: 2em;
	margin-top: 0;

	.remove-image-button {
		position: absolute;
		top: 8px;
		right: 8px;
	}

	textarea {
		width: calc(100% - 8px);
		min-height: 150px;
		border: none;
		outline: none;
		resize: none;
		font-size: 1.5em;
		padding: 0.5em 0.25em;
	}
}
