<section fxFlexFill fxLayout="column" id="main">
	<div fxFlexFill fxLayoutAlign="center center" class="login-form">
		<mat-card fxFlex fxFlex.sm="95" fxFlex.md="75" fxFlex.gt-md="50">
			<mat-card-title>
				{{ stringsService.signupConfirmTitle }}
			</mat-card-title>
			<mat-card-subtitle>
				<span cyphTranslate>Welcome to</span>
				&ngsp;
				<span>{{ stringsService.product }}!</span>
				&ngsp;
				<span cyphTranslate>
					You can sign up here for access.
				</span>
			</mat-card-subtitle>
			<cyph-logo cardHeader homeLink></cyph-logo>
			<mat-card-content>
				<div *ngIf="apiKey | await as key">
					<br />
					<h3 class="cyph-banner success">
						<div cyphTranslate>
							Your account is now active. You can log in to this
							environment using the following code:
						</div>
						<div class="xkcd-passphrase">{{ key }}</div>
						<div>
							<span cyphTranslate>
								If you ever need any help, feel free to
							</span>
							&ngsp;
							<a
								[href]="envService.homeUrl + 'contact'"
								cyphTranslate
								>reach out to us</a
							>
							&ngsp;
							<span cyphTranslate>
								any time.
							</span>
						</div>
					</h3>
					<br />
					<div fxLayoutAlign="center">
						<button mat-button (click)="unlock(key)">
							<span cyphTranslate>Enter</span>
							&ngsp;
							<span>{{ stringsService.product }}</span>
						</button>
					</div>
					<br />
				</div>
			</mat-card-content>
			<cyph-spinner class="global" mode="indeterminate"></cyph-spinner>
		</mat-card>
	</div>
</section>
