<ng-container *ngIf="accountDatabaseService.currentUser | await as currentUser">
	<div
		fxFlexFill
		fxLayout="row"
		[class.collapsed]="(menuExpanded | await) === false"
		[class.menu]="!sidenav"
		[class.menu-root]="!sidenav"
		[class.mobile]="envService.isMobile | await"
		[class.sidenav]="sidenav"
	>
		<div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
			<ng-container *ngTemplateOutlet="menuContent"></ng-container>
		</div>

		<button
			mat-button
			fxFlex="25px"
			fxHide.lt-md
			cyphTranslate
			class="menu-toggle"
			matTooltip="Toggle Menu"
			matTooltipPosition="right"
			(click)="accountService.toggleMenu()"
			*ngIf="accountService.menuExpandable | await"
		>
			<mat-icon [class.flipped]="(menuExpanded | await) === false">
				keyboard_arrow_left
			</mat-icon>
		</button>

		<div
			fxFlex="10px"
			*ngIf="
				!sidenav &&
				(accountService.menuExpandable | await) === false &&
				(accountService.menuReduced | await) === false
			"
		></div>
	</div>

	<ng-template #buttons>
		<mat-nav-list>
			<ng-container
				*ngIf="
					envService.isTelehealthFull &&
					(currentUser?.user?.userType | await) ===
						accountUserTypes.Standard &&
					((
						accountFilesService.incomingFilesFiltered.redoxPatients()
						| await
					)?.length || 0) > 0
				"
			>
				<a
					mat-list-item
					cyphTranslate
					class="incoming-patient-info emphasis"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Incoming Patient Info"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/incoming-patient-info"
					(click)="click()"
				>
					<mat-icon
						mat-list-icon
						[matBadge]="
							(
								(
									accountFilesService.incomingFilesFiltered.redoxPatients()
									| await
								)?.length || 0
							).toString()
						"
						[matBadgeHidden]="
							!(
								((
									accountFilesService.incomingFilesFiltered.redoxPatients()
									| await
								)?.length || 0) > 0
							)
						"
						matBadgePosition="above after"
					>
						local_hospital
					</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Incoming
					</h3>
				</a>
			</ng-container>

			<ng-container *ngIf="envService.isTelehealth">
				<a
					mat-list-item
					cyphTranslate
					class="appointments"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Appointments"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/appointments"
					(click)="click()"
				>
					<mat-icon
						mat-list-icon
						[matBadge]="
							(
								(
									accountFilesService.incomingFilesFiltered.appointments()
									| await
								)?.length || 0
							).toString()
						"
						[matBadgeHidden]="
							!(
								((
									accountFilesService.incomingFilesFiltered.appointments()
									| await
								)?.length || 0) > 0
							)
						"
						matBadgePosition="above after"
					>
						date_range
					</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Appointments
					</h3>
				</a>
			</ng-container>

			<ng-container
				*ngIf="
					envService.isTelehealthFull &&
					(currentUser?.user?.userType | await) !==
						accountUserTypes.TelehealthDoctor
				"
			>
				<a
					mat-list-item
					cyphTranslate
					class="doctors"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Doctors"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/doctors"
					(click)="click()"
				>
					<mat-icon mat-list-icon svgIcon="doctor"></mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Doctors
					</h3>
				</a>
			</ng-container>

			<ng-container
				*ngIf="
					envService.isTelehealthFull &&
					(currentUser?.user?.userType | await) !==
						accountUserTypes.Standard
				"
			>
				<a
					mat-list-item
					cyphTranslate
					class="patients"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Patients"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/patients"
					(click)="click()"
				>
					<mat-icon mat-list-icon>local_hospital</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Patients
					</h3>
				</a>

				<a
					mat-list-item
					cyphTranslate
					class="staff"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Staff"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/staff"
					(click)="click()"
				>
					<mat-icon mat-list-icon>people</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Staff
					</h3>
				</a>

				<a
					mat-list-item
					cyphTranslate
					class="ehr-access"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="EHR Access"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/ehr-access"
					(click)="click()"
				>
					<mat-icon mat-list-icon>device_hub</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						EHR Access
					</h3>
				</a>
			</ng-container>

			<ng-container *ngIf="!envService.isTelehealthFull">
				<a
					mat-list-item
					cyphTranslate
					class="appointment-scheduler"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					[matTooltip]="
						(accountSettingsService.telehealth | await) ?
							stringsService.meetingsTelehealth :
							stringsService.meetings
					"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/schedule"
					(click)="click()"
					*ngIf="
						(accountSettingsService.staticFeatureFlags.scheduler
							| await) &&
						(accountSettingsService.featureFlags.scheduler.watch()
							| await)
					"
				>
					<mat-icon mat-list-icon> duo </mat-icon>
					<h3 matLine *ngIf="menuExpanded | await">
						{{
							(accountSettingsService.telehealth | await) ?
								stringsService.meetingsTelehealth :
								stringsService.meetings
						}}
					</h3>
				</a>

				<a
					mat-list-item
					cyphTranslate
					class="messaging"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Messaging"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					(click)="
						envService.isMobile.value ?
							accountService.toggleSubMenu('messaging') :
							router.navigate(['inbox']);
						envService.isMobile.value ? undefined : click()
					"
					*ngIf="
						accountSettingsService.featureFlags.messaging.watch()
							| await
					"
				>
					<mat-icon
						mat-list-icon
						[matBadge]="
							(
								((accountService.unreadMessages | await) || 0) +
								((
									accountFilesService.incomingFilesFiltered.notes()
									| await
									| cyphFilter
										: accountFilesService.filterFunctions
												.anonymousMessages
								)?.length || 0)
							).toString()
						"
						[matBadgeHidden]="
							!(
								((accountService.unreadMessages | await) || 0) +
									((
										accountFilesService.incomingFilesFiltered.notes()
										| await
										| cyphFilter
											: accountFilesService
													.filterFunctions
													.anonymousMessages
									)?.length || 0) >
								0
							)
						"
						matBadgePosition="above after"
					>
						message
					</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Messaging
					</h3>
				</a>
				<ng-container
					*ngIf="
						(accountService.subMenuExpanded | await) === 'messaging'
					"
				>
					<cyph-account-messaging
						class="in-menu"
					></cyph-account-messaging>
				</ng-container>

				<a
					mat-list-item
					cyphTranslate
					class="social-feed"
					[class.ui-disabled]="
						!currentUser?.agseConfirmed ||
						!currentUser?.masterKeyConfirmed
					"
					matTooltip="Social"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					routerLink="/feed"
					(click)="click()"
					*ngIf="
						accountSettingsService.featureFlags.social.watch()
							| await
					"
				>
					<mat-icon mat-list-icon> public </mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Social
					</h3>
				</a>
			</ng-container>

			<ng-container
				*ngIf="
					!envService.isTelehealth ||
					(envService.isTelehealth &&
						(currentUser?.user?.userType | await) !==
							accountUserTypes.Standard)
				"
			>
				<a
					mat-list-item
					cyphTranslate
					class="vault"
					[class.ui-disabled]="!currentUser?.masterKeyConfirmed"
					matTooltip="Vault"
					[matTooltipDisabled]="menuExpanded | await"
					matTooltipPosition="right"
					(click)="accountService.toggleSubMenu('vault')"
					*ngIf="
						accountSettingsService.featureFlags.vault.watch()
							| await
					"
				>
					<mat-icon
						mat-list-icon
						[matBadge]="
							(
								((accountFilesService.incomingFiles() | await)
									?.length || 0) -
								((
									accountFilesService.incomingFilesFiltered.notes()
									| await
									| cyphFilter
										: accountFilesService.filterFunctions
												.anonymousMessages
								)?.length || 0)
							).toString()
						"
						[matBadgeHidden]="
							!(
								((accountFilesService.incomingFiles() | await)
									?.length || 0) -
									((
										accountFilesService.incomingFilesFiltered.notes()
										| await
										| cyphFilter
											: accountFilesService
													.filterFunctions
													.anonymousMessages
									)?.length || 0) >
								0
							)
						"
						matBadgePosition="above after"
					>
						storage
					</mat-icon>
					<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
						Vault
					</h3>
				</a>
				<ng-container
					*ngIf="(accountService.subMenuExpanded | await) === 'vault'"
				>
					<cyph-account-vault class="in-menu"></cyph-account-vault>
				</ng-container>
			</ng-container>
		</mat-nav-list>
	</ng-template>

	<ng-template #menuContent>
		<div fxFlex>
			<div cyphNanoScroller>
				<div fxFlex fxFlexFill>
					<div
						class="cover-image"
						[class.hidden]="envService.isTelehealth"
						[style.background-image]="
							urlToSafeStyle(
								currentUser?.user?.coverImage | await
							) | await
						"
						*ngIf="menuExpanded | await"
					></div>

					<div class="context-menu" *ngIf="menuExpanded | await">
						<ng-content></ng-content>
					</div>

					<cyph-account-notification-center
						[menuButton]="true"
					></cyph-account-notification-center>

					<mat-nav-list class="home-list">
						<a
							mat-list-item
							cyphTranslate
							class="home"
							aria-label="Home"
							routerLink="/"
							(click)="click()"
						>
							<cyph-logo
								mat-list-icon
								icon
								white
								*ngIf="(menuExpanded | await) === false"
							></cyph-logo>
							<cyph-logo
								matLine
								white
								*ngIf="menuExpanded | await"
							></cyph-logo>
						</a>
					</mat-nav-list>

					<mat-list class="avatar-list">
						<mat-list-item>
							<img
								cyphTranslate
								matListAvatar
								class="avatar"
								[ngClass]="
									userPresence[
										(currentUser?.user?.status | await) || 0
									]
								"
								alt="Profile Picture"
								[src]="
									(currentUser?.user?.avatar | await) || ''
								"
								routerLink="/profile"
								(click)="click()"
							/>
							<h3 matLine [fxShow]="menuExpanded | await">
								{{ (currentUser?.user?.name | await) || '' }}
							</h3>
							<div
								matLine
								[fxShow]="menuExpanded | await"
								fxLayoutAlign="row"
							>
								<div class="username">
									@{{
										(currentUser?.user?.realUsername
											| await) ||
											currentUser?.user?.username ||
											''
									}}
								</div>
								<mat-select
									cyphTranslate
									[ngModel]="
										(currentUser?.user?.status | await) || 0
									"
									(ngModelChange)="
										currentUser?.user?.accountUserPresence?.setValue(
											{status: $event}
										)
									"
									name="status"
									class="status"
									placeholder="Status"
									*ngIf="!envService.isTelehealth"
								>
									<mat-option
										*ngFor="
											let status of statuses;
											trackBy: trackByValue
										"
										[value]="status.value"
									>
										{{ status.text }}
									</mat-option>
								</mat-select>
							</div>
						</mat-list-item>
					</mat-list>

					<ng-container *ngTemplateOutlet="buttons"></ng-container>
				</div>
			</div>
		</div>

		<mat-nav-list>
			<mat-divider></mat-divider>

			<a
				mat-list-item
				cyphTranslate
				class="invite"
				[matMenuTriggerFor]="inviteMenu"
				[matTooltip]="stringsService.inviteContactTitle"
				[matTooltipDisabled]="menuExpanded | await"
				matTooltipPosition="right"
				*ngIf="
					!envService.isTelehealth &&
					(accountSettingsService.featureFlags.invite.watch()
						| await) &&
					((accountService.hasUnlimitedInvites | await) ||
						((accountInviteService.count | await) || 0) > 0)
				"
			>
				<mat-icon
					mat-list-icon
					[matBadge]="
						((accountInviteService.count | await) || 0).toString()
					"
					[matBadgeHidden]="
						accountService.hasUnlimitedInvites | await
					"
					matBadgePosition="above after"
				>
					person_add
				</mat-icon>
				<h3 matLine *ngIf="menuExpanded | await">
					{{ stringsService.inviteContactTitle }}
				</h3>
			</a>
			<mat-menu #inviteMenu="matMenu">
				<button
					mat-menu-item
					[matTooltip]="stringsService.addContactTooltipInvite"
					matTooltipPosition="right"
					(click)="
						click();
						accountContactsService.addContactPrompt(
							newContactTypes.invite
						)
					"
					*ngIf="
						(accountService.hasUnlimitedInvites | await) ||
						((accountInviteService.count | await) || 0) > 0
					"
				>
					{{ stringsService.addContactButtonInviteEmail }}
				</button>
				<button
					mat-menu-item
					[matTooltip]="stringsService.addContactTooltipInviteLink"
					matTooltipPosition="right"
					(click)="click(); accountInviteService.showInviteURL()"
					*ngIf="
						(accountService.hasUnlimitedInvites | await) ||
						((accountInviteService.count | await) || 0) > 0
					"
				>
					{{ stringsService.inviteLinkButton }}
				</button>
			</mat-menu>

			<cyph-in-app-purchase
				#inAppPurchase
				[userToken]="true"
			></cyph-in-app-purchase>

			<a
				mat-list-item
				cyphTranslate
				class="upgrade"
				matTooltip="Upgrade"
				[matTooltipDisabled]="menuExpanded | await"
				matTooltipPosition="right"
				(click)="
					salesService.openPricing(
						[
							envService.homeUrl,
							'pricing?current=',
							accountSettingsService.getPlanString(),
							'&userToken=',
							accountService.getUserToken(
								accountService.interstitial
							)
						],
						undefined,
						inAppPurchase
					);
					click()
				"
				*ngIf="salesService.upsellAllowed | await"
			>
				<mat-icon mat-list-icon svgIcon="diamond"></mat-icon>
				<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
					Upgrade
				</h3>
			</a>

			<a
				mat-list-item
				cyphTranslate
				class="lifetime-upgrade"
				matTooltip="Lifetime Platinum Offer"
				[matTooltipDisabled]="menuExpanded | await"
				matTooltipPosition="right"
				(click)="
					salesService.openPricing(
						[
							envService.homeUrl,
							'checkout/#',
							'flash-sale/lifetime-platinum',
							'/userToken=',
							accountService.getUserToken(
								accountService.interstitial
							)
						],
						undefined,
						undefined
					);
					click()
				"
				*ngIf="
					(salesService.upsellAllowed | await) &&
					(
						(
							accountDatabaseService.currentUser | await
						)?.user?.extra() | await
					)?.pgp?.keybaseUsername
				"
			>
				<mat-icon mat-list-icon svgIcon="diamond"></mat-icon>
				<h3 matLine *ngIf="menuExpanded | await">
					<strong cyphTranslate>Lifetime Platinum Offer</strong>
				</h3>
			</a>

			<a
				mat-list-item
				cyphTranslate
				class="settings"
				[class.ui-disabled]="!currentUser?.masterKeyConfirmed"
				matTooltip="Settings"
				[matTooltipDisabled]="menuExpanded | await"
				matTooltipPosition="right"
				routerLink="/settings"
				(click)="click()"
			>
				<mat-icon mat-list-icon>settings</mat-icon>
				<h3 matLine cyphTranslate *ngIf="menuExpanded | await">
					Settings
				</h3>
			</a>

			<a
				mat-list-item
				cyphTranslate
				class="lock"
				[class.ui-disabled]="!currentUser?.masterKeyConfirmed"
				matTooltip="Lock"
				[matTooltipDisabled]="menuExpanded | await"
				matTooltipPosition="right"
				(click)="lock()"
			>
				<mat-icon mat-list-icon>lock</mat-icon>
				<h3 matLine cyphTranslate *ngIf="menuExpanded | await">Lock</h3>
			</a>
		</mat-nav-list>
	</ng-template>
</ng-container>
