@import '../../../../css/mixins';

:host, .menu {
	@include transition(all 0.25s ease-out);
}

.sidenav button {
	font-size: 18px;
}

button {
	font-family: Ubuntu;
	font-size: 22px;

	&[mat-icon-button] {
		height: 1.75em;
		width: 1.75em;

		&.home {
			height: 2em;
			width: 2em;
		}
	}

	&.emphasis {
		font-weight: bold;

		@include filter(contrast(2));

		mat-icon {
			@include icon-size(42px);
		}
	}

	mat-icon {
		margin-right: 5px;

		@include icon-size(32px);
	}
}

cyph-logo {
	height: 2.5em;
}

[mat-icon-button] cyph-logo {
	height: 40px;
	margin-top: 6px;
}

img, cyph-logo {
	max-width: 100%;
}

img.avatar {
	width: calc(100% - 10px);
}

.avatar-container {
	width: 100%;
	max-width: 150px;
}

.menu {
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);

	&, .menu-toggle {
		padding: 0;
	}
}

.menu-toggle mat-icon {
	margin-left: -4px;
}
