<mat-toolbar
	fxFlex
	fxHide.gt-xs
	fxLayout='row'
	fxLayoutGap='2px'
	ngClass.gt-xs='hidden'
	class='menu-root'
>
	<button
		mat-icon-button
		cyphTranslate
		class='home'
		matTooltip='Home'
		matTooltipPosition='right'
		[routerLink]='accountService.routeRoot'
		(click)='click()'
	>
		<cyph-logo icon></cyph-logo>
	</button>

	<div fxFlex></div>

	<ng-container *ngTemplateOutlet='buttons'></ng-container>
</mat-toolbar>

<div
	fxFlexFill
	fxHide.xs
	fxLayout='row'
	ngClass.xs='hidden'
	class='menu menu-root'
	[class.collapsed]='(accountService.menuExpanded | async) === false'
	[class.mobile]='envService.isMobile'
	*ngIf='accountDatabaseService.currentUser.value'
>
	<div
		[fxFlex]='(accountService.menuExpanded | async) ? "25px" : "10px"'
		*ngIf='(accountService.menuReduced | async) === false'
	></div>

	<div
		fxFlex
		fxLayout='column'
		[fxLayoutAlign]='
			(accountService.menuExpanded | async) ? "center stretch" : "center center"
		'
		[fxLayoutGap]='(accountService.menuReduced | async) ? "2px" : "16px"'
	>
		<div></div>
		<div *ngIf='accountService.menuExpanded | async'></div>

		<button
			mat-button
			fxFlex='3.5em'
			cyphTranslate
			class='home'
			matTooltip='Home'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<cyph-logo></cyph-logo>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='home'
			matTooltip='Home'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<cyph-logo icon></cyph-logo>
		</button>

		<div fxFlex *ngIf='accountService.menuReduced | async'></div>

		<ng-container *ngIf='(accountService.menuReduced | async) === false'>
			<div></div>
			<div fxLayoutAlign='center center'>
				<div
					[fxFlex]='(accountService.menuExpanded | async) ? "60" : "6em"'
					fxLayoutAlign='center center'
				>
					<div class='avatar-container'>
						<img
							cyphTranslate
							matTooltip='Profile'
							matTooltipPosition='right'
							class='avatar animated fadeIn _1'
							[ngClass]='accountDatabaseService.currentUser.value === undefined ?
								undefined :
								userPresence[
									accountDatabaseService.currentUser.value?.user.status | async
								]
							'
							alt='Profile Picture'
							[src]='accountDatabaseService.currentUser.value?.user.avatar | async'
							[routerLink]='accountService.routeRoot + "profile"'
							(click)='click()'
						/>
					</div>
				</div>
			</div>
			<div></div>
		</ng-container>

		<ng-container *ngTemplateOutlet='buttons'></ng-container>

		<div></div>
		<div *ngIf='accountService.menuExpanded | async'></div>
	</div>

	<button
		mat-button
		fxFlex='25px'
		cyphTranslate
		class='menu-toggle'
		matTooltip='Toggle Menu'
		matTooltipPosition='right'
		(click)='accountService.toggleMenu()'
		*ngIf='accountService.menuExpandable | async'
	>
		<mat-icon [class.flipped]='(accountService.menuExpanded | async) === false'>
			keyboard_arrow_left
		</mat-icon>
	</button>

	<div fxFlex='10px' *ngIf='
		(accountService.menuExpandable | async) === false &&
		(accountService.menuReduced | async) === false
	'></div>
</div>

<ng-template #buttons>
	<button
		mat-button
		cyphTranslate
		class='appointments'
		matTooltip='Appointments'
		matTooltipPosition='right'
		[routerLink]='accountService.routeRoot + "appointments"'
		(click)='click()'
		*ngIf='envService.isTelehealth && (accountService.menuExpanded | async)'
	>
		<mat-icon>date_range</mat-icon>
		<span>Appointments</span>
	</button>
	<button
		mat-icon-button
		cyphTranslate
		class='appointments'
		matTooltip='Appointments'
		matTooltipPosition='right'
		[routerLink]='accountService.routeRoot + "appointments"'
		(click)='click()'
		*ngIf='envService.isTelehealth && (accountService.menuExpanded | async) === false'
	>
		<mat-icon>date_range</mat-icon>
	</button>

	<ng-container *ngIf='!envService.isTelehealth || (
		envService.isTelehealth &&
		(
			accountDatabaseService.currentUser.value?.user.userType | async
		) !== accountUserTypes.Standard
	)'>
		<button
			mat-button
			cyphTranslate
			class='contacts'
			matTooltip='Contacts'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "contacts"'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>people</mat-icon>
			<span>Contacts</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='contacts'
			matTooltip='Contacts'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "contacts"'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>people</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			class='files'
			matTooltip='Files'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "files"'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>folder</mat-icon>
			<span>Files</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='files'
			matTooltip='Files'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "files"'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>folder</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			class='notes'
			matTooltip='Notes'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "notes"'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>create</mat-icon>
			<span>Notes</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='notes'
			matTooltip='Notes'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "notes"'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>create</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			class='docs'
			matTooltip='Docs'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "docs"'
			(click)='click()'
			*ngIf='
				accountService.enableDocs &&
				(accountService.menuExpanded | async)
			'
		>
			<mat-icon>library_books</mat-icon>
			<span>Docs</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='docs'
			matTooltip='Docs'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "docs"'
			(click)='click()'
			*ngIf='
				accountService.enableDocs &&
				(accountService.menuExpanded | async) === false
			'
		>
			<mat-icon>library_books</mat-icon>
		</button>

		<button
			mat-button
			cyphTranslate
			class='forms'
			matTooltip='Forms'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "forms"'
			(click)='click()'
			*ngIf='
				(!envService.environment.production || envService.isTelehealth) &&
				(accountService.menuExpanded | async)
			'
		>
			<mat-icon>content_paste</mat-icon>
			<span>Forms</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='forms'
			matTooltip='Forms'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "forms"'
			(click)='click()'
			*ngIf='
				(!envService.environment.production || envService.isTelehealth) &&
				(accountService.menuExpanded | async) === false
			'
		>
			<mat-icon>content_paste</mat-icon>
		</button>
	</ng-container>

	<ng-container *ngIf='false'>
		<button
			mat-button
			cyphTranslate
			class='settings'
			matTooltip='Settings'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "settings"'
			(click)='click()'
			*ngIf='accountService.menuExpanded | async'
		>
			<mat-icon>settings</mat-icon>
			<span>Settings</span>
		</button>
		<button
			mat-icon-button
			cyphTranslate
			class='settings'
			matTooltip='Settings'
			matTooltipPosition='right'
			[routerLink]='accountService.routeRoot + "settings"'
			(click)='click()'
			*ngIf='(accountService.menuExpanded | async) === false'
		>
			<mat-icon>settings</mat-icon>
		</button>
	</ng-container>

	<div fxFlex></div>

	<button
		mat-button
		cyphTranslate
		class='logout'
		matTooltip='Logout'
		matTooltipPosition='right'
		[routerLink]='accountService.routeRoot + "logout"'
		(click)='click()'
		*ngIf='accountService.menuExpanded | async'
	>
		<mat-icon>exit_to_app</mat-icon>
		<span>Logout</span>
	</button>
	<button
		mat-icon-button
		cyphTranslate
		class='logout'
		matTooltip='Logout'
		matTooltipPosition='right'
		[routerLink]='accountService.routeRoot + "logout"'
		(click)='click()'
		*ngIf='(accountService.menuExpanded | async) === false'
	>
		<mat-icon>exit_to_app</mat-icon>
	</button>
</ng-template>
