<div class='banner' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='16px'>
	<div fxFlex fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='16px'>
		<h2>{{stringsService.bannerText}}</h2>
		<a
			mat-raised-button
			cyphTranslate
			class='donate'
			class='breathe'
			[href]='envService.homeUrl + "donate"'
		>
			Donate
		</a>
	</div>
	<div class='close-banner'>
		<a
			mat-icon-button
			cyphTranslate
			(click)='close.emit()'
		>
			<mat-icon>close</mat-icon>
		</a>
	</div>
</div>
