<!DOCTYPE html>
<html class='no-js' ng-app='Cyph' ng-controller='CyphController' ng-class='{"video": isVideoCall}'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />

		<title
			translate
			ng-bind='(unreadMessages > 0 ? ("(" + unreadMessages + ") ") : "") + "Cyph – Encrypted Messenger"'
		>
			Cyph &ndash; Encrypted Messenger
		</title>
		<meta translate name='description' content='Cyph is a next-generation messenger app that makes privacy the new status quo.' />
		<meta translate name='newMessageNotification' content='New message!' />
		<meta translate name='connectedNotification' content='Connected!' />
		<meta translate name='disconnectedNotification' content='This cyph has been disconnected.' />
		<meta translate name='disconnectWarning' content='After closing Cyph, your messages will no longer be retrievable.' />
		<meta translate name='introductoryMessage' content='You may now speak.' />
		<meta translate name='cypherToast1' content='Prepare to witness the amazing nuts and bolts of Cyph.' />
		<meta translate name='cypherToast2' content='This cyphertext is what outsiders spying on your traffic will see (nothing of value).' />
		<meta translate name='cypherToast3' content='Thou art amazed.' />

		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

		<meta name='apple-mobile-web-app-capable' content='yes' />
		<meta name='mobile-web-app-capable' content='yes' />

		<meta name='google' content='notranslate' />

		<link rel='apple-touch-icon' sizes='57x57' href='/img/favicon/apple-touch-icon-57x57.png' />
		<link rel='apple-touch-icon' sizes='114x114' href='/img/favicon/apple-touch-icon-114x114.png' />
		<link rel='apple-touch-icon' sizes='72x72' href='/img/favicon/apple-touch-icon-72x72.png' />
		<link rel='apple-touch-icon' sizes='144x144' href='/img/favicon/apple-touch-icon-144x144.png' />
		<link rel='apple-touch-icon' sizes='60x60' href='/img/favicon/apple-touch-icon-60x60.png' />
		<link rel='apple-touch-icon' sizes='120x120' href='/img/favicon/apple-touch-icon-120x120.png' />
		<link rel='apple-touch-icon' sizes='76x76' href='/img/favicon/apple-touch-icon-76x76.png' />
		<link rel='apple-touch-icon' sizes='152x152' href='/img/favicon/apple-touch-icon-152x152.png' />
		<link rel='apple-touch-icon' sizes='180x180' href='/img/favicon/apple-touch-icon-180x180.png' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-192x192.png' sizes='192x192' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-160x160.png' sizes='160x160' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-96x96.png' sizes='96x96' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-16x16.png' sizes='16x16' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-32x32.png' sizes='32x32' />
		<meta name='msapplication-TileColor' content='#8b62d9' />
		<meta name='msapplication-TileImage' content='/img/favicon/mstile-144x144.png' />

		<link rel='stylesheet' href='/css/loading.css' />

		<base target='_blank' />
	</head>
	<body>
		<section id='main' layout='column' layout-fill>

		<md-toolbar id='mobile-toolbar' class='mobile-only'>
			<div class='md-toolbar-tools'>
				<a class='logo' ng-href='{{isOnion ? "/" : "https://www.cyph.com"}}'>
					<img src='/img/betalogo.mobile.png' />
				</a>

				<span flex></span>

				<span ng-show='state == states.chat'>
					<md-button
						translate
						class='video-call-button'
						ng-disabled='!isWebRTCEnabled'
						ng-click='videoButton()'
						ng-attr-aria-label='{{!isVideoCall ? "Video Call" : !isCameraOn ? "Enable Camera" : "Disable Camera"}}'
					>
						<img ng-show='!isVideoCall || !isCameraOn' src='/img/icons/video.on.png' />
						<img ng-show='isVideoCall && isCameraOn' src='/img/icons/video.off.png' />
					</md-button>
					<md-button
						translate
						class='voice-call-button'
						aria-label='Voice Call'
						ng-disabled='!isWebRTCEnabled'
						ng-click='voiceButton()'
						ng-attr-aria-label='{{!isVideoCall ? "Voice Call" : !isMicOn ? "Enable Mic" : "Disable Mic"}}'
					>
						<img ng-show='!isVideoCall' src='/img/icons/voice.on.png' />
						<img ng-show='isVideoCall && !isMicOn' src='/img/icons/mic.on.png' />
						<img ng-show='isVideoCall && isMicOn' src='/img/icons/mic.off.png' />
					</md-button>

					<md-button translate aria-label='Menu' ng-click='openMobileMenu()'>
						<img src='/img/icons/menu.png' />
					</md-button>
				</span>
			</div>
		</md-toolbar>

		<md-sidenav md-component-id='menu' class='md-sidenav-right mobile-only'>
			<md-toolbar>
				<h1 translate class='md-toolbar-tools'>Settings</h1>
			</md-toolbar>
			<md-content class='md-padding'>
				<div ng-hide='true'>
					<md-button translate aria-label='Verify Identity' ng-click='twoFactor()'>Verify Identity</md-button>
				</div>
				<div>
					<md-button translate aria-label='Show Cyphertext' ng-click='showCyphertext()'>Show Cyphertext</md-button>
				</div>
				<div>
					<md-button translate aria-label='Formatting Help' ng-click='formattingHelp()'>Formatting Help</md-button>
				</div>
				<div>
					<md-button translate aria-label='Disconnect' ng-click='disconnect()'>Disconnect</md-button>
				</div>
			</md-content>
		</md-sidenav>

		<div id='desktop-sidebar' class='desktop-only'>
			<a class='logo' ng-href='{{isOnion ? "/" : "https://www.cyph.com"}}'>
				<img src='/img/betalogo.png' />
			</a>
			<section ng-show='state == states.chat'>
				<md-button translate aria-label='Verify Identity' ng-click='twoFactor()' ng-hide='true'>Verify Identity</md-button>
				<md-button translate aria-label='Show Cyphertext' ng-click='showCyphertext()'>Show Cyphertext</md-button>
				<md-button translate aria-label='Formatting Help' ng-click='formattingHelp()'>Formatting Help</md-button>
				<md-button translate aria-label='Disconnect' ng-click='disconnect()'>Disconnect</md-button>

				<span
					ng-attr-title='{{
						isConnected && !isWebRTCEnabled ?
							"One of your browsers may lack support for video calling. Try again with the latest Chrome or Firefox." :
							""
					}}'
				>
					<md-button
						translate
						class='md-fab video-call-button'
						ng-disabled='!isWebRTCEnabled'
						ng-click='videoButton()'
						ng-attr-aria-label='{{!isVideoCall ? "Video Call" : !isCameraOn ? "Enable Camera" : "Disable Camera"}}'
					>
						<img ng-show='!isVideoCall || !isCameraOn' src='/img/icons/video.on.png' />
						<img ng-show='isVideoCall && isCameraOn' src='/img/icons/video.off.png' />
					</md-button>
					<md-button
						translate
						class='md-fab voice-call-button'
						ng-disabled='!isWebRTCEnabled'
						ng-click='voiceButton()'
						ng-attr-aria-label='{{!isVideoCall ? "Voice Call" : !isMicOn ? "Enable Mic" : "Disable Mic"}}'
					>
						<img ng-show='!isVideoCall' src='/img/icons/voice.on.png' />
						<img ng-show='isVideoCall && !isMicOn' src='/img/icons/mic.on.png' />
						<img ng-show='isVideoCall && isMicOn' src='/img/icons/mic.off.png' />
					</md-button>
				</span>
			</section>
		</div>

		<div ng-view class='loading' layout='column' layout-fill flex ng-class='{active: state == states.spinningUp}'>
			<div flex></div>
			<div class='logo-animation'><img src='/img/logo.animated.gif' /></div>
			<div translate>Now spinning up your cyph room...</div>
			<div flex></div>
		</div>

		<div ng-view class='loading' layout='column' layout-fill flex ng-class='{active: state == states.waitingForFriend}'>
			<div flex></div>
			<div class='logo-animation'><img src='/img/logo.animated.gif' /></div>
			<div>
				<div translate>Just have your friend open this link, and we're good to go!</div>
				<br />

				<md-input-container id='copy-url-input' class='desktop-only'>
					<input ng-model='copyUrl' />
				</md-input-container>

				<div id='copy-url-mobile' class='mobile-only'>
					<a id='copy-url-link' ng-href='{{copyUrl}}'>{{copyUrl}}</a>
					<br />

					<md-button
						translate
						class='md-fab'
						aria-label='SMS'
					>
						<img src='/img/icons/sms.png' />
						<a target='_self' ng-href='sms:?body={{copyUrlEncoded}}'></a>
					</md-button>

					<span class='divider'>&nbsp;</span>

					<md-button
						translate
						class='md-fab'
						aria-label='Email'
					>
						<img src='/img/icons/email.png' />
						<a target='_self' ng-href='mailto:?body={{copyUrlEncoded}}'></a>
					</md-button>
				</div>

				<br />
				<div>
					<span translate>Link expires in</span>
					<timer id='timer' interval='1000' countdown='600' autostart='false' finish-callback='abortSetup()'>
						{{minutes}}:{{sseconds}}
					</timer>
				</div>
			</div>
			<div flex></div>
		</div>

		<div ng-view class='loading' layout='column' layout-fill flex ng-class='{active: state == states.aborted}'>
			<div flex></div>
			<div class='logo-animation'><img src='/img/walken.png' /></div>
			<div>
				<div translate>This cyph has been aborted.</div>
				<br />
				<span translate>Please</span>
				<a translate target='_self' ng-href='{{isOnion ? "/im/#new" : "/#new"}}'>try again</a>.
			</div>
			<div flex></div>
		</div>

		<div id='websign-obsolete' ng-view class='loading' layout='column' layout-fill flex ng-class='{active: state == states.webSignObsolete}'>
			<div flex></div>
			<div class='logo-animation'><img src='/img/walken.png' /></div>
			<div>
				<p>
					<strong translate>WARNING:</strong>
					<span translate>Your copy of Cyph is invalid.</span>
				</p>
				<p>
					<span translate>It is likely that either our server has been compromised, or your personal computer is under attack.</span>
				</p>
				<p>
					<span translate>Therefore,</span>
					<strong translate>DO NOT refresh this page or otherwise continue to use Cyph.</strong>
					<br />
					<span translate>Doing so may expose you to malicious code written by nation-state-level hackers.</span>
				</p>
				<p>
					<a href='https://twitter.com/cyph'>Tweet at us</a>
					<span translate>and</span>
					<a ng-href='mailto:%22Ryan%20Lester%22%20%3Chacker@linux.com%3E,%20%22Baron%20Joshua%20Cyrus%20Boehm%22%20%3Cjosh@joshboehm.com%3E?subject=I%20RECEIVED%20THE%20WALKEN%20WARNING&body={{webSignHashes}}'>email us immediately</a>;
					<span translate>we will investigate and advise you on how to proceed.</span>
				</p>
				<p>
					<span translate>(This</span>
					<i translate>may</i>
					<span translate>be a glitch in the Matrix, but assume otherwise until you hear back from us.)</span>
				</p>
			</div>
			<div flex></div>
		</div>

		<md-content id='error' ng-view flex class='nano' ng-class='{active: state == states.error}'>
			<div class='nano-content'>
				<div>
					<h1 translate>I'm sorry, but your cyph is in another castle...</h1>
				</div>
				<img src='/img/404.png' />
				<div id='errorExplanation'>
					<p>
						<span translate>Please</span>
						<a translate target='_self' ng-href='{{isOnion ? "/im/#new" : "/#new"}}'>try again</a>.
					</p>
					<p translate>Reasons why you may have landed here:</p>
					<ul>
						<li translate>
							The cyph you're looking for has expired
						</li>
						<li translate>
							The cyph you're looking for has already been connected to (someone else got there first, or you clicked twice)
						</li>
						<li translate>
							A glitch in the matrix
						</li>
						<li translate>
							You're just guessing random URLs
						</li>
						<li translate>
							We broke something
						</li>
					</ul>
				</div>
			</div>
		</md-content>

		<div id='chat-begin-message' ng-view layout='column' layout-fill flex ng-class='{active: state == states.chatBeginMessage}'>
			<div flex></div>
			<div translate>Connected!</div>
			<div flex></div>
		</div>

		<div id='video-call' ng-view flex ng-class='{active: state == states.chat}'>
			<video class='friend' autoplay loop>
				<source src='/video/background.webm' type='video/webm' />
			</video>
			<video class='me' autoplay></video>

			<md-button
				translate
				aria-label='End Call'
				class='md-fab md-theme-grey close-button'
				ng-click='stopVideoCall()'
			>
				<strong>&times;</strong>
			</md-button>
		</div>

		<div id='message-list' ng-view flex class='nano' ng-class='{active: state == states.chat, "is-connected": isConnected}'>
			<md-content class='nano-content'>
				<md-list layout='column'>
					<md-item
						class='message-item unread'
						ng-class='message.authorClass'
						ng-repeat='message in messages'
						layout='horizontal'
					>
						<span class='message'>
							<strong
								translate
								class='message-author'
								ng-hide='message.isFromApp'
								ng-bind='(message.author == authors.me ? "me" : "friend") + ": "'
							></strong>
							<span
								class='message-text'
								ng-markdown='message.text'
								ng-class='{"app-message": message.isFromApp}'
							></span>
						</span>
						<span flex class='message-timestamp'>
							<span class='mobile-only' ng-show='message.author == authors.me'>
								<span translate>me</span> &nbsp;&mdash;&nbsp;
							</span>

							{{message.timestamp}}

							<!--
								<span class='message-pending ellipsis-spinner'>
									<div class='bounce1'></div>
									<div class='bounce2'></div>
									<div class='bounce3'></div>
								</span>
							-->

							<span class='mobile-only' ng-show='message.author == authors.friend'>
								&nbsp;&mdash;&nbsp; <span translate>friend</span>
							</span>
						</span>
					</md-item>

					<md-item id='friend-is-typing' ng-class='{"show": isFriendTyping}'>
						<span class='ellipsis-spinner'>
							<div class='bounce1'></div>
							<div class='bounce2'></div>
							<div class='bounce3'></div>
						</span>
					</md-item>
				</md-list>
			</md-content>

			<div id='setting-up-crypto' class='loading' layout='column' layout-fill flex>
				<div flex></div>
				<div class='logo-animation'><img src='/img/logo.animated.gif' /></div>
				<div translate>Authenticating connection...</div>
				<div flex></div>
			</div>
		</div>

		<div id='blank' ng-view flex ng-class='{active: state == states.blank}'></div>

		<footer>
			<div id='message-wrapper' ng-show='state == states.chat && isAlive'>
				<textarea
					translate
					id='message-box'
					ng-model='message'
					ng-trim='false'
					ng-change='onMessageChange()'
					class='tabIndent'
					on-enterpress='sendMessage()'
					enterpress-only='desktop'
					placeholder='Send a secure message...'
				></textarea>

				<md-button
					translate
					id='send-button'
					ng-class='{"message-wrapper-hidden": message == ""}'
					on-click='sendMessage()'
					class='mobile-only'
					aria-label='Send'
				>
					<img src='/img/icons/send.png' />
				</md-button>

				<md-button
					translate
					id='insert-photo-mobile'
					ng-class='{"message-wrapper-hidden": message != ""}'
					class='mobile-only'
					aria-label='Insert Photo'
				>
					<img src='/img/icons/insertphoto.grey.png' />
					<input accept='image/*' type='file' on-change='insertPhoto($this[0])' />
				</md-button>

				<md-button
					translate
					id='insert-photo-desktop'
					ng-class='{"message-wrapper-hidden": message != ""}'
					class='md-fab desktop-only'
					aria-label='Insert Photo'
				>
					<img src='/img/icons/insertphoto.png' />
					<input accept='image/*' type='file' on-change='insertPhoto($this[0])' />
				</md-button>

				<md-subheader
					id='new-messages'
					ng-show='unreadMessages > 0'
					class='md-subheader-colored md-sticky-clone'
					sticky-state='active'
					ng-click='scrollDown()'
				>
					<strong>&#8595;&nbsp;&nbsp;</strong>
					<span
						translate
						ng-bind='unreadMessages + " " + "new" + " " + (unreadMessages > 1 ? "messages" : "message")'
					></span>
				</md-subheader>
			</div>

			<div id='footer' class='desktop-only'>
				&copy; Cyph 2015
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='https://twitter.com/cyph'>@cyph</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='mailto:hello@cyph.com'>hello@cyph.com</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_self' href='tel:+19312974462' title='+1(931) 297 4462'>+1(931) CYPH INC</a>
				<!-- <a target='_self' href='tel:+18447472974' title='+1 THIS IS CYPH'>+1 THIS IS CYPH</a> -->

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_self' href='bitcoin:1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd'>1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd</a>
			</div>
		</footer>

		</section>



		<div id='cyphertext' class='nano'>
			<md-content class='nano-content'>
				<md-list layout='column'>
					<md-item class='message-item unread' ng-repeat='message in cyphertext' layout='horizontal'>
						<span class='message'>
							<strong
								translate
								ng-bind='(message.author == authors.me ? "me" : "friend") + ": "'
							></strong>
							<span flex>{{message.text}}</span>
							<br />
							<br />
						</span>
					</md-item>
				</md-list>
			</md-content>
			<md-button
				translate
				aria-label='Close Cyphertext'
				class='md-fab md-theme-grey close-button'
				ng-click='closeCyphertext()'
			>
				<strong>&times;</strong>
			</md-button>
		</div>

		<div id='pre-load' ng-class='{"load-complete": state != states.none}'>
			<div class='double-bounce1'></div>
			<div class='double-bounce2'></div>
		</div>



		<div id='templates'>
			<md-dialog class='formatting-help'>
				<md-content>
					<h2 translate>
						Formatting Help
					</h2>
					<p>
						<span translate>Cyph uses a version of Markdown called</span>
						<a href='http://commonmark.org/'>CommonMark</a>
						<span translate>
							for formatting. We also support various extensions &ndash;
							including emojis and code fencing.
						</span>
					</p>
					<p translate>
						The following examples are shamelessly copied from reddit:
					</p>
					<table>
						<tbody>
							<tr>
								<th translate>you type:</th>
								<th translate>you see:</th>
							</tr>
							<tr>
								<td>*<span translate>italics</span>*</td>
								<td><em translate>italics</em></td>
							</tr>
							<tr>
								<td>**<span translate>bold</span>**</td>
								<td><b translate>bold</b></td>
							</tr>
							<tr>
								<td>[cyph <span translate>me</span>!](https://cyph.com)</td>
								<td><a href='https://cyph.com'>cyph <span translate>me</span>!</a></td>
							</tr>
							<tr>
								<td>
									<br />
									* <span translate>item 1</span>
									<br />
									* <span translate>item 2</span>
									<br />
									* <span translate>item 3</span>
								</td>
								<td>
									<ul>
										<li translate>item 1</li>
										<li translate>item 2</li>
										<li translate>item 3</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<br />
									&gt; <span translate>quoted text</span>
								</td>
								<td>
									<blockquote translate>quoted text</blockquote>
								</td>
							</tr>
							<tr>
								<td>
									<span translate>Lines starting with tabs are treated like code:</span>

									<br />
									<br />

									<span class='spaces'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
									if 1 * 2 &lt; 3:
									<br />
									<span class='spaces'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									print "hello!"
									<br />
								</td>
								<td>
									<span translate>Lines starting with tabs are treated like code:</span>

									<br />
									<br />

									<pre>if 1 * 2 &lt; 3:<br />&nbsp;&nbsp;&nbsp;&nbsp;print "hello!"</pre>
								</td>
							</tr>
							<tr>
								<td>~~<span translate>strikethrough</span>~~</td>
								<td><strike translate>strikethrough</strike></td>
							</tr>
							<tr>
								<td><span translate>super</span>^<span translate>script</span>^</td>
								<td><span translate>super</span><sup translate>script</sup></td>
							</tr>
						</tbody>
					</table>
				</md-content>
			</md-dialog>
		</div>



		<link rel='stylesheet' href='/lib/bower_components/angular-material/angular-material.min.css' />
		<link rel='stylesheet' href='/lib/bower_components/nanoscroller/bin/css/nanoscroller.css' />
		<link rel='stylesheet' href='/lib/bower_components/magnific-popup/dist/magnific-popup.css' />
		<link rel='stylesheet' href='/lib/highlight.js.min.css' />

		<link rel='stylesheet' href='/css/fonts.css' />
		<link rel='stylesheet' href='/css/cyph.base.css' />
		<link rel='stylesheet' href='/css/cyph.im.css' />


		<script src='/js/cryptoInit.js'></script>
		<script src='/js/unsupportedbrowsers.js'></script>

		<script src='/lib/bower_components/jquery/dist/jquery.min.js'></script>

		<script src='/js/cyph.im.translations.js'></script>
		<script src='/js/translate.js'></script>

		<script src='/lib/bower_components/jquery_appear/jquery.appear.js'></script>
		<script src='/lib/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js'></script>
		<script src='/lib/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js'></script>
		<script src='/lib/bower_components/angular/angular.min.js'></script>
		<script src='/lib/bower_components/angular-aria/angular-aria.min.js'></script>
		<script src='/lib/bower_components/angular-animate/angular-animate.min.js'></script>
		<script src='/lib/bower_components/angular-material/angular-material.min.js'></script>
		<script src='/lib/bower_components/markdown-it/dist/markdown-it.min.js'></script>
		<script src='/lib/bower_components/markdown-it-sup/dist/markdown-it-sup.min.js'></script>
		<script src='/lib/highlight.min.js'></script>
		<script src='/lib/bower_components/twemoji/twemoji.min.js'></script>
		<script src='/lib/bower_components/markdown-it-emoji/dist/markdown-it-emoji.min.js'></script>
		<script src='/lib/bower_components/angular-timer/dist/angular-timer.min.js'></script>
		<script src='/lib/bower_components/visibilityjs/lib/visibility.core.js'></script>
		<script src='/lib/bower_components/visibilityjs/lib/visibility.timers.js'></script>
		<script src='/lib/bower_components/visibilityjs/lib/visibility.fallback.js'></script>
		<script src='/lib/bower_components/visibilityjs/lib/visibility.js'></script>
		<script src='/lib/bower_components/tabIndent.js/js/tabIndent.js'></script>
		<script src='/lib/bower_components/aws-sdk-js/dist/aws-sdk.min.js'></script>
		<script src='/cryptolib/hmac-sha256.js'></script>

		<script src='/js/visibilityPolyfill.js'></script>
		<script src='/js/addressSpace.js'></script>
		<script src='/js/webSignHashes.js'></script>
		<script src='/js/aws.js'></script>
		<script src='/js/cyph.js'></script>
		<script src='/js/analytics.js'></script>
		<script src='/js/channel.js'></script>
		<script src='/js/cryptoWebWorker.js'></script>
		<script src='/js/cyph.im.js'></script>
		<script src='/js/cyph.im.ui.js'></script>

		<script>
			/* No more scripts, now that application code has been loaded */
			$('head').append("<meta http-equiv='Content-Security-Policy' content=\"script-src 'unsafe-eval'\" />");
		</script>

	</body>
</html>
