<div
	fxFlexFill
	fxLayout="row"
	fxLayoutAlign="center start"
	class="card-list"
	[class.initiating]="(accountFilesService.showSpinner | await) !== undefined"
	*ngIf="envService.isTelehealth"
>
	<div
		fxFlex="95"
		fxLayout="column"
		fxLayoutAlign="center stretch"
		fxLayoutGap="16px"
		fxLayoutGap.lt-md="8px"
	>
		<ng-container
			*ngFor="
				let redoxPatient of accountFilesService.incomingFilesFiltered
					.redoxPatients | await;
				trackBy: trackByID;
				let i = index
			"
		>
			<mat-card
				class="redox-patient animated"
				*ngIf="
					getRedoxPatient(redoxPatient) | await as redoxPatientData
				"
				[attr.data-index]="i"
				[class.bounceInRight]="
					(accountFilesService.initiated | await) === false
				"
				[ngClass]="'_' + i"
			>
				<mat-card-header fxLayout="row">
					<mat-card-title>
						<a [routerLink]="'/profile/' + redoxPatient.owner">
							@{{ redoxPatient.owner }}
						</a>
					</mat-card-title>
					<div fxFlex fxLayoutAlign="end center">
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Accept"
							(click)="accept(redoxPatient)"
						>
							<mat-icon>check</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Reject"
							(click)="
								accountFilesService.acceptIncomingFile(
									redoxPatient,
									false
								)
							"
						>
							<mat-icon>close</mat-icon>
						</button>
					</div>
				</mat-card-header>
				<mat-card-content>
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>
									<div cyphTranslate>View Contents</div>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<pre>{{ prettyPrint(redoxPatientData) }}</pre>
						</mat-expansion-panel>
					</mat-accordion>
				</mat-card-content>
			</mat-card>
		</ng-container>
	</div>

	<ng-container
		*ngIf="(accountFilesService.showSpinner | await) !== undefined"
	>
		<cyph-spinner
			mode="indeterminate"
			*ngIf="
				((accountFilesService.showSpinner | await) || 0) < 1;
				else determinateFileSpinner
			"
		></cyph-spinner>
		<ng-template #determinateFileSpinner>
			<cyph-spinner
				mode="determinate"
				[value]="(accountFilesService.showSpinner | await) || 1"
			></cyph-spinner>
		</ng-template>
	</ng-container>
</div>
