/.bootstrap.original
/.build
/docs
/qr-invite-codes
/threadpack.log
.build.yaml
*.mmdb
.sass-cache
.DS_Store
nohup.out
*.swp
*.orig
firebase-debug.log
npm-debug.log
node_modules
Dockerfile.tmp
.nsbuildinfo
.vscode
