/.bootstrap.original
/.build
/docs
/qr-invite-codes
/serve.ready
/threadpack.log
/users.json
.build.yaml
*.mmdb
.sass-cache
.DS_Store
nohup.out
*.swp
*.orig
documentation
firebase-debug.log
npm-debug.log
node_modules
Dockerfile.tmp
.gcloudignore
.nsbuildinfo
.vscode
