<?xml version='1.0' encoding='utf-8'?>
<widget
	id="com.cyph.app"
	version="1.0.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
>
	<name>Cyph</name>
	<description>
		Completely private voice and video chat.
	</description>
	<author email="hello@cyph.com" href="https://www.cyph.com">
		Cyph, Inc.
	</author>

	<content src="index.html" />

	<plugin name="cordova-plugin-battery-status" spec="*" />
	<plugin name="cordova-plugin-camera" spec="*" />
	<plugin name="cordova-plugin-device" spec="*" />
	<plugin name="cordova-plugin-dialogs" spec="*" />
	<plugin name="cordova-plugin-file" spec="*" />
	<plugin name="cordova-plugin-geolocation" spec="*" />
	<plugin name="cordova-plugin-globalization" spec="*" />
	<plugin name="cordova-plugin-inappbrowser" spec="*" />
	<plugin name="cordova-plugin-media-capture" spec="*" />
	<plugin name="cordova-plugin-network-information" spec="*" />
	<plugin name="cordova-plugin-vibration" spec="*" />
	<plugin name="cordova-plugin-whitelist" spec="*" />

	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />

	<preference name="android-minSdkVersion" value="19" />

	<platform name="android">
		<preference name="OverrideUserAgent" value="Mozilla/5.0 (Linux; Android 7.1; Pixel XL Build/NDE63H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.91 Mobile Safari/537.36" />

		<allow-intent href="market:*" />

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.NFC" />
			<uses-permission android:name="android.permission.READ_CALENDAR" />
			<uses-permission android:name="android.permission.READ_CONTACTS" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.USE_FINGERPRINT" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-permission android:name="android.permission.WRITE_CALENDAR" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<icon density="ldpi" src="res/icon/android/drawable-ldpi-icon.png" />
		<icon density="mdpi" src="res/icon/android/drawable-mdpi-icon.png" />
		<icon density="hdpi" src="res/icon/android/drawable-hdpi-icon.png" />
		<icon density="xhdpi" src="res/icon/android/drawable-xhdpi-icon.png" />
		<icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi-icon.png" />
		<icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi-icon.png" />
		<splash density="land-ldpi" src="res/screen/android/drawable-land-ldpi-screen.png" />
		<splash density="land-mdpi" src="res/screen/android/drawable-land-mdpi-screen.png" />
		<splash density="land-hdpi" src="res/screen/android/drawable-land-hdpi-screen.png" />
		<splash density="land-xhdpi" src="res/screen/android/drawable-land-xhdpi-screen.png" />
		<splash density="land-xxhdpi" src="res/screen/android/drawable-land-xxhdpi-screen.png" />
		<splash density="land-xxxhdpi" src="res/screen/android/drawable-land-xxxhdpi-screen.png" />
		<splash density="port-ldpi" src="res/screen/android/drawable-port-ldpi-screen.png" />
		<splash density="port-mdpi" src="res/screen/android/drawable-port-mdpi-screen.png" />
		<splash density="port-hdpi" src="res/screen/android/drawable-port-hdpi-screen.png" />
		<splash density="port-xhdpi" src="res/screen/android/drawable-port-xhdpi-screen.png" />
		<splash density="port-xxhdpi" src="res/screen/android/drawable-port-xxhdpi-screen.png" />
		<splash density="port-xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi-screen.png" />
	</platform>

	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />

		<icon height="57" platform="ios" src="res/icon/ios/icon.png" width="57" />
		<icon height="114" platform="ios" src="res/icon/ios/icon@2x.png" width="114" />
		<icon height="40" platform="ios" src="res/icon/ios/icon-40.png" width="40" />
		<icon height="80" platform="ios" src="res/icon/ios/icon-40@2x.png" width="80" />
		<icon height="50" platform="ios" src="res/icon/ios/icon-50.png" width="50" />
		<icon height="100" platform="ios" src="res/icon/ios/icon-50@2x.png" width="100" />
		<icon height="60" platform="ios" src="res/icon/ios/icon-60.png" width="60" />
		<icon height="120" platform="ios" src="res/icon/ios/icon-60@2x.png" width="120" />
		<icon height="180" platform="ios" src="res/icon/ios/icon-60@3x.png" width="180" />
		<icon height="72" platform="ios" src="res/icon/ios/icon-72.png" width="72" />
		<icon height="144" platform="ios" src="res/icon/ios/icon-72@2x.png" width="144" />
		<icon height="76" platform="ios" src="res/icon/ios/icon-76.png" width="76" />
		<icon height="152" platform="ios" src="res/icon/ios/icon-76@2x.png" width="152" />
		<icon height="29" platform="ios" src="res/icon/ios/icon-small.png" width="29" />
		<icon height="58" platform="ios" src="res/icon/ios/icon-small@2x.png" width="58" />
		<icon height="87" platform="ios" src="res/icon/ios/icon-small@3x.png" width="87" />
		<splash height="1136" platform="ios" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
		<splash height="1334" platform="ios" src="res/screen/ios/Default-667h.png" width="750" />
		<splash height="2208" platform="ios" src="res/screen/ios/Default-736h.png" width="1242" />
		<splash height="1242" platform="ios" src="res/screen/ios/Default-Landscape-736h.png" width="2208" />
		<splash height="1536" platform="ios" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
		<splash height="768" platform="ios" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
		<splash height="2048" platform="ios" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
		<splash height="1024" platform="ios" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
		<splash height="960" platform="ios" src="res/screen/ios/Default@2x~iphone.png" width="640" />
		<splash height="480" platform="ios" src="res/screen/ios/Default~iphone.png" width="320" />
	</platform>

	<engine name="android" spec="*" />
	<engine name="ios" spec="*" />
</widget>
