<ng-container *ngIf="currentDate | await as now">
	<ng-container *ngIf="calendarInvite | await as value">
		<div
			fxFlexFill
			fxLayout="column"
			fxLayoutGap="8px"
			(blur)="onTouched()"
			*ngIf="
				value?.alternateDays !== undefined &&
				value?.alternateTimeFrames !== undefined &&
				value?.callType !== undefined &&
				value?.description !== undefined &&
				value?.endTime !== undefined &&
				value?.startTime !== undefined &&
				value?.title !== undefined
			"
		>
			<!-- Disabled dropdown reasons for now -->
			<mat-form-field
				fxFlex
				*ngIf="
					!!reasons && (isDisabledWrapper | await) === false && false
				"
			>
				<mat-select
					fxFlex
					name="reason-for-appointment"
					[ngModel]="value?.title || ''"
					(ngModelChange)="
						(value || {title: ''}).title = $event;
						value && valueChange(value)
					"
					[placeholder]="stringsService.reasonForAppointment"
					required
				>
					<mat-option
						[value]="reason"
						*ngFor="let reason of reasons; trackBy: trackBySelf"
					>
						{{ reason }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<!-- Enabled text reason for now -->
			<mat-form-field
				fxFlex
				*ngIf="!reasons || (isDisabledWrapper | await) || true"
			>
				<input
					matInput
					name="reason-for-appointment"
					[ngModel]="
						value?.title ||
						stringsService.reasonForAppointmentDefault
					"
					(ngModelChange)="
						(value || {title: ''}).title = $event;
						value && valueChange(value)
					"
					[placeholder]="stringsService.reasonForAppointment"
					[disabled]="(isDisabledWrapper | await) === true"
					required
					type="text"
				/>
			</mat-form-field>

			<div
				fxLayoutGap="16px"
				*ngIf="(isDisabledWrapper | await) === false"
			>
				<mat-form-field fxFlex>
					<mat-select
						fxFlex
						name="duration"
						[ngModel]="duration"
						(ngModelChange)="
							duration = $event;
							(value || {endTime: 0}).endTime =
								value?.startTime !== undefined ?
									(value?.startTime || 0) + duration :
									value?.endTime || 0;
							value && valueChange(value)
						"
						[placeholder]="stringsService.appointmentDuration"
						required
					>
						<mat-option
							[value]="duration"
							*ngFor="
								let duration of durations;
								trackBy: trackBySelf
							"
						>
							{{ getDurationString(duration) }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field fxFlex>
					<mat-select
						fxFlex
						name="call-type"
						[ngModel]="value?.callType || callTypes.None"
						(ngModelChange)="
							(value || {callType: callTypes.None}).callType =
								$event;
							value && valueChange(value)
						"
						[placeholder]="stringsService.callType"
						required
					>
						<mat-option [value]="callTypes.None">{{
							stringsService.noCall
						}}</mat-option>
						<mat-option [value]="callTypes.Audio">{{
							stringsService.voice
						}}</mat-option>
						<mat-option [value]="callTypes.Video">{{
							stringsService.video
						}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<mat-form-field fxFlex *ngIf="isDisabledWrapper | await">
				<input
					matInput
					name="call-type"
					[ngModel]="
						value?.callType === callTypes.Audio ?
							stringsService.voice :
						value?.callType === callTypes.Video ?
							stringsService.video :
							stringsService.noCall
					"
					[placeholder]="stringsService.callType"
					[disabled]="true"
					required
					type="text"
				/>
			</mat-form-field>

			<div
				fxFlex
				fxLayout="column"
				fxLayout.gt-sm="row"
				fxLayoutAlign.gt-sm="start start"
				fxLayoutGap="16px"
			>
				<mat-form-field>
					<input
						matInput
						name="start-date"
						[disabled]="(isDisabledWrapper | await) === true"
						[matDatepicker]="datepickerStart"
						[matDatepickerFilter]="dateFilter"
						[min]="
							getTimes(
								timeRange,
								timeIncrement,
								getStartPadding(timeRange, now, now),
								duration / 60000
							).length > 0 ?
								now :
								(tomorrow | await)
						"
						[ngModel]="timestampToDate(value?.startTime || 0)"
						(ngModelChange)="
							(value || {startTime: 0}).startTime =
								timestampUpdate(value?.startTime || 0, $event);
							(value || {endTime: 0}).endTime =
								(value?.startTime || 0) + duration;
							value && valueChange(value)
						"
						[placeholder]="stringsService.startDate"
						required
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="datepickerStart"
					></mat-datepicker-toggle>
					<mat-datepicker
						[touchUi]="mobile"
						#datepickerStart
					></mat-datepicker>
				</mat-form-field>

				<mat-form-field *ngIf="isDisabledWrapper | await">
					<input
						matInput
						mat-timepicker
						name="start-time"
						[disabled]="(isDisabledWrapper | await) === true"
						[ngModel]="
							timestampTo24HourTimeString(value?.startTime || 0)
						"
						(ngModelChange)="
							(value || {startTime: 0}).startTime =
								timestampUpdate(
									value?.startTime || 0,
									undefined,
									$event
								);
							(value || {endTime: 0}).endTime =
								(value?.startTime || 0) + duration;
							value && valueChange(value)
						"
						type="time"
						[placeholder]="stringsService.startTime"
					/>
				</mat-form-field>

				<mat-form-field *ngIf="(isDisabledWrapper | await) === false">
					<mat-select
						fxFlex="180px"
						name="start-time"
						[ngModel]="timestampToTime(value?.startTime || 0)"
						(ngModelChange)="
							(value || {startTime: 0}).startTime =
								timestampUpdate(
									value?.startTime || 0,
									undefined,
									$event
								);
							(value || {endTime: 0}).endTime =
								(value?.startTime || 0) + duration;
							value && valueChange(value)
						"
						[placeholder]="stringsService.startTime"
						required
					>
						<mat-option
							[value]="time"
							*ngFor="
								let time of getTimes(
									timeRange,
									timeIncrement,
									getStartPadding(
										timeRange,
										now,
										value?.startTime || 0
									),
									duration / 60000
								);
								trackBy: trackBySelf
							"
						>
							{{ timeToString(time) }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field *ngIf="false">
					<input
						matInput
						disabled
						type="text"
						[placeholder]="stringsService.timeZone"
						value="EST"
					/>
				</mat-form-field>

				<a
					mat-button
					cyphTranslate
					(click)="setNow()"
					*ngIf="
						envService.isLocalEnv &&
						(isDisabledWrapper | await) === false
					"
					>Now</a
				>

				<div *ngIf="!mobile"></div>

				<ejs-recurrenceeditor
					fxFlex
					[startDate]="timestampToDate(value?.startTime || 0)"
					[value]="serializeRecurrenceRule(value?.recurrence)"
					(change)="setRecurrence($event)"
				></ejs-recurrenceeditor>
			</div>

			<div fxLayoutAlign="start">
				<div fxLayout="column" fxLayoutGap="16px">
					<h4
						cyphTranslate
						class="sharing-options text-center"
						[class.mobile]="mobile"
					>
						Sharing Options
					</h4>

					<div fxLayout="row" fxLayoutGap="8px">
						<mat-checkbox
							cyphTranslate
							name="appointment-sharing-inviter-time-zone"
							matTooltip="If selected, will reveal your local time zone to the recipient in the event details, except if their local time zone can be determined based on their phone number. If deselected, UTC will be used instead."
							[ngModel]="
								(appointmentSharing.inviterTimeZone | await) ===
								true
							"
							(ngModelChange)="
								appointmentSharingChange.emit(
									appointmentSharing.setInviterTimeZone(
										$event
									)
								)
							"
						>
							Local Time Zone
						</mat-checkbox>

						<mat-checkbox
							cyphTranslate
							name="appointment-sharing-member-list"
							matTooltip="If selected, will share the full list of guest names with each guest."
							[ngModel]="
								(appointmentSharing.memberList | await) === true
							"
							(ngModelChange)="
								appointmentSharingChange.emit(
									appointmentSharing.setMemberList($event)
								)
							"
						>
							Guest List
						</mat-checkbox>

						<mat-checkbox
							cyphTranslate
							name="appointment-sharing-member-contact-info"
							matTooltip="If selected, will share the contact details for every guest with each guest."
							[disabled]="
								(appointmentSharing.memberList | await) !== true
							"
							[ngModel]="
								(appointmentSharing.memberContactInfo
									| await) === true
							"
							(ngModelChange)="
								appointmentSharingChange.emit(
									appointmentSharing.setMemberContactInfo(
										$event
									)
								)
							"
						>
							Guest Contact Info
						</mat-checkbox>
					</div>
				</div>
			</div>

			<!-- End time selection hidden in favor of appointment duration selection, for now -->
			<div fxFlex fxLayoutGap="16px" *ngIf="isDisabledWrapper | await">
				<mat-form-field>
					<input
						matInput
						name="end-date"
						[disabled]="(isDisabledWrapper | await) === true"
						[matDatepicker]="datepickerEnd"
						[matDatepickerFilter]="dateFilter"
						[min]="timestampToDate(value?.startTime || 0)"
						[ngModel]="timestampToDate(value?.endTime || 0)"
						(ngModelChange)="
							(value || {endTime: 0}).endTime = timestampUpdate(
								value?.endTime || 0,
								$event
							);
							(value || {startTime: 0}).startTime =
								(value?.endTime || 0) - duration;
							value && valueChange(value)
						"
						[placeholder]="stringsService.endDate"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="datepickerEnd"
					></mat-datepicker-toggle>
					<mat-datepicker
						[touchUi]="mobile"
						#datepickerEnd
					></mat-datepicker>
				</mat-form-field>

				<mat-form-field *ngIf="isDisabledWrapper | await">
					<input
						matInput
						mat-timepicker
						name="end-time"
						[disabled]="(isDisabledWrapper | await) === true"
						[ngModel]="
							timestampTo24HourTimeString(value?.endTime || 0)
						"
						(ngModelChange)="
							(value || {endTime: 0}).endTime = timestampUpdate(
								value?.endTime || 0,
								undefined,
								$event
							);
							(value || {startTime: 0}).startTime =
								(value?.endTime || 0) - duration;
							value && valueChange(value)
						"
						type="time"
						[placeholder]="stringsService.endTime"
					/>
				</mat-form-field>

				<mat-form-field *ngIf="(isDisabledWrapper | await) === false">
					<mat-select
						fxFlex="180px"
						name="end-time"
						[ngModel]="timestampToTime(value?.endTime || 0)"
						(ngModelChange)="
							(value || {endTime: 0}).endTime = timestampUpdate(
								value?.endTime || 0,
								undefined,
								$event
							);
							(value || {startTime: 0}).startTime =
								(value?.endTime || 0) - duration;
							value && valueChange(value)
						"
						[placeholder]="stringsService.endTime"
						required
					>
						<mat-option
							[value]="time"
							*ngFor="
								let time of getTimes(
									timeRange,
									timeIncrement,
									duration / 60000
								);
								trackBy: trackBySelf
							"
						>
							{{ timeToString(time) }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field *ngIf="false">
					<input
						matInput
						disabled
						type="text"
						[placeholder]="stringsService.timeZone"
						value="EST"
					/>
				</mat-form-field>
			</div>

			<br />

			<ng-container *ngIf="false">
				<div cyphTranslate fxFlex>
					Alternatively, I'm generally available on:
				</div>

				<br />

				<div fxFlex>
					<mat-checkbox
						[class.no-pointer-events]="isDisabledWrapper | await"
						[name]="'alternate-day-' + day.toString()"
						[ngModel]="(value?.alternateDays || {})[day] === true"
						(ngModelChange)="
							(value?.alternateDays || {})[day] = $event;
							value && valueChange(value)
						"
						[value]="day"
						*ngFor="
							let day of dayOfWeekValues;
							trackBy: trackBySelf
						"
					>
						{{ getDayString(day) }}
						&nbsp;&nbsp;&nbsp;
					</mat-checkbox>
				</div>

				<br />

				<div fxFlex>
					<mat-checkbox
						[class.no-pointer-events]="isDisabledWrapper | await"
						[name]="'alternate-time-frame-' + timeFrame.toString()"
						[ngModel]="
							(value?.alternateTimeFrames || {})[timeFrame] ===
							true
						"
						(ngModelChange)="
							(value?.alternateTimeFrames || {})[timeFrame] =
								$event;
							value && valueChange(value)
						"
						[value]="timeFrame"
						*ngFor="
							let timeFrame of timeFrameValues;
							trackBy: trackBySelf
						"
					>
						{{ getTimeFrameString(timeFrame) }}
						&nbsp;&nbsp;&nbsp;
					</mat-checkbox>
				</div>
			</ng-container>

			<br />

			<ng-container *ngIf="false">
				<mat-form-field
					fxFlex
					*ngIf="(isDisabledWrapper | await) === false"
				>
					<textarea
						matInput
						[matTextareaAutosize]="true"
						[matAutosizeMinRows]="4"
						name="notes"
						[ngModel]="value?.description || ''"
						(ngModelChange)="
							(value || {description: ''}).description = $event;
							value && valueChange(value)
						"
						[placeholder]="stringsService.messageTitle"
					></textarea>
				</mat-form-field>

				<h4 fxFlex *ngIf="isDisabledWrapper | await">
					{{ stringsService.messageTitle }}
				</h4>
				<div fxFlex class="notes" *ngIf="isDisabledWrapper | await">
					{{ value?.description || '' }}
				</div>
			</ng-container>
		</div>
	</ng-container>
</ng-container>
