<div
	fxFlex='50'
	fxLayout='column'
	class='settings-wrapper'
	*ngIf='accountDatabaseService.currentUser.value'
>
	<div class='name'>
		<h3>Your Name: {{accountDatabaseService.currentUser.value.user.name | async}}</h3>
	</div>
	<div class='email'>
		<h3>Your Email: {{
			(
				accountDatabaseService.currentUser.value.user.externalUsernames | async
			)?.email || 'Unknown'
		}}</h3>
	</div>
	<div class='premium-status'>
		<h3>Premium Status:
			{{
				(accountDatabaseService.currentUser.value.user.hasPremium | async) ?
					'Enabled' :
					'Disabled'
			}}
		</h3>
	</div>
	<cyph-account-storage-analytics></cyph-account-storage-analytics>
</div>
