@import '../../../../css/mixins';

:host > div {
	padding: 32px 0;
}

.email-verify-button {
	line-height: 28px;
	transform: translateY(-4px);
}

.password-title {
	border-bottom: 1px solid;
}

form.mobile {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

cyph-account-register {
	min-height: 300px;
}
