<div
	fxFlexFill
	fxLayout='row'
	fxLayoutAlign='center center'
	[class.initiating]='loading | async'
>
	<form
		ngNativeValidate
		fxFlex
		fxFlex.gt-md='75'
		fxFlex.gt-lg='50'
		fxLayout='column'
		fxLayoutGap='16px'
		(submit)='save()'
	>
		<mat-form-field>
			<input
				matInput
				cyphTranslate
				[(ngModel)]='data.modified.name'
				name='name'
				placeholder='Name'
				required
			/>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				cyphTranslate
				[(ngModel)]='data.modified.realUsername'
				[textMask]='usernameMask'
				name='realUsername'
				placeholder='Username Capitalization'
				required
			/>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				cyphTranslate
				[(ngModel)]='data.modified.email'
				name='email'
				type='email'
				placeholder='Email'
			/>
		</mat-form-field>

		<div></div>
		<div>
			<strong cyphTranslate>Premium Status:</strong>
			&ngsp;
			&nbsp;
			<span *ngIf='
				accountDatabaseService.currentUser.value?.user.hasPremium | async; else getPremium
			'>
				{{stringsService.enabled}}
			</span>
			<ng-template #getPremium>
				<span>{{stringsService.disabled}}</span>
				&ngsp;
				(<a
					[href]='envService.homeWordPressUrl + "pricing#account"'
					cyphTranslate
					target='_blank'
				>upgrade now</a>)
			</ng-template>
		</div>

		<div></div>
		<cyph-account-storage-analytics></cyph-account-storage-analytics>
		<div></div>
		<div></div>
		<div></div>

		<div fxLayout='row' fxLayoutAlign='center'>
			<button mat-raised-button cyphTranslate type='submit' [disabled]='!ready'>
				Save
			</button>
		</div>
	</form>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='loading | async'
	></mat-progress-spinner>
</div>
