<div fxFlexFill fxLayout="column" fxLayoutGap="32px">
	<div
		fxLayoutAlign="center"
		[class.initiating]="loading | await"
		*ngIf="state | await as stateValue"
	>
		<form
			ngNativeValidate
			fxFlex
			fxFlex.gt-md="75"
			fxFlex.gt-lg="50"
			fxLayout="column"
			fxLayoutGap="16px"
			[class.mobile]="envService.isMobile | await"
			(submit)="save()"
			*ngIf="stateValue === states.default; else newDeviceActivation"
		>
			<cyph-in-app-purchase
				#inAppPurchase
				[userToken]="true"
			></cyph-in-app-purchase>

			<mat-form-field
				*ngIf="
					(accountDatabaseService.currentUser | await)?.agseConfirmed
				"
			>
				<input
					matInput
					cyphTranslate
					[maxlength]="accountService.maxNameLength.toString()"
					[ngModel]="(data | await)?.modified?.name || ''"
					(ngModelChange)="updateData({modified: {name: $event}})"
					name="name"
					placeholder="Name"
					required
				/>
			</mat-form-field>
			<mat-form-field>
				<input
					matInput
					[ngModel]="(data | await)?.modified?.email || ''"
					(ngModelChange)="updateData({modified: {email: $event}})"
					name="email"
					type="email"
					[pattern]="emailPattern"
					[placeholder]="
						!(data | await)?.modified?.email ||
						(data | await)?.current?.email !==
							(data | await)?.modified?.email ||
						(emailVerified | await) === undefined ?
							stringsService.email :
						(emailVerified | await) ?
							stringsService.emailVerified :
							stringsService.emailUnverified
					"
				/>
				<button
					mat-button
					matSuffix
					class="email-suffix-button"
					[color]="o.verified ? 'primary' : 'warn'"
					(click)="
						o.published ?
							publishEmail(true) :
						o.verified ?
							publishEmail() :
							verifyEmail()
					"
					[class.visibility-hidden]="
						(o.verified && !o.published && !o.showPublish) ||
						!(data | await)?.modified?.email ||
						(data | await)?.current?.email !==
							(data | await)?.modified?.email
					"
					[matTooltip]="
						o.verified ?
							stringsService.emailPublishTooltip :
							stringsService.emailVerifyTooltip
					"
					*ngIf="{
						published: (emailPublished | await) === true,
						showPublish: (showEmailPublish | await) === true,
						verified: (emailVerified | await) === true
					} as o"
				>
					{{
						o.published ?
							stringsService.emailUnpublishButton :
						o.verified ?
							stringsService.emailPublishButton :
							stringsService.emailVerifyButton
					}}
				</button>
			</mat-form-field>

			<div></div>
			<div>
				<strong>{{ stringsService.lockScreen }}:</strong>
				&ngsp; &nbsp;
				<span>&#xfe61;&#xfe61;&#xfe61;&#xfe61;</span>
				&ngsp; (<a routerLink="lock-screen" cyphTranslate>change</a>)
			</div>
			<div>
				<strong>{{ stringsService.masterKey }}:</strong>
				&ngsp; &nbsp;
				<span>&#xfe61;&#xfe61;&#xfe61;&#xfe61;&#xfe61;</span>
				<span>&#xfe61;&#xfe61;&#xfe61;&#xfe61;&#xfe61;</span>
				<span>&#xfe61;&#xfe61;&#xfe61;&#xfe61;&#xfe61;</span>
				&ngsp; (<a routerLink="master-key" cyphTranslate>change</a>)
			</div>

			<div></div>
			<div>
				<strong cyphTranslate>Plan:</strong>
				&ngsp; &nbsp;
				<span>
					{{
						titleize(
							cyphPlans[
								(accountSettingsService.plan | await) ||
									cyphPlans.Free
							]
						)
					}}
				</span>
				<ng-container
					*ngIf="
						!configService.planConfig[
							(accountSettingsService.plan | await) ||
								cyphPlans.Free
						].lifetime &&
						(accountService.billingStatus | await)?.admin
					"
				>
					&ngsp; (<a
						cyphTranslate
						(click)="
							salesService.openPricing(
								[
									envService.homeUrl,
									'pricing?current=',
									accountSettingsService.getPlanString(),
									'&userToken=',
									accountService.getUserToken(loading)
								],
								undefined,
								inAppPurchase
							)
						"
						>change plan</a
					><ng-container
						*ngIf="
							(accountSettingsService.plan | await) !==
							cyphPlans.Free
						"
						>&ngsp;<span cyphTranslate>or</span>&ngsp;<a
							cyphTranslate
							(click)="accountService.downgradeAccount()"
							>downgrade</a
						></ng-container
					>)
				</ng-container>
			</div>
			<div
				*ngIf="
					(accountService.billingStatus | await)?.stripe &&
					(accountSettingsService.plan | await) !== cyphPlans.Free &&
					!configService.planConfig[
						(accountSettingsService.plan | await) || cyphPlans.Free
					].lifetime
				"
			>
				<a
					mat-button
					cyphTranslate
					[disabled]="(emailVerified | await) !== true"
					matTooltip="To access the billing portal, first confirm your email address"
					[matTooltipDisabled]="(emailVerified | await) === true"
					(click)="
						salesService.openBillingPortal(
							accountService.getUserToken(loading)
						)
					"
					><strong cyphTranslate>Billing Portal</strong></a
				>
			</div>
			<div></div>

			<div fxLayoutAlign="center">
				<button
					mat-raised-button
					color="accent"
					routerLink="new-device-activation"
				>
					<mat-icon>phonelink</mat-icon>
					&nbsp;&nbsp;
					<span cyphTranslate>Activate Another Device</span>
				</button>
			</div>

			<div></div>
			<cyph-account-storage-analytics></cyph-account-storage-analytics>
			<div></div>
			<div></div>
			<div></div>

			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<span cyphTranslate>Enable/Disable Features</span>
					</mat-expansion-panel-header>
					<div fxFlex fxLayout="column" fxLayoutGap="32px">
						<ng-container
							*ngFor="
								let o of accountSettingsService.featureFlagsList;
								trackBy: trackByID
							"
						>
							<mat-slide-toggle
								[ngModel]="
									(o.featureFlag.watch() | await) === true
								"
								(ngModelChange)="o.featureFlag.setValue($event)"
								[name]="o.id"
								*ngIf="o.visible | await"
							>
								{{ o.label }}
							</mat-slide-toggle>
						</ng-container>
					</div>
				</mat-expansion-panel>
				<mat-expansion-panel
					*ngIf="
						(accountDatabaseService.currentUser | await)
							?.agseConfirmed
					"
				>
					<mat-expansion-panel-header>
						<span cyphTranslate>Advanced</span>
					</mat-expansion-panel-header>
					<div fxFlex fxLayout="column" fxLayoutGap="32px">
						<mat-slide-toggle
							[ngModel]="
								(data | await)?.modified?.profileVisible ===
								true
							"
							(ngModelChange)="
								updateData({
									modified: {profileVisible: $event}
								})
							"
							[matTooltip]="stringsService.profileVisibility"
							name="profileVisible"
							cyphTranslate
						>
							Profile Visible to Anonymous Users
						</mat-slide-toggle>

						<mat-form-field>
							<input
								matInput
								cyphTranslate
								[ngModel]="
									(data | await)?.modified?.realUsername || ''
								"
								(ngModelChange)="
									updateData({
										modified: {realUsername: $event}
									})
								"
								[pattern]="
									(data | await)?.usernamePattern || ''
								"
								[textMask]="usernameMask"
								name="realUsername"
								placeholder="Username Capitalization"
								required
							/>
							<mat-icon
								#usernameCapitalizationHelpTooltip="matTooltip"
								matSuffix
								[matTooltip]="
									stringsService.usernameCapitalizationHelp
								"
								matTooltipPosition="above"
								(click)="
									usernameCapitalizationHelpTooltip.show()
								"
							>
								help
							</mat-icon>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</mat-accordion>

			<div></div>
			<div></div>
			<div></div>

			<div fxLayout="row" fxLayoutAlign="center">
				<button
					mat-raised-button
					cyphTranslate
					fxFlex
					fxFlex.gt-sm="initial"
					type="submit"
					[disabled]="(ready | await) === false"
				>
					Save
				</button>
			</div>

			<div></div>
			<hr class="full-width" />
			<div></div>

			<div fxLayoutAlign="center">
				<button
					mat-raised-button
					[disabled]="
						!(accountDatabaseService.currentUser | await)
							?.masterKeyConfirmed
					"
					(click)="logout()"
				>
					<mat-icon>exit_to_app</mat-icon>
					&nbsp;&nbsp;
					<span cyphTranslate> Log Out </span>
				</button>
			</div>

			<div></div>
			<hr class="full-width" />
			<div></div>

			<div fxLayoutAlign="center">
				<button
					mat-raised-button
					color="warn"
					(click)="setAccountDeactivated(!deactivated.value)"
				>
					<mat-icon>person</mat-icon>
					&nbsp;&nbsp;
					<span cyphTranslate *ngIf="deactivated | await">
						Reactivate Account
					</span>
					<span cyphTranslate *ngIf="!(deactivated | await)">
						Deactivate Account
					</span>
				</button>
			</div>
		</form>

		<ng-template #newDeviceActivation>
			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="16px"
				*ngIf="
					stateValue === states.newDeviceActivation;
					else changePassword
				"
			>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					class="password-title"
				>
					<h2>
						{{ stringsService.newDeviceActivationTitle }}
					</h2>
					<button
						mat-icon-button
						cyphTranslate
						class="back"
						matTooltip="Back"
						routerLink=".."
					>
						<mat-icon>arrow_back</mat-icon>
					</button>
				</div>

				<cyph-account-new-device-activation
					[sessionData]="newDeviceSessionData"
					(activationComplete)="newDeviceActivationComplete($event)"
					*ngIf="
						getNewDeviceSessionData()
							| await as newDeviceSessionData
					"
				></cyph-account-new-device-activation>
			</div>
		</ng-template>

		<ng-template #changePassword>
			<div fxFlex fxLayout="column" fxLayoutGap="16px">
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					class="password-title"
				>
					<h2>
						{{
							stateValue === states.masterKey ?
								stringsService.changeMasterKeyTitle :
							stateValue === states.pin ?
								stringsService.changePinTitle :
								''
						}}
					</h2>
					<button
						mat-icon-button
						cyphTranslate
						class="back"
						matTooltip="Back"
						routerLink=".."
					>
						<mat-icon>arrow_back</mat-icon>
					</button>
				</div>

				<cyph-account-register
					[getMasterKeyOnly]="stateValue === states.masterKey"
					[getPinOnly]="stateValue === states.pin"
					(submitMasterKey)="changeMasterKey($event)"
					(submitPIN)="changePIN($event)"
				></cyph-account-register>
			</div>
		</ng-template>

		<cyph-spinner
			mode="indeterminate"
			*ngIf="loading | await"
		></cyph-spinner>
	</div>

	<div fxFlex></div>
	<cyph-footer></cyph-footer>
</div>
