<mat-card fxFlexFill fxLayout='row' class='white-card'>
	<div
		fxFlexFill
		fxLayout='column'
		fxLayoutAlign='start center'
		class='content'
		*ngIf='accountDatabaseService.currentUser | async as currentUser'
	>
		<cyph-logo fxFlex='5em'></cyph-logo>

		<h1 cyphTranslate *ngIf='!envService.isTelehealth'>Waiting to Start Call</h1>
		<h1 cyphTranslate *ngIf='envService.isTelehealth'>Waiting Room</h1>

		<ng-container *ngIf='
			envService.isTelehealth &&
			appointment?.calendarInvite.title &&
			appointment?.calendarInvite.callType &&
			(currentUser?.user.userType | async) === accountUserTypes.Standard
		'>
			<div
				*ngIf='getUser((appointment?.participants || [])[0] || "") | async as doctor'
				fxLayout='column'
				fxLayoutAlign='center'
				fxLayoutGap='5px'
			>
				<h2>
					Your {{appointment?.calendarInvite.title}}
						{{(appointment?.calendarInvite.callType === callTypes.Video) ? 'Video' : ''}}
						{{(appointment?.calendarInvite.callType === callTypes.Audio) ? 'Audio' : ''}}
							Telehealth Session with {{stringsService.dr}} 
							{{(doctor?.name | async)}}
				</h2>
				<img
					cyphTranslate
					class='avatar animated _1'
					[alt]='stringsService.dr + " " + (doctor.name | async)'
					[src]='doctor?.avatar | async'
				/>
			</div>
		</ng-container>

		<div *ngIf='appointment?.forms?.length < 1; else formsComplete'>
			<div *ngIf='
			envService.isTelehealth && (
				(currentUser?.user.userType | async) === accountUserTypes.Standard
			);'
			fxLayout='column'>
				<h2 >
					{{stringsService.patientFormsMissing}}
				</h2>
				<button
					*ngIf='
						!!appointmentID &&
						(currentUser?.user.userType | async) === accountUserTypes.Standard
					'
					color='primary'
					mat-raised-button
					[routerLink]='
						accountService.routeRoot +
						"new-patient/" +
						(appointmentID || "")
					'
				>
					{{stringsService.submitPatientForms}}
				</button>
			</div>
		</div>

		<ng-template #formsComplete>
			<div>
				<h2 *ngIf='
					envService.isTelehealth && (
						(currentUser?.user.userType | async) === accountUserTypes.Standard
					);
					else doctorMessage;
				'>
					{{stringsService.waitingRoomCheckedInPatient}}
				</h2>
				<ng-template #doctorMessage>
					<h2 *ngIf='
						envService.isTelehealth && (
							(currentUser?.user.userType | async) === accountUserTypes.TelehealthDoctor
						);
						else genericMessage
					'>
						{{stringsService.waitingRoomCheckedInDoctor}}
					</h2>
				</ng-template>
				<ng-template #genericMessage>
					<h2>{{stringsService.waitingRoomCheckedInGeneric}}</h2>
				</ng-template>
			</div>
		</ng-template>
	</div>
</mat-card>