<ng-container *ngIf="accountDatabaseService.currentUser | await as currentUser">
	<ng-container *ngIf="chatService.chatSubject | await as chat">
		<div
			fxFlexFill
			class="content"
			[fxShow]="sessionService.freezePong | await"
		>
			<cyph-account-compose-no-providers
				#formCompose
			></cyph-account-compose-no-providers>
		</div>

		<mat-card
			fxFlexFill
			fxLayout="column"
			[fxLayoutAlign]="
				telehealthAppointment ? 'stretch' : 'center center'
			"
			class="animated fadeIn full"
			ngClass.lt-md="compact"
			[fxHide]="sessionService.freezePong | await"
		>
			<mat-card-content fxFlex="90" fxLayout="column" class="content">
				<cyph-logo></cyph-logo>
				<div fxFlex fxLayout="column" fxLayoutAlign="center center">
					<ng-container
						*ngIf="participantsByType | await as participants"
					>
						<div
							fxLayoutAlign="center center"
							*ngIf="!telehealthAppointment"
						>
							<h1
								*ngIf="
									(chatService.remoteUser.promise | await)
										?.name | await as name
								"
							>
								<span cyphTranslate *ngIf="answering"
									>Answering</span
								>
								<span cyphTranslate *ngIf="!answering"
									>Calling</span
								>
								&ngsp;
								<span>{{ name }}...</span>
							</h1>
						</div>

						<div
							class="contact call"
							fxFlex="50"
							fxLayout="column"
							fxLayoutAlign="center center"
							*ngIf="!telehealthAppointment"
						>
							<img
								cyphTranslate
								class="avatar call"
								[src]="avatar"
								alt="User Avatar"
								*ngIf="
									(chatService.remoteUser.promise | await)
										?.avatar | await as avatar
								"
							/>
						</div>

						<div
							fxFlex="25"
							fxLayout="column"
							fxLayoutAlign="center center"
						>
							<button
								mat-mini-fab
								color="warn"
								aria-label="Cancel"
								cyphTranslate
								(click)="accountP2PService.closeButton()"
							>
								<mat-icon>call_end</mat-icon>
							</button>
						</div>

						<div
							fxFlex
							[style.width]="'100%'"
							*ngIf="telehealthAppointment"
						>
							<br />

							<ng-container
								*ngIf="
									(currentUser?.user?.userType | await) ===
										accountUserTypes.TelehealthDoctor;
									else standardView
								"
							>
								<div
									*ngIf="
										(participants?.get(
											accountUserTypes.Standard
										) || [])[0] as patient
									"
									fxFlex
									fxLayout="column"
									fxLayoutAlign="stretch"
									fxLayoutGap="10px"
								>
									<h1>
										{{ stringsService.your }}
										{{
											appointment?.calendarInvite
												?.title || ''
										}}
										{{
											appointment?.calendarInvite
												?.callType === callTypes.Video ?
												stringsService.video :
												''
										}}
										{{
											appointment?.calendarInvite
												?.callType === callTypes.Audio ?
												stringsService.voice :
												''
										}}
										{{
											stringsService.telehealthSessionWith
										}}
										{{ patient?.name | await }}
									</h1>
									<br />
									<br />
									<div fxLayout="row" fxLayoutAlign="center">
										<cyph-account-contact
											[clickable]="false"
											[contact]="patient"
											class="cyph-inverted-theme animated fadeIn"
											[class.fadeOut]="
												((chat?.initProgress | await) ||
													0) > 0
											"
											fxFlex
											fxFlex.gt-sm="40"
											*ngIf="
												((chat?.initProgress | await) ||
													0) === 0
											"
										></cyph-account-contact>
									</div>
									<br />
									<div
										class="loading"
										fxFlex
										fxLayout="column"
										fxLayoutAlign="center stretch"
									>
										<ng-container
											*ngTemplateOutlet="loadingMessage"
										></ng-container>
										<div fxLayoutAlign="center">
											<mat-progress-bar
												fxFlex="50"
												[mode]="
													((chat?.initProgress
														| await) || 0) <= 110 &&
													(p2pWebRTCService.localMediaError
														| await) === false ?
														'determinate' :
														'indeterminate'
												"
												[color]="
													(p2pWebRTCService.localMediaError
													| await) ?
														'warn' :
														'primary'
												"
												*ngIf="
													((chat?.initProgress
														| await) || 0) > 0
												"
												[value]="
													(chat?.initProgress
														| await) || 0
												"
											></mat-progress-bar>
										</div>
									</div>
									<br />
									<br />
									<br />
									<br />
								</div>
							</ng-container>
							<ng-template #standardView>
								<div
									*ngIf="
										(participants?.get(
											accountUserTypes.TelehealthDoctor
										) || [])[0] as doctor
									"
									fxFlex
									fxLayout="column"
									fxLayoutAlign="stretch"
									fxLayoutGap="10px"
								>
									<h1>
										{{ stringsService.your }}
										{{
											appointment?.calendarInvite
												?.title || ''
										}}
										{{
											appointment?.calendarInvite
												?.callType === callTypes.Video ?
												stringsService.video :
												''
										}}
										{{
											appointment?.calendarInvite
												?.callType === callTypes.Audio ?
												stringsService.voice :
												''
										}}
										{{
											stringsService.telehealthSessionWith
										}}
										{{ stringsService.dr }}
										{{ doctor?.name | await }}
									</h1>
									<br />
									<br />
									<div fxLayout="row" fxLayoutAlign="center">
										<cyph-account-contact
											[clickable]="false"
											[contact]="doctor"
											class="cyph-inverted-theme animated fadeIn"
											[class.fadeOut]="
												((chat?.initProgress | await) ||
													0) > 0
											"
											fxFlex
											fxFlex.gt-sm="40"
											*ngIf="
												((chat?.initProgress | await) ||
													0) === 0
											"
										></cyph-account-contact>
									</div>
									<br />
									<div
										class="loading"
										fxFlex
										fxLayout="column"
										fxLayoutAlign="center stretch"
									>
										<ng-container
											*ngTemplateOutlet="loadingMessage"
										></ng-container>
										<div fxLayoutAlign="center">
											<mat-progress-bar
												fxFlex="50"
												[mode]="
													((chat?.initProgress
														| await) || 0) <= 110 &&
													(p2pWebRTCService.localMediaError
														| await) === false ?
														'determinate' :
														'indeterminate'
												"
												[color]="
													(p2pWebRTCService.localMediaError
													| await) ?
														'warn' :
														'primary'
												"
												*ngIf="
													((chat?.initProgress
														| await) || 0) > 0
												"
												[value]="
													(chat?.initProgress
														| await) || 0
												"
											></mat-progress-bar>
										</div>
									</div>
									<br />
									<br />
									<br />
									<br />
								</div>
							</ng-template>
						</div>
						<ng-template #loadingMessage>
							<ng-container
								*ngIf="
									(chat?.initProgress | await) === 0;
									else loading
								"
							>
								<h2
									*ngIf="
										(currentUser?.user?.userType
											| await) ===
											accountUserTypes.Standard;
										else doctorMessage
									"
								>
									{{
										stringsService.waitingRoomCheckedInPatient
									}}
								</h2>
								<ng-template #doctorMessage>
									<h2
										*ngIf="
											(currentUser?.user?.userType
												| await) ===
												accountUserTypes.TelehealthDoctor;
											else genericMessage
										"
									>
										{{
											stringsService.waitingRoomCheckedInDoctor
										}}
									</h2>
								</ng-template>
								<ng-template #genericMessage>
									<h2>
										{{
											stringsService.waitingRoomCheckedInGeneric
										}}
									</h2>
								</ng-template>
							</ng-container>
							<ng-template #loading>
								<h2
									*ngIf="
										(p2pWebRTCService.localMediaError
											| await) === false
									"
								>
									{{ stringsService.connecting }}
								</h2>
								<h2
									*ngIf="
										p2pWebRTCService.localMediaError | await
									"
								>
									{{ stringsService.localMediaError }}
								</h2>
							</ng-template>
						</ng-template>
					</ng-container>
				</div>
			</mat-card-content>
		</mat-card>
	</ng-container>
</ng-container>
