@import '../../../../css/mixins';

.content {
	height: 100%;

	> :last-child {
		margin-bottom: auto;
	}

	h1, h2 {
		text-align: center;
	}

	cyph-logo {
		margin-left: auto;
		margin-right: auto;
		height: 80%;
		opacity: 0.75;
	}
}

.avatar {
	cursor: auto;
	width: 13em;
	height: 13em;
	box-shadow: 0px 20px 42px 0px rgba(0, 0, 0, 0.3);
	border-width: 10px !important;
	margin: 5px auto 5px auto;
}

.loading {
	.logo-animation {
		@include transform(translate(0%, 15%) scale(.9));
		opacity: 0.95;
	}
}
