@import '../../../../css/mixins';

.content {
	height: 100%;

	> :first-child {
		margin-top: auto;
	}

	> :last-child {
		margin-bottom: auto;
	}

	h1, h2 {
		text-align: center;
	}

	cyph-logo {
		margin-left: auto;
		margin-right: auto;
		opacity: 0.75;
	}
}
