@import '../../../../css/mixins';

cyph-logo {
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	opacity: 0.75;
}

.content {
	height: 100%;

	> :last-child {
		margin-bottom: auto;
	}

	h1, h2, h5 {
		text-align: center;
	}
}

.avatar {
	cursor: auto;
	width: 13em;
	height: 13em;
	box-shadow: 0 20px 42px 0 rgba(0, 0, 0, 0.3);
	border-width: 10px !important;
	margin: 5px auto 5px auto;
}

.loading {
	.logo-animation {
		@include transform(translate(0, 15%) scale(0.9));

		opacity: 0.25;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -42;
	}
}

mat-card.compact {
	padding: 0;
}

button {
	margin-left: auto;
	margin-right: auto;
}
