<ng-container *ngIf='accountDatabaseService.currentUser | async as currentUser'>
	<div
		fxFlexFill
		class='content'
		[fxShow]='
			(formCompose.sent | async) !== true &&
			appointment?.forms?.length < 1 &&
			envService.isTelehealth &&
			(currentUser?.user.userType | async) === accountUserTypes.Standard
		'
	>
		<cyph-account-compose-no-providers #formCompose></cyph-account-compose-no-providers>
	</div>

	<mat-card
		fxFlexFill
		fxLayout='column'
		class='white-card animated fadeIn'
		ngClass.lt-md='compact'
		[fxHide]='
			(formCompose.sent | async) !== true &&
			appointment?.forms?.length < 1 &&
			envService.isTelehealth &&
			(currentUser?.user.userType | async) === accountUserTypes.Standard
		'
	>
		<div fxFlexFill fxLayout='column' fxLayoutAlign='start center' class='content'>
			<ng-container *ngIf='participantsByType | async as participants'>
				<cyph-logo fxFlex='5em'></cyph-logo>

				<h2 cyphTranslate *ngIf='!envService.isTelehealth'>Waiting to Start Call</h2>

				<div *ngIf='
					envService.isTelehealth &&
					appointment?.calendarInvite.title &&
					appointment?.calendarInvite.callType
				'>
					<ng-container *ngIf='
						(currentUser?.user.userType | async) === accountUserTypes.TelehealthDoctor;
						else standardView
					'>
						<div
							*ngIf='
								(participants.get(accountUserTypes.Standard) || [])[0] as patient
							'
							fxLayout='column'
							fxLayoutAlign='center'
							fxLayoutGap='10px'
						>
							<h1>
								{{stringsService.your}}
								{{appointment?.calendarInvite.title}}
								{{
									(appointment?.calendarInvite.callType === callTypes.Video) ?
										stringsService.video :
										''
								}}
								{{
									(appointment?.calendarInvite.callType === callTypes.Audio) ?
										stringsService.voice :
										''
								}}
								{{stringsService.telehealthSessionWith}}
								{{(patient?.name | async)}}
							</h1>
							<div fxLayout='row' fxFlex='10' fxLayoutAlign='center'>
								<cyph-account-contact
									[clickable]='false'
									[contact]='patient'
									class='cyph-inverted-theme animated fadeIn'
									fxFlex
									fxFlex.gt-sm='33'
								></cyph-account-contact>
							</div>
							<div class='loading'>
								<div class='logo-animation'>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
							<div fxFlex='75'>
								<mat-progress-bar
									*ngIf='((chatService.chat.initProgress | async) || 0) > 0'
									[value]='chatService.chat.initProgress | async'
								></mat-progress-bar>
							</div>
						</div>
					</ng-container>
					<ng-template #standardView>
						<div
							*ngIf='
								(participants.get(accountUserTypes.TelehealthDoctor) || [])[0] as
								doctor
							'
							fxLayout='column'
							fxLayoutAlign='center'
							fxLayoutGap='5px'
						>
							<h1>
								{{stringsService.your}}
								{{appointment?.calendarInvite.title}}
								{{
									(appointment?.calendarInvite.callType === callTypes.Video) ?
										stringsService.video :
										''
								}}
								{{
									(appointment?.calendarInvite.callType === callTypes.Audio) ?
										stringsService.voice :
										''
								}}
								{{stringsService.telehealthSessionWith}}
								{{stringsService.dr}}
								{{(doctor?.name | async)}}
							</h1>
							<br />
							<br />
							<div fxLayout='row' fxLayoutAlign='center'>
								<cyph-account-contact
									[clickable]='false'
									[contact]='doctor'
									class='cyph-inverted-theme animated fadeIn'
									fxFlex
									fxFlex.gt-sm='60'
								></cyph-account-contact>
							</div>
							<div class='loading'>
								<div class='logo-animation'>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
							<div fxFlex='75'>
								<mat-progress-bar
									*ngIf='((chatService.chat.initProgress | async) || 0) > 0'
									[value]='chatService.chat.initProgress | async'
								></mat-progress-bar>
							</div>
						</div>
					</ng-template>
				</div>
				<ng-container *ngIf='(chatService.chat.initProgress | async) === 0; else loading'>
					<h2 *ngIf='
						envService.isTelehealth && (
							(currentUser?.user.userType | async) === accountUserTypes.Standard
						);
						else doctorMessage
					'>
						{{stringsService.waitingRoomCheckedInPatient}}
					</h2>
					<ng-template #doctorMessage>
						<h2 *ngIf='
							envService.isTelehealth && (
								(currentUser?.user.userType | async) ===
								accountUserTypes.TelehealthDoctor
							);
							else genericMessage
						'>
							{{stringsService.waitingRoomCheckedInDoctor}}
						</h2>
					</ng-template>
					<ng-template #genericMessage>
						<h2>{{stringsService.waitingRoomCheckedInGeneric}}</h2>
					</ng-template>
				</ng-container>
				<ng-template #loading>
					<h2>
						{{stringsService.connecting}}
					</h2>
				</ng-template>
			</ng-container>
		</div>
	</mat-card>
</ng-container>
