<div
	fxFlex
	fxFlexFill
	fxLayout="column"
	class="chat-main"
	[class.accounts]="envService.isAccounts"
	[class.audio-only]="(p2pWebRTCService.videoEnabled | await) !== true"
	[class.video]="forceDisplayVideo || (p2pService.isActive | await)"
	[class.mobile]="envService.isMobile | await"
	[class.self-destruct]="chatService.chatSelfDestruct | await"
	*ngIf="chatService.chatSubject | await as chat"
>
	<div
		fxFlex
		fxLayout="column"
		fxLayoutAlign="center stretch"
		class="loading"
		*ngIf="
			chat?.state === states.keyExchange ||
			chat?.state === states.chatBeginMessage
		"
		[@fadeIn]="'in'"
	>
		<cyph-video
			[autoplay]="true"
			[matTooltip]="stringsService.videoPreview"
			[muted]="true"
			[playsinline]="true"
			[showAudioLevel]="true"
			[src]="(p2pWebRTCService.outgoingStream | await)?.stream"
			*ngIf="
				!!(p2pWebRTCService.outgoingStream | await)?.constraints
					?.video &&
					(p2pWebRTCService.outgoingStream | await)?.stream !==
						undefined;
				else logoAnimation
			"
		></cyph-video>
		<ng-template #logoAnimation>
			<div
				class="logo-animation"
				[class.connected]="chat?.state === states.chatBeginMessage"
			>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</ng-template>

		<div cyphTranslate *ngIf="chat?.state === states.keyExchange">
			Initiating Key Exchange...
		</div>
		<div cyphTranslate *ngIf="chat?.state === states.chatBeginMessage">
			Securely Connected!
		</div>

		<mat-progress-bar
			class="key-exchange-progress"
			[value]="(chat?.initProgress | await) || 0"
		></mat-progress-bar>
	</div>

	<div
		fxFlex
		fxLayout="column"
		fxLayoutAlign="center stretch"
		class="abort-screen loading"
		*ngIf="chat?.state === states.aborted"
		[@fadeIn]="'in'"
	>
		<div class="image">
			<img
				*ngIf="
					!(
						(envService.telehealthTheme | await) ||
						envService.customBuildImages.errorImage
					)
				"
				src="/assets/img/walken.png"
				alt="Definitely not Christopher Walken"
				cyphTranslate
			/>
			<img
				*ngIf="!!envService.customBuildImages.errorImage"
				[src]="envService.customBuildImages.errorImage | await"
				alt="Error"
				cyphTranslate
			/>
		</div>

		<div
			*ngIf="
				(sessionService.chatRequestUsername | await) !== undefined;
				else abortionMessage
			"
		>
			<span cyphTranslate>
				Your chat request was missed. Please try again later.
			</span>
		</div>

		<ng-template #abortionMessage>
			<div *ngIf="!envService.isTelehealth">
				<span cyphTranslate>This</span>
				&ngsp;
				<span>{{ stringsService.session }}</span>
				&ngsp;
				<span cyphTranslate>has been aborted.</span>
				<ng-container *ngIf="!envService.isAccounts">
					<br />
					<br />
					<span cyphTranslate>Please</span>
					&ngsp;
					<a cyphTranslate [routerLink]="envService.newCyphUrlRetry"
						>try again</a
					>.
				</ng-container>
			</div>

			<div *ngIf="envService.isTelehealth">
				<span cyphTranslate
					>This telehealth session has been aborted.</span
				>
				<ng-container *ngIf="!envService.isAccounts">
					<br />
					<br />
					<ng-container *ngIf="sessionService.state.isAlice | await">
						<span cyphTranslate>
							If this was a mistake or error, you may generate a
							new link and
						</span>
						&ngsp;
						<a
							cyphTranslate
							[routerLink]="envService.newCyphUrlRetry"
							>try again</a
						>.
					</ng-container>
					<ng-container
						*ngIf="(sessionService.state.isAlice | await) === false"
					>
						<span cyphTranslate>
							If this was a mistake or error, your practitoner
							will send you a new link.
						</span>
					</ng-container>
				</ng-container>
			</div>
		</ng-template>
	</div>

	<div
		fxFlex
		[fxShow]="forceDisplayVideo || (p2pService.isActive | await)"
		class="video-call"
		[class.sidebar-open]="p2pService.isSidebarOpen | await"
		*ngIf="chat?.state === states.chat"
	>
		<cyph-logo alignment="left" homeLink video></cyph-logo>

		<div
			cyphTranslate
			class="muted-indicator"
			*ngIf="
				!(p2pWebRTCService.outgoingStream | await)?.constraints?.audio
			"
		>
			<mat-icon>mic_off</mat-icon>
			&ngsp;
			<span cyphTranslate>[MUTED]</span>
		</div>

		<div
			class="friend stream"
			[class.ios-app]="envService.isCordovaMobileIOS"
			[fxHide]="
				((p2pWebRTCService.incomingVideoStreams | await) || []).length <
					1 || (p2pWebRTCService.loading | await)
			"
			*ngIf="(p2pService.galleryView | await) === false"
		>
			<ng-container
				*ngFor="
					let incomingStream of p2pWebRTCService.incomingStreams
						| await;
					trackBy: trackByIndex
				"
			>
				<ng-container
					*ngTemplateOutlet="
						friendVideoUI;
						context: {
							incomingStream: incomingStream,
							show: incomingStream.activeVideo
						}
					"
				></ng-container>
			</ng-container>
		</div>
		<div
			class="video-gallery"
			*ngIf="(p2pService.galleryView | await) === true"
		>
			<div
				[gdColumns]="galleryViewOptions.gridColumns"
				[gdGap]="galleryViewOptions.gridGap"
				[gdRows]="galleryViewOptions.gridRows"
				*ngIf="
					p2pService.galleryViewOptions | await as galleryViewOptions
				"
			>
				<ng-container
					*ngFor="
						let panel of galleryViewOptions.panels;
						trackBy: trackByIndex
					"
				>
					<ng-container *ngIf="!!panel?.stream">
						<ng-container
							*ngTemplateOutlet="
								friendVideoUI;
								context: {
									incomingStream: panel,
									show: true
								}
							"
						></ng-container
					></ng-container>
					<div *ngIf="!panel?.stream"></div>
				</ng-container>
			</div>
		</div>
		<ng-template
			#friendVideoUI
			let-incomingStream="incomingStream"
			let-show="show"
		>
			<cyph-video
				[fxShow]="show"
				[autoplay]="true"
				[muted]="incomingStream.isOutgoing"
				[playsinline]="true"
				[showAudioLevel]="incomingStream.isOutgoing"
				[src]="incomingStream.stream"
				[title]="
					incomingStream.user?.username ?
						'@' + (incomingStream.user?.username || '') :
					incomingStream.user?.name ?
						incomingStream.user?.name :
						undefined
				"
				*ngIf="!!incomingStream.stream"
			></cyph-video>
		</ng-template>

		<ng-container *ngIf="!envService.isAccounts; else accountsAudioCall">
			<img
				*ngIf="!envService.customBuildImages.audioImage"
				class="friend"
				[fxHide]="
					((p2pWebRTCService.incomingVideoStreams | await) || [])
						.length > 0 || (p2pWebRTCService.loading | await)
				"
				src="/assets/img/voicecall.jpg"
				alt="Voice call"
				cyphTranslate
			/>
			<img
				*ngIf="!!envService.customBuildImages.audioImage"
				class="friend"
				[fxHide]="
					((p2pWebRTCService.incomingVideoStreams | await) || [])
						.length > 0 || (p2pWebRTCService.loading | await)
				"
				[src]="envService.customBuildImages.audioImage | await"
				alt="Voice call"
				cyphTranslate
			/>
		</ng-container>
		<ng-template #accountsAudioCall>
			<ng-container
				*ngIf="
					((p2pWebRTCService.incomingVideoStreams | await) || [])
						.length < 1
				"
			>
				<div
					fxFlexFill
					class="cover-image call"
					[style.background-image]="
						urlToSafeStyle(
							(chatService.remoteUser | await)?.coverImage | await
						) | await
					"
				></div>
				<div
					class="contact"
					fxFlex
					fxLayout="column"
					fxLayoutAlign="center center"
				>
					<h2 class="name">
						{{
							((chatService.remoteUser | await)?.name | await) ||
								''
						}}
					</h2>
					<img
						cyphTranslate
						class="avatar call"
						[src]="avatar"
						alt="User Avatar"
						*ngIf="
							(chatService.remoteUser | await)?.avatar
								| await as avatar
						"
					/>
					<h3 class="timer">
						<ng-template #timer>
							{{ (p2pService.timer | await)?.timestamp | await }}
						</ng-template>
						<ng-container
							*ngIf="p2pWebRTCService.loading | await; else timer"
						>
							{{
								(sessionService.channelConnected | await) ||
								(sessionService.state.isAlice | await) ===
									false ?
									stringsService.callStateConnecting :
									stringsService.callStateRinging
							}}
						</ng-container>
					</h3>
				</div>
			</ng-container>
		</ng-template>
		<cyph-video
			class="me"
			[class.ios-app]="envService.isCordovaMobileIOS"
			[fxHide]="
				!(p2pWebRTCService.outgoingStream | await)?.constraints
					?.video || (p2pService.galleryView | await) === true
			"
			[ngDraggable]="envService.pro | await"
			[autoplay]="true"
			[muted]="true"
			[playsinline]="true"
			[showAudioLevel]="true"
			[src]="(p2pWebRTCService.outgoingStream | await)?.stream"
		></cyph-video>

		<cyph-spinner
			mode="indeterminate"
			*ngIf="p2pWebRTCService.loading | await"
		></cyph-spinner>

		<button
			fxHide
			mat-icon-button
			cyphTranslate
			[matBadge]="
				((scrollService.watchUnreadCount() | await) || 0).toString()
			"
			[matBadgeHidden]="
				!(((scrollService.watchUnreadCount() | await) || 0) > 0)
			"
			matBadgePosition="above before"
			class="sidebar"
			matTooltip="Toggle Chat Sidebar"
			(click)="p2pService.toggleSidebar()"
			*ngIf="uiStyle !== uiStyles.mail"
		>
			<mat-icon>forum</mat-icon>
		</button>

		<smd-fab-speed-dial
			class="io-switcher"
			animationMode="scale"
			direction="down"
			[open]="(p2pService.ioSwitcher.isOpen | await) === true"
			(mouseleave)="p2pService.ioSwitcher.close()"
		>
			<smd-fab-trigger
				[spin]="true"
				(mouseenter)="
					envService.isMobileOS ?
						undefined :
						p2pService.ioSwitcher.open()
				"
			>
				<button
					mat-fab
					(click)="
						p2pService.ioSwitcher.isOpen.value ?
							p2pService.ioSwitcher.close() :
							p2pService.ioSwitcher.open();
						$event.stopPropagation()
					"
				>
					<mat-icon>settings</mat-icon>
				</button>
			</smd-fab-trigger>
			<smd-fab-actions>
				<button
					mat-mini-fab
					[matTooltip]="stringsService.cameraSwitchTitle"
					matTooltipPosition="left"
					[disabled]="
						((p2pService.ioSwitcher.devices | await)?.cameras
							?.length || 0) < 1
					"
					(click)="
						p2pService.ioSwitcher.switch(
							'cameras',
							stringsService.cameraSwitchTitle
						)
					"
				>
					<mat-icon>videocam</mat-icon>
				</button>
				<button
					mat-mini-fab
					[matTooltip]="stringsService.micSwitchTitle"
					matTooltipPosition="left"
					[disabled]="
						((p2pService.ioSwitcher.devices | await)?.mics
							?.length || 0) < 1
					"
					(click)="
						p2pService.ioSwitcher.switch(
							'mics',
							stringsService.micSwitchTitle
						)
					"
				>
					<mat-icon>mic</mat-icon>
				</button>
				<button
					mat-mini-fab
					[matTooltip]="stringsService.speakerSwitchTitle"
					matTooltipPosition="left"
					[disabled]="
						((p2pService.ioSwitcher.devices | await)?.speakers
							?.length || 0) < 1
					"
					(click)="
						p2pService.ioSwitcher.switch(
							'speakers',
							stringsService.speakerSwitchTitle
						)
					"
				>
					<mat-icon>headset</mat-icon>
				</button>
				<button
					mat-mini-fab
					[matTooltip]="stringsService.screenSwitchTitle"
					matTooltipPosition="left"
					[disabled]="
						!(p2pWebRTCService.screenSharingEnabled | await)
					"
					(click)="
						p2pService.ioSwitcher.switch(
							'screen',
							stringsService.screenSwitchTitle
						)
					"
				>
					<mat-icon>tv</mat-icon>
				</button>
				<button
					mat-mini-fab
					[matTooltip]="stringsService.inviteGuest"
					matTooltipPosition="left"
					[class.visibility-hidden]="
						!(sessionService.isBurnerGroupHost | await)
					"
					(click)="chatService.inviteToGroup()"
				>
					<mat-icon>person_add</mat-icon>
				</button>
			</smd-fab-actions>
		</smd-fab-speed-dial>

		<mat-slide-toggle
			class="gallery-view-toggle"
			[matTooltip]="stringsService.galleryView"
			[ngModel]="p2pService.galleryView | await"
			(ngModelChange)="p2pService.galleryView.next($event)"
			*ngIf="
				((p2pWebRTCService.incomingStreams | await) || []).length > 1
			"
		>
			<mat-icon>view_module</mat-icon>
		</mat-slide-toggle>

		<div class="buttons" fxFlex fxLayout="column">
			<div
				fxLayout="row"
				fxLayoutAlign="center center"
				*ngIf="
					envService.isTelehealth &&
					!(
						envService.isAccounts &&
						!(p2pWebRTCService.outgoingStream | await)?.constraints
							?.video
					)
				"
			>
				<h3 class="timer">
					{{
						((p2pService.timer | await)?.timestamp | await) ||
							'00:00'
					}}
				</h3>
			</div>
			<div
				fxLayout="row"
				fxLayoutAlign="center center"
				[fxLayoutGap]="
					envService.isAccounts &&
					(envService.isMobile | await) === false &&
					(p2pWebRTCService.videoEnabled | await) !== true ?
						'128px' :
						'32px'
				"
			>
				<mat-slide-toggle
					[matTooltip]="stringsService.walkieTalkieMode"
					[ngModel]="chatService.walkieTalkieMode | await"
					(ngModelChange)="chatService.walkieTalkieMode.next($event)"
					*ngIf="envService.pro | await"
				>
					<mat-icon svgIcon="walkie-talkie"></mat-icon>
				</mat-slide-toggle>
				<button
					mat-icon-button
					class="video-call-button"
					(click)="p2pService.videoCallButton()"
					[matTooltip]="
						!(p2pWebRTCService.outgoingStream | await)?.constraints
							?.video ?
							stringsService.cameraEnable :
							stringsService.cameraDisable
					"
					matTooltipPosition="above"
					*ngIf="p2pWebRTCService.videoEnabled | await"
				>
					<ng-container
						*ngIf="
							!!(p2pWebRTCService.outgoingStream | await)
								?.constraints?.video;
							else videocamOff
						"
					>
						<mat-icon class="button-on">videocam</mat-icon>
					</ng-container>
					<ng-template #videocamOff>
						<mat-icon>videocam_off</mat-icon>
					</ng-template>
				</button>
				<button
					mat-icon-button
					class="voice-call-button"
					(click)="
						!chatService.walkieTalkieMode.value ?
							p2pService.voiceCallButton() :
							undefined
					"
					(pointerenter)="
						chatService.walkieTalkieMode.value ?
							p2pWebRTCService.toggle('audio', false) :
							undefined
					"
					(pointerleave)="
						chatService.walkieTalkieMode.value ?
							p2pWebRTCService.toggle('audio', true) :
							undefined
					"
					[matTooltip]="
						!(p2pWebRTCService.outgoingStream | await)?.constraints
							?.audio ?
							stringsService.micEnable :
							stringsService.micDisable
					"
					matTooltipPosition="above"
				>
					<ng-container
						*ngIf="
							!!(p2pWebRTCService.outgoingStream | await)
								?.constraints?.audio;
							else micOff
						"
					>
						<mat-icon class="button-on">mic</mat-icon>
					</ng-container>
					<ng-template #micOff>
						<mat-icon>mic_off</mat-icon>
					</ng-template>
				</button>
				<button
					mat-icon-button
					cyphTranslate
					matTooltip="Notes"
					matTooltipPosition="above"
					(click)="appointment && p2pService.openNotes(appointment)"
					*ngIf="!!appointment"
				>
					<mat-icon>notes</mat-icon>
				</button>
				<button
					mat-icon-button
					cyphTranslate
					[matBadge]="
						(
							(p2pWebRTCService.incomingStreamUsers | await) || []
						).length.toString()
					"
					matBadgePosition="above after"
					matTooltip="View Participants"
					matTooltipPosition="above"
					(click)="p2pService.viewCallParticipants()"
					*ngIf="
						((p2pWebRTCService.incomingStreamUsers | await) || [])
							.length > 0
					"
				>
					<mat-icon>group</mat-icon>
				</button>
				<button
					mat-icon-button
					cyphTranslate
					matTooltip="End Call"
					matTooltipPosition="above"
					color="warn"
					class="close-button"
					(click)="p2pService.closeButton()"
				>
					<mat-icon>call_end</mat-icon>
				</button>
			</div>
		</div>
	</div>

	<cyph-chat-message-box
		class="video-call-message-box"
		[autofocus]="false"
		[messageType]="
			messageType !== undefined ? messageType : chatMessageValueTypes.Text
		"
		*ngIf="forceDisplayVideo || (p2pService.isActive | await)"
	></cyph-chat-message-box>

	<div
		class="transfer-list"
		*ngIf="
			chat?.state === states.chat &&
			!(forceDisplayVideo || (p2pService.isActive | await) === true)
		"
		[@fadeIn]="'in'"
	>
		<div fxFlex fxLayout="column">
			<div
				fxLayout="row"
				*ngFor="
					let transfer of fileTransferService.transfers.watch()
						| await;
					trackBy: trackByTransfer
				"
			>
				<div
					fxFlex
					fxLayout="column"
					fxLayoutAlign="center stretch"
					class="transfer-item"
				>
					<div fxLayout="row">
						<span
							fxLayout="column"
							*ngIf="transfer.metadata.isOutgoing"
							cyphTranslate
						>
							Sending
						</span>
						<span
							fxLayout="column"
							*ngIf="!transfer.metadata.isOutgoing"
							cyphTranslate
						>
							Receiving
						</span>
						&nbsp;
						<span fxFlex fxLayout="column">
							{{ transfer.metadata.name }}
							({{ readableByteLength(transfer.metadata.size) }}):
						</span>
					</div>
					<mat-progress-bar
						fxLayout="row"
						[value]="(transfer.progress | await) || 0"
					></mat-progress-bar>
				</div>
			</div>
		</div>
	</div>

	<div
		fxFlex
		fxFlexFill
		*ngIf="
			(chatService.initiated | await) &&
			(chatService.chatSelfDestructEffect | await)
		"
		class="poof"
	>
		<video autoplay src="/assets/video/poof.webm"></video>
	</div>

	<div
		fxLayout="row"
		fxLayoutAlign="center center"
		fxLayoutGap="10px"
		class="self-destruct-timer"
		[style.visibility]="
			(chatService.initiated | await) ? undefined : 'hidden'
		"
		*ngIf="
			(chatService.chatSelfDestructed | await) === false &&
			((chatService.chatSelfDestructTimer | await)?.isStarted | await) ===
				true &&
			((chatService.chatSelfDestructTimer | await)?.isComplete
				| await) === false
		"
	>
		<div cyphTranslate>Message will self-destruct in</div>
		<div class="countdown">
			{{ (chatService.chatSelfDestructTimer | await)?.timestamp | await }}
		</div>
	</div>

	<cyph-chat-message-list
		fxFlex
		fxFlexFill
		[chat]="chat"
		[messageCountInTitle]="messageCountInTitle"
		[mobile]="
			forceDisplayVideo ||
			(envService.isMobile | await) === true ||
			(p2pService.isActive | await) === true
		"
		[persistentEndMessage]="persistentEndMessage"
		[promptFollowup]="promptFollowup"
		[showDisconnectMessage]="
			!!chat?.isDisconnected && !hideDisconnectMessage
		"
		[uiStyle]="uiStyle"
		*ngIf="chat?.state === states.chat"
		[@fadeIn]="'in'"
	>
		<ng-content></ng-content>
	</cyph-chat-message-list>
</div>
