<div
	fxFlex
	fxFlexFill
	fxLayout='column'
	class='chat-main'
	[class.accounts]='envService.isAccounts'
	[class.video]='p2pService.isActive | async'
	[class.mobile]='envService.isMobile'
	[class.self-destruct]='chatService.chatSelfDestruct | async'
	*ngIf='chatService.chatSubject | async as chat'
>
	<div
		fxFlex
		fxLayout='column'
		fxLayoutAlign='center stretch'
		class='loading'
		*ngIf='
			chat.state === states.keyExchange ||
			chat.state === states.chatBeginMessage
		'
		[@fadeIn]='"in"'
	>
		<div
			class='logo-animation'
			[class.connected]='chat.state === states.chatBeginMessage'
			*ngIf='
				chat.state === states.keyExchange ||
				chat.state === states.chatBeginMessage
			'
		>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div
			cyphTranslate
			*ngIf='chat.state === states.keyExchange'
		>
			Initiating Key Exchange...
		</div>
		<div
			cyphTranslate
			*ngIf='chat.state === states.chatBeginMessage'
		>
			Securely Connected!
		</div>

		<mat-progress-bar
			class='key-exchange-progress'
			[value]='(chat.initProgress | async) || 0'
		></mat-progress-bar>
	</div>

	<div
		fxFlex
		fxLayout='column'
		fxLayoutAlign='center stretch'
		class='abort-screen loading'
		*ngIf='chat.state === states.aborted'
		[@fadeIn]='"in"'
	>
		<div class='image'>
			<img
				*ngIf='!(
					envService.isTelehealth ||
					envService.customBuildImages.errorImage
				)'
				src='/assets/img/walken.png'
				alt='Definitely not Christopher Walken'
				cyphTranslate
			/>
			<img
				*ngIf='!!envService.customBuildImages.errorImage'
				[src]='envService.customBuildImages.errorImage | async'
				alt='Error'
				cyphTranslate
			/>
		</div>
		<div *ngIf='!envService.isTelehealth'>
			<span cyphTranslate>This</span>
			&ngsp;
			<span>{{stringsService.session}}</span>
			&ngsp;
			<span cyphTranslate>has been aborted.</span>
			<ng-container *ngIf='!envService.isAccounts'>
				<br />
				<br />
				<span cyphTranslate>Please</span>
				&ngsp;
				<a cyphTranslate [routerLink]='envService.newCyphUrlRetry'>try again</a>.
			</ng-container>
		</div>
		<div *ngIf='envService.isTelehealth'>
			<span cyphTranslate>This telehealth session has been aborted.</span>
			<ng-container *ngIf='!envService.isAccounts'>
				<br />
				<br />
				<ng-container *ngIf='sessionService.state.isAlice | async'>
					<span cyphTranslate>
						If this was a mistake or error,
						you may generate a new link and
					</span>
					&ngsp;
					<a cyphTranslate [routerLink]='envService.newCyphUrlRetry'>try again</a>.
				</ng-container>
				<ng-container *ngIf='(sessionService.state.isAlice | async) === false'>
					<span cyphTranslate>
						If this was a mistake or error,
						your practitoner will send you a new link.
					</span>
				</ng-container>
			</ng-container>
		</div>
	</div>

	<div
		fxFlex
		[fxShow]='p2pService.isActive | async'
		class='video-call'
		[class.sidebar-open]='p2pService.isSidebarOpen | async'
		*ngIf='chat.state === states.chat'
	>
		<a class='logo' [href]='envService.homeUrl'>
			<cyph-logo alignment='left' video></cyph-logo>
		</a>
		<div
			class='friend stream'
			[fxHide]='
				!(p2pWebRTCService.incomingStream | async)?.video ||
				(p2pWebRTCService.loading | async)
			'
		></div>
		<ng-container *ngIf='!envService.isAccounts'>
			<img
				*ngIf='!envService.customBuildImages.audioImage'
				class='friend'
				[fxHide]='
					(p2pWebRTCService.incomingStream | async)?.video ||
					(p2pWebRTCService.loading | async)
				'
				src='/assets/img/voicecall.jpg'
				alt='Voice call'
				cyphTranslate
			/>
			<img
				*ngIf='!!envService.customBuildImages.audioImage'
				class='friend'
				[fxHide]='
					(p2pWebRTCService.incomingStream | async)?.video ||
					(p2pWebRTCService.loading | async)
				'
				[src]='envService.customBuildImages.audioImage | async'
				alt='Voice call'
				cyphTranslate
			/>
		</ng-container>
		<ng-container *ngIf='envService.isAccounts'>
				<div
					fxFlexFill
					class='cover-image call'
					[style.background-image]='urlToSafeStyle((chatService.remoteUser | async)?.coverImage | async) | async'
				></div>
				<div class='contact' fxFlex fxLayout='column' fxLayoutAlign='center center'>
							<h2 class='name'>{{((chatService.remoteUser | async)?.name | async) || ""}}</h2>
							<img
								cyphTranslate
								class='avatar call'
								[src]='((chatService.remoteUser | async)?.avatar | async) || ""'
								alt='User Avatar'
							/>
							<h3 class='timer'>
								{{((p2pService.timer | async)?.timestamp | async) || '00:00'}}
							</h3>
				</div>
		</ng-container>
		<video
			class='me'
			[fxHide]='!(p2pWebRTCService.outgoingStream | async)?.video'
			autoplay
			muted
			[ngDraggable]='envService.environment.customBuild?.config.pro'
		></video>

		<mat-progress-spinner
			mode='indeterminate'
			*ngIf='p2pWebRTCService.loading | async'
		></mat-progress-spinner>

		<button
			mat-icon-button
			cyphTranslate
			[matBadge]='((scrollService.watchUnreadCount() | async) || 0).toString()'
			[matBadgeHidden]='!(
				((scrollService.watchUnreadCount() | async) || 0) > 0
			)'
			matBadgePosition='above before'
			class='sidebar'
			matTooltip='Toggle Chat Sidebar'
			(click)='p2pService.toggleSidebar()'
			*ngIf='uiStyle !== uiStyles.email'
		>
			<mat-icon>forum</mat-icon>
		</button>

		<div
			fxFlex
			fxLayout='row'
			fxLayoutAlign='center center'
			[fxLayoutGap]='(envService.isAccounts && !envService.isMobile) ? "128px" : "32px"'
			class='buttons'
		>
			<mat-slide-toggle
				[ngModel]='chatService.walkieTalkieMode | async'
				(ngModelChange)='chatService.walkieTalkieMode.next($event)'
				*ngIf='envService.environment.customBuild?.config.pro'
			>
				<mat-icon svgIcon='walkie-talkie'></mat-icon>
			</mat-slide-toggle>
			<button
				mat-icon-button
				class='video-call-button'
				(click)='p2pService.videoCallButton()'
				[matTooltip]='
					!(p2pWebRTCService.outgoingStream | async)?.video ?
						stringsService.cameraEnable :
						stringsService.cameraDisable
				'
				matTooltipPosition='above'
				*ngIf='p2pWebRTCService.videoEnabled | async'
			>
				<mat-icon>
					<ng-container *ngIf='
						!(p2pWebRTCService.outgoingStream | async)?.video;
						else videocamOff
					'>
						videocam
					</ng-container>
					<ng-template #videocamOff>
						videocam_off
					</ng-template>
				</mat-icon>
			</button>
			<button
				mat-icon-button
				class='voice-call-button'
				(click)='
					!chatService.walkieTalkieMode.value ?
						p2pService.voiceCallButton() :
						undefined
				'
				(pointerenter)='
					chatService.walkieTalkieMode.value ?
						p2pWebRTCService.toggle("audio", false) :
						undefined
				'
				(pointerleave)='
					chatService.walkieTalkieMode.value ?
						p2pWebRTCService.toggle("audio", true) :
						undefined
				'
				[matTooltip]='
					!(p2pWebRTCService.outgoingStream | async)?.audio ?
						stringsService.micEnable :
						stringsService.micDisable
				'
				matTooltipPosition='above'
			>
				<mat-icon>
					<ng-container *ngIf='
						!(p2pWebRTCService.outgoingStream | async)?.audio;
						else micOff
					'>
						mic
					</ng-container>
					<ng-template #micOff>
						mic_off
					</ng-template>
				</mat-icon>
			</button>
			<button
				mat-icon-button
				cyphTranslate
				matTooltip='End Call'
				matTooltipPosition='above'
				color='warn'
				class='close-button'
				(click)='p2pService.closeButton()'
			>
				<mat-icon>call_end</mat-icon>
			</button>
		</div>
	</div>

	<cyph-chat-message-box
		class='video-call-message-box'
		[messageType]='messageType'
		*ngIf='p2pService.isActive | async'
	></cyph-chat-message-box>

	<div
		class='transfer-list'
		*ngIf='chat.state === states.chat && (p2pService.isActive | async) === false'
		[@fadeIn]='"in"'
	>
		<div fxFlex fxLayout='column'>
			<div fxLayout='row' *ngFor='
				let transfer of fileTransferService.transfers.watch() | async;
				trackBy: trackByTransfer
			'>
				<div fxFlex fxLayout='column' fxLayoutAlign='center stretch' class='transfer-item'>
					<div fxLayout='row'>
						<span
							fxLayout='column'
							*ngIf='transfer.metadata.isOutgoing'
							cyphTranslate
						>
							Sending
						</span>
						<span
							fxLayout='column'
							*ngIf='!transfer.metadata.isOutgoing'
							cyphTranslate
						>
							Receiving
						</span>
						&nbsp;
						<span fxFlex fxLayout='column'>
							{{transfer.metadata.name}}
							({{readableByteLength(transfer.metadata.size)}}):
						</span>
					</div>
					<mat-progress-bar
						fxLayout='row'
						[value]='(transfer.progress | async) || 0'
					></mat-progress-bar>
				</div>
			</div>
		</div>
	</div>

	<div
		fxFlex
		fxFlexFill
		*ngIf='(chatService.initiated | async) && (chatService.chatSelfDestructEffect | async)'
		class='poof'
	>
		<video autoplay src='/assets/video/poof.webm'></video>
	</div>

	<div
		fxLayout='row'
		fxLayoutAlign='center center'
		fxLayoutGap='10px'
		class='self-destruct-timer'
		[style.visibility]='(chatService.initiated | async) ? undefined : "hidden"'
		*ngIf='
			(chatService.chatSelfDestructed | async) === false &&
			((chatService.chatSelfDestructTimer | async)?.isStarted | async) === true &&
			((chatService.chatSelfDestructTimer | async)?.isComplete | async) === false
		'
	>
		<div cyphTranslate>Message will self-destruct in</div>
		<div class='countdown'>
			{{(chatService.chatSelfDestructTimer | async)?.timestamp | async}}
		</div>
	</div>

	<cyph-chat-message-list
		fxFlex
		fxFlexFill
		[chat]='chat'
		[messageCountInTitle]='messageCountInTitle'
		[mobile]='envService.isMobile || (p2pService.isActive | async)'
		[persistentEndMessage]='persistentEndMessage'
		[promptFollowup]='promptFollowup'
		[showDisconnectMessage]='chat.isDisconnected && !hideDisconnectMessage'
		[uiStyle]='uiStyle'
		*ngIf='chat.state === states.chat'
		[@fadeIn]='"in"'
	>
		<ng-content></ng-content>
	</cyph-chat-message-list>
</div>
