@import '../../../../css/mixins';

:host ::ng-deep {
	.transfer-list {
		max-height: 195px;

		.transfer-item {
			height: 65px;

			span {
				overflow-wrap: break-word;
			}

			mat-progress-bar {
				width: calc(100% - 40px);
				margin-left: 20px;
			}
		}
	}

	.chat-main.mobile .transfer-list {
		padding: 0 5px;
	}

	.chat-main:not(.mobile):not(.video) .friend-is-typing {
		padding-left: 20px;
	}

	.chat-main.mobile,
	.chat-main.video {
		.friend-is-typing .ellipsis-spinner {
			width: 100%;
		}
	}

	.chat-main:not(.mobile):not(.video)
		.message-item.ui-style-default.author-app
		.message {
		transform: translateX(3em);

		p {
			vertical-align: middle;
		}
	}

	.chat-main:not(.mobile):not(.video) .message-item.ui-style-default,
	.message-item.ui-style-default.author-app {
		&:after {
			display: none;
		}
	}

	.chat-main.mobile .message-item.ui-style-default {
		max-width: 80vw;
	}
	.chat-main.video
		.video-call
		~ cyph-chat-message-list
		.message-item.ui-style-default {
		max-width: 90%;
	}
	.chat-main.mobile,
	.chat-main.video .video-call ~ cyph-chat-message-list {
		.message-item.ui-style-default {
			position: relative;
			min-width: 120px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 25px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			font-size: 1.2em;

			.message {
				width: 100%;
				max-width: 100%;
				padding-bottom: 0;
			}

			img:not(.avatar-image),
			.image-frame {
				margin-left: auto;
			}

			.message-timestamp {
				position: absolute;
				bottom: 5px;
				font-size: 0.55em;
				opacity: 0.9;
				text-align: initial;
			}
		}

		.message-item.ui-style-default.author-local {
			margin-right: 5%;
			border-radius: $mobileMessageBorderRadius $mobileMessageBorderRadius
				0 $mobileMessageBorderRadius;

			&:after {
				content: '';
				position: absolute;
				right: -12px;
				border-style: solid;
				border-width: 18px 0 0 12px;
				bottom: 0;
			}

			.message {
				text-align: left;
			}

			.message-timestamp {
				text-align: right;
				right: 10px;
			}
		}

		.message-item.ui-style-default.author-remote {
			margin-left: 5%;
			border-radius: 0 $mobileMessageBorderRadius
				$mobileMessageBorderRadius $mobileMessageBorderRadius;

			&:after {
				content: '';
				position: absolute;
				left: -12px;
				border-style: solid;
				border-width: 0 12px 18px 0;
				top: 0;
			}

			.message {
				text-align: left;
			}

			.message-timestamp {
				text-align: left;
				left: 10px;
			}
		}

		.message-item.ui-style-default.author-app {
			width: 90%;
			background-color: transparent;

			.message-timestamp {
				&,
				> div,
				> div > div {
					text-align: center;
					width: 100%;
					left: 0;
				}
			}
		}
	}

	.chat-main.video {
		.video-call {
			height: 100%;
			width: 100%;
			background-color: black;
			overflow: hidden !important;

			.friend {
				height: 100%;

				> cyph-video {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					.title {
						position: fixed;
					}
				}

				&.ios-app {
					margin-top: 88px !important;
					margin-bottom: 88px !important;
				}
			}

			.video-gallery {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: fixed;
				z-index: 0;
			}

			.me {
				position: absolute;
				bottom: 0;
				right: 0;

				&.ios-app {
					height: 88px !important;
					width: auto !important;
					max-width: 50px !important;
				}
			}

			cyph-spinner {
				@include spinner-center;
			}
		}
	}

	@media all and (orientation: landscape) {
		.chat-main.video .video-call {
			top: -17.5% !important;
			height: 135% !important;

			.me {
				min-width: 100px;
				width: 20vw;
			}

			img.friend {
				height: 56.25vw !important;
				width: 100vw !important;
			}
		}
	}

	@media all and (orientation: portrait) {
		.chat-main.video .video-call {
			left: -17.5% !important;
			width: 135% !important;

			.me {
				width: 40vw;
			}

			img.friend {
				height: 100vh !important;
				width: 177.78vh !important;
			}
		}
	}

	.chat-main.video:not(.mobile) {
		/* Message list is 15%; video UI is 100% - message list height - footer height */

		.video-call .friend {
			height: calc(85% - 110px) !important;
			width: auto !important;
		}

		cyph-chat-message-list {
			max-height: 15%;
		}
	}

	.chat-main .key-exchange-progress {
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

	.chat-main:not(.mobile) .key-exchange-progress {
		width: 50%;
	}

	.chat-main.mobile .key-exchange-progress {
		width: 75%;
	}

	.chat-end-message {
		padding: 10px 0;
	}

	/*** New fullscreen video UI ***/

	.chat-main.video .video-call {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		* {
			z-index: 1;
		}

		cyph-logo,
		.me,
		.buttons,
		.io-switcher,
		.sidebar,
		~ cyph-chat-message-list,
		~ .video-call-message-box {
			transition: transform 0.5s ease-in-out !important;
		}

		cyph-logo {
			position: fixed;
			top: 10px;
			left: 16px;
			height: 45px;
			width: 200px;
			opacity: 0.5;
			filter: brightness(0) invert(1);
		}

		&.mobile cyph-logo {
			width: 100px;
			height: 23px;
		}

		.friend {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			height: auto !important;
			width: auto !important;
			min-height: 50%;
			min-width: 50%;
			margin: auto;
		}

		img.friend {
			min-width: 0;
			min-height: 0;
			margin: 0;

			@include center;
			transition: none !important;
		}

		.me {
			position: fixed;
		}

		.io-switcher,
		.sidebar {
			position: fixed;
			top: 16px;
			right: 16px;
		}

		.sidebar mat-icon {
			opacity: 0.5;
		}

		button {
			background-color: rgba(0, 0, 0, 0.2);
			box-shadow: transparent 0 0 0 0,
				rgba(255, 255, 255, 0.5) 0 1px 2px 0;

			&:hover {
				transform: scale(1.1);
			}

			&:not(.close-button) {
				color: rgba(255, 255, 255, 0.75);
			}
		}

		.buttons {
			position: fixed;
			z-index: 2;
			bottom: 25px;
			left: 0;
			width: 100%;

			button {
				transform: scale(1.25);

				&[disabled] {
					opacity: 0.5;
				}

				&:hover:not([disabled]) {
					transform: scale(1.4);
				}
			}
		}

		~ cyph-chat-message-list {
			display: block;
			position: fixed;
			left: 100%;
			top: 0;
			height: 100% !important;
			max-height: 100% !important;
			z-index: 10001;
			width: 300px;
			background-color: rgba(255, 255, 255, 0.5);
			transform: translateX(0);

			.message-item.ui-style-default {
				&.author-app {
					background-color: rgba(0, 0, 0, 0.3) !important;
					color: #f1f1f1 !important;
				}
			}
		}

		~ .video-call-message-box {
			position: fixed;
			z-index: 10002;
			bottom: 0;
			right: -310px;
			width: 310px;

			.text-message-box.mobile {
				.message-box {
					width: 100%;
					height: 48px;
					margin-left: 0;
					margin-bottom: 0;
				}
			}
		}

		~ cyph-chat-message-box .menu-button {
			top: calc(50px - 100vh);
		}

		&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
			transform: translateX(300px) !important;
		}

		&.sidebar-open {
			cyph-logo,
			.me,
			.buttons,
			.io-switcher,
			.sidebar,
			~ cyph-chat-message-list,
			~ .video-call-message-box {
				transform: translateX(-300px) !important;
			}
		}
	}

	@media (min-width: 1200px) {
		.chat-main:not(.mobile).video .video-call {
			~ cyph-chat-message-list {
				width: 25vw !important;
			}

			~ .video-call-message-box {
				right: -25vw;
				width: 25vw;
			}

			&.sidebar-open {
				cyph-logo,
				.buttons,
				.io-switcher,
				.sidebar,
				~ cyph-chat-message-list,
				~ .video-call-message-box {
					transform: translateX(-25vw) !important;
				}

				.me {
					transform: translateX(-25vw) !important;
				}
			}

			&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
				transform: translateX(25vw) !important;
			}
		}
	}

	.chat-main:not(.mobile).video .video-call {
		~ cyph-chat-message-list {
			> div:first-child {
				height: calc(100% - 110px);
			}

			.message-item {
				font-size: initial;
			}
		}

		~ .video-call-message-box {
			bottom: 10px;
		}

		&.sidebar-open cyph-logo {
			transform: translateX(0) !important;
		}
	}

	.chat-main.mobile.video .video-call {
		~ cyph-chat-message-list {
			width: calc(100vw - 65px) !important;

			> div:first-child {
				height: calc(100% - 45px);
			}
		}

		~ .video-call-message-box {
			right: calc(65px - 100vw);
			width: calc(100vw - 65px);
		}

		cyph-logo {
			pointer-events: none;
		}

		&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
			transform: translateX(calc(100vw - 65px)) !important;
		}

		&.sidebar-open {
			cyph-logo,
			.buttons,
			.io-switcher,
			.sidebar,
			~ cyph-chat-message-list,
			~ .video-call-message-box {
				transform: translateX(calc(65px - 100vw)) !important;
			}

			.me {
				transform: translateX(calc(65px - 100vw)) !important;
			}
		}
	}

	cyph-video * {
		pointer-events: none !important;
	}
}

mat-icon.button-on {
	color: map-get($mat-green, 700) !important;
}

.gallery-view-toggle {
	position: fixed;
	top: 36px;
	right: 96px;
}

.muted-indicator {
	color: white;
	position: fixed;
	left: 38px;
	top: 52px;
	opacity: 0.5;

	> mat-icon {
		transform: translate(-4px, 6px);
	}

	> span {
		font-family: Ubuntu;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
	}
}

.poof {
	&,
	video {
		position: absolute;
		z-index: 10;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
}

.self-destruct {
	cyph-chat-message {
		height: 100vh;
		text-align: center;
		font-size: 50vw;
	}
}

.self-destruct-timer {
	margin: 20px auto;
	padding: 10px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

h3.timer {
	color: rgba(244, 244, 244, 0.5);
	font-size: 2em;
	margin-top: 0.5em;
	font-weight: 500;
}

.accounts {
	.cover-image.call {
		position: absolute;
		z-index: 0 !important;

		&::after {
			background-image: url(/assets/img/cyph.brick.pattern.png);
		}
	}

	.avatar.call {
		position: relative;
		width: 33vh;
		height: 33vh;
		border-width: 0.5em;
		pointer-events: none;
	}

	h2.name {
		color: rgba(244, 244, 244, 0.9);
		margin-bottom: 0.5em;
		font-size: 2em;
	}

	div.contact {
		position: relative;
		top: -2.5em;
	}

	&.audio-only {
		&.mobile,
		&:not(.mobile) {
			> .video-call.sidebar-open .buttons {
				transform: none !important;
			}
		}

		&:not(.mobile) {
			.buttons {
				bottom: 15vh;

				button {
					transform: scale(1.75);
				}
			}
		}

		&.mobile {
			.buttons button {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 12vh;
				transform: scale(2);
			}
		}
	}
}
