@import '../../../../css/mixins';

:host ::ng-deep {
	.transfer-list {
		max-height: 195px;

		.transfer-item {
			height: 65px;

			span {
				word-wrap: break-word;
			}

			mat-progress-bar {
				width: calc(100% - 40px);
				margin-left: 20px;
			}
		}
	}

	.chat-main.mobile .transfer-list {
		padding: 0px 5px;
	}

	.chat-main:not(.mobile):not(.video) .friend-is-typing {
		padding-left: 20px;
	}

	.chat-main.mobile, .chat-main.video {
		.friend-is-typing .ellipsis-spinner {
			width: 100%;
		}
	}

	.chat-main .message-item.ui-style-default .message {
		max-width: 85%;
	}

	.chat-main:not(.mobile):not(.video) .message-item.ui-style-default.author-app .message {
		width: 85%;

		@include transform(translateX(9.25%));
	}

	.chat-main:not(.mobile):not(.video) .message-item.ui-style-default,
	.message-item.ui-style-default.author-app {
		&:after {
			display: none;
		}
	}

	.chat-main.mobile, .chat-main.video .video-call ~ cyph-chat-message-list {
		.message-item.ui-style-default {
			position: relative;
			max-width: 80%;
			min-width: 120px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 25px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			font-size: 1.2em;

			.message {
				width: 100%;
				max-width: 100%;
				padding-bottom: 0px;
			}

			img:not(.avatar-image), .image-frame {
				margin-left: auto;
			}

			.message-timestamp {
				position: absolute;
				bottom: 5px;
				font-size: 0.55em;
				opacity: 0.9;
				text-align: initial;
			}
		}

		.message-item.ui-style-default.author-local {
			margin-right: 5%;

			.message {
				text-align: left;
			}

			.message-timestamp {
				text-align: right;
				right: 10px;
			}
		}

		.message-item.ui-style-default.author-local {
			&:after {
				content: '';
				position: absolute;
				right: -12px;
				border-style: solid;
				border-width: 18px 0px 0px 12px;
				bottom: 0px;
			}
		}

		.message-item.ui-style-default.author-remote {
			margin-left: 5%;

			&:after {
				content: '';
				position: absolute;
				left: -12px;
				border-style: solid;
				border-width: 0px 12px 18px 0px;
				top: 0px;
			}

			.message {
				text-align: left;
			}

			.message-timestamp {
				text-align: left;
				left: 10px;
			}
		}

		.message-item.ui-style-default.author-app {
			width: 90%;
			background-color: transparent;

			.message-timestamp {
				&, > div, > div > div {
					text-align: center;
					width: 100%;
					left: 0px;
				}
			}
		}
	}

	.chat-main.video {
		.video-call {
			height: 100%;
			width: 100%;
			background-color: black;
			overflow: hidden !important;

			.friend {
				height: 100%;

				> video {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
				}
			}

			.me {
				position: absolute;
				bottom: 0px;
				right: 0px;
			}

			mat-progress-spinner {
				@include spinner-center;
			}
		}
	}

	@media all and (orientation: landscape) {
		.chat-main.video .video-call {
			top: -17.5% !important;
			height: 135% !important;

			.me {
				min-width: 100px;
				width: 20vw;
			}

			img.friend {
				height: 56.25vw !important;
				width: 100vw !important;
			}
		}
	}

	@media all and (orientation: portrait) {
		.chat-main.video .video-call {
			left: -17.5% !important;
			width: 135% !important;

			.me {
				width: 40vw;
			}

			img.friend {
				height: 100vh !important;
				width: 177.78vh !important;
			}
		}
	}

	.chat-main.video:not(.mobile) {
		/* Message list is 15%; video UI is 100% - message list height - footer height */

		.video-call .friend {
			height: calc(85% - 110px) !important;
		}

		cyph-chat-message-list {
			max-height: 15%;
		}
	}

	.chat-main .key-exchange-progress {
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

	.chat-main:not(.mobile) .key-exchange-progress {
		width: 50%;
	}

	.chat-main.mobile .key-exchange-progress {
		width: 75%;
	}

	.chat-end-message {
		padding: 10px 0px;
	}

	/*** New fullscreen video UI ***/

	.chat-main.video .video-call {
		position: fixed;
		z-index: 10000;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;

		* {
			z-index: 1;
		}

		cyph-logo, .me, .buttons, .sidebar, ~ cyph-chat-message-list, ~ .video-call-message-box {
			@include transition(transform 0.5s ease-in-out !important);
		}

		cyph-logo {
			position: fixed;
			top: 10px;
			left: 15px;
			height: 45px;
			width: 200px;
			opacity: 0.5;

			@include filter(brightness(0) invert(1));
		}

		.friend {
			position: absolute;
			z-index: 0;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			height: auto !important;
			width: auto !important;
			min-height: 50%;
			min-width: 50%;
			margin: auto;
		}

		img.friend {
			min-width: 0px;
			min-height: 0px;
			margin: 0px;

			@include center;

			@include transition(none !important);
		}

		.me {
			position: fixed;
		}

		.sidebar {
			position: fixed;
			top: 10px;
			right: 15px;

			mat-icon {
				opacity: 0.5;
			}
		}

		button {
			background-color: rgba(0, 0, 0, 0.2);
			box-shadow: transparent 0px 0px 0px 0px, rgba(255, 255, 255, 0.5) 0px 1px 2px 0px;

			&:hover {
				@include transform(scale(1.1));
			}

			&:not(.close-button) {
				color: rgba(255, 255, 255, 0.75);
			}
		}

		.buttons {
			position: fixed;
			z-index: 2;
			bottom: 25px;
			left: 0px;
			width: 100%;

			button {
				@include transform(scale(1.25));

				&[disabled] {
					opacity: 0.5;
				}

				&:hover:not([disabled]) {
					@include transform(scale(1.4));
				}
			}
		}

		~ cyph-chat-message-list {
			display: block;
			position: fixed;
			left: 100%;
			top: 0px;
			height: 100% !important;
			max-height: 100% !important;
			z-index: 10001;
			width: 300px;
			background-color: rgba(255, 255, 255, 0.5);

			@include transform(translateX(0px));

			.message-item.ui-style-default {
				&.author-app {
					background-color: rgba(0, 0, 0, 0.3) !important;
					color: #f1f1f1 !important;
				}
			}
		}

		~ .video-call-message-box {
			position: fixed;
			z-index: 10002;
			bottom: 0px;
			right: -310px;
			width: 310px;

			.text-message-box.mobile {
				.message-box {
					width: 100%;
					height: 48px;
					margin-left: 0px;
					margin-bottom: 0px;
				}
			}
		}

		~ cyph-chat-message-box .menu-button {
			top: calc(50px - 100vh);
		}

		&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
			@include transform(translateX(300px) !important);
		}

		&.sidebar-open {
			cyph-logo, .me, .buttons, .sidebar, ~ cyph-chat-message-list, ~ .video-call-message-box {
				@include transform(translateX(-300px) !important);
			}
		}
	}

	@media (min-width: 1200px) {
		.chat-main:not(.mobile).video .video-call {
			~ cyph-chat-message-list {
				width: 25vw !important;
			}

			~ .video-call-message-box {
				right: -25vw;
				width: 25vw;
			}

			&.sidebar-open {
				cyph-logo, .buttons, .sidebar, ~ cyph-chat-message-list, ~ .video-call-message-box {
					@include transform(translateX(-25vw) !important);
				}

				.me {
					@include transform(translateX(-25vw) scaleX(-1) !important);
				}
			}

			&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
				@include transform(translateX(25vw) !important);
			}
		}
	}

	.chat-main:not(.mobile).video .video-call {
		~ cyph-chat-message-list {
			> div:first-child {
				height: calc(100% - 110px);
			}

			.message-item {
				font-size: initial;
			}
		}

		~ .video-call-message-box {
			bottom: 10px;
		}

		&.sidebar-open cyph-logo {
			@include transform(translateX(0px) !important);
		}
	}

	.chat-main.mobile.video .video-call {
		~ cyph-chat-message-list {
			width: calc(100vw - 65px) !important;

			> div:first-child {
				height: calc(100% - 45px);
			}
		}

		~ .video-call-message-box {
			right: calc(65px - 100vw);
			width: calc(100vw - 65px);
		}

		cyph-logo {
			pointer-events: none;
		}

		&:not(.sidebar-open) ~ cyph-chat-message-box .menu-button {
			@include transform(translateX(calc(100vw - 65px)) !important);
		}

		&.sidebar-open {
			cyph-logo, .buttons, .sidebar, ~ cyph-chat-message-list, ~ .video-call-message-box {
				@include transform(translateX(calc(65px - 100vw)) !important);
			}

			.me {
				@include transform(translateX(calc(65px - 100vw)) scaleX(-1) !important);
			}
		}
	}
}

.poof {
	&, video {
		position: absolute;
		z-index: 10;
		top: 50%;
		left: 0px;
		width: 100%;

		@include transform(translateY(-50%));
	}
}

.self-destruct {
	cyph-chat-message {
		height: 100vh;
		text-align: center;
		font-size: 50vw;
	}
}

.self-destruct-timer {
	margin: 20px auto;
	padding: 10px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}
