<div
	fxFlexFill
	fxLayout='row'
	fxLayoutAlign='center start'
	class='card-list'
	[class.initiating]='accountFilesService.showSpinner'
>
	<div fxFlex fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='16px'>
		<mat-card
			class='form animated slideInDown'
			*ngFor='
				let form of accountFilesService.filesListFiltered.forms | async;
				trackBy: trackByID;
				let i = index;
			'
			[attr.data-index]='i'
			[class.bounceInRight]='!accountFilesService.initiated'
			[ngClass]='"_" + i'
			[routerLink]='accountService.routeRoot + "forms/" + form.id'
		>
			<mat-card-header fxLayout='row'>
				<mat-card-title>
					{{form.name}}
				</mat-card-title>
				<mat-card-subtitle>
					<div *ngIf='
						!form.wasAnonymousShare &&
						accountDatabaseService.currentUser.value &&
						accountDatabaseService.currentUser.value?.user.username !== form.owner
					'>
						<span cyphTranslate>Owner:</span>
						&ngsp;
						<a [routerLink]='accountService.routeRoot + "profile/" + form.owner'>
							{{form.owner}}
						</a>
					</div>
					<div cyphTranslate *ngIf='form.wasAnonymousShare'>
						Received from anonymous
					</div>
				</mat-card-subtitle>
				<div fxFlex fxLayoutAlign='end center'>
					<button
						mat-icon-button
						cyphTranslate
						matTooltip='Edit'
						*ngIf='false'
					>
						<mat-icon>edit</mat-icon>
					</button>
					<button
						mat-icon-button
						cyphTranslate
						matTooltip='Share'
						(click)='
							accountFilesService.shareFilePrompt(form);
							$event.stopPropagation();
						'
					>
						<mat-icon>share</mat-icon>
					</button>
					<button
						mat-icon-button
						cyphTranslate
						matTooltip='Delete'
						(click)='
							accountFilesService.remove(form);
							$event.stopPropagation();
						'
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</mat-card-header>
		</mat-card>

		<h2
			cyphTranslate
			*ngIf='(accountFilesService.incomingFilesFiltered.forms | async)?.length > 0'
		>
			Incoming Forms
		</h2>

		<mat-card
			class='form animated'
			*ngFor='
				let form of accountFilesService.incomingFilesFiltered.forms | async;
				trackBy: trackByID;
				let i = index;
			'
			[attr.data-index]='i'
			[class.bounceInRight]='!accountFilesService.initiated'
			[ngClass]='"_" + i'
		>
			<mat-card-header fxLayout='row'>
				<mat-card-title>
					{{form.name}}
				</mat-card-title>
				<mat-card-subtitle>
					<div *ngIf='!form.wasAnonymousShare'>
						<span cyphTranslate>Shared by</span>
						&ngsp;
						<a [routerLink]='accountService.routeRoot + "profile/" + form.owner'>
							{{form.owner}}
						</a>
					</div>
					<div cyphTranslate *ngIf='form.wasAnonymousShare'>
						Shared anonymously
					</div>
				</mat-card-subtitle>
				<div fxFlex fxLayoutAlign='end center'>
					<button
						mat-icon-button
						cyphTranslate
						matTooltip='Accept'
						(click)='accountFilesService.acceptIncomingFile(form)'
					>
						<mat-icon>check</mat-icon>
					</button>
					<button
						mat-icon-button
						cyphTranslate
						matTooltip='Reject'
						(click)='accountFilesService.acceptIncomingFile(form, false)'
					>
						<mat-icon>close</mat-icon>
					</button>
				</div>
			</mat-card-header>
		</mat-card>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='accountFilesService.showSpinner'
	></mat-progress-spinner>
</div>
