@import '../../../../css/mixins';

.card-holder {
	max-width: 90%;
	margin: 1em auto 1em auto;
	position: relative;

	.e-badge {
		min-width: 18px;
		background-color: #673ab7;
	}

	.e-card.read:not(:hover) {
		opacity: 0.5;
	}

	.e-card-header-title {
		outline: none;
	}
}

.menu-button {
	@include transition(transform 0.5s ease-out);

	&.has-badge {
		@include transform(translateX(-4px));
	}
}
