<ng-container
	*ngFor="
		let notification of accountNotificationsService.notifications | await;
		trackBy: trackByID
	"
>
	<div
		class="card-holder"
		(click)="accountNotificationsService.markAsRead(notification)"
	>
		<div
			class="e-card"
			[class.read]="notification.value.isRead"
			[matTooltip]="getDateTimeString(notification.value.timestamp)"
		>
			<div class="e-card-header">
				<div class="e-card-header-caption">
					<div
						class="e-card-header-title"
						[routerLink]="(notification.value.type == 2 ?
							'/messages/user/' : '/profile/') + notification.value.username"
						*ngIf="!!notification.value.username"
					>
						{{ notification.value.text }}
					</div>
					<div
						class="e-card-header-title"
						*ngIf="!notification.value.username"
					>
						{{ notification.value.text }}
					</div>

					<div class="e-card-sub-title">
						{{
							watchRelativeDateTimeString(
								notification.value.timestamp
							) | await
						}}
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="!notification.value.isRead">
			<span
				class="e-badge e-badge-primary e-badge-overlap e-badge-notification"
			></span>
		</ng-container>
	</div>
</ng-container>
