<mat-autocomplete
	#autoComplete="matAutocomplete"
	(optionSelected)="pushToFilter($event.option.value.toString())"
>
	<ng-container
		*ngIf="options === undefined ? undefined : (options | await) as search"
	>
		<mat-option
			value=""
			[routerLink]="search?.topOption?.routerLink || []"
			*ngIf="!!search?.topOption"
		>
			<span *ngIf="search?.topOption?.text !== undefined">
				{{ search?.topOption?.text || '' }}
			</span>
		</mat-option>
		<mat-option
			[value]="item.value"
			*ngFor="
				let item of search?.items | cyphArray;
				trackBy: trackByValue
			"
		>
			<img
				aria-hidden
				[src]="item.image | await"
				[alt]="search?.imageAltText || ''"
				*ngIf="
					!!search?.imageAltText && (item.image | await) !== undefined
				"
			/>
			<span *ngIf="(item.text | await) !== undefined">
				{{ item.text | await }}
			</span>
			<small *ngIf="(item.smallText | await) !== undefined">
				{{ item.smallText | await }}

				<strong *ngIf="item.matchingText !== undefined">
					(matches: {{ item.matchingText }})
				</strong>
			</small>
		</mat-option>
	</ng-container>
</mat-autocomplete>

<mat-form-field
	fxFlex
	class="search-bar"
	[class.mobile]="envService.isMobile | await"
	*ngIf="filter | await as values"
>
	<mat-chip-list #chipList *ngIf="chipInput">
		<ng-container
			*ngFor="let value of values | cyphArray; trackBy: trackBySelf"
		>
			<mat-chip
				[selectable]="true"
				[removable]="true"
				(removed)="removeFromFilter(value)"
				*ngIf="getChip(value) as chip"
			>
				<span *ngIf="chip.text | await as chipText">
					{{ chipText }}
				</span>
				<ng-container *ngIf="chip.smallText | await as chipSmallText">
					&nbsp;
					<small>&lt;{{ chipSmallText }}&gt;</small>
				</ng-container>
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
		</ng-container>

		<input
			#searchInput
			matInput
			cyphAutofocus
			[cyphAutofocusEnabled]="autofocus"
			[formControl]="control"
			[matAutocomplete]="autoComplete"
			[matChipInputFor]="chipList"
			[name]="name"
			[placeholder]="placeholder"
			[readonly]="!!readonly"
			[required]="!!required"
			(blur)="inputBlur.emit()"
		/>
	</mat-chip-list>

	<input
		#searchInput
		matInput
		cyphAutofocus
		[cyphAutofocusEnabled]="autofocus"
		[formControl]="control"
		[matAutocomplete]="autoComplete"
		[name]="name"
		[placeholder]="placeholder"
		[readonly]="!!readonly"
		[required]="!!required"
		(blur)="inputBlur.emit()"
		*ngIf="!chipInput"
	/>

	<cyph-spinner
		matSuffix
		class="custom"
		diameter="20"
		mode="indeterminate"
		strokeWidth="2"
		*ngIf="spinner | await"
	></cyph-spinner>
	<mat-icon
		matSuffix
		class="suffix-button"
		(click)="clearFilter()"
		*ngIf="
			(spinner | await) === false &&
			(control.value || (values?.size || 0) > 0)
		"
	>
		close
	</mat-icon>
</mat-form-field>
