<mat-form-field
	fxFlex
	class='search-bar'
	[class.mobile]='envService.isMobile'
	*ngIf='filter | async as values'
>
	<mat-chip-list #chipList *ngIf='chipInput'>
		<ng-container *ngFor='let value of values'>
			<mat-chip
				[selectable]='true'
				[removable]='true'
				(removed)='removeFromFilter(value)'
				*ngIf='getChip(value) as chip'
			>
				<span *ngIf='chip.text | async as chipText'>
					{{chipText}}
				</span>
				<ng-container *ngIf='chip.smallText | async as chipSmallText'>
					&nbsp;
					<small>&lt;{{chipSmallText}}&gt;</small>
				</ng-container>
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
		</ng-container>

		<input
			#searchInput
			matInput
			cyphAutofocus
			[cyphAutofocusEnabled]='autofocus'
			[formControl]='control'
			[placeholder]='placeholder'
			[matAutocomplete]='autoComplete'
			[matChipInputFor]='chipList'
			(blur)='inputBlur.emit()'
		/>
	</mat-chip-list>

	<input
		#searchInput
		matInput
		cyphAutofocus
		[cyphAutofocusEnabled]='autofocus'
		[formControl]='control'
		[placeholder]='placeholder'
		[matAutocomplete]='autoComplete'
		(blur)='inputBlur.emit()'
		*ngIf='!chipInput'
	/>

	<mat-progress-spinner
		matSuffix
		class='custom'
		diameter='20'
		strokeWidth='2'
		mode='indeterminate'
		*ngIf='spinner | async'
	></mat-progress-spinner>
	<mat-icon
		matSuffix
		class='suffix-button'
		(click)='clearFilter()'
		*ngIf='(spinner | async) === false && (control.value || values.size > 0)'
	>
		close
	</mat-icon>
</mat-form-field>

<mat-autocomplete
	#autoComplete='matAutocomplete'
	(optionSelected)='pushToFilter($event.option.value.toString())'
>
	<ng-container *ngIf='options === undefined ? undefined : options | async as search'>
		<mat-option
			value=''
			[routerLink]='search.topOption.routerLink'
			*ngIf='!!search.topOption'
		>
			<span *ngIf='search.topOption.text !== undefined'>
				{{search.topOption.text}}
			</span>
		</mat-option>
		<mat-option
			[value]='item.value'
			*ngFor='let item of search.items; trackBy: trackByValue'
		>
			<img
				aria-hidden
				[src]='item.image | async'
				[alt]='search.imageAltText'
				*ngIf='!!search.imageAltText && (item.image | async) !== undefined'
			/>
			<span *ngIf='(item.text | async) !== undefined'>
				{{item.text | async}}
			</span>
			<small *ngIf='(item.smallText | async) !== undefined'>
				{{item.smallText | async}}

				<strong *ngIf='item.matchingText !== undefined'>
					(matches: {{item.matchingText}})
				</strong>
			</small>
		</mat-option>
	</ng-container>
</mat-autocomplete>
