* {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}

body.load-complete #pre-load {
	pointer-events: none;
	opacity: 0;
}

html, body, #main, .cyph-foreground, md-sidenav {
	background-color: #8b62d9 !important;
}

html, body {
	font-size: 14px;
	font-weight: 300;
}

section {
	display: block;
}

[hidden] {
	display: none !important;
}

#main, .cyph-foreground, .md-button:not(.md-fab):not([disabled]), md-icon {
	color: #f1f1f1 !important;
}

md2-icon {
	height: 24px;
	width: 24px;
	min-height: 24px;
	min-width: 24px;
}

md-fab-speed-dial {
	md-fab-trigger {
		img {
			height: 65% !important;
			margin: auto;
			display: block;
		}

		md-icon, img {
			@include transition(all 0.2s ease-out);
		}
	}

	&.md-is-open md-fab-trigger {
		md-icon, img {
			margin-top: -5%;

			@include transform(rotate(225deg));
		}
	}
}

md-fab-actions .md-button {
	background-color: #fafafa !important;

	&.dark {
		background-color: #444 !important;
	}

	&.invert {
		background-color: #757575 !important;

		md-icon {
			color: #fafafa !important;
		}
	}
}

md-fab-actions .md-button:not(.dark):not(.invert) md-icon, .md-button.grey md-icon {
	color: #757575 !important;
}

body .md-button {
	font-weight: normal;
}

md-sidenav .md-button {
	margin-left: 0px;
	width: 100%;
	text-align: left;
	line-height: 25px;

	.image {
		width: 35px;
		display: inline-block;

		img {
			height: 20px !important;
			vertical-align: middle;
			margin-left: 50%;

			@include transform(translateX(calc(-50% - 5px)));
		}

		& + span {
			vertical-align: middle;
		}
	}
}

md-select-menu {
	&, md-content md-option {
		background-color: rgba(180, 141, 255, 0.85);
	}

	md-content md-option {
		color: #f1f1f1;

		&:not([selected]):hover {
			background-color: rgb(180, 141, 255) !important;
		}

		&[selected] {
			background-color: #f1f1f1 !important;
		}
	}
}

md-toast {
	position: fixed;
}

#footer, .footer {
	margin-top: 0px;
	position: relative;
	text-align: center;
	z-index: 2;
}

.small-font {
	font-size: 80%;
}

.strike {
	text-decoration: line-through;
}

md-toolbar, md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	background-color: #7d4fd3;
	height: 40px !important;
	min-height: 40px !important;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

	img {
		height: 25px !important;
		vertical-align: middle;
	}
}

cyph-checkout, #donate {
	button {
		display: block !important;
		margin: 14px auto 25px auto !important;
		background-color: #51318C !important;
		padding: 15px 20px !important;
	}
}

:not(textarea):not(md-input-container):not(input):not(blockquote) {
	border: 0px !important;
}

blockquote {
	border-left: 2px solid #f1f1f1 !important;
	padding-left: 10px;
}

a {
	color: inherit;
}

#footer, .footer {
	a:not(:hover) {
		text-decoration: none;
	}
}

textarea {
	background-color: #f1f1f1;
}

.tabIndent-rendered {
	background-image: none !important;
}

pre, code {
	font-family: 'Ubuntu Mono', monospace;
	white-space: pre-wrap;

	@include word-wrap;
}

.cyph-foreground {
	@include transform-origin(top left);

	@include transition(transform 2s cubic-bezier(1, 0, 0, 1));

	.curtain & {
		@include transform(scaleY(0.1) translateY(-90%));
	}
}

.cyph-foreground {
	width: calc(100% + 1px);
	overflow-y: hidden;
}

#main, .cyph-foreground {
	position: relative;
	z-index: 2;
}

.cyph-view:not(.active) {
	opacity: 0;
	pointer-events: none;
	position: fixed;
}

.cyph-view.active {
	position: relative;

	@include transition(opacity 0.75s linear);
}

@include keyframes(breathe) {
	0%, 100% {
		@include filter(brightness(1));
	}

	50% {
		@include filter(brightness(1.25));
	}
}


.breathe {
	@include animation-name(breathe);

	@include animation-duration(3s);

	@include animation-timing-function(ease-in-out);

	@include animation-iteration-count(infinite);
}

/* nanoScroller styling */

.nano {
	.nano-pane {
		background-color: transparent;
	}
}

/* Desktop styling tweak */

body:not(.mobile) * {
	outline: none !important;
}

/* Lightbox */

.mfp-wrap, .mfp-wrap * {
	overflow: hidden !important;
}

.mfp-figure {
	figure {
		box-shadow: 0px 0px 15px black;

		img {
			max-height: 80vh !important;
			padding: 0px !important;
		}
	}

	button.mfp-close {
		right: 7px;
	}
}

.mfp-figure:after {
	background: none !important;
	box-shadow: none !important;
}

body.mobile .mfp-content {
	pointer-events: none !important;
}

md-card {
	background-color: rgba(81, 49, 140, 0.75);
}

md-progress-circular path {
	stroke: #f1f1f1 !important;
}

md-progress-linear {
	.md-container {
		background-color: rgba(197, 202, 233, 0.4);

		.md-bar2 {
			background-color: #f1f1f1;
			visibility: hidden;

			&[style*='transform'] {
				visibility: visible;

				@include animation(mdProgressLinearVisibilityDelay 0.5s linear);
			}
		}
	}
}

md2-progress-linear[mdMode='determinate'] .md-bar1 {
	display: none;
}

@include keyframes(mdProgressLinearVisibilityDelay) {
	0%, 100% {
		visibility: hidden;
	}
}


/*** Readability improvement for large screens ***/

@media (min-width: 1920px) {
	html, body {
		font-size: 17.5px;
	}
}

/*** Unsemantic ***/

.grid-container {
	max-width: initial;
}

html {
	/*** Angular Material patches (from 0.4 to 0.6 upgrade) ***/

	md-content.md-default-theme {
		background-color: transparent;
	}

	> body p {
		line-height: 135%;
	}

	input, textarea {
		line-height: 26px;
	}

	button.md-button.md-fab {
		z-index: auto;
	}

	.md-button > a {
		text-decoration: none;
	}

	.layout-fill {
		min-height: 0px;
		height: 100%;
	}

	md-toolbar, md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
		.md-toolbar-tools {
			height: 40px;
			min-height: 40px;
			max-height: 40px;
		}
	}

	md-dialog {
		background-color: rgba(139, 98, 217, 0.97) !important;
		color: #f1f1f1 !important;

		h2 {
			font-family: Ubuntu;
			font-weight: normal;
		}
	}

	md-dialog.full {
		height: 100%;
		width: 100%;
	}

	md-checkbox {
		.md-icon {
			background: none !important;
			border-color: #f1f1f1 !important;
		}

		.md-label {
			border: 0px !important;
		}
	}

	#templates {
		display: none;
	}

	@include keyframes(inkRippleCheckbox) {
		0% {
			@include transform(scale(0));

			opacity: 0.4;
		}

		50% {
			@include transform(scale(1));

			opacity: 0.4;
		}

		100% {
			@include transform(scale(1));

			opacity: 0;
		}
	}


	/*** Angular Material patches (from 0.8 to 0.9 upgrade) ***/

	*, *:before, *:after {
		box-sizing: border-box;
	}

	.md-button {
		padding: 6px;
		min-height: 0px;
		min-width: 0px;
		line-height: normal;

		&.md-fab {
			line-height: 100% !important;
		}
	}

	md-dialog {
		.md-title {
			font-size: 1.5em;
			font-weight: normal;
		}

		md-content {
			padding: 24px;
		}
	}

	/*** Angular Material patches (from 0.9 to 0.10 upgrade) ***/

	md-content {
		color: inherit;
	}

	/*** Angular Material patches (from 0.10.1 to 1.0.7 upgrade) ***/

	md-content {
		background-color: inherit;
	}

	md-input-container {
		margin-top: 0px;
	}

	md-sidenav {
		max-width: calc(100% - 50px) !important;
	}

	/*** Angular Material patches (from 1.0.7 to 1.1.0 upgrade) ***/

	md-card {
		color: inherit;
	}
}
