@import 'bourbon/bourbon';


* {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}

html, body, #main, .cyph-foreground, md-sidenav {
	background-color: #8b62d9 !important;
}

body {
	font-size: 14px;
	font-weight: 300;
}

section {
	display: block;
}

#main, .cyph-foreground, .md-button {
	color: #f1f1f1 !important;
}

html .md-button {
	font-weight: normal;
}


md-sidenav .md-button {
	width: 100%;
	text-align: left;
	line-height: 25px;

	.image {
		width: 35px;
		display: inline-block;

		img {
			height: 20px !important;
			vertical-align: middle;
			margin-left: 50%;
			@include transform(translateX(calc(-50% - 5px)));
		}

		& + span {
			vertical-align: middle;
		}
	}
}


md-toast {
	position: fixed;
}


#footer, .footer {
	margin-top: 0px;
	position: relative;
	text-align: center;
	padding: 15px 0px 5px 0px;
}


md-toolbar, md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	background-color: #7d4fd3;
	height: 40px !important;
	min-height: 40px !important;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

	img {
		height: 25px !important;
		vertical-align: middle;
	}
}
#mobile-toolbar {
	position: fixed;
	top: 0px;
}

cyph-markdown, [cyph-markdown] {
	> p:only-child {
		display: inline;
	}

	:not(p:only-child) {
		margin: 10px;
	}
}
html:not(.mobile) {
	cyph-markdown, [cyph-markdown] {
		:not(p:only-child) {
			margin-left: 25px;
		}
	}
}

:not(textarea):not(md-input-container):not(input):not(blockquote):not(md-progress-circular *) {
	border: 0px !important;
}
blockquote {
	border-left: 2px solid #f1f1f1 !important;
	padding-left: 10px;
}

a {
	color: inherit;
}
#footer, .footer {
	a:not(:hover) {
		text-decoration: none;
	}
}

textarea {
	background-color: #f1f1f1;
}

.tabIndent-rendered {
	background-image: none !important;
}

pre {
	white-space: pre-wrap;
	@include word-wrap;
}


.cyph-foreground.curtain {
	height: 10%;
	@include transform(translateY(-90%));
	@include transition(transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1));
}
.cyph-foreground:not(.curtain) {
	@include transition(transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1));
}
.cyph-foreground {
	width: calc(100% + 1px);
	overflow-y: hidden;
}
#main, .cyph-foreground {
	position: relative;
	z-index: 2;
}



[ng-view]:not(.active) {
	opacity: 0;
	pointer-events: none;
	position: fixed;
}
[ng-view].active {
	position: relative;
	@include transition(opacity 0.75s linear);
}



@include keyframes(breathe) {
	0%, 100% {
		@include filter(brightness(1.0));
	}

	50% {
		@include filter(brightness(1.25));
	}
}

.breathe {
	@include animation-name(breathe);
	@include animation-duration(3s);
	@include animation-timing-function(ease-in-out);
	@include animation-iteration-count(infinite);
}



/* nanoScroller styling */

.nano {
	.nano-pane {
		background-color: transparent;
	}
}



/* Mobile and desktop classes */

html:not(.mobile) * {
	outline: none !important;
}

html.mobile .desktop-only,
html:not(.mobile) .mobile-only,
.platform-container.mobile .desktop-only,
.platform-container:not(.mobile) .mobile-only
{
	display: none;
}

html.mobile .platform-container:not(.mobile) .desktop-only,
html:not(.mobile) .platform-container.mobile .mobile-only
{
	display: initial;
}



/* Moved beta signup stuff from cyph.com CSS */

.beta-signup-form {
	color: #f1f1f1;

	*, md-input-container.md-default-theme * {
		color: #f1f1f1;
		border-color: #f1f1f1;
		width: 100%;
	}
	*:not(p):not(p *) {
		display: block;
	}

	md-input-container.md-input-focused * {
		color: #c9adff !important;
		border-color: #c9adff !important;
	}

	md-input-container.md-default-theme label {
		font-size: 0.75em;
	}

	.md-button {
		@include transform(scale(0.75) !important);
		background-color: #7d4fd3 !important;
		margin: 25px auto;
		width: calc(100% - 100px);
		min-width: 200px;
		display: block;
	}
}

.beta-signup-form .md-button, #new-cyph-footer {
	font-family: 'Ubuntu' !important;
	line-height: 50px !important;
	font-size: 18px !important;
	box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25) !important;
}
#new-cyph-footer {
	width: 200px;
	@include transform(scale(0.75) !important);
}

.beta-signup-form + div {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	z-index: 99;
	top: 0px;
	left: 0px;
	width: 101%;
	height: 101%;
	font-size: 5vw;
	padding: 15vh 15vw;
	background-color: rgba(97, 51, 163, 0.75);
	font-family: 'Ubuntu' !important;
}

.beta-signup-form.complete + div, .beta-signup-form.visible {
	opacity: 1;
	@include transition(opacity 500ms 1s linear);
}

.hidden-submit-button {
	visibility: hidden;
	position: absolute;
	pointer-events: none;
}



.fadeInSlow {
	@include animation-name(fadeIn);
	@include animation-duration(1s);
	@include animation-timing-function(cubic-bezier(1, 0, 0, 1));
}



/* Lightbox */

.mfp-wrap, .mfp-wrap * {
	overflow: hidden !important;
}
.mfp-figure {
	figure {
		box-shadow: 0px 0px 15px black;

		img {
			max-height: 80vh !important;
			padding: 0px !important;
		}
	}

	button.mfp-close {
		right: 7px;
	}
}
.mfp-figure:after {
	background: none !important;
	box-shadow: none !important;
}
html.mobile .mfp-content {
	pointer-events: none !important;
}



/*** Angular Material patches (from 0.4 to 0.6 upgrade) ***/

md-content.md-default-theme {
	background-color: transparent;
}

html > body p {
	line-height: 135%;
}

input, textarea {
	line-height: 26px;
}

button.md-button.md-fab {
	z-index: auto;
}

.md-button > a {
	text-decoration: none;
}

[layout-fill] {
	min-height: 0px;
	height: 100%;
}

md-toolbar, md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	.md-toolbar-tools {
		height: 40px;
		min-height: 40px;
		max-height: 40px;
	}
}

md-dialog {
	background-color: rgba(139, 98, 217, 0.97) !important;
	color: #f1f1f1 !important;

	h2 {
		font-family: Ubuntu;
		font-weight: normal;
	}
}

md-checkbox {
	.md-icon {
		background: none !important;
		border-color: #f1f1f1 !important;
	}

	.md-label {
		border: 0px !important;
	}
}

#templates {
	display: none;
}


@include keyframes(inkRippleCheckbox) {
	0% {
		@include transform(scale(0));
		opacity: 0.4;
	}

	50% {
		@include transform(scale(1));
		opacity: 0.4;
	}

	100% {
		@include transform(scale(1));
		opacity: 0;
	}
}


/*** Unsemantic ***/

.grid-container {
	max-width: initial;
}


/*** Angular Material patches (from 0.8 to 0.9 upgrade) ***/

*, *:before, *:after {
	box-sizing: border-box;
}

.md-button {
	padding: 6px;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	line-height: normal;

	&[disabled] {
		background-color: transparent !important;
	}

	&.md-fab {
		line-height: 100% !important;
	}
}

md-dialog {
	.md-title {
		font-size: 1.5em;
		font-weight: normal;
	}

	md-content {
		padding: 24px;
	}
}


/*** Angular Material patches (from 0.9 to 0.10 upgrade) ***/

md-content {
	color: inherit;
}


/*** Angular Material patches (from 0.10.1 to 1.0.7 upgrade) ***/

md-content {
	background-color: inherit;
}

md-input-container {
	margin-top: 0px;
}

md-sidenav {
	max-width: calc(100% - 50px) !important;
}
