@import 'fonts';
@import 'cyph.base';


html, body, #main {
	max-width: initial !important;
	max-height: initial !important;
	overflow: initial;
}

html:not(.mobile) #main {
	padding-bottom: initial;
	padding-left: initial;
	padding-right: initial;
}


html:not(.load-complete) {
	#main > section, footer, .bouncing-down-arrow {
		display: none;
	}
}

section#main {
	background-color: transparent !important;
	overflow-x: hidden;
}

#main, #new-cyph-section {
	min-height: 100vh;
}
#main section {
	position: relative;
}
#main section {
	padding: 20px;
}


#hero-section {
	overflow: hidden;
}

.hero-background {
	z-index: 1;
	position: absolute;
	bottom: -50%;
	left: -50%;
	height: 200%;
	width: 200%;
	background-color: transparent;

	> * {
		position: absolute;
		z-index: 0;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: auto !important;
		width: auto !important;
		min-height: 50%;
		min-width: 50%;
		margin: auto;
	}

	&:after {
		z-index: 2;
		position: absolute;
		background-color: rgba(57, 40, 89, 0.85);
		width: 100%;
		height: 100%;
		left: 0px;
		bottom: 3px;
		content: '';
		display: block;
	}
}

.hero-foreground {
	z-index: 3;
	position: relative;
}


.md-button.new-cyph-button {
	font-size: 14px;
	width: auto;
	margin-bottom: 6px;
	box-shadow: 0px 0px 2px #7239dd;
	color: #444;
	background-color: #7d4fd3 !important;

	&.focus, &:hover {
		background-color: #7239dd !important;
	}
}

#new-cyph {
	font-family: 'Ubuntu';
	line-height: 50px;
	font-size: 18px;
	box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25);

	position: absolute;
	top: calc(50% - 31px);
	left: calc(50% - 100px);
	margin-left: auto;
	margin-right: auto;
	width: 200px;

	@include transition(transform 0s);
}

html.mobile #new-cyph-section {
	height: 0px;
	min-height: 0px;
	padding: 0px !important;
}

.hero-text {
	width: 100%;
	text-align: center;
	margin-top: 80px;
	font-size: 42px;
	font-weight: 100;
	line-height: 12px;

	.subtitle {
		font-size: 50%;
		margin: 10px -25px;
	}
}

.feature-list-container {
	margin-top: 70px;

	> .grid-parent.right {
		text-align: right;
	}

	.feature-list-item {
		margin-bottom: 50px;

		p.title {
			/* line-height: 2.8vw; */
			font-size: 15px;
			font-family: 'Ubuntu';
		}

		p:not(.title) {
			font-size: 95%;
			line-height: 150%;
		}

		img {
			/* box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25); */
			border-radius: 100% !important;
			padding: 0px;
		}

		.oneline {
			display: block;
			width: 100%;
			margin: 3px 10%;
		}
	}

	.screenshot {
		display: block;
		height: calc((50px + 5.525vw) * 3 - 50px);

		&.laptop {
			margin-left: calc(((50px + 5.525vw) * 3 - 50px) * -0.885);
		}

		&.phone {
			margin-left: auto;
			margin-right: auto;
		}
	}
}


/* Targeting screens smaller than what Unsemantic considers a "tablet" */
@media (max-width: 767px) {
	.hero-text {
		font-size: 32px;
	}

	.feature-list-container {
		.screenshot {
			padding: 0px;
			margin: 0px;
			margin-bottom: 50px;
		}

		.feature-list-item {
			p.title {
				margin-top: -50px;
				margin-bottom: 40px;
			}

			.mobile-push p:not(.title) {
				margin-left: -33%;
			}

			img {
				min-width: 50px;
			}
		}
	}
}


#main-toolbar, #new-cyph {
	top: 0px !important;
}

#new-cyph {
	z-index: 12;
	position: fixed;
	top: -7px !important;
	@include transform(scale(0.6) !important);
}

#main-toolbar {
	position: fixed;
	z-index: 11;
	height: 50px !important;
	background-color: rgba(97, 51, 163, 0.75);
}

#logo {
	top: 10px;
	left: 15px;
	height: 30px;

	> img {
		height: auto !important;
		max-height: 100%;
		max-width: 25vw;
	}
}
.bouncing-down-arrow {
	display: block;
	position: relative;
	width: auto;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.5) !important;
	cursor: pointer;
}
#logo {
	position: fixed;
	z-index: 13;

	> img {
		width: auto;
		height: 100%;
	}
}



#testimonials-section {
	background-color: rgb(97, 51, 163);
	margin-top: -2px;

	> .grid-container {
		position: relative;
		padding: 25px 0px;
	}

	* {
		@include transition(opacity 0.75s linear);
	}

	.logo {
		height: 75px;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		display: block;

		&:not(.active) {
			opacity: 0.2;
		}

		> img {
			display: block;
			position: relative;
			top: 50%;
			@include transform(translateY(-100%));
			margin: auto;
			max-height: 100%;
			max-width: 80%;
		}
	}

	.quote-container {
		min-height: 1px;

		.quote {
			position: absolute;
			width: calc(50% - 50px);
			margin-left: 25px;

			&:not(.active) {
				opacity: 0;
				pointer-events: none;
			}

			&:before {
				content: '\201c';
				position: absolute;
				font-family: Georgia, serif;
				font-size: 100px;
				margin-top: -35px;
				margin-left: -50px;
			}

			.text {
				font-size: 16px;
				line-height: 150%;
			}

			.extra {
				opacity: 0.5;
				margin-top: 15px;
				margin-left: -25px;
				width: 100%;
				text-align: center;
			}
		}
	}
}



.demo-root {
	> * {
		height: calc(100vh - 100px);
		padding: 0px;
		overflow: hidden;
		position: relative;

		> .cyph-foreground:not(.curtain) {
			height: 100%;
		}
	}

	> .desktop {
		[cyph-chat-main], [cyph-chat-message-box] {
			margin-left: 170px;
			width: calc(100% - 170px);
		}
		[cyph-chat-main] {
			height: calc(100% - 60px);
		}
		[cyph-chat-message-box] {
			margin-top: -5px;
		}
	}

	> .mobile {
		.chat-toolbar {
			margin-top: 0px;
		}
		[cyph-chat-main] {
			height: calc(100% - 88px);
		}
	}

	.chat-begin-message {
		font-size: 4vw;
	}

	.chat-cyphertext {
		position: absolute;
	}

	.chat-sidebar {
		margin-left: -13px;
		margin-top: -50px;
		@include transform(scale(0.8));
	}
}

.beta-signup-form {
	padding: initial;
}



#footer {
	padding-bottom: 50px;
	background-color: rgba(97, 51, 163, 0.75);

	> section {
		min-height: 0px;
		height: auto;
	}

	.footer-info, .footer-bullshit {
		padding: 0px 5%;
		line-height: 30px;
	}

	.footer-bullshit {
		margin-top: 30px;
		font-size: 75%;
	}

	.beta-signup-form {
		width: 100%;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}



#error {
	h1 {
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
		font-size: 2.5vw;
	}

	> * {
		width: 66%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	li {
		margin-bottom: 15px;
	}
}



.section-content-container {
	width: 100%;
	max-width: 620px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;

	> p {
		padding-bottom: 15px;
	}

	md-input-container {
		padding: 0px 10vw;
	}

	li {
		margin-bottom: 15px;
	}
}

.founder-photos {
	> * {
		img {
			max-width: 200px;
			margin-bottom: 20px;
			border-radius: 100%;
			box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25) !important;
		}
	}

	> *:not(.bounceInLeft):not(.bounceInRight) {
		visibility: hidden;
	}
}
html.mobile {
	.founder-photos {
		margin-left: -20px;
		width: calc(100% + 40px);

		img {
			width: 100%;
		}

		.name {
			margin-top: calc(16.5vw - 20px);

			&.mobile-pull-33 {
				text-align: right;
			}
		}
	}
}
html:not(.mobile) {
	.founder-photos {
		padding: 20px;

		> * {
			img {
				width: 80%;
			}

			* {
				width: 100%;
				display: block;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}

			.name {
				width: 200%;
				margin-left: -50%;
			}
		}
	}
	.founder-photos:after {
		clear: both;
		content: '';
		display: block;
	}
}

#main:not(.unisection-mode) #footer .beta-signup-form {
	display: none;
}

#podcast-section {
	padding-top: 75px !important;

	.hero-text {
		top: 20px;

		img {
			max-width: 450px;
			max-height: 175px;
		}
	}
}
html.mobile {
	#podcast-section {
		padding-top: 120px !important;

		.hero-text {
			top: 75px;
		}
	}
}

#main.unisection-mode {
	> section:not(.unisection), .bouncing-down-arrow {
		display: none;
	}
}



#home-beta-signup {
	text-align: center !important;

	.md-button {
		@include transform(scale(0.75) !important);
		width: 200px !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#laptop-screenshot-section {
	.hero-text {
		position: relative;
		margin: 0px;
		padding: 0px;
		text-align: left;
		top: 0px;
	}

	.section-content-container {
		margin: 50px 0px;
		max-width: 100%;
	}
}
