@import './theme';

@include mat-core;

@include cyph-apply-theme(true);

/* Temporary workaround */
mat-dialog-container {
	max-height: 90vh !important;

	mat-tab-body {
		max-height: 70vh;
	}
}

.mat-tooltip {
	font-size: 12px;
}
.mat-tooltip,
.mat-slide-toggle-content {
	font-weight: normal;
}
.mat-tooltip.fake-tooltip {
	color: #fff;
	border-radius: 4px;
	margin: 14px;
	max-width: 250px;
	padding-left: 8px;
	padding-right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}

$cyphLargeDialogHeight: calc(100vh - 64px) !important;
$cyphLargeDialogWidth: calc(100vw - 64px) !important;
.cyph-large-dialog {
	max-height: $cyphLargeDialogHeight;
	min-height: $cyphLargeDialogHeight;
	height: $cyphLargeDialogHeight;
	max-width: $cyphLargeDialogWidth;
	min-width: $cyphLargeDialogWidth;
	width: $cyphLargeDialogWidth;

	> mat-dialog-container {
		&,
		> * {
			height: 100% !important;
			width: 100% !important;
		}

		> * {
			position: relative;
		}
	}
}

/* Workaround for mobile Chrome vh bug */
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
	height: 100%;
}

/* Workaround for https://bugs.chromium.org/p/chromium/issues/detail?id=821876 */
body.disable-drop-shadow {
	.loading > .logo-animation,
	cyph-chat-message-list .message-list-background {
		@include filter(none !important);
	}
}

/* https://github.com/angular/components/issues/8416 */
.mat-checkbox-layout {
	white-space: normal !important;
}

/* Temporary workaround for Angular Material bug */
mat-sidenav.disabled {
	@include transform(none !important);
}

mat-sidenav {
	min-width: 250px;

	/* Temporary workaround for Angular Material bug */
	visibility: hidden;

	.mat-button {
		mat-icon,
		img {
			margin-right: 5px;
		}
	}
}

mat-sidenav-container {
	background-color: transparent !important;
	color: inherit !important;
}

.mat-sidenav-content {
	overflow-x: hidden !important;
}

.mat-drawer-backdrop {
	background-color: rgba(33, 33, 33, 0.48) !important;
}

mat-tab-header {
	max-width: 100%;
}

.mat-tab-label.mat-tab-disabled {
	opacity: 0.3;
}

* {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}

body.load-complete #pre-load {
	pointer-events: none;
	opacity: 0;
}

html,
body,
#main,
.cyph-foreground {
	margin: 0;
}

img:not([src]) {
	visibility: hidden !important;
}

section {
	display: block;
}

emoji-mart .emoji-mart-category > ngx-emoji {
	&,
	* {
		cursor: pointer !important;
	}
}

input.text-security {
	-webkit-text-security: disc !important;
	font-family: text-security-disc !important;
}

#footer,
.footer {
	margin-top: 0;
	position: relative;
	text-align: center;
	z-index: 2;
}

.truncate {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-list,
mat-card.file {
	position: relative;

	> div {
		min-height: 100%;
		padding-bottom: 1rem;

		> h2 {
			text-align: center;
			border-bottom: 1px solid;
			padding-bottom: 0.25rem;
		}
	}

	mat-card-title {
		font-size: 1em !important;
	}

	mat-card-title.truncate,
	mat-card-subtitle.truncate {
		/* Temporary "reasonable cap" until better solution is implemented */
		max-width: 400px;
	}
}

mat-card.ui-section {
	overflow: hidden;

	> mat-card-title.mat-card-title {
		background-color: #424242;
		color: white;
		margin-bottom: 24px;
		margin-top: -16px;
		margin-left: -16px;
		margin-right: -16px;
		padding: 8px 16px;
		font-size: 18px;
		line-height: 28px;
		text-align: left;
	}

	> button.close-button {
		color: #f1f1f1 !important;
		position: absolute;
		right: 3px;
		top: 3px;
	}

	mat-form-field {
		margin-top: -8px;
	}
}

mat-card.partial-width {
	margin: 2%;
	width: 96%;
	overflow: -webkit-paged-x;
}

body.mobile .card-list {
	mat-card {
		padding: 20px;
		padding-bottom: 12px;

		mat-card-header > div:last-child {
			margin-top: -12px;
		}

		.mat-card-avatar {
			@include transform(translateY(-4px));
		}
	}
}

.initiating {
	overflow-y: hidden !important;

	> :first-child:not(mat-progress-spinner) {
		opacity: 0.5 !important;

		&,
		* {
			pointer-events: none !important;
		}
	}

	> mat-progress-spinner:not(.custom) {
		z-index: 10;

		@include spinner-center;
	}
}

.cyph-foreground,
cyph-chat-message .message-item.ui-style-default .ql-container {
	font-size: 1.08rem;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: underline;
}

.cyph-drop-zone {
	cursor: pointer;

	&:hover {
		@include filter(brightness(1.5));
	}
}

.cyph-drop-zone,
button {
	mat-icon,
	.mat-button-wrapper {
		pointer-events: none;
	}
}

.pre-spaced {
	white-space: pre;
}

.password-title {
	position: relative;

	button.back {
		position: absolute;
		left: 0;
	}
}

.xkcd-passphrase {
	font-family: 'Ubuntu Mono';
	font-size: 2em;
	text-align: center;
}

.ng-draggable {
	cursor: grab;
}

.text-center {
	text-align: center;
}

.font-bold {
	font-weight: bold;
}

[mat-button],
[mat-flat-button],
[mat-raised-button],
[mat-stroked-button] {
	text-transform: uppercase;
}

[mat-icon-button] {
	&.pulldown mat-icon {
		margin-bottom: -3px;
	}

	&.shrink mat-icon {
		@include icon-size(23px);
	}
}

[mat-mini-fab] {
	&.pulldown mat-icon {
		margin-top: 1px;
	}

	&.shrink mat-icon {
		@include icon-size(22px);
	}
}

smd-fab-speed-dial:not(.smd-opened) {
	pointer-events: none;
}

[mat-fab],
smd-fab-speed-dial {
	&.absolute-fab,
	&.fixed-fab {
		right: 16px;
		bottom: 16px;

		&.left-shift {
			right: 72px;
		}
	}

	&.absolute-fab {
		position: absolute;
	}

	&.fixed-fab {
		position: fixed;
		z-index: 50;
	}
}

.ui-disabled {
	opacity: 0.5;
	pointer-events: none;
}

mat-option img {
	height: 25px;
	vertical-align: middle;
}

mat-progress-spinner.global {
	@include spinner-center;
}

mat-row.clickable {
	cursor: pointer;

	&:hover {
		font-weight: bold;
	}
}

[matDialogTitle] {
	font-family: Ubuntu;
	font-weight: initial !important;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 32px;
}

.router-link {
	cursor: pointer;
}

mat-card {
	&.fullscreen {
		position: fixed !important;
		width: 100% !important;
		height: 100% !important;
		max-width: 100% !important;
		max-height: 100% !important;
		top: 0 !important;
		left: 0 !important;
		overflow-y: scroll !important;

		mat-card-title {
			text-align: center !important;
		}

		mat-card-content.full-height {
			min-height: calc(100% - 52px);
		}
	}

	&.fullscreen,
	&.full {
		border-radius: 0 !important;
	}

	.card-header-logo {
		position: absolute;
		height: 2em;
		max-width: 20em;
		top: 16px;
		right: 0;

		> * {
			background-position-x: calc(100% - 16px);
		}
	}

	.ql-container {
		font-size: inherit;
	}
}

@media (max-width: 799px) {
	mat-card .card-header-logo {
		height: 17px;
		max-width: 170px;
		top: 6px;

		> div {
			background-position-x: 50%;
		}
	}
}

mat-card-title {
	max-width: 100%;
}

/* Temporary workaround for Material bug */
mat-progress-bar > svg.mat-progress-bar-background {
	visibility: hidden;
	pointer-events: none;
}

html,
button,
input,
select,
textarea {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

button,
[mat-button],
[mat-raised-button] {
	img {
		pointer-events: none;
	}
}

.suffix-button {
	cursor: pointer;
}

.image-frame {
	overflow: hidden;
}

.countdown {
	font-family: 'Ubuntu Mono', monospace;
	word-break: normal;
	word-wrap: normal;
}

.flipped {
	@include transform(rotate(180deg));
}

.small-font {
	font-size: 80%;
}

.strike {
	text-decoration: line-through;
}

.full-width {
	width: 100%;
}

.no-pointer-events {
	pointer-events: none;
}

.text-align-center {
	text-align: center;
	width: 100%;
}

.visibility-hidden {
	visibility: hidden;
	pointer-events: none;
}

.no-select {
	@include user-select(none);
}

blockquote {
	padding-left: 10px;
}

.slider-label {
	font-weight: normal;
}

#footer,
.footer {
	a:not(:hover) {
		text-decoration: none;
	}
}

.tabIndent-rendered {
	background-image: none !important;
}

pre,
code {
	font-family: 'Ubuntu Mono', monospace;
	white-space: pre-wrap;

	@include word-wrap;
}

.cyph-foreground {
	width: calc(100% + 1px);
	overflow: hidden;

	@include transform-origin(top left);

	@include transition(transform 2s cubic-bezier(1, 0, 0, 1));

	.curtain & {
		@include transform(scaleY(0.1) translateY(-90%));
	}
}

#main,
.cyph-foreground {
	position: relative;
	z-index: 2;
}

.cyph-banner {
	display: block;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: initial;
	padding: 16px;
	margin: 0;

	&.emphasis {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

		@include filter(brightness(1.05));
	}

	&.password {
		&.high,
		&.very-high {
			color: map-get($mat-green, 700) !important;
		}

		&.medium {
			color: map-get($mat-amber, 900) !important;
		}

		&.low {
			color: map-get($mat-red, 700) !important;
		}
	}

	&:not(.default-align) {
		text-align: center;
	}
}

.password-option {
	background-color: rgba(255, 255, 255, 0.1);
}

.cyph-light-theme .password-option {
	background-color: rgba(0, 0, 0, 0.03);
}

@include keyframes(flashIn) {
	50% {
		@include filter(
			brightness(1.25) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25))
		);
	}
}

.cyph-flash-in {
	@include animation-name(flashIn);

	@include animation-duration(333ms);

	@include animation-timing-function(ease-out);

	@include animation-iteration-count(1);
}

.cyph-loading-indicator {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 100%;
	z-index: 10 !important;
	padding: 0;
}

body:not(.mobile) .cyph-loading-indicator {
	left: 1px;
	width: calc(100% - 2px);
}

mat-icon.gdpr {
	@include icon-size(42px);
}

@include keyframes(breathe) {
	0%,
	100% {
		@include filter(brightness(1));
	}

	50% {
		@include filter(brightness(1.25));
	}
}

.breathe {
	@include breathe;
}

/* cyphNanoScroller styling */

$nanoScrollbarWidth: 17px;

@function nanoDefault() {
	@return '&:not(mat-tab-group)';
}

@function nanoDefaultTarget() {
	@return '#{nanoDefault()} > :first-child';
}

@function nanoTabGroup() {
	@return 'mat-tab-group#{&}';
}

@function nanoTabGroupTarget() {
	@return '#{nanoTabGroup()} mat-tab-body';
}

.nano {
	@at-root {
		#{nanoDefault()} {
			overflow: auto;
			position: relative;
			overflow-x: hidden;

			&.edge {
				overflow: hidden;
			}
		}

		#{nanoDefaultTarget()} {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			overflow: scroll;
			overflow-x: hidden;
		}

		#{nanoTabGroupTarget()} {
			height: 100%;

			@include word-wrap;
		}

		&.edge {
			@at-root #{nanoTabGroupTarget()},
				#{nanoDefaultTarget()} {
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
		}

		&.webkit {
			::-webkit-scrollbar {
				width: 0;
				background: transparent;
			}

			::-webkit-scrollbar-thumb {
				background: #f4f4f4;
			}
		}

		&.other {
			@at-root {
				@at-root #{nanoTabGroupTarget()},
					#{nanoDefaultTarget()} {
					width: calc(100% + #{$nanoScrollbarWidth});
					overflow-y: scroll;
				}
			}
		}
	}
}

/* Dialog sizing */

@media (min-width: 1920px) {
	mat-dialog-container {
		width: 33vw !important;
	}
}

@media (min-width: 1280px) and (max-width: 1919px) {
	mat-dialog-container {
		width: 40vw !important;
	}
}

@media (min-width: 960px) and (max-width: 1279px) {
	mat-dialog-container {
		width: 50vw !important;
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	mat-dialog-container {
		width: 60vw !important;
	}
}

@media (max-width: 599px) {
	mat-dialog-container {
		width: 80vw !important;
	}
}

/*** SpinKit animation: http://tobiasahlin.com/spinkit/ ***/

.ellipsis-spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;

	> div {
		width: 8px;
		height: 8px;
		border-radius: 100%;
		display: inline-block;

		@include animation(ellipsis-spinner 1.4s infinite ease-in-out);

		/* Prevent first frame from flickering when animation starts */
		@include animation-fill-mode(both);
	}

	.bounce1 {
		@include animation-delay(-0.32s);
	}

	.bounce2 {
		@include animation-delay(-0.16s);
	}
}

@include keyframes(ellipsis-spinner) {
	0%,
	80%,
	100% {
		@include transform(scale(0));
	}

	40% {
		@include transform(scale(1));
	}
}
