body.telehealth {
	&, #main, md-sidenav, md-dialog, .chat-begin-message, md-toolbar, md-toolbar.md-default-theme {
		background-color: #eeecf1 !important;
	}

	#main {
		.chat-sidebar .md-button, .chat-message-box:not(.mobile) .md-button, .video-call:not(.playing) .close-button {
			background-color: #eeecf1 !important;

			&:hover {
				background-color: #b7bccb !important;
			}

			&[disabled], &[disabled]:hover {
				box-shadow: none !important;
				border: solid 1px #E7C447 !important;
				background-color: transparent !important;
			}
		}

		.chat-sidebar .md-button:not(.md-fab) {
			border: solid 1px rgba(255, 255, 255, 0.5);
			border-radius: 0px;
			box-shadow: none;
		}

		.video-call:not(.playing) .close-button {
			color: #4D5062 !important;
			box-shadow: none !important;
		}

		.connect-link-mobile md-icon {
			color: white !important;
		}
	}

	.chat-message-box:not(.mobile) .message-box:focus {
		box-shadow: 0 0 10px #E7C447;
		border: 1px solid #E7C447;
	}

	.message-item {
		background-color: transparent;
		box-shadow: none;
	}

	.message-item.author-other:after {
		border-color: transparent #4D5062 !important;
	}

	.message-item.author-other:before {
		box-shadow: 5px 1px 5px #4D5062 !important;
	}

	textarea {
		@include placeholder {
			color: #4D5062 !important;
		}
	}

	span, a, p, h1, h2, h3, li, cyph-help, .message-timestamp {
		color: #4D5062 !important;
		font-weight: 400;
	}

	.not-found img {
		-webkit-filter: brightness(0.5);
		filter: brightness(0.5);
	}

	.md-bar2 {
		background-color: #E7C447 !important;
		opacity: 0.75;
	}

	.logo-animation {
		display: none !important;
	}

	.telehealth-logo img {
		width: 42vh;
	}

	.footer {
		//visibility: hidden;
		//margin-bottom: -75px;
		color: #4D5062;

		.icons {
			right: 12px;
			bottom: 7px;
			position: fixed;
		}

		.powered-by-cyph {
			top: 15px;
			position: relative;
		}
	}

	.message-list:after,
	.chat-end-message,
	.chat-sidebar:not(.show-chat) .logo,
	.abort-screen .image {
		display: none;
	}

	.chat-main.video .video-call.active.playing ~ .message-list {
		background-color: rgba(187, 168, 223, 0.8) !important;
	}

	/*
	span.message-timestamp.flex,
	cyph-markdown.message-text.app-message p {
		color: #f3f3f3 !important;
	}
	*/
}

body.telehealth:not(.mobile) {
	.chat-message-box {
		textarea {
			background-color: rgba(77, 80, 98, 0.33) !important;
		}

		textarea {
			@include placeholder {
				color: #4D5062 !important;
			}
		}
	}

	.message-item.author-me {
		background-color: transparent !important;
		box-shadow: none !important;
	}

	.message-item.author-other {
		background-color: transparent !important;
		box-shadow: none !important;
	}

	md-icon {
		color: #4D5062 !important;
	}
}

body.telehealth.mobile {
	md-icon.material-icons {
		color: #4D5062 !important;
	}

	.chat-main.mobile {
		.message-item.author-me, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-me {
			background-color: rgba(231, 196, 70, 0.95);
		}

		.message-item.author-other, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-other {
			margin-left: 5%;
			background-color: rgba(231, 196, 70, 0.95);
		}

		.message-item.author-me:after, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-me:after {
			border-color: transparent rgba(231, 196, 70, 0.95) !important;
			right: -11px;
		}

		.message-item.author-other:after, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-other:after {
			border-color: transparent rgba(231, 196, 70, 0.95) !important;
			left: -10px;
		}

		.message-item.author-other .message-timestamp, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-other .message-timestamp {
			color: #4D5062 !important;
		}

		.message-item.author-me .message-timestamp, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-me .message-timestamp {
			color: #4D5062 !important;
		}
	}
}
