@import 'cyph.im';

html, body, #main {
	max-width: initial !important;
	max-height: initial !important;
	overflow: initial;
	padding-top: 0px !important;
}

html:not(.mobile) #main {
	padding-bottom: initial;
	padding-left: initial;
	padding-right: initial;
}

html:not(.load-complete) {
	#main > section, footer {
		display: none;
	}
}

section#main {
	background-color: transparent !important;
	overflow-x: hidden;
}

#main {
	min-height: 100vh;

	section {
		position: relative;
		padding: 20px;

		> img.background {
			display: block;
			position: absolute;
			pointer-events: none;
			z-index: 0;
			max-width: 75%;
			top: calc(50% + 60px);
			left: 50%;

			@include transform(translateY(-50%) translateX(-50%));

			&.full {
				min-width: 100%;
				max-height: 100%;
			}
		}

		> .section-content-container, > .hero-text {
			position: relative;
			z-index: 1;
		}
	}
}

.hero-background-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;

	.hero-background {
		z-index: 1;
		position: absolute;
		bottom: -50%;
		left: -50%;
		height: 200%;
		width: 200%;
		background-color: transparent;

		> * {
			position: absolute;
			z-index: 0;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			height: auto !important;
			width: auto !important;
			min-height: 50%;
			min-width: 50%;
			margin: auto;
		}

		&:after {
			z-index: 2;
			position: absolute;
			background-color: rgba(57, 40, 89, 0.85);
			width: 100%;
			height: 100%;
			left: 0px;
			bottom: 3px;
			content: '';
			display: block;
		}
	}
}

.hero-foreground {
	z-index: 3;
	position: relative;
}

#new-cyph {
	font-family: Ubuntu;
	font-size: 11px;
	font-weight: 300;
	position: fixed;
	top: 5px;
	left: calc(50% - 60px);
	height: 38px;
	width: 120px;
	padding: 0px;
	border-radius: 1px;
	box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25);
	background-color: #7d4fd3 !important;

	@include transition(all 0.75s ease);

	&.focus, &:hover {
		background-color: #7239dd !important;
	}
}

#main-toolbar .link-wrapper-outer {
	@include transition(transform 0.5s ease 0.25s);
}

#main-toolbar.new-cyph-expanded {
	#new-cyph {
		font-size: 22px;
		top: calc(50vh - 98px);
		left: calc(50vw - 120px);
		height: 76px;
		width: 240px;
		border-radius: 3px;
	}

	.link-wrapper-outer {
		&.right {
			@include transform(translateX(60px));
		}

		&.left {
			@include transform(translateX(-60px));
		}
	}
}

.hero-text {
	width: 100%;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 42px;
	font-weight: 100;

	.subtitle {
		font-size: 50%;
		margin: 10px -25px;
	}
}

#hero-section {
	.hero-text {
		margin-top: 65px;
		font-size: 3.5em;
	}

	.hero-description {
		font-size: 1.7em;
		text-align: center;
		margin: auto;

		> div {
			top: 50%;

			@include transform(translateY(-50%));

			position: relative;

			> :first-child {
				margin-top: 0px;
			}
		}
	}
}

html.mobile #hero-section {
	.hero-description {
		height: auto;
		font-size: 1.3em;

		> div {
			top: 50%;

			@include transform(none);
		}
	}
}

.hero-container {
	margin-top: 15px;

	.screenshot {
		display: block;
		height: calc((50px + 3.7525vw) * 3 - 50px);
		margin-top: 25px;
		position: relative;
	}

	.screenshot {
		@include transition(all 0.25s ease);

		opacity: 0.15;

		&.laptop {
			height: calc((50px + 5.525vw) * 3 - 25px);

			&:not(.demo):hover {
				opacity: 0.9;

				@include transition(all 0.75s ease);
			}
		}

		&.phone {
			margin-left: auto;
			margin-right: auto;
			top: 100px;
		}

		&.demo {
			position: absolute;
			height: auto;
			opacity: 1;
		}

		&:not(.demo):hover {
			opacity: 0.9;
			z-index: 3;
		}
	}
}

/* Targeting screens smaller than what Unsemantic considers a "tablet" */
@media (max-width: 767px) {
	.hero-text {
		font-size: 32px;
	}

	.hero-container {
		.screenshot {
			padding: 0px;
			margin: 0px;
			margin-bottom: 50px;
		}
	}
}

.feature-cycle {
	font-family: Ubuntu;
	font-size: 90%;
	border-bottom: 1px solid #f1f1f1;
	display: inline-block;
	transform: translateY(-5px);
	width: 300px;
}

#main-toolbar {
	position: fixed;
	z-index: 11;
	top: 0px;
	left: 0px;
	height: 50px !important;
	background-color: rgba(97, 51, 163, 0.75);

	.md-toolbar-tools {
		margin-top: 5px;
		padding: 0px;

		.padding {
			display: inline-block;
			width: 1vw;
			max-width: 16px;
		}

		.link-wrapper-outer {
			width: calc(50% - 191px);
			text-align: center;

			.link-wrapper-inner {
				margin-left: auto;
				margin-right: auto;
			}

			&.left {
				text-align: left;
			}

			&.right {
				text-align: right;
			}
		}

		a:not(#logo) {
			margin: 10px;
		}

		.social-media {
			margin-left: 20px;

			a:not(#logo) {
				margin: 0px;

				img {
					height: 15px !important;
					vertical-align: middle;
					display: block;
				}
			}
		}
	}
}

@media (min-width: 1230px) {
	#main-toolbar {
		.desktop-only {
			display: initial;
		}

		.mobile-only {
			display: none;
		}
	}
}

@media (max-width: 1229px) {
	#main-toolbar {
		.desktop-only {
			display: none;
		}

		.mobile-only {
			display: initial;
		}
	}
}

[md-component-id='main-toolbar-sidenav'] {
	position: fixed;
	height: 100%;
	overflow-y: scroll;
}

#logo {
	height: 30px;
	margin-right: 20px;

	> img {
		height: 100% !important;
	}
}

html.mobile #logo {
	margin-left: 5px;
}

.carousel.grid-container {
	position: relative;
	padding: 25px 0px;

	&, * {
		@include transition(opacity 0.35s linear);
	}

	.logo {
		height: 75px;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		display: block;

		&:not(.active) {
			opacity: 0.15;

			&:hover {
				opacity: 0.4;

				@include transition(opacity 0.1s linear);
			}
		}

		> img {
			display: block;
			position: relative;
			margin: auto;
			max-height: 100%;
			max-width: 80%;
		}

		&.logo-text {
			position: relative;
			height: 115px;

			h3.title {
				font-size: 16px;
				font-weight: 300;
				line-height: 135%;
				text-decoration: none;
				padding-left: 10px;
				padding-right: 10px;
			}

			img {
				max-width: 68px;
				border-radius: 100% !important;
				padding: 0px;
			}

			> * {
				display: block;
				position: relative;
				top: 50%;

				@include transform(translateY(-50%));
			}

			&:hover h3.title {
				text-decoration: underline;
			}
		}
	}

	.quote-container {
		min-height: 1px;

		.quote {
			position: absolute;

			&:not(.active) {
				opacity: 0;
				pointer-events: none;
			}

			.text {
				font-size: 16px;
				line-height: 150%;
			}

			.extra {
				opacity: 0.5;
				margin-top: 15px;
				margin-left: -25px;
				width: 100%;
				text-align: center;
			}
		}
	}
}

html.mobile .carousel.grid-container {
	.logo {
		pointer-events: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;

		&:not(.active) {
			opacity: 0;
		}

		> img {
			& + div {
				position: absolute;
				top: 50%;
				left: 0px;
				width: 100%;
				text-align: center;

				@include transform(translateY(-50%));

				> h3.title {
					font-weight: bold;
				}
			}
		}
	}

	.quote {
		width: calc(100% - 50px) !important;

		&:before, .text {
			padding-top: 60px;
		}
	}
}

.grid-parent {
	&.left {
		text-align: right;
	}

	&.right {
		text-align: left;
	}
}

#testimonials-section .carousel.grid-container {
	.quote-container {
		.quote {
			width: calc(50% - 50px);
			margin-top: -10px;
			margin-left: 25px;

			&:before {
				content: '\201c';
				position: absolute;
				font-family: Georgia, serif;
				font-size: 100px;
				margin-top: -20px;
				margin-left: -50px;
			}
		}
	}
}

#testimonials-section {
	margin-top: -2px;

	.nav-arrow {
		left: calc(50% - 20px);
		top: calc(100% - 45px);
	}
}

html.mobile #testimonials-section .carousel.grid-container .logo.active {
	padding-bottom: 20px;
}

#about-section {
	text-align: center;
}

#testimonials-section, #about-section {
	background-color: #6133a3;
}

#intro-section {
	padding-bottom: 0px !important;

	.hero-text {
		padding-bottom: 25px;
		margin-top: 0px;
	}
}

#features-section {
	padding-top: 0px !important;

	.carousel.grid-container {
		padding: 0px;
		padding-left: 2.5vw;
		margin-top: -20px;

		.logo {
			height: 85px;
		}

		.quote-container {
			margin-top: 25px;

			.quote {
				width: calc(100% - 50px);
				text-align: center;
			}
		}
	}
}

html.mobile #features-section .carousel.grid-container .logo.active > img {
	opacity: 0.2;
}

#intro-section, #features-section {
	background-color: #262638;
}

.nav-arrow {
	position: absolute;
	z-index: 10;
	left: 20px;
	top: 50px;
	height: 40px;
	width: auto;
	opacity: 0.15;

	> img {
		height: 100%;
		width: auto;
	}
}

.demo-root {
	opacity: 0;

	@include transition(opacity 0.75s 0.5s ease);

	&, > * {
		position: relative;
		z-index: 3;
	}

	> * {
		float: left;
		padding: 0px;
		overflow: hidden;

		> .cyph-foreground {
			font-size: 14px;
			overflow: hidden;

			&:not(.curtain) {
				height: calc(100% + 2px);
			}
		}
	}

	.message-list:after {
		width: 15em;
		height: 16.5em;
	}

	> .desktop {
		height: calc((100vw - 60px) * 0.47 * 0.565);
		width: 47%;
		margin-top: 64px;
		left: 11.5%;

		[cyph-chat-toolbar] {
			.button {
				left: 20px;
				top: 5px;
				margin-left: 6px;
			}

			img {
				width: 15px;
				height: 15px;
			}
		}

		[cyph-chat-main], [cyph-chat-message-box] {
			margin-left: 17.5px;
			width: calc(100% - 25px);
		}

		[cyph-chat-main] {
			height: calc(100% - 90px);
			margin-top: 10px;

			.chat-main {
				.message-list {
					font-size: 90%;

					&:after {
						@include transform(translateX(-50%) translateY(-60%));
					}
				}
			}

			.chat-main.video .video-call.active.playing {
				~ .message-list {
					width: 20vw;
				}

				~ .video-call-message-box {
					right: calc(-20vw - 10px);
					width: calc(20vw + 10px);
				}

				&.sidebar-open {
					.logo, .me, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
						@include transform(translateX(-20vw));
					}
				}
			}
		}

		[cyph-chat-message-box] {
			margin-top: -3px;
		}
	}

	> .mobile {
		height: calc((100vw - 60px) * 0.26 * 1.78);
		width: 26%;
		margin-top: -60px;
		left: 21.5%;

		@include transform(scale(0.625));

		@include filter(blur(0px));

		[cyph-chat-main] {
			height: calc(100% - 88px);

			.chat-main.video .video-call.active.playing {
				~ .message-list {
					width: calc(30vw - 65px);
				}

				~ .video-call-message-box {
					right: calc(65px - 30vw);
					width: calc(30vw - 65px);
				}

				&.sidebar-open {
					.logo, .me, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
						@include transform(translateX(calc(65px - 30vw)));
					}
				}
			}
		}

		:not(.md-fab) > md-icon {
			font-size: 38px;
		}
	}

	.facebook-pic {
		width: 106px !important;
		height: 106px !important;
		max-width: 106px !important;
		pointer-events: none;
	}

	.facebook-pic.real {
		position: absolute;
		top: -200px;

		> iframe {
			width: 200px;
			margin-top: -135px;
			margin-left: 205px;

			@include transform(scale(3.4));
		}
	}

	.chat-begin-message {
		font-size: 4vw;
	}

	.chat-cyphertext {
		position: absolute;
	}

	.send-file-button {
		pointer-events: none !important;
		opacity: 0.5 !important;
	}

	[cyph-chat-main] .chat-main.video {
		.video-call.active.playing {
			&, .logo, .me, .sidebar, .buttons, ~ .message-list, ~ .video-call-message-box {
				position: absolute;
			}

			.logo {
				top: calc(25% + 10px);
				left: calc(25% + 15px);
			}

			.me {
				bottom: 25%;
				right: 25%;
				width: 15%;
			}

			.sidebar {
				top: calc(25% + 10px);
				right: calc(25% + 15px);
			}

			.buttons {
				left: calc(50% - 134px);
				bottom: calc(25% + 25px);
			}
		}
	}
}

html.mobile .demo-root {
	> .mobile {
		height: calc(100vh - 60px);
		width: calc(100% + 100px);
		top: 0px;
		left: -50px;
		margin: auto;

		@include transform(scale(0.8));
	}
}

#gettingstarted-section {
	height: calc(100vh - 158px);
	min-height: 360px;
	background-image: url(/img/cyphphoto.jpg);
	background-size: 100%;
	background-position-y: -10vw;

	> .hero-text, > .section-content-container {
		position: absolute !important;
		background-color: rgba(38, 38, 56, 0.75);
		padding: 5px 10px;
		margin: 0px;
		text-align: center;
		left: 50%;

		@include transform(translateX(-50%));
	}

	> .hero-text {
		top: calc(50% - 150px);
		width: auto;
	}

	> .section-content-container {
		top: calc(50% + 50px);
	}
}

html.mobile #gettingstarted-section {
	background-size: auto 100%;
}

#footer {
	padding: 40px;
	background-color: rgba(97, 51, 163, 0.75);

	> section {
		min-height: 0px;
		height: auto;
	}

	.footer-info, .footer-links {
		padding: 0px 5%;
		line-height: 30px;
	}

	.footer-links {
		margin-top: 20px;
		font-size: 75%;
	}
}

#error {
	h1 {
		text-align: center;
		font-family: Ubuntu, sans-serif;
		font-size: 2.5vw;
	}

	> * {
		width: 66%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	li {
		margin-bottom: 15px;
	}
}

.section-content-container {
	width: 100%;
	max-width: 100%;
	margin-top: 30px;
	margin-left: 50%;

	@include transform(translateX(-50%));

	li {
		margin-bottom: 15px;
	}
}

html:not(.mobile) .section-content-container:not(.full) {
	max-width: 80%;
}

.founder-photos {
	> * {
		img {
			max-width: 200px;
			margin-bottom: 20px;
			border-radius: 100%;
			box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25) !important;
		}
	}

	> *:not(.bounceInLeft):not(.bounceInRight) {
		visibility: hidden;
	}
}

html.mobile {
	.founder-photos {
		margin-left: -20px;
		width: calc(100% + 40px);

		img {
			width: 100%;
		}

		.name {
			margin-top: calc(16.5vw - 20px);

			&.mobile-pull-33 {
				text-align: right;
			}
		}
	}
}

html:not(.mobile) {
	.founder-photos {
		padding: 20px;

		> * {
			img {
				width: 80%;
			}

			* {
				width: 100%;
				display: block;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}

			.name {
				width: 200%;
				margin-left: -50%;
			}
		}
	}

	.founder-photos:after {
		clear: both;
		content: '';
		display: block;
	}
}

#podcast-section {
	padding-top: 75px !important;

	.hero-text {
		top: 20px;

		img {
			max-width: 450px;
			max-height: 175px;
		}
	}
}

html.mobile {
	#podcast-section {
		padding-top: 120px !important;

		.hero-text {
			top: 75px;
		}
	}
}

#main.unisection-mode {
	> section:not(.unisection) {
		display: none;
	}

	> section.unisection {
		padding-top: 50px;
		min-height: calc(100vh - 110px);

		> .section-content-container {
			margin-top: 40px;
		}
	}
}

div.donation {
	position: relative;
	float: right;
	margin-top: -55px;
	font-family: Ubuntu;
}

div.donation span {
	color: black;
	font-family: Ubuntu;
	left: 10px;
	top: -1px;
	position: relative;
}

.donate-button {
	display: block;
	width: 100%;
	margin-top: -15px;
}

md-slider.donation {
	width: 91%;
}

md-slider .md-sign:after {
	border-top-color: rgb(107, 63, 176);
}

md-slider .md-thumb:after {
	border-color: rgb(107, 63, 176);
	background-color: rgb(107, 63, 176);
}

span.md-thumb-text:before {
	content: '$';
}

md-slider.md-min .md-thumb:after {
	background-color: rgb(255, 255, 255);
}

md-slider .md-track.md-track-fill {
	background-color: rgb(255, 255, 255);
}

md-slider .md-sign {
	background-color: rgb(107, 63, 176);
}

md-slider .md-sign {
	left: -20px !important;
	top: -25px !important;
	width: 42px !important;
	height: 42px !important;
}

md-slider .md-focus-thumb {
	position: absolute;
	left: -24px;
	top: 0px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	display: none;
	opacity: 0;
	background-color: silver;

	@include animation(sliderFocusThumb 0.4s linear);
}

md-slider .md-sign .md-thumb-text {
	z-index: 1;
	font-size: 13px;
}

input.donation {
	text-align: center;
	border: 0px;
}

input.donation:before {
	content: '$';
}

.paypal-button button.large {
	width: 194px;
	float: right;
	margin-right: 103px;
	top: -37px;
}
