body.telehealth {
	&, #main, md-sidenav, md-dialog, md-toolbar, md-toolbar.md-default-theme {
		background-color: #eeecf1 !important;
	}

	#main {
		.chat-sidebar .md-button, .chat-message-box:not(.mobile) .md-button, .video-call:not(.playing) .close-button {
			background-color: #eeecf1 !important;

			&:hover {
				background-color: #b7bccb !important;
			}

			&[disabled], &[disabled]:hover {
				box-shadow: none !important;
				border: solid 1px #E7C447 !important;
				background-color: transparent !important;
			}
		}

		.chat-sidebar .md-button:not(.md-fab) {
			border: solid 1px rgba(255, 255, 255, 0.5);
			border-radius: 0px;
			box-shadow: none;
		}

		.video-call:not(.playing) .close-button {
			color: #4D5062 !important;
			box-shadow: none !important;
		}

		.connect-link-mobile md-icon {
			color: white !important;
		}
	}

	.chat-message-box:not(.mobile) .message-box:focus {
		box-shadow: 0 0 10px #E7C447;
		border: 1px solid #E7C447;
	}

	.message-item > md-list-item {
		background-color: transparent;
		box-shadow: none;
	}

	.message-item.author-other > md-list-item:after {
		border-color: transparent #4D5062 !important;
	}

	.message-item.author-other > md-list-item:before {
		box-shadow: 5px 1px 5px #4D5062 !important;
	}

	blockquote {
		border-color: #4D5062 !important;
	}

	textarea {
		@include placeholder {
			color: #4D5062 !important;
		}
	}

	span, a, p, h1, h2, h3, li, md-icon, md-switch, .md-button:not(.md-fab):not([disabled]), md-tabs .md-active, .message-timestamp, cyph-contact * {
		color: #4D5062 !important;
		font-weight: 400;
	}

	cyph-contact .md-button {
		background-color: transparent;
	}

	.not-found img {
		@include filter(brightness(0.5));
	}

	.md-bar2 {
		background-color: #E7C447 !important;
		opacity: 0.75;
	}

	.logo-animation {
		display: none !important;
	}

	.telehealth-logo img {
		width: 42vh;
	}

	.footer {
		color: #4D5062;

		.icons {
			right: 12px;
			bottom: 7px;
			position: fixed;
		}

		.powered-by-cyph {
			top: 15px;
			position: relative;
		}
	}

	.message-list:after,
	.chat-end-message,
	.chat-sidebar:not(.show-chat) .logo,
	.abort-screen .image {
		display: none;
	}

	.friend-is-typing .ellipsis-spinner > div {
		background-color: #4D5062 !important;
	}

	.chat-main.video .video-call.active.playing {
		~ .message-list {
			background-color: rgba(187, 168, 223, 0.8) !important;

			.friend-is-typing .ellipsis-spinner > div {
				background-color: #f1f1f1 !important;
			}
		}

		md-icon, ~ cyph-chat-message-box md-menu md-icon {
			color: #f1f1f1 !important;
		}
	}

	/* Accounts */

	cyph-account-contacts, cyph-account-files {
		.contacts, .files {
			.wrapper {
				background-color: rgba(238, 236, 241, 0.5);
				border-color: rgba(208, 195, 234, 0.35) !important;

				.status {
					color: #4D5062 !important;
				}
			}

			.contact.active .wrapper {
				background-color: rgba(238, 236, 241, 0.9);
				border-color: rgb(211, 211, 224) !important;
			}
		}
	}

	cyph-account-menu .menu {
		background-color: rgba(238, 236, 241, 0.9) !important;
	}

	cyph-account-profile {
		.md-button.md-fab md-icon {
			color: #f1f1f1 !important;
		}

		.profile .status label {
			color: #4D5062 !important;
		}
	}
}

body.telehealth:not(.mobile) {
	.chat-message-box {
		textarea {
			background-color: rgba(77, 80, 98, 0.33) !important;
		}

		textarea {
			@include placeholder {
				color: #4D5062 !important;
			}
		}
	}

	.message-item.author-me > md-list-item {
		background-color: transparent !important;
		box-shadow: none !important;

		&:after {
			display: none;
		}
	}

	.message-item.author-other > md-list-item {
		background-color: transparent !important;
		box-shadow: none !important;

		&:after {
			display: none;
		}
	}

	.chat-main.video .video-call.active.playing {
		~ .message-list *, ~ cyph-chat-message-box textarea {
			color: #f1f1f1 !important;
		}
	}
}

body.telehealth.mobile {
	.chat-main.mobile {
		.message-item.author-me, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-me {
			> md-list-item {
				background-color: rgba(231, 196, 70, 0.95) !important;
			}
		}

		.message-item.author-other, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-other {
			> md-list-item {
				margin-left: 5%;
				background-color: rgba(231, 196, 70, 0.95) !important;
			}
		}

		.message-item.author-me, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-me {
			> md-list-item:after {
				border-color: transparent rgba(231, 196, 70, 0.95) !important;
				right: -11px;
			}
		}

		.message-item.author-other, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-other {
			> md-list-item:after {
				border-color: transparent rgba(231, 196, 70, 0.95) !important;
				left: -10px;
			}
		}

		.message-item.author-other, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-other {
			> md-list-item .message-timestamp {
				color: #4D5062 !important;
			}
		}

		.message-item.author-me, .chat-main.video .video-call.active.playing ~ .message-list .message-item.author-me {
			> md-list-item .message-timestamp {
				color: #4D5062 !important;
			}
		}
	}

	.chat-main.video .video-call.active.playing ~ .message-list .author-app * {
		color: #f1f1f1 !important;
	}
}
