body.telehealth {
	&, #main, md-sidenav, md-dialog, .chat-begin-message, md-toolbar, md-toolbar.md-default-theme {
		background-color: #eeecf1 !important;
	}

	#main {
		.chat-sidebar .md-button, .chat-message-box:not(.mobile) .md-button, .video-call:not(.playing) .close-button {
			background-color: #eeecf1 !important;

			&:hover {
				background-color: #b7bccb !important;
			}

			&[disabled], &[disabled]:hover {
				box-shadow: none !important;
				border: solid 1px #E7C447 !important;
				background-color: transparent !important;
			}
		}


		.chat-sidebar .md-button:not(.md-fab) {
			border: solid 1px rgba(255, 255, 255, 0.5);
			border-radius: 0px;
			box-shadow: none;
		}

		.video-call:not(.playing) .close-button {
			color: #4D5062 !important;
			box-shadow: none !important;
		
		}

	.connect-link-mobile md-icon {
    	color: white !important;
	}

	}

	.chat-message-box:not(.mobile) .message-box:focus {
 		box-shadow: 0 0 10px #E7C447;
    	border: 1px solid #E7C447;
	}

	.message-item {
		background-color: transparent;
		box-shadow: none;
	}
	
	.message-item.author-other:after {
		border-color: transparent #4D5062 !important;
	}

	.message-item.author-other:before {
		box-shadow: 5px 1px 5px #4D5062 !important;
	}

	textarea::-webkit-input-placeholder, textarea::moz-placeholder, textarea:ms-input-placeholder {
		color: black !important;
	}

	span, a, p, h1, h2, h3, cyph-help {
		color: #4D5062 !important;
		font-weight: 400;
	}

	.md-bar2 {
		background-color: #E7C447 !important;
		opacity: 0.75;
	}

			
	.logo-animation{
		display: none !important;
	}

	.telehealth-logo img {
		width: 42vh;
	}

	.footer {
		//visibility: hidden;
		//margin-bottom: -75px;
		color: #4D5062;
		.icons {
			right: 12px;
			bottom: 7px;
			position: fixed;
		}
		.powered-by-cyph {
			top: 15px;
			position: relative;
		}
	}

	.message-list:after,
	.chat-end-message,
	.chat-sidebar:not(.show-chat) .logo,
	.abort-screen .image {
		display: none;
	}
}

body.telehealth:not(.mobile) {
	.chat-message-box {
		textarea {
 			background-color: rgba(77, 80, 98, 0.33) !important;
		}

		textarea::-webkit-input-placeholder { /* WebKit browsers */
			color:    #4D5062 !important;
		}
		textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #4D5062 !important;
		}
		textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #4D5062 !important;
		}
		textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
			color:    #4D5062 !important;
		}
	}

	md-icon {
			color: #4D5062 !important;
	}
}

body.telehealth.mobile {
	md-icon.material-icons {
   		color: #4D5062 !important;
	}
}