@import 'cyph.base';
@import 'cyph.modest';

html, body, #main {
	max-width: 100% !important;
	max-height: 100% !important;
	overflow: hidden;
}

html:not(.mobile) {
	#main {
		padding: 25px 42px 0px 42px;
	}

	.md-button img {
		height: 100%;
	}
}

.cyph-foreground {
	font-size: 15px;
}

.link-connection .connect-link-mobile {
	.md-button:not([disabled='disabled']) {
		color: #444;
		background-color: #7d4fd3 !important;

		&.focus, &:hover {
			background-color: #7239dd !important;
		}
	}

	.md-fab {
		height: 42px;
		width: 42px;
		margin-top: 20px;

		img {
			height: 80%;
		}
	}
}

md-fab-trigger .md-button {
	background-color: #7d4fd3 !important;

	img {
		height: 85% !important;
		margin-top: 3px;
	}
}

input, textarea {
	border-radius: 0px;
}

.app-message {
	margin-top: 20px;

	* {
		font-weight: bold;
	}
}

.message-box {
	resize: none;
}

.chat-message-box:not(.mobile) {
	.message-box {
		@include transition(all 0.35s ease-in-out);

		outline: none;
		padding: 3px;
		padding-right: 60px;
		border: 1px solid #dddddd;
		margin: 0px 13px;
		min-height: 100px;
		max-height: 200px;
		width: calc(100% - 29px);
	}

	.message-box:focus {
		box-shadow: 0px 0px 10px #7239dd;
		border: 1px solid #8b62d9;
	}
}

.chat-message-box.mobile {
	.message-box {
		width: calc(100% + 4px);
		height: 50px;
		font-size: 17px;
		line-height: 22px;
		padding: 13px;
		padding-right: 60px;
		margin-left: -2px;
		margin-bottom: -2px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
		position: relative;
		z-index: 30;
		outline: none !important;
	}

	.message-box:focus {
		box-shadow: 0px 0px 10px #000000;
		border: 1px solid #000000;
	}

	.message-box:focus ~ .new-messages {
		display: none;
	}

	.new-messages {
		z-index: 30 !important;
	}

	md-fab-speed-dial {
		position: absolute;
		top: -280px;
		right: 0px;
	}
}

.chat-message-box {
	position: relative;
}

.md-button input[type='file'] {
	display: none;
}

.send-button {
	position: absolute;
	bottom: 0px;
	right: 9px;
	opacity: 0.75;
	z-index: 35;
	font-size: 38px;
	width: 38px;
	height: 38px;

	* {
		width: 100%;
		height: 100%;
		display: block;
	}

	/* Crazy fix to prevent jankiness upon message send on mobile */
	pointer-events: none;

	@include transition(transform 0.35s linear);

	&.chat-message-box-hidden {
		@include transform(translateY(250px) !important);

		@include transition(transform 0.5s linear);
	}
}

.message-list:not(.nano) {
	overflow-y: scroll;
}

.chat-main:not(.mobile) .message-list > md-content {
	padding-right: 10px;
}

.message-list {
	.message-item {
		@include transition(opacity 1s ease-in-out);

		.message-timestamp .message-pending {
			display: none;
		}
	}

	.friend-is-typing {
		margin-top: 20px;
		width: 100%;
		opacity: 0;

		@include transition(opacity 1s ease-in-out);

		.ellipsis-spinner {
			margin: 0px;

			.chat-main.mobile & {
				margin: auto;
			}

			> div {
				width: 8px;
				height: 8px;
			}
		}
	}

	.progress {
		padding: 5px;

		md-progress-linear {
			padding: 20px;
			padding-top: 0px;
		}
	}

	&:after {
		background-image: url(/img/betalogo.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 50vh;
		height: 50vh;
		left: 50%;
		top: 50%;
		z-index: -1;
		opacity: 0.30;
		content: ' ';

		@include transform(translateX(-50%) translateY(-50%));
	}
}

.chat-main:not(.mobile) .friend-is-typing {
	text-align: left;
	padding-left: 20px;
}

.chat-main.mobile, .chat-main.video{
	.friend-is-typing {
		text-align: center;
	}
}

.message-list {
	.friend-is-typing.show {
		opacity: 1;

		@include transition(opacity 1s ease-in-out);
	}
}

.footer {
	font-size: 14px;
}

[cyph-static-footer].center .footer {
	margin-left: 0px;

	@include transition(margin-left 1s cubic-bezier(1, 0, 0, 1));
}

.message-item.author-me {
	background-color: rgba(134, 82, 228, 0.8);
	box-shadow: 0px 0px 5px rgba(134, 82, 228, 0.8);
}

.message-item.author-other {
	background-color: rgba(139, 98, 217, 0.8);
	box-shadow: 0px 0px 5px rgba(139, 98, 217, 0.8);
}

.message-item {
	padding: 7.5px 10px 5px 10px;
	margin: 2.5px;

	.message {
		max-width: 100%;
		padding-bottom: 5px;
		word-wrap: break-word;

		@include hyphens(auto);

		> * {
			padding-top: 5px;
		}
	}

	.message-timestamp {
		text-align: right;
	}

	img, .image-frame {
		max-width: 25%;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10vw;
		margin-right: auto;
		display: block;
		box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4);
		position: relative;
	}
}

.image-frame {
	overflow: hidden;
}

.chat-main .message-item .message {
	max-width: 85%;
}

.chat-main.mobile md-list {
	padding-top: 0px;

	> md-item:first-child {
		padding-top: 0px;
		margin-top: 0px;
	}
}

.chat-main.mobile, .chat-main.video .video-call.active.playing ~ .message-list {
	.message-item {
		position: relative;
		max-width: 80%;
		min-width: 120px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		font-size: 18px;

		.message {
			width: 100%;
			max-width: 100%;
			padding-bottom: 0px;
		}

		img, .image-frame {
			margin-left: auto;
		}

		.message-timestamp {
			position: absolute;
			bottom: 5px;
			font-size: 10px;
			color: #dddddd;
			text-align: initial;
		}

		.message-author {
			display: none;
		}
	}

	.message-item.author-me {
		margin-right: 5%;

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: right;
			right: 10px;
		}
	}

	.message-item.author-me:after, .message-item.author-me:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 18px 0px 0px 12px;
		bottom: 0px;
	}

	.message-item.author-me:after {
		border-color: transparent rgba(134, 82, 228, 0.8);
		right: -12px;
	}

	.message-item.author-me:before {
		border-color: transparent transparent;
		right: 0px;
		box-shadow: 5px 1px 5px rgba(134, 82, 228, 0.8);

		@include transform(rotate(-35deg));
	}

	.message-item.author-other {
		margin-left: 5%;

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: left;
			left: 10px;
		}
	}

	.message-item.author-other:after, .message-item.author-other:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0px 12px 18px 0px;
		top: 0px;
	}

	.message-item.author-other:after {
		border-color: transparent rgba(139, 98, 217, 0.8);
		left: -12px;
	}

	.message-item.author-other:before {
		border-color: transparent transparent;
		left: 0px;
		box-shadow: 5px 1px 5px rgba(139, 98, 217, 0.8);

		@include transform(rotate(-215deg));
	}

	.message-item.author-app {
		width: 90%;
		background-color: transparent;

		.message {
			text-align: center;
		}

		.message-timestamp {
			text-align: center;
			width: 100%;
			left: 0px;
		}
	}
}

.chat-main:not(.mobile) .message-item:not(.unread) {
	@include animation(inkRippleCheckbox 0.35s linear 0s 1 normal);
}

html:not(.mobile) {
	.p2p-section {
		margin-top: 10px;

		button {
			margin: 5px;
		}
	}
}

html.mobile button[disabled] {
	opacity: 0.25;
}

.chat-main:not(.video) .video-call {
	display: none;
}

.chat-main.video {
	.video-call {
		height: 100%;
		width: 100%;
		background-color: black;
		overflow: hidden !important;

		.friend {
			height: 100%;

			> video {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}

		.me {
			position: absolute;
			bottom: 0px;
			right: 0px;
		}

		.close-button {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 44px;
			height: 44px;
			font-size: 25px;
		}

		md-progress-circular {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 25px);
		}

		&:not(.playing) {
			max-height: 100px !important;
			background-color: transparent !important;

			& ~ .message-list {
				max-height: calc(100% - 200px) !important;
			}

			video, md-progress-circular {
				display: none !important;
			}
		}
	}
}

@media all and (orientation: landscape) {
	.video-call {
		.me {
			min-width: 100px;
			width: 20vw;
		}
	}
}

@media all and (orientation: portrait) {
	.video-call {
		.me {
			width: 40vw;
		}
	}
}

.chat-main.video:not(.mobile) {
	/* Message list is 15%; video UI is 100% - message list height - footer height */

	.video-call {
		height: calc(85% - 110px);
	}

	.message-list {
		max-height: 15%;
	}
}

.chat-main.video.mobile {
	.video-call.playing {
		& ~ .message-list {
			display: none;
		}
	}

	.video-call:not(.playing) {
		padding-left: 10px;

		& ~ .message-list {
			max-height: calc(100% - 100px) !important;
		}
	}
}

.chat-main .key-exchange-progress {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	.md-container {
		background-color: rgba(0, 0, 0, 0.15);

		.md-bar2 {
			background-color: white;
		}
	}
}

.chat-main:not(.mobile) .key-exchange-progress {
	width: 50%;
}

.chat-main.mobile .key-exchange-progress {
	width: 75%;
}

[cyph-chat-toolbar] {
	.buttons > * {
		opacity: 0.50;

		&:hover {
			opacity: 1;
			transition-duration: 0.75s;
			cursor: pointer;
		}

		&, * {
			width: 24px;
			height: 24px;
			@include filter(drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75)));
		}
	}

	> div:not(.mobile) .buttons > * {
		position: relative;
		left: 75px;
		top: -10px;
		margin-left: 10px;
	}

	> div.mobile {
		display: block;
		position: relative;
		height: 40px;

		.buttons > * {
			position: absolute;
			margin-top: 8px;
			top: 0px;

			&:nth-child(1) {
				left: 12px;
			}

			&:nth-child(2) {
				left: calc(50% - 12px);
			}

			&:nth-child(3) {
				right: 12px;
			}
		}
	}
}

.link-connection .timer {
	font-family: 'Ubuntu Mono', monospace;
	padding-left: 10px;
}

.loading {
	> .logo-animation {
		height: 33%;
		margin-bottom: 10px;

		> img {
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;
			@include filter(drop-shadow(3px 3px 3px rgba(68, 68, 68, 0.25)));
		}
	}

	> *:not(.logo-animation) {
		letter-spacing: 1px;
		text-align: center;
		font-family: Ubuntu, sans-serif;
	}
}

html.mobile {
	.loading {
		font-size: 18px;
		padding: 10px;
	}
}

html:not(.mobile) {
	.loading {
		font-size: 20px;
	}
}

.link-connection .connect-link-input {
	width: 100%;

	input {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		background-color: #f1f1f1;
		box-shadow: 0px 0px 10px #7239dd;
		padding: 5px;
		border: 1px solid #8b62d9 !important;
		height: auto;
		width: 50%;

		@include transform(translateX(50%));
	}

	.connect-link-link {
		display: block;
		font-size: 130%;
		word-wrap: break-word;
	}

	.connect-link-mobile .divider {
		width: 21px;
		display: inline-block;
	}
}

.new-messages {
	background-color: white !important;
	color: #8b62d9 !important;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	cursor: pointer;
	z-index: 4 !important;
}

.new-messages:after {
	width: 100%;
}

.cyph-not-found {
	h1 {
		text-align: center;
		font-family: Ubuntu, sans-serif;
	}

	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	li {
		margin-bottom: 15px;
	}
}

html.mobile .cyph-not-found {
	padding: 5px;

	h1 {
		font-size: 20px;
	}

	img {
		width: 100%;
	}
}

html:not(.mobile) .cyph-not-found {
	.explanation {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}

	img {
		width: 75%;
	}
}

.chat-cyphertext {
	z-index: 1;
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	font-size: 13px;
	font-family: 'Ubuntu Mono', monospace;
	background-color: #141414;
	color: #3bfc34;

	md-content {
		padding: 30px 12.5%;
	}

	.close-button {
		color: inherit !important;
		position: absolute;
		top: 30px;
		right: 5%;
	}

	.message-item {
		margin-left: 0px;
	}
}

.chat-cyphertext:not(.nano) {
	overflow-y: scroll;
}

.close-button {
	background-color: #202020 !important;
	box-shadow: rgba(25, 130, 25, 0.13725) 0px 0px 4px 0px, rgba(25, 130, 25, 0.27843) 0px 4px 8px 0px !important;
	font-family: 'Ubuntu Mono', monospace !important;
	font-size: 30px;
}

.chat-begin-message {
	font-family: Ubuntu, sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	background-color: #8b62d9 !important;
}

.help {
	min-width: 60%;
	height: 80%;

	md-content {
		width: 100%;
		overflow-x: hidden;
	}

	md-input, md-option {
		background-color: rgba(180, 141, 255, 0.85);
	}

	md-tabs {
		.md-active {
			color: white;
		}

		md-tab-content {
			margin: 25px;
		}

		md-ink-bar {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.md-button {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 5px;
	}

	table {
		table-layout: fixed;
		width: 100%;
		overflow-x: hidden;

		th, td {
			width: 50%;
			padding-bottom: 20px;
			vertical-align: top;
		}

		th {
			font-family: Ubuntu;
			font-weight: normal;
			font-size: 115%;
			text-align: left;
		}
	}

	.spaces {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

html:not(.mobile) .formatting-help {
	md-content {
		padding-left: 10%;
		padding-right: 10%;
	}

	td {
		padding-left: 20px;
	}
}

html.mobile .formatting-help {
	font-size: 75%;
}

.amazon-link {
	md-checkbox {
		position: absolute;
		right: 24px;
		margin-top: -10px;
	}
}

html:not(.mobile) .amazon-link {
	max-width: 600px;
}

.chat-main .beta-signup-form {
	margin-left: auto;
	margin-right: auto;

	div {
		line-height: 135%;
	}

	md-input-container {
		margin-top: 45px;
	}

	.md-button {
		font-size: 14px !important;
	}
}

/*** New fullscreen video UI ***/

.chat-main.video .video-call.active.playing {
	position: fixed;
	z-index: 10000;
	top: -50%;
	left: -50%;
	height: 200%;
	width: 200%;

	* {
		z-index: 1;
	}

	*, ~ * {
		@include transition(transform 0.5s ease-in-out !important);
	}

	.logo {
		position: fixed;
		top: 10px;
		left: 15px;
		height: 35px;
		opacity: 0.5;

		img {
			height: 100%;
		}
	}

	.friend {
		position: absolute;
		z-index: 0;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: auto !important;
		width: auto !important;
		min-height: 50%;
		min-width: 50%;
		margin: auto;
	}

	.me {
		position: fixed;
	}

	.sidebar {
		position: fixed;
		top: 10px;
		right: 15px;
		height: 35px;
		padding: 0px;
		opacity: 0.5;
		outline: white solid 1px !important;

		img {
			height: 100%;
		}
	}

	.md-button {
		background-color: rgba(0, 0, 0, 0.2) !important;
	}

	.buttons {
		position: fixed;
		z-index: 2;
		bottom: 25px;
		left: calc(50vw - 100px);

		.close-button {
			position: static;
			top: auto;
			right: auto;
		}

		.md-button.md-fab {
			color: white !important;
			opacity: 0.5 !important;
			box-shadow: white 0px 0px 4px 0px, white 0px 4px 8px 0px !important;
			height: 44px !important;
			width: 44px !important;
			margin: 10px !important;

			img {
				height: 25px !important;
				width: auto !important;
				vertical-align: middle !important;
			}
		}
	}

	.md-button:hover {
		@include transform(scale(1.1));
	}

	~ .message-list {
		display: block;
		position: fixed;
		left: 100%;
		top: 0px;
		height: 100% !important;
		max-height: 100% !important;
		z-index: 10001;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.5);

		.message-item {
			box-shadow: none;

			&.author-app {
				background-color: rgba(0, 0, 0, 0.3);
			}

			&.author-other {
				background-color: rgba(125, 83, 203, 0.4);

				&:before {
					display: none;
				}

				&:after {
					border-color: transparent rgba(125, 83, 203, 0.4);
				}
			}

			&.author-me {
				background-color: rgba(134, 82, 228, 0.4);

				&:before {
					display: none;
				}

				&:after {
					border-color: transparent rgba(134, 82, 228, 0.4);
				}
			}
		}

		> md-content {
			padding-right: 0px;
			padding-bottom: 120px;
		}
	}

	~ .video-call-message-box {
		position: fixed;
		z-index: 10002;
		bottom: 0px;
		right: -310px;
		width: 310px;

		.chat-message-box.mobile md-fab-speed-dial {
			top: -180px;
		}
	}

	&.sidebar-open {
		.logo, .me, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
			@include transform(translateX(-300px));
		}
	}
}

@media (min-width: 1200px) {
	.chat-main:not(.mobile).video .video-call.active.playing {
		~ .message-list {
			width: 25vw;
		}

		~ .video-call-message-box {
			right: calc(-25vw - 10px);
			width: calc(25vw + 10px);
		}

		&.sidebar-open {
			.logo, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
				@include transform(translateX(-25vw));
			}

			.me {
				@include transform(translateX(-25vw) scaleX(-1) !important);
			}
		}
	}
}

.chat-main:not(.mobile).video .video-call.active.playing {
	~ .message-list .message-item {
		font-size: initial;

		.mobile-only {
			display: initial;
		}
	}

	~ .video-call-message-box {
		bottom: 10px;
	}

	&.sidebar-open .logo {
		@include transform(translateX(0px) !important);
	}
}

.chat-main.mobile.video .video-call.active.playing {
	~ .message-list {
		width: calc(100vw - 65px);
	}

	~ .video-call-message-box {
		right: calc(65px - 100vw);
		width: calc(100vw - 65px);
	}

	&.sidebar-open {
		.logo, .me, .buttons, .sidebar, ~ .message-list, ~ .video-call-message-box {
			@include transform(translateX(calc(65px - 100vw)));
		}
	}
}

.chat-main .video-call:not(.playing) {
	.logo, .sidebar, .buttons > :not(.close-button), ~ .video-call-message-box {
		display: none;
	}
}

/*** SpinKit animation: http://tobiasahlin.com/spinkit/ ***/

.ellipsis-spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;

	> div {
		width: 12px;
		height: 12px;
		background-color: #f1f1f1;
		border-radius: 100%;
		display: inline-block;

		@include animation(ellipsis-spinner 1.4s infinite ease-in-out);

		/* Prevent first frame from flickering when animation starts */
		@include animation-fill-mode(both);
	}

	.bounce1 {
		@include animation-delay(-0.32s);
	}

	.bounce2 {
		@include animation-delay(-0.16s);
	}
}

@include keyframes(ellipsis-spinner) {
	0%, 80%, 100% {
		@include transform(scale(0));
	}

	40% {
		@include transform(scale(1));
	}
}
