html.modest {
	&, body, #main, md-sidenav, md-dialog, .chat-begin-message, md-toolbar, md-toolbar.md-default-theme {
		background-color: #7a7c8b !important;
	}

	#main {
		.chat-sidebar .md-button, .chat-message-box:not(.mobile) .md-button, .video-call:not(.playing) .close-button {
			background-color: #7a7c8b !important;

			&:hover {
				background-color: #b7bccb !important;
			}

			&[disabled], &[disabled]:hover {
				box-shadow: none !important;
				border: solid 1px #5F5F5F !important;
				background-color: transparent !important;
			}

			md-icon {
				color: #f1f1f1 !important;
			}
		}

		.chat-sidebar .md-button:not(.md-fab) {
			border: solid 1px rgba(255, 255, 255, 0.5);
			border-radius: 0px;
			box-shadow: none;
		}

		.video-call:not(.playing) .close-button {
			color: white !important;
			box-shadow: none !important;
		}
	}

	.message-item {
		background-color: transparent;
		box-shadow: none;
	}

	.footer {
		visibility: hidden;
		margin-bottom: -75px;
	}

	.message-list:after,
	.chat-end-message,
	.chat-sidebar:not(.show-chat) .logo,
	.abort-screen .logo-animation {
		display: none;
	}
}
