body.modest {
	&, #main, md-sidenav, md-dialog, md-toolbar, md-toolbar.md-default-theme {
		background-color: #7a7c8b !important;
	}

	#main {
		.connect-link-mobile .md-button,
		.chat-message-box:not(.mobile) .md-button,
		.video-call:not(.playing) .close-button {
			background-color: #7a7c8b !important;

			&:hover {
				background-color: #b7bccb !important;
			}

			&[disabled], &[disabled]:hover {
				box-shadow: none !important;
				border: solid 1px #5F5F5F !important;
				background-color: transparent !important;
			}

			md-icon {
				color: #f1f1f1 !important;
			}
		}

		.video-call:not(.playing) .close-button {
			color: white !important;
			box-shadow: none !important;
		}
	}

	.message-item > md-list-item {
		background-color: transparent;
		box-shadow: none;
	}

	.footer {
		visibility: hidden;
		margin-bottom: -75px;
	}

	.message-list:after,
	.chat-end-message,
	.abort-screen .image {
		display: none;
	}
}
