@import 'bourbon/bourbon';

#pre-load {
	background-color: #8b62d9 !important;
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	z-index: 999;

	> .logo-animation {
		margin-top: calc(33vh - 20px);
		margin-bottom: 20px;
	}

	> *:not(.logo-animation) {
		letter-spacing: 0px;
		font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	}
}

html.load-complete #pre-load {
	pointer-events: none;
	opacity: 0;

	@include transition(opacity 0.25s linear);
}

.loading {
	font-size: 20px;
	padding: 10px;

	> .logo-animation {
		height: 33%;
		margin-bottom: 10px;

		> img {
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;

			@include filter(drop-shadow(3px 3px 3px rgba(68, 68, 68, 0.25)));
		}
	}

	> *:not(.logo-animation) {
		letter-spacing: 1px;
		color: #f1f1f1;
		text-align: center;
		font-family: Ubuntu, sans-serif;
	}
}
