@import 'theme';

@include mat-core;
@include apply-theme;

/* Temporary workaround pending https://github.com/angular/material2/issues/4116 */
md-dialog-container, md-option {
	color: $cyph-foreground;
}

/* Temporary workaround */
md-tab-body {
	max-height: 70vh;
}

* {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}

body.load-complete #pre-load {
	pointer-events: none;
	opacity: 0;
}

html, body, #main, .cyph-foreground {
	margin: 0px;
	background-color: $cyph-background !important;
}

html, body {
	font-size: 14px;
	font-weight: 300;
}

section {
	display: block;
}

#footer, .footer {
	margin-top: 0px;
	position: relative;
	text-align: center;
	z-index: 2;
}

.cyph-foreground, body:not(.mobile) .cyph-foreground .mat-list-item-content {
	font-size: 1.08rem;
}

.cyph-foreground, .chat-cyphertext {
	.mat-list-item-content {
		height: auto !important;
		padding: 0px !important;
	}
}

a {
	color: inherit;
}

[md-button], [md-raised-button] {
	text-transform: uppercase;
}

[md-dialog-title] {
	font-family: Ubuntu;
	font-weight: initial !important;
}

html, button, input, select, textarea {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button, input, select, textarea {
	font-size: 100%;
}

.image-frame {
	overflow: hidden;
}

.countdown {
	font-family: 'Ubuntu Mono', monospace;
	padding-left: 10px;
}

.small-font {
	font-size: 80%;
}

.strike {
	text-decoration: line-through;
}

blockquote {
	border-left: 2px solid $cyph-foreground !important;
	padding-left: 10px;
}

#footer, .footer {
	a:not(:hover) {
		text-decoration: none;
	}
}

.tabIndent-rendered {
	background-image: none !important;
}

pre, code {
	font-family: 'Ubuntu Mono', monospace;
	white-space: pre-wrap;

	@include word-wrap;
}

.cyph-foreground {
	@include transform-origin(top left);

	@include transition(transform 2s cubic-bezier(1, 0, 0, 1));

	.curtain & {
		@include transform(scaleY(0.1) translateY(-90%));
	}
}

.cyph-foreground {
	width: calc(100% + 1px);
	overflow-y: hidden;
}

#main, .cyph-foreground {
	position: relative;
	z-index: 2;
}

.cyph-view:not(.active) {
	opacity: 0;
	pointer-events: none;
	position: fixed;
}

.cyph-view.active {
	position: relative;

	&:not(.no-transition) {
		@include transition(opacity 0.75s linear);
	}
}

h3.cyph-banner {
	display: block;
	font-size: 1rem;
	line-height: 1rem;
	font-weight: initial;
	color: $cyph-background;
	background-color: $cyph-foreground;
	padding: 16px;
	text-align: center;

	&.emphasis {
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);

		@include filter(brightness(1.05));
	}
}

@include keyframes(breathe) {
	0%, 100% {
		@include filter(brightness(1));
	}

	50% {
		@include filter(brightness(1.25));
	}
}


.breathe {
	@include breathe;
}

/* nanoScroller styling */

.nano {
	.nano-pane {
		background-color: transparent;
	}
}

/* Lightbox */

.mfp-wrap, .mfp-wrap * {
	overflow: hidden !important;
}

.mfp-figure {
	figure {
		box-shadow: 0px 0px 15px black;

		img {
			max-height: 80vh !important;
			padding: 0px !important;
		}
	}

	button.mfp-close {
		right: 7px;
	}
}

.mfp-figure:after {
	background: none !important;
	box-shadow: none !important;
}

body.mobile .mfp-content {
	pointer-events: none !important;
}

/* Readability improvement for large screens */

@media (min-width: 1920px) {
	html, body {
		font-size: 17.5px;
	}
}

/* Unsemantic */

.grid-container {
	max-width: initial;
}
