@import 'cyph.base';
@import 'cyph.modest';
@import 'cyph.telehealth';

html, body, #main {
	max-width: 100% !important;
	max-height: 100% !important;
	overflow: hidden;
}

#canvas-basic {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -10;
}

body:not(.mobile) {
	cyph-chat-root > #main {
		padding: 0px 30px 15px;
	}

	.md-button img {
		height: 100%;
	}
}

.cyph-foreground {
	font-size: 1.08em;
}

md-fab-trigger .md-button {
	background-color: #7d4fd3 !important;
}

input, textarea {
	border-radius: 0px;
}

md-menu-item {
	md-icon, span {
		color: #444 !important;
	}
}

.image-frame {
	overflow: hidden;
}

.countdown {
	font-family: 'Ubuntu Mono', monospace;
	padding-left: 10px;
}

/*** SpinKit animation: http://tobiasahlin.com/spinkit/ ***/

.ellipsis-spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;

	> div {
		width: 12px;
		height: 12px;
		background-color: #f1f1f1;
		border-radius: 100%;
		display: inline-block;

		@include animation(ellipsis-spinner 1.4s infinite ease-in-out);

		/* Prevent first frame from flickering when animation starts */
		@include animation-fill-mode(both);
	}

	.bounce1 {
		@include animation-delay(-0.32s);
	}

	.bounce2 {
		@include animation-delay(-0.16s);
	}
}

@include keyframes(ellipsis-spinner) {
	0%, 80%, 100% {
		@include transform(scale(0));
	}

	40% {
		@include transform(scale(1));
	}
}
