/*

Since fonts are big, uncomment these as they actually get used.

*/

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: url(/assets/fonts/ubuntu/300.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/ubuntu/400.woff) format('woff');
}

/*

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url(/assets/fonts/ubuntu/500.woff) format('woff');
}

*/

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url(/assets/fonts/ubuntu/700.woff) format('woff');
}

/*

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 300;
	src: url(/assets/fonts/ubuntu/300i.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: url(/assets/fonts/ubuntu/400i.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 500;
	src: url(/assets/fonts/ubuntu/500i.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: url(/assets/fonts/ubuntu/700i.woff) format('woff');
}

*/

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/ubuntu-mono/400.woff) format('woff');
}

/*

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 700;
	src: url(/assets/fonts/ubuntu-mono/700.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 400;
	src: url(/assets/fonts/ubuntu-mono/400i.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 700;
	src: url(/assets/fonts/ubuntu-mono/700i.woff) format('woff');
}

*/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(/assets/fonts/roboto/100.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(/assets/fonts/roboto/300.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/roboto/400.woff) format('woff');
}

/*

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(/assets/fonts/roboto/500.woff) format('woff');
}

*/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(/assets/fonts/roboto/700.woff) format('woff');
}

/*

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url(/assets/fonts/roboto/900.woff) format('woff');
}

*/

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url(/assets/fonts/roboto/400i.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url(/assets/fonts/roboto/700i.woff) format('woff');
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/material-icons/400.woff) format('woff');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
