@mixin breathe {
	@include animation-name(breathe !important);

	@include animation-duration(3s !important);

	@include animation-timing-function(ease-in-out !important);

	@include animation-iteration-count(infinite !important);
}

/* Changes size of md-icon */
@mixin icon-size($size) {
	& {
		font-size: $size;
		height: $size;
		min-height: $size;
		width: $size;
		min-width: $size;
	}
}

@mixin vertical-align {
	position: relative;
	top: 50%;

	@include transform(translateY(-50%));
}
