@import 'bourbon/bourbon';

#pre-load {
	background-color: #8b62d9 !important;
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	z-index: 999;

	> div {
		height: 60px;
		width: 60px;
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
	}
}

#pre-load.load-complete, html.load-complete #pre-load {
	pointer-events: none;
	opacity: 0;
	@include transition(opacity 0.25s linear);
}

/*** SpinKit animation: http://tobiasahlin.com/spinkit/ ***/

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	@include animation(preloadbounce 2.0s infinite ease-in-out);
}

.double-bounce2 {
	@include animation-delay(-1.0s);
}

@include keyframes(preloadbounce) {
	0%, 100% {
		@include transform(scale(0.0));
	}

	50% {
		@include transform(scale(1.0));
	}
}
