@import '/node_modules/@angular/material/theming';

/* Reference: https://material.io/color/#!/?view.left=0&view.right=1&primary.color=7d4fd3&secondary.color=8b62d9&secondary.text.color=f1f1f1&primary.text.color=ffffff */

@include mat-core;

$cyph-primary: mat-palette($mat-deep-purple, 500, A100, 700);
$cyph-accent: mat-palette($mat-deep-purple, 600, A200, 800);
$cyph-warn: mat-palette($mat-red);
$cyph-darkest: map-get($mat-deep-purple, 900);
$cyph-background: #8b62d9;
$cyph-foreground: #f1f1f1;

$cyph-app-theme: (primary: $cyph-primary, accent: $cyph-accent, warn: $cyph-warn, is-dark: true, foreground: map-merge($mat-dark-theme-foreground, (base: $cyph-foreground, icon: $cyph-foreground, icons: $cyph-foreground, text: $cyph-foreground)), background: map-merge($mat-dark-theme-background, (app-bar: map-get($cyph-primary, default), background: $cyph-background, card: map-get($cyph-accent, default), dialog: map-get($cyph-accent, default), disabled-button-toggle: $cyph-darkest, raised-button: map-get($cyph-accent, default), selected-button: map-get($cyph-accent, darker), selected-disabled-button: map-get($cyph-primary, darker), status-bar: $cyph-darkest)));
