@import 'mixins';

/* Reference: https://material.io/color/#!/?view.left=0&view.right=1&primary.color=7d4fd3&secondary.color=8b62d9&secondary.text.color=f1f1f1&primary.text.color=ffffff */

@include mat-core;

$cyph-primary: mat-palette($mat-deep-purple, 600, 500, 700);
$cyph-accent: mat-palette($mat-deep-purple, 500, A200, A700);
$cyph-warn: mat-palette($mat-red);
$cyph-background: #8b62d9;
$cyph-foreground: #f1f1f1;

$cyph-theme: cyph-dark-theme(
	$cyph-primary,
	$cyph-accent,
	$cyph-warn,
	$cyph-background,
	$cyph-foreground
);

$cyph-cyphertext-theme: cyph-dark-theme(
	mat-palette($mat-green),
	mat-palette($mat-green),
	$cyph-warn,
	#141414,
	#3bfc34
);

$cyph-progress-bar-theme: map-merge($cyph-theme, (
	primary: map-merge($cyph-primary, (
		100: map_get($cyph-primary, darker),
		600: $cyph-foreground
	))
));
