@use '@angular/material' as mat;
@import './mixins';

/* Reference: https://material.io/color/#!/?view.left=0&view.right=1&primary.color=7d4fd3&secondary.color=8b62d9&secondary.text.color=f1f1f1&primary.text.color=ffffff */

$cyph-background-main: #8b62d9;

$cyph-primary: mat.define-palette(mat.$deep-purple-palette, 800, 700, 900);
$cyph-accent: mat.define-palette(mat.$deep-purple-palette, 500, 400, 600);
$cyph-warn: mat.define-palette(mat.$red-palette, 700, 600, 800);
$cyph-white: mat.define-palette(mat.$grey-palette, 200, 100, 300);
$cyph-is-dark: true;
$cyph-background: $cyph-background-main;
$cyph-background-light: rgba(237, 231, 246, 0.95);
$cyph-foreground: #f1f1f1;
$cyph-inverted: #444;
$cyph-hyperlinks: #949fff;
$cyph-hyperlinks-mobile: #f1f1f1;
$cyph-cyphertext-foreground: #3bfc34;
$cyph-alert-background: #e7c447;
$cyph-alert-foreground: #424242;
$cyph-loading-animation-filter: null;
$cyph-progress-foreground: $cyph-foreground;
$cyph-speed-dial-action-alt-background: $cyph-inverted;
$cyph-speed-dial-action-alt-foreground: $cyph-foreground;

$cyph-message-box-colors: (
	background: $cyph-foreground,
	buttons: #757575,
	desktopGlow: #7239dd,
	mobileGlow: rgba(0, 0, 0, 0.5),
	text: initial
);

$cyph-message-colors: (
	app: (
		desktop: transparent,
		mobile: transparent,
		mobileText: $cyph-foreground,
		text: $cyph-foreground
	),
	me: (
		desktop: rgba(139, 98, 217, 0.8),
		mobile: rgba(139, 98, 217, 0.8),
		mobileText: $cyph-foreground,
		text: $cyph-foreground
	),
	other: (
		desktop: rgba(97, 47, 192, 0.5),
		mobile: rgba(97, 47, 192, 0.5),
		mobileText: $cyph-foreground,
		text: $cyph-foreground
	)
);

$cyph-checkout-theme: mat.define-light-theme(
	mat.define-palette(mat.$blue-grey-palette),
	mat.define-palette(mat.$blue-grey-palette),
	$cyph-warn
);

$cyph-cyphertext-theme: cyph-theme(
	mat.define-palette(mat.$green-palette),
	map-merge(
		mat.define-palette(mat.$grey-palette, 900, 800, 900),
		(
			default-contrast: $cyph-cyphertext-foreground
		)
	),
	$cyph-warn,
	black,
	$cyph-cyphertext-foreground,
	true
);
