<div
	fxFlex
	fxFlexFill
	fxLayout="column"
	fxLayoutAlign="center stretch"
	class="link-connection loading"
	*ngIf="!newDeviceActivation; else newDeviceActivationUI"
>
	<cyph-video
		[autoplay]="true"
		[matTooltip]="stringsService.videoPreview"
		[muted]="true"
		[playsinline]="true"
		[src]="(p2pWebRTCService.outgoingStream | await)?.stream"
		*ngIf="
			!!(p2pWebRTCService.outgoingStream | await)?.constraints?.video &&
				(p2pWebRTCService.outgoingStream | await)?.stream !== undefined;
			else logoAnimation
		"
	></cyph-video>
	<ng-template #logoAnimation>
		<div class="logo-animation">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</ng-template>
	<br />
	<div>
		<span
			*ngIf="
				(isPassive | await) === true &&
				!envService.isTelehealth &&
				(sessionService.chatRequestUsername | await) === undefined
			"
			cyphTranslate
		>
			Waiting for other party to join...
		</span>
		<span
			*ngIf="
				(isPassive | await) === true &&
				envService.isTelehealth &&
				(sessionService.chatRequestUsername | await) === undefined
			"
			cyphTranslate
		>
			You have successfully checked in. Your telehealth session will begin
			when the other party connects.
		</span>
		<span
			*ngIf="
				(isPassive | await) === true &&
				(sessionService.chatRequestUsername | await) !== undefined
			"
		>
			<span cyphTranslate>
				Connecting to
			</span>
			&ngsp;
			<span>
				@{{ (sessionService.chatRequestUsername | await) || '' }}.
			</span>
		</span>
		<div *ngIf="(isPassive | await) === false">
			<span *ngIf="envService.isTelehealth" cyphTranslate>
				Send the link below to the patient. When they open it, your
				telehealth session will begin.
			</span>
			<span
				class="description"
				[class.mobile]="envService.isMobileOS"
				*ngIf="!envService.isTelehealth"
				cyphTranslate
			>
				Send the link below to another user. When they open it, you'll
				be securely connected.
			</span>
			<br />
			<br />

			<div fxLayoutAlign="center center" *ngIf="!envService.isMobileOS">
				<mat-form-field fxFlex="50">
					<input
						matInput
						class="connect-link-input"
						[ngModel]="link | await"
						(ngModelChange)="resetLinkValue($event)"
						(blur)="onBlur()"
						(click)="onBlur()"
						(keydown)="onBlur()"
						[matTooltip]="stringsService.linkTooltip"
					/>
				</mat-form-field>
				<button
					mat-icon-button
					matTooltip="Email"
					(click)="email()"
					cyphTranslate
				>
					<mat-icon>email</mat-icon>
				</button>
				<button
					mat-icon-button
					matTooltip="Copy to Clipboard"
					(click)="copyToClipboard()"
					cyphTranslate
				>
					<mat-icon>content_copy</mat-icon>
				</button>
			</div>

			<div class="connect-link-mobile" *ngIf="envService.isMobileOS">
				<a
					class="connect-link-link"
					[href]="linkHref | await"
					[matTooltip]="stringsService.linkTooltip"
					>{{ link | await }}</a
				>

				<br />
				<br />

				<a
					mat-mini-fab
					matTooltip="SMS"
					[href]="linkSMS | await"
					cyphTranslate
				>
					<mat-icon>textsms</mat-icon>
				</a>

				<span class="divider">
					&nbsp;
				</span>

				<button
					mat-mini-fab
					matTooltip="Email"
					(click)="email()"
					cyphTranslate
				>
					<mat-icon>email</mat-icon>
				</button>

				<span class="divider">
					&nbsp;
				</span>

				<button
					mat-mini-fab
					matTooltip="Copy to Clipboard"
					(click)="copyToClipboard()"
					cyphTranslate
				>
					<mat-icon>content_copy</mat-icon>
				</button>
			</div>
		</div>
		<div
			fxLayoutAlign="center center"
			*ngIf="(isPassive | await) === undefined"
		>
			<cyph-spinner mode="indeterminate"></cyph-spinner>
		</div>

		<br />
		<div
			class="timer"
			*ngIf="timer !== undefined && (isPassive | await) === false"
		>
			<span cyphTranslate>
				Link expires in
			</span>
			&ngsp;
			<span class="countdown">
				{{ timer.timestamp | await }}
			</span>
			&ngsp;
			<button
				mat-icon-button
				(click)="addTime(60000)"
				matTooltip="Increase Time by One Minute"
				cyphTranslate
			>
				<mat-icon>alarm_add</mat-icon>
			</button>

			<ng-container *ngIf="envService.pro | await">
				&ngsp;
				<mat-select
					cyphTranslate
					class="add-time-select"
					ngClass.lt-md="mobile"
					placeholder="Add More Time"
				>
					<mat-option (click)="addTime(600000)">
						10 Minutes
					</mat-option>
					<mat-option (click)="addTime(1800000)">
						30 Minutes
					</mat-option>
					<mat-option (click)="addTime(3600000)">
						1 Hour
					</mat-option>
					<mat-option (click)="addTime(43200000)">
						12 Hours
					</mat-option>
				</mat-select>
			</ng-container>
		</div>
	</div>

	<ng-container *ngIf="!envService.isMobileOS">
		<br />

		<ng-container
			*ngTemplateOutlet="qrCodeUI; context: {size: 128}"
		></ng-container>

		<br />
	</ng-container>

	<div
		fxLayout="row"
		fxLayoutAlign="center center"
		[class.ad]="envService.showAds"
		[class.mobile]="envService.isMobile | await"
	>
		<ng-container *ngIf="envService.showAds; else proContent">
			<ng-content></ng-content>
		</ng-container>
		<ng-template #proContent>
			<div
				fxFlex
				fxFlex.gt-md="50"
				fxLayout="column"
				*ngIf="
					sessionInitService.callType === undefined &&
					(envService.pro | await)
				"
			>
				<div fxLayout="row" fxLayoutAlign="center center">
					<mat-slide-toggle
						[ngModel]="advancedFeatures | await"
						(ngModelChange)="advancedFeatures.next($event)"
						cyphTranslate
					>
						Advanced Features
					</mat-slide-toggle>
				</div>

				<div
					fxLayout="row"
					fxLayoutGap="16px"
					*ngIf="advancedFeatures | await"
				>
					<mat-form-field fxFlex fxLayout="column">
						<textarea
							matInput
							cyphTranslate
							[ngModel]="queuedMessageDraft | await"
							(ngModelChange)="queuedMessageDraft.next($event)"
							placeholder="Queue up first message"
							rows="3"
						></textarea>
					</mat-form-field>
					<div fxLayout="row">
						<div
							fxLayout="column"
							fxLayoutAlign="center center"
							fxLayoutGap="8px"
						>
							<button
								mat-icon-button
								matTooltip="Save"
								cyphTranslate
								(click)="
									chatService.setQueuedMessage(
										queuedMessageDraft.value
									)
								"
							>
								<mat-icon>save</mat-icon>
							</button>
							<mat-button-toggle
								matTooltip="Self-Destruct"
								cyphTranslate
								[checked]="chatService.chatSelfDestruct | await"
								(change)="
									chatService.chatSelfDestruct.next(
										!chatService.chatSelfDestruct.value
									)
								"
							>
								<mat-icon>timer</mat-icon>
							</mat-button-toggle>
						</div>
						<div
							*ngIf="chatService.chatSelfDestruct | await"
							class="self-destruct-timer"
						>
							<mat-form-field>
								<input
									matInput
									[ngModel]="
										chatService.chatSelfDestructTimeout
											| await
									"
									(ngModelChange)="
										chatService.chatSelfDestructTimeout.next(
											$event
										)
									"
									name="timer"
									max="9999"
									type="number"
								/>
							</mat-form-field>
							&nbsp;
							<span cyphTranslate>Seconds</span>
						</div>
					</div>
					<div
						fxLayout="column"
						fxLayoutAlign="center center"
						fxLayoutGap="8px"
					>
						<mat-button-toggle
							matTooltip="Walkie Talkie Mode"
							cyphTranslate
							[checked]="chatService.walkieTalkieMode | await"
							(change)="
								chatService.walkieTalkieMode.next(
									!chatService.walkieTalkieMode.value
								)
							"
						>
							<mat-icon svgIcon="walkie-talkie"></mat-icon>
						</mat-button-toggle>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</div>

<ng-template #newDeviceActivationUI>
	<div
		fxFlex
		fxLayout="column"
		fxLayoutAlign="center stretch"
		fxLayoutGap="32px"
		class="link-connection loading"
	>
		<ng-container *ngIf="!!(link | await); else newDeviceActivationSpinner">
			<div class="text-center">
				{{ stringsService.newDeviceActivationQR }}
			</div>

			<ng-container
				*ngTemplateOutlet="qrCodeUI; context: {size: 256}"
			></ng-container>

			<div>
				<div fxLayout="column" fxLayoutGap="16px">
					<div cyphTranslate>
						Alternatively, you may copy the activation code and
						paste it directly into the app:
					</div>
					<div fxLayoutAlign="center center">
						<button
							mat-raised-button
							(click)="
								copyToClipboard(
									stringsService.newDeviceActivationCopySuccess
								)
							"
						>
							<mat-icon>content_copy</mat-icon>
							&ngsp;
							<span cyphTranslate>Copy Activation Code</span>
						</button>
					</div>
				</div>
			</div>

			<div *ngIf="mobileDeviceActivation | await">
				<div fxLayout="column" fxLayoutGap="16px">
					<div cyphTranslate>
						If you haven't yet installed the app, just enter your
						number here to receive a link:
					</div>
					<div fxLayoutAlign="center center">
						<mat-form-field
							fxFlex="200px"
							[style.font-size]="'1rem'"
						>
							<input
								#phoneNumberInput
								matInput
								cyphTranslate
								placeholder="Phone Number"
								type="tel"
								(keydown.enter)="
									sendAppLink(phoneNumberInput.value);
									phoneNumberInput.value = ''
								"
							/>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div *ngIf="!(mobileDeviceActivation | await)">
				<div fxLayout="column" fxLayoutGap="16px">
					<div></div>
					<div fxLayoutAlign="center center" fxLayoutGap="16px">
						<a
							cyphTranslate
							href="https://www.microsoft.com/en-us/p/cyph/9nz5zdz2p9mv"
						>
							Windows app
						</a>
						<a
							cyphTranslate
							href="https://apps.apple.com/us/app/cyph/id1480070821"
						>
							macOS app
						</a>
						<a cyphTranslate href="https://snapcraft.io/cyph">
							Linux app
						</a>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #newDeviceActivationSpinner>
			<div fxFlex fxLayoutAlign="center center">
				<cyph-spinner mode="indeterminate"></cyph-spinner>
			</div>
		</ng-template>
	</div>
</ng-template>

<ng-template #qrCodeUI let-size="size">
	<div fxLayoutAlign="center center">
		<img
			cyphTranslate
			alt="QR Code"
			[src]="qrSrc"
			*ngIf="
				(qrService.getQRCode({
					dotScale: 0.75,
					size: size,
					text: (link | await) || ''
				}) | await) || '' as qrSrc
			"
		/>
	</div>
</ng-template>
