@import '../../../../css/mixins';

.connect-link-input, .connect-link-link {
	font-family: 'Ubuntu Mono';
	text-align: center;
}

.connect-link-link {
	font-size: 130%;
	word-wrap: break-word;
	word-break: break-all;
}

.description.mobile {
	font-size: 0.9em;
}

.connect-link-mobile {
	.connect-link-link {
		font-size: 100%;
	}

	.divider {
		width: 21px;
		display: inline-block;
	}
}

.countdown {
	padding-left: 10px;
}

.self-destruct-timer {
	top: 28px;
	margin: auto auto auto 25px;
	font-size: 17px;
	position: relative;

	span {
		top: 5px;
		position: relative;
	}

	mat-form-field {
		text-align: center;
		width: 42px;

		input {
			margin: 0 0 -5px -2px;
			text-align: center;
		}
	}
}
