@import '../../../../css/mixins';

.connect-link-input,
.connect-link-link {
	font-family: 'Ubuntu Mono';
	text-align: center;
}

.connect-link-link {
	font-size: 130%;
	overflow-wrap: break-word;
	word-break: break-all;
}

.description.mobile {
	font-size: 0.9em;
}

.connect-link-mobile {
	.connect-link-link {
		font-size: 100%;
	}

	.divider {
		width: 21px;
		display: inline-block;
	}
}

.countdown {
	padding-left: 10px;
}

.add-time-select {
	width: 12em;

	&:not(.mobile) {
		margin-right: -12em;
	}

	&.mobile {
		display: block;
		margin: 16px auto;
	}
}

.self-destruct-timer {
	top: 28px;
	margin: auto auto auto 25px;
	font-size: 17px;
	position: relative;

	span {
		top: 5px;
		position: relative;
	}

	mat-form-field {
		text-align: center;
		width: 42px;

		input {
			margin: 0 0 -5px -2px;
			text-align: center;
		}
	}
}

.ad {
	position: fixed;
	left: 0;
	right: 0;

	&:not(.mobile) {
		bottom: 8.5%;
	}

	&.mobile {
		bottom: 25px;
	}
}
