@import url(fonts.css);
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important; }

html, body, #main, md-sidenav {
  background-color: #8b62d9 !important; }

#main, .md-button {
  color: #f1f1f1 !important; }

md-sidenav .md-button {
  width: 100%;
  text-align: left;
  height: 35px; }

#footer {
  margin-top: 10px;
  position: relative;
  text-align: center;
  font-size: 15px;
  padding: 15px 0px 5px 0px; }

md-toolbar, md-toolbar.md-default-theme {
  background-color: #7d4fd3;
  height: 40px !important;
  min-height: 40px !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  md-toolbar img, md-toolbar.md-default-theme img {
    height: 25px !important;
    vertical-align: middle; }

html:not(.mobile) md-toolbar {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75); }

#mobile-toolbar {
  position: fixed;
  top: 0px; }

ng-markdown > p:only-child, [ng-markdown] > p:only-child {
  display: inline; }
ng-markdown :not(p:only-child), [ng-markdown] :not(p:only-child) {
  margin: 10px; }
ng-markdown blockquote, [ng-markdown] blockquote {
  border-left: 2px solid #f1f1f1 !important;
  padding-left: 10px; }

html:not(.mobile) ng-markdown :not(p:only-child), html:not(.mobile) [ng-markdown] :not(p:only-child) {
  margin-left: 25px; }

:not(textarea):not(md-text-float):not(md-input-group):not(input) {
  border: 0px !important; }

a {
  color: inherit; }

#footer a:not(:hover) {
  text-decoration: none; }

textarea {
  background-color: #f1f1f1; }

.tabIndent-rendered {
  background-image: none !important; }

#main.curtain {
  height: 10%;
  -webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  -webkit-transition: -webkit-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  transition: transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1); }

#main:not(.curtain) {
  -webkit-transition: -webkit-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  transition: transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1); }

#main {
  position: relative;
  z-index: 2; }

[ng-view]:not(.active) {
  opacity: 0;
  pointer-events: none;
  position: fixed; }

[ng-view].active {
  position: relative;
  -webkit-transition: opacity 0.75s linear;
  -moz-transition: opacity 0.75s linear;
  transition: opacity 0.75s linear; }

/* nanoScroller styling */
.nano .nano-pane {
  background-color: transparent; }

/* Mobile and desktop classes */
html:not(.mobile) .mobile-only {
  display: none !important; }
html:not(.mobile) * {
  outline: none !important; }

html.mobile .desktop-only {
  display: none !important; }

/* Lightbox */
.mfp-wrap, .mfp-wrap * {
  overflow: hidden !important; }

.mfp-figure figure {
  box-shadow: 0px 0px 15px black; }
  .mfp-figure figure img {
    max-height: 80vh !important;
    padding: 0px !important; }

.mfp-figure:after {
  background: none !important;
  box-shadow: none !important; }

html.mobile .mfp-content {
  pointer-events: none !important; }

/*** Angular Material patches (from 0.4 to 0.6 upgrade) ***/
md-content.md-default-theme {
  background-color: transparent; }

html > body p {
  line-height: 100%; }

input, textarea {
  line-height: 26px; }

button.md-button.md-fab {
  z-index: auto; }

.md-button > a {
  text-decoration: none; }

[layout-fill] {
  min-height: 0px;
  height: 100%; }

md-toolbar .md-toolbar-tools {
  height: 40px;
  min-height: 40px;
  max-height: 40px; }

@-webkit-keyframes inkRippleCheckbox {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.4; }
  50% {
    -webkit-transform: scale(1);
    opacity: 0.4; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@-moz-keyframes inkRippleCheckbox {
  0% {
    -moz-transform: scale(0);
    opacity: 0.4; }
  50% {
    -moz-transform: scale(1);
    opacity: 0.4; }
  100% {
    -moz-transform: scale(1);
    opacity: 0; } }
@keyframes inkRippleCheckbox {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0.4; }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

/*# sourceMappingURL=cyph.base.css.map */
