@import 'bourbon/bourbon';
@import 'fonts.css';


html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body, #pre-load, md-sidenav {
	background-color: #8b62d9 !important;
}

body, .md-button-inner {
	color: #f1f1f1 !important;
}

html:not(.mobile) {
	md-button {
		color: #444;
		background-color: #7d4fd3 !important;
	}

	md-button.focus, md-button:hover {
		background-color: #7239dd !important;
	}

	md-button img {
		height: 100%;
	}
}

md-sidenav md-button {
	width: 100%;

	* {
		text-align: left;
	}
}

.app-message {
	font-weight: bold;
	margin-top: 20px;
}

#message-box {
	width: 100%;
	resize: none;
}

html:not(.mobile) {
	#message-box {
		@include transition(all 0.35s ease-in-out);
		outline: none;
		padding: 3px 0px 3px 3px;
		margin: 5px 1px 3px 0px;
		border: 1px solid #DDDDDD;
	}

	#message-box:focus {
		box-shadow: 0 0 10px #7239dd;
		padding: 3px 0px 3px 3px;
		margin: 5px 1px 3px 0px;
		border: 1px solid #8b62d9;
	}
}

html.mobile {
	#message-box {
		height: 48px;
		font-size: 17px;
		line-height: 22px;
		padding: 13px;
		padding-right: 60px;
	}

	#message-box:focus ~ #new-messages, #message-box:focus ~ #message-box-overlay {
		display: none;
	}
}

#message-wrapper {
	position: relative;
}

#send-button {
	position: absolute;
	height: 80%;
	top: 10%;
	right: 20px;
	opacity: 0.75;
	z-index: 10;
}

#message-box-overlay {
	position: fixed;
	bottom: -1px;
	left: -1px;
	height: 60px;
	width: 100%;
	display: none;
}

#footer {
	margin-top: 10px;
	position: relative;
	text-align: center;
	left: -75px;
	padding: 15px 0px 5px 0px;
}

#message-list {
	overflow-y: scroll;
}

.message {
	max-width: 85%;
	word-wrap: break-word;
	@include hyphens(auto);
}

.message-item:not(.unread) {
	@include animation(inkRippleCheckbox 0.35s linear 0s 1 normal);
}

#desktop-sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 200px;
	padding: 20px;

	.logo > img {
		width: 60%;
		margin: 0px auto;
		margin-bottom: 50px;
		display: block;
	}

	md-button {
		font-size: 14px;
		width: 100%;
		margin-bottom: 6px;
	}
}


.loading {
	> :nth-child(2) {
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		height: 33vh;
		display: block;
		margin-bottom: 10px;
	}

	> :nth-child(3) {
		letter-spacing: 1px;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
}
html.mobile {
	.loading {
		font-size: 18px;
		padding: 10px;
	}
}
html:not(.mobile) {
	.loading {
		font-size: 20px;
		margin-left: -110px;
	}
}

#copy-url input {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	background-color: #f1f1f1;
	box-shadow: 0 0 10px #7239dd;
	padding: 5px;
	border: 1px solid #8b62d9;
}


#pre-load {
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	z-index: 999;

	> div {
		height: 60px;
		width: 60px;
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
	}
}

md-toolbar {
	background-color: #7239dd;
	height: 40px !important;
	min-height: 40px !important;

	img {
		height: 25px !important;
		vertical-align: middle;
	}
}

btf-markdown, [btf-markdown] {
	> :first-child {
		display: inline;
	}

	> :not(:first-child) {
		margin: 0px;
		margin-left: 25px;
	}
}

:not(textarea):not(md-text-float):not(md-input-group):not(input) {
	border: 0px !important;
}

a {
	color: inherit;
}

textarea {
	background-color: #f1f1f1;
}

#new-messages {
	background-color: white !important;
	color: #8b62d9;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	cursor: pointer;
}
#new-messages:after {
	width: 100%;
}


#error {
	margin-left: auto;
	margin-right: auto;
	padding: 5% 10%;

	#errorHero {
		text-align: center;
	}

	img {
		max-width: 100%;
		max-height: 80vh;
	}
}
html.mobile #error {
	h1 {
		left: 0 !important;
		font-size: 20px;
	}
	img {
		left: 0 !important;
	}
}
html:not(.mobile) #errorHero {
	margin-left: -110px;

	#errorHero {
		height: 80vh;
	}
}



body > .curtain:not(#cyphertext):not(#desktop-sidebar) {
	@include transform(translateX(5000px));
	@include transition(all 5s ease-in-out);
}
#desktop-sidebar.curtain, #desktop-sidebar *.curtain {
	@include transform(translateY(-5000px));
	@include transition(all 10s ease-in-out);
}
#cyphertext {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	padding-top: 20px;
	padding-left: 12.5%;
	font-size: 12px;
	overflow-y: scroll;
	font-family: 'Ubuntu Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Bitstream Vera Sans Mono', monospace;
	background-color: #141414;
	color: #3bfc34;
	@include transition(opacity 1s linear 2s);
}
#cyphertext.curtain {
	pointer-events: all;
	opacity: 1;
	@include transition(opacity 2s linear);
}



[ng-view]:not(.active) {
	opacity: 0;
	pointer-events: none;
	position: fixed;
}
[ng-view].active {
	@include transition(all 0.75s linear);
}

#chat-begin-message {
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 10%;
	width: 100%;
	background-color: #8b62d9 !important;
}
html:not(.mobile) {
	#chat-begin-message {
		font-size: 150px;
	}
}
html.mobile {
	#chat-begin-message {
		font-size: 50px;
	}
}



/* Mobile and desktop classes */

html:not(.mobile) {
	.mobile-only  {
		display: none !important;
	}

	body {
		padding: 10px;
		padding-left: 200px;
		padding-right: 20px;
	}
}

html.mobile {
	.desktop-only  {
		display: none !important;
	}
}




/*** SpinKit animations: http://tobiasahlin.com/spinkit/ ***/

/* Loading screen */

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	@include animation(bounce 2.0s infinite ease-in-out);
}

.double-bounce2 {
	@include animation-delay(-1.0s);
}

@include keyframes(bounce) {
	0%, 100% {
		@include transform(scale(0.0));
	}

	50% {
		@include transform(scale(1.0));
	}
}

/* Post-load spinner (on top of logo) */

.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;

	border-radius: 100%;
	display: inline-block;
	@include animation(bouncedelay 1.4s infinite ease-in-out);
	/* Prevent first frame from flickering when animation starts */
	@include animation-fill-mode(both);
}

.spinner .bounce1 {
	@include animation-delay(-0.32s);
}

.spinner .bounce2 {
	@include animation-delay(-0.16s);
}

@include keyframes(bouncedelay) {
	0%, 80%, 100% {
		@include transform(scale(0.0));
	}

	40% {
		@include transform(scale(1.0));
	}
}

/* Why is this line missing from Angular Material's bower package? */

md-backdrop.opaque {
	background-color: rgba(0, 0, 0, 0.3);
}
