.appMessage {
	font-weight: bold;
	padding-top: 20px;
}

#message {
	resize: none;
}



/* Mobile and desktop classes */

@media only screen and (min-width: 992px) {
	.mobile-only  {
		display: none !important;
	}
}

@media only screen and (max-width: 991px) {
	.desktop-only  {
		display: none !important;
	}
}
