@import 'bourbon/bourbon';


html:not(.mobile) {
	#desktop-sidebar, #message-wrapper {
		md-button {
			color: #444;
			background-color: #7d4fd3 !important;
		}

		md-button.focus, md-button:hover {
			background-color: #7239dd !important;
		}
	}

	md-button img {
		height: 100%;
	}
}


.app-message {
	margin-top: 20px;

	* {
		font-weight: bold;
	}
}


#message-box {
	resize: none;
}

html:not(.mobile) {
	#message-box {
		@include transition(all 0.35s ease-in-out);
		outline: none;
		padding: 3px;
		border: 1px solid #dddddd;
		margin: 5px 10px;
		height: 60px;
		width: calc(100% - 29px);
	}

	#message-box:focus {
		box-shadow: 0px 0px 10px #7239dd;
		border: 1px solid #8b62d9;
	}
}

html.mobile {
	#message-box {
		width: 100%;
		height: 48px;
		font-size: 17px;
		line-height: 22px;
		padding: 13px;
		padding-right: 60px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
	}

	#message-box:focus ~ #new-messages {
		display: none;
	}
}

#message-wrapper {
	position: relative;
}

#insert-photo-desktop {
	position: absolute;
	top: 9px;
	right: 29px;
	height: 42px;
	width: 42px;

	img {
		height: 80%;
	}
}
md-button input[type='file'] {
	position: absolute;
	top: -2000%;
	left: -2000%;
	width: 4000% !important;
	height: 4000% !important;
}
#send-button, #insert-photo-mobile {
	position: absolute;
	height: 80%;
	top: 10%;
	right: 20px;
	opacity: 0.75;
	z-index: 5;
	width: 38px;
	height: 38px;

	* {
		width: 100%;
		height: 100%;
	}
}
#message-wrapper {
	.message-wrapper-hidden {
		@include transform(translateY(50vh) !important);
		@include transition(transform 0.25s linear);
	}
	:not(.message-wrapper-hidden) {
		@include transition(transform 0.15s linear);
	}
}


#message-list:not(.nano) {
	overflow-y: scroll;
}
html:not(.mobile) #message-list > md-content {
	padding-right: 10px;
}


.message-item {
	.message {
		word-wrap: break-word;
		@include hyphens(auto);

		> * {
			padding-top: 5px;
		}
	}

	img {
		max-width: 25%;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: auto;
		display: block;
	}
}
.message-item.author-me {
	background-color: #8652e4;
	box-shadow: 0px 0px 5px #8652e4;
}
.message-item.author-friend {
	background-color: #7d53cb;
	box-shadow: 0px 0px 5px #7d53cb;
}
html:not(.mobile) {
	.message-item {
		padding: 7.5px 10px 5px 10px;
		margin: 2.5px;

		.message {
			max-width: 85%;
			padding-bottom: 5px;
		}

		img {
			margin-left: 20vh;
		}

		.message-timestamp {
			text-align: right;
		}
	}
}
html.mobile {
	.message-item {
		position: relative;
		max-width: 80%;
		min-width: 120px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		font-size: 18px;

		.message {
			width: 100%;
		}

		img {
			margin-left: auto;
		}

		.message-timestamp {
			position: absolute;
			bottom: 5px;
			font-size: 10px;
			color: #dddddd;
		}

		.message-author {
			display: none;
		}
	}

	.message-item.author-me {
		margin-right: 5%;

		.message {
			text-align: left;
			/* text-align: right; */
		}

		.message-timestamp {
			text-align: right;
			right: 10px;
		}
	}
	.message-item.author-me:after, .message-item.author-me:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 18px 0px 0px 12px;
		bottom: 0px;
	}
	.message-item.author-me:after {
		border-color: transparent #8652e4;
		right: -12px;
	}
	.message-item.author-me:before {
		border-color: transparent transparent;
		right: 0px;
		box-shadow: 5px 1px 5px #8652e4;
		@include transform(rotate(-35deg));
	}

	.message-item.author-friend {
		margin-left: 5%;

		.message {
			text-align: left;
		}

		.message-timestamp {
			text-align: left;
			left: 10px;
		}
	}
	.message-item.author-friend:after, .message-item.author-friend:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0px 12px 18px 0px;
		top: 0px;
	}
	.message-item.author-friend:after {
		border-color: transparent #7d53cb;
		left: -12px;
	}
	.message-item.author-friend:before {
		border-color: transparent transparent;
		left: 0px;
		box-shadow: 5px 1px 5px #7d53cb;
		@include transform(rotate(-215deg));
	}

	.message-item.author-app {
		width: 90%;
		background-color: transparent;

		.message {
			text-align: center;
		}

		.message-timestamp {
			text-align: center;
			width: 100%;
			left: 0px;
		}
	}
}

.message-item:not(.unread) {
	@include animation(inkRippleCheckbox 0.35s linear 0s 1 normal);
}


#desktop-sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 200px;
	padding: 20px;

	.logo > img {
		width: 60%;
		margin: 0px auto;
		margin-bottom: 50px;
		display: block;
	}

	md-button {
		font-size: 14px;
		width: 100%;
		margin-bottom: 6px;
		box-shadow: 0px 0px 2px #7239dd;
	}
}


#timer {
	font-family: 'Ubuntu Mono', monospace;
	padding-left: 10px;
}



.loading {
	> .logo-animation {
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		height: 33vh;
		display: block;
		margin-bottom: 10px;
	}

	> *:not(.logo-animation) {
		letter-spacing: 1px;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
}
html.mobile {
	.loading {
		font-size: 18px;
		padding: 10px;
	}
}
html:not(.mobile) {
	.loading {
		font-size: 20px;
		margin-left: -110px;
	}
}

#copy-url input {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	background-color: #f1f1f1;
	box-shadow: 0px 0px 10px #7239dd;
	padding: 5px;
	border: 1px solid #8b62d9;
}


#new-messages {
	background-color: white !important;
	color: #8b62d9;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	cursor: pointer;
	z-index: 6;
}
#new-messages:after {
	width: 100%;
}


#error {
	h1 {
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}

	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
html.mobile #error {
	padding: 5px;

	h1 {
		font-size: 20px;
	}

	img {
		width: 100%;
	}
}
html:not(.mobile) #error {
	padding: 5% 10%;
	margin-left: -38px;
	margin-right: auto;

	#errorExplanation {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}

	img {
		width: 75%;
	}
}


#cyphertext {
	z-index: 1;
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	font-size: 13px;
	font-family: 'Ubuntu Mono', monospace;
	background-color: #141414;
	color: #3bfc34;

	md-content {
		padding-top: 20px;
		padding-left: 12.5%;
	}

	.message-item {
		margin-left: 0px;
	}

	#cyphertext-close {
		position: fixed;
		top: 30px;
		right: 5%;

		.md-button-inner {
			color: #3bfc34 !important;
			font-size: 30px;
		}
	}

	md-button {
		background-color: #202020 !important;
		box-shadow: rgba(25, 130, 25, 0.137255) 0px 0px 4px 0px, rgba(25, 130, 25, 0.278431) 0px 4px 8px 0px;
	}
}
#cyphertext:not(.nano) {
	overflow-y: scroll;
}


#chat-begin-message {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	width: 100%;
	background-color: #8b62d9 !important;

	* {
		font-weight: bold;
	}
}
html:not(.mobile) {
	#chat-begin-message {
		font-size: 150px;
	}
}
html.mobile {
	#chat-begin-message {
		font-size: 50px;
	}
}
