@import '../../../../css/mixins';

mat-card {
	min-height: calc(100vh - 139px - 2em) !important;
}

mat-tab-body {
	max-height: 100vh !important;
}

mat-tab-group {
	&:not(.lt-md) {
		margin-left: 5%;
		margin-right: 5%;
	}

	font-family: Roboto;
}

.output-section {
	position: relative;

	> button {
		position: absolute;
		top: 16px;
		right: 16px;
	}
}

:host ::ng-deep {
	/* Workaround for Material bug: https://stackoverflow.com/a/53621508/459881 */
	.mat-form-field.flex-textarea,
	.mat-form-field.flex-textarea .mat-form-field-flex,
	.mat-form-field.flex-textarea textarea {
		height: 100%;
		resize: none;
	}
	.mat-form-field.flex-textarea .mat-form-field-wrapper {
		height: calc(100% - 1.34375em);
	}
	.mat-form-field.flex-textarea .mat-form-field-infix {
		height: calc(100% - 1.34375em - 2px);
	}
}

.fixed-fab,
button ::ng-deep .mat-button-wrapper {
	mat-icon svg * {
		transform: scale(0.85);
	}
}
