<mat-tab-group fxFlex fxFlexFill ngClass.lt-md="lt-md">
	<mat-tab cyphTranslate label="Keys">
		<cyph-account-base-file-list [recordType]="recordType">
		</cyph-account-base-file-list>
	</mat-tab>

	<mat-tab cyphTranslate label="Encrypt/Sign Message">
		<div
			fxFlex
			fxFlexFill
			[class.initiating]="
				(outgoingMessage.spinner | await) === true ||
				(accountFilesService.showSpinner() | await) !== undefined
			"
		>
			<mat-card
				fxFlex
				fxFlexFill.gt-sm
				fxLayout="column"
				fxLayoutGap="16px"
			>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div
						fxFlex
						fxFlex.gt-sm="66"
						fxLayout.lt-md="column"
						fxLayoutGap.gt-sm="16px"
					>
						<mat-form-field fxFlex>
							<mat-select
								cyphTranslate
								fxFlex
								multiple
								[ngModel]="outgoingMessage.encrypt | await"
								(selectionChange)="
									outgoingMessage.encrypt.next($event.value)
								"
								name="encrypt-public-key"
								placeholder="Encrypt for User(s)"
							>
								<mat-option
									[value]="o.value"
									*ngFor="
										let o of pgpKeys | await;
										trackBy: trackBySelf
									"
								>
									{{ o.label }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex>
							<mat-select
								cyphTranslate
								fxFlex
								multiple
								[ngModel]="outgoingMessage.sign | await"
								(selectionChange)="
									outgoingMessage.sign.next($event.value)
								"
								name="sign-private-key"
								placeholder="Sign with Key(s)"
							>
								<mat-option
									[value]="o.value"
									*ngFor="
										let o of pgpPrivateKeys | await;
										trackBy: trackBySelf
									"
								>
									{{ o.label }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<div fxLayoutAlign="center center">
							<button
								mat-raised-button
								[disabled]="
									((outgoingMessage.encrypt | await) || [])
										.length < 1 &&
									((outgoingMessage.sign | await) || [])
										.length < 1
								"
								(click)="processOutgoingMessage()"
							>
								{{
									((outgoingMessage.encrypt | await) || [])
										.length > 0 &&
									((outgoingMessage.sign | await) || [])
										.length < 1 ?
										stringsService.pgpEncryptMessage :
									((outgoingMessage.encrypt | await) || [])
											.length < 1 &&
										((outgoingMessage.sign | await) || [])
											.length > 0 ?
										stringsService.pgpSignMessage :
										stringsService.pgpEncryptAndSignMessage
								}}
							</button>
						</div>
					</div>
				</div>

				<div
					fxFlex
					fxLayout="row"
					fxLayout.lt-md="column"
					fxLayoutGap="32px"
				>
					<div fxFlex="50" fxLayout="column" fxLayout.lt-md="row">
						<mat-form-field
							fxFlex
							fxFlexFill.gt-sm
							ngClass.gt-sm="flex-textarea"
						>
							<textarea
								cyphTranslate
								matInput
								[matAutosizeMinRows]="4"
								[matTextareaAutosize]="
									(envService.isMobile | await) === true
								"
								[ngModel]="''"
								(ngModelChange)="
									outgoingMessage.plaintext.next($event)
								"
								placeholder="Message to Encrypt/Sign"
							></textarea>
						</mat-form-field>
					</div>
					<div
						fxFlex="50"
						fxLayout="column"
						fxLayout.lt-md="row"
						class="output-section"
					>
						<mat-form-field
							fxFlex
							fxFlexFill.gt-sm
							ngClass.gt-sm="flex-textarea"
						>
							<textarea
								cyphTranslate
								matInput
								[matAutosizeMaxRows]="8"
								[matAutosizeMinRows]="4"
								[matTextareaAutosize]="
									(envService.isMobile | await) === true
								"
								[ngModel]="outgoingMessage.cyphertext | await"
								placeholder="ASCII Armor Cyphertext"
								readonly
							></textarea>
						</mat-form-field>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Copy to Clipboard"
							(click)="
								copyToClipboard(
									outgoingMessage.cyphertext.value || ''
								)
							"
							*ngIf="!!(outgoingMessage.cyphertext | await)"
						>
							<mat-icon>content_copy</mat-icon>
						</button>
					</div>
				</div>
			</mat-card>

			<cyph-spinner
				mode="indeterminate"
				*ngIf="outgoingMessage.spinner | await; else defaultFileSpinner"
			></cyph-spinner>
		</div>
	</mat-tab>

	<mat-tab cyphTranslate label="Open Message"
		><div
			fxFlex
			fxFlexFill
			[class.initiating]="
				(incomingMessage.spinner | await) === true ||
				(accountFilesService.showSpinner() | await) !== undefined
			"
		>
			<mat-card
				fxFlex
				fxFlexFill.gt-sm
				fxLayout="column"
				fxLayoutGap="16px"
			>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div
						fxFlex
						fxFlex.gt-sm="66"
						fxLayout.lt-md="column"
						fxLayoutGap.gt-sm="16px"
					>
						<mat-form-field fxFlex>
							<mat-select
								cyphTranslate
								fxFlex
								multiple
								[ngModel]="incomingMessage.decrypt | await"
								(selectionChange)="
									incomingMessage.decrypt.next($event.value)
								"
								name="decrypt-public-key"
								placeholder="Decrypt with Key(s)"
							>
								<mat-option
									[value]="o.value"
									*ngFor="
										let o of pgpPrivateKeys | await;
										trackBy: trackBySelf
									"
								>
									{{ o.label }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex>
							<mat-select
								cyphTranslate
								fxFlex
								multiple
								[ngModel]="incomingMessage.verify | await"
								(selectionChange)="
									incomingMessage.verify.next($event.value)
								"
								name="verify-private-key"
								placeholder="Verify from User(s)"
							>
								<mat-option
									[value]="o.value"
									*ngFor="
										let o of pgpKeys | await;
										trackBy: trackBySelf
									"
								>
									{{ o.label }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<div fxLayoutAlign="center center">
							<button
								mat-raised-button
								[disabled]="
									((incomingMessage.decrypt | await) || [])
										.length < 1 &&
									((incomingMessage.verify | await) || [])
										.length < 1
								"
								(click)="processIncomingMessage()"
							>
								{{
									((incomingMessage.decrypt | await) || [])
										.length > 0 &&
									((incomingMessage.verify | await) || [])
										.length < 1 ?
										stringsService.pgpDecryptMessage :
									((incomingMessage.decrypt | await) || [])
											.length < 1 &&
										((incomingMessage.verify | await) || [])
											.length > 0 ?
										stringsService.pgpVerifyMessage :
										stringsService.pgpDecryptAndVerifyMessage
								}}
							</button>
						</div>
					</div>
				</div>

				<div
					fxFlex
					fxLayout="row"
					fxLayout.lt-md="column"
					fxLayoutGap="32px"
				>
					<div fxFlex="50" fxLayout="column" fxLayout.lt-md="row">
						<mat-form-field
							fxFlex
							fxFlexFill.gt-sm
							ngClass.gt-sm="flex-textarea"
						>
							<textarea
								cyphTranslate
								matInput
								[matAutosizeMaxRows]="8"
								[matAutosizeMinRows]="4"
								[matTextareaAutosize]="
									(envService.isMobile | await) === true
								"
								[ngModel]="''"
								(ngModelChange)="
									incomingMessage.cyphertext.next($event)
								"
								placeholder="Cyphertext to Decrypt/Verify"
							></textarea>
						</mat-form-field>
					</div>
					<div
						fxFlex="50"
						fxLayout="column"
						fxLayout.lt-md="row"
						class="output-section"
					>
						<mat-form-field
							fxFlex
							fxFlexFill.gt-sm
							ngClass.gt-sm="flex-textarea"
						>
							<textarea
								cyphTranslate
								matInput
								[matTextareaAutosize]="
									(envService.isMobile | await) === true
								"
								[ngModel]="incomingMessage.plaintext | await"
								placeholder="Opened Message"
								readonly
							></textarea>
						</mat-form-field>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Copy to Clipboard"
							(click)="
								copyToClipboard(
									incomingMessage.plaintext.value || ''
								)
							"
							*ngIf="!!(incomingMessage.plaintext | await)"
						>
							<mat-icon>content_copy</mat-icon>
						</button>
					</div>
				</div>
			</mat-card>

			<cyph-spinner
				mode="indeterminate"
				*ngIf="incomingMessage.spinner | await; else defaultFileSpinner"
			></cyph-spinner>
		</div>
	</mat-tab>
</mat-tab-group>

<ng-template #defaultFileSpinner>
	<ng-container
		*ngIf="(accountFilesService.showSpinner() | await) !== undefined"
	>
		<cyph-spinner
			mode="indeterminate"
			*ngIf="
				((accountFilesService.showSpinner() | await) || 0) < 1;
				else determinateFileSpinner
			"
		></cyph-spinner>
		<ng-template #determinateFileSpinner>
			<cyph-spinner
				mode="determinate"
				[value]="(accountFilesService.showSpinner() | await) || 1"
			></cyph-spinner>
		</ng-template>
	</ng-container>
</ng-template>

<smd-fab-speed-dial
	class="fixed-fab"
	animationMode="scale"
	[open]="(isSpeedDialOpen | await) === true"
	(mouseleave)="isSpeedDialOpen.next(false)"
>
	<smd-fab-trigger
		[spin]="true"
		(mouseenter)="
			envService.isMobileOS ? undefined : isSpeedDialOpen.next(true)
		"
	>
		<button
			mat-fab
			color="primary"
			[matTooltip]="stringsService.newPGPKeyGenerate"
			matTooltipPosition="left"
			(click)="
				isSpeedDialOpen.value ?
					generate(newPGPKeyOptions.generate) :
					undefined;
				isSpeedDialOpen.next(!isSpeedDialOpen.value);
				$event.stopPropagation()
			"
		>
			<mat-icon *ngIf="(isSpeedDialOpen | await) === false">
				add
			</mat-icon>
			<mat-icon
				svgIcon="key-add-light"
				*ngIf="isSpeedDialOpen | await"
			></mat-icon>
		</button>
	</smd-fab-trigger>
	<smd-fab-actions>
		<button
			mat-mini-fab
			cyphTranslate
			[matTooltip]="stringsService.newPGPKeyImportPrivateKey"
			matTooltipPosition="left"
			(click)="generate(newPGPKeyOptions.importPrivateKey)"
		>
			<mat-icon svgIcon="key-upload"></mat-icon>
		</button>
		<button
			mat-mini-fab
			cyphTranslate
			[matTooltip]="stringsService.newPGPKeyImportPublicKey"
			matTooltipPosition="left"
			(click)="generate(newPGPKeyOptions.importPublicKey)"
		>
			<mat-icon>remove_red_eye</mat-icon>
		</button>
	</smd-fab-actions>
</smd-fab-speed-dial>
