<cyph-account-base-file-list [recordType]="recordType">
	<smd-fab-speed-dial
		class="fixed-fab"
		animationMode="scale"
		[open]="(isSpeedDialOpen | await) === true"
		(mouseleave)="isSpeedDialOpen.next(false)"
	>
		<smd-fab-trigger
			[spin]="true"
			(mouseenter)="isSpeedDialOpen.next(true)"
		>
			<button
				mat-fab
				color="primary"
				[matTooltip]="stringsService.newPGPKeyGenerate"
				matTooltipPosition="left"
				(click)="generate(newPGPKeyOptions.generate)"
			>
				<mat-icon *ngIf="(isSpeedDialOpen | await) === false">
					add
				</mat-icon>
				<mat-icon
					svgIcon="key-add-light"
					*ngIf="isSpeedDialOpen | await"
				></mat-icon>
			</button>
		</smd-fab-trigger>
		<smd-fab-actions>
			<button
				mat-mini-fab
				cyphTranslate
				[matTooltip]="stringsService.newPGPKeyImportPrivateKey"
				matTooltipPosition="left"
				(click)="generate(newPGPKeyOptions.importPrivateKey)"
			>
				<mat-icon svgIcon="key-upload"></mat-icon>
			</button>
			<button
				mat-mini-fab
				cyphTranslate
				[matTooltip]="stringsService.newPGPKeyImportPublicKey"
				matTooltipPosition="left"
				(click)="generate(newPGPKeyOptions.importPublicKey)"
			>
				<mat-icon>remove_red_eye</mat-icon>
			</button>
		</smd-fab-actions>
	</smd-fab-speed-dial>
</cyph-account-base-file-list>
