<h3
	class="cyph-banner alert"
	cyphTranslate
	*ngIf="
		(accountSettingsService.staticFeatureFlags.pgp | await) &&
		(cryptocurrencyService.blockchainFetchError | await)
	"
>
	We're having trouble connecting to the blockchain right now. Locally cached
	data will be displayed below on a best-effort basis, but may be out of date
	or show an incorrect zero balance.
</h3>

<div
	fxFlexFill
	[class.initiating]="(accountFilesService.showSpinner | await) !== undefined"
	*ngIf="accountSettingsService.staticFeatureFlags.pgp | await"
>
	<div
		class="no-pgp"
		fxLayout="column"
		fxLayoutAlign="center center"
		*ngIf="
			((accountFilesService.filesListFiltered.pgp | await)?.length || 0) <
				1;
			else pgp
		"
	>
		<h1>{{ stringsService.noPGP }}</h1>
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
			<button
				mat-raised-button
				color="accent"
				[attr.aria-label]="stringsService.newPGPKeyGenerate"
				(click)="generate(newPGPKeyOptions.generate)"
			>
				<mat-icon svgIcon="key-add-color"></mat-icon>
				&nbsp;
				<span>{{ stringsService.newPGPKeyGenerate }}</span>
			</button>
			<button
				mat-raised-button
				color="accent"
				cyphTranslate
				[attr.aria-label]="stringsService.newPGPKeyImportKey"
				(click)="generate(newPGPKeyOptions.importPrivateKey)"
			>
				<mat-icon svgIcon="key-upload-color"></mat-icon>
				&nbsp;
				<span>{{ stringsService.newPGPKeyImportKey }}</span>
			</button>
			<button
				mat-raised-button
				color="accent"
				cyphTranslate
				[attr.aria-label]="stringsService.newPGPKeyImportAddress"
				(click)="generate(newPGPKeyOptions.importPublicKey)"
			>
				<mat-icon>remove_red_eye</mat-icon>
				&nbsp;
				<span>{{ stringsService.newPGPKeyImportAddress }}</span>
			</button>
		</div>
	</div>

	<ng-template #pgp>
		<mat-tab-group ngClass.lt-md="lt-md">
			<mat-tab
				*ngFor="
					let pgpKey of accountFilesService.filesListFilteredWithData.pgp()
						| await
						| cyphArray;
					trackBy: trackBySelf;
					let i = index
				"
				[attr.data-index]="i"
				[label]="pgpKey.record.name"
				[ngClass]="'_' + i"
			>
				<div
					[class.initiating]="
						!(
							cryptocurrencyService.watchTransactionHistory(
								pgpKey.data
							) | await
						)
					"
				>
					<mat-card fxLayout="column">
						<mat-chip-list ngClass.lt-md="lt-md">
							<mat-chip
								class="mat-raised"
								*ngIf="
									pgpKey.data.cryptocurrency ===
									cryptocurrencies.BTC
								"
							>
								<mat-icon svgIcon="bitcoin"></mat-icon>
								&nbsp;
								<span cyphTranslate>Bitcoin</span>
							</mat-chip>
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Edit"
								(click)="setEditMode(pgpKey.record)"
								*ngIf="(editMode | await) === false"
							>
								<mat-icon>edit</mat-icon>
							</button>
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Save"
								(click)="saveEdits()"
								*ngIf="editMode | await"
							>
								<mat-icon>save</mat-icon>
							</button>
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Export"
								(click)="
									cryptocurrencyService.exportPGPKey(
										pgpKey.data
									)
								"
								*ngIf="!pgpKey.data.address"
							>
								<mat-icon>cloud_download</mat-icon>
							</button>
							<button
								mat-icon-button
								[disabled]="
									cryptocurrencyService.blockchainFetchError
										| await
								"
								[matTooltip]="stringsService.bitcoinSendTitle"
								(click)="send(pgpKey.data)"
								*ngIf="!pgpKey.data.address"
							>
								<mat-icon>send</mat-icon>
							</button>
						</mat-chip-list>

						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-form-field
								fxFlex="66"
								class="title"
								[class.edit]="editMode | await"
							>
								<input
									matInput
									[ngModel]="
										(draft | await)?.name ||
										pgpKey.record.name
									"
									(ngModelChange)="
										updateDraft({name: $event})
									"
									[disabled]="(editMode | await) === false"
								/>
							</mat-form-field>
						</div>

						<div
							fxLayout="row"
							fxLayout.lt-md="column"
							fxLayoutAlign="center center"
							fxLayoutGap="10%"
						>
							<div fxLayout="column">
								<h3>
									<span cyphTranslate>PGPKey Address</span>:
									&ngsp;
									<span>
										{{
											cryptocurrencyService.getAddress(
												pgpKey.data
											) | await
										}}
									</span>
								</h3>

								<h3>
									<span cyphTranslate>Current Balance</span>:
									&ngsp;
									<span>{{
										(cryptocurrencyService.watchBalance(
											pgpKey.data
										) | await) || 0
									}}</span>
									&ngsp;
									<span>{{
										cryptocurrencies[
											pgpKey.data.cryptocurrency
										]
									}}</span>
									&ngsp; | &ngsp;
									<span>
										~${{
											numberToString(
												(cryptocurrencyService.watchConversion(
													(cryptocurrencyService.watchBalance(
														pgpKey.data
													) | await) || 0,
													{
														cryptocurrency:
															cryptocurrencies.BTC
													},
													{currency: currencies.USD}
												) | await) || 0
											)
										}}
									</span>
									&ngsp;
									<span>USD</span>
								</h3>
							</div>
							<img
								cyphTranslate
								alt="QR Code"
								[src]="qrSrc"
								*ngIf="
									(qrService.getQRCode({
										dotScale: 0.75,
										size: 250,
										text:
											'bitcoin:' +
											(cryptocurrencyService.getAddress(
												pgpKey.data
											) | await)
									}) | await) || '' as qrSrc
								"
							/>
						</div>

						<h2 class="centered">
							{{ stringsService.transactionHistory }}
						</h2>

						<mat-table
							[dataSource]="
								cryptocurrencyService.watchTransactionHistory(
									pgpKey.data
								)
							"
						>
							<ng-container matColumnDef="amount">
								<mat-header-cell
									fxFlex="10"
									*matHeaderCellDef
									cyphTranslate
								>
									Amount
								</mat-header-cell>
								<mat-cell
									fxFlex="10"
									*matCellDef="let transaction"
								>
									{{ transaction.amount }}
									{{
										cryptocurrencies[
											pgpKey.data.cryptocurrency
										]
									}}
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="senders">
								<mat-header-cell
									*matHeaderCellDef
									cyphTranslate
								>
									Senders
								</mat-header-cell>
								<mat-cell *matCellDef="let transaction">
									{{ transaction.senders.join('\n') }}
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="wasSentByMe">
								<mat-header-cell
									fxFlex="48px"
									*matHeaderCellDef
								></mat-header-cell>
								<mat-cell
									fxFlex="48px"
									*matCellDef="let transaction"
								>
									<span
										[class.outgoing]="
											transaction.wasSentByMe
										"
										[class.incoming]="
											!transaction.wasSentByMe
										"
										[matTooltip]="
											transaction.wasSentByMe ?
												stringsService.outgoing :
												stringsService.incoming
										"
									>
										<mat-icon>arrow_forward</mat-icon>
									</span>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="recipients">
								<mat-header-cell
									*matHeaderCellDef
									cyphTranslate
								>
									Recipients
								</mat-header-cell>
								<mat-cell *matCellDef="let transaction">
									{{ transaction.recipients.join('\n') }}
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="timestamp">
								<mat-header-cell
									fxFlex="20"
									*matHeaderCellDef
									cyphTranslate
								>
									Date
								</mat-header-cell>
								<mat-cell
									fxFlex="20"
									*matCellDef="let transaction"
								>
									{{
										getDateTimeString(transaction.timestamp)
									}}
								</mat-cell>
							</ng-container>

							<mat-header-row
								*matHeaderRowDef="transactionListColumns"
							></mat-header-row>
							<mat-row
								*matRowDef="
									let row;
									columns: transactionListColumns
								"
							></mat-row>
						</mat-table>

						<h3
							class="centered"
							*ngIf="
								((
									cryptocurrencyService.watchTransactionHistory(
										pgpKey.data
									) | await
								)?.length || 0) < 1
							"
						>
							{{ stringsService.noTransactions }}
						</h3>
					</mat-card>

					<mat-progress-spinner
						mode="indeterminate"
						*ngIf="
							!(
								cryptocurrencyService.watchTransactionHistory(
									pgpKey.data
								) | await
							)
						"
					></mat-progress-spinner>
				</div>
			</mat-tab>
		</mat-tab-group>
	</ng-template>

	<ng-container
		*ngIf="(accountFilesService.showSpinner | await) !== undefined"
	>
		<mat-progress-spinner
			mode="indeterminate"
			*ngIf="
				((accountFilesService.showSpinner | await) || 0) < 1;
				else determinateFileSpinner
			"
		></mat-progress-spinner>
		<ng-template #determinateFileSpinner>
			<mat-progress-spinner
				mode="determinate"
				[value]="(accountFilesService.showSpinner | await) || 1"
			></mat-progress-spinner>
		</ng-template>
	</ng-container>

	<smd-fab-speed-dial
		class="fixed-fab"
		animationMode="scale"
		[open]="(isSpeedDialOpen | await) === true"
		(mouseleave)="isSpeedDialOpen.next(false)"
	>
		<smd-fab-trigger
			[spin]="true"
			(mouseenter)="isSpeedDialOpen.next(true)"
		>
			<button
				mat-fab
				color="primary"
				[matTooltip]="stringsService.newPGPKeyGenerate"
				matTooltipPosition="left"
				(click)="generate(newPGPKeyOptions.generate)"
			>
				<mat-icon *ngIf="(isSpeedDialOpen | await) === false"
					>add</mat-icon
				>
				<mat-icon
					svgIcon="key-add-light"
					*ngIf="isSpeedDialOpen | await"
				></mat-icon>
			</button>
		</smd-fab-trigger>
		<smd-fab-actions>
			<button
				mat-mini-fab
				cyphTranslate
				[matTooltip]="stringsService.newPGPKeyImportKey"
				matTooltipPosition="left"
				(click)="generate(newPGPKeyOptions.importPrivateKey)"
			>
				<mat-icon svgIcon="key-upload"></mat-icon>
			</button>
			<button
				mat-mini-fab
				cyphTranslate
				[matTooltip]="stringsService.newPGPKeyImportAddress"
				matTooltipPosition="left"
				(click)="generate(newPGPKeyOptions.importPublicKey)"
			>
				<mat-icon>remove_red_eye</mat-icon>
			</button>
		</smd-fab-actions>
	</smd-fab-speed-dial>
</div>
