<cyph-account-base-file-list
	[anonymousMessages]="anonymousMessages | async"
	[filterFunction]="filterFunction | async"
	[recordType]="recordType | async"
	*ngIf="(realTime | async) === false || (accountService.enableDocs | async)"
>
	<button
		mat-fab
		color="primary"
		[matTooltip]="
			(realTime | async) ? stringsService.newDoc : stringsService.newNote
		"
		matTooltipPosition="above"
		routerLink="new"
		class="fixed-fab"
		*ngIf="(anonymousMessages | async) !== true"
	>
		<mat-icon>note_add</mat-icon>
	</button>
</cyph-account-base-file-list>
