@import url(fonts.css);
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important; }

html, body, #main {
  max-width: 100% !important;
  max-height: 100% !important;
  overflow: hidden; }

html, body, #main, md-sidenav {
  background-color: #8b62d9 !important; }

#main, .md-button-inner {
  color: #f1f1f1 !important; }

md-sidenav md-button {
  width: 100%; }
  md-sidenav md-button * {
    text-align: left; }

#footer {
  margin-top: 10px;
  position: relative;
  text-align: center;
  font-size: 15px;
  padding: 15px 0px 5px 0px; }

md-toolbar {
  background-color: #7d4fd3;
  height: 40px !important;
  min-height: 40px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75); }
  md-toolbar img {
    height: 25px !important;
    vertical-align: middle; }

#mobile-toolbar {
  position: fixed;
  top: 0px; }

html.mobile #main {
  padding-top: 40px; }

btf-markdown > :first-child, [btf-markdown] > :first-child {
  display: inline; }
btf-markdown > :not(:first-child), [btf-markdown] > :not(:first-child) {
  margin: 0px; }

html:not(.mobile) btf-markdown > :not(:first-child), html:not(.mobile) [btf-markdown] > :not(:first-child) {
  margin-left: 25px; }

blockquote {
  border-left: 2px solid !important;
  padding-left: 10px;
  display: block; }

:not(textarea):not(md-text-float):not(md-input-group):not(input) {
  border: 0px !important; }

a {
  color: inherit; }

textarea {
  background-color: #f1f1f1; }

#main.curtain {
  height: 10%;
  -webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  -webkit-transition: -webkit-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  transition: transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1); }

#main:not(.curtain) {
  -webkit-transition: -webkit-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1);
  transition: transform 2s cubic-bezier(1, 0, 0, 1), height 2s cubic-bezier(1, 0, 0, 1); }

#main {
  position: relative;
  z-index: 2; }

[ng-view]:not(.active) {
  opacity: 0;
  pointer-events: none;
  position: fixed; }

[ng-view].active {
  -webkit-transition: opacity 0.75s linear;
  -moz-transition: opacity 0.75s linear;
  transition: opacity 0.75s linear; }

/* nanoScroller styling */
.nano .nano-pane {
  background-color: transparent; }

/* Mobile and desktop classes */
html:not(.mobile) .mobile-only {
  display: none !important; }
html:not(.mobile) * {
  outline: none !important; }

html.mobile .desktop-only {
  display: none !important; }

/* Lightbox */
.mfp-wrap, .mfp-wrap * {
  overflow: hidden !important; }

.mfp-figure figure {
  box-shadow: 0px 0px 15px black; }
  .mfp-figure figure img {
    max-height: 80vh !important;
    padding: 0px !important; }

.mfp-figure:after {
  background: none !important;
  box-shadow: none !important; }

html.mobile .mfp-content {
  pointer-events: none !important; }

/* Why is this line missing from Angular Material's bower package? */
md-backdrop {
  background-color: rgba(0, 0, 0, 0.3); }

md-sidenav {
  z-index: 7; }

/*# sourceMappingURL=cyph.base.css.map */
