<div fxFlexFill fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="16px">
	<div></div>
	<cyph-footer class="visibility-hidden"></cyph-footer>
	<div fxFlex></div>

	<div fxLayout="column" fxLayoutGap="16px">
		<h2 class="text-center">{{ warrantCanaryDate }}</h2>
		<p cyphTranslate>
			As of the above date, we certify to the best of our knowledge that:
		</p>
		<ul fxLayout="column" fxLayoutGap="16px">
			<li cyphTranslate>
				No warrants requesting a backdoor in Cyph, access to Cyph user
				or customer data, or anything which could be construed as having
				a similar nature to the aforementioned items have ever been
				served to Cyph, Inc., its principals, or its employees.
			</li>
			<li cyphTranslate>
				No property or assets of any relevance to Cyph have been seized
				from Cyph, Inc., its principals, or its employees.
			</li>
			<li cyphTranslate>
				No property or assets of any relevance to Cyph that belong to
				Cyph, Inc., its principals, or its employees have been searched
				or tampered with.
			</li>
		</ul>
		<p>
			<span cyphTranslate>
				The revision history of this page is available
			</span>
			&ngsp;
			<a
				cyphTranslate
				href="https://github.com/cyph/cyph/commits/master/shared/js/cyph/components/warrant-canary"
				>here</a
			>.
		</p>
		<p cyphTranslate>
			This page has an up-to-date digital signature attached to it by
			virtue of its inclusion within the Cyph application.
		</p>
	</div>

	<div fxFlex></div>
	<cyph-footer></cyph-footer>
	<div></div>
</div>
