<span
	[class.curtain]="cyphertextService.isVisible | await"
	[class.initiating]="
		(appService.chatRootState | await) === chatRootStates.chat &&
		chat?.state === chatStates.chat &&
		(chatService.uiReady | await) !== true
	"
	[cyphDropZone]="
		false &&
		((appService.chatRootState | await) === chatRootStates.chat &&
			chat?.state === chatStates.chat &&
			(chatService.uiReady | await) === true)
	"
	[cyphDropZoneClass]="false"
	(fileDrop)="fileTransferService.send($event)"
	*ngIf="chatService.chatSubject | await as chat"
>
	<section fxFlexFill fxLayout="column" id="main" class="cyph-foreground">
		<canvas
			[fxShow]="envService.showGranim"
			id="main-chat-gradient"
		></canvas>

		<h3
			class="cyph-banner emphasis warn"
			*ngIf="
				(appService.chatRootState | await) !== chatRootStates.chat &&
				(envService.webSignError | await)
			"
		>
			<span cyphTranslate>WARNING: Your</span>
			&ngsp;
			<span>{{ stringsService.product }}</span>
			&ngsp;
			<span cyphTranslate>instance has a problem. See</span>
			&ngsp;
			<a [href]="envService.homeUrl + 'websignerror'" cyphTranslate
				>here</a
			>
			&ngsp;
			<span cyphTranslate>for more details and the solution.</span>
		</h3>

		<h3
			class="cyph-banner alert"
			*ngIf="
				!envService.inAppPurchasesSupported &&
				(salesService.upsellBanner | await)
			"
		>
			<div fxFlex fxLayout="row">
				<div fxLayoutAlign="center center" class="visibility-hidden">
					<button
						mat-icon-button
						cyphTranslate
						matTooltip="Close"
						class="close"
					>
						<mat-icon>close</mat-icon>
					</button>
				</div>
				<div fxFlex fxLayoutAlign="center center">
					<div>
						<span cyphTranslate>
							For a ton of extra features,
						</span>
						&ngsp;
						<a
							cyphTranslate
							(click)="
								salesService.openPricing(
									envService.homeUrl + 'pricing',
									undefined,
									undefined
								)
							"
							>sign up for your account now</a
						>!
					</div>
				</div>
				<div fxLayoutAlign="center center">
					<button
						mat-icon-button
						cyphTranslate
						matTooltip="Close"
						class="close"
						(click)="salesService.dismissUpsellBanner()"
					>
						<mat-icon>close</mat-icon>
					</button>
				</div>
			</div>
		</h3>

		<h3 class="cyph-banner emphasis warn" *ngIf="envService.isOnion">
			<span cyphTranslate>
				We're currently experiencing issues with Burner chats over Tor.
				We will investigate this as soon as possible, and in the
				meantime apologies for the inconvenience!
			</span>
		</h3>

		<cyph-chat-main
			fxFlex
			fxFlexFill
			fxLayout="column"
			[hideDisconnectMessage]="envService.coBranded"
			[messageCountInTitle]="true"
			*ngIf="(appService.chatRootState | await) === chatRootStates.chat"
			[@fadeIn]="'in'"
		>
			<cyph-contact
				to="feedback"
				*ngIf="
					splitTestingService.getValue('chatendmessage');
					else signupForm
				"
			></cyph-contact>
			<ng-template #signupForm>
				<cyph-signup-form></cyph-signup-form>
			</ng-template>
		</cyph-chat-main>

		<ng-template #ad>
			<!-- TODO: Fix issues on small screens and reenable -->
			<ng-container *ngIf="false && envService.isMobileOS">
				<ng-container *ngIf="!envService.isIOS">
					<a
						class="affiliate"
						[href]="affiliateService.bannerAdAndroid.href"
						[matTooltip]="stringsService.affTooltip"
					>
						<img
							[alt]="stringsService.affAlt"
							[src]="affiliateService.bannerAdAndroid.img"
						/>
					</a>
				</ng-container>
				<ng-container *ngIf="envService.isIOS">
					<a
						class="affiliate"
						[href]="affiliateService.bannerAdIOS.href"
						[matTooltip]="stringsService.affTooltip"
					>
						<img
							[alt]="stringsService.affAlt"
							[src]="affiliateService.bannerAdIOS.img"
						/>
					</a>
				</ng-container>
			</ng-container>
			<ng-container
				*ngIf="!envService.isMobileOS && !envService.isCordova"
			>
				<a
					class="affiliate"
					[href]="affiliateService.bannerAd.href"
					[matTooltip]="stringsService.affTooltip"
				>
					<img
						[alt]="stringsService.affAlt"
						[src]="affiliateService.bannerAd.img"
					/>
				</a>
			</ng-container>
		</ng-template>

		<cyph-link-connection
			fxFlex
			fxFlexFill
			fxLayout="column"
			*ngIf="
				(appService.chatRootState | await) ===
				chatRootStates.waitingForFriend
			"
			[@fadeIn]="'in'"
		>
			<ng-container *ngIf="!envService.showAds; else ad"></ng-container>
		</cyph-link-connection>

		<cyph-not-found
			fxFlex
			fxFlexFill
			fxLayout="column"
			*ngIf="(appService.chatRootState | await) === chatRootStates.error"
			[@fadeIn]="'in'"
		></cyph-not-found>

		<div
			fxFlex
			fxFlexFill
			fxLayout="column"
			id="blank"
			*ngIf="(appService.chatRootState | await) === chatRootStates.blank"
		></div>

		<footer
			*ngIf="
				(appService.chatRootState | await) !== chatRootStates.chat ||
				(p2pService.isActiveOrInitialCall | await) === false
			"
		>
			<div>
				<cyph-chat-message-box
					[style.visibility]="
						(chatService.initiated | await) ? undefined : 'hidden'
					"
					*ngIf="
						(appService.chatRootState | await) ===
							chatRootStates.chat &&
						(chatService.chatSelfDestruct | await) === false
					"
				></cyph-chat-message-box>

				<cyph-footer
					*ngIf="(envService.isMobile | await) === false"
				></cyph-footer>
			</div>
		</footer>
	</section>

	<cyph-chat-cyphertext></cyph-chat-cyphertext>

	<mat-progress-spinner
		mode="indeterminate"
		*ngIf="
			(appService.chatRootState | await) === chatRootStates.chat &&
			chat?.state === chatStates.chat &&
			(chatService.uiReady | await) !== true
		"
	></mat-progress-spinner>
</span>
