<div fxLayout='column' fxLayoutGap='32px'>
	<mat-card>
		<mat-card-title>
			<span *ngIf='!invite' cyphTranslate>
				Register
			</span>
			<span *ngIf='invite' cyphTranslate>
				Register with Invite Code
			</span>
		</mat-card-title>
		<mat-card-subtitle>
			<div *ngIf='signupService.state === 1'>
				<span *ngIf='!invite' cyphTranslate>
					Enter your email address.
				</span>
				<span *ngIf='invite' cyphTranslate>
					Enter your email address and invite code for priority access
					on our waitlist.
				</span>
			</div>
			<div *ngIf='signupService.state === 2' cyphTranslate>
				Thanks for signing up. Feel free to give us your name too.
				Privacy is at the core of our ideology, so we'll never give
				away your email address or personal details.
			</div>
		</mat-card-subtitle>
		<mat-card-content>
			<cyph-signup-form [invite]='invite'></cyph-signup-form>
		</mat-card-content>
	</mat-card>

	<div>
		<div fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='8px'>
			<div>
				<strong>
					<span cyphTranslate>Already have a</span>
					&ngsp;
					<span>{{stringsService.product}}</span>
					&ngsp;
					<span cyphTranslate>account?</span>
				</strong>
			</div>
			<div>
				<a
					mat-button
					[href]='envService.newCyphBaseUrl + "#login"'
					cyphTranslate
				>
					Click here to login
				</a>
			</div>
		</div>
	</div>
</div>
