<div
	fxFlexFill
	[class.initiating]='accountFilesService.showSpinner'
>
	<mat-tab-group>
		<mat-tab
			class='wallet'
			*ngFor='
				let wallet of accountFilesService.filesListFilteredWithData.wallets() | async;
				trackBy: trackByID;
				let i = index;
			'
			[attr.data-index]='i'
			[class.bounceInRight]='!accountFilesService.initiated'
			[label]='wallet.record.name'
			[ngClass]='"_" + i'
		>
			<mat-card fxLayout='column'>
				<mat-chip-list>
					<mat-chip
						class='mat-raised'
						*ngIf='wallet.data.cryptocurrency === cryptocurrencies.BTC'
					>
						<mat-icon svgIcon='bitcoin'></mat-icon>
						&ngsp;
						<span cyphTranslate>Bitcoin</span>
					</mat-chip>
					<button mat-icon-button cyphTranslate matTooltip='Settings'>
						<mat-icon>settings</mat-icon>
					</button>
				</mat-chip-list>

				<div fxLayout='row' fxLayoutAlign='center center'>
					<h2>{{wallet.record.name}}</h2>
				</div>

				<h3>
					<span cyphTranslate>Wallet Address</span>:
					&ngsp;
					<span>{{cryptocurrencyService.getAddress(wallet.data) | async}}</span>
				</h3>

				<h3>
					<span cyphTranslate>Current Balance</span>:
					&ngsp;
					<span>{{cryptocurrencyService.watchBalance(wallet.data) | async}}</span>
				</h3>
			</mat-card>
		</mat-tab>
	</mat-tab-group>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='accountFilesService.showSpinner'
	></mat-progress-spinner>

	<button
		mat-fab
		matTooltip='New Wallet'
		matTooltipPosition='above'
		class='fixed-fab'
		(click)='generate()'
	>
		<mat-icon>add</mat-icon>
	</button>
</div>
