@import '../../../../css/mixins';

$header-size: 135px;

mat-card {
	.centered {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

mat-tab-body {
	max-height: 100vh !important;
}

mat-tab-group {
	&:not(.lt-md) {
		margin-left: 5%;
		margin-right: 5%;
	}

	font-family: Roboto;

	mat-chip-list {
		&:not(.lt-md) {
			position: absolute;
			right: 25px;
		}

		button {
			width: 42px;
			bottom: 7px;
			left: 7px;
		}

		&.lt-md {
			mat-chip {
				margin-left: auto;
				margin-right: auto;
				position: relative;
				left: 21px;
			}
		}

		mat-chip {
			font-weight: 400;

			&:not(.settings) {
				&.BTC {
					background-color: #ff9900;
				}

				&.BCH {
					background-color: #5dcb78;
				}
			}

			box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25),
				0 3px 4px 0 rgba(0, 0, 0, 0.19), 0 1px 8px 0 rgba(0, 0, 0, 0.18);
			outline: 0;

			mat-icon:not(.settings) {
				margin-right: 7px;

				::ng-deep svg {
					color: white;
				}
			}
		}
	}
}

.cyph-banner.alert {
	margin-bottom: 10px;
}
body:not(.mobile) :host .cyph-banner.alert {
	margin-top: -10px;
}

.fixed-fab,
button ::ng-deep .mat-button-wrapper {
	mat-icon svg * {
		@include transform(scale(0.85));
	}
}

.no-wallets {
	height: calc(98vh - 100px);
}

.incoming {
	color: map-get($mat-green, 700);
}

.outgoing {
	color: map-get($mat-red, 700);
}

.title {
	&:not(.edit) {
		::ng-deep .mat-form-field-underline {
			display: none !important;
		}
	}

	input {
		font-size: 24px;
		text-align: center;
		color: #fff !important;
	}
}
