@import 'theme';

.login-form {
	md-progress-spinner {
		display: none;
		position: absolute;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
	}

	.cyph-banner {
		color: map-get($cyph-warn, default);
		margin: 20px;
	}

	&.checking {
		md-progress-spinner {
			display: block;
		}

		md-card > :not(md-progress-spinner) {
			opacity: 0.15;
		}
	}
}
