<dx-file-manager
	#fileManager
	[class.revoke-download-link-disabled]="
		(currentSelection | await)?.length !== 1 ||
		(currentSelection | await)?.[0]?.isDirectory === true ||
		(checkIfLinkShared(
			(currentSelection | await)?.[0]?.dataItem?.id || ''
		) | await) !== true
	"
	[class.share-download-link-disabled]="
		(currentSelection | await)?.length !== 1 ||
		(currentSelection | await)?.[0]?.isDirectory === true
	"
	[fileSystemProvider]="customProvider"
	(onCurrentDirectoryChanged)="onCurrentDirectoryChanged($event)"
	(onSelectedFileOpened)="onSelectedFileOpened($event)"
	(onSelectionChanged)="onSelectionChanged($event)"
>
	<dxo-permissions
		[copy]="true"
		[create]="true"
		[delete]="true"
		[download]="true"
		[move]="true"
		[rename]="true"
		[upload]="true"
	></dxo-permissions>
	<dxo-toolbar>
		<dxi-item name="create"></dxi-item>
		<dxi-file-selection-item name="download"></dxi-file-selection-item>
		<dxi-file-selection-item
			location="before"
			widget="dxButton"
			[options]="{
				icon: 'share',
				onClick: shareFileClick,
				text: stringsService.share
			}"
		></dxi-file-selection-item>
		<dxi-file-selection-item
			location="before"
			widget="dxButton"
			[options]="{
				elementAttr: {class: 'share-download-link'},
				icon: 'link',
				onClick: shareDownloadLinkClick,
				text: stringsService.shareDownloadLink
			}"
		></dxi-file-selection-item>
		<dxi-file-selection-item
			location="before"
			widget="dxButton"
			[options]="{
				elementAttr: {class: 'revoke-download-link'},
				icon: 'link_off',
				onClick: revokeDownloadLinkClick,
				text: stringsService.shareDownloadLinkRevoke
			}"
		></dxi-file-selection-item>
	</dxo-toolbar>
</dx-file-manager>
