@import '../../../../css/mixins';

:host:empty {
	display: none;
}

.contact {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	transition: filter 0s ease;

	button {
		transition: transform 0s ease;
	}

	&.non-clickable {
		&,
		.router-link {
			cursor: initial !important;
		}
	}

	&.button-card,
	&.group {
		.mat-card-avatar {
			height: 24px;
			width: 24px;
		}

		&:not(.mobile) {
			.mat-card-avatar {
				margin: 13px;
			}
		}

		&.mobile {
			.mat-card-avatar {
				margin: 14px;
			}
		}
	}

	&.button-card {
		cursor: pointer;

		&:not(.mobile) {
			.mat-card-title {
				margin-left: 15px;
				margin-top: 12px;
				font-size: 1.1em !important;
			}
		}

		&.mobile {
			.mat-card-title {
				margin-left: 14px;
				margin-top: 16px;
				font-size: 1.2em !important;
			}
		}
	}

	&.group {
		.mat-card-avatar {
			margin-right: 28px !important;
		}

		mat-card-subtitle,
		mat-card-title {
			margin-right: -17px;
		}
	}

	&.telehealth {
		.avatar {
			width: 4.5em;
			height: 4.5em;
			margin: -1em 0;
		}

		mat-card-title {
			font-size: 20px !important;
			margin: 0 0 7px 0;
		}

		mat-card-subtitle {
			font-size: 14px;
			top: -10px;
			position: relative;
			margin: 0;

			mat-icon {
				font-size: 21px;
				top: 3.5px;
				margin-right: -4px;
				position: relative;
			}
		}

		cyph-account-user-rating {
			margin-left: auto;
			margin-bottom: 13px;
			text-align: center;
		}
	}
}

.avatar {
	&.Online {
		animation-name: pulse;
	}

	&.Away {
		animation-name: bounce;
	}

	&.Busy {
		animation-name: pulse;
	}

	&.Offline {
		animation-name: bounce;
	}
}

.inner-circle-indicator {
	position: absolute;
	top: -8px;
	right: -16px;
	color: map-get($mat-yellow, 600);
}

.contact.mobile .inner-circle-indicator {
	top: -12px;
	right: -12px;
}

.burner-menu-positioning-fix {
	margin-left: -24px;
	margin-right: -24px;
}

.pending,
.anonymous-user {
	button {
		width: 50px;
		height: 50px;
	}

	mat-card-title {
		font-size: 1.2em !important;
		margin-top: calc(1em - 2px);
		margin-left: 15px;
	}
}
