<div
	fxFlexFill
	fxLayout="row"
	fxLayout.xs="column"
	[class.mobile]="envService.isMobile | async"
	[class.transition]="accountService.transition | async"
>
	<div
		*ngIf="accountService.interstitial | async"
		class="interstitial animated fadeIn"
	>
		<div class="loading">
			<div class="logo-animation">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<canvas
		[fxShow]="envService.showGranim"
		class="cyph-gradient animated fadeIn"
	></canvas>

	<cyph-account-menu
		[fxFlex]="accountService.menuMaxWidth | async"
		fxHide.lt-md
		fxLayout="column"
		class="sidebar animated slideInLeft _0"
		*ngIf="menuVisible | async"
	>
		<button
			mat-icon-button
			cyphTranslate
			aria-label="Context Menu"
			[matMenuTriggerFor]="contextMenu"
		>
			<mat-icon>more_vert</mat-icon>
		</button>
	</cyph-account-menu>

	<div class="content" fxFlex fxFlexFill fxLayout="column" fxLayout.xs="row">
		<mat-sidenav-container
			fxFlexFill
			(backdropClick)="accountService.toggleMobileMenu(false)"
		>
			<mat-sidenav
				#sidenav
				ngClass.gt-sm="disabled"
				position="start"
				[opened]="accountService.mobileMenuOpen | async"
			>
				<cyph-account-menu [sidenav]="true"></cyph-account-menu>
			</mat-sidenav>

			<div fxFlexFill fxLayout="column">
				<div
					fxLayout="row"
					class="header slideInDown"
					[class.animated]="(envService.isMobile | async) === false"
					[class.fadeOutUp]="accountService.transition | async"
					fxLayoutAlign="stretch center"
					fxLayoutGap="8px"
					*ngIf="
						(accountService.header | async)?.header !== undefined &&
						(accountService.isCallActive | async) === false &&
						!(
							(envService.isMobile | async) &&
							(accountService.header | async)?.header?.desktop !==
								undefined &&
							(accountService.header | async)?.header?.mobile ===
								undefined
						) &&
						!(
							(envService.isMobile | async) === false &&
							(accountService.header | async)?.header?.desktop ===
								undefined &&
							(accountService.header | async)?.header?.mobile !==
								undefined
						)
					"
				>
					<div></div>

					<button
						mat-icon-button
						cyphTranslate
						class="logo-icon"
						aria-label="Menu"
						(click)="accountService.toggleMobileMenu()"
						fxHide.gt-sm
						*ngIf="
							(accountDatabaseService.currentUser | async) !==
								undefined &&
							(accountDatabaseService.currentUser | async)
								?.pseudoAccount === false
						"
					>
						<mat-icon
							[matBadge]="
								(
									((accountService.unreadMessages | async) ||
										0) +
									((accountFilesService.incomingFiles | async)
										?.length || 0)
								).toString()
							"
							[matBadgeHidden]="
								!(
									((accountService.unreadMessages | async) ||
										0) +
										((
											accountFilesService.incomingFiles
											| async
										)?.length || 0) >
									0
								)
							"
							matBadgePosition="above after"
						>
							menu
						</mat-icon>
					</button>

					<div></div>
					<div></div>
					<div></div>

					<div class="header-content" fxFlex fxLayout="row">
						<ng-container
							*ngIf="
								(accountService.header | async)
									?.header as header;
								else emptyHeader
							"
						>
							<a
								fxFlex
								class="profile-link"
								[routerLink]="'/profile/' + header.username"
								*ngIf="!!header.avatar; else stringHeader"
							>
								<div
									fxFlex
									fxLayout="row"
									fxLayoutAlign="start center"
									fxLayoutGap="16px"
								>
									<img
										cyphTranslate
										class="avatar"
										[ngClass]="
											userPresence[
												(header.status | async) || 0
											]
										"
										alt="Profile Picture"
										[src]="header.avatar | async"
									/>

									<h1
										*ngIf="
											header.name | async as name;
											else usernameHeader
										"
									>
										{{ name }}
									</h1>

									<ng-template #usernameHeader>
										<h1>
											@{{ header.realUsername | async }}
										</h1>
									</ng-template>
								</div>
							</a>

							<ng-template #stringHeader>
								<h1 fxFlex>
									{{
										((envService.isMobile | async) ?
											header.mobile :
											header.desktop) || ''
									}}
								</h1>
							</ng-template>
						</ng-container>
						<ng-template #emptyHeader>
							<h1 fxFlex></h1>
						</ng-template>
					</div>

					<div></div>
					<div></div>
					<div></div>

					<!--
					<button
						mat-icon-button
						cyphTranslate
						aria-label='Search'
						routerLink='/search'
						fxHide.gt-sm
						*ngIf='!envService.isTelehealth'
					>
						<mat-icon>search</mat-icon>
					</button>
					-->

					<button
						mat-icon-button
						fxHide.gt-sm
						cyphTranslate
						aria-label="Context Menu"
						[matMenuTriggerFor]="contextMenu"
					>
						<mat-icon>more_vert</mat-icon>
					</button>

					<div></div>
				</div>

				<h3
					class="cyph-banner alert"
					cyphTranslate
					*ngIf="
						(accountDatabaseService.currentUser | async)
							?.agseConfirmed === false
					"
				>
					Your account is in queue to be verified and will be fully
					activated soon.
				</h3>

				<div
					fxFlex
					class="content-wrapper animated"
					[class.fadeOutUp]="accountService.transition | async"
					[class.full-height]="fullHeight | async"
					[class.padding]="(fullWidth | async) === false"
					ngClass.lt-md="small"
					ngClass.md="medium"
					ngClass.gt-md="large"
				>
					<router-outlet></router-outlet>
				</div>
			</div>
		</mat-sidenav-container>
	</div>

	<div
		[fxFlex]="accountService.menuExpandedMinWidthPX"
		[fxShow]="
			!envService.isTelehealth &&
			(accountDatabaseService.currentUser | async)?.agseConfirmed === true
		"
		fxLayout="column"
		class="sidebar contacts"
		*ngIf="sidebarVisible | async"
	>
		<div fxFlexFill fxLayout="row">
			<cyph-account-contacts
				fxFlex
				[sidebar]="true"
			></cyph-account-contacts>
		</div>
	</div>
</div>

<mat-menu #contextMenu="matMenu">
	<button
		mat-menu-item
		(click)="contextMenuActions.handler($event)"
		*ngFor="
			let contextMenuActions of (accountService.header | async)
				?.contextMenuActions || [];
			trackBy: trackBySelf
		"
	>
		<mat-icon>{{ contextMenuActions.icon }}</mat-icon>
		<span>{{ contextMenuActions.label }}</span>
	</button>

	<button mat-menu-item (click)="accountService.contactFormDialog('help')">
		<mat-icon>help</mat-icon>
		<span>{{ stringsService.contactSupport }}</span>
	</button>
	<button
		mat-menu-item
		(click)="accountService.contactFormDialog('feedback')"
	>
		<mat-icon>feedback</mat-icon>
		<span>{{ stringsService.feedback }}</span>
	</button>
	<button mat-menu-item (click)="screenshotService.saveScreenshot()">
		<mat-icon>fullscreen</mat-icon>
		<span>{{ stringsService.takeScreenshot }}</span>
	</button>
</mat-menu>
