<div
	fxFlexFill
	fxLayout='row'
	fxLayout.xs='column'
	[class.mobile]='envService.isMobile'
	[class.transition]='accountService.transition | async'
>
	<div *ngIf='accountService.interstitial' class='interstitial animated fadeIn'>
		<div class='loading'>
			<div class='logo-animation'>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<canvas fxHide class='cyph-gradient animated fadeIn'></canvas>

	<cyph-account-menu
		[fxFlex]='accountService.menuMaxWidth | async'
		fxHide.lt-md
		fxLayout='column'
		class='sidebar animated slideInLeft _0'
		*ngIf='menuVisible'
	></cyph-account-menu>

	<div
		class='content'
		fxFlex
		fxFlexFill
		fxLayout='column'
		fxLayout.xs='row'
		[class.cyph-light]='lightBackground && !(menuVisible && sidebarVisible)'
	>
		<mat-sidenav-container
			fxFlexFill
			fxLayout='column'
			(backdropClick)='accountService.toggleMobileMenu(false)'
		>
			<mat-sidenav
				#sidenav
				ngClass.gt-sm='disabled'
				mode='push'
				position='end'
				[opened]='accountService.mobileMenuOpen | async'
			>
				<cyph-account-menu [sidenav]='true'></cyph-account-menu>
			</mat-sidenav>

			<div
				fxLayout='row'
				class='header animated slideInDown'
				[class.fadeOutUp]='accountService.transition | async'
				fxLayoutAlign='center center'
				fxLayoutGap='24px'
				*ngIf='(accountService.header | async) !== undefined'
			>
				<span></span>
				<button
					mat-icon-button
					cyphTranslate
					class='home'
					matTooltip='Home'
					matTooltipPosition='right'
					[routerLink]='accountService.routeRoot'
					fxHide.gt-sm
				>
					<cyph-logo icon></cyph-logo>
				</button>
				<h1 fxFlex>{{(accountService.header | async) || ''}}</h1>
				<button
					mat-icon-button
					matTooltip='Menu'
					matTooltipPosition='left'
					fxLayoutAlign='center center'
					(click)='accountService.toggleMobileMenu()'
					fxHide.gt-sm
				>
					<mat-icon>menu</mat-icon>
				</button>
				<span></span>
			</div>

			<div
				fxFlex
				class='content-wrapper animated'
				[class.cyph-inverted-theme]='lightBackground'
				[class.fadeOutUp]='accountService.transition | async'
				[class.full-height]='fullHeight'
				[class.spacing]='menuVisible && sidebarVisible'
				[ngClass.lt-md]='!fullWidth ? "padding-small" : undefined'
				[ngClass.md]='!fullWidth ? "padding-medium" : undefined'
				[ngClass.gt-md]='!fullWidth ? "padding-large" : undefined'
			>
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-container>
	</div>

	<div
		[fxFlex]='accountService.menuExpandedMinWidthPX'
		fxHide.lt-md
		fxLayout='column'
		class='sidebar contacts'
		*ngIf='sidebarVisible'
	>
		<div fxFlexFill fxLayout='row'>
			<cyph-account-contacts fxFlex></cyph-account-contacts>
		</div>
	</div>
</div>
