<div
	fxFlexFill
	fxLayout="row"
	fxLayout.xs="column"
	[class.mobile]="envService.isMobile | await"
	[class.transition]="accountService.transition | await"
>
	<div
		*ngIf="accountService.interstitial | await"
		class="interstitial animated fadeIn"
	>
		<div class="loading">
			<div class="logo-animation">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<canvas
		[fxShow]="envService.showGranim"
		class="cyph-gradient animated fadeIn"
	></canvas>

	<cyph-account-menu
		[fxFlex]="accountService.menuMaxWidth | await"
		fxHide.lt-md
		fxLayout="column"
		class="sidebar animated slideInLeft _0"
		*ngIf="menuVisible | await"
	>
		<button
			mat-icon-button
			cyphTranslate
			aria-label="Context Menu"
			[matMenuTriggerFor]="contextMenu"
		>
			<mat-icon>more_vert</mat-icon>
		</button>
	</cyph-account-menu>
	<cyph-sidenav
		[opened]="(accountService.mobileMenuOpen | await) === true"
		(openChange)="accountService.toggleMobileMenu($event)"
		*ngIf="envService.isMobile | await"
	>
		<cyph-account-menu [sidenav]="true"></cyph-account-menu>
	</cyph-sidenav>

	<div class="content" fxFlex fxFlexFill fxLayout="column" fxLayout.xs="row">
		<div fxFlexFill fxLayout="column">
			<ng-container *ngIf="(envService.isMobile | await) === false">
				<ng-container *ngTemplateOutlet="banners"></ng-container>
			</ng-container>

			<div
				fxLayout="row"
				class="header slideInDown"
				[class.animated]="(envService.isMobile | await) === false"
				[class.fadeOutUp]="accountService.transition | await"
				fxLayoutAlign="stretch center"
				fxLayoutGap="8px"
				*ngIf="
					(accountService.header | await)?.header !== undefined &&
					(accountService.isCallActive | await) === false &&
					!(
						(envService.isMobile | await) &&
						(accountService.header | await)?.header?.desktop !==
							undefined &&
						(accountService.header | await)?.header?.mobile ===
							undefined
					) &&
					!(
						(envService.isMobile | await) === false &&
						(accountService.header | await)?.header?.desktop ===
							undefined &&
						(accountService.header | await)?.header?.mobile !==
							undefined
					)
				"
			>
				<div></div>

				<button
					mat-icon-button
					cyphTranslate
					class="logo-icon"
					aria-label="Menu"
					(click)="accountService.toggleMobileMenu()"
					fxHide.gt-sm
					*ngIf="
						(accountDatabaseService.currentUser | await) !==
							undefined &&
						(accountDatabaseService.currentUser | await)
							?.pseudoAccount === false
					"
				>
					<mat-icon
						[matBadge]="
							(
								((accountService.unreadMessages() | await) ||
									0) +
								((accountFilesService.incomingFiles() | await)
									?.length || 0)
							).toString()
						"
						[matBadgeHidden]="
							!(
								((accountService.unreadMessages() | await) ||
									0) +
									((
										accountFilesService.incomingFiles()
										| await
									)?.length || 0) >
								0
							)
						"
						matBadgePosition="above after"
					>
						menu
					</mat-icon>
				</button>

				<div></div>
				<div></div>
				<div></div>

				<div class="header-content" fxFlex fxLayout="row">
					<ng-container
						*ngIf="
							(accountService.header | await)?.header as header;
							else emptyHeader
						"
					>
						<a
							fxFlex
							class="profile-link"
							[routerLink]="
								'/profile/' + (header?.user?.username || '')
							"
							*ngIf="!!header?.user; else stringHeader"
						>
							<div
								fxFlex
								fxLayout="row"
								fxLayoutAlign="start center"
								fxLayoutGap="16px"
							>
								<img
									cyphTranslate
									class="avatar"
									[ngClass]="
										userPresence[
											(header?.user?.status | await) || 0
										]
									"
									alt="Profile Picture"
									[src]="(header?.user?.avatar | await) || ''"
								/>

								<h1
									*ngIf="
										header?.user?.name | await as name;
										else usernameHeader
									"
								>
									{{ name }}
								</h1>

								<ng-template #usernameHeader>
									<h1>
										@{{
											(header?.user?.realUsername
												| await) ||
												header?.user?.username ||
												''
										}}
									</h1>
								</ng-template>
							</div>
						</a>

						<ng-template #stringHeader>
							<h1 fxFlex>
								{{
									((envService.isMobile | await) ?
										header?.mobile :
										header?.desktop) || ''
								}}
							</h1>
						</ng-template>
					</ng-container>
					<ng-template #emptyHeader>
						<h1 fxFlex></h1>
					</ng-template>
				</div>

				<div></div>
				<div></div>
				<div></div>

				<!--
					<button
						mat-icon-button
						cyphTranslate
						aria-label='Search'
						routerLink='/search'
						fxHide.gt-sm
						*ngIf='!envService.isTelehealth'
					>
						<mat-icon>search</mat-icon>
					</button>
					-->

				<button
					mat-icon-button
					fxHide.gt-sm
					cyphTranslate
					aria-label="Context Menu"
					[matMenuTriggerFor]="contextMenu"
				>
					<mat-icon>more_vert</mat-icon>
				</button>

				<div></div>
			</div>

			<ng-container *ngIf="envService.isMobile | await">
				<ng-container *ngTemplateOutlet="banners"></ng-container>
			</ng-container>

			<ng-template #banners>
				<cyph-in-app-purchase
					#inAppPurchase
					[userToken]="true"
				></cyph-in-app-purchase>

				<h3
					class="cyph-banner alert"
					*ngIf="salesService.mobileAppBanner | await"
				>
					<div fxFlex fxLayout="row">
						<div
							fxLayoutAlign="center center"
							class="visibility-hidden"
						>
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Close"
								class="close"
							>
								<mat-icon>close</mat-icon>
							</button>
						</div>
						<div fxFlex fxLayoutAlign="center center">
							<div>
								<span cyphTranslate>
									For a better experience, we recommend that
									you
								</span>
								&ngsp;
								<a
									cyphTranslate
									(click)="salesService.openMobileApp()"
									>install the mobile app</a
								>.
							</div>
						</div>
						<div fxLayoutAlign="center center">
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Close"
								class="close"
								(click)="salesService.dismissMobileAppBanner()"
							>
								<mat-icon>close</mat-icon>
							</button>
						</div>
					</div>
				</h3>

				<h3
					class="cyph-banner alert"
					*ngIf="accountService.upsellBanner | await"
				>
					<div fxFlex fxLayout="row">
						<div
							fxLayoutAlign="center center"
							class="visibility-hidden"
						>
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Close"
								class="close"
							>
								<mat-icon>close</mat-icon>
							</button>
						</div>
						<div fxFlex fxLayoutAlign="center center">
							<div
								*ngIf="
									!(
										(
											accountDatabaseService.currentUser
											| await
										)?.user?.extra() | await
									)?.pgp?.keybaseUsername;
									else keybaseBannerMessage
								"
							>
								<span cyphTranslate>
									For a ton of extra features,
								</span>
								&ngsp;
								<a
									cyphTranslate
									(click)="
										salesService.openPricing(
											[
												envService.homeUrl,
												'pricing?current=',
												accountSettingsService.getPlanString(),
												'&userToken=',
												accountService.getUserToken(
													accountService.interstitial
												)
											],
											undefined,
											inAppPurchase
										)
									"
									>upgrade to premium now</a
								>!
							</div>
							<ng-template #keybaseBannerMessage>
								<div>
									<span cyphTranslate>
										Special offer for Keybase users:
									</span>
									&ngsp;
									<a
										cyphTranslate
										(click)="
											salesService.openPricing(
												[
													envService.homeUrl,
													'checkout/#',
													'flash-sale/lifetime-platinum',
													'/userToken=',
													accountService.getUserToken(
														accountService.interstitial
													)
												],
												undefined,
												undefined
											)
										"
										>$100 Lifetime Platinum upgrade</a
									>! &ngsp;
									<span cyphTranslate>
										(Usually $48/mo.) Adds 1 TB storage, BTC
										wallet, and more.
									</span>
								</div>
							</ng-template>
						</div>
						<div fxLayoutAlign="center center">
							<button
								mat-icon-button
								cyphTranslate
								matTooltip="Close"
								class="close"
								(click)="salesService.dismissUpsellBanner()"
							>
								<mat-icon>close</mat-icon>
							</button>
						</div>
					</div>
				</h3>

				<h3
					class="cyph-banner alert"
					*ngIf="
						(accountService.billingStatus | await)?.goodStanding ===
							false;
						else unverifiedAccountBanner
					"
				>
					<span cyphTranslate>
						We were unable to process your payment.
					</span>
					&ngsp;
					<span
						cyphTranslate
						*ngIf="
							(accountService.billingStatus | await)?.admin ===
								false;
							else billingPortalUI
						"
					>
						Please contact your billing administrator.
					</span>
					<ng-template #billingPortalUI>
						<a
							cyphTranslate
							(click)="
								salesService.openBillingPortal(
									accountService.getUserToken(
										accountService.interstitial
									)
								)
							"
							*ngIf="
								(accountService.billingStatus | await)?.stripe;
								else paymentDetailsUI
							"
							>Please update your payment details.</a
						>
					</ng-template>
					<ng-template #paymentDetailsUI>
						<a
							cyphTranslate
							(click)="
								salesService.openPricing(
									[
										envService.homeUrl,
										'checkout/#',
										accountSettingsService.getPlanCheckoutPath(),
										'/userToken=',
										accountService.getUserToken(
											accountService.interstitial
										)
									],
									undefined,
									inAppPurchase
								)
							"
							>Update your payment details</a
						>
						&ngsp;
						<span cyphTranslate> or downgrade to a free plan </span>
						&ngsp;
						<a
							cyphTranslate
							(click)="accountService.downgradeAccount()"
							>here</a
						>.
					</ng-template>
				</h3>
			</ng-template>

			<ng-template #unverifiedAccountBanner>
				<h3
					class="cyph-banner alert"
					cyphTranslate
					*ngIf="
						(accountDatabaseService.currentUser | await)
							?.agseConfirmed === false
					"
				>
					Your account is in queue to be verified and will be fully
					activated soon.
				</h3>
			</ng-template>

			<div
				fxFlex
				class="content-wrapper animated"
				[class.fadeOutUp]="accountService.transition | await"
				[class.full-height]="fullHeight | await"
				[class.padding]="(fullWidth | await) === false"
				[class.ui-disabled]="
					(accountService.billingStatus | await)?.goodStanding ===
					false
				"
				ngClass.lt-md="small"
				ngClass.md="medium"
				ngClass.gt-md="large"
			>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>

	<div
		[fxFlex]="accountService.menuExpandedMinWidthPX"
		[fxShow]="
			!envService.isTelehealth &&
			(accountDatabaseService.currentUser | await)?.agseConfirmed === true
		"
		fxLayout="column"
		class="sidebar contacts"
		*ngIf="
			(accountSettingsService.featureFlags.messaging.watch() | await) &&
			(sidebarVisible | await)
		"
	>
		<div fxFlexFill fxLayout="row">
			<cyph-account-contacts
				fxFlex
				[sidebar]="true"
			></cyph-account-contacts>
		</div>
	</div>
</div>

<mat-menu #contextMenu="matMenu">
	<button
		mat-menu-item
		(click)="contextMenuActions.handler($event)"
		*ngFor="
			let contextMenuActions of (accountService.header | await)
				?.contextMenuActions | cyphArray;
			trackBy: trackBySelf
		"
	>
		<mat-icon>{{ contextMenuActions.icon }}</mat-icon>
		<span>{{ contextMenuActions.label }}</span>
	</button>

	<button mat-menu-item (click)="accountService.contactFormDialog('help')">
		<mat-icon>help</mat-icon>
		<span>{{ stringsService.contactSupport }}</span>
	</button>
	<button
		mat-menu-item
		(click)="accountService.contactFormDialog('feedback')"
	>
		<mat-icon>feedback</mat-icon>
		<span>{{ stringsService.feedback }}</span>
	</button>
	<button mat-menu-item (click)="screenshotService.saveScreenshot(3000)">
		<mat-icon>fullscreen</mat-icon>
		<span>{{ stringsService.takeScreenshot }}</span>
	</button>
</mat-menu>
