@import '../../../../css/theme';

:host ::ng-deep {
	/* Staggered animation support. Usage: add any class from ._1 -> ._10 */

	$interval: 0.25s;
	$classesToAdd: 15;

	@for $i from 1 to $classesToAdd + 1 {
		._#{$i} {
			@include animation-delay($i * $interval);
		}
	}

	.card-list {
		margin-top: 2em !important;
	}

	.sidebar .card-list {
		margin-top: 0 !important;
	}

	.content {
		scroll-behavior: smooth;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.content-wrapper {
		&.full-height {
			height: 100%;
		}

		&.padding.large {
			padding: 0 $accountPaddingLarge;

			cyph-account-profile .cover-image {
				left: -$accountPaddingLarge;
				width: calc(100% + 1px + #{$accountPaddingLarge * 2});
			}
		}

		&.padding.medium {
			padding: 0 $accountPaddingMedium;

			cyph-account-profile .cover-image {
				left: -$accountPaddingMedium;
				width: calc(100% + 1px + #{$accountPaddingMedium * 2});
			}
		}

		&.padding.small {
			padding: 0 $accountPaddingSmall;

			cyph-account-profile .cover-image {
				left: -$accountPaddingSmall;
				width: calc(100% + 1px + #{$accountPaddingSmall * 2});
			}
		}

		&.spacing {
			margin-left: 1em;
			margin-right: 1em;
		}
	}

	.cyph-gradient {
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background-image: url(/assets/img/cyph.brick.pattern.png);
		background-repeat: repeat;
		background-position-x: 50%;
		z-index: 0;

		~ * {
			position: relative;
		}
	}

	.avatar {
		border-radius: 50%;
		border-width: 5px;
		border-style: solid;
		cursor: pointer;

		@include transition(border 0.75s ease);

		&.Online {
			border-color: map-get($mat-green, 700) !important;
		}

		&.Away {
			border-color: map-get($mat-amber, 500) !important;
		}

		&.Busy {
			border-color: map-get($mat-red, 700) !important;
		}

		&.Offline {
			border-color: map-get($mat-grey, 900) !important;
		}
	}

	.avatar {
		background-color: white;
	}

	.file-upload {
		height: 75px;
		border-style: dashed;
		border-width: 1.5px;
		cursor: pointer;

		mat-icon {
			@include icon-size(42px);

			@include vertical-align;
		}

		.dz-preview {
			margin: 20px 20px 20px -120px !important;
		}

		.dz-success-mark, .dz-error-mark {
			float: left;
			display: inherit;
			margin-top: 15px;
			display: none;
		}

		.dz-details {
			text-align: center;
			margin-top: 7px;
		}
	}

	.header {
		position: relative;
		text-align: center;
	}

	.header, .sidebar {
		z-index: 3;
	}

	.sidebar.contacts {
		mat-card {
			padding: 18px 24px;

			mat-card-subtitle {
				margin-bottom: 0;
			}
		}

		.contact-list > br:last-child {
			display: none;
		}

		cyph-search-bar .search-bar .mat-form-field-flex {
			padding: 0 5px;
		}
	}
}

:host > :not(.mobile) {
	.header {
		bottom: 10px;
		height: 100px;
		min-height: 100px;
		margin-bottom: 2px;

		&:after {
			height: 20px;
			width: 100%;
			position: absolute;
			bottom: -2px;
			content: no-close-quote;
		}

		+ .content-wrapper.full-height {
			height: calc(100% - 102px);
		}
	}
}

:host > .mobile {
	::ng-deep {
		cyph-account-profile .profile,
		cyph-account-settings > div:first-child,
		.card-list {
			padding: 32px 8px;
		}
	}

	.cyph-gradient {
		opacity: 0.15;
	}

	.header {
		height: 50px;
		min-height: 50px;
		font-size: 12px;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);

		+ .content-wrapper.full-height {
			height: calc(100% - 50px);
		}
	}
}

.header {
	.mat-icon-button {
		.mat-icon {
			font-size: 35px;
			height: 35px;
			width: 35px;
			line-height: 35px;
		}
	}
}

.interstitial {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;

	.loading {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;

		.logo-animation {
			margin: 0;
			top: 50%;
			left: 50%;

			@include transform(translate(-50%, -50%) scale(0.5));
		}
	}
}
