@import '../../../../css/theme';

:host ::ng-deep {
	/* Staggered animation support. Usage: add any class from ._1 -> ._10 */

	$interval: 0.25s;
	$classesToAdd: 15;

	@for $i from 1 to $classesToAdd + 1 {
		._#{$i} {
			@include animation-delay($i * $interval);
		}
	}

	.router-content, .content {
		scroll-behavior: smooth;
		overflow-y: auto;
	}

	.telehealth .cyph-gradient {
		opacity: 0.5;
	}

	.mobile .cyph-gradient {
		opacity: 0.15;
	}

	.cyph-gradient {
		display: block;
		width: 100%;
		height: 100%;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		position: absolute;
		background-image: url(/assets/img/cyph.brick.pattern.png);
		background-repeat: repeat;
		background-position-x: 50%;
		z-index: 0;

		~ * {
			position: relative;
		}
	}

	.avatar {
		border-radius: 50%;
		border-width: 5px;
		border-style: solid;
		cursor: pointer;

		@include transition(border 0.75s ease);

		&.Online {
			border-color: map-get($mat-green, 700) !important;
		}

		&.Away {
			border-color: map-get($mat-amber, 500) !important;
		}

		&.Busy {
			border-color: map-get($mat-red, 700) !important;
		}

		&.Offline {
			border-color: map-get($mat-grey, 900) !important;
		}
	}

	.file-upload {
		height: 75px;
		border: dashed white 1.5px;
		cursor: pointer;

		mat-icon {
			pointer-events: none;

			@include icon-size(42px);

			@include vertical-align;
		}

		.dz-preview {
			margin: 20px 20px 20px -120px !important;
		}

		.dz-success-mark, .dz-error-mark {
			float: left;
			display: inherit;
			margin-top: 15px;
			display: none;
		}

		.dz-details {
			text-align: center;
			margin-top: 7px;
		}
	}

	.header {
		position: relative;
		text-align: center;
	}

	.router-content {
		width: 100%;

		&, > div > router-outlet ~ * {
			height: 100%;
		}
	}
}

:not(.mobile) .header {
	height: 100px;
	min-height: 100px;
	margin-bottom: 2px;

	&:after {
		height: 20px;
		width: 100%;
		position: absolute;
		bottom: -2px;
		content: no-close-quote;
	}
}

.mobile .header {
	height: 70px;
	min-height: 70px;

	&:after {
		height: 5px;
		width: 100%;
		content: no-close-quote;
	}
}

.header {
	bottom: 10px;

	.mat-icon-button {
		.mat-icon {
			font-size: 35px;
			height: 35px;
			width: 35px;
			line-height: 35px;
		}
	}
}

.interstitial {
	position: fixed;
	background-color: rgba(139, 98, 217, 0.69) !important;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;

	.loading {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		padding: 0px;

		.logo-animation {
			margin: 0px;
			top: 50%;
			left: 50%;

			@include transform(translate(-50%, -50%) scale(0.5));
		}
	}
}
