<form
	#messageForm="ngForm"
	fxFlexFill
	fxLayout="column"
	fxLayoutGap="8px"
	(submit)="submit()"
>
	<cyph-chat-message-box-inherit-ng-form
		#chatMessageBox
		[appointmentSharing]="appointmentSharing"
		(appointmentSharingChange)="appointmentSharingChange.emit($event)"
		[calendarInviteFollowUp]="calendarInviteFollowUp"
		[calendarInviteReasons]="calendarInviteReasons"
		[customSendFunction]="customSendFunction"
		[fileAccept]="fileAccept"
		[forceShow]="forceShow"
		[messageType]="
			messageType !== undefined ? messageType : chatMessageValueTypes.Text
		"
		[showSendButton]="!showHeader"
		[showUnreadCount]="showUnreadCount"
	></cyph-chat-message-box-inherit-ng-form>

	<div
		fxLayoutAlign="left"
		*ngIf="showHeader && messageType !== chatMessageValueTypes.Form"
	>
		<button
			mat-raised-button
			color="accent"
			fxFlex
			fxFlex.gt-sm="initial"
			[disabled]="disableSend || messageForm.invalid"
			type="submit"
		>
			{{ sendText }}
		</button>
	</div>
</form>
