@import '../../../../css/mixins';

:host ::ng-deep {
	cyph-account-contact .avatar {
		pointer-events: none;
	}

	cyph-quill {
		display: block;
		min-height: 240px !important;
	}
}

hr {
	border-top: 0;
	width: 100%;
}
