@import '../../../../css/mixins';

:host {
	.input-wrapper {
		overflow: hidden;
		font-size: 3em;

		input {
			font-family: 'Ubuntu Mono';
			text-align: center;
			letter-spacing: 1em;

			@include transform(translateX(calc(0.5em + 10.5px)));
		}
	}
}
