@import '../../../../css/mixins';

@mixin set-font-size($fontSize) {
	.input-wrapper-inner {
		font-size: $fontSize;

		input {
			letter-spacing: $fontSize;

			&.text-security {
				letter-spacing: 1.14 * $fontSize;
			}

			@for $i from 0 to 5 {
				$translateX: -(2.5 * $fontSize) +
					$i *
					0.75 *
					$fontSize +
					10.5px;

				&.length-#{$i} {
					transform: translateX($translateX);

					&.text-security {
						transform: translate($translateX + 4.5px, -8px);
					}
				}
			}
		}

		&:after {
			left: 0.375 * $fontSize + 10.5px;
			bottom: -0.18 * $fontSize;
			letter-spacing: 0.75 * $fontSize;
			font-size: 1.5 * $fontSize;
		}
	}
}

.input-wrapper-outer {
	&,
	.input-wrapper-inner {
		overflow: hidden;
		position: relative;
	}

	.input-wrapper-inner {
		input,
		&:after {
			font-family: 'Ubuntu Mono';
			text-align: center;
		}

		&:after {
			content: '____';
			position: absolute;
			width: 100%;
			pointer-events: none;
		}
	}

	&:not(.small) {
		@include set-font-size(42px);
	}

	&.small {
		@include set-font-size(28px);
	}
}

:host ::ng-deep {
	.mat-form-field-infix {
		cursor: text;
	}

	.mat-form-field-underline {
		visibility: hidden;
	}
}
