<div fxLayout='column'>
	<div fxLayout='row' fxLayoutAlign='center start'>
		<form
			ngNativeValidate
			fxFlex
			fxFlex.gt-md='75'
			fxFlex.gt-lg='50'
			fxLayout='column'
			fxLayoutGap='16px'
			(submit)='send()'
			*ngIf='!sent'
		>
			<div fxLayout='row' fxLayoutAlign='center center' *ngIf='feedbackForm'>
				<h3>
					<span cyphTranslate>Submit Feedback to</span>
					&ngsp;
					<span>{{stringsService.company}}</span>
				</h3>
			</div>
			<div fxLayout='row' *ngIf='!feedbackForm'>
				<mat-form-field fxFlex>
					<mat-select
						cyphTranslate
						fxFlex
						[(ngModel)]='to'
						name='to'
						[placeholder]='stringsService.teamToContact'
					>
						<mat-option
							*ngFor='
								let address of configService.contactEmailAddresses;
								trackBy: trackBySelf;
							'
							[value]='address'
						>
							{{address}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div fxLayout='row' *ngIf='!feedbackForm'>
				<mat-form-field fxFlex>
					<input
						matInput
						cyphTranslate
						[(ngModel)]='subject'
						name='subject'
						placeholder='Subject'
					/>
				</mat-form-field>
			</div>
			<div fxLayout='row' *ngIf='responseRequested'>
				<div fxFlex fxLayout.lt-md='column' fxLayoutGap='16px'>
					<mat-form-field fxFlex>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='fromName'
							name='name'
							placeholder='Name'
						/>
					</mat-form-field>
					<mat-form-field fxFlex>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='fromEmail'
							name='email'
							type='email'
							placeholder='Email'
							required
						/>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout='row'>
				<mat-form-field fxFlex>
					<textarea
						matInput
						cyphTranslate
						[(ngModel)]='message'
						name='message'
						placeholder='Message'
						required
					></textarea>
				</mat-form-field>
			</div>
			<div fxLayout='row'>
				<mat-checkbox [(ngModel)]='responseRequested' name='response'>
					Response Requested
				</mat-checkbox>
			</div>
			<div fxLayout='row'>
				<button mat-button fxFlex cyphTranslate type='submit'>
					Send
				</button>
			</div>
		</form>
		<div *ngIf='sent' cyphTranslate>
			Your email has been sent! If you requested a response,
			someone on the team will get back to you shortly.
		</div>
	</div>
</div>
