<div
	fxFlexFill
	fxLayout='row'
	fxLayoutAlign='center start'
	class='card-list'
	[class.initiating]='accountFilesService.showSpinner'
	*ngIf='accountDatabaseService.currentUser | async as currentUser'
>
	<div fxFlex fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='16px'>
		<ng-container *ngIf='calendarOptions'>
			<div class='cyph-inverted-theme'>
				<mat-accordion class='calendar'>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<h2 cyphTranslate>{{stringsService.appointmentCalendar}}</h2>
						</mat-expansion-panel-header>
							<ng-fullcalendar
								#calendar
								[options]='calendarOptions'
								(clickButton)='calendarClickButton($event.detail)'
								(eventClick)='calendarEventClick($event.detail)'
								(eventDrop)='calendarUpdateEvent($event.detail)'
								(eventResize)='calendarUpdateEvent($event.detail)'
							></ng-fullcalendar>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</ng-container>

		<ng-container
			*ngIf='(currentUser?.user.userType | async) === accountUserTypes.TelehealthDoctor'
		>
			<mat-card>
				<h2
					cyphTranslate
				>
					{{stringsService.incomingAppointments}}
				</h2>

				<h3
					cyphTranslate
					*ngIf='(accountFilesService.incomingFilesFiltered.appointments | async)?.length
					<= 0'
				>
					{{stringsService.noIncomingAppointments}}
				</h3>
			
				<div class='cyph-inverted-theme'>
					<mat-accordion
						class='appointment animated'
						[class.bounceInRight]='!accountFilesService.initiated'
					>
						<ng-container *ngFor='
							let record of accountFilesService.incomingFilesFiltered.appointments | async;
							trackBy: trackByID;
							let i = index;
						'>
							<mat-expansion-panel *ngIf='getAppointment(record) | async as o'>
								<mat-expansion-panel-header>
									<mat-panel-title>
										<div fxLayoutAlign='left center'>
											<div>
												<span>{{record.name}}</span>
												&ngsp;
												<ng-container *ngIf='!record.wasAnonymousShare'>
													<span cyphTranslate>with</span>
													&ngsp;
													<a [routerLink]='
														accountService.routeRoot +
														"profile/" +
														record.owner
													'>{{
														record.owner
													}}</a>
												</ng-container>
												<ng-container *ngIf='record.wasAnonymousShare'>
													<span cyphTranslate>(invited anonymously)</span>
												</ng-container>
												&ngsp;
												<span>
													&mdash; {{getDateTimeString(
														o.appointment.calendarInvite.startTime
													)}}
												</span>
											</div>
										</div>
									</mat-panel-title>
									<mat-panel-description>
										<div fxFlex fxLayoutGap='2px' fxLayoutAlign='end center'>
											<button
												mat-icon-button
												cyphTranslate
												matTooltip='Accept'
												(click)='accountFilesService.acceptIncomingFile(record)'
											>
												<mat-icon>check</mat-icon>
											</button>
											<button
												mat-icon-button
												cyphTranslate
												matTooltip='Reject'
												(click)='
													accountFilesService.acceptIncomingFile(record, false)
												'
											>
												<mat-icon>close</mat-icon>
											</button>
										</div>
									</mat-panel-description>
								</mat-expansion-panel-header>
								<div fxLayout='column'>
									<div
										*ngFor='
											let form of o.appointment.forms;
											trackBy: trackByID;
											let i = index;
										'
										fxLayoutGap='5px'
										fxLayoutAlign='center'
										fxLayout='row'
									>
										<button
											mat-raised-button
											[routerLink]='
												accountService.routeRoot +
												"appointments/" +
												this.record.id +
												"/forms/" +
												i
											'
										>
											{{stringsService.patientForm}} #{{i+1}}
										</button>
									</div>
									<div
										*ngIf='o.appointment.forms.length < 1'
										fxFlex='50'
										fxLayoutGap='5px'
										fxLayoutAlign='center center'
										fxLayout='column'
									>
										<span>{{stringsService.patientFormsMissing}}</span>
										<button
											*ngIf='
												(currentUser.user.userType | async) ===
												accountUserTypes.Standard
											'
											mat-raised-button
											[routerLink]='
												accountService.routeRoot +
												"new-patient/" +
												this.record.id
											'
										>
											{{stringsService.submitPatientForms}}
										</button>
										<br />
									</div>
									<cyph-calendar-invite
										[isDisabled]='true'
										[ngModel]='o.appointment.calendarInvite'
									></cyph-calendar-invite>
								</div>
								<cyph-calendar-invite
									[isDisabled]='true'
									[ngModel]='o.appointment.calendarInvite'
								></cyph-calendar-invite>
							</mat-expansion-panel>
						</ng-container>
					</mat-accordion>
				</div>
			</mat-card>
		</ng-container>

		<mat-card>
			<h2>{{stringsService.futureAppointments}}</h2>
			<h3
				cyphTranslate
				*ngIf='(accountFilesService.filesListFiltered.appointments | async)?.length
				<= 0'>
				{{stringsService.noAppointments}}
			</h3>
			<div class='cyph-inverted-theme'>
				<mat-accordion
					class='appointment animated fadeInDown'
					[class.bounceInRight]='!accountFilesService.initiated'
				>
					<ng-container *ngFor='
						let record of accountFilesService.filesListFiltered.appointments | async;
						trackBy: trackByID;
						let i = index;
					'>
						<ng-container *ngIf='getAppointment(record) | async as o'>
							<ng-container *ngIf='timestampWatcher | async as now'>
								<mat-expansion-panel *ngIf='o.appointment.calendarInvite.startTime >= now'>
									<mat-expansion-panel-header>
										<mat-panel-title>
											<div fxLayoutAlign='left center'>
												<div>
													<span>{{record.name}}</span>
													&ngsp;
													<ng-container *ngIf='!record.wasAnonymousShare'>
														<span cyphTranslate>with</span>
														&ngsp;
														<a [routerLink]='
															accountService.routeRoot + "profile/" + o.friend
														'>{{
															o.friend
														}}</a>
														&ngsp;
													</ng-container>
													<span>
														&mdash; {{getDateTimeString(
															o.appointment.calendarInvite.startTime
														)}}
													</span>
												</div>
											</div>
										</mat-panel-title>
										<mat-panel-description>
											<div
												fxFlex
												fxLayoutGap='2px'
												fxLayoutAlign='end center'
												
											>
												<button
													mat-icon-button
													cyphTranslate
													[disabled]='
														o.appointment.occurred ||
											o.appointment.calendarInvite.callType === callTypes.None ||
														now < (
															o.appointment.calendarInvite.startTime -
															appointmentGracePeriod
														) ||
														now > (
															o.appointment.calendarInvite.endTime -
															appointmentGracePeriod
														)
													'
													matTooltip='Start Call'
													[routerLink]='
														accountService.routeRoot +
														"appointments/" +
														record.id +
														"/call"
													'
												>
													<mat-icon>play_arrow</mat-icon>
												</button>
												<button
													mat-icon-button
													cyphTranslate
													[disabled]='o.appointment.occured || now > (
														o.appointment.calendarInvite.endTime -
														appointmentGracePeriod
													)'
													matTooltip='Delete'
													(click)='
														accountFilesService.remove(record);
														$event.stopPropagation();
													'
												>
													<mat-icon>delete</mat-icon>
												</button>
											</div>
										</mat-panel-description>
									</mat-expansion-panel-header>
									<div fxLayout='column'>
										<div
											*ngFor='
												let form of o.appointment.forms;
												trackBy: trackByID;
												let i = index;
											'
											fxLayoutGap='5px'
											fxLayoutAlign='center'
											fxLayout='row'
										>
											<button
												mat-raised-button
												cyphTranslate
												[routerLink]='
													accountService.routeRoot +
													"appointments/" +
													this.record.id +
													"/forms/" +
													i
												'
											>
												{{stringsService.patientForm}} #{{i+1}}
											</button>
										</div>
										<div
											*ngIf='o.appointment.forms.length < 1'
											fxFlex='50'
											fxLayoutGap='5px'
											fxLayoutAlign='center center'
											fxLayout='column'
										>
											<span>{{stringsService.patientFormsMissing}}</span>
											<button
												*ngIf='
													(currentUser.user.userType | async) ===
													accountUserTypes.Standard
												'
												mat-raised-button
												cyphTranslate
												[routerLink]='
													accountService.routeRoot +
													"new-patient/" +
													this.record.id
												'
											>
												{{stringsService.submitPatientForms}}
											</button>
											<br />
										</div>
										<cyph-calendar-invite
											[isDisabled]='true'
											[ngModel]='o.appointment.calendarInvite'
										></cyph-calendar-invite>
									</div>
								</mat-expansion-panel>
							</ng-container>
						</ng-container>
					</ng-container>
				</mat-accordion>
			</div>
		</mat-card>

		<mat-card>
		<h2>{{stringsService.pastAppointments}}</h2>
		<h3
			cyphTranslate
			*ngIf='(accountFilesService.filesListFiltered.appointments | async)?.length
			<= 0'>
			{{stringsService.noAppointments}}
		</h3>
		<div class='cyph-inverted-theme'>		
			<mat-accordion
				class='appointment animated fadeInDown'
				[class.bounceInRight]='!accountFilesService.initiated'
			>
				<ng-container *ngFor='
					let record of accountFilesService.filesListFiltered.appointments | async;
					trackBy: trackByID;
					let i = index;
				'>
					<ng-container *ngIf='getAppointment(record) | async as o'>
						<ng-container *ngIf='timestampWatcher | async as now'>
							<mat-expansion-panel
								*ngIf='o.appointment.calendarInvite.startTime <= now &&
								!o.appointment.occured'
							>
								<mat-expansion-panel-header>
									<mat-panel-title>
										<div fxLayoutAlign='left center'>
											<div>
												<span>{{record.name}}</span>
												&ngsp;
												<ng-container *ngIf='!record.wasAnonymousShare'>
													<span cyphTranslate>with</span>
													&ngsp;
													<a [routerLink]='
														accountService.routeRoot + "profile/" + o.friend
													'>{{
														o.friend
													}}</a>
													&ngsp;
												</ng-container>
												<span>
													&mdash; {{getDateTimeString(
														o.appointment.calendarInvite.startTime
													)}}
												</span>
											</div>
										</div>
									</mat-panel-title>
									<mat-panel-description>
										<div
											fxFlex
											fxLayoutGap='2px'
											fxLayoutAlign='end center'
											
										>
											<button
												mat-icon-button
												cyphTranslate
												[disabled]='
													o.appointment.occurred ||
													now < (
														o.appointment.calendarInvite.startTime -
														appointmentGracePeriod
													) ||
													now > (
														o.appointment.calendarInvite.endTime -
														appointmentGracePeriod
													)
												'
												matTooltip='Start Call'
												[routerLink]='
													accountService.routeRoot +
													"appointments/" +
													record.id +
													"/call"
												'
											>
												<mat-icon>play_arrow</mat-icon>
											</button>
											<button
												mat-icon-button
												cyphTranslate
												[disabled]='o.appointment.occured || now > (
													o.appointment.calendarInvite.endTime -
													appointmentGracePeriod
												)'
												matTooltip='Delete'
												(click)='
													accountFilesService.remove(record);
													$event.stopPropagation();
												'
											>
												<mat-icon>delete</mat-icon>
											</button>
										</div>
									</mat-panel-description>
								</mat-expansion-panel-header>
								<div fxLayout='column'>
									<div
										*ngFor='
											let form of o.appointment.forms;
											trackBy: trackByID;
											let i = index;
										'
										fxLayoutGap='5px'
										fxLayoutAlign='center'
										fxLayout='row'
									>
										<button
											mat-raised-button
											cyphTranslate
											[routerLink]='
												accountService.routeRoot +
												"appointments/" +
												this.record.id +
												"/forms/" +
												i
											'
										>
											{{stringsService.patientForm}} #{{i+1}}
										</button>
									</div>
									<div
										*ngIf='o.appointment.forms.length < 1'
										fxFlex='50'
										fxLayoutGap='5px'
										fxLayoutAlign='center center'
										fxLayout='column'
									>
										<span>{{stringsService.patientFormsMissing}}</span>
										<button
											*ngIf='
												(currentUser.user.userType | async) ===
												accountUserTypes.Standard
											'
											mat-raised-button
											cyphTranslate
											[routerLink]='
												accountService.routeRoot +
												"new-patient/" +
												this.record.id
											'
										>
											{{stringsService.submitPatientForms}}
										</button>
										<br />
									</div>
									<cyph-calendar-invite
										[isDisabled]='true'
										[ngModel]='o.appointment.calendarInvite'
									></cyph-calendar-invite>
								</div>
							</mat-expansion-panel>
						</ng-container>
					</ng-container>
				</ng-container>
			</mat-accordion>
		</div>
		</mat-card>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='accountFilesService.showSpinner'
	></mat-progress-spinner>

	<button
		mat-fab
		cyphTranslate
		matTooltip='New Appointment Request'
		matTooltipPosition='above'
		[routerLink]='accountService.routeRoot + "request-appointment"'
		class='fixed-fab'
	>
		<mat-icon>add</mat-icon>
	</button>
</div>
