@import '../../../../css/mixins';

.calendar {
	.mat-expansion-panel-content .mat-expansion-panel-body {
		min-height: 25vh;
		height: 500px !important;
	}
}

mat-expansion-panel.mat-expansion-panel {
	margin-top: 2%;
	margin-bottom: 2%;
}

mat-expansion-panel-header h2, h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
