@import '../../../../css/mixins';

:host > .disabled ::ng-deep .ql-toolbar {
	display: none;
}

:host > :not(.disabled) ::ng-deep .ql-editor {
	min-height: 200px;
}

:host ::ng-deep {
	.ql-toolbar, .ql-container {
		border: none !important;
	}

	blockquote {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}
