<mat-card fxFlex>
	<mat-card-header>
		<img
			mat-card-avatar
			cyphTranslate
			[routerLink]="'/profile/' + (user?.username || '')"
			[src]="user?.avatar | await"
			alt="User Avatar"
		/>
		<mat-card-title>
			<a [routerLink]="'/profile/' + (user?.username || '')">{{
				(user?.name | await) || ''
					| slice: 0:accountService.maxNameLength
			}}</a>
			&ngsp;
			<mat-icon>{{ post?.circle ? 'lock' : 'public' }}</mat-icon>
		</mat-card-title>
		<mat-card-subtitle>
			<a [routerLink]="'/profile/' + (user?.username || '')"
				>@{{ (user?.realUsername | await) || '' }}</a
			>
			&ngsp; · &ngsp;
			<a
				[routerLink]="
					'/post/' + (user?.username || '') + '/' + (post?.id || '')
				"
				>{{ post ? getDateTimeString(post?.timestamp || 0) : '' }}</a
			>
		</mat-card-subtitle>
	</mat-card-header>
	<img
		mat-card-image
		cyphTranslate
		[src]="accountPostsService.getPostImage(post) | await"
		alt="Post Image"
		*ngIf="(post?.image?.length || 0) > 0"
	/>
	<mat-card-content>
		<p>
			<cyph-markdown [markdown]="post?.content || ''"></cyph-markdown>
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button cyphTranslate disabled matTooltip="Coming Soon">
			LIKE
		</button>
		<button mat-button cyphTranslate disabled matTooltip="Coming Soon">
			SHARE
		</button>
	</mat-card-actions>
</mat-card>
