@import '../../../../css/mixins';

mat-card {
	max-width: 600px;
}

mat-card-content {
	font-size: 1.25rem;
	font-weight: normal;
}

mat-button-toggle-group {
	max-width: 267px;
	flex-wrap: wrap;

	mat-button-toggle:first-child {
		border-left: solid 1px rgba(0, 0, 0, 0.12);
	}

	mat-button-toggle:last-child {
		max-width: 263px;
		flex-grow: 1;
	}
}

:host mat-button-toggle ngx-emoji {
	pointer-events: none;

	::ng-deep button {
		@include transform(translateY(4px));
	}
}

:host mat-list-item {
	height: auto !important;
	min-height: 72px !important;
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);

	.menu-button {
		top: -12px;
	}

	::ng-deep .mat-list-item-content {
		align-items: unset !important;

		.mat-line {
			white-space: unset !important;
		}
	}
}

.reaction-count {
	font-size: 18px;
	margin-left: 6px;
	font-family: 'Ubuntu Mono';
}

.menu-button {
	position: absolute;
	top: 8px;
	right: 8px;
}

.comment-post-button {
	margin-right: -16px;
	margin-left: 16px;
}
