@import '../../../../css/mixins';

mat-card {
	margin: 0 2em;
}

mat-card-content {
	font-size: 1.25em;
	font-weight: normal;
}

mat-button-toggle ngx-emoji {
	pointer-events: none;

	::ng-deep button {
		@include transform(translateY(4px));
	}
}

.reaction-count {
	font-size: 18px;
	margin-left: 6px;
	font-family: 'Ubuntu Mono';
}

.menu-button {
	position: absolute;
	top: 8px;
	right: 8px;
}
