<cyph-account-base-file-list #baseFileList>
	<ng-container
		*ngIf="
			((accountFilesService.filesTotalSize | await) || 0) <=
				((accountFilesService.fileStorageLimit | await) || 0);
			else blocked
		"
	>
		<button
			mat-fab
			class="fixed-fab"
			color="primary"
			[matTooltip]="stringsService.uploadFile"
			matTooltipPosition="left"
			cyphDropZone
			cyphTranslate
			(fileDrop)="
				accountFilesService.upload(
					$event.name,
					$event,
					undefined,
					undefined,
					undefined,
					undefined,
					undefined,
					undefined,
					baseFileList.currentDirectory.value
				)
			"
		>
			<mat-icon>file_upload</mat-icon>
		</button>
	</ng-container>
	<ng-template #blocked>
		<button
			mat-fab
			class="fixed-fab"
			color="primary"
			matTooltip="You are at your storage limit"
			matTooltipPosition="left"
			cyphTranslate
			disabled
		>
			<mat-icon>file_upload</mat-icon>
		</button>
	</ng-template>
</cyph-account-base-file-list>
