@import '../../../../css/mixins';

.file-upload {
	height: 10em;
}

.mat-card.file-card {
	cursor: auto;
}

::ng-deep .free-space {
	max-width: 33%;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
