@import '../../../../css/mixins';

.file-upload {
	height: 10em;
}

.mobile {
	mat-card {
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}

	::ng-deep .mat-card-header-text {
		word-break: break-word;
	}
}

.card-list.mobile {
	padding-top: 0 !important;
}

.file-upload.mobile {
	height: 5em !important;
}
