@import '../theme';

$cyph-is-dark: false;
$cyph-background: #f5f5f6;
$cyph-foreground: #424242;
$cyph-inverted: #eeecf1;
$cyph-progress-foreground: #e7c447;
$cyph-speed-dial-action-alt-background: $cyph-foreground;
$cyph-speed-dial-action-alt-foreground: $cyph-inverted;

$cyph-message-box-colors: map-merge(
	$cyph-message-box-colors,
	(
		desktopBackground: white,
		desktopGlow: $cyph-progress-foreground,
		text: black
	)
);

$cyph-message-colors: map-merge(
	$cyph-message-colors,
	(
		app: (
			desktop: transparent,
			mobile: transparent,
			mobileSpinner: $cyph-foreground,
			mobileText: $cyph-foreground,
			spinner: $cyph-foreground,
			text: $cyph-foreground
		),
		me: (
			desktop: transparent,
			mobile:
				rgba(map-get(map-get($cyph-message-colors, me), mobile), 0.9),
			mobileSpinner: $cyph-foreground,
			spinner: $cyph-foreground,
			text: $cyph-foreground
		),
		other: (
			desktop: transparent,
			mobile:
				rgba(map-get(map-get($cyph-message-colors, other), mobile), 0.7),
			mobileSpinner: $cyph-foreground,
			spinner: $cyph-foreground,
			text: $cyph-foreground
		)
	)
);

body.primary-account-theme {
	@include cyph-apply-theme(false, true);

	&.soft-lock {
		background-color: $cyph-background-main;
	}

	cyph-account .header h1.logo-text {
		color: white;
	}

	cyph-account cyph-not-found img,
	cyph-account-home > div > cyph-logo {
		filter: brightness(0.25);
	}

	cyph-chat-message-list .background-image {
		filter: brightness(0.75);
	}

	.cyph-banner {
		color: $cyph-background-main;
		background-color: $cyph-background;
	}

	cyph-account-register .cyph-banner mat-checkbox {
		color: $cyph-foreground !important;
	}

	cyph-email-view .email-header .from-name {
		color: $cyph-foreground;
	}
}
