@import '../theme';

$cyph-is-dark: false;
$cyph-background: #f5f5f6;
$cyph-foreground: #424242;
$cyph-inverted: #eeecf1;
$cyph-progress-foreground: #e7c447;
$cyph-speed-dial-action-alt-background: $cyph-background;
$cyph-speed-dial-action-alt-foreground: $cyph-foreground;

$cyph-message-box-colors: map-merge($cyph-message-box-colors, (
	desktopBackground: white,
	desktopGlow: $cyph-progress-foreground,
	text: black
));

$cyph-message-colors: map-merge($cyph-message-colors, (
	app: (
		desktop: transparent,
		mobile: transparent,
		mobileText: $cyph-foreground,
		text: $cyph-foreground
	),
	me: (
		desktop: transparent,
		mobile: rgba(map-get(map-get($cyph-message-colors, me), mobile), 0.9),
		text: $cyph-foreground
	),
	other: (
		desktop: transparent,
		mobile: rgba(map-get(map-get($cyph-message-colors, other), mobile), 0.7),
		text: $cyph-foreground
	)
));

body.primary-account-theme {
	@include cyph-apply-theme(false, true);

	cyph-account-menu, mat-card, mat-dialog-container {
		@include cyph-inverted-theme;
	}

	cyph-account-menu .menu {
		background-color: map-get($cyph-accent, darker);
	}

	cyph-chat-message-list .background-image {
		@include filter(brightness(0.75));
	}
}
