@import '../theme';

$cyph-primary: mat-palette($mat-blue-grey, 800, 700, 900);
$cyph-accent: mat-palette($mat-grey, 800, 700, 900);
$cyph-is-dark: true;
$cyph-background: #7a7c8b;

$cyph-message-box-colors: map-merge($cyph-message-box-colors, (
	desktopGlow: map-get($cyph-message-box-colors, mobileGlow)
));

$cyph-message-colors: map-merge($cyph-message-colors, (
	app: (
		desktop: transparent,
		mobile: transparent,
		text: $cyph-foreground
	),
	me: (
		desktop: transparent,
		mobile: #444,
		text: $cyph-foreground
	),
	other: (
		desktop: transparent,
		mobile: #444,
		text: $cyph-foreground
	)
));

body.modest {
	@include cyph-apply-theme;

	#main-chat-gradient,
	cyph-chat-message-list > .background-image,
	.chat-disconnect-message,
	.abort-screen .image,
	cyph-footer {
		display: none !important;
	}
}
