@import '../../../../css/mixins';

.logout {
	font-family: Ubuntu;
	font-size: 4.5em;
	font-weight: 500;
	position: relative;

	&.small {
		font-size: 2.5em;
	}

	> .ellipsis {
		overflow: hidden;
		display: inline-block;
		vertical-align: bottom;
		width: 0;
		position: absolute;
		bottom: 0;
		left: calc(100% + 10px);

		@include animation(ellipsis steps(4, end) 1200ms infinite);
	}
}

@include keyframes(ellipsis) {
	to {
		width: 1.25em;
	}
}
