<ng-container
	*ngIf="
		accountPostsService.watchUserPosts(author?.username) | await as posts;
		else loading
	"
>
	<div
		class="full-width"
		fxLayout="column"
		fxLayoutGap="16px"
		*ngIf="(posts?.length || 0) > 0"
	>
		<cyph-account-post
			class="full-width"
			[author]="author"
			[post]="post.watch() | await"
			*ngFor="let post of posts; trackBy: trackByID"
		></cyph-account-post>
		<div></div>
	</div>

	<div fxFlex class="margin-top" *ngIf="(posts?.length || 0) < 1">
		<h1 cyphTranslate fxFlex class="empty-list">
			This user hasn't made any posts yet.
		</h1>
	</div>
</ng-container>

<ng-template #loading>
	<div class="margin-top" fxLayoutAlign="center center">
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</div>
</ng-template>
