<div fxLayout='column'>
	<div fxLayout='row' fxLayoutAlign='center start'>
		<form
			ngNativeValidate
			fxFlex
			fxFlex.gt-md='75'
			fxFlex.gt-lg='50'
			fxLayout='column'
			fxLayoutGap='8px'
			(submit)='submit()'
			*ngIf='!submitted'
		>
			<div>
				<span cyphTranslate>
					Congratulations! If you're seeing this page, it means
					you've been invited to reserve your
				</span>
				&ngsp;
				<span>{{stringsService.product}}</span>
				&ngsp;
				<span cyphTranslate>
					username before the general public.
				</span>
			</div>
			<div cyphTranslate>
				There's no character minimum, allowing you to reserve premium short usernames;
				however, please note that your username isn't guaranteed until you've received
				our confirmation. We suggest using 5+ characters and setting a realistic alternate
				choice.
			</div>
			<div cyphTranslate>
				Your username cannot exceed 50 characters, and is limited to alphanumeric
				characters (0-9, A-Z, a-z) and underscores (_).
			</div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div>
				<mat-form-field fxFlex>
					<input
						matInput
						cyphTranslate
						[(ngModel)]='email'
						name='email'
						type='email'
						placeholder='Email'
						required
					/>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field fxFlex>
					<input
						matInput
						cyphTranslate
						[textMask]='usernameMask'
						[(ngModel)]='username'
						name='username'
						placeholder='Requested Username'
						required
					/>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field fxFlex>
					<input
						matInput
						cyphTranslate
						[textMask]='usernameMask'
						[(ngModel)]='usernameAlternate'
						name='usernameAlternate'
						placeholder='Alternate Username (optional)'
					/>
				</mat-form-field>
			</div>
			<div></div>
			<div></div>
			<div>
				<button mat-button fxFlex cyphTranslate type='submit'>
					Submit
				</button>
			</div>
		</form>
		<div
			fxFlex
			fxFlex.gt-md='75'
			fxFlex.gt-lg='50'
			fxLayout='column'
			fxLayoutGap='16px'
			*ngIf='submitted'
		>
			<div>
				<span cyphTranslate>
					Your username request has been submitted! If you are
					on our approved list of users, then
				</span>
				&ngsp;
				<span>{{username}}</span>
				&ngsp;
				<span cyphTranslate>
					will be set aside as reserved for you.
				</span>
			</div>
			<div cyphTranslate>
				Usernames will be granted based on waitlist priority and first-come, first-serve.
				If you are unable to reserve your desired username or alternate, we will email you
				with your options.
			</div>
			<div>
				<span cyphTranslate>Thank you for your continued support of</span>
				&ngsp;
				<span>{{stringsService.company}}!</span>
			</div>
		</div>
	</div>
</div>
