<mat-selection-list [multiple]="false">
	<mat-list-option cyphTranslate routerLink="/contacts">
		<mat-icon
			mat-list-icon
			[matBadge]="
				((accountService.unreadMessages | await) || 0).toString()
			"
			[matBadgeHidden]="
				!(((accountService.unreadMessages | await) || 0) > 0)
			"
			matBadgePosition="above after"
		>
			contacts
		</mat-icon>
		<h3 matLine cyphTranslate>
			Contacts
		</h3>
	</mat-list-option>
	<mat-list-option
		routerLink="/inbox"
		*ngIf="accountSettingsService.featureFlags.inbox.watch() | await"
	>
		<mat-icon
			mat-list-icon
			[matBadge]="
				(
					(
						accountFilesService.incomingFilesFiltered.notes
						| await
						| cyphFilter
							: accountFilesService.filterFunctions
									.anonymousMessages
					)?.length || 0
				).toString()
			"
			[matBadgeHidden]="
				!(
					((
						accountFilesService.incomingFilesFiltered.notes
						| await
						| cyphFilter
							: accountFilesService.filterFunctions
									.anonymousMessages
					)?.length || 0) > 0
				)
			"
			matBadgePosition="above after"
		>
			email
		</mat-icon>
		<h3 matLine cyphTranslate>
			Inbox
		</h3>
	</mat-list-option>
</mat-selection-list>
