@import '../../../../css/mixins';

.logo {
	height: 22em;
	opacity: 0.42;
	position: absolute;
	pointer-events: none;
	margin-top: 1.42em;
}

.quick-actions {
	margin: 1em;
}

/* Offset height of speed dial + 16px above and below */
cyph-account-contacts ::ng-deep {
	.card-list.mobile .add-contact {
		margin: 10px 0;
	}
}

smd-fab-speed-dial ::ng-deep smd-fab-actions > .open {
	opacity: 1 !important;
	transform: scale(1) !important;
}

.overlay {
	background-color: #333;
	opacity: 0.5;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	top: 0;
	position: fixed;
}
