<cyph-account-profile [home]='true' *ngIf='
	envService.isTelehealthFull;
	else contactsHome
'></cyph-account-profile>

<ng-template #contactsHome>
	<cyph-account-contacts
		[home]='true'
		[searchMode]='searchMode | async'
		(searchBarBlur)='router.navigate([accountService.routeRoot])'
		*ngIf='
			(accountDatabaseService.currentUser | async)?.confirmed &&
			envService.isMobile | async;
			else sidebarHome
		'
	></cyph-account-contacts>
</ng-template>

<ng-template #sidebarHome>
	<div
		fxFlex
		fxFlexFill
		fxLayoutAlign='center center'
		[class.initiating]='accountFilesService.uploadSpinner | async'
	>
		<cyph-logo
			class='logo'
			icon
			[white]='envService.environment.customBuild?.config.dark'
			*ngIf='envService.coBranded; else cyphAltLogo'
		></cyph-logo>
		<ng-template #cyphAltLogo>
			<img
				class='logo'
				cyphTranslate
				alt='Logo'
				src='/assets/img/logo.purple.alt.icon.png'
			/>
		</ng-template>

		<mat-progress-spinner
			mode='indeterminate'
			*ngIf='accountFilesService.uploadSpinner | async'
		></mat-progress-spinner>
	</div>
</ng-template>

<div *ngIf='(accountDatabaseService.currentUser | async)?.confirmed && !envService.isTelehealthFull'>
	<div
		class='overlay clickable'
		(click)='isSpeedDialOpen.next(false)'
		*ngIf='(envService.isMobile | async) && (isSpeedDialOpen | async)'
	></div>
	<smd-fab-speed-dial
		animationMode='scale'
		[forceTooltips]='envService.isMobile | async'
		[open]='isSpeedDialOpen | async'
		(mouseleave)='!envService.isMobile.value ? isSpeedDialOpen.next(false) : undefined'
		[class.absolute-fab]='!((envService.isMobile | async) || envService.isTelehealthFull)'
		[class.fixed-fab]='(envService.isMobile | async) || envService.isTelehealthFull'
	>
		<smd-fab-trigger
			[spin]='true'
			(mouseenter)='!envService.isMobile.value ? isSpeedDialOpen.next(true) : undefined'
		>
			<button
				mat-fab
				[color]='(envService.isMobile | async) ? "primary" : "accent"'
				[attr.aria-label]='
					(envService.isMobile | async) && (isSpeedDialOpen | async) === false ?
						stringsService.openMenu :
						undefined
				'
				[matTooltip]='
					(envService.isMobile | async) === false || (isSpeedDialOpen | async) ?
						stringsService.composeMessage :
						undefined
				'
				matTooltipPosition='left'
				[routerLink]='
					(isSpeedDialOpen | async) ?
						accountService.routeRoot + "compose/" :
						undefined
				'
				(click)='
					envService.isMobile.value ?
						isSpeedDialOpen.next(!isSpeedDialOpen.value) :
						undefined
				'
			>
				<mat-icon>{{(isSpeedDialOpen | async) ? 'message' : 'add'}}</mat-icon>
			</button>
		</smd-fab-trigger>
		<smd-fab-actions>
			<button
				mat-mini-fab
				[class.open]='isSpeedDialOpen | async'
				cyphTranslate
				matTooltip='New Note'
				matTooltipPosition='left'
				[routerLink]='accountService.routeRoot + "notes/new"'
				(click)='isSpeedDialOpen.next(false)'
			>
				<mat-icon>note_add</mat-icon>
			</button>
			<button
				mat-mini-fab
				[class.open]='isSpeedDialOpen | async'
				cyphTranslate
				matTooltip='Upload File'
				matTooltipPosition='left'
				cyphDropZone
				[cyphDropZoneClass]='false'
				(fileDrop)='accountFilesService.upload($event.name, $event)'
				(click)='isSpeedDialOpen.next(false)'
			>
				<mat-icon>cloud_upload</mat-icon>
			</button>
			<button
				mat-mini-fab
				[class.open]='isSpeedDialOpen | async'
				[matTooltip]='stringsService.addExternalContactTitle'
				matTooltipPosition='left'
				(click)='
					addExternalContact();
					isSpeedDialOpen.next(false);
				'
			>
				<mat-icon>person_add</mat-icon>
			</button>
			<a
				mat-mini-fab
				[class.open]='isSpeedDialOpen | async'
				cyphTranslate
				class='alt'
				matTooltip='New Burner Link'
				matTooltipPosition='left'
				[routerLink]='accountService.routeRoot + "anonymous/chat"'
				(click)='isSpeedDialOpen.next(false)'
				*ngIf='!envService.coBranded'
			>
				<mat-icon>link</mat-icon>
			</a>
		</smd-fab-actions>
	</smd-fab-speed-dial>
</div>

<div *ngIf='!(accountDatabaseService.currentUser | async)?.confirmed && !envService.coBranded'>
	<a
		mat-fab
		cyphTranslate
		[class.absolute-fab]='(envService.isMobile | async) === false'
		[class.fixed-fab]='envService.isMobile | async'
		matTooltip='New Burner Chat'
		[href]='envService.newCyphUrl'
	>
		<mat-icon>chat</mat-icon>
	</a>
</div>
