@import '../../../../css/mixins';

.logo {
	height: 15em;
	opacity: 0.85;
	pointer-events: none;
}

/* Offset height of speed dial + 16px above and below */
cyph-account-contacts ::ng-deep {
	.card-list.mobile .contact-list {
		padding-bottom: 88px;
	}
}

smd-fab-speed-dial ::ng-deep smd-fab-actions > .open {
	opacity: 1 !important;

	@include transform(scale(1) !important);
}

.overlay {
	background-color: #333;
	opacity: 0.5;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	top: 0;
	position: fixed;
}
