<cyph-video
	#cyphVideo
	[autoplay]="true"
	[muted]="true"
	[playsinline]="true"
	[src]="videoStream | await"
	*ngIf="(activated | await) === true && (isActive | await) === true"
></cyph-video>

<div
	fxFlex
	fxLayout="column"
	fxLayoutGap="32px"
	*ngIf="(activated | await) !== true"
>
	<div></div>
	<div fxFlex fxLayout="row" fxLayoutAlign="center center">
		<button mat-raised-button color="primary" (click)="activated.resolve()">
			<mat-icon>center_focus_weak</mat-icon>
			&nbsp;
			<span cyphTranslate>Scan QR Code</span>
		</button>
	</div>
	<div></div>
</div>
