<div
	fxFlex
	fxLayout="row wrap"
	fxLayoutAlign="center center"
	fxLayoutGap="32px"
	class="footer"
>
	<div fxFlex *ngIf="envService.telehealthTheme | await"></div>

	<ng-container *ngIf="!envService.coBranded && !envService.isTelehealth">
		<div fxFlex="nogrow" fxLayoutAlign="center center">
			<a [href]="envService.homeUrl" *ngIf="!envService.isCordova"
				>&copy; {{ stringsService.company }} 2020</a
			>
			<span *ngIf="envService.isCordova">
				&copy; {{ stringsService.company }} 2020
			</span>

			<span *ngIf="!envService.isAccounts" class="pre-spaced">
				&nbsp;&nbsp;&nbsp;(<a
					[href]="
						envService.homeUrl +
						'patents' +
						(envService.isCordova ?
							'?hideHeaderAndFooter=true' :
							'')
					"
					>{{ stringsService.patents }}</a
				>)
			</span>
		</div>

		<div fxFlex="nogrow" fxLayoutAlign="center center">
			<a href="https://github.com/cyph/cyph" cyphTranslate>
				Source Code
			</a>
		</div>

		<div fxFlex="nogrow" fxLayoutAlign="center center">
			<a
				[href]="
					envService.homeUrl +
					'contact' +
					(envService.isCordova ? '?hideHeaderAndFooter=true' : '')
				"
				cyphTranslate
			>
				Contact
			</a>
		</div>

		<div
			fxFlex="nogrow"
			fxLayoutAlign="center center"
			*ngIf="!limited && !envService.isAccounts"
		>
			<strong>-</strong>
			&nbsp;
			<div>
				<strong
					*ngIf="
						(sessionService?.state?.wasInitiatedByAPI | await) ===
							true;
						else proMessage
					"
				>
					{{ stringsService.footerMessageAPI }}
				</strong>
				<ng-template #proMessage>
					<strong *ngIf="envService.pro | await; else defaultMessage">
						{{ stringsService.footerMessagePro }}
					</strong>
				</ng-template>
				<ng-template #defaultMessage>
					<strong>
						{{ stringsService.footerMessageDefault }}
					</strong>
				</ng-template>
			</div>
			&nbsp;
			<strong>-</strong>
		</div>

		<div
			fxFlex="nogrow"
			fxLayoutAlign="center center"
			*ngIf="
				!limited &&
				!envService.noInAppPurchasesAllowed &&
				!envService.inAppPurchasesSupported
			"
		>
			<a [href]="envService.homeUrl + 'pricing'" cyphTranslate>
				Pricing
			</a>
		</div>

		<div
			fxFlex="nogrow"
			fxLayoutAlign="center center"
			*ngIf="
				!envService.noInAppPurchasesAllowed &&
				!envService.inAppPurchasesSupported
			"
		>
			<a [href]="envService.homeUrl + 'donate'" cyphTranslate>
				Donate
			</a>
		</div>

		<div fxFlex="nogrow" fxLayoutAlign="center center">
			<a
				[href]="
					envService.homeUrl +
					'privacy-policy' +
					(envService.isCordova ? '?hideHeaderAndFooter=true' : '')
				"
				cyphTranslate
			>
				Privacy Policy
			</a>
		</div>

		<div fxFlex="nogrow" fxLayoutAlign="center center">
			<a
				[href]="
					envService.homeUrl +
					'terms-of-service' +
					(envService.isCordova ? '?hideHeaderAndFooter=true' : '')
				"
				[style.margin-right]="
					!limited && !envService.isAccounts ? '89px' : undefined
				"
				cyphTranslate
			>
				Terms of Service
			</a>
		</div>
	</ng-container>

	<ng-container
		*ngIf="
			(envService.coBranded && !envService.whiteLabel) ||
			envService.isTelehealth
		"
	>
		<div class="powered-by-cyph" fxLayoutAlign="center center">
			<a [href]="envService.homeUrl" class="small-font">
				<span *ngIf="envService.isTelehealth" cyphTranslate>
					Telehealth Service
				</span>
				&ngsp;
				<span cyphTranslate>
					Powered by Cyph
				</span>
			</a>
		</div>
	</ng-container>

	<ng-container *ngIf="envService.telehealthTheme | await">
		<div fxFlex fxLayoutAlign="end center">
			<div cyphTranslate fxLayout="row">
				<img
					src="/assets/img/websign.icon.png"
					alt="WebSign Validated"
				/>
				<img src="/assets/img/hipaa.icon.png" alt="HIPAA-Compliant" />
			</div>
		</div>
	</ng-container>
</div>
