<mat-progress-spinner
	mode="indeterminate"
	*ngIf="!inAppPurchase && pending | await"
></mat-progress-spinner>
<form ngNativeValidate (submit)="submit()" *ngIf="!inAppPurchase">
	<div
		fxLayout="column"
		fxLayoutGap="16px"
		*ngIf="(complete | await) === false"
	>
		<div fxLayout="column" fxLayoutGap="16px" class="checkout-ui">
			<h2 *ngIf="itemName">
				<span>{{ formatItemName(itemName) }}</span>
				<ng-container *ngIf="subscriptionType !== undefined">
					&ngsp;
					<span cyphTranslate>SUBSCRIPTION</span>
				</ng-container>
			</h2>
			<div *ngIf="perUser">
				<mat-form-field fxFlex>
					<mat-select
						cyphTranslate
						[ngModel]="users | await"
						(ngModelChange)="users.next($event)"
						name="users"
						placeholder="Number of Users"
						required
					>
						<mat-option
							*ngFor="
								let n of userOptions | await;
								trackBy: trackBySelf
							"
							[value]="n"
						>
							{{ n.toString() }}
							{{
								n === 1 ?
									stringsService.user :
									stringsService.users
							}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<ng-container *ngIf="(paymentOption | await) !== undefined">
				<div>
					<div
						fxFlex
						fxLayout="column"
						fxLayout.gt-md="row"
						fxLayoutGap="16px"
					>
						<mat-form-field fxFlex>
							<input
								matInput
								cyphAutofocus
								cyphTranslate
								[(ngModel)]="name.firstName"
								name="firstName"
								placeholder="First Name"
								required
							/>
						</mat-form-field>
						<mat-form-field fxFlex>
							<input
								matInput
								cyphTranslate
								[(ngModel)]="name.lastName"
								name="lastName"
								placeholder="Last Name"
								required
							/>
						</mat-form-field>
					</div>
				</div>
				<div
					fxFlex
					fxLayout="column"
					fxLayout.gt-md="row"
					fxLayoutGap="16px"
				>
					<mat-form-field fxFlex>
						<input
							matInput
							cyphTranslate
							[(ngModel)]="email"
							name="email"
							type="email"
							placeholder="Email"
							required
						/>
					</mat-form-field>
					<mat-form-field fxFlex>
						<input
							matInput
							cyphTranslate
							[(ngModel)]="company"
							name="company"
							[placeholder]="
								formatItemName(itemName)?.includes('BUSINESS') ?
									stringsService.businessName :
									stringsService.businessNameOptional
							"
							[required]="
								formatItemName(itemName)?.includes(
									'BUSINESS'
								) === true
							"
						/>
					</mat-form-field>
				</div>
				<ng-container *ngIf="(paymentOption | await) === 'card'">
					<div>
						<mat-form-field fxFlex>
							<input
								matInput
								cyphTranslate
								[(ngModel)]="address.streetAddress"
								name="streetAddress"
								placeholder="Street Address"
								required
							/>
						</mat-form-field>
					</div>
					<div
						fxFlex
						fxLayout="column"
						fxLayout.gt-md="row"
						fxLayoutGap="16px"
					>
						<mat-form-field fxFlex fxFlex.gt-md="120px">
							<input
								matInput
								cyphTranslate
								[(ngModel)]="address.postalCode"
								name="postalCode"
								placeholder="Postal Code"
								required
							/>
						</mat-form-field>
						<mat-form-field fxFlex>
							<mat-select
								cyphTranslate
								[(ngModel)]="address.countryCode"
								name="countryCode"
								placeholder="Country"
								required
							>
								<mat-option
									*ngFor="
										let o of envService.countries | await;
										trackBy: trackByValue
									"
									[value]="o.value"
								>
									{{ o.label }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</ng-container>
			</ng-container>
			<div [id]="containerID" class="braintree"></div>
		</div>

		<mat-checkbox [(ngModel)]="affiliate" name="affiliate" *ngIf="false">
			{{ affiliateService.checkout.text }}
		</mat-checkbox>

		<div
			fxLayoutAlign="center center"
			*ngIf="(partnerDiscountString | await) !== undefined"
		>
			<mat-chip-list>
				<mat-chip>
					{{ (partnerDiscountString | await) || '' }}
				</mat-chip>
			</mat-chip-list>
		</div>

		<div fxLayoutAlign="center center">
			<button
				mat-raised-button
				[disabled]="(paymentOption | await) === undefined"
				type="submit"
			>
				<span cyphTranslate>Confirm</span>
				&ngsp;
				<span
					>${{
						roundToString(
							amount * (perUser ? (users | await) || 1 : 1)
						)
					}}</span
				>
				&ngsp;
				<span>
					<span *ngIf="subscriptionType === undefined" cyphTranslate
						>payment</span
					>
					<span
						*ngIf="subscriptionType === subscriptionTypes.annual"
						cyphTranslate
					>
						annual subscription
					</span>
					<span
						*ngIf="subscriptionType === subscriptionTypes.monthly"
						cyphTranslate
					>
						monthly subscription
					</span>
				</span>
			</button>
		</div>
	</div>
	<ng-container *ngIf="complete | await">
		<ng-container *ngIf="success | await">
			<ng-container
				*ngIf="confirmationMessage | await as confirmationMessageData"
			>
				<cyph-markdown
					[markdown]="confirmationMessageData?.welcomeLetter"
					*ngIf="
						!!confirmationMessageData?.welcomeLetter;
						else defaultConfirmationMessage
					"
				></cyph-markdown>
				<ng-template #defaultConfirmationMessage>
					<div class="confirmation">
						<div cyphTranslate>
							Thanks a lot for your support! You will receive an
							email confirmation momentarily.
						</div>
					</div>
				</ng-template>
			</ng-container>
		</ng-container>
		<div class="confirmation" *ngIf="(success | await) === false">
			<div>
				<div
					fxLayout="column"
					fxLayoutGap="16px"
					class="checkout-ui failure"
				>
					<h2>{{ stringsService.checkoutErrorTitle }}</h2>
					<div *ngIf="errorMessage | await as err">{{ err }}</div>
					<div>
						<span cyphTranslate>
							Please check your payment credentials and
						</span>
						&ngsp;
						<span
							class="retry"
							(click)="reloadWindow()"
							cyphTranslate
							>click here</span
						>
						&ngsp;
						<span cyphTranslate>
							to try again.
						</span>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</form>
