<mat-progress-spinner mode='indeterminate' *ngIf='pending | async'></mat-progress-spinner>
<form ngNativeValidate (submit)='submit()'>
	<div fxLayout='column' fxLayoutGap='16px' *ngIf='(complete | async) === false'>
		<div fxLayout='column' fxLayoutGap='16px' class='checkout-ui'>
			<h2 *ngIf='itemName'>
				<span>{{formatItemName(itemName)}}</span>
				<ng-container *ngIf='subscriptionType !== undefined'>
					&ngsp;
					<span cyphTranslate>SUBSCRIPTION</span>
				</ng-container>
			</h2>
			<div *ngIf='!apiKey'>
				<div fxLayout='column' fxLayout.gt-md='row' fxLayoutGap='16px'>
					<mat-form-field fxFlex>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='name'
							name='name'
							placeholder='Full Name'
							required
						/>
					</mat-form-field>
					<mat-form-field fxFlex>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='email'
							name='email'
							type='email'
							[pattern]='emailPattern'
							placeholder='Email'
							required
						/>
					</mat-form-field>
				</div>
			</div>
			<div *ngIf='!apiKey'>
				<mat-form-field fxFlex>
					<input
						matInput
						cyphTranslate
						[(ngModel)]='company'
						name='company'
						[placeholder]='formatItemName(itemName)?.includes("BUSINESS") ?
							"Company" :
							"Company (optional)"
						'
						[required]='formatItemName(itemName)?.includes("BUSINESS")'
					/>
				</mat-form-field>
			</div>
			<div *ngIf='perUser'>
				<mat-select
					cyphTranslate
					fxFlex
					[ngModel]='users | async'
					(ngModelChange)='users.next($event)'
					name='users'
					placeholder='Number of Users'
					required
				>
					<mat-option [value]='1'>1 {{stringsService.user}}</mat-option>
					<mat-option *ngFor='let n of userOptions; trackBy: trackBySelf' [value]='n'>
						{{n.toString()}} {{stringsService.users}}
					</mat-option>
				</mat-select>
			</div>
			<div [id]='containerID' class='braintree'></div>
		</div>
		<div fxLayoutAlign='center center'>
			<button mat-raised-button type='submit'>
				<span cyphTranslate>Confirm</span>
				&ngsp;
				<span>${{amount * (perUser ? ((users | async) || 1) : 1)}}</span>
				&ngsp;
				<span>
					<span *ngIf='subscriptionType === undefined' cyphTranslate>payment</span>
					<span *ngIf='subscriptionType === subscriptionTypes.annual' cyphTranslate>
						annual subscription
					</span>
					<span *ngIf='subscriptionType === subscriptionTypes.monthly' cyphTranslate>
						monthly subscription
					</span>
				</span>
			</button>
		</div>
	</div>
	<div class='confirmation' *ngIf='complete | async'>
		<ng-content *ngIf='success | async'></ng-content>
		<div *ngIf='(success | async) === false'>
			<span cyphTranslate>Payment failed.</span>
			&ngsp;
			<span class='retry' (click)='ngAfterViewInit()' cyphTranslate>Click here</span>
			&ngsp;
			<span cyphTranslate>to try again.</span>
		</div>
	</div>
</form>
