@import '../../../../css/mixins';

.checkout-ui {
	margin: 8px 10px;
	padding: 0 12px 10px 9px;
	opacity: 0.95;
	background-color: #663ab7;

	> .braintree {
		margin-top: 2em;
		min-height: 150px;
	}

	h2 {
		margin-top: 5px;
		text-align: center;
		font-family: Ubuntu;
		font-weight: 500;
		color: #ffffffe0;
	}

	&.failure > div {
		color: white;
		font-size: 0.9em;
	}

	::ng-deep {
		.braintree-option__card svg {
			color: #663ab7;
		}

		.braintree-placeholder {
			display: none;
		}

		.mat-form-field {
			.mat-form-field-label,
			input {
				color: rgba(255, 255, 255, 0.54) !important;
			}

			&.mat-form-field-invalid {
				.mat-form-field-label,
				input {
					color: #d32f2f !important;
				}
			}

			&:not(.mat-form-field-invalid) {
				.mat-form-field-underline,
				.mat-form-field-ripple {
					background-color: rgba(255, 255, 255, 0.54) !important;
				}
			}
		}

		label {
			color: white;
		}

		[data-braintree-id='choose-a-way-to-pay'],
		[data-braintree-id='methods-label'] {
			position: absolute;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top: -2em;
			color: rgba(255, 255, 255, 0.54) !important;
			font-family: Roboto;
			font-weight: 500;
		}

		.braintree-options-list {
			background-color: #663ab7;

			.braintree-option {
				background-color: #ede7f6;
				margin-top: 0.66em;
				border-radius: 5px;
				box-shadow: 0 2px rgba(0, 0, 0, 0.25);
				border-color: transparent;

				.braintree-sheet__header .braintree-sheet__label {
					color: black !important;
				}

				.braintree-option__label {
					color: #462fa0;
					font-family: Roboto;
					font-weight: 500;

					&:hover {
						font-weight: 700;
					}
				}
			}
		}
	}
}

:host ::ng-deep {
	cyph-markdown {
		a[href*='/register/'] {
			margin-top: 40px;
			margin-bottom: 48px;
			display: block;
			text-align: center;
			font-size: 1.35em;
			text-decoration: underline;
			font-family: Ubuntu;
		}
	}
}

button {
	max-width: 80%;
	white-space: normal;
}

cyph-spinner {
	@include spinner-center;

	+ form {
		opacity: 0.15;
		pointer-events: none;
	}
}

.confirmation {
	font-size: 120%;
	width: 100%;
	text-align: center;
	padding-top: 50%;

	@include transform(translateY(-50%));
}

.retry {
	cursor: pointer;
	text-decoration: underline;
}
