service firebase.storage {
	match /b/{bucket}/o {
		match /channels/{channel} {
			match /{all=**} {
				allow read, write;
			}

			// match /handshake {
			// 	match /alicePublicKey {}
			// 	match /bobPublicKey {}
			// 	match /initialSecretAliceCyphertext {}
			// 	match /initialSecretBobCyphertext {}
			// }

			// match /messages/{message} {}

			// match /users/{user} {}
		}

		match /fileTransfers/{file} {
			allow read;
			allow write: if request.resource == null || request.resource.size < 300000000;
		}

		match /users/{user} {
			match /{all=**} {
				allow read, write: if
					request.auth != null &&
					(user + '@cyph.me') == request.auth.token.email
				;
			}

			match /avatar {
				allow read;
			}

			match /coverImage {
				allow read;
			}

			match /certificate {
				allow read;
				allow write: if false;
			}

			// match /contactRecords/{contactRecord} {}

			// match /contacts/{contact} {
			// 	match /messages/{message} {}
			// 	match /session {
			// 		/asymmetricRatchetState {
			// 			/privateKey {}
			// 			/publicKey {}
			// 		}
			// 		/channelUserID {}
			// 		/handshake {
			// 			/currentStep {}
			// 			/initialSecret {}
			// 		}
			// 		/incomingMessageID {}
			// 		/incomingMessages {}
			// 		/incomingMessagesMax {}
			// 		/outgoingMessageID {}
			// 		/symmetricRatchetState {
			// 			/current {
			// 				/incoming {}
			// 				/outgoing {}
			// 			}
			// 			/next {
			// 				/incoming {}
			// 				/outgoing {}
			// 			}
			// 		}
			// 	}
			// 	match /unconfirmedMessages {}
			// }

			// match /docs/{doc} {
			// 	match /{delta} {}
			// }

			// match /encryptionKeyPair {}

			// match /fileRecords/{fileRecord} {}

			// match /fileReferences/{fileReference} {}

			// match /files/{file} {}

			// match /forms/{form} {}

			match /incomingFiles/{incomingFile} {
				allow write: if
					(request.auth != null && (user + '@cyph.me') == request.auth.token.email) ||
					resource == null
				;
			}

			// match /lastPresence {}

			match /loginData {
				allow read;
			}

			match /presence {
				allow read;
			}

			match /publicProfile {
				allow read;
			}

			// match /settings {}

			// match /signingKeyPair {}
		}
	}
}
