service firebase.storage {
	match /ephemeral/{file} {
		allow read;
		allow write: if !request.resource || request.resource.size < 300000000;
	}

	match /users/{user} {
		/{all=**} {
			allow read, write: if (user + '@cyph.me') === auth.token.email;
		}

		/certificate {
			allow read;
			allow write: if false;
		}

		/contacts/{contact} {
			/messages/{message} {}
			/session {}
		}

		/encryptionKeyPair {}

		/loginData {
			allow read;
		}

		/publicProfile {
			allow read;
		}

		/settings {}

		/signingKeyPair {}
	}
}
