service firebase.storage {
	match /b/{bucket}/o {
		match /{namespace} {
			match /certificateHistory/{hash} {
				allow read, write: if false;
			}

			match /channels/{channel} {
				match /{all=**} {
					allow read, write;
				}

				// match /handshakeState {
				// 	match /alicePublicKey/{hash} {}
				// 	match /bobPublicKey/{hash} {}
				// 	match /initialSecretCyphertext/{hash} {}
				// }

				// match /messages/{message}/{hash} {}

				// match /users/{user}/{hash} {}
			}

			match /emails/{email}/{hash} {
				allow read;
			}

			// match /inviteCodes/{hash} {}

			match /fileTransfers/{file}/{hash} {
				allow read;
				allow write: if
					resource == null &&
					request.resource.size > 0 &&
					request.resource.size < 600000000
				;
			}

			match /fileTransfersEphemeral/{file}/{hash} {
				allow read;
				allow write: if
					resource == null &&
					request.resource.size > 0 &&
					request.resource.size < 600000000
				;
			}

			match /messageValues/{messageValue}/{hash} {
				allow read;
				allow write: if
					resource == null &&
					request.resource.size > 0 &&
					request.resource.size < 300000000
				;
			}

			match /messageValuesEphemeral/{messageValue}/{hash} {
				allow read;
				allow write: if
					resource == null &&
					request.resource.size > 0 &&
					request.resource.size < 300000000
				;
			}

			// match /notifications/{notification}/{hash} {}

			// match /pendingSignups/{hash} {}

			// match /pseudoRelationships/{hash} {}

			match /privatePostLists/{circleID}/{postID}/{hash} {
				allow read;
				allow write: if resource == null;
			}

			// match /reservedUsernames/{hash} {}

			match /users/{user} {
				match /{all=**} {
					allow read, write: if
						request.auth != null &&
						(user + '@' + DOMAIN) == request.auth.token.email
					;
				}

				match /altMasterKey/{hash} {
					allow write: if resource == null && request.resource != null;
				}

				match /avatar/{hash} {
					allow read;
				}

				// match /castleSessions/{contact} {
				// 	match /futureMessages/{messageID}/{hash} {}
				// 	match /lastConfirmedMessage/{hash} {}
				// 	match /messageList/{messageID}/{hash} {}
				// 	match /messageList-head/{hash} {}
				// 	match /messages/{message}/{hash} {}
				// 	match /session {
				// 		/channelUserID/{hash} {}
				// 		/handshakeState {
				// 			/currentStep/{hash} {}
				// 			/initialSecret/{hash} {}
				// 		}
				// 		/incomingMessageQueue/{hash} {}
				// 		/incomingMessages/{hash} {}
				// 		/outgoingMessageQueue/{hash} {}
				// 		/ratchetState/{hash} {}
				// 		/ratchetUpdateQueue/{hash} {}
				// 	}
				// }

				match /certificate/{hash} {
					allow read;
					allow write: if false;
				}

				// match /certificateRequest/{hash} {}

				// match /circleMembers/{circleID}/{circleMember}/{hash} {}

				// match /circles/{circleID}/{hash} {}

				// match /contactIDs/{username}/{hash} {}

				match /contacts/{username}/{hash} {
					allow write: if false;
				}

				match /contactsInnerCircle/{username}/{hash} {
					allow write: if false;
				}

				// match /contactUsernames/{id}/{hash} {}

				match /coverImage/{hash} {
					allow read;
				}

				match /docs/{all=**} {
					allow read;

					// match /{delta}/{hash} {}
				}

				// match /email/{hash} {}

				// match /encryptionKeyPair/{hash} {}

				// match /externalCircles/{username}/{circleID}/{hash} {}

				match /externalCirclesIncoming/{username}/{circleID}/{hash} {
					allow read, write: if
						request.auth != null &&
						(
							(user + '@' + DOMAIN) == request.auth.token.email ||
							(username + '@' + DOMAIN) == request.auth.token.email
						)
					;
				}

				// match /featureFlags {
				// 	match /docs/{hash} {}
				// 	match /files/{hash} {}
				// 	match /forms/{hash} {}
				// 	match /inbox/{hash} {}
				// 	match /invite/{hash} {}
				// 	match /messaging/{hash} {}
				// 	match /notes/{hash} {}
				// 	match /passwords/{hash} {}
				// 	match /pgp/{hash} {}
				// 	match /scheduler/{hash} {}
				// 	match /social/{hash} {}
				// 	match /wallets/{hash} {}
				// }

				match /fileRecords/{fileRecord}/{hash} {
					allow read;
				}

				// match /fileReferences/{fileReference}/{hash} {}

				match /files/{file}/{hash} {
					allow read;
					allow write: if
						(
							request.auth != null &&
							(user + '@' + DOMAIN) == request.auth.token.email
						) ||
						resource == null
					;
				}

				match /forms/{form}/{hash} {
					allow read;
				}

				// match /incomingCalls/{hash} {}

				match /incomingFiles/{incomingFile}/{hash} {
					allow write: if
						(
							request.auth != null &&
							(user + '@' + DOMAIN) == request.auth.token.email
						) ||
						resource == null
					;
				}

				// match /inviteCode/{hash} {}

				match /inviteCodes/{code}/{hash} {
					allow write: if false;
				}

				// match /inviterUsername/{hash} {}

				match /inviterUsernamePlaintext/{hash} {
					allow write: if request.resource == null;
				}

				// match /lastPresence/{hash} {}

				match /loginData/{hash} {
					allow read;
				}

				match /loginDataAlt/{hash} {
					allow read;
					allow write: if resource == null && request.resource != null;
				}

				match /organizationMembers/{hash} {
					allow read;
				}

				// match /p2pWarning/{hash} {}

				// match /patientInfo/{hash} {}

				// match /pin {
				// 	match /hash/{hash} {}
				// 	match /isCustom/{hash} {}
				// }

				// match /plan/{hash} {}

				match /postCommentReactions/{commentID}/{reaction}/{username}/{hash} {
					allow read: if false;
					allow write: if
						request.auth != null &&
						(username + '@' + DOMAIN) == request.auth.token.email
					;
				}

				match /postComments/{comment}/{hash} {
					allow read;
				}

				match /postReactions/{postID}/{reaction}/{username}/{hash} {
					allow read: if false;
					allow write: if
						request.auth != null &&
						(username + '@' + DOMAIN) == request.auth.token.email
					;
				}

				match /postReplies/{postID}/{commentID}/{hash} {
					allow read;
					allow write: if resource == null;
				}

				match /posts {
					match /private/{post}/{hash} {
						allow read;
					}

					match /public/{all=**} {
						allow read;
					}
				}

				match /presence/{hash} {
					allow read;
				}

				// match /profileVisible/{hash} {}

				// match /pseudoAccount/{hash} {}

				match /publicEncryptionKey/{hash} {
					allow read;
				}

				match /publicPostList/{postID}/{hash} {
					allow read;
				}

				match /publicProfile/{hash} {
					allow read;
				}

				match /publicProfileExtra/{hash} {
					allow read;
				}

				match /reviews/{username}/{hash} {
					allow read;
					allow write: if
						request.auth != null &&
						(username + '@' + DOMAIN) == request.auth.token.email
					;
				}

				// match /settings/{hash} {}

				// match /signingKeyPair/{hash} {}

				// match /storageCap/{hash} {}

				// match /unreadFiles/{hash} {}

				// match /unreadMessages/{hash} {}
			}
		}
	}
}
