<!DOCTYPE html>
<html class='no-js' ng-app='Cyph' ng-controller='CyphController'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />

		<title translate>Cyph &ndash; Privacy starts here.</title>
		<meta name='description' content='Cyph is a next-generation messenger app that makes privacy the new status quo.' />
		<meta name='keywords' content='secure chat, secure email service, encrypted chat, silent circle, secure chat client, cryptocat, secure video chat, wickr, encrypted chat app, secure chat app, textsecure' />

		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

		<meta name='apple-mobile-web-app-capable' content='yes' />
		<meta name='mobile-web-app-capable' content='yes' />

		<link rel='apple-touch-icon' sizes='57x57' href='/img/favicon/apple-touch-icon-57x57.png' />
		<link rel='apple-touch-icon' sizes='114x114' href='/img/favicon/apple-touch-icon-114x114.png' />
		<link rel='apple-touch-icon' sizes='72x72' href='/img/favicon/apple-touch-icon-72x72.png' />
		<link rel='apple-touch-icon' sizes='144x144' href='/img/favicon/apple-touch-icon-144x144.png' />
		<link rel='apple-touch-icon' sizes='60x60' href='/img/favicon/apple-touch-icon-60x60.png' />
		<link rel='apple-touch-icon' sizes='120x120' href='/img/favicon/apple-touch-icon-120x120.png' />
		<link rel='apple-touch-icon' sizes='76x76' href='/img/favicon/apple-touch-icon-76x76.png' />
		<link rel='apple-touch-icon' sizes='152x152' href='/img/favicon/apple-touch-icon-152x152.png' />
		<link rel='apple-touch-icon' sizes='180x180' href='/img/favicon/apple-touch-icon-180x180.png' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-192x192.png' sizes='192x192' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-160x160.png' sizes='160x160' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-96x96.png' sizes='96x96' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-16x16.png' sizes='16x16' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-32x32.png' sizes='32x32' />
		<meta name='msapplication-TileColor' content='#8b62d9' />
		<meta name='msapplication-TileImage' content='/img/favicon/mstile-144x144.png' />

		<meta property='og:title' content='Cyph &ndash; Privacy starts here.' />
		<meta property='og:description' content='Cyph is a next-generation messenger app that makes privacy the new status quo.' />
		<meta property='og:image' content='https://www.cyph.com/img/metaimage.png' />
		<meta property='og:url' content='https://www.cyph.com/' />
		<meta property='og:type' content='website' />
	</head>
	<body>
		<section id='main' layout='column' ng-class='{"unisection-mode": podcast || isError || isAbout || isFaq || isTos || isPrivacyPolicy}'>

		<!-- <md-sidenav component-id='menu' class='md-sidenav-right'>
			<md-content class='md-content-padding'>
				<div>
					<md-button
						translate
						aria-label='About'
						ng-click='baseButtonClick()'
						href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
					>
						About
					</md-button>
				</div>
				<div>
					<md-button
						translate
						aria-label='FAQ'
						ng-click='baseButtonClick()'
						href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
					>
						FAQ
					</md-button>
				</div>
				<div>
					<md-button
						translate
						aria-label='Blog'
						ng-click='baseButtonClick()'
						href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
					>
						Blog
					</md-button>
				</div>
			</md-content>
		</md-sidenav> -->

		<a id='logo' href='/'>
			<img src='/img/logo.white.horizontal.header.png' />
		</a>

		<img id='bouncing-down-arrow' class='animated' ng-click='scrollDown()' src='/img/icons/downarrow.png' />


		<section id='new-cyph-section'>
			<md-button id='new-cyph' aria-label='Start new cyph'>
				<a translate href='//www.cyph.im/#new'>Start new cyph</a>
			</md-button>
		</section>

		<md-toolbar id='main-toolbar'>
			<div class='md-toolbar-tools'>
				<!--
					<span flex></span>
					<md-button
						translate
						aria-label='About Us'
						href='/about'
					>
						About Us
					</md-button>
					<span flex></span>
					<md-button translate aria-label='Menu' ng-click='openMobileMenu()'>
						<img src='/img/icons/menu.png' />
					</md-button>
				-->
			</div>
		</md-toolbar>

		<section id='hero-section'>
			<div class='hero-text animated'>
				<span translate>Start a</span> <strong translate>private</strong>
				<span translate>conversation with</span>
				<br />
				<strong translate>anyone</strong>,
				<span translate>in 30 seconds</span>
			</div>
			<div class='feature-list-container grid-container'>
				<div class='grid-33 tablet-grid-33 grid-parent'>
					<div class='wow desktop-class-bounceInLeft mobile-class-bounceInRight grid-100 tablet-grid-100 feature-list-item'>
						<img
							class='grid-33 tablet-grid-33 push-66 tablet-push-66 mobile-pull-10 mobile-grid-25'
							src='/img/iconfinder/encryption.png'
						/>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-push mobile-push-25 mobile-grid-85'>
							<p>
								<strong>
									<a target='_blank' href='//en.wikipedia.org/wiki/Off-the-Record_Messaging' translate>
										Military-grade encryption
									</a>
								</strong>
							</p>
							<p>
								<span translate>To crack a single Cyph message would take</span>
								<strong translate>longer than the age of the universe.</strong>
							</p>
							<p>
								<span translate>(That's even if you had the fastest supercomputer on Earth.)</span>
							</p>
						</div>
					</div>
					<div class='wow bounceInLeft grid-100 tablet-grid-100 feature-list-item' desktop-data-wow-delay='500ms'>
						<img
							class='grid-33 tablet-grid-33 push-66 tablet-push-66 mobile-push-75 mobile-grid-25'
							src='/img/iconfinder/signing.png'
						/>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-pull-5 mobile-grid-85'>
							<p>
								<strong translate>Authenticated messaging</strong>
							</p>
							<p>
								<span translate>With Cyph, you can be sure you're talking to whom you think you're talking to, thanks to the</span>
								<a target='_blank' href='http://twistedoakstudios.com/blog/Post3724_explain-it-like-im-five-the-socialist-millionaire-problem-and-secure-multi-party-computation' translate>Socialist Millionaire Protocol</a>.
							</p>
						</div>
					</div>
					<div
						class='wow desktop-class-bounceInLeft mobile-class-bounceInRight grid-100 tablet-grid-100 feature-list-item'
						desktop-data-wow-delay='1000ms'
					>
						<img
							class='grid-33 tablet-grid-33 push-66 tablet-push-66 mobile-pull-10 mobile-grid-25'
							src='/img/iconfinder/photos.png'
						/>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-push mobile-push-25 mobile-grid-85'>
							<p>
								<strong translate>Send photos</strong>
							</p>
							<p>
								<span translate>
									Your photos are safe, and that's a great feeling. You don't have to worry about "The Cyphoning".
								</span>
							</p>
						</div>
					</div>
				</div>

				<img class='grid-33 tablet-grid-33 mobile-grid-100 screenshot' src='/img/phone-screenshot.png' />

				<div id='coming-soon' class='grid-33 tablet-grid-33 grid-parent'>
					<div id='coming-soon-title' class='grid-100 tablet-grid-100'>
						<strong translate>Coming Soon</strong>
					</div>
					<div class='wow desktop-class-bounceInRight mobile-class-bounceInLeft grid-100 tablet-grid-100 feature-list-item'>
						<img
							class='grid-33 tablet-grid-33 mobile-pull-10 mobile-push-75 mobile-grid-25'
							src='/img/iconfinder/video.png'
						/>
						<div class='grid-66 tablet-grid-66 mobile-pull-5 mobile-grid-85'>
							<p>
								<strong translate>Voice and video calling</strong>
							</p>
							<p>
								<span translate>Photos are one thing, but it would suck to have these leaked.</span>
							</p>
						</div>
					</div>
					<div class='wow bounceInRight grid-100 tablet-grid-100 feature-list-item' desktop-data-wow-delay='500ms'>
						<img
							class='grid-33 tablet-grid-33 mobile-pull-10 mobile-grid-25'
							src='/img/iconfinder/cash.png'
						/>
						<div class='grid-66 tablet-grid-66 mobile-push mobile-push-25 mobile-grid-85'>
							<p>
								<strong translate>Send cash</strong>
							</p>
							<p>
								<span translate>Through the awesome power of</span>
								<a target='_blank' href='//en.wikipedia.org/wiki/Bitcoin' translate>Bitcoin</a>,
								<span translate>you can cyph anyone a quid privately and securely.</span>
							</p>
						</div>
					</div>
					<div
						class='wow desktop-class-bounceInRight mobile-class-bounceInLeft grid-100 tablet-grid-100 feature-list-item'
						desktop-data-wow-delay='1000ms'
					>
						<img
							class='grid-33 tablet-grid-33 mobile-pull-10 mobile-push-75 mobile-grid-25'
							src='/img/iconfinder/anonymous.png'
						/>
						<div class='grid-66 tablet-grid-66 mobile-pull-5 mobile-grid-85'>
							<p>
								<strong>
									<span translate>Cyph anonymously with</span>
									<a target='_blank' href='//en.wikipedia.org/wiki/Tor_%28anonymity_network%29' translate>Tor</a>
								</strong>
							</p>
							<p>
								<span translate>Need to hide the fact that you're even using Cyph? Good news! We're getting ready to roll out our very own Onion site!</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id='laptop-screenshot-section'>
			<div class='grid-container'>
				<img class='grid-100 tablet-grid-100 mobile-grid-100 screenshot' src='/img/laptop-screenshot.png' />
			</div>
		</section>

		<section id='home-beta-signup'>
			<div class='hero-text' translate>
				No Registration Required
			</div>
			<div class='section-content-container'>
				<p translate>
					Click the button at the top of your screen to cyph right now!
				</p>
				<form class='beta-signup-form' ng-submit='submitBetaSignup()'>
					<div ng-show='betaSignupState == 0'>
						<strong translate>However</strong>,
						<span translate>if you’re pumped up for more Cyph awesomeness,</span>
						<div translate>join the waitlist for Cyph v2! (Coming soon to an Internet near you.)</div>
						<br />
						<md-text-float type='email' label='email' ng-model='betaSignup.Email' translate></md-text-float>
					</div>

					<div ng-show='betaSignupState == 1'>
						<div>
							<p translate>
								Thanks so much for signing up!
							</p>
							<p translate>
								Feel free to add your name as well. :)
							</p>
						</div>
						<md-text-float label='name (optional)' ng-model='betaSignup.Name' translate></md-text-float>
					</div>

					<div ng-show='betaSignupState > 1'>
						You rock.
					</div>

					<md-button type='submit' aria-label='Sign up for beta' ng-hide='betaSignupState > 1'>Sign up for beta</md-button>
				</form>
			</div>
		</section>

		<section id='why-cyph-section'>
			<div class='hero-text' translate>
				Why Cyph?
			</div>
			<div class='section-content-container'>
				<p>
					<span translate>Encryption is hard, but using it shouldn’t be. We believe</span>
					<i translate>everyone</i>
					<span translate>deserves privacy, not only security experts.</span>
				</p>
				<p translate>
					Cyph is a next-generation messenger app that makes privacy the new status quo.
				</p>
				<p translate>
					With Cyph, never again will you need to ask someone else to install or configure or sign up for anything, when all you need is a one-off private discussion.
				</p>
				<p translate>
					One click and you’re secure.
				</p>
			</div>
		</section>

		<section id='podcast-section' ng-show='podcast' class='unisection'>
			<div class='hero-text animated' ng-class='{bounceInDown: podcast != "jjgo", bounceInLeft: podcast == "jjgo"}'>
				<img class='podcast-logo'>
			</div>

			<div class='section-content-container'>
				<div>
					<p>
						<form class='beta-signup-form' ng-submit='submitBetaSignup()'>
							<div ng-show='betaSignupState == 0'>
								<div>
									<p ng-show='podcast == "betalist"'>
										<span translate>Welcome</span>
										<span>Betalisters!</span>
									</p>
									<p ng-hide='podcast == "betalist"'>
										<span translate>Welcome</span>
										<i ng-show='podcast == "penn"'>Penn's Sunday School</i>
										<i ng-show='podcast == "jjgo"'>Jordan, Jesse, Go!</i>
										<i ng-show='podcast == "ventura"'>We The People</i>
										<i ng-show='podcast == "sawbones"'>Sawbones</i>
										<i ng-show='podcast == "judgejohn"'>Judge John Hodgman</i>
										<i ng-show='podcast == "mybrother"'>My Brother, My Brother and Me</i>
										<i ng-show='podcast == "security"'>The Security Brief</i>
										<span translate>listeners!</span>
									</p>
									<p translate>
										Sign up below, and get bumped to the front of our waitlist for Cyph v2.
									</p>
								</div>
								<md-text-float type='email' label='email' ng-model='betaSignup.Email' translate></md-text-float>
							</div>

							<div ng-show='betaSignupState == 1'>
								<div translate>
									Thanks so much for signing up!
								</div>
								<div translate>
									Feel free to add your name as well. :)
								</div>
								<md-text-float label='name (optional)' ng-model='betaSignup.Name' translate></md-text-float>
							</div>

							<div ng-show='betaSignupState == 2'>
								You rock.
							</div>

							<md-button type='submit' class='hidden-submit-button' aria-label=''></md-button>
						</form>
					</p>
					<p>
						<br />
						<h1 translate>About Cyph</h1>
					</p>
					<p>
						<span translate>Encryption is hard, but using it shouldn’t be. We believe</span>
						<i translate>everyone</i>
						<span translate>deserves privacy, not only security experts.</span>
					</p>
					<p translate>
						Cyph is a next-generation messenger app that makes privacy the new status quo.
					</p>
					<p translate>
						With Cyph, never again will you need to ask someone else to install or configure or sign up for anything, when all you need is a one-off private discussion.
					</p>
					<p translate>
						One click and you’re secure.
					</p>
				</div>
			</div>
		</section>


		<!-- <section id='about' ng-show='isAbout' class='unisection'> -->

		<section id='about'>
			<div class='hero-text' translate>
				Our Story
			</div>
			<div class='section-content-container'>
				<p translate>
					Cyph was founded by two former SpaceX engineers to meet their own high standards of what chat should be: completely private and delightfully dope.
				</p>
				<p translate>
					<div class='founder-photos grid-container'>
						<div class='wow desktop-class-bounceInLeft mobile-class-bounceInRight grid-40 suffix-20 tablet-grid-40 tablet-suffix-20 mobile-grid-100'>
							<span class='mobile-grid-33'><img src='/img/ryan.png' /></span>
							<strong class='mobile-grid-66'>Ryan Lester</strong>
						</div>
						<div class='wow desktop-class-bounceInRight mobile-class-bounceInLeft grid-40 tablet-grid-40 mobile-grid-100'>
							<span class='mobile-grid-33 mobile-push-66'><img src='/img/josh.png' /></span>
							<strong class='mobile-grid-66 mobile-pull-33'>Baron Joshua Cyrus Boehm</strong>
						</div>
					</div>
				</p>
				<p translate>
					We've been friends since we first met 17 years ago, and we've since spent a lot of time working together over the years – most recently for Elon Musk on a small team at SpaceX.
				</p>
				<p translate>
					The two of us have always been pretty big on keeping private things private, which turns out not to be a trivial goal. Even ignoring government surveillance, the issue is fundamentally the same: sending data openly through the Internet involves trusting <i>a lot</i> of random strangers.
				</p>
				<p translate>
					Over time, we'd variously used PGP, Pidgin OTR, and a number of different encrypted chat services; and never been quite satisfied.
				</p>
				<p translate>
					We knew there had to be a better way, that a future where everyone could have privacy was possible.
				</p>
				<p translate>
					So, we created Cyph.
				</p>
			</div>
		</section>

		<section id='error' ng-show='isError' class='unisection'>
			<div>
				<h1 translate>I'm sorry, but your cyph is in another castle...</h1>
			</div>
			<img src='/img/404.png' />
			<div id='errorExplanation'>
				<p translate>Reasons why you may have landed here:</p>
				<ul>
					<li translate>
						A glitch in the matrix
					</li>
					<li translate>
						You're just guessing random URLs
					</li>
					<li translate>
						We broke something
					</li>
				</ul>
			</div>
		</section>

		<section id='faq' ng-show='isFaq' class='unisection'>
			<div class='hero-text' translate>
				Frequently Asked Questions
			</div>
			<div class='section-content-container'>
				<ul>
					<li translate>
						<p>
							<strong>Dear Cyph, what's coming soon?</strong>
						</p>
						<p>
							Threat model, design specs / how it works, and a FAQ page with more than one question. Stay tuned!
						</p>
					</li>
				</ul>
			</div>
		</section>

		<section id='termsofservice' ng-show='isTos' class='unisection'>
			<div class='hero-text' translate>
				Terms of Service
			</div>
			<div class='section-content-container'>
				<p translate>
					Gonna update this later, but for now let's just say that you can't sue us or murder us for any reason and we make no guarantees about anything.
				</p>
				<p translate>
					(It's not like anyone will ever read this anyway.)
				</p>
			</div>
		</section>

		<section id='privacypolicy' ng-show='isPrivacyPolicy' class='unisection'>
			<div class='hero-text' translate>
				Privacy Policy
			</div>
			<div class='section-content-container'>
				<p translate>
					Gonna update this pretty soon (unlike the ToS, this is actually kind of important considering what we do), but the main things are:
				</p>
				<ul>
					<li translate>
						Our corporate site / landing page has Google Analytics included
					</li>
					<li translate>
						Our actual app briefly loads Google Analytics in a sandboxed iframe then deletes the iframe after 10 seconds
					</li>
					<li translate>
						Our backend keeps track of: total cyphs started, total number of messages sent, total beta invite list signups
					</li>
					<li translate>
						Our server keeps a log of all incoming requests
					</li>
					<li translate>
						We absolutely, 100%, NEVER and NEVER WILL ever send or store plaintext versions of your encrypted data
					</li>
					<li translate>
						Obligatory canary: we have not been approached by any government with a request to backdoor our code
					</li>
				</ul>
			</div>
		</section>

		<footer id='footer'>
			<section ng-hide='podcast || ((isError || isAbout || isFaq || isTos || isPrivacyPolicy) && betaSignupState > 2)'>
				<form class='beta-signup-form' ng-submit='submitBetaSignup()'>
					<div ng-show='betaSignupState == 0'>
						<div translate>
							Join the waitlist for Cyph v2!
						</div>
						<md-text-float type='email' label='email' ng-model='betaSignup.Email' translate></md-text-float>
					</div>

					<div ng-show='betaSignupState == 1'>
						<div translate>
							Thanks so much for signing up!
						</div>
						<div translate>
							Feel free to add your name as well. :)
						</div>
						<md-text-float label='name (optional)' ng-model='betaSignup.Name' translate></md-text-float>
					</div>

					<div ng-show='betaSignupState == 2'>
						You rock.
					</div>

					<md-button type='submit' class='hidden-submit-button' aria-label=''></md-button>
				</form>
			</section>

			<section ng-show='podcast || ((isError || isAbout || isFaq || isTos || isPrivacyPolicy) && betaSignupState > 2)'>
				<md-button
					id='new-cyph-footer'
					target='_blank'
					aria-label='Start new cyph'
				>
					<a translate href='//www.cyph.im/#new'>Start new cyph</a>
				</md-button>
			</section>

			<div class='footer-info'>
				&copy; Cyph 2014
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_blank' href='//twitter.com/cyph'>@cyph</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='mailto:hello@cyph.com'>hello@cyph.com</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='tel:+19312974462' title='+1(931) 297 4462'>+1(931) CYPH INC</a>
				<!-- <a target='_self' href='tel:+18447472974' title='+1 THIS IS CYPH'>+1 THIS IS CYPH</a> -->

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_self' href='bitcoin:1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd'>1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd</a>
			</div>
			<div class='footer-bullshit'>
				<a href='/faq'>FAQ</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='/termsofservice'>Terms of Service</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='/privacypolicy'>Privacy Policy</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_blank' href='//www.youtube.com/watch?v=YChUrtGTi98'>Promo Video</a>
			</div>
		</footer>


		</section>



		<div id='background-video'>
			<video autoplay loop mobile-poster='/video/background.png'>
				<source src='/video/background.webm' type='video/webm' />
				<source src='/video/background.mp4' type='video/mp4' />
				<source src='/video/background.ogv' type='video/ogg' />
			</video>
		</div>

		<!--
			<div id='pre-load'>
				<div class='double-bounce1'></div>
				<div class='double-bounce2'></div>
			</div>
		-->



		<link rel='stylesheet' href='/lib/bower_components/unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet-no-ie7.css' />
		<link rel='stylesheet' href='/lib/bower_components/angular-material/angular-material.css' />
		<link rel='stylesheet' href='/lib/bower_components/animate.css/animate.min.css' />

		<link rel='stylesheet' href='/css/fonts.css' />
		<link rel='stylesheet' href='/css/cyph.base.css' />
		<link rel='stylesheet' href='/css/cyph.com.css' />

		<script src='/js/translate.js'></script>

		<script src='/lib/bower_components/jquery/dist/jquery.min.js'></script>

		<script src='/js/errorlog.js'></script>

		<script src='/lib/bower_components/angular/angular.min.js'></script>
		<script src='/lib/bower_components/angular-aria/angular-aria.js'></script>
		<script src='/lib/bower_components/angular-animate/angular-animate.js'></script>
		<script src='/lib/bower_components/hammerjs/hammer.js'></script>
		<script src='/lib/bower_components/angular-material/angular-material.js'></script>
		<script src='/lib/bower_components/wow/dist/wow.min.js'></script>

		<script src='/js/cyph.js'></script>
		<script src='/js/cyph.com.js'></script>
		<script src='/js/ui.js'></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-56220601-1', 'auto');
			ga('send', 'pageview');
		</script>

	</body>
</html>
