<!DOCTYPE html>
<html class='no-js' ng-app='Cyph' ng-controller='CyphController'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />

		<title translate>Cyph &ndash; Encrypted Messenger</title>
		<meta
			name='description'
			content='Start an ad-hoc encrypted conversation with anyone, in just one click. Now with voice and video calling!'
		/>
		<meta name='keywords' content='secure chat, secure email service, encrypted chat, silent circle, secure chat client, cryptocat, secure video chat, wickr, encrypted chat app, secure chat app, textsecure' />

		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

		<meta name='apple-mobile-web-app-capable' content='yes' />
		<meta name='mobile-web-app-capable' content='yes' />

		<link rel='icon' sizes='192x192' type='image/png' href='/img/favicon/favicon-192x192.png' />
		<link rel='icon' sizes='160x160' type='image/png' href='/img/favicon/favicon-160x160.png' />
		<link rel='icon' sizes='96x96' type='image/png' href='/img/favicon/favicon-96x96.png' />
		<link rel='icon' sizes='32x32' type='image/png' href='/img/favicon/favicon-32x32.png' />
		<link rel='icon' sizes='16x16' type='image/png' href='/img/favicon/favicon-16x16.png' />
		<link rel='apple-touch-icon' sizes='180x180' type='image/png' href='/img/favicon/apple-touch-icon-180x180.png' />
		<link rel='apple-touch-icon' sizes='152x152' type='image/png' href='/img/favicon/apple-touch-icon-152x152.png' />
		<link rel='apple-touch-icon' sizes='144x144' type='image/png' href='/img/favicon/apple-touch-icon-144x144.png' />
		<link rel='apple-touch-icon' sizes='120x120' type='image/png' href='/img/favicon/apple-touch-icon-120x120.png' />
		<link rel='apple-touch-icon' sizes='114x114' type='image/png' href='/img/favicon/apple-touch-icon-114x114.png' />
		<link rel='apple-touch-icon' sizes='76x76' type='image/png' href='/img/favicon/apple-touch-icon-76x76.png' />
		<link rel='apple-touch-icon' sizes='72x72' type='image/png' href='/img/favicon/apple-touch-icon-72x72.png' />
		<link rel='apple-touch-icon' sizes='60x60' type='image/png' href='/img/favicon/apple-touch-icon-60x60.png' />
		<link rel='apple-touch-icon' sizes='57x57' type='image/png' href='/img/favicon/apple-touch-icon-57x57.png' />
		<meta name='msapplication-TileColor' content='#8b62d9' />
		<meta name='msapplication-TileImage' content='/img/favicon/mstile-144x144.png' />

		<meta property='og:title' content='Cyph &ndash; Encrypted Messenger' />
		<meta
			property='og:description'
			content='Start an ad-hoc encrypted conversation with anyone, in just one click. Now with voice and video calling!'
		/>
		<meta property='og:image' content='https://www.cyph.com/img/metaimage.png' />
		<meta property='og:url' content='https://www.cyph.com/' />
		<meta property='og:type' content='website' />

		<link rel='stylesheet' href='/css/loading.css' />
	</head>
	<body>
		<section id='main' layout='column' ng-class='{"unisection-mode": ui.state !== Cyph.com.UI.States.home}'>

		<a id='logo' href='/'>
			<img src='/img/logo.white.horizontal.header.png' />
		</a>

		<img id='bouncing-down-arrow' class='animated' ng-click='ui.scrollHeroText()' src='/img/icons/downarrow.png' />


		<section id='new-cyph-section'>
			<md-button id='new-cyph' aria-label='Start new cyph' class='breathe'>
				<a translate ng-href='{{Cyph.Env.newCyphUrl}}'>Start new cyph</a>
			</md-button>
		</section>

		<md-toolbar id='main-toolbar'>
			<div class='md-toolbar-tools'></div>
		</md-toolbar>

		<section id='hero-section'>
			<div class='hero-text animated'>
				<div translate>Talk Without Barriers</div>
				<div class='subtitle'>
					A beautiful, surveillance-free chat experience.
				</div>
			</div>
			<div class='feature-list-container grid-container'>
				<div class='grid-33 tablet-grid-33 grid-parent'>
					<div class='wow desktop-class-bounceInLeft mobile-class-bounceInRight grid-100 tablet-grid-100 feature-list-item'>
						<img
							class='grid-33 tablet-grid-33 push-66 tablet-push-66 mobile-pull-10 mobile-grid-25'
							src='/img/iconfinder/encryption.png'
						/>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-push mobile-push-25 mobile-grid-85'>
							<p class='title' translate>
								End-to-end encryption
							</p>
						</div>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-grid-100'>
							<p>
								<span translate>Encrypted and authenticated via</span>
								<a target='_blank' href='https://en.wikipedia.org/wiki/Off-the-Record_Messaging' translate>OTR</a>
								<span translate>and the</span>
								<a target='_blank' href='http://twistedoakstudios.com/blog/Post3724_explain-it-like-im-five-the-socialist-millionaire-problem-and-secure-multi-party-computation' translate>Socialist Millionaire Protocol</a>.
							</p>
						</div>
						<div class='grid-100 tablet-grid-100 mobile-grid-100'>
							<p>
								<span translate>To crack a single Cyph message would take longer than the age of the universe &mdash; even using the fastest supercomputer on Earth.</span>
							</p>
						</div>
					</div>
					<div class='wow bounceInLeft grid-100 tablet-grid-100 feature-list-item' desktop-data-wow-delay='150ms'>
						<img
							class='grid-33 tablet-grid-33 push-66 tablet-push-66 mobile-push-75 mobile-grid-25'
							src='/img/iconfinder/video.png'
						/>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-pull-5 mobile-grid-85'>
							<p class='title' translate>
								Voice and video calling
							</p>
						</div>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-grid-100'>
							<p>
								<span translate>Encrypted and authenticated via</span>
								<a target='_blank' href='http://en.wikipedia.org/wiki/WebRTC' translate>WebRTC</a>
								<span translate>and</span>
								<a target='_blank' href='http://tools.ietf.org/html/rfc5764' translate>DTLS-SRTP</a>.
							</p>
						</div>
					</div>
					<div class='wow bounceInLeft grid-100 tablet-grid-100 feature-list-item' desktop-data-wow-delay='300ms'>
						<img
							class='grid-33 tablet-grid-33 push-66 tablet-push-66 mobile-pull-10 mobile-grid-25'
							src='/img/iconfinder/photos.png'
						/>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-push mobile-push-25 mobile-grid-85'>
							<p class='title' translate>
								Send files and images
							</p>
						</div>
						<div class='grid-66 tablet-grid-66 pull-33 tablet-pull-33 mobile-grid-100'>
							<p>
								<span translate>
									Your photos are safe, and that's a great feeling. You won't have to worry about "The Cyphoning".
								</span>
							</p>
						</div>
					</div>
				</div>

				<img class='grid-33 tablet-grid-33 mobile-grid-100 screenshot' src='/img/phone-screenshot.png' />

				<div class='grid-33 tablet-grid-33 grid-parent'>
					<div class='wow desktop-class-bounceInRight mobile-class-bounceInLeft grid-100 tablet-grid-100 feature-list-item'>
						<img
							class='grid-33 tablet-grid-33 mobile-pull-10 mobile-push-75 mobile-grid-25'
							src='/img/iconfinder/anonymous.png'
						/>
						<div class='grid-66 tablet-grid-66 mobile-pull-5 mobile-grid-85'>
							<p class='title'>
								<span translate>Anonymity through</span>
								<a target='_blank' href='https://en.wikipedia.org/wiki/Tor_%28anonymity_network%29' translate>Tor</a>
							</p>
						</div>
						<div class='grid-66 tablet-grid-66 mobile-grid-100'>
							<p>
								<span translate>Want to hide that you're cyphing at all?</span>
							</p>
						</div>
						<div class='grid-100 tablet-grid-100 mobile-grid-100'>
							<p>
								<span translate>Just</span>
								<a target='_blank' href='https://www.torproject.org/download/download-easy.html.en' translate>install Tor Browser</a>
								<span translate>and navigate to</span>
								<a class='oneline' target='_blank' ng-href='{{Cyph.Config.onionUrl}}'>https://cyphdbyhiddenbhs.onion</a>
								<i>("cyph'd by hidden backbone host server")</i>.
							</p>
						</div>
					</div>
					<div class='wow bounceInRight grid-100 tablet-grid-100 feature-list-item' desktop-data-wow-delay='150ms'>
						<img
							class='grid-33 tablet-grid-33 mobile-pull-10 mobile-grid-25'
							src='/img/iconfinder/signing.png'
						/>
						<div class='grid-66 tablet-grid-66 mobile-push mobile-push-25 mobile-grid-85'>
							<p class='title' translate>
								Cryptographically signed
							</p>
						</div>
						<div class='grid-66 tablet-grid-66 mobile-grid-100'>
							<p>
								<span translate>
									Application packages are verified at run-time against our personal public keys &mdash;
									so even if our servers get pwned, you won't.
								</span>
							</p>
						</div>
					</div>
					<div class='wow bounceInRight grid-100 tablet-grid-100 feature-list-item' desktop-data-wow-delay='300ms'>
						<img
							class='grid-33 tablet-grid-33 mobile-pull-10 mobile-push-75 mobile-grid-25'
							src='/img/iconfinder/crossplatform.png'
						/>
						<div class='grid-66 tablet-grid-66 mobile-pull-5 mobile-grid-85'>
							<p class='title' translate>
								Works anywhere
							</p>
						</div>
						<div class='grid-66 tablet-grid-66 mobile-grid-100'>
							<p>
								<span translate>Cyph from your desktop, laptop, phone, or tablet!</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id='why-cyph-section'>
			<div class='hero-text' translate>
				About Cyph
			</div>
			<div class='section-content-container'>
				<p translate>
					The mission of Cyph is to free the world from mass surveillance and data-collection.
				</p>
				<p translate>
					We make it ridiculously fast, easy, and fun for anyone to have a completely private conversation online.
				</p>
				<p translate>
					Cyph is the only technology of its kind to make this possible in one click, with zero installation or registration or configuration, for anyone, on any device.
				</p>
				<p translate>
					Before Cyph, any sane security professional would have told you that building a secure application on the Web was impossible. Thanks to a handful of cool innovations, we've turned that impossibility into reality &mdash; and finally made it not suck to stay secure.
				</p>
			</div>
		</section>

		<section id='laptop-screenshot-section'>
			<div class='grid-container'>
				<img class='grid-100 tablet-grid-100 mobile-grid-100 screenshot' src='/img/laptop-screenshot.png' />
			</div>
		</section>

		<section id='home-beta-signup'>
			<div class='hero-text' translate>
				No Signup Required
			</div>
			<div class='section-content-container'>
				<p translate>
					Click the button at the top of your screen to cyph right now!
				</p>
				<form class='beta-signup-form' ng-submit='ui.signupForm.submit()'>
					<div ng-show='ui.signupForm.state === 0'>
						<p>
							<strong translate>However</strong>,
							<span translate>for cool features like group messaging, user accounts, and encrypted chat history, join the waitlist for Cyph v2! (Coming soon to an Internet near you.)</span>
						</p>
						<br />
						<br />
						<md-input-container>
							<label translate>email</label>
							<input type='email' ng-model='ui.signupForm.data.Email' />
						</md-input-container>
					</div>

					<div ng-show='ui.signupForm.state === 1'>
						<div>
							<p translate>
								Thanks so much for signing up!
							</p>
							<p translate>
								Feel free to add your name as well. :)
							</p>
						</div>
						<md-input-container>
							<label translate>name (optional)</label>
							<input ng-model='ui.signupForm.data.Name' />
						</md-input-container>
					</div>

					<div translate ng-show='ui.signupForm.state > 1'>
						You rock.
					</div>

					<md-button
						translate
						type='submit'
						aria-label='Sign up for beta'
						ng-hide='ui.signupForm.state > 1'
					>
						Sign up for beta
					</md-button>
				</form>
			</div>
		</section>

		<section id='podcast-section' ng-show='ui.state === Cyph.com.UI.States.podcast' class='unisection'>
			<div class='hero-text animated' ng-class='{bounceInDown: ui.podcast !== Cyph.com.UI.Podcasts.jjgo, bounceInLeft: ui.podcast === Cyph.com.UI.Podcasts.jjgo}'>
				<img class='podcast-logo'>
			</div>

			<div class='section-content-container'>
				<div>
					<p>
						<form class='beta-signup-form' ng-submit='ui.signupForm.submit()'>
							<div ng-show='ui.signupForm.state === 0'>
								<div>
									<p ng-show='ui.podcast === Cyph.com.UI.Podcasts.betalist'>
										<span translate>Welcome</span>
										<span>Betalisters!</span>
									</p>
									<p ng-hide='ui.podcast === Cyph.com.UI.Podcasts.betalist'>
										<span translate>Welcome</span>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.penn'>Penn's Sunday School</i>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.jjgo'>Jordan, Jesse, Go!</i>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.ventura'>We The People</i>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.sawbones'>Sawbones</i>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.judgejohn'>Judge John Hodgman</i>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.mybrother'>My Brother, My Brother and Me</i>
										<i ng-show='ui.podcast === Cyph.com.UI.Podcasts.security'>The Security Brief</i>
										<span translate>listeners!</span>
									</p>
									<p translate>
										Sign up below, and get bumped to the front of our waitlist for Cyph v2.
									</p>
								</div>
								<md-input-container>
									<label translate>email</label>
									<input type='email' ng-model='ui.signupForm.data.Email' />
								</md-input-container>
							</div>

							<div ng-show='ui.signupForm.state === 1'>
								<div translate>
									Thanks so much for signing up!
								</div>
								<div translate>
									Feel free to add your name as well. :)
								</div>
								<md-input-container>
									<label translate>name (optional)</label>
									<input ng-model='ui.signupForm.data.Name' />
								</md-input-container>
							</div>

							<div translate ng-show='ui.signupForm.state === 2'>
								You rock.
							</div>

							<md-button type='submit' class='hidden-submit-button' aria-label=''></md-button>
						</form>
					</p>
					<p>
						<br />
						<h1 translate>About Cyph</h1>
					</p>
					<p>
						<span translate>Encryption is hard, but using it shouldn’t be. We believe</span>
						<i translate>everyone</i>
						<span translate>deserves privacy, not only security experts.</span>
					</p>
					<p translate>
						Cyph is a next-generation messenger app that makes privacy the new status quo.
					</p>
					<p translate>
						With Cyph, never again will you need to ask someone else to install or configure or sign up for anything, when all you need is a one-off private discussion.
					</p>
					<p translate>
						One click and you’re secure.
					</p>
				</div>
			</div>
		</section>


		<section id='about'>
			<div class='hero-text' translate>
				Our Team
			</div>
			<div class='section-content-container'>
				<p translate>
					Cyph was founded by two former SpaceX engineers, to create a future where everyone could have the privacy they deserve.
				</p>
				<p translate>
					<div class='founder-photos grid-container'>
						<div class='wow desktop-class-bounceInLeft mobile-class-bounceInRight grid-40 suffix-20 tablet-grid-40 tablet-suffix-20 mobile-grid-100'>
							<span class='mobile-grid-33'><img src='/img/ryan.png' /></span>
							<div class='mobile-grid-66 name'>Ryan Lester</div>
						</div>
						<div class='wow desktop-class-bounceInRight mobile-class-bounceInLeft grid-40 tablet-grid-40 mobile-grid-100'>
							<span class='mobile-grid-33 mobile-push-66'><img src='/img/josh.png' /></span>
							<div class='mobile-grid-66 mobile-pull-33 name'>Baron Joshua Cyrus Boehm</div>
						</div>
					</div>
				</p>
				<p translate>
					We've been friends since we first met 17 years ago, and we've since spent a lot of time working together over the years &mdash; most recently for Elon Musk at the aforementioned rocket factory.
				</p>
				<p translate>
					While the two of us are very strong supporters of Internet freedom and privacy, communicating online securely with our non-engineer friends has always been such a hassle that it really wasn't an option.
				</p>
				<p translate>
					We knew there had to be a better way, so we created Cyph.
				</p>
			</div>
		</section>

		<section id='error' ng-show='ui.state === Cyph.com.UI.States.error' class='unisection'>
			<div>
				<h1 translate>I'm sorry, but your cyph is in another castle...</h1>
			</div>
			<img src='/img/404.png' />
			<div id='errorExplanation'>
				<p translate>Reasons why you may have landed here:</p>
				<ul>
					<li translate>
						A glitch in the matrix
					</li>
					<li translate>
						You're just guessing random URLs
					</li>
					<li translate>
						We broke something
					</li>
				</ul>
			</div>
		</section>

		<section id='faq' ng-show='ui.state === Cyph.com.UI.States.faq' class='unisection'>
			<div class='hero-text' translate>
				Frequently Asked Questions
			</div>
			<div class='section-content-container'>
				<ul>
					<li translate>
						<p>
							<strong>Dear Cyph, what's coming soon?</strong>
						</p>
						<p>
							Threat model, design specs / how it works, and a FAQ page with more than one question. Stay tuned!
						</p>
					</li>
				</ul>
			</div>
		</section>

		<section id='termsofservice' ng-show='ui.state === Cyph.com.UI.States.termsofservice' class='unisection'>
			<div class='hero-text' translate>
				Terms of Service
			</div>
			<div class='section-content-container'>
				<ol>
					<li>
						<strong translate>Terms</strong>
						<p translate>
							By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trade mark law.
						</p>
					</li>
					<li>
						<strong translate>Use License</strong>
						<ol type='a'>
							<li translate>
								<p translate>
									Permission is granted to temporarily download one copy of the materials (information or software) on Cyph's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
								</p>
								<ol type='i'>
									<li translate>
										modify or copy the materials;
									</li>
									<li translate>
										use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
									</li>
									<li translate>
										attempt to decompile or reverse engineer any software contained on Cyph's website;
									</li>
									<li translate>
										remove any copyright or other proprietary notations from the materials; or
									</li>
									<li translate>
										transfer the materials to another person or "mirror" the materials on any other server.
									</li>
								</ol>
							</li>
							<li translate>
								This license shall automatically terminate if you violate any of these restrictions and may be terminated by Cyph at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
							</li>
						</ol>
					</li>
					<li>
						<strong translate>Disclaimer</strong>
						<p translate>
							The materials on Cyph's website are provided "as is". Cyph makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Cyph does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet website or otherwise relating to such materials or on any sites linked to this site.
						</p>
					</li>
					<li>
						<strong translate>Limitations</strong>
						<p translate>
							In no event shall Cyph or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Cyph's Internet site, even if Cyph or a Cyph authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
						</p>
					</li>
					<li>
						<strong translate>Revisions and Errata</strong>
						<p translate>
							The materials appearing on Cyph's website could include technical, typographical, or photographic errors. Cyph does not warrant that any of the materials on its website are accurate, complete, or current. Cyph may make changes to the materials contained on its website at any time without notice. Cyph does not, however, make any commitment to update the materials.
						</p>
					</li>
					<li>
						<strong translate>Links</strong>
						<p translate>
							Cyph has not reviewed all of the sites linked to its Internet website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Cyph of the site. Use of any such linked website is at the user's own risk.
						</p>
					</li>
					<li>
						<strong translate>Site Terms of Use Modifications</strong>
						<p translate>
							Cyph may revise these terms of use for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
						</p>
					</li>
					<li>
						<strong translate>Governing Law</strong>
						<p translate>
							Any claim relating to Cyph's website shall be governed by the laws of the State of VA without regard to its conflict of law provisions.
						</p>
					</li>
				</ol>
			</div>
		</section>

		<section id='privacypolicy' ng-show='ui.state === Cyph.com.UI.States.privacypolicy' class='unisection'>
			<div class='hero-text' translate>
				Privacy Policy
			</div>
			<div class='section-content-container'>
				<p translate>
					Privacy is what Cyph is all about, so your privacy is very important to us! Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
				</p>
				<ul>
					<li translate>
						Before or at the time of collecting any personal information, we will identify the purposes for which information is being collected.
					</li>
					<li translate>
						We will collect and use of personal information only when necessary, solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
					</li>
					<li translate>
						We will only retain personal information as long as necessary for the fulfillment of those purposes.
					</li>
					<li translate>
						We will protect personal information by security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
					</li>
					<li translate>
						We collect and use limited data with Google Analytics on our corporate site (cyph.com), as well as in a sandboxed iframe for cyph.im (the Cyph application), which then self-destructs after 10 seconds. Our backend logs the total number cyphs started, number of messages sent, beta-list sign-ups, and incoming requests.
					</li>
					<li translate>
						We do not and will never view, log, or transfer plaintext versions of your encrypted data, nor the private keys and mutually shared secrets needed in order to decipher them.
					</li>
					<li translate>
						We have not been approached by any agency, government or otherwise, with a request to backdoor our code. We are currently working on implementing a better warrant canary system.
					</li>
				</ul>
				<p translate>
					We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
				</p>
				<p>
					<span translate>If you have any questions about our policy, please email us at</span>
					<a href='mailto:privacy@cyph.com' translate>privacy@cyph.com</a>.
				</p>
			</div>
		</section>

		<footer id='footer'>
			<section ng-hide='ui.podcast !== Cyph.com.UI.Podcasts.none || (ui.state !== Cyph.com.UI.States.home && ui.signupForm.state > 2)'>
				<form class='beta-signup-form' ng-submit='ui.signupForm.submit()'>
					<div ng-show='ui.signupForm.state === 0'>
						<div translate>
							Join the waitlist for Cyph v2!
						</div>
						<md-input-container>
							<label translate>email</label>
							<input type='email' ng-model='ui.signupForm.data.Email' />
						</md-input-container>
					</div>

					<div ng-show='ui.signupForm.state === 1'>
						<div translate>
							Thanks so much for signing up!
						</div>
						<div translate>
							Feel free to add your name as well. :)
						</div>
						<md-input-container>
							<label translate>name (optional)</label>
							<input ng-model='ui.signupForm.data.Name' />
						</md-input-container>
					</div>

					<div translate ng-show='ui.signupForm.state === 2'>
						You rock.
					</div>

					<md-button type='submit' class='hidden-submit-button' aria-label=''></md-button>
				</form>
			</section>

			<section ng-show='ui.podcast !== Cyph.com.UI.Podcasts.none || (ui.state !== Cyph.com.UI.States.home && ui.signupForm.state > 2)'>
				<md-button
					id='new-cyph-footer'
					target='_blank'
					aria-label='Start new cyph'
					class='breathe'
				>
					<a translate ng-href='{{Cyph.Env.newCyphUrl}}'>Start new cyph</a>
				</md-button>
			</section>

			<div class='footer-info'>
				&copy; Cyph 2015
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_blank' href='https://twitter.com/cyph'>@cyph</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='mailto:hello@cyph.com'>hello@cyph.com</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='tel:+19312974462' title='+1(931) 297 4462'>+1(931) CYPH INC</a>
				<!-- <a target='_self' href='tel:+18447472974' title='+1 THIS IS CYPH'>+1 THIS IS CYPH</a> -->

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_self' href='bitcoin:1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd'>1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd</a>
			</div>
			<div class='footer-bullshit'>
				<a href='/faq'>FAQ</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='/termsofservice'>Terms of Service</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='/privacypolicy'>Privacy Policy</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_blank' href='https://www.youtube.com/watch?v=YChUrtGTi98'>Promo Video</a>
			</div>
		</footer>


		</section>



		<div id='background-video'>
			<video autoplay loop mobile-poster='/video/background.png'>
				<source src='/video/background.webm' type='video/webm' />
				<source src='/video/background.mp4' type='video/mp4' />
				<source src='/video/background.ogv' type='video/ogg' />
			</video>
		</div>

		<div id='pre-load'>
			<div class='double-bounce1'></div>
			<div class='double-bounce2'></div>
		</div>



		<link rel='stylesheet' href='/lib/bower_components/unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet-no-ie7.css' />
		<link rel='stylesheet' href='/lib/bower_components/angular-material/angular-material.css' />
		<link rel='stylesheet' href='/lib/bower_components/animate.css/animate.min.css' />

		<link rel='stylesheet' href='/css/fonts.css' />
		<link rel='stylesheet' href='/css/cyph.base.css' />
		<link rel='stylesheet' href='/css/cyph.com.css' />

		<script src='/lib/bower_components/jquery/dist/jquery.min.js'></script>
		<script src='/lib/bower_components/angular/angular.min.js'></script>
		<script src='/lib/bower_components/angular-aria/angular-aria.min.js'></script>
		<script src='/lib/bower_components/angular-animate/angular-animate.min.js'></script>
		<script src='/lib/bower_components/angular-material/angular-material.min.js'></script>
		<script src='/lib/bower_components/wow/dist/wow.min.js'></script>

		<script src='/js/cyph.com/main.js'></script>

	</body>
</html>
