<!DOCTYPE html>
<html class='no-js' ng-app='Cyph' ng-controller='CyphController'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />

		<title translate>Cyph &ndash; Privacy starts here.</title>
		<meta translate name='description' content='Simple, frictionless private conversation with anyone at any time.' />

		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

		<meta name='apple-mobile-web-app-capable' content='yes' />
		<meta name='mobile-web-app-capable' content='yes' />

		<link rel='apple-touch-icon' sizes='57x57' href='/img/favicon/apple-touch-icon-57x57.png' />
		<link rel='apple-touch-icon' sizes='114x114' href='/img/favicon/apple-touch-icon-114x114.png' />
		<link rel='apple-touch-icon' sizes='72x72' href='/img/favicon/apple-touch-icon-72x72.png' />
		<link rel='apple-touch-icon' sizes='144x144' href='/img/favicon/apple-touch-icon-144x144.png' />
		<link rel='apple-touch-icon' sizes='60x60' href='/img/favicon/apple-touch-icon-60x60.png' />
		<link rel='apple-touch-icon' sizes='120x120' href='/img/favicon/apple-touch-icon-120x120.png' />
		<link rel='apple-touch-icon' sizes='76x76' href='/img/favicon/apple-touch-icon-76x76.png' />
		<link rel='apple-touch-icon' sizes='152x152' href='/img/favicon/apple-touch-icon-152x152.png' />
		<link rel='apple-touch-icon' sizes='180x180' href='/img/favicon/apple-touch-icon-180x180.png' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-192x192.png' sizes='192x192' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-160x160.png' sizes='160x160' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-96x96.png' sizes='96x96' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-16x16.png' sizes='16x16' />
		<link rel='icon' type='image/png' href='/img/favicon/favicon-32x32.png' sizes='32x32' />
		<meta name='msapplication-TileColor' content='#8b62d9' />
		<meta name='msapplication-TileImage' content='/img/favicon/mstile-144x144.png' />

		<link rel='stylesheet' href='/css/preload.css' />
	</head>
	<body>
		<section id='main' layout='vertical' class='nano'><div class='nano-content'>

		<!-- <md-sidenav component-id='menu' class='md-sidenav-right'>
			<md-content class='md-content-padding'>
				<div>
					<md-button
						translate
						aria-label='About'
						ng-click='baseButtonClick()'
						href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
					>
						About
					</md-button>
				</div>
				<div>
					<md-button
						translate
						aria-label='FAQ'
						ng-click='baseButtonClick()'
						href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
					>
						FAQ
					</md-button>
				</div>
				<div>
					<md-button
						translate
						aria-label='Blog'
						ng-click='baseButtonClick()'
						href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
					>
						Blog
					</md-button>
				</div>
			</md-content>
		</md-sidenav> -->

		<a id='logo' href='/'>
			<img src='/img/logo.white.horizontal.header.png' />
		</a>

		<!--
			<img id='bouncing-down-arrow' class='animated' ng-click='scrollDown()' src='/img/icons/downarrow.png' />
		-->

		<section>
			<div id='hero-text' class='animated bounceInDown'>
				<img src='/img/penn.png'>
			</div>

			<div class='beta-signup-form-container'>
				<div>
					<p>
						Welcome Penn's Sunday School listeners!
					</p>
					<p>
						Sign up on the right, and get bumped to the front of our waitlist for Cyph v2.
					</p>
					<p>
						<br />
						<h1>What is Cyph?</h1>
					</p>
					<p>
						Encryption is hard, but it shouldn’t be. We believe that <i>everyone</i> deserves privacy, not only security experts.
					</p>
					<p>
						Cyph is a next-generation messenger app that delivers cryptography to the masses, making privacy the new status quo.
					</p>
					<p>
						It was founded by two former SpaceX engineers and childhood friends to meet their own high standards of what chat should be: completely private and delightfully dope.
					</p>
					<p>
						With Cyph, never again will you need to ask someone else to install or configure or sign up for anything, when all you need is a one-off private discussion.
					</p>
					<p>
						Just one click and you’re secure.
					</p>
				</div>

				<form class='beta-signup-form' ng-submit='submitBetaSignup()' ng-class='{complete: betaSignupState > 0}'>
					<md-text-float label='email' ng-model='betaSignup.Email'></md-text-float>
					<md-text-float label='name (optional)' ng-model='betaSignup.Name'></md-text-float>
					<md-button type='submit' aria-label='Sign up for beta'>Sign up for beta</md-button>
				</form>
				<div>
					Thanks a ton for signing up! You'll hear from us shortly. :)
				</div>
			</div>
		</section>

		<md-toolbar id='main-toolbar'>
			<div class='md-toolbar-tools'>
				<!--
				<span flex></span>
				<md-button
					translate
					aria-label='About'
					ng-click='baseButtonClick()'
					href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
				>
					About
				</md-button>
				<md-button
					translate
					aria-label='FAQ'
					ng-click='baseButtonClick()'
					href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
				>
					FAQ
				</md-button>
				<md-button
					translate
					aria-label='Blog'
					ng-click='baseButtonClick()'
					href='//www.reddit.com/wiki/commenting/.compact#wiki_posting'
				>
					Blog
				</md-button>
				-->

				<!--
					<span flex></span>
					<md-button translate aria-label='Menu' ng-click='openMobileMenu()'>
						<img src='/img/icons/menu.png' />
					</md-button>
				-->
			</div>
		</md-toolbar>

		<footer id='footer'>
			<section>
				<md-button
					id='new-cyph-footer'
					href='//cyph.im/new'
					target='_blank'
					aria-label='Start new cyph'
				>
					Start new cyph
				</md-button>
			</section>
			<div class='footer-info'>
				&copy; Cyph 2014
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_blank' href='//twitter.com/cyph'>@cyph</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href='mailto:hello@cyph.com'>hello@cyph.com</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_self' href='tel:+19312974462' title='+1(931) 297 4462'>+1(931) CYPH INC</a>
				<!-- <a target='_self' href='tel:+18447472974' title='+1 THIS IS CYPH'>+1 THIS IS CYPH</a> -->

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target='_self' href='bitcoin:1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd'>1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd</a>
			</div>
		</footer>


		</div></section>



		<div id='background-video'>
			<video autoplay loop class='desktop-only'>
				<source src='/video/background.webm' type='video/webm' />
				<source src='/video/background.mp4' type='video/mp4' />
				<source src='/video/background.ogv' type='video/ogg' />
			</video>

			<img deferred-src='/video/background.gif' class='mobile-only' />
		</div>

		<!--
			<div id='pre-load'>
				<div class='double-bounce1'></div>
				<div class='double-bounce2'></div>
			</div>
		-->



		<link rel='stylesheet' href='/lib/bower_components/angular-material/angular-material.css' />
		<link rel='stylesheet' href='/lib/bower_components/nanoscroller/bin/css/nanoscroller.css' />
		<link rel='stylesheet' href='/lib/bower_components/animate.css/animate.min.css' />

		<link rel='stylesheet' href='/css/cyph.base.css' />
		<link rel='stylesheet' href='/css/podcast.css' />


		<script src='/lib/bower_components/jquery/dist/jquery.min.js'></script>

		<script src='/js/errorlog.js'></script>

		<script src='/lib/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js'></script>
		<script src='/lib/bower_components/angular/angular.min.js'></script>
		<script src='/lib/bower_components/angular-aria/angular-aria.js'></script>
		<script src='/lib/bower_components/angular-animate/angular-animate.js'></script>
		<script src='/lib/bower_components/hammerjs/hammer.js'></script>
		<script src='/lib/bower_components/angular-material/angular-material.js'></script>

		<script src='/js/podcast.js'></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-56220601-1', 'auto');
			ga('send', 'pageview');
		</script>

	</body>
</html>
