<div fxFlexFill>
	<cyph-account-contacts
		fxFlex
		fxFlexFill
		fxLayout='column'
		*ngIf='appService.accountState === appService.accountStates.contacts'
	></cyph-account-contacts>

	<cyph-account-login
		fxFlex
		fxFlexFill
		fxLayout='column'
		*ngIf='appService.accountState === appService.accountStates.login'
	></cyph-account-login>

	<cyph-account-profile
		fxFlex
		fxFlexFill
		fxLayout='column'
		*ngIf='appService.accountState === appService.accountStates.profile'
	></cyph-account-profile>

	<cyph-account-register
		fxFlex
		fxFlexFill
		fxLayout='column'
		*ngIf='appService.accountState === appService.accountStates.register'
	></cyph-account-register>

	<cyph-account-settings
		fxFlex
		fxFlexFill
		fxLayout='column'
		*ngIf='appService.accountState === appService.accountStates.settings'
	></cyph-account-settings>
</div>
