<!-- TODO: Find a less hackish way to apply the theme globally than mat-sidenav-container. -->
<span fxFlexFill *ngIf='!appService.isLockedDown; else lockdown' class='mat-sidenav-container'>
	<cyph-ephemeral-chat-root fxFlexFill *ngIf='appService.state !== appService.states.account'>
		<section fxFlexFill fxLayout='column' id='main' class='cyph-foreground'>
			<canvas
				[fxShow]='envService.isChrome || envService.isEdge || envService.isSafari'
				id='main-chat-gradient'
			></canvas>

			<h3
				class='cyph-banner emphasis warn'
				*ngIf='envService.webSignError && appService.state !== appService.states.chat'
			>
				WARNING: Your Cyph instance has a problem.
				See <a href='https://www.cyph.com/websignerror'>here</a>
				for more details and the solution.
			</h3>

			<cyph-chat-main
				fxFlex
				fxFlexFill
				fxLayout='column'
				[hideDisconnectMessage]='envService.coBranded'
				[messageCountInTitle]='true'
				*ngIf='appService.state === appService.states.chat'
				[@fadeIn]='"in"'
			>
				<cyph-signup-form>
					{{stringsService.signupMessage}}
				</cyph-signup-form>
			</cyph-chat-main>

			<cyph-link-connection
				fxFlex
				fxFlexFill
				fxLayout='column'
				*ngIf='appService.state === appService.states.waitingForFriend'
				[@fadeIn]='"in"'
			></cyph-link-connection>

			<cyph-not-found
				fxFlex
				fxFlexFill
				fxLayout='column'
				*ngIf='appService.state === appService.states.error'
				[@fadeIn]='"in"'
			></cyph-not-found>

			<div
				fxFlex
				fxFlexFill
				fxLayout='column'
				id='blank'
				*ngIf='appService.state === appService.states.blank'
			></div>

			<footer>
				<cyph-chat-message-box
					*ngIf='appService.state === appService.states.chat'
				></cyph-chat-message-box>

				<cyph-footer *ngIf='!envService.isMobile'></cyph-footer>
			</footer>
		</section>

		<cyph-chat-cyphertext></cyph-chat-cyphertext>
	</cyph-ephemeral-chat-root>

	<section
		fxFlexFill
		fxLayout='column'
		id='main'
		*ngIf='appService.state === appService.states.account'
	>
		<cyph-account></cyph-account>
	</section>
</span>

<ng-template #lockdown>
	<section fxFlexFill fxLayout='column' id='main' class='mat-sidenav-container'>
		<cyph-lockdown></cyph-lockdown>
	</section>
</ng-template>
