<span *ngIf='!appService.isLockedDown; else lockdown'>
	<cyph-ephemeral-chat-root *ngIf='appService.state !== appService.states.account'>
		<section id='main' class='cyph-foreground layout-fill layout-column'>
			<canvas [hidden]='envService.isFirefox' id='main-chat-gradient'></canvas>

			<h3
				md-subheader
				*ngIf='envService.webSignError && appService.state !== appService.states.chat'
			>
				WARNING: Your Cyph instance has a problem.
				See <a href='https://www.cyph.com/websignerror'>here</a>
				for more details and the solution.
			</h3>

			<cyph-chat-main
				[hideDisconnectMessage]='envService.coBranded'
				[messageCountInTitle]='true'
				[class.active]='appService.state === appService.states.chat'
				class='cyph-view layout-fill layout-column flex'
			>
				<cyph-signup-form>
					{{stringsService.signupMessage1}}
					{{stringsService.signupMessage2}}
				</cyph-signup-form>
			</cyph-chat-main>

			<cyph-link-connection
				[class.active]='appService.state === appService.states.waitingForFriend'
				class='cyph-view layout-fill layout-column flex'
			></cyph-link-connection>

			<cyph-not-found
				[class.active]='appService.state === appService.states.error'
				class='cyph-view layout-fill layout-column flex'
			></cyph-not-found>

			<div
				[class.active]='appService.state === appService.states.blank'
				id='blank'
				class='cyph-view layout-fill layout-column flex'
			></div>

			<footer>
				<cyph-chat-message-box
					*ngIf='appService.state === appService.states.chat'
				></cyph-chat-message-box>

				<cyph-footer *ngIf='!envService.isMobile'></cyph-footer>
			</footer>
		</section>

		<cyph-chat-cyphertext></cyph-chat-cyphertext>
	</cyph-ephemeral-chat-root>

	<section
		id='main'
		class='layout-fill layout-column'
		*ngIf='appService.state === appService.states.account'
	>
		<cyph-account></cyph-account>
	</section>
</span>

<ng-template #lockdown>
	<section id='main' class='layout-fill layout-column'>
		<cyph-lockdown></cyph-lockdown>
	</section>
</ng-template>
