<div cyphNanoScroller>
	<div fxFlexFill>
		<div
			fxLayout='row'
			fxLayoutAlign='center center'
			class='login-form'
			[class.checking]='checking'
		>
			<md-card fxFlex fxFlex.gt-sm='50'>
				<md-card-header>
					<md-card-title cyphTranslate>
						Log In
					</md-card-title>
					<md-card-subtitle cyphTranslate>
						Welcome to Cyph! You must enter a password to access this environment.
					</md-card-subtitle>
				</md-card-header>
				<md-card-content>
					<form ngNativeValidate (submit)='submit()'>
						<div fxLayout='row' fxLayoutAlign='center center'>
							<h3 md-subheader [style.visibility]='error ? "visible" : "hidden"'>
								{{stringsService.invalidPassword}}
							</h3>
						</div>
						<div fxLayout='row' fxLayoutAlign='center center'>
							<md-input-container>
								<input
									mdInput
									cyphTranslate
									fxFlex='60'
									md1Class='md-block'
									[(ngModel)]='password'
									name='password'
									type='password'
									placeholder='Password'
									[required]='true'
								/>
							</md-input-container>
						</div>
						<div fxLayout='row' fxLayoutAlign='center center'>
							<button md-button type='submit' cyphTranslate>
								Log In
							</button>
						</div>
					</form>
				</md-card-content>
				<md-progress-spinner mode='indeterminate'></md-progress-spinner>
			</md-card>
		</div>
	</div>
</div>
