<ng-container *ngIf="accountDatabaseService.currentUser | await as currentUser">
	<div
		cyphTranslate
		fxFlexFill
		fxLayout="column"
		fxLayoutAlign="center center"
		*ngIf="upsell | await"
	>
		<div>
			As a limited-time special, we would like to offer you a $100
			Lifetime Platinum upgrade! (normally $48/mo) In addition to
			rewarding our early supporters, this will go a long way toward
			helping us improve Cyph in various ways, such as dramatically
			optimizing performance, polishing the interface, fleshing out the
			current features, and considering new features based on popular
			demand. In exchange for a one-time payment, the following will be
			added to your account:
		</div>
		<ul>
			<li>File storage: 500 MB -> 1 TB</li>
			<li>
				Access to new & experimental features, like our E2EE
				cryptocurrency wallet
			</li>
			<li>
				Short username: You can bypass our minimum of 5 characters and
				register a username as short as you'd like, if you upgrade
				before registering
			</li>
			<li>
				Verification: You'll be first in line when we set up a "verified
				accounts" system like Twitter's
			</li>
			<li>
				Lifetime priority support: Email us any time at
				founders@cyph.com — or just add @ryan and @josh on Cyph :)
			</li>
		</ul>

		<div fxflex fxLayout="row" fxLayoutGap="16px">
			<button
				mat-raised-button
				color="primary"
				routerLink="/upgrade/flash-sale/lifetime-platinum"
			>
				Upgrade Account
			</button>
			<button mat-raised-button (click)="skipUpsell.next(true)">
				Not Now
			</button>
		</div>
	</div>
	<div
		fxFlex
		fxLayout="column"
		*ngIf="
			!currentUser?.masterKeyConfirmed && !(upsell | await);
			else agseConfirmationMessage
		"
	>
		<br />
		<cyph-account-register
			fxFlex
			[postSimpleRegisterSetup]="true"
		></cyph-account-register>
		<br />
	</div>

	<ng-template #agseConfirmationMessage>
		<div fxFlexFill fxLayoutAlign="center center">
			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="16px"
				*ngIf="!currentUser?.agseConfirmed && !(upsell | await)"
			>
				<p>
					<span cyphTranslate>
						We've received your information, and your public key is
						now queued up to be cryptographically signed by one of
						the Cyph founders using their personal
					</span>
					&ngsp;
					<a
						[href]="
							envService.homeUrl +
							'agse' +
							(envService.isCordova ?
								'?hideHeaderAndFooter=true' :
								'')
						"
						cyphTranslate
						>Air Gapped Signing Environment</a
					>
					&ngsp;
					<span cyphTranslate>
						&mdash; a custom-designed hardware device that ensures
						the security of
					</span>
					&ngsp;
					<span>{{ stringsService.product }}</span>
					&ngsp;
					<span cyphTranslate>
						for as long as it remains physically secure.
					</span>
				</p>
				<p cyphTranslate>
					You will receive an email as soon as your account is
					activated and ready for use. (If you didn't give us your
					email address, then just check back in a couple days.)
				</p>
				<p>
					<strong cyphTranslate>
						In the meantime, you can still log in and enjoy somewhat
						restricted access.
					</strong>
					&ngsp;
					<span cyphTranslate>Thank you for joining</span>
					&ngsp;
					<span>{{ stringsService.product }}!</span>
				</p>
			</div>

			<div *ngIf="!!currentUser?.agseConfirmed">
				<strong cyphTranslate>
					Your account is fully activated.
				</strong>
				&ngsp;
				<span cyphTranslate>Thank you for joining</span>
				&ngsp;
				<span>{{ stringsService.product }}!</span>
			</div>

			<a
				mat-fab
				cyphTranslate
				[class.absolute-fab]="(envService.isMobile | await) === false"
				[class.fixed-fab]="envService.isMobile | await"
				matTooltip="New Burner Chat"
				[href]="envService.cyphImUrl"
				*ngIf="envService.isMobileOS"
			>
				<mat-icon>chat</mat-icon>
			</a>
		</div>
	</ng-template>
</ng-container>
