@import '../../../../css/mixins';

$header-size: 135px;

:host > div {
	position: relative;
	min-height: 100%;

	/* Override .initiating rule */
	overflow-y: visible !important;
}

.profile {
	position: relative;
	//text-align: center;
	font-family: Ubuntu;

	&.mobile {
		.avatar {
			width: 5em;
			height: 5em;
			margin-top: 0;
			margin-bottom: 0;
		}

		.cover-image {
			height: calc(10em + 84px);
		}
		.name {
			font-size: 20px;
		}
		.username {
			font-size: 16px;
		}
		.description {
			font-size: 12px;
		}
		.profile-info {
			min-height: calc(10em + 84px);
		}
	}

	.avatar {
		width: 10em;
		height: 10em;
		margin-top: 1em;
		box-shadow: 0 20px 42px 0 rgba(0, 0, 0, 0.3);
		border-width: 10px !important;
		margin-right: 1em;

		&:not(.cyph-drop-zone) {
			cursor: auto;
		}
	}

	.cover-image {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: calc(100% + 1px);
		height: calc(20em + 20px);
		overflow: hidden;
		opacity: 0.95;
		box-shadow: 0 14px 0 0 rgba(69, 39, 160, 0.42);

		&.cyph-drop-zone:hover:after {
			display: none;
		}

		&:not(.cyph-drop-zone) {
			pointer-events: none;
		}
	}

	img.cyph-drop-zone:not(:hover) {
		opacity: 0.75;
	}

	/* .member-list:not(.doctor-list-only) { */
	.member-list ::ng-deep > .card-list {
		height: 50vh !important;
		max-height: 50vh !important;
		min-height: 50vh !important;
	}

	.name {
		font-size: 37px;
		//margin-top: 25px;
		margin-bottom: 10px;
		font-weight: 500;
		color: #fff;
	}

	mat-form-field.name ::ng-deep {
		width: 50%;
		margin-left: auto;
		margin-right: auto;

		input {
			font-family: Ubuntu;
			font-weight: 500;
			border-bottom: 1px solid #777;
			font-size: 22px;
			margin-top: 15px;
			padding-bottom: 10px;
		}

		.mat-form-field-infix {
			padding: 20px 0 0 0 !important;
			border-top: 0 !important;
		}

		.mat-form-field-underline {
			display: none !important;
		}

		.mat-form-field-wrapper {
			padding-bottom: 0;
		}
	}

	mat-form-field.description textarea {
		text-align: left;
		font-family: Ubuntu;
		font-weight: 300;
		font-size: 16px;
		min-height: 4em;
	}

	.username {
		font-size: 22px;
		opacity: 0.6;
		text-decoration: none;
		word-break: break-all;
		word-wrap: break-word;
		color: #fff;
		margin-top: -0.5em;
		margin-bottom: 0.33em;

		&:hover > span:nth-child(2) {
			border-bottom: 1px solid;
		}
	}

	.description {
		font-size: 16px;
		width: 100%;
		color: #fff;
		margin-top: 0.5em;
	}

	.profile-info {
		width: 90%;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
		min-height: calc(20em + 20px);
		z-index: 1;

		.buttons {
			place-content: flex-start !important;
			top: 1em;
			position: relative;
		}
	}

	&.edit-mode .profile-info {
		width: 75%;
	}

	input {
		text-align: left;
	}
}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.subheader {
	text-align: center;
}

mat-card {
	min-width: 50%;
}

.file-upload {
	margin-top: 2rem;
	min-width: 200px;
}

.cover-edit-buttons {
	right: 0;
	top: 0;
	z-index: 10;
	position: absolute;
	transition: 500ms;

	button {
		width: 175px;
		opacity: 0.75;

		&:hover {
			opacity: 1;
		}

		&[disabled] {
			background-color: white;
		}

		mat-icon {
			font-size: 22px;
			height: 22px;
			width: 22px;
			position: relative;
			right: 5px;
		}
	}
}

.mobile-edit {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;

	button {
		height: 10vh;
	}
}

.edit-hide {
	@include transition(opacity 0.35s ease-in-out);
}

@media (max-height: 600px) {
	:host > .editing .edit-hide {
		opacity: 0;
		pointer-events: none;
	}

	:host > :not(.editing) .edit-hide {
		opacity: 1;
	}
}

/* Telehealth version */

:host > .telehealth {
	.profile.telehealth {
		text-align: left;

		&.mobile {
			.header {
				position: relative;

				$header-size: 75px;

				height: $header-size;
				min-height: $header-size;

				.name {
					margin-top: 24px;
				}

				.user-info {
					top: 0;
				}

				&.xs {
					.name {
						margin-top: 7px;
					}

					.practice mat-icon {
						margin-top: -1px;
						margin-right: -4px;
					}

					.username {
						font-size: 16px;
						margin-bottom: -8px;
					}

					&:after {
						background-color: inherit;
					}
				}

				&:after {
					height: 20px;
					width: 100%;
					content: no-close-quote;
				}

				.avatar {
					width: 4.2em;
					height: 4.2em;
					margin: 0;
					top: 11px;
					right: 11px;
					border-width: 5px !important;
				}

				.name {
					font-size: 26px;
				}

				.practice {
					font-size: 12px;
					height: 0;

					mat-icon {
						font-size: 16px;
						margin-top: 3px;
					}
				}

				cyph-account-user-rating {
					display: none;

					span {
						text-align: center !important;
					}
				}
			}

			.mat-card {
				top: 0 !important;
				max-width: 100% !important;
				overflow: auto;
			}
		}

		.avatar {
			width: 125px;
			height: 125px;
			top: 25px;
			position: relative;
			margin: 25px;
			border-width: 0.42vw !important;
		}

		.header {
			height: $header-size;
			min-height: $header-size;
			z-index: 42;

			.user-info {
				top: 10px;
				position: relative;
			}

			&:after {
				height: 20px;
				width: 100%;
				content: no-close-quote;
			}
		}

		.user-list-header {
			border-bottom: 1px solid;
		}

		.content {
			margin-top: 5px;
		}

		.practice {
			mat-icon {
				@include icon-size(24px);
			}

			h3 {
				margin: 3px;
			}
		}

		&:not(.mobile) {
			.mat-card {
				top: 135px;
				width: 50vw;
				overflow: auto;

				&.lt-md {
					min-width: 90%;
				}

				&.md {
					min-width: 75%;
				}

				&.doctor-list-only {
					@include calc('max-height', '95vh - #{$header-size}');

					/*
					.member-list {
						@include calc('max-height', '75vh - #{$header-size}');
					}
					*/

					&.lt-md {
						@include calc('height', '100vh - #{$header-size}');
					}
				}
			}
		}

		.mat-list-item {
			height: auto;
		}

		.name {
			margin-top: 3px;
			margin-bottom: 0;
		}

		mat-form-field.name {
			min-width: 300px;
		}

		.description {
			margin: 20px auto auto auto;
			position: relative;
			text-align: center;
		}

		&.standard {
			text-align: center;
		}
	}
}

/*
:host ::ng-deep .contact-list {
	overflow-y: auto !important;
	min-height: 125px;
}
*/
