<cyph-spinner
	class="global"
	mode="indeterminate"
	*ngIf="
		((userProfile | await)?.ready | await) !== true ||
			((userProfile | await)?.userType | await) === undefined;
		else profile
	"
></cyph-spinner>

<ng-template #profile>
	<ng-container *ngIf="userProfile | await as user">
		<ng-template #buttons>
			<div
				class="buttons"
				fxLayout="row"
				fxLayoutAlign="center center"
				fxLayoutGap="16px"
			>
				<ng-container
					*ngIf="isCurrentUser | await; else buttonsOtherUser"
				>
					<button
						mat-mini-fab
						cyphTranslate
						class="animated flipInX _4"
						matTooltip="New Note"
						routerLink="/notes/new"
						*ngIf="false && !envService.isTelehealth"
					>
						<mat-icon>note_add</mat-icon>
					</button>

					<button
						mat-raised-button
						cyphTranslate
						color="accent"
						matTooltipPosition="above"
						routerLink="/request-appointment"
						*ngIf="envService.isTelehealth"
					>
						New Appointment
					</button>
				</ng-container>

				<ng-template #buttonsOtherUser>
					<ng-container
						*ngIf="
							(accountDatabaseService.currentUser | await) !==
								undefined;
							else buttonsAnonymous
						"
					>
						<button
							mat-mini-fab
							cyphTranslate
							class="animated flipInX _4"
							matTooltip="Share File"
							cyphDropZone
							(fileDrop)="
								accountFilesService.upload(
									$event.name,
									$event,
									user?.username
								)
							"
						>
							<mat-icon>attachment</mat-icon>
						</button>
						<button
							mat-mini-fab
							cyphTranslate
							class="animated flipInX _4"
							matTooltip="Remove Contact"
							(click)="
								accountContactsService.removeContact(
									user?.username
								)
							"
							*ngIf="isContact | await; else buttonsAddContact"
						>
							<mat-icon>delete</mat-icon>
						</button>
						<ng-template #buttonsAddContact>
							<span>
								<button
									mat-mini-fab
									cyphTranslate
									class="animated flipInX _4"
									matTooltip="Add Contact"
									[matMenuTriggerFor]="addContactMenu"
								>
									<mat-icon>person_add</mat-icon>
								</button>
								<mat-menu #addContactMenu="matMenu">
									<button
										mat-menu-item
										(click)="
											accountContactsService.addContact(
												user?.username
											)
										"
									>
										<mat-icon>person_add</mat-icon>
										<span cyphTranslate>Add Contact</span>
									</button>
									<button
										mat-menu-item
										(click)="
											accountContactsService.addContact(
												user?.username,
												true
											)
										"
									>
										<mat-icon>star</mat-icon>
										<span cyphTranslate
											>Add to Inner Circle</span
										>
									</button>
								</mat-menu>
							</span>
						</ng-template>

						<button
							mat-mini-fab
							cyphTranslate
							class="animated flipInX _4"
							matTooltip="Open Mail"
							[routerLink]="
								'/mail/' +
								((user?.contactID | await) ||
									'user/' + (user?.username || ''))
							"
							*ngIf="false"
						>
							<mat-icon>email</mat-icon>
						</button>

						<button
							mat-mini-fab
							cyphTranslate
							class="animated flipInX _4"
							matTooltip="Open Messages"
							[routerLink]="
								'/messages/' +
								((user?.contactID | await) ||
									'user/' + (user?.username || ''))
							"
						>
							<mat-icon>message</mat-icon>
						</button>

						<ng-container
							*ngIf="
								(isInnerCircle | await) ||
								(accountSettingsService.plan | await) !== 0
							"
						>
							<button
								mat-mini-fab
								cyphTranslate
								class="animated flipInX _5"
								matTooltip="Call User"
								[routerLink]="
									'/audio/' +
									((user?.contactID | await) ||
										'user/' + (user?.username || ''))
								"
							>
								<mat-icon>phone</mat-icon>
							</button>
							<button
								mat-mini-fab
								cyphTranslate
								class="animated flipInX _6"
								matTooltip="Video Call User"
								[routerLink]="
									'/video/' +
									((user?.contactID | await) ||
										'user/' + (user?.username || ''))
								"
							>
								<mat-icon>videocam</mat-icon>
							</button>
						</ng-container>
					</ng-container>
				</ng-template>

				<ng-template #buttonsAnonymous>
					<button
						mat-mini-fab
						cyphTranslate
						class="animated flipInX _4"
						matTooltip="New Message"
						[routerLink]="
							'/compose/' +
							((user?.contactID | await) ||
								'user/' + (user?.username || ''))
						"
					>
						<mat-icon>email</mat-icon>
					</button>
					<button
						mat-mini-fab
						cyphTranslate
						class="animated flipInX _4"
						matTooltip="Live Burner Chat Request"
						[routerLink]="
							'/burner/' +
							(user?.username || '') +
							'/chat-request'
						"
					>
						<mat-icon>whatshot</mat-icon>
					</button>
				</ng-template>
			</div>
		</ng-template>

		<ng-template
			#description
			let-divider="divider"
			let-readViewClasses="readViewClasses"
		>
			<div
				class="description"
				[ngClass]="readViewClasses"
				*ngIf="(editMode | await) === false"
			>
				{{
					(user?.description | await) || ''
						| slice: 0 : accountService.maxDescriptionLength
				}}
			</div>
			<div *ngIf="divider"></div>
			<div fxLayoutAlign="center" *ngIf="editMode | await">
				<mat-form-field class="description">
					<textarea
						matInput
						#descriptionEditor
						(blur)="isEditorFocused.next(false)"
						(focus)="isEditorFocused.next(true)"
						[ngModel]="(user?.description | await) || ''"
						(ngModelChange)="updateDraft({description: $event})"
					></textarea>
					<mat-hint
						align="end"
						*ngIf="
							descriptionEditor.value.length <=
								accountService.maxDescriptionLength;
							else descriptionEditError
						"
					>
						{{
							accountService.maxDescriptionLength -
								descriptionEditor.value.length
						}}
					</mat-hint>
					<ng-template #descriptionEditError>
						<mat-error align="end">
							{{
								accountService.maxDescriptionLength -
									descriptionEditor.value.length
							}}
						</mat-error>
					</ng-template>
				</mat-form-field>
			</div>
		</ng-template>

		<ng-template #forms let-extra="extra">
			<div
				class="cyph-inverted-theme"
				*ngIf="(extra?.forms?.length || 0) > 0"
			>
				<!-- TODO: factor this out to a "dynamic form accordion" component -->
				<mat-accordion>
					<mat-expansion-panel
						[expanded]="i === 0"
						*ngFor="
							let form of extra?.forms || [];
							let i = index;
							trackBy: trackBySelf
						"
					>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h2>
									{{
										(((form?.components || [])[0]
											?.containers || [])[0]?.elements ||
											[])[0]?.element.label || ''
									}}
								</h2>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<cyph-dynamic-form
							[form]="form"
							[hideSubmitButton]="true"
							[isDisabled]="(editMode | await) === false"
							(changeForm)="
								updateDraft({forms: extra?.forms || []})
							"
						></cyph-dynamic-form>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</ng-template>

		<ng-template
			#name
			let-prefix="prefix"
			let-readViewClasses="readViewClasses"
		>
			<div
				class="name"
				[ngClass]="readViewClasses"
				*ngIf="(editMode | await) === false"
			>
				{{ prefix || '' }}
				{{
					(user?.name | await) || ''
						| slice: 0 : accountService.maxNameLength
				}}
			</div>
			<div fxLayoutAlign="center" *ngIf="editMode | await">
				<mat-form-field class="name" fxFlex>
					<input
						matInput
						#descriptionEditor
						(blur)="isEditorFocused.next(false)"
						(focus)="isEditorFocused.next(true)"
						[maxlength]="accountService.maxNameLength.toString()"
						[ngModel]="(user?.name | await) || ''"
						(ngModelChange)="updateDraft({name: $event})"
					/>
				</mat-form-field>
			</div>
		</ng-template>

		<ng-template
			#pgp
			let-prefix="prefix"
			let-readViewClasses="readViewClasses"
		>
			<ng-container *ngIf="user?.extra() | await as extra">
				<div
					class="pgp"
					[ngClass]="readViewClasses"
					*ngIf="
						(
							pgpService.getPublicKeyMetadata(
								extra?.pgp?.publicKey || ''
							) | await
						)?.pgpMetadata?.keyID as keyID
					"
				>
					<button
						mat-button
						[matTooltip]="stringsService.pgpPublicKey"
						matTooltipPosition="right"
						(click)="viewPGPPublicKey()"
					>
						<mat-icon> vpn_key </mat-icon>
						&nbsp;
						<span>
							{{ keyID || stringsService.pgpPublicKey }}
						</span>
					</button>
				</div>
				<br />
			</ng-container>
		</ng-template>

		<ng-template #mailButtons let-patientData="patientData">
			<div fxLayout="row" fxLayoutGap="16px">
				<ng-container
					*ngIf="
						(accountDatabaseService.currentUser | await) !==
							undefined;
						else mailButtonsAnonymous
					"
				>
					<button
						mat-mini-fab
						cyphTranslate
						matTooltip="Open Mail"
						[routerLink]="
							'/mail/' +
							((user?.contactID | await) ||
								'user/' + (user?.username || ''))
						"
					>
						<mat-icon>email</mat-icon>
					</button>

					<button
						mat-mini-fab
						cyphTranslate
						matTooltip="Open Messages"
						[routerLink]="
							'/messages/' +
							((user?.contactID | await) ||
								'user/' + (user?.username || ''))
						"
					>
						<mat-icon>message</mat-icon>
					</button>

					<button
						mat-mini-fab
						[matTooltip]="stringsService.shareEhrDataTitle"
						(click)="shareEhrData()"
						*ngIf="
							patientData &&
							((accountDatabaseService.currentUser | await)?.user
								?.userType | await) ===
								accountUserTypes.TelehealthDoctor
						"
					>
						<mat-icon svgIcon="doctor"></mat-icon>
					</button>
				</ng-container>

				<ng-template #mailButtonsAnonymous>
					<button
						mat-mini-fab
						cyphTranslate
						matTooltip="New Message"
						[routerLink]="
							'/compose/' +
							((user?.contactID | await) ||
								'user/' + (user?.username || ''))
						"
					>
						<mat-icon>email</mat-icon>
					</button>
				</ng-template>
			</div>
		</ng-template>

		<ng-template #coverEditButton>
			<div class="cover-edit-buttons" fxLayout="row" fxLayoutGap="8px">
				<button
					mat-raised-button
					cyphTranslate
					(click)="setEditMode(false)"
					aria-label="Cancel Changes"
					*ngIf="(isCurrentUser | await) && (editMode | await)"
				>
					<mat-icon>cancel</mat-icon>
					&ngsp;
					<span cyphTranslate>Cancel Changes</span>
				</button>
				<button
					mat-raised-button
					cyphTranslate
					(click)="editMode.value ? saveProfile() : setEditMode(true)"
					[attr.aria-label]="
						(editMode | await) ?
							stringsService.profileSave :
							stringsService.profileEdit
					"
					[disabled]="
						(editMode | await) && (readyToSave | await) === false
					"
					*ngIf="isCurrentUser | await"
				>
					<ng-container
						*ngIf="editMode | await; else coverEditButtonEditText"
					>
						<mat-icon>save</mat-icon>
						&ngsp;
						<span>{{ stringsService.profileSave }}</span>
					</ng-container>
					<ng-template #coverEditButtonEditText>
						<mat-icon>edit</mat-icon>
						&ngsp;
						<span>{{ stringsService.profileEdit }}</span>
					</ng-template>
				</button>
			</div>
		</ng-template>

		<ng-template #editButton>
			<div
				fxLayout="row"
				fxLayoutGap="16px"
				class="edit-buttons edit-hide"
				*ngIf="isCurrentUser | await"
			>
				<button
					mat-fab
					cyphTranslate
					class="alt fixed-fab"
					[class.left-shift]="envService.isTelehealth"
					matTooltip="Close"
					matTooltipPosition="above"
					(click)="setEditMode(false)"
					*ngIf="editMode | await"
				>
					<mat-icon>close</mat-icon>
				</button>
				<button
					mat-fab
					class="fixed-fab"
					[matTooltip]="
						(editMode | await) ?
							stringsService.profileSave :
							stringsService.profileEdit
					"
					matTooltipPosition="above"
					(click)="editMode.value ? saveProfile() : setEditMode(true)"
					[disabled]="
						(editMode | await) && (readyToSave | await) === false
					"
					*ngIf="
						envService.isTelehealth || (editMode | await) === false
					"
				>
					<mat-icon *ngIf="editMode | await">save</mat-icon>
					<mat-icon *ngIf="(editMode | await) === false"
						>edit</mat-icon
					>
				</button>
			</div>
		</ng-template>

		<ng-template #fileUpload>
			<div
				fxLayout="row"
				fxLayoutAlign="center center"
				*ngIf="(isCurrentUser | await) === false"
			>
				<div
					class="file-upload"
					fxFlex="95"
					fxFlex.sm="75"
					fxFlex.md="66"
					fxFlex.lg="50"
					fxFlex.gt-lg="40"
					fxLayoutAlign="center"
					[matTooltip]="
						(isCurrentUser | await) ?
							stringsService.uploadFile :
							stringsService.shareFile
					"
					matTooltipPosition="above"
					cyphDropZone
					(fileDrop)="
						accountFilesService.upload(
							$event.name,
							$event,
							user?.username
						)
					"
				>
					<mat-icon>file_upload</mat-icon>
				</div>
			</div>
		</ng-template>

		<ng-template #fileUploadSpinner>
			<ng-container
				*ngIf="
					(accountFilesService.uploadSpinner() | await) !== undefined
				"
			>
				<cyph-spinner
					mode="indeterminate"
					*ngIf="
						((accountFilesService.uploadSpinner() | await) || 0) <
							1;
						else determinateFileSpinner
					"
				></cyph-spinner>
				<ng-template #determinateFileSpinner>
					<cyph-spinner
						mode="determinate"
						[value]="
							(accountFilesService.uploadSpinner() | await) || 1
						"
					></cyph-spinner>
				</ng-template>
			</ng-container>
		</ng-template>

		<ng-template #socialNetworkingPostUI>
			<div
				class="full-width"
				fxLayout="row"
				*ngIf="
					(editMode | await) === false &&
					((accountDatabaseService.currentUser | await) ===
						undefined ||
						(accountSettingsService.featureFlags.social.watch()
							| await))
				"
			>
				<div class="full-width" fxLayout="column">
					<cyph-account-post-compose
						*ngIf="isCurrentUser | await"
					></cyph-account-post-compose>

					<div>
						<cyph-account-post-list
							[author]="
								(isCurrentUser | await) ? undefined : user
							"
						></cyph-account-post-list>
					</div>
				</div>
			</div>
		</ng-template>

		<ng-template #standardProfile>
			<div fxLayout="row">
				<div
					fxFlex
					fxLayout="column"
					fxLayoutAlign="center"
					fxLayoutGap="32px"
					class="profile standard"
					[class.edit-mode]="editMode | await"
					[class.mobile]="envService.isMobile | await"
				>
					<div
						class="cover-image"
						cyphTranslate
						accept="image/*"
						aria-label="Cover Image"
						[style.background-image]="
							urlToSafeStyle(
								(getDataURI((draft | await)?.coverImage)
									| await) || (user?.coverImage | await)
							) | await
						"
						[cyphDropZone]="editMode | await"
						(fileDrop)="updateDraft({coverImage: $event})"
					></div>

					<ng-container
						*ngIf="(envService.isMobile | await) === false"
					>
						<ng-container
							*ngTemplateOutlet="coverEditButton"
						></ng-container>
					</ng-container>

					<div fxLayout="column" fxLayoutAlign="center center">
						<div
							fxFlex
							fxLayout="row"
							fxLayoutAlign="center center"
							class="profile-info"
						>
							<div fxLayoutAlign="center center">
								<img
									cyphTranslate
									class="avatar jackInTheBox _1"
									[class.animated]="
										(editMode | await) === false
									"
									[ngClass]="
										userPresence[
											(user?.status | await) || 0
										]
									"
									accept="image/*"
									alt="Profile Picture"
									[src]="
										(getDataURI((draft | await)?.avatar)
											| await) || (user?.avatar | await)
									"
									[cyphDropZone]="editMode | await"
									(fileDrop)="setAvatar($event)"
								/>
							</div>
							<div fxFlex fxLayout="column">
								<div *ngIf="(editMode | await) === false"></div>
								<ng-container
									*ngTemplateOutlet="
										name;
										context: {
											readViewClasses:
												'animated flipInX _2'
										}
									"
								></ng-container>
								<div>
									<a
										class="username animated flipInX _2"
										[href]="
											envService.cyphMeUrl +
											(user?.username || '')
										"
										target="_self"
									>
										<span>@</span
										><span>{{
											(user?.realUsername | await) ||
												user?.username ||
												''
										}}</span>
									</a>
								</div>
								<br />
								<ng-container
									*ngTemplateOutlet="
										pgp;
										context: {
											readViewClasses:
												'animated flipInX _2'
										}
									"
								></ng-container>
								<ng-container
									*ngTemplateOutlet="
										description;
										context: {
											divider:
												(editMode | await) === false,
											readViewClasses:
												'animated flipInX _3'
										}
									"
								></ng-container>
								<ng-container
									*ngTemplateOutlet="buttons"
								></ng-container>
							</div>
						</div>
						<ng-container
							*ngTemplateOutlet="socialNetworkingPostUI"
						></ng-container>
					</div>

					<div
						class="mobile-edit"
						fxFlex
						fxLayout="row"
						*ngIf="
							(envService.isMobile | await) && (editMode | await)
						"
					>
						<button
							fxFlex="50"
							mat-button
							(click)="setEditMode(false)"
						>
							<mat-icon>cancel</mat-icon>
						</button>
						<button
							fxFlex="50"
							mat-button
							(click)="saveProfile()"
							[disabled]="(readyToSave | await) === false"
						>
							<mat-icon>save</mat-icon>
						</button>
					</div>

					<ng-container
						*ngIf="
							(isCurrentUser | await) === true &&
							(envService.isMobile | await) === true &&
							(editMode | await) === false &&
							!envService.isTelehealth
						"
					>
						<button
							mat-fab
							[matTooltip]="
								(editMode | await) ?
									stringsService.profileSave :
									stringsService.profileEdit
							"
							matTooltipPosition="above"
							class="fixed-fab"
							(click)="setEditMode(true)"
						>
							<mat-icon>edit</mat-icon>
						</button>
					</ng-container>
				</div>
			</div>
		</ng-template>

		<!-- Standard view -->

		<div
			[class.editing]="(isEditorFocused | await) && (editMode | await)"
			[class.initiating]="
				(accountFilesService.uploadSpinner() | await) !== undefined
			"
			*ngIf="!envService.isTelehealthFull"
		>
			<ng-container *ngTemplateOutlet="standardProfile"></ng-container>
			<ng-container *ngTemplateOutlet="fileUploadSpinner"></ng-container>
		</div>

		<!-- Telehealth view -->

		<div
			class="telehealth"
			[class.editing]="(isEditorFocused | await) && (editMode | await)"
			[class.initiating]="
				(accountFilesService.uploadSpinner() | await) !== undefined
			"
			*ngIf="envService.isTelehealthFull"
		>
			<div fxLayout="row">
				<div
					fxFlex
					fxLayout="column"
					class="profile telehealth"
					[class.mobile]="envService.isMobile | await"
				>
					<div
						fxLayout="column"
						class="header animated slideInDown"
						ngClass.xs="xs"
						[class.fadeOutUp]="accountService.transition | await"
						fxLayoutAlign="center center"
					>
						<div
							fxFlex
							fxLayout="row"
							fxLayout.xs="column"
							fxLayoutAlign="center center"
							class="user-info"
						>
							<img
								cyphTranslate
								class="avatar _1"
								[class.animated]="(editMode | await) === false"
								[ngClass]="
									userPresence[(user?.status | await) || 0]
								"
								ngClass.xs="xs"
								accept="image/*"
								alt="Profile Picture"
								[src]="
									(getDataURI((draft | await)?.avatar)
										| await) || (user?.avatar | await)
								"
								[cyphDropZone]="editMode | await"
								(fileDrop)="setAvatar($event)"
								*ngIf="(doctorListOnly | await) !== true"
								fxHide.xs
							/>

							<div fxLayout="row" fxLayout.xs="column">
								<div
									fxLayout="column"
									fxLayoutAlign="center center"
								>
									<ng-container
										*ngIf="
											(doctorListOnly | await) !== true
										"
									>
										<ng-container
											*ngTemplateOutlet="
												name;
												context: {
													prefix:
														(user?.userType
															| await) ===
														accountUserTypes.TelehealthDoctor ?
															stringsService.dr :
															'',
													readViewClasses:
														'animated _2'
												}
											"
										></ng-container>
									</ng-container>
									<div
										class="name animated _2"
										*ngIf="
											(doctorListOnly | await) === true
										"
									>
										Doctors
									</div>
									<div>
										<a
											class="username animated flipInX _2"
											[href]="
												envService.cyphMeUrl +
												(user?.username || '')
											"
											target="_self"
											*ngIf="
												(user?.userType | await) ===
												accountUserTypes.Standard
											"
										>
											<span>@</span
											><span>{{
												(user?.realUsername | await) ||
													user?.username ||
													''
											}}</span>
										</a>
									</div>
									<div
										class="practice"
										fxLayout="row"
										*ngIf="
											(userOrganiztion | await) !==
											undefined
										"
									>
										<div
											fxLayout="row"
											[routerLink]="
												'/profile/' +
												(userOrganiztion | await)
													?.username
											"
										>
											<mat-icon>business</mat-icon>
											<h3>
												{{
													(userOrganiztion | await)
														?.name | await
												}}
											</h3>
										</div>
									</div>
								</div>
								<div
									fxLayout="column"
									fxLayoutAlign="center center"
								>
									<cyph-account-user-rating
										[user]="user"
										*ngIf="
											(user?.userType | await) ===
											accountUserTypes.TelehealthDoctor
										"
										fxHide.lt-md
									></cyph-account-user-rating>
								</div>
							</div>
						</div>
					</div>

					<div
						fxLayout="column"
						fxLayoutAlign="center center"
						fxLayoutAlign.lt-md="center"
					>
						<mat-card
							class="animated slideInDown"
							[class.doctor-list-only]="doctorListOnly | await"
							ngClass.lt-md="lt-md"
							ngClass.md="md"
							*ngIf="user?.extra() | await as extra"
							[class.fadeOutUp]="
								(accountService.transition | await) === true
							"
						>
							<mat-card-content fxLayout="column">
								<br />
								<h2
									cyphTranslate
									class="subheader"
									*ngIf="
										(user?.userType | await) ===
										accountUserTypes.TelehealthAdmin
									"
								>
									Telehealth Administrator
								</h2>
								<h2
									cyphTranslate
									class="subheader"
									*ngIf="
										(user?.userType | await) ===
										accountUserTypes.Org
									"
								>
									Telehealth Organization
								</h2>
								<h2
									cyphTranslate
									class="subheader"
									*ngIf="
										(user?.userType | await) ===
										accountUserTypes.Standard
									"
								>
									Patient
								</h2>

								<ng-container
									*ngIf="
										(user?.userType | await) !==
										accountUserTypes.Org
									"
								>
									<div
										fxLayout="row"
										fxLayout.lt-md="column"
										fxLayoutAlign="center center"
										fxLayoutGap="12px"
										[style.margin]="'20px'"
										*ngIf="
											(isCurrentUser | await) === false
										"
									>
										<ng-container
											*ngIf="
												envService.isTelehealthFull &&
													(user?.userType | await) ===
														accountUserTypes.TelehealthDoctor;
												else mailButtons
											"
										>
											<button
												mat-raised-button
												cyphTranslate
												color="primary"
												[routerLink]="
													'/request-appointment/' +
													((user?.contactID
														| await) ||
														'user/' +
															(user?.username ||
																''))
												"
											>
												Request Appointment
											</button>
											<div></div>
										</ng-container>
									</div>
								</ng-container>

								<ng-container
									*ngIf="
										(user?.userType | await) !==
											accountUserTypes.Org ||
										(doctorListOnly | await) !== true
									"
								>
									<ng-container
										*ngTemplateOutlet="description"
									></ng-container>
									<br />
									<br />
									<ng-container
										*ngTemplateOutlet="
											forms;
											context: {extra: extra}
										"
									></ng-container>
								</ng-container>

								<ng-container
									*ngIf="
										!envService.isTelehealthFull &&
										(user?.userType | await) ===
											accountUserTypes.Org &&
										((userMembers | await)?.length || 0) > 0
									"
								>
									<h2 cyphTranslate class="user-list-header">
										Available Doctors
									</h2>
									<cyph-account-contacts
										fxFlex
										class="member-list"
										[class.doctor-list-only]="
											doctorListOnly | await
										"
										[contactList]="userMembers"
										[invertedTheme]="true"
										[searchProfileExtra]="true"
									></cyph-account-contacts>
								</ng-container>
							</mat-card-content>
						</mat-card>

						<ng-container
							*ngIf="
								(user?.userType | await) ===
									accountUserTypes.Standard &&
								!envService.isTelehealth
							"
						>
							<ng-container
								*ngTemplateOutlet="buttons"
							></ng-container>
							<ng-container
								*ngTemplateOutlet="fileUpload"
							></ng-container>
						</ng-container>
					</div>
				</div>
			</div>

			<ng-container *ngTemplateOutlet="editButton"></ng-container>

			<ng-container *ngTemplateOutlet="fileUploadSpinner"></ng-container>
		</div>
	</ng-container>
</ng-template>
