<div mat-dialog-actions fxLayoutAlign='end center' *ngIf='!cropResult'>
	<button
		matDialogClose
		mat-icon-button
		cyphTranslate
		matTooltip='Close'
	>
		<mat-icon>close</mat-icon>
	</button>
</div>
<h1 matDialogTitle *ngIf='title'>{{title}}</h1>
<div mat-dialog-content>
	<div fxFlex [class.crop-container]='!!cropResult'>
		<img
			cyphTranslate
			alt='Full size image'
			[src]='src'
			*ngIf='!cropResult'
		/>

		<ng-container *ngIf='!!cropResult'>
			<image-cropper
				format='png'
				[aspectRatio]='cropAspectRatio'
				[imageBase64]='imageBase64'
				[maintainAspectRatio]='!!cropAspectRatio'
				(imageCropped)='cropped = $event'
				(loadImageFailed)='crop()'
				*ngIf='safeUrlToString(src) | async as imageBase64'
			></image-cropper>
		</ng-container>
	</div>
</div>
<div mat-dialog-actions fxLayoutAlign='end center' *ngIf='!!cropResult'>
	<button mat-button class='cancel' (click)='crop(false)'>{{stringsService.cancel}}</button>
	<button mat-button class='ok' (click)='crop(true)'>{{stringsService.ok}}</button>
</div>
