@import '../../../../css/mixins';

audio, img, video {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

video {
	width: 100%;
}

[mat-dialog-actions]:not(.crop-actions) {
	margin-bottom: 0;
	top: -15px;
	position: relative;
}

.crop-container {
	overflow: hidden;

	> image-cropper {
		width: calc(100% - 10px);
	}
}
