@import '../../../../css/mixins';

mat-tab-group.simple ::ng-deep {
	mat-tab-header {
		&,
		* {
			visibility: hidden !important;
		}
	}
}

.login-form {
	> .cyph-banner {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
	}

	&.show-upsell-banner {
		> mat-card {
			padding-top: 92px;
		}
	}

	&:not(.show-upsell-banner) {
		> .cyph-banner {
			display: none !important;
		}
	}
}

.description {
	padding-top: 32px;
	font-size: 1.25em;
}

.password-option {
	padding: 20px;

	&.deselected {
		cursor: pointer;
		opacity: 0.25;
		border-style: dashed;
		border-width: 1.5px;
		background-color: transparent;

		* {
			pointer-events: none;
		}
	}

	h3 {
		margin-top: 0;
	}
}

.spoiler {
	padding: 5px 10px;
	cursor: pointer;
}

.spoiler .revealed {
	.xkcd-passphrase {
		span.content {
			display: block;
			cursor: text;
		}
	}
}

.spoiler:not(.revealed) {
	background-color: rgba(0, 0, 0, 1);

	span {
		color: white;
	}

	.xkcd-passphrase .content {
		display: none;
	}
}

.xkcd-passphrase {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
}

.additional-devices-count {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

.form-field-pending {
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden;
}

form {
	width: 100%;
}

.back-button-container {
	position: relative;
}

button {
	transform: scale(1.15);

	&.back {
		position: absolute;
		top: 0;
		left: 0;
	}
}

mat-card-content {
	font-size: 1.15em;
}

.confirm-mk {
	margin-bottom: 32px;
	margin-right: 0 !important;
}

.cyph-banner {
	font-size: 1em;
	line-height: 1.75em;
	padding: 1em 2em;

	li {
		margin-bottom: 0.5em;
	}
}

:host ::ng-deep {
	mat-tab-header {
		margin-left: auto;
		margin-right: auto;
	}

	mat-tab-body.mat-tab-body-active {
		&,
		> div {
			overflow: visible !important;
		}
	}
}

.welcome-letter {
	font-size: 0.8em;

	> mat-card {
		padding-bottom: 26px;
	}

	::ng-deep a {
		color: map-get($mat-blue, 700);

		&.team-valediction {
			color: rgb(96, 51, 163);
			font-weight: bold;
			text-decoration: none;
			margin-left: 10px;
		}
	}
}
