<ng-container *ngIf="confirmMasterKeyOnly || getMasterKeyOnly || getPinOnly">
	<form
		fxFlex
		fxLayout="column"
		[fxLayoutAlign]="(phase | await) === 3 ? 'center stretch' : ''"
		[fxLayoutGap]="confirmMasterKeyOnly ? '0px' : '32px'"
		ngNativeValidate
		(submit)="
			getPinOnly && lockScreenPasswordReady.value ?
				submitPIN.emit({
					isCustom: !useLockScreenPIN.value,
					value: useLockScreenPIN.value ?
						lockScreenPIN.value :
						lockScreenPassword.value
				}) :
			!masterKeyReady.value ?
				undefined :
			phase.value !== 3 ?
				phase.next(3) :
			confirmMasterKeyOnly ?
				confirmMasterKey() :
			getMasterKeyOnly ?
				getMasterKey() :
				undefined
		"
	>
		<div>
			<ng-container
				*ngTemplateOutlet="
					!confirmMasterKeyOnly && !getMasterKeyOnly ?
						lockScreenUI :
					(phase | await) === 3 ?
						masterKeyFinalConfirmationUI :
						masterKeyUI
				"
			></ng-container>
		</div>

		<div fxLayoutAlign="center center" fxLayoutGap="22px">
			<button
				mat-button
				cyphTranslate
				fxFlex
				fxFlex.gt-sm="initial"
				type="submit"
				(click)="submitPIN.emit(undefined)"
				*ngIf="getPinOnly && pinSkippable"
			>
				Skip
			</button>

			<button
				mat-raised-button
				fxFlex
				fxFlex.gt-sm="initial"
				type="submit"
				class="confirm-mk"
				[disabled]="
					((confirmMasterKeyOnly || getMasterKeyOnly ?
						masterKeyReady :
						lockScreenPasswordReady
					) | await) === false
				"
				*ngIf="
					!(confirmMasterKeyOnly || getMasterKeyOnly) ||
					(opsecAcknowledgement | await) === true
				"
			>
				{{
					!confirmMasterKeyOnly && !paperMasterKeySetupMode ?
						getPasswordSubmitText :
					(phase | await) === 3 ?
						stringsService.confirmMasterKeyFinal :
						stringsService.confirmMasterKeyStep1
				}}
			</button>
			<br />
		</div>
	</form>
</ng-container>

<div
	class="login-form"
	[class.checking]="checking | await"
	[class.show-upsell-banner]="
		!(simple | await) &&
		(salesService.registerUpsellBanner | await) &&
		configService.planConfig[
			(inviteCodeData | await)?.plan || cyphPlans.Free
		].upsell
	"
	*ngIf="!confirmMasterKeyOnly && !getMasterKeyOnly && !getPinOnly"
>
	<cyph-in-app-purchase
		#inAppPurchase
		[inviteCodeFormControl]="inviteCode"
	></cyph-in-app-purchase>
	<cyph-in-app-purchase
		#inAppPurchaseExistingInvite
		[inviteCode]="(inviteCodeWatcher | await)?.value || ''"
		[inviteCodeFormControl]="inviteCode"
	></cyph-in-app-purchase>

	<h3 class="cyph-banner alert">
		<div fxFlex fxLayout="row">
			<div fxLayoutAlign="center center" class="visibility-hidden">
				<button
					mat-icon-button
					cyphTranslate
					matTooltip="Close"
					class="close"
				>
					<mat-icon>close</mat-icon>
				</button>
			</div>
			<div
				fxFlex
				fxLayoutAlign="center center"
				[class.visibility-hidden]="(inviteCodeWatcher | await)?.pending"
			>
				<div
					*ngIf="
						!!(inviteCodeWatcher | await)?.value &&
							!(inviteCodeWatcher | await)?.hasError(
								'inviteCodeInvalid'
							);
						else noInviteCodeUpsell
					"
				>
					<ng-container
						*ngIf="
							envService.inAppPurchasesSupported ||
								!(pgp | await);
							else keybaseBannerMessage
						"
					>
						<a
							cyphTranslate
							(click)="
								salesService.openPricing(
									envService.homeUrl +
										'pricing?current=' +
										cyphPlans[
											inviteCodeData.value?.plan ||
												cyphPlans.Free
										] +
										'&noInviteRedirect=true' +
										'&inviteCode=' +
										(inviteCode.value || ''),
									undefined,
									inAppPurchase
								)
							"
							>Upgrade to Platinum now</a
						>
						&ngsp;
						<span cyphTranslate>
							for 1 TB encrypted storage and advanced features!
						</span>
					</ng-container>
					<ng-template #keybaseBannerMessage>
						<span cyphTranslate>
							Special offer for Keybase users:
						</span>
						&ngsp;
						<a
							cyphTranslate
							(click)="
								salesService.openPricing(
									envService.homeUrl +
										'checkout/#' +
										'flash-sale/lifetime-platinum' +
										'/noInviteRedirect=true' +
										'/inviteCode=' +
										(inviteCode.value || ''),
									undefined,
									undefined
								)
							"
							>$100 Lifetime Platinum upgrade</a
						>! &ngsp;
						<span cyphTranslate>
							(Usually $48/mo.) Adds 1 TB storage, BTC wallet, and
							more.
						</span>
					</ng-template>
				</div>
				<ng-template #noInviteCodeUpsell>
					<div *ngIf="postSimpleRegisterSetup">
						<span>{{ stringsService.welcomeInitialSetup }}</span>
					</div>
					<div
						*ngIf="
							!postSimpleRegisterSetup &&
							!envService.noInAppPurchasesReferenceAllowed
						"
					>
						<a
							cyphTranslate
							(click)="
								salesService.openPricing(
									envService.homeUrl + 'pricing',
									undefined,
									inAppPurchase
								)
							"
							target="_self"
							>Upgrade to premium</a
						>
						&ngsp;
						<span cyphTranslate>and skip the waitlist!</span>
					</div>
				</ng-template>
			</div>
			<div fxLayoutAlign="center center" class="visibility-hidden">
				<button
					mat-icon-button
					cyphTranslate
					matTooltip="Close"
					class="close"
					(click)="salesService.dismissRegisterUpsellBanner()"
				>
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>
	</h3>

	<mat-card
		fxFlex
		class="fullscreen"
		[class.post-simple-register-setup]="postSimpleRegisterSetup"
	>
		<mat-card-title>
			{{
				postSimpleRegisterSetup ?
					stringsService.registerPostSimpleRegisterSetupTitle :
					stringsService.registerTitle
			}}
		</mat-card-title>
		<cyph-logo cardHeader homeLink></cyph-logo>
		<mat-card-content [class.full-height]="(phase | await) === 3">
			<br />

			<div
				fxLayout="column"
				fxLayoutGap="32px"
				*ngIf="(phase | await) === 0"
			>
				<div fxLayout="row">
					<form
						fxFlex
						fxLayout="column"
						fxLayoutGap="32px"
						ngNativeValidate
						(submit)="submit()"
					>
						<mat-tab-group
							[class.simple]="simple | await"
							[selectedIndex]="tabIndex | await"
							(selectedIndexChange)="
								tabIndex.next($event); updateRoute(0, $event)
							"
						>
							<mat-tab *ngIf="!postSimpleRegisterSetup">
								<ng-template mat-tab-label>
									<mat-icon>radio_button_checked</mat-icon>
									&nbsp;
									<span cyphTranslate>Basic Information</span>
								</ng-template>

								<div
									fxFlex
									fxLayout="column"
									fxLayoutGap="48px"
								>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										class="description"
										*ngIf="!(simple | await)"
									>
										<ng-container
											*ngIf="
												envService.coBranded &&
													!envService.whiteLabel;
												else telehealthWelcomeMessage
											"
										>
											<span>
												<span cyphTranslate
													>Welcome to</span
												>
												&ngsp;
												<span>{{
													stringsService.product
												}}</span>
												&ngsp;
												<span cyphTranslate
													>powered by Cyph!</span
												>
											</span>
										</ng-container>
										<ng-template #telehealthWelcomeMessage>
											<ng-container
												*ngIf="
													envService.telehealthTheme
														| await;
													else mainInviteCodeWelcomeMessage
												"
											>
												<span cyphTranslate>
													Welcome to Cyph Telehealth!
												</span>
											</ng-container>
										</ng-template>
										<ng-template
											#mainInviteCodeWelcomeMessage
										>
											<div
												class="
													cyph-light-theme
													welcome-letter
												"
												*ngIf="
													(inviteCodeData | await)
														?.isValid ?
														(inviteCodeData | await)
															?.welcomeLetter :
														undefined as welcomeLetter;
													else mainBasicWelcomeMessage
												"
											>
												<mat-card>
													<cyph-markdown
														[markdown]="
															welcomeLetter
														"
													></cyph-markdown>
													<br />
													<a
														class="team-valediction"
														[href]="
															envService.homeUrl
														"
													>
														{{
															stringsService.teamValediction
														}}
													</a>
												</mat-card>
											</div>
										</ng-template>
										<ng-template #mainBasicWelcomeMessage>
											<span
												[class.visibility-hidden]="
													!(
														(
															inviteCodeWatcher
															| await
														)?.pending === false &&
														((
															inviteCodeWatcher
															| await
														)?.errors ||
															!(
																inviteCodeWatcher
																| await
															)?.value)
													)
												"
											>
												<span
													cyphTranslate
													*ngIf="
														!!(
															inviteCodeWatcher
															| await
														)?.value
													"
												>
													{{
														stringsService.invalidInviteCode
													}}
												</span>
												<span
													cyphTranslate
													*ngIf="
														!(
															inviteCodeWatcher
															| await
														)?.value
													"
												>
													Since you don't have an
													invite code, you'll be added
													to the waitlist instead.
												</span>
											</span>
										</ng-template>
									</div>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										cyphTranslate
										*ngIf="
											!envService.isTelehealth &&
											(inviteCodeWatcher | await)
												?.pending === false &&
											(inviteCodeData | await)
												?.welcomeLetter === undefined
										"
									>
										You'll be getting early access to
										premium features, and will still be able
										to easily communicate with anyone who
										doesn't have an account yet.
									</div>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										cyphTranslate
										*ngIf="envService.isTelehealth"
									>
										Registering an account with us enables
										you to easily and safely share medical
										records with your doctors, schedule
										telehealth appointments, and more.
									</div>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
									>
										<div
											fxFlex
											fxLayout="column"
											fxLayoutGap="16px"
										>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
												*ngIf="
													!!(
														inviteCodeWatcher
														| await
													)?.value
												"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[formControl]="username"
														[textMask]="
															usernameMask
														"
														name="cyphUsername"
														placeholder="Username"
														required
													/>
													<div
														matSuffix
														*ngIf="
															usernameWatcher
																| await as currentUsername
														"
													>
														<span
															cyphTranslate
															class="
																form-field-pending
															"
															matTooltip="Checking availability..."
															*ngIf="
																!!currentUsername?.pending
															"
														>
															<cyph-spinner
																diameter="24"
																strokeWidth="2"
																mode="indeterminate"
															></cyph-spinner>
														</span>
														<mat-icon
															cyphTranslate
															[matTooltip]="
																stringsService.registerErrorUsername
															"
															*ngIf="
																!currentUsername?.pending &&
																!!currentUsername?.value &&
																!!currentUsername?.errors
															"
														>
															error_outline
														</mat-icon>
														<mat-icon
															cyphTranslate
															matTooltip="Username available!"
															*ngIf="
																!currentUsername?.pending &&
																!!currentUsername?.value &&
																!currentUsername?.errors
															"
														>
															check
														</mat-icon>
													</div>
													<mat-error
														*ngIf="
															(
																usernameWatcher
																| await
															)?.hasError(
																'usernameTaken'
															)
														"
													>
														{{
															stringsService.registerErrorUsername
														}}
													</mat-error>
													<mat-error
														*ngIf="
															(
																usernameWatcher
																| await
															)?.hasError(
																'usernameTooShort'
															)
														"
													>
														<span
															cyphTranslate
															*ngIf="
																!envService.isTelehealth
															"
														>
															Must be >4
															characters. Upgrade
															to Platinum and lock
															in a short username
															for life!
														</span>
														<span
															*ngIf="
																envService.isTelehealth
															"
														>
															{{
																stringsService.registerErrorUsername
															}}
														</span>
													</mat-error>
													<mat-hint>
														<span cyphTranslate>
															NOTE: Usernames are
															permanent. They
															cannot be changed
															post-registration.
														</span>
													</mat-hint>
												</mat-form-field>
											</div>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[maxlength]="
															accountService.maxNameLength.toString()
														"
														[ngModel]="name | await"
														(ngModelChange)="
															name.next($event)
														"
														name="name"
														[placeholder]="
															envService.isTelehealth ?
																stringsService.name :
																stringsService.nameOrPseudonym
														"
														required
													/>
												</mat-form-field>
											</div>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[ngModel]="
															email | await
														"
														(ngModelChange)="
															email.next($event)
														"
														name="email"
														type="email"
														[pattern]="emailPattern"
														[placeholder]="
															envService.isTelehealth ||
															!(
																inviteCodeWatcher
																| await
															)?.value ?
																stringsService.email :
																stringsService.emailOptional
														"
														[required]="
															envService.isTelehealth ||
															!(
																inviteCodeWatcher
																| await
															)?.value
														"
													/>
												</mat-form-field>
											</div>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
													[matTooltip]="
														stringsService.registerConfirmedInviteCode
													"
													[matTooltipDisabled]="
														(inviteCodeData | await)
															?.isValid !== true
													"
													matTooltipPosition="above"
													*ngIf="
														inviteCodeWatcher
															| await as currentInviteCode
													"
												>
													<input
														matInput
														cyphTranslate
														[formControl]="
															inviteCode
														"
														name="inviteCode"
														placeholder="Invite Code"
													/>
													<div matSuffix>
														<span
															cyphTranslate
															class="
																form-field-pending
															"
															matTooltip="Checking invite code..."
															*ngIf="
																!!currentInviteCode?.pending
															"
														>
															<cyph-spinner
																diameter="24"
																strokeWidth="2"
																mode="indeterminate"
															></cyph-spinner>
														</span>
														<mat-icon
															[matTooltip]="
																stringsService.registerErrorInviteCode
															"
															*ngIf="
																!currentInviteCode?.pending &&
																!!currentInviteCode?.value &&
																!!currentInviteCode?.errors
															"
														>
															error_outline
														</mat-icon>
														<mat-icon
															*ngIf="
																(
																	inviteCodeData
																	| await
																)?.isValid ===
																true
															"
														>
															check
														</mat-icon>
													</div>
													<mat-error
														*ngIf="
															(
																inviteCodeWatcher
																| await
															)?.hasError(
																'inviteCodeInvalid'
															)
														"
													>
														{{
															stringsService.registerErrorInviteCode
														}}
													</mat-error>
												</mat-form-field>
											</div>
											<ng-container
												*ngIf="pgp | await as pgpData"
											>
												<div
													fxLayout="row"
													fxLayoutAlign="center center"
													*ngIf="
														!!pgpData.keybaseUsername ||
														!!pgpData.pgpMetadata
															?.keyID
													"
												>
													<mat-chip-list
														fxFlex
														fxFlex.sm="80"
														fxFlex.gt-sm="60"
														fxLayoutAlign="end"
													>
														<mat-chip
															[matTooltip]="
																stringsService.pgpPublicKey
															"
															matTooltipPosition="left"
															[removable]="true"
															(removed)="
																pgp.next({})
															"
														>
															<mat-icon>
																vpn_key
															</mat-icon>
															&nbsp;&nbsp;&nbsp;
															<span
																*ngIf="
																	!pgpData
																		.pgpMetadata
																		?.keyID
																"
															>
																{{
																	'@' +
																		pgpData.keybaseUsername
																}}
															</span>
															<span
																*ngIf="
																	!!pgpData
																		.pgpMetadata
																		?.keyID
																"
															>
																{{
																	pgpData
																		.pgpMetadata
																		?.keyID ||
																		''
																}}
																<ng-container
																	*ngIf="
																		!!pgpData.keybaseUsername
																	"
																	>&nbsp;{{
																		'(@' +
																			pgpData.keybaseUsername +
																			')'
																	}}
																</ng-container>
															</span>
															<mat-icon
																matChipRemove
															>
																cancel
															</mat-icon>
														</mat-chip>
													</mat-chip-list>
												</div>
											</ng-container>
										</div>
									</div>
								</div>
							</mat-tab>
							<mat-tab *ngIf="false">
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="((tabIndex | await) || 0) > 0"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="((tabIndex | await) || 0) <= 0"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate
										>Patient Info & Insurance</span
									>
								</ng-template>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
									class="description"
								>
									TODO: Add new patient forms & insurance
									TODO: Reimplement tabIndex to work with
									variable sections
								</div>
							</mat-tab>
							<mat-tab
								[disabled]="
									!postSimpleRegisterSetup &&
									(!(inviteCodeWatcher | await)?.value ||
										((currentStep | await) || 0) < 1)
								"
							>
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="
											postSimpleRegisterSetup ||
											((tabIndex | await) || 0) > 0
										"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="
											!postSimpleRegisterSetup &&
											((tabIndex | await) || 0) <= 0
										"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Add Devices</span>
								</ng-template>

								<ng-container
									*ngTemplateOutlet="addDevicesUI"
								></ng-container>
							</mat-tab>
							<mat-tab
								[disabled]="
									!(
										postSimpleRegisterSetup ||
										(inviteCodeWatcher | await)?.value
									) ||
									((currentStep | await) || 0) <
										(postSimpleRegisterSetup ? 1 : 2)
								"
							>
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="
											((tabIndex | await) || 0) >
											(postSimpleRegisterSetup ? 0 : 1)
										"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="
											((tabIndex | await) || 0) <=
											(postSimpleRegisterSetup ? 0 : 1)
										"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Lock Screen</span>
								</ng-template>

								<ng-container
									*ngTemplateOutlet="lockScreenUI"
								></ng-container>
							</mat-tab>
							<mat-tab
								[disabled]="
									!(
										postSimpleRegisterSetup ||
										(inviteCodeWatcher | await)?.value
									) ||
									((currentStep | await) || 0) <
										(postSimpleRegisterSetup ? 2 : 3)
								"
							>
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="
											((tabIndex | await) || 0) >
											(postSimpleRegisterSetup ? 1 : 2)
										"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="
											((tabIndex | await) || 0) <=
											(postSimpleRegisterSetup ? 1 : 2)
										"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Confirm</span>
								</ng-template>

								<div
									fxFlex
									fxLayout="column"
									fxLayoutGap="48px"
								>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										class="description"
										cyphTranslate
									>
										Does this all look right?
									</div>

									<div fxLayout="row" fxLayoutAlign="center">
										<h3
											class="cyph-banner warn"
											*ngIf="
												(submitError | await) !==
												undefined
											"
										>
											{{ submitError | await }}
										</h3>
									</div>

									<div
										fxLayout="row"
										fxLayoutAlign="center center"
									>
										<div
											fxFlex
											fxLayout="column"
											fxLayoutGap="16px"
										>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<strong cyphTranslate
													>Username:</strong
												>
												&nbsp;
												<span>{{
													(usernameWatcher | await)
														?.value
												}}</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
												*ngIf="!postSimpleRegisterSetup"
											>
												<strong cyphTranslate
													>Name:</strong
												>
												&nbsp;
												<span>{{ name | await }}</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
												*ngIf="!postSimpleRegisterSetup"
											>
												<strong cyphTranslate
													>Email:</strong
												>
												&nbsp;
												<span>
													{{
														(email | await) ||
															stringsService.omitted
													}}
												</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<strong cyphTranslate>
													Lock Screen:
												</strong>
												&nbsp;
												<span>
													{{
														(useLockScreenPIN
														| await) ?
															stringsService.lockScreenPIN :
															stringsService.lockScreenPassword
													}}
												</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
												*ngIf="!postSimpleRegisterSetup"
											>
												<strong cyphTranslate
													>Plan:</strong
												>
												&nbsp;
												<span>
													{{
														titleize(
															cyphPlans[
																(
																	inviteCodeData
																	| await
																)?.plan ||
																	cyphPlans.Free
															]
														)
													}}
												</span>
												<ng-container
													*ngIf="
														!envService.noInAppPurchasesReferenceAllowed &&
														!configService
															.planConfig[
															(
																inviteCodeData
																| await
															)?.plan ||
																cyphPlans.Free
														].lifetime
													"
												>
													&nbsp;(<a
														cyphTranslate
														(click)="
															salesService.openPricing(
																envService.homeUrl +
																	'pricing?current=' +
																	cyphPlans[
																		inviteCodeData
																			.value
																			?.plan ||
																			cyphPlans.Free
																	] +
																	'&noInviteRedirect=true' +
																	'&inviteCode=' +
																	(inviteCode.value ||
																		''),
																undefined,
																inAppPurchaseExistingInvite
															)
														"
														>change</a
													>)
												</ng-container>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
						</mat-tab-group>

						<ng-container
							*ngIf="
								(simple | await) ||
								((tabIndex | await) || 0) === totalSteps
							"
						>
							<ng-container
								*ngIf="
									submissionReadinessErrors | await as errors
								"
							>
								<h3
									fxLayout="row"
									fxLayoutAlign="center center"
									class="cyph-banner default-align warn"
									*ngIf="
										!(simple | await) &&
										(errors?.length || 0) > 0
									"
								>
									<div>
										<p>
											<strong cyphTranslate>
												Please correct the following
												issues:
											</strong>
										</p>
										<ul>
											<li
												*ngFor="
													let error of errors
														| cyphArray;
													trackBy: trackBySelf
												"
											>
												{{ error }}
											</li>
										</ul>
									</div>
								</h3>
								<div></div>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
									fxLayoutGap="32px"
								>
									<button
										mat-button
										(click)="updateRoute(-1)"
										*ngIf="!(simple | await)"
									>
										<span cyphTranslate>Previous</span>
									</button>
									<button
										mat-raised-button
										type="submit"
										[disabled]="(errors?.length || 0) > 0"
									>
										<span
											cyphTranslate
											*ngIf="!postSimpleRegisterSetup"
										>
											Register
										</span>
										<span
											cyphTranslate
											*ngIf="postSimpleRegisterSetup"
										>
											Confirm
										</span>
									</button>
								</div>
							</ng-container>
						</ng-container>
					</form>
				</div>

				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					fxLayoutGap="32px"
					*ngIf="
						!(simple | await) &&
						((tabIndex | await) || 0) !== totalSteps
					"
				>
					<ng-container
						*ngIf="
							postSimpleRegisterSetup ||
								!!(inviteCodeWatcher | await)?.value;
							else waitlistButton
						"
					>
						<button
							mat-button
							(click)="updateRoute(-1)"
							*ngIf="((tabIndex | await) || 0) > 0"
						>
							<span cyphTranslate>Previous</span>
						</button>
						<button
							mat-button
							[disabled]="
								((tabIndex | await) || 0) >=
								((currentStep | await) || 0)
							"
							(click)="updateRoute(1)"
						>
							<span cyphTranslate>Next</span>
						</button>
					</ng-container>
					<ng-template #waitlistButton>
						<button mat-button (click)="waitlistSignup()">
							<span cyphTranslate>Sign Up</span>
						</button>
					</ng-template>
				</div>

				<ng-container *ngIf="simple | await">
					<div></div>

					<div
						fxLayout="row"
						fxLayoutAlign="center center"
						fxLayoutGap="32px"
					>
						<a mat-link-button routerLink="/login" cyphTranslate>
							Already have an account? Click here to log in.
						</a>
					</div>

					<div></div>
				</ng-container>

				<div></div>
				<cyph-footer></cyph-footer>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="32px"
				*ngIf="(phase | await) === 1"
			>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					class="description"
				>
					<strong cyphTranslate>One More Thing...</strong>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div fxLayoutGap="16px">
						<p cyphTranslate>
							The final step to get your account online is to set
							up your Master Key.
						</p>
						<p cyphTranslate>
							<span>This is a</span>
							&ngsp;
							<em>secret</em>
							&ngsp;
							<span
								>code that protects all your private data.</span
							>
						</p>
					</div>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<h3 class="cyph-banner warn" cyphTranslate>
						Make sure that you're alone before you proceed!
					</h3>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<button mat-button (click)="phase.next(2)">
						<span cyphTranslate>Master Key Setup</span>
					</button>
				</div>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="32px"
				*ngIf="(phase | await) === 2"
			>
				<ng-container *ngTemplateOutlet="masterKeyUI"></ng-container>

				<div fxLayout="row" fxLayoutAlign="center center">
					<button
						mat-button
						[disabled]="(masterKeyReady | await) === false"
						(click)="phase.next(3); spoiler.next(true)"
					>
						<span cyphTranslate>Next</span>
					</button>
				</div>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="32px"
				fxLayoutAlign="center stretch"
				class="back-button-container"
				*ngIf="(phase | await) === 3"
			>
				<ng-container
					*ngTemplateOutlet="masterKeyFinalConfirmationUI"
				></ng-container>

				<div fxLayout="row" fxLayoutAlign="center">
					<button mat-raised-button (click)="submit()">
						<span cyphTranslate>Confirm Registration</span>
					</button>
				</div>
			</div>
		</mat-card-content>
		<cyph-spinner class="global" mode="indeterminate"></cyph-spinner>
	</mat-card>
</div>

<ng-template #masterKeyFinalConfirmationUI>
	<button
		mat-icon-button
		cyphTranslate
		class="back"
		matTooltip="Back"
		(click)="phase.next(2)"
	>
		<mat-icon>arrow_back</mat-icon>
	</button>
	<div fxLayout="row" fxLayoutAlign="center">
		<h3
			class="cyph-banner warn"
			*ngIf="(submitError | await) !== undefined"
		>
			{{ submitError | await }}
		</h3>
	</div>
	<div fxLayout="row" fxLayoutAlign="center">
		<div
			fxFlex
			fxFlex.sm="95"
			fxFlex.md="75"
			fxFlex.gt-md="50"
			fxLayout="column"
		>
			<mat-form-field fxFlex *ngIf="!paperMasterKeySetupMode">
				<input
					matInput
					cyphTranslate
					[ngModel]="(usernameWatcher | await)?.value || ''"
					name="confirmCyphUsername"
					placeholder="Confirm Username"
					[disabled]="true"
					required
				/>
			</mat-form-field>
			<mat-form-field fxFlex>
				<input
					matInput
					cyphAutofocus
					[(ngModel)]="finalConfirmation.masterKey"
					name="confirmMasterKey"
					[type]="
						(hidePassword.finalConfirmation | await) ?
							'password' :
							'text'
					"
					placeholder="Confirm Master Key"
					required
					(keydown.enter)="
						confirmMasterKeyOnly ?
							confirmMasterKey() :
						getMasterKeyOnly ?
							getMasterKey() :
							undefined;
						$event.preventDefault()
					"
				/>
				<mat-icon
					matSuffix
					class="suffix-button"
					(click)="
						hidePassword.finalConfirmation.next(
							!hidePassword.finalConfirmation.value
						)
					"
				>
					{{
						(hidePassword.finalConfirmation | await) ?
							'visibility' :
							'visibility_off'
					}}
				</mat-icon>
			</mat-form-field>
		</div>
	</div>
</ng-template>

<ng-template #masterKeyUI>
	<div fxLayout="column" fxLayoutGap="48px" cyphTranslate>
		<div></div>

		<div fxLayout="row" fxLayoutAlign="center center">
			<h3
				fxLayout="column"
				fxLayoutGap="24px"
				class="cyph-banner inverted default-align"
			>
				<div cyphTranslate>
					<h4>Understanding your Master Key:</h4>
					<ol>
						<li>
							Your Master Key is what unlocks your encrypted data
							and will be used when initially logging in on a new
							device.
						</li>
						<li>
							<strong class="warn">KEEP IT SAFE!</strong>
							<span>
								&mdash; While we provide state-of-the-art
								encryption and implement numerous safeguards,
							</span>
							<strong class="warn"
								>if your key is compromised, your private data
								can be compromised as well.</strong
							>
						</li>
						<li>
							<strong class="warn">DON'T LOSE IT!</strong>
							<span>
								&mdash; If this key is lost and you lose access
								to your authenticated devices,
							</span>
							<strong class="warn"
								>you will not be able to access your
								account</strong
							>
							<span> or recover your data! </span>
						</li>
					</ol>
					<h4>Security Recommendations:</h4>
					<ol>
						<li>
							Don't print it out, save it to cloud storage, or
							save it to a file.
						</li>
						<li>
							Don't even store it in an encrypted password
							manager.
						</li>
						<li>
							<strong class="warn">
								<span>Write it down</span>
								&ngsp;
								<em>on paper</em>
								&ngsp;
								<span>and keep it well hidden.</span>
							</strong>
						</li>
					</ol>
				</div>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					[class.cyph-inverted-theme]="
						(opsecAcknowledgement | await) === false
					"
				>
					<button
						mat-raised-button
						cyphTranslate
						[disabled]="(opsecAcknowledgement | await) === true"
						(click)="opsecAcknowledgement.next(true)"
						required
					>
						I understand and am ready to view my Master Key
					</button>
				</div>
			</h3>
		</div>

		<div
			fxLayout="row"
			(click)="useXkcdPassphrase.next(true)"
			class="password-option"
			[class.deselected]="(useXkcdPassphrase | await) === false"
			*ngIf="(opsecAcknowledgement | await) === true"
		>
			<div fxFlex fxLayout="column" fxLayoutGap="16px">
				<div></div>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					*ngIf="(spoiler | await) === false"
				>
					<div fxFlex fxFlex.sm="80" fxFlex.gt-sm="90">
						<div fxLayoutAlign="center center">
							<div class="fake-tooltip mat-tooltip">
								{{ stringsService.masterKeyInfo }}
							</div>
						</div>
						<div fxLayoutAlign="center center" fxLayoutGap="16px">
							<div></div>
							<div cyphTranslate class="slider-label">
								Master Key Strength
							</div>
							<mat-slider
								fxFlex
								class="cdk-focused"
								[displayWith]="xkcdSliderDisplayWith"
								[max]="configService.masterKey.sizes.length - 1"
								[min]="1"
								[ngModel]="
									(xkcdPassphrase | await) ||
									configService.masterKey.defaultSize
								"
								(ngModelChange)="xkcdPassphrase.next($event)"
								[step]="1"
								[thumbLabel]="true"
								[tickInterval]="1"
							></mat-slider>
							<mat-icon
								#masterKeyStrengthHelpTooltip="matTooltip"
								matSuffix
								[matTooltip]="
									stringsService.masterKeyStrengthHelp
								"
								matTooltipPosition="above"
								(click)="masterKeyStrengthHelpTooltip.show()"
							>
								help
							</mat-icon>
							<div></div>
						</div>
					</div>
				</div>
				<div></div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div
						fxFlex
						fxFlex.sm="80"
						fxFlex.gt-sm="90"
						class="spoiler"
						[class.revealed]="(spoiler | await) === false"
						(click)="
							spoiler.next(!spoiler.value);
							xkcdPassphraseHasBeenViewed.next(true)
						"
					>
						<div class="xkcd-passphrase animated fadeIn">
							<span
								cyphTranslate
								class="animated fadeIn"
								*ngIf="spoiler | await"
							>
								Click to Reveal Master Key
							</span>
							<span
								class="animated fadeIn no-select"
								(copy)="$event.preventDefault()"
								(cut)="$event.preventDefault()"
								*ngIf="(spoiler | await) === false"
							>
								{{
									xkcdPassphrases ?
										(xkcdPassphrases[
											(xkcdPassphrase | await) || 0
										]() | await) :
										''
								}}
							</span>
						</div>
					</div>
				</div>
				<div></div>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					*ngIf="(spoiler | await) === false"
				>
					<div fxFlex fxFlex.sm="80" fxFlex.gt-sm="90">
						<div fxLayoutAlign="center center" fxLayoutGap="16px">
							<div></div>
							<h3
								fxFlex
								class="cyph-banner warn password"
								[ngClass]="
									configService.masterKey.sizeStrength(
										(xkcdPassphrase | await) || 0
									)
								"
							>
								<ng-container
									[ngSwitch]="
										configService.masterKey.sizeStrength(
											(xkcdPassphrase | await) || 0
										)
									"
								>
									<cyph-markdown
										[markdown]="
											stringsService.masterKeyStrengthDetailVeryHigh
										"
										*ngSwitchCase="'very-high'"
									></cyph-markdown>
									<cyph-markdown
										[markdown]="
											stringsService.masterKeyStrengthDetailHigh
										"
										*ngSwitchCase="'high'"
									></cyph-markdown>
									<cyph-markdown
										[markdown]="
											stringsService.masterKeyStrengthDetailMedium
										"
										*ngSwitchCase="'medium'"
									></cyph-markdown>
									<cyph-markdown
										[markdown]="
											stringsService.masterKeyStrengthDetailLow
										"
										*ngSwitchCase="'low'"
									></cyph-markdown>
								</ng-container>
							</h3>
							<div></div>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</div>

		<div
			fxLayout="row"
			fxLayoutAlign="center center"
			*ngIf="
				!confirmMasterKeyOnly && (opsecAcknowledgement | await) === true
			"
		>
			<mat-accordion>
				<mat-expansion-panel
					(afterCollapse)="useXkcdPassphrase.next(true)"
				>
					<mat-expansion-panel-header>
						<span cyphTranslate>Advanced</span>
					</mat-expansion-panel-header>
					<div fxFlex fxLayout="column" fxLayoutGap="32px">
						<div
							fxLayout="row"
							fxLayoutAlign="center center"
							cyphTranslate
						>
							You may pick your own instead, but to ensure your
							privacy it must be at least 20 characters and very
							difficult to guess.
						</div>
						<div
							fxLayout="row"
							cyphTranslate
							(click)="useXkcdPassphrase.next(false)"
							class="password-option"
							[class.deselected]="useXkcdPassphrase | await"
						>
							<div fxFlex fxLayout="column" fxLayoutGap="16px">
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
								>
									<h3 cyphTranslate>
										Option #2: Custom Master Key
									</h3>
								</div>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
								>
									<mat-form-field
										fxFlex
										fxFlex.sm="80"
										fxFlex.gt-sm="60"
									>
										<input
											matInput
											cyphTranslate
											[ngModel]="masterKey | await"
											(ngModelChange)="
												masterKey.next($event)
											"
											name="masterKey"
											[type]="
												(hidePassword.masterKey
												| await) ?
													'password' :
													'text'
											"
											placeholder="Master Key"
											[required]="
												(useXkcdPassphrase | await) ===
												false
											"
											[minlength]="
												configService.masterKey.customMinLength.toString()
											"
										/>
										<mat-icon
											matSuffix
											class="suffix-button"
											(click)="
												hidePassword.masterKey.next(
													!hidePassword.masterKey
														.value
												)
											"
										>
											{{
												(hidePassword.masterKey
												| await) ?
													'visibility' :
													'visibility_off'
											}}
										</mat-icon>
									</mat-form-field>
								</div>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
								>
									<mat-form-field
										fxFlex
										fxFlex.sm="80"
										fxFlex.gt-sm="60"
									>
										<input
											matInput
											cyphTranslate
											[formControl]="masterKeyConfirm"
											name="masterKeyConfirm"
											[type]="
												(hidePassword.masterKeyConfirm
												| await) ?
													'password' :
													'text'
											"
											placeholder="Confirm Master Key"
											[required]="
												(useXkcdPassphrase | await) ===
												false
											"
										/>
										<mat-icon
											matSuffix
											class="suffix-button"
											(click)="
												hidePassword.masterKeyConfirm.next(
													!hidePassword
														.masterKeyConfirm.value
												)
											"
										>
											{{
												(hidePassword.masterKeyConfirm
												| await) ?
													'visibility' :
													'visibility_off'
											}}
										</mat-icon>
										<mat-error
											*ngIf="
												(
													masterKeyConfirmWatcher
													| await
												)?.hasError('mismatch')
											"
										>
											{{
												stringsService.masterKeyMismatch
											}}
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>

		<div *ngIf="(opsecAcknowledgement | await) === true"></div>
	</div>
</ng-template>

<ng-template #addDevicesUI>
	<div fxFlex fxLayout="column" fxLayoutGap="48px" cyphTranslate>
		<div
			cyphTranslate
			fxLayout="row"
			fxLayoutAlign="center center"
			class="description"
		>
			Set up as many additional devices as possible to ensure you never
			permanently lose access to your account.
		</div>

		<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
			<button
				mat-raised-button
				cyphTranslate
				matTooltip="Install and set up the Cyph app on a mobile device."
				(click)="newDeviceActivation(true)"
			>
				<mat-icon> smartphone </mat-icon>
				&nbsp;
				<span cyphTranslate> Phone </span>
			</button>
			<pre
				class="additional-devices-count"
				*ngIf="((additionalDevices.mobile | await) || 0) > 0"
				>{{ (additionalDevices.mobile | await) || 0 }}</pre
			>
		</div>

		<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
			<button
				mat-raised-button
				cyphTranslate
				matTooltip="Install and set up the Cyph app on a desktop or laptop."
				(click)="newDeviceActivation(false)"
			>
				<mat-icon> computer </mat-icon>
				&nbsp; &nbsp;
				<span cyphTranslate> Computer </span>
			</button>
			<pre
				class="additional-devices-count"
				*ngIf="((additionalDevices.desktop | await) || 0) > 0"
				>{{ (additionalDevices.desktop | await) || 0 }}</pre
			>
		</div>

		<div fxLayout="row" [style.border-top]="'1px solid'">
			<div fxFlex fxLayout="column" fxLayoutAlign="center center">
				<div fxLayout="row" fxLayoutAlign="center center">
					<h3 cyphTranslate>Required:</h3>
				</div>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					fxLayoutGap="32px"
				>
					<button
						mat-raised-button
						cyphTranslate
						[disabled]="additionalDevices.paperMasterKey | await"
						matTooltip="Set up a long-term secure passphrase. Most highly recommended option."
						(click)="paperMasterKeySetup()"
					>
						<mat-icon> description </mat-icon>
						&nbsp;
						<span cyphTranslate> Paper Master Key </span>
					</button>
					<mat-icon *ngIf="additionalDevices.paperMasterKey | await"
						>check</mat-icon
					>
				</div>
			</div>
		</div>

		<div></div>
	</div>
</ng-template>

<ng-template #lockScreenUI>
	<div fxFlex fxLayout="column" fxLayoutGap="48px" cyphTranslate>
		<ng-container *ngIf="!hidePinDescription">
			<div
				fxLayout="row"
				fxLayoutAlign="center center"
				class="description"
			>
				The lock screen password is used to block access to your account
				while you're away.
			</div>

			<div fxLayout="row" fxLayoutAlign="center center">
				<span>
					<span cyphTranslate>
						This should be simple and memorable. However, a longer
						one will be more secure if you sign in to
					</span>
					&ngsp;
					<span>{{ stringsService.product }}</span>
					&ngsp;
					<span cyphTranslate>on a shared device.</span>
				</span>
			</div>
		</ng-container>

		<ng-container
			*ngTemplateOutlet="lockScreenPinUI; context: {order: '1'}"
		></ng-container>
		<ng-container
			*ngTemplateOutlet="lockScreenPasswordUI; context: {order: '2'}"
		></ng-container>

		<!--
		<ng-container *ngIf="!envService.isMobileOS">
			<ng-container
				*ngTemplateOutlet="lockScreenPasswordUI; context: {order: '1'}"
			></ng-container>
			<ng-container
				*ngTemplateOutlet="lockScreenPinUI; context: {order: '2'}"
			></ng-container>
		</ng-container>
		-->
	</div>
</ng-template>

<ng-template #lockScreenPinUI let-order="order">
	<div
		fxLayout="row"
		(click)="useLockScreenPIN.next(true)"
		class="password-option"
		[class.deselected]="(useLockScreenPIN | await) === false"
	>
		<div fxFlex fxLayout="column" fxLayoutGap="16px">
			<div fxLayout="row" fxLayoutAlign="center center">
				<h3>
					<span cyphTranslate>Option</span>
					&ngsp;
					<span
						>#{{ order }}: {{ stringsService.lockScreenPIN }}</span
					>
				</h3>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<cyph-pin-input
					fxFlex
					fxFlex.sm="80"
					fxFlex.gt-sm="60"
					[ngModel]="lockScreenPIN | await"
					(ngModelChange)="lockScreenPIN.next($event)"
					name="lockScreenPIN"
					[autofocus]="order === '1'"
					[hide]="hidePassword.lockScreenPIN"
					[required]="(useLockScreenPIN | await) === true"
				></cyph-pin-input>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<cyph-pin-input
					fxFlex
					fxFlex.sm="80"
					fxFlex.gt-sm="60"
					[ngModel]="lockScreenPinConfirm | await"
					(ngModelChange)="lockScreenPinConfirm.next($event)"
					name="lockScreenPinConfirm"
					[hide]="hidePassword.lockScreenPinConfirm"
					[pattern]="(lockScreenPIN | await) || ''"
					[placeholder]="stringsService.pinConfirm"
					[required]="(useLockScreenPIN | await) === true"
				></cyph-pin-input>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #lockScreenPasswordUI let-order="order">
	<div
		fxLayout="row"
		cyphTranslate
		(click)="useLockScreenPIN.next(false)"
		class="password-option"
		[class.deselected]="useLockScreenPIN | await"
	>
		<div fxFlex fxLayout="column" fxLayoutGap="16px">
			<div fxLayout="row" fxLayoutAlign="center center">
				<h3>
					<span cyphTranslate>Option</span>
					&ngsp;
					<span
						>#{{ order }}:
						{{ stringsService.lockScreenPassword }}</span
					>
				</h3>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-form-field fxFlex fxFlex.sm="80" fxFlex.gt-sm="60">
					<input
						matInput
						cyphTranslate
						[ngModel]="lockScreenPassword | await"
						(ngModelChange)="lockScreenPassword.next($event)"
						cyphAutofocus
						[cyphAutofocusEnabled]="order === '1'"
						name="lockScreenPassword"
						[type]="
							(hidePassword.lockScreenPassword | await) ?
								'password' :
								'text'
						"
						placeholder="Lock Screen Password"
						[required]="(useLockScreenPIN | await) === false"
						[minlength]="lockScreenPasswordLength.toString()"
					/>
					<mat-icon
						matSuffix
						class="suffix-button"
						(click)="
							hidePassword.lockScreenPassword.next(
								!hidePassword.lockScreenPassword.value
							)
						"
					>
						{{
							(hidePassword.lockScreenPassword | await) ?
								'visibility' :
								'visibility_off'
						}}
					</mat-icon>
				</mat-form-field>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-form-field fxFlex fxFlex.sm="80" fxFlex.gt-sm="60">
					<input
						matInput
						cyphTranslate
						[formControl]="lockScreenPasswordConfirm"
						name="lockScreenPasswordConfirm"
						[type]="
							(hidePassword.lockScreenPasswordConfirm | await) ?
								'password' :
								'text'
						"
						placeholder="Confirm Lock Screen Password"
						[required]="(useLockScreenPIN | await) === false"
					/>
					<mat-icon
						matSuffix
						class="suffix-button"
						(click)="
							hidePassword.lockScreenPasswordConfirm.next(
								!hidePassword.lockScreenPasswordConfirm.value
							)
						"
					>
						{{
							(hidePassword.lockScreenPasswordConfirm | await) ?
								'visibility' :
								'visibility_off'
						}}
					</mat-icon>
					<mat-error
						*ngIf="
							(
								lockScreenPasswordConfirmWatcher | await
							)?.hasError('mismatch')
						"
					>
						{{ stringsService.lockScreenPasswordMismatch }}
					</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>
</ng-template>
