<ng-container *ngIf="confirmMasterKeyOnly || getMasterKeyOnly || getPinOnly">
	<form
		fxFlex
		fxLayout="column"
		[fxLayoutAlign]="(phase | async) === 3 ? 'center stretch' : ''"
		[fxLayoutGap]="confirmMasterKeyOnly ? '0px' : '32px'"
		ngNativeValidate
		(submit)="
			getPinOnly && lockScreenPasswordReady.value ?
				submitPIN.emit({
					isCustom: !useLockScreenPIN.value,
					value: useLockScreenPIN.value ?
						lockScreenPIN.value :
						lockScreenPassword.value
				}) :
			!masterKeyReady.value ?
				undefined :
			phase.value !== 3 ?
				phase.next(3) :
			confirmMasterKeyOnly ?
				confirmMasterKey() :
			getMasterKeyOnly ?
				getMasterKey() :
				undefined
		"
		*ngIf="xkcdPassphrase | async as xkcd"
	>
		<div>
			<ng-container
				*ngTemplateOutlet="
					!confirmMasterKeyOnly && !getMasterKeyOnly ?
						lockScreenUI :
					(phase | async) === 3 ?
						masterKeyFinalConfirmationUI :
						masterKeyUI
				"
			></ng-container>
		</div>

		<div fxLayoutAlign="center center" fxLayoutGap="22px">
			<button
				mat-button
				cyphTranslate
				fxFlex
				fxFlex.gt-sm="initial"
				type="submit"
				(click)="submitPIN.emit(undefined)"
				*ngIf="getPinOnly && pinSkippable"
			>
				Skip
			</button>

			<button
				mat-raised-button
				fxFlex
				fxFlex.gt-sm="initial"
				type="submit"
				class="confirmMK"
				[disabled]="
					((confirmMasterKeyOnly || getMasterKeyOnly ?
						masterKeyReady :
						lockScreenPasswordReady
					) | async) === false
				"
			>
				{{
					confirmMasterKeyOnly ?
						confirmMasterKeySubmitText :
						getPasswordSubmitText
				}}
			</button>
			<br />
		</div>
	</form>
</ng-container>

<div
	class="login-form"
	[class.checking]="checking | async"
	*ngIf="!confirmMasterKeyOnly && !getMasterKeyOnly && !getPinOnly"
>
	<mat-card fxFlex class="fullscreen">
		<mat-card-title>
			{{ stringsService.registerTitle }}
		</mat-card-title>
		<cyph-logo cardHeader homeLink></cyph-logo>
		<mat-card-content [class.full-height]="(phase | async) === 3">
			<br />

			<div
				fxLayout="column"
				fxLayoutGap="32px"
				*ngIf="(phase | async) === 0"
			>
				<div fxLayout="row">
					<form
						fxFlex
						fxLayout="column"
						fxLayoutGap="32px"
						ngNativeValidate
						(submit)="submit()"
					>
						<mat-tab-group
							[selectedIndex]="tabIndex | async"
							(selectedIndexChange)="
								tabIndex.next($event); updateRoute(0, $event)
							"
						>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon>radio_button_checked</mat-icon>
									&nbsp;
									<span cyphTranslate>Basic Information</span>
								</ng-template>

								<div
									fxFlex
									fxLayout="column"
									fxLayoutGap="48px"
								>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										class="description"
									>
										<ng-container
											*ngIf="
												envService.coBranded &&
													!envService.whiteLabel;
												else telehealthWelcomeMessage
											"
										>
											<span>
												<span cyphTranslate
													>Welcome to</span
												>
												&ngsp;
												<span>{{
													stringsService.product
												}}</span>
												&ngsp;
												<span cyphTranslate
													>powered by Cyph!</span
												>
											</span>
										</ng-container>
										<ng-template #telehealthWelcomeMessage>
											<ng-container
												*ngIf="
													envService.telehealthTheme;
													else mainInviteCodeWelcomeMessage
												"
											>
												<span cyphTranslate>
													Welcome to Cyph Telehealth!
												</span>
											</ng-container>
										</ng-template>
										<ng-template
											#mainInviteCodeWelcomeMessage
										>
											<div
												class="cyph-light-theme welcome-letter"
												*ngIf="
													(inviteCodeData | async)
														?.isValid &&
														(inviteCodeData | async)
															?.welcomeLetter as welcomeLetter;
													else mainBasicWelcomeMessage
												"
											>
												<mat-card>
													<cyph-markdown
														[markdown]="
															welcomeLetter
														"
													></cyph-markdown>
													<br />
													<a
														class="team-valediction"
														[href]="
															envService.homeUrl
														"
													>
														{{
															stringsService.teamValediction
														}}
													</a>
												</mat-card>
											</div>
										</ng-template>
										<ng-template #mainBasicWelcomeMessage>
											<span
												[class.visibility-hidden]="
													!(
														(
															inviteCodeWatcher
															| async
														)?.pending === false &&
														((
															inviteCodeWatcher
															| async
														)?.errors ||
															!(
																inviteCodeWatcher
																| async
															)?.value)
													)
												"
											>
												<span cyphTranslate>
													Don't have an invite code?
												</span>
												&ngsp;
												<a
													cyphTranslate
													[href]="
														envService.homeUrl +
														'register?hideHeaderAndFooter=true'
													"
													target="_self"
													>Join the waitlist to get
													one!</a
												>
											</span>
										</ng-template>
									</div>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										cyphTranslate
										*ngIf="
											!envService.isTelehealth &&
											(inviteCodeWatcher | async)
												?.pending === false &&
											(inviteCodeData | async)
												?.welcomeLetter === undefined
										"
									>
										You'll be getting early access to
										premium features, and will still be able
										to easily communicate with anyone who
										doesn't have an account yet.
									</div>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										cyphTranslate
										*ngIf="envService.isTelehealth"
									>
										Registering an account with us enables
										you to easily and safely share medical
										records with your doctors, schedule
										telehealth appointments, and more.
									</div>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
									>
										<div
											fxFlex
											fxLayout="column"
											fxLayoutGap="16px"
										>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[formControl]="username"
														[textMask]="
															usernameMask
														"
														name="cyphUsername"
														placeholder="Username"
														required
													/>
													<div
														matSuffix
														*ngIf="
															usernameWatcher
																| async as currentUsername
														"
													>
														<span
															cyphTranslate
															class="form-field-pending"
															matTooltip="Checking availability..."
															*ngIf="
																currentUsername.pending
															"
														>
															<mat-progress-spinner
																diameter="24"
																strokeWidth="2"
																mode="indeterminate"
															></mat-progress-spinner>
														</span>
														<mat-icon
															cyphTranslate
															[matTooltip]="
																stringsService.registerErrorUsername
															"
															*ngIf="
																!currentUsername.pending &&
																!!currentUsername.value &&
																!!currentUsername.errors
															"
														>
															error_outline
														</mat-icon>
														<mat-icon
															cyphTranslate
															matTooltip="Username available!"
															*ngIf="
																!currentUsername.pending &&
																!!currentUsername.value &&
																!currentUsername.errors
															"
														>
															check
														</mat-icon>
													</div>
													<mat-error
														*ngIf="
															(
																usernameWatcher
																| async
															)?.hasError(
																'usernameTaken'
															)
														"
													>
														{{
															stringsService.registerErrorUsername
														}}
													</mat-error>
												</mat-form-field>
											</div>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[maxLength]="
															accountService.maxNameLength
														"
														[ngModel]="name | async"
														(ngModelChange)="
															name.next($event)
														"
														name="name"
														[placeholder]="
															envService.isTelehealth ?
																stringsService.name :
																stringsService.nameOrPseudonym
														"
														required
													/>
												</mat-form-field>
											</div>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[ngModel]="
															email | async
														"
														(ngModelChange)="
															email.next($event)
														"
														name="email"
														type="email"
														[pattern]="emailPattern"
														[placeholder]="
															envService.isTelehealth ?
																stringsService.email :
																stringsService.emailOptional
														"
														[required]="
															envService.isTelehealth
														"
													/>
												</mat-form-field>
											</div>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<mat-form-field
													fxFlex
													fxFlex.sm="80"
													fxFlex.gt-sm="60"
												>
													<input
														matInput
														cyphTranslate
														[formControl]="
															inviteCode
														"
														name="inviteCode"
														placeholder="Invite Code"
														required
													/>
													<div
														matSuffix
														*ngIf="
															inviteCodeWatcher
																| async as currentInviteCode
														"
													>
														<span
															cyphTranslate
															class="form-field-pending"
															matTooltip="Checking invite code..."
															*ngIf="
																currentInviteCode.pending
															"
														>
															<mat-progress-spinner
																diameter="24"
																strokeWidth="2"
																mode="indeterminate"
															></mat-progress-spinner>
														</span>
														<mat-icon
															cyphTranslate
															[matTooltip]="
																stringsService.registerErrorInviteCode
															"
															*ngIf="
																!currentInviteCode.pending &&
																!!currentInviteCode.value &&
																!!currentInviteCode.errors
															"
														>
															error_outline
														</mat-icon>
														<mat-icon
															cyphTranslate
															matTooltip="Invite code confirmed"
															*ngIf="
																!currentInviteCode.pending &&
																!!currentInviteCode.value &&
																!currentInviteCode.errors
															"
														>
															check
														</mat-icon>
													</div>
													<mat-error
														*ngIf="
															(
																inviteCodeWatcher
																| async
															)?.hasError(
																'inviteCodeInvalid'
															)
														"
													>
														{{
															stringsService.registerErrorInviteCode
														}}
													</mat-error>
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
							<mat-tab *ngIf="false">
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="((tabIndex | async) || 0) > 0"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="((tabIndex | async) || 0) <= 0"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate
										>Patient Info & Insurance</span
									>
								</ng-template>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
									class="description"
								>
									TODO: Add new patient forms & insurance
									TODO: Reimplement tabIndex to work with
									variable sections
								</div>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="((tabIndex | async) || 0) > 0"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="((tabIndex | async) || 0) <= 0"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Lock Screen</span>
								</ng-template>

								<ng-container
									*ngTemplateOutlet="lockScreenUI"
								></ng-container>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									<mat-icon
										*ngIf="((tabIndex | async) || 0) > 1"
									>
										radio_button_checked
									</mat-icon>
									<mat-icon
										*ngIf="((tabIndex | async) || 0) <= 1"
									>
										radio_button_unchecked
									</mat-icon>
									&nbsp;
									<span cyphTranslate>Confirm</span>
								</ng-template>

								<div
									fxFlex
									fxLayout="column"
									fxLayoutGap="48px"
								>
									<div
										fxLayout="row"
										fxLayoutAlign="center center"
										class="description"
										cyphTranslate
									>
										Does this all look right?
									</div>

									<div fxLayout="row" fxLayoutAlign="center">
										<h3
											class="cyph-banner warn"
											*ngIf="
												(submitError | async) !==
												undefined
											"
										>
											{{ submitError | async }}
										</h3>
									</div>

									<div
										fxLayout="row"
										fxLayoutAlign="center center"
									>
										<div
											fxFlex
											fxLayout="column"
											fxLayoutGap="16px"
										>
											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<strong cyphTranslate
													>Username:</strong
												>
												&nbsp;
												<span>{{
													(usernameWatcher | async)
														?.value
												}}</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<strong cyphTranslate
													>Name:</strong
												>
												&nbsp;
												<span>{{ name | async }}</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<strong cyphTranslate
													>Email:</strong
												>
												&nbsp;
												<span>
													{{
														(email | async) ||
															stringsService.omitted
													}}
												</span>
											</div>

											<div
												fxLayout="row"
												fxLayoutAlign="center center"
											>
												<strong cyphTranslate>
													Lock Screen:
												</strong>
												&nbsp;
												<span>
													{{
														(useLockScreenPIN
														| async) ?
															stringsService.lockScreenPIN :
															stringsService.lockScreenPassword
													}}
												</span>
											</div>
										</div>
									</div>
								</div>
							</mat-tab>
						</mat-tab-group>

						<ng-container
							*ngIf="((tabIndex | async) || 0) === totalSteps"
						>
							<ng-container
								*ngIf="
									submissionReadinessErrors | async as errors
								"
							>
								<h3
									fxLayout="row"
									fxLayoutAlign="center center"
									class="cyph-banner default-align warn"
									*ngIf="errors.length > 0"
								>
									<div>
										<p>
											<strong cyphTranslate>
												Please correct the following
												issues:
											</strong>
										</p>
										<ul>
											<li
												*ngFor="
													let error of errors;
													trackBy: trackBySelf
												"
											>
												{{ error }}
											</li>
										</ul>
									</div>
								</h3>
								<div></div>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
									fxLayoutGap="32px"
								>
									<button
										mat-button
										(click)="updateRoute(-1)"
									>
										<span cyphTranslate>Previous</span>
									</button>
									<button
										mat-raised-button
										type="submit"
										[disabled]="errors.length > 0"
									>
										<span cyphTranslate>Register</span>
									</button>
								</div>
							</ng-container>
						</ng-container>
					</form>
				</div>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					fxLayoutGap="32px"
					*ngIf="((tabIndex | async) || 0) !== totalSteps"
				>
					<button
						mat-button
						(click)="updateRoute(-1)"
						*ngIf="((tabIndex | async) || 0) > 0"
					>
						<span cyphTranslate>Previous</span>
					</button>
					<button mat-button (click)="updateRoute(1)">
						<span cyphTranslate>Next</span>
					</button>
				</div>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="32px"
				*ngIf="(phase | async) === 1"
			>
				<div
					fxLayout="row"
					fxLayoutAlign="center center"
					class="description"
				>
					<strong cyphTranslate>One More Thing...</strong>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div fxLayoutGap="16px">
						<p cyphTranslate>
							The final step to get your account online is to set
							up your Master Key.
						</p>
						<p cyphTranslate>
							<span>This is a</span>
							&ngsp;
							<em>secret</em>
							&ngsp;
							<span
								>code that protects all your private data.</span
							>
						</p>
					</div>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<h3 class="cyph-banner warn" cyphTranslate>
						Make sure that you're alone before you proceed!
					</h3>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<button mat-button (click)="phase.next(2)">
						<span cyphTranslate>Master Key Setup</span>
					</button>
				</div>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="32px"
				*ngIf="(phase | async) === 2"
			>
				<ng-container *ngTemplateOutlet="masterKeyUI"></ng-container>

				<div fxLayout="row" fxLayoutAlign="center center">
					<button
						mat-button
						[disabled]="(masterKeyReady | async) === false"
						(click)="phase.next(3); spoiler.next(true)"
					>
						<span cyphTranslate>Next</span>
					</button>
				</div>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayoutGap="32px"
				fxLayoutAlign="center stretch"
				class="back-button-container"
				*ngIf="(phase | async) === 3"
			>
				<ng-container
					*ngTemplateOutlet="masterKeyFinalConfirmationUI"
				></ng-container>

				<div fxLayout="row" fxLayoutAlign="center">
					<button mat-raised-button (click)="submit()">
						<span cyphTranslate>Confirm Registration</span>
					</button>
				</div>
			</div>
		</mat-card-content>
		<mat-progress-spinner
			class="global"
			mode="indeterminate"
		></mat-progress-spinner>
	</mat-card>
</div>

<ng-template #masterKeyFinalConfirmationUI>
	<button
		mat-icon-button
		cyphTranslate
		class="back"
		matTooltip="Back"
		(click)="phase.next(2)"
	>
		<mat-icon>arrow_back</mat-icon>
	</button>
	<div fxLayout="row" fxLayoutAlign="center">
		<h3
			class="cyph-banner warn"
			*ngIf="(submitError | async) !== undefined"
		>
			{{ submitError | async }}
		</h3>
	</div>
	<div fxLayout="row" fxLayoutAlign="center">
		<div
			fxFlex
			fxFlex.sm="95"
			fxFlex.md="75"
			fxFlex.gt-md="50"
			fxLayout="column"
		>
			<mat-form-field fxFlex>
				<input
					matInput
					cyphTranslate
					[ngModel]="(usernameWatcher | async)?.value"
					name="confirmCyphUsername"
					placeholder="Confirm Username"
					disabled
					required
				/>
			</mat-form-field>
			<mat-form-field fxFlex>
				<input
					matInput
					cyphAutofocus
					[(ngModel)]="finalConfirmation.masterKey"
					name="confirmMasterKey"
					[type]="
						(hidePassword.finalConfirmation | async) ?
							'password' :
							'text'
					"
					placeholder="Confirm Master Key"
					required
					(keyup.enter)="submit()"
				/>
				<mat-icon
					matSuffix
					class="suffix-button"
					(click)="
						hidePassword.finalConfirmation.next(
							!hidePassword.finalConfirmation.value
						)
					"
				>
					{{
						(hidePassword.finalConfirmation | async) ?
							'visibility' :
							'visibility_off'
					}}
				</mat-icon>
			</mat-form-field>
		</div>
	</div>
</ng-template>

<ng-template #masterKeyUI>
	<div fxLayout="column" fxLayoutGap="48px" cyphTranslate>
		<div></div>

		<div fxLayout="row" fxLayoutAlign="center center">
			<h3 fxLayout="column" class="cyph-banner default-align">
				<div cyphTranslate>
					<h4>
						Understanding your Master Key:
					</h4>
					<ol>
						<li>
							Your Master Key is what unlocks your encrypted data
							and will be used when initially logging in on a new
							device.
						</li>
						<li>
							<strong>KEEP IT SAFE!</strong> -- While we provide
							state of the art encryption and implement numerous
							safeguards,
							<strong
								>if your key is compromised your private data
								can be compromised as well.</strong
							>
						</li>
						<li>
							<strong>DON'T LOSE IT!</strong> -- If this key is
							lost and you lose access to your authenticated
							devices,
							<strong
								>you will not be able to access your
								account</strong
							>
							or recover your data!
						</li>
					</ol>
					<h4>Security Reccomendations:</h4>
					<ol>
						<li>
							Don't print it out, save it cloud storage, or
							anywhere else.
						</li>
						<li>
							Don't even store it in an encrypted password
							manager.
						</li>
						<li>
							<strong>
								<span>Write it down</span>
								&ngsp;
								<em>on paper</em>
								&ngsp;
								<span>and keep it well hidden.</span>
							</strong>
						</li>
					</ol>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<mat-checkbox
						cyphTranslate
						[ngModel]="opsecAcknowledgement | async"
						(ngModelChange)="opsecAcknowledgement.next($event)"
						required
					>
						I understand and am ready to view my Master Key
					</mat-checkbox>
				</div>
			</h3>
		</div>

		<div
			fxLayout="row"
			(click)="useXkcdPassphrase.next(true)"
			class="password-option"
			[class.deselected]="(useXkcdPassphrase | async) === false"
			[class.visibility-hidden]="(opsecAcknowledgement | async) === false"
		>
			<div fxFlex fxLayout="column" fxLayoutGap="16px">
				<div></div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div
						fxFlex
						fxFlex.sm="80"
						fxFlex.gt-sm="90"
						class="spoiler"
						[class.revealed]="(spoiler | async) === false"
						(click)="
							spoiler.next(!spoiler.value);
							xkcdPassphraseHasBeenViewed.next(true)
						"
					>
						<div class="xkcd-passphrase animated fadeIn">
							<span
								*ngIf="spoiler | async"
								class="animated fadeIn"
							>
								Click to Reveal Master Key
							</span>
							<span
								*ngIf="(spoiler | async) === false"
								class="animated fadeIn no-select"
								(copy)="$event.preventDefault()"
								(cut)="$event.preventDefault()"
							>
								{{
									(confirmMasterKeyOnly ?
										unconfirmedMasterKey :
										xkcdPassphrase
									) | async
								}}
							</span>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</div>

		<div></div>

		<div
			fxLayout="row"
			fxLayoutAlign="center center"
			[class.visibility-hidden]="(opsecAcknowledgement | async) === false"
			*ngIf="!confirmMasterKeyOnly"
		>
			<mat-accordion>
				<mat-expansion-panel
					(afterCollapse)="useXkcdPassphrase.next(true)"
				>
					<mat-expansion-panel-header>
						<span cyphTranslate>Advanced</span>
					</mat-expansion-panel-header>
					<div fxFlex fxLayout="column" fxLayoutGap="32px">
						<div
							fxLayout="row"
							fxLayoutAlign="center center"
							cyphTranslate
						>
							You may pick your own instead, but to ensure your
							privacy it must be at least 20 characters and very
							difficult to guess.
						</div>
						<div
							fxLayout="row"
							cyphTranslate
							(click)="useXkcdPassphrase.next(false)"
							class="password-option"
							[class.deselected]="useXkcdPassphrase | async"
						>
							<div fxFlex fxLayout="column" fxLayoutGap="16px">
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
								>
									<h3 cyphTranslate>
										Option #2: Custom Master Key
									</h3>
								</div>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
								>
									<mat-form-field
										fxFlex
										fxFlex.sm="80"
										fxFlex.gt-sm="60"
									>
										<input
											matInput
											cyphTranslate
											[ngModel]="masterKey | async"
											(ngModelChange)="
												masterKey.next($event)
											"
											name="masterKey"
											[type]="
												(hidePassword.masterKey
												| async) ?
													'password' :
													'text'
											"
											placeholder="Master Key"
											[required]="
												(useXkcdPassphrase | async) ===
												false
											"
											[minLength]="masterKeyLength"
										/>
										<mat-icon
											matSuffix
											class="suffix-button"
											(click)="
												hidePassword.masterKey.next(
													!hidePassword.masterKey
														.value
												)
											"
										>
											{{
												(hidePassword.masterKey
												| async) ?
													'visibility' :
													'visibility_off'
											}}
										</mat-icon>
									</mat-form-field>
								</div>
								<div
									fxLayout="row"
									fxLayoutAlign="center center"
								>
									<mat-form-field
										fxFlex
										fxFlex.sm="80"
										fxFlex.gt-sm="60"
									>
										<input
											matInput
											cyphTranslate
											[formControl]="masterKeyConfirm"
											name="masterKeyConfirm"
											[type]="
												(hidePassword.masterKeyConfirm
												| async) ?
													'password' :
													'text'
											"
											placeholder="Confirm Master Key"
											[required]="
												(useXkcdPassphrase | async) ===
												false
											"
										/>
										<mat-icon
											matSuffix
											class="suffix-button"
											(click)="
												hidePassword.masterKeyConfirm.next(
													!hidePassword
														.masterKeyConfirm.value
												)
											"
										>
											{{
												(hidePassword.masterKeyConfirm
												| async) ?
													'visibility' :
													'visibility_off'
											}}
										</mat-icon>
										<mat-error
											*ngIf="
												(
													masterKeyConfirmWatcher
													| async
												)?.hasError('mismatch')
											"
										>
											{{
												stringsService.masterKeyMismatch
											}}
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>

		<div></div>
	</div>
</ng-template>

<ng-template #lockScreenUI>
	<div fxFlex fxLayout="column" fxLayoutGap="48px" cyphTranslate>
		<ng-container *ngIf="!hidePinDescription">
			<div
				fxLayout="row"
				fxLayoutAlign="center center"
				class="description"
			>
				The lock screen password is used to block access to your account
				while you're away.
			</div>

			<div fxLayout="row" fxLayoutAlign="center center">
				<span>
					<span cyphTranslate>
						This should be simple and memorable. However, a longer
						one will be more secure if you sign in to
					</span>
					&ngsp;
					<span>{{ stringsService.product }}</span>
					&ngsp;
					<span cyphTranslate>on a shared device.</span>
				</span>
			</div>
		</ng-container>

		<ng-container *ngIf="envService.isMobileOS">
			<ng-container
				*ngTemplateOutlet="lockScreenPinUI; context: {order: '1'}"
			></ng-container>
			<ng-container
				*ngTemplateOutlet="lockScreenPasswordUI; context: {order: '2'}"
			></ng-container>
		</ng-container>

		<ng-container *ngIf="!envService.isMobileOS">
			<ng-container
				*ngTemplateOutlet="lockScreenPasswordUI; context: {order: '1'}"
			></ng-container>
			<ng-container
				*ngTemplateOutlet="lockScreenPinUI; context: {order: '2'}"
			></ng-container>
		</ng-container>
	</div>
</ng-template>

<ng-template #lockScreenPinUI let-order="order">
	<div
		fxLayout="row"
		(click)="useLockScreenPIN.next(true)"
		class="password-option"
		[class.deselected]="(useLockScreenPIN | async) === false"
	>
		<div fxFlex fxLayout="column" fxLayoutGap="16px">
			<div fxLayout="row" fxLayoutAlign="center center">
				<h3>
					<span cyphTranslate>Option</span>
					&ngsp;
					<span
						>#{{ order }}: {{ stringsService.lockScreenPIN }}</span
					>
				</h3>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<cyph-pin-input
					fxFlex
					fxFlex.sm="80"
					fxFlex.gt-sm="60"
					[ngModel]="lockScreenPIN | async"
					(ngModelChange)="lockScreenPIN.next($event)"
					name="lockScreenPIN"
					[autofocus]="order === '1'"
					[hide]="hidePassword.lockScreenPIN"
					[required]="useLockScreenPIN | async"
				></cyph-pin-input>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #lockScreenPasswordUI let-order="order">
	<div
		fxLayout="row"
		cyphTranslate
		(click)="useLockScreenPIN.next(false)"
		class="password-option"
		[class.deselected]="useLockScreenPIN | async"
	>
		<div fxFlex fxLayout="column" fxLayoutGap="16px">
			<div fxLayout="row" fxLayoutAlign="center center">
				<h3>
					<span cyphTranslate>Option</span>
					&ngsp;
					<span
						>#{{ order }}:
						{{ stringsService.lockScreenPassword }}</span
					>
				</h3>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-form-field fxFlex fxFlex.sm="80" fxFlex.gt-sm="60">
					<input
						matInput
						cyphTranslate
						[ngModel]="lockScreenPassword | async"
						(ngModelChange)="lockScreenPassword.next($event)"
						cyphAutofocus
						[cyphAutofocusEnabled]="order === '1'"
						name="lockScreenPassword"
						[type]="
							(hidePassword.lockScreenPassword | async) ?
								'password' :
								'text'
						"
						placeholder="Lock Screen Password"
						[required]="(useLockScreenPIN | async) === false"
						[minLength]="lockScreenPasswordLength"
					/>
					<mat-icon
						matSuffix
						class="suffix-button"
						(click)="
							hidePassword.lockScreenPassword.next(
								!hidePassword.lockScreenPassword.value
							)
						"
					>
						{{
							(hidePassword.lockScreenPassword | async) ?
								'visibility' :
								'visibility_off'
						}}
					</mat-icon>
				</mat-form-field>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-form-field fxFlex fxFlex.sm="80" fxFlex.gt-sm="60">
					<input
						matInput
						cyphTranslate
						[formControl]="lockScreenPasswordConfirm"
						name="lockScreenPasswordConfirm"
						[type]="
							(hidePassword.lockScreenPasswordConfirm | async) ?
								'password' :
								'text'
						"
						placeholder="Confirm Lock Screen Password"
						[required]="(useLockScreenPIN | async) === false"
					/>
					<mat-icon
						matSuffix
						class="suffix-button"
						(click)="
							hidePassword.lockScreenPasswordConfirm.next(
								!hidePassword.lockScreenPasswordConfirm.value
							)
						"
					>
						{{
							(hidePassword.lockScreenPasswordConfirm | async) ?
								'visibility' :
								'visibility_off'
						}}
					</mat-icon>
					<mat-error
						*ngIf="
							(
								lockScreenPasswordConfirmWatcher | async
							)?.hasError('mismatch')
						"
					>
						{{ stringsService.lockScreenPasswordMismatch }}
					</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>
</ng-template>
