#websign-load.cyph-branded {
	background-color: #8b62d9 !important;
}
#websign-load:not(.cyph-branded) > div.animation {
	display: none;
}
#websign-load:not(.cyph-branded) > div.message, #websign-load:not(.cyph-branded) strong a {
	color: #444;
}

#websign-load {
	position: fixed;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	z-index: 999;
}
#websign-load > div.animation {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#websign-load > div.animation > * {
	height: 60px;
	width: 60px;
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}
#websign-load > div.message {
	position: absolute;
	top: calc(50% + 60px);
	left: 25px;
	z-index: 999;
	width: calc(100% - 50px);
	text-align: center;
	color: #f1f1f1;
	opacity: 0.75;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#websign-load strong, #websign-load a {
	display: inline-block;
	color: #8b62d9;
	background-color: black;
	padding: 0px 3px;
	margin: 0px -3px;

	/*Breathing*/
	-webkit-animation-name: breathe;
	-moz-animation-name: breathe;
	animation-name: breathe;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
#websign-load strong a {
	color: #f1f1f1;
}

#panic-message {
	top: 50% !important;
	transform: translateY(-50%);
}
#panic-message > div {
	max-width: 40em;
	margin: 0px auto;
}
#panic-message .left {
	text-align: left;
}
#panic-message ol {
	padding-left: 20px;
}
#panic-message li {
	margin-bottom: 16px;
}
@media only screen and (max-device-width: 430px) {
	#panic-message {
		text-align: left !important;
	}
}
@media only screen and (max-device-width: 350px) and (max-device-height: 640px) {
	#panic-message {
		line-height: 110% !important;
	}
}


.double-bounce1, .double-bounce2 {
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	-webkit-animation: preloadbounce 2s infinite ease-in-out;
	-moz-animation: preloadbounce 2s infinite ease-in-out;
	animation: preloadbounce 2s infinite ease-in-out;
}
.double-bounce2 {
	-webkit-animation-delay: -1s;
	-moz-animation-delay: -1s;
	animation-delay: -1s;
}
@-webkit-keyframes preloadbounce {
	0%, 100% {
		-webkit-transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
	}
}
@keyframes preloadbounce {
	0%, 100% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes breathe {
	0%, 100% {
		-webkit-filter: brightness(.9);
	}
	50% {
		-webkit-filter: brightness(1.4);
	}
}
@keyframes breathe {
	0%, 100% {
		-webkit-filter: brightness(.9);
		filter: brightness(.9);
	}
	50% {
		-webkit-filter: brightness(1.4);
		filter: brightness(1.4);
	}
}
