<h1 matDialogTitle *ngIf="title">{{ title }}</h1>

<cyph-search-bar
	#searchBar
	[autofocus]="autofocus"
	[chipInput]="chipInput"
	[chipTransform]="userChipTransform"
	[control]="searchControl"
	[filterTransform]="userFilterTransform"
	[listLength]="searchListLength"
	[name]="name"
	[options]="searchOptions"
	[placeholder]="placeholder || defaultPlaceHolder"
	[query]="searchUsername"
	[readonly]="readonly"
	[required]="required"
	[spinner]="searchSpinner"
	(filterChange)="userFilterChange.emit($event)"
	(inputBlur)="searchBarBlur.emit()"
></cyph-search-bar>

<div fxLayoutAlign="end center" *ngIf="getContacts">
	<button mat-button (click)="submitContacts([])">
		{{ stringsService.cancel }}
	</button>
	<button
		mat-button
		[disabled]="
			!searchBar ||
			((searchBar.filter | await) || {size: 0}).size < minimum
		"
		(click)="submitContacts()"
	>
		{{ stringsService.ok }}
	</button>
</div>
