<h1 matDialogTitle [class.text-center]="fabMode">{{ title }}</h1>

<div [class.text-center]="fabMode" *ngIf="bottomSheet">
	<ng-container *ngTemplateOutlet="dialogContent"></ng-container>
</div>
<div mat-dialog-content [class.text-center]="fabMode" *ngIf="!bottomSheet">
	<ng-container *ngTemplateOutlet="dialogContent"></ng-container>
</div>

<br *ngIf="bottomSheet" />

<div
	fxLayoutAlign="end center"
	*ngIf="bottomSheet && !fabMode && !multipleChoiceOptions"
>
	<ng-container *ngTemplateOutlet="dialogActionsDefault"></ng-container>
</div>
<div
	mat-dialog-actions
	fxLayoutAlign="end center"
	*ngIf="!bottomSheet && !fabMode && !multipleChoiceOptions"
>
	<ng-container *ngTemplateOutlet="dialogActionsDefault"></ng-container>
</div>

<div class="fab-section" *ngIf="bottomSheet && fabMode">
	<ng-container *ngTemplateOutlet="dialogActionsFab"></ng-container>
</div>
<div mat-dialog-actions class="fab-section" *ngIf="!bottomSheet && fabMode">
	<ng-container *ngTemplateOutlet="dialogActionsFab"></ng-container>
</div>

<ng-template #dialogContent>
	<mat-nav-list *ngIf="multipleChoiceOptions; else markdownContent">
		<a
			mat-list-item
			(click)="multipleChoiceSelection = option.value; close(true)"
			*ngFor="let option of multipleChoiceOptions; trackBy: trackBySelf"
		>
			<span mat-line>{{ option.title }}</span>
			<span mat-line *ngIf="option.text">{{ option.text }}</span>
		</a>
	</mat-nav-list>
	<ng-template #markdownContent>
		<cyph-markdown
			[markdown]="content"
			[targetSelf]="true"
			*ngIf="markdown; else text"
		></cyph-markdown>
	</ng-template>
	<ng-template #text>
		<div>{{ content }}</div>
	</ng-template>
	<cyph-dynamic-form
		#dynamicForm
		[form]="form"
		[hideSubmitButton]="true"
		(submitForm)="close(true)"
		*ngIf="form !== undefined; else stringPrompt"
	></cyph-dynamic-form>
	<ng-template #stringPrompt>
		<form
			ngNativeValidate
			*ngIf="prompt !== undefined && !multipleChoiceOptions"
			(submit)="close(true)"
		>
			<br />
			<mat-form-field>
				<input
					matInput
					cyphTranslate
					[(ngModel)]="prompt"
					[placeholder]="promptPlaceholder || stringsService.response"
					name="prompt"
					required
					[type]="
						password && (hidePassword | await) ? 'password' : 'text'
					"
					*ngIf="!bottomSheet || password"
				/>
				<textarea
					matInput
					[matTextareaAutosize]="true"
					[(ngModel)]="prompt"
					[placeholder]="promptPlaceholder || stringsService.response"
					name="prompt"
					required
					*ngIf="bottomSheet && !password"
				></textarea>

				<mat-icon
					matSuffix
					class="suffix-button"
					(click)="hidePassword.next(!hidePassword.value)"
					*ngIf="password"
				>
					{{
						(hidePassword | await) ? 'visibility' : 'visibility_off'
					}}
				</mat-icon>
			</mat-form-field>
		</form>
	</ng-template>
</ng-template>

<ng-template #dialogActionsDefault>
	<button mat-button (click)="close(false)" *ngIf="!cancelFAB">
		{{ cancel }}
	</button>
	<button
		mat-fab
		[matTooltip]="cancel || ''"
		[matTooltipDisabled]="!cancel"
		(click)="close(false)"
		*ngIf="!!cancelFAB"
	>
		<mat-icon>{{ cancelFAB }}</mat-icon>
	</button>

	<button
		mat-button
		(click)="dynamicForm ? dynamicForm.onSubmit() : close(true)"
		*ngIf="!okFAB"
	>
		{{ ok }}
	</button>
	<button
		mat-fab
		[matTooltip]="ok || ''"
		[matTooltipDisabled]="!ok"
		(click)="dynamicForm ? dynamicForm.onSubmit() : close(true)"
		*ngIf="!!okFAB"
	>
		<mat-icon>{{ okFAB }}</mat-icon>
	</button>
</ng-template>

<ng-template #dialogActionsFab>
	<div fxFlex fxLayoutAlign="center center" class="red-button">
		<button
			mat-fab
			[matTooltip]="cancel || ''"
			[matTooltipDisabled]="!cancel"
			(click)="close(false)"
		>
			<mat-icon>{{ cancelFAB }}</mat-icon>
		</button>
	</div>

	<div fxFlex fxLayoutAlign="center center" *ngIf="fabAvatar">
		<img
			class="fab-avatar"
			[src]="fabAvatar | await"
			alt="Avatar"
			cyphTranslate
		/>
	</div>

	<div fxFlex fxLayoutAlign="center center" class="green-button">
		<button
			mat-fab
			[matTooltip]="ok || ''"
			[matTooltipDisabled]="!ok"
			(click)="dynamicForm ? dynamicForm.onSubmit() : close(true)"
		>
			<mat-icon>{{ okFAB }}</mat-icon>
		</button>
	</div>
</ng-template>
