@import '../../mixins';

.login-form {
	mat-progress-spinner {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;

		@include transform(translate(-50%, -50%));
	}

	.cyph-banner {
		margin: 20px;
	}

	&.checking {
		mat-progress-spinner {
			display: block;
		}

		mat-card > :not(mat-progress-spinner) {
			opacity: 0.15;
		}
	}
}
