@import '../../mixins';

.login-form {
	mat-progress-spinner {
		display: none;

		@include spinner-center;
	}

	.cyph-banner {
		margin: 20px;
	}

	&.checking {
		mat-progress-spinner {
			display: block;
		}

		mat-card > :not(mat-progress-spinner) {
			opacity: 0.15;
		}
	}
}
