<div
	fxLayout='column'
	class='free-space'
	*ngIf='(accountFilesService.filesTotalSize | async) && accountFilesService.filesStorageLimit'
>
	<h3 cyphTranslate>
		{{stringsService.totalSpace + "&nbsp;" +
			readableByteLength(accountFilesService.filesTotalSize | async)
		}}/{{readableByteLength(accountFilesService.filesStorageLimit)}}
	</h3>
	<mat-progress-bar
		[value]='(
			(accountFilesService.filesTotalSize | async)/accountFilesService.filesStorageLimit
			)*100'
	></mat-progress-bar>
</div>
