<div fxLayout="column">
	<h3>
		{{ stringsService.totalSpace }}
		{{
			readableByteLength(
				(accountFilesService.filesTotalSize() | await) || 0
			)
		}}
		/
		{{
			readableByteLength(
				(accountFilesService.fileStorageLimit | await) || 0
			)
		}}
	</h3>
	<mat-progress-bar
		[value]="
			(((accountFilesService.filesTotalSize() | await) || 0) /
				((accountFilesService.fileStorageLimit | await) || 0)) *
			100
		"
		[color]="
			((accountFilesService.filesTotalSize() | await) || 0) <=
			((accountFilesService.fileStorageLimit | await) || 0) ?
				undefined :
				'warn'
		"
	></mat-progress-bar>
</div>
