<div fxLayout='column'>
	<h3>
		{{stringsService.totalSpace}}
		{{readableByteLength((accountFilesService.filesTotalSize | async) || 0)}}
		/
		{{readableByteLength(accountFilesService.fileStorageLimit)}}
	</h3>
	<mat-progress-bar
		[value]='
			((accountFilesService.filesTotalSize | async) || 0) /
			accountFilesService.fileStorageLimit *
			100
		'
		[color]='
			(
				((accountFilesService.filesTotalSize | async) || 0) <=
				accountFilesService.fileStorageLimit
			) ?
				"" :
				"warn"
		'
	></mat-progress-bar>
</div>
