@import '../../../../css/mixins';
@import '../../../../css/theme';

.login-root {
	overflow: auto;
}

form > div:last-child {
	padding-top: 32px;
}

cyph-footer {
	margin-bottom: 8px;
}

cyph-pin-input {
	padding-bottom: 32px;
}

.logout {
	text-align: center;
}

.product-description {
	text-align: center;
}

.invalid-credentials.master-key {
	margin-bottom: 32px;
}

.activation-code {
	margin-top: 32px;

	> .back {
		position: absolute;
		margin-top: -40px;
		margin-left: -56px;
	}
}

.mobile {
	padding: 2em;
	text-align: center;

	cyph-logo {
		margin-bottom: 20px;
		max-width: 75%;
		max-height: 75%;
	}

	.activation-code {
		margin-top: 0;
		margin-bottom: 32px;
	}

	form > div:last-child {
		padding-top: 0;
		top: -10px;
		position: relative;
	}

	h1 {
		font-size: 2.5em;
	}

	.unlock-string span {
		font-size: 2em;
	}

	.mat-card,
	.mat-card-content {
		width: 100%;
	}

	.mat-card-title {
		text-align: center;
	}

	&.gt-xs {
		::ng-deep cyph-logo {
			height: 12%;
		}

		em {
			position: relative;
			top: 5px;
		}
	}
}
