@import '../../../../css/mixins';
@import '../../../../css/theme';

.login-root {
	overflow: scroll;
}

form > div:last-child {
	padding-top: 64px;
}

cyph-pin-input {
	padding-bottom: 32px;
}

.logout {
	text-align: center;
}

.product-description {
	text-align: center;
}

.activation-code {
	margin-bottom: 24px;
}

.mobile {
	padding: 2em;
	text-align: center;

	cyph-logo {
		margin-bottom: 20px;
		max-width: 75%;
		max-height: 75%;
	}

	form > div:last-child {
		padding-top: 0;
		top: -10px;
		position: relative;
	}

	h1 {
		font-size: 2.5em;
	}

	.unlock-string span {
		font-size: 2em;
	}

	.mat-card,
	.mat-card-content {
		width: 100%;
	}

	.mat-card-title {
		text-align: center;
	}

	&.gt-xs {
		::ng-deep cyph-logo {
			height: 12%;
		}

		em {
			position: relative;
			top: 5px;
		}
	}

	button,
	a {
		&.mat-primary {
			margin-top: 45px;
		}

		width: 100%;
	}
}
