<div
	fxFlexFill
	fxLayoutAlign='center center'
	class='login-form animated fadeIn'
	[class.checking]='checking | async'
	[class.mobile]='envService.isMobile'
>
	<mat-card
		fxFlex
		fxFlex.sm='95'
		fxFlex.md='75'
		fxFlex.gt-md='50'
		*ngIf='(pinUnlock | async) !== undefined'
	>
		<cyph-logo cardHeader homeLink></cyph-logo>
		<mat-card-title cyphTranslate>
			<span *ngIf='(pinUnlock | async) === false'>{{stringsService.logInTitle}}</span>
			<span *ngIf='pinUnlock | async'>{{stringsService.unlockTitle}}</span>
		</mat-card-title>
		<mat-card-subtitle *ngIf='pinUnlock | async'>
			<p>
				<span cyphTranslate>Welcome back</span>
				&ngsp;
				<span>{{savedUsername | async}}!</span>
				&ngsp;
				<span cyphTranslate>Enter your PIN below.</span>
			</p>
			<p>
				<span cyphTranslate>Not</span>
				&ngsp;
				<span>{{savedUsername | async}}?</span>
				&ngsp;
				<a cyphTranslate (click)='pinUnlock.next(false)'>Sign in as a different user</a>
				&ngsp;
				<span cyphTranslate>or</span>
				&ngsp;
				<a cyphTranslate (click)='removeSavedCredentials()'>log out</a>.
			</p>
		</mat-card-subtitle>
		<mat-card-content>
			<form ngNativeValidate (submit)='submit()'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<h3
						class='cyph-banner warn'
						[style.visibility]='(error | async) ? "visible" : "hidden"'
					>
						{{
							(pinUnlock | async) ?
								stringsService.invalidPIN :
								stringsService.invalidCredentials
						}}
					</h3>
				</div>
				<div
					fxLayout='row'
					fxLayoutAlign='center center'
					*ngIf='(pinUnlock | async) === false'
				>
					<mat-form-field fxFlex fxFlex.sm='80' fxFlex.gt-sm='60'>
						<input
							matInput
							cyphTranslate
							[ngModel]='username | async'
							(ngModelChange)='username.next($event)'
							[textMask]='usernameMask'
							name='cyphUsername'
							placeholder='Username'
							cyphAutofocus
							required
						/>
					</mat-form-field>
				</div>
				<div
					fxLayout='row'
					fxLayoutAlign='center center'
					*ngIf='(pinUnlock | async) === false || (pinIsCustom | async)'
				>
					<mat-form-field
						fxFlex
						fxFlex.sm='80'
						fxFlex.gt-sm='60'
						*ngIf='pinUnlock | async'
					>
						<input
							matInput
							[ngModel]='pin | async'
							(ngModelChange)='pin.next($event)'
							name='lockScreenPIN'
							[type]='(hidePassword | async) ? "password" : "text"'
							[placeholder]='stringsService.pin'
							cyphAutofocus
							required
						/>
						<mat-icon
							matSuffix
							class='suffix-button'
							(click)='hidePassword.next(!hidePassword.value)'
						>
							{{(hidePassword | async) ? 'visibility' : 'visibility_off'}}
						</mat-icon>
					</mat-form-field>
					<mat-form-field
						fxFlex
						fxFlex.sm='80'
						fxFlex.gt-sm='60'
						*ngIf='(pinUnlock | async) === false'
					>
						<input
							matInput
							[ngModel]='masterKey | async'
							(ngModelChange)='masterKey.next($event)'
							name='masterKey'
							[type]='(hidePassword | async) ? "password" : "text"'
							[placeholder]='stringsService.masterKey'
							required
						/>
						<mat-icon
							matSuffix
							class='suffix-button'
							(click)='hidePassword.next(!hidePassword.value)'
						>
							{{(hidePassword | async) ? 'visibility' : 'visibility_off'}}
						</mat-icon>
					</mat-form-field>
				</div>
				<div
					fxLayout='row'
					fxLayoutAlign='center center'
					*ngIf='(pinUnlock | async) && (pinIsCustom | async) === false'
				>
					<cyph-pin-input
						fxFlex
						fxFlex.sm='80'
						fxFlex.gt-sm='60'
						[ngModel]='pin | async'
						(ngModelChange)='pin.next($event)'
						name='pin'
						[autofocus]='true'
						[required]='true'
					></cyph-pin-input>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<button mat-button type='submit' [matTooltip]='
						(pinUnlock | async) ? stringsService.unlock : stringsService.logIn
					'>
						{{(pinUnlock | async) ? stringsService.unlock : stringsService.logIn}}
					</button>
				</div>
			</form>
		</mat-card-content>
		<mat-progress-spinner class='global' mode='indeterminate'></mat-progress-spinner>
	</mat-card>
</div>
