<h3
	class="cyph-banner emphasis warn"
	[style.position]="(envService.isMobile | await) ? 'absolute' : 'relative'"
	[style.zIndex]="'1'"
	*ngIf="envService.isOnion"
>
	<span cyphTranslate>
		We're currently experiencing issues with logging in over Tor. We will
		investigate this as soon as possible, and in the meantime apologies for
		the inconvenience!
	</span>
</h3>

<div class="login-root" fxFlexFill fxLayout="column" fxLayoutGap="16px">
	<cyph-footer
		class="visibility-hidden"
		*ngIf="(envService.isMobile | await) === false"
	></cyph-footer>

	<div
		fxFlex
		fxLayoutAlign="center center"
		class="login-form animated fadeIn"
		[class.checking]="checking | await"
		[class.mobile]="envService.isMobile | await"
		ngClass.gt-xs="gt-xs"
		*ngIf="(pinUnlock | await) !== undefined"
	>
		<ng-container
			*ngIf="
				accountAuthService.pseudoAccountLogin | await;
				else desktopView
			"
		>
			<ng-container *ngTemplateOutlet="pseudoAccountUI"></ng-container>
		</ng-container>
	</div>

	<ng-template #pseudoAccountUI>
		<mat-card
			fxFlex
			fxFlex.sm="95"
			fxFlex.md="75"
			fxFlex.gt-md="40"
			fxFlex.gt-lg="33"
		>
			<ng-container *ngIf="(hasSavedCredentials() | await) === true">
				<mat-card-title cyphTranslate>
					External Contact Request
				</mat-card-title>

				<mat-card-subtitle></mat-card-subtitle>

				<cyph-logo cardHeader homeLink></cyph-logo>

				<mat-card-content
					fxLayout="column"
					fxLayoutAlign="center"
					fxLayoutGap="16px"
				>
					<div></div>
					<div cyphTranslate>
						It appears that you're already logged in here. For now,
						this feature can only be used in a browser session where
						no existing login credentials have been saved.
					</div>
					<div cyphTranslate>
						If you just want to test it out, you can use your
						browser's incognito or private browsing mode &mdash; but
						be aware that the chat history will no longer be
						accessible after closing out of the incognito window.
					</div>
				</mat-card-content>
			</ng-container>
			<ng-container *ngIf="(hasSavedCredentials() | await) === false">
				<mat-card-title cyphTranslate>
					Set Chat Unlock Password
				</mat-card-title>

				<mat-card-subtitle cyphTranslate>
					This should be simple and memorable. However, a longer one
					will be more secure if this is a shared device.
				</mat-card-subtitle>

				<cyph-logo cardHeader homeLink></cyph-logo>

				<mat-card-content fxLayout="row" fxLayoutAlign="center">
					<cyph-account-register
						fxFlex="80"
						[getPasswordSubmitText]="stringsService.continueButton"
						[getPinOnly]="true"
						[hidePinDescription]="true"
						[pinSkippable]="true"
						(submitPIN)="submit($event)"
					></cyph-account-register>
				</mat-card-content>

				<mat-progress-spinner
					class="global"
					mode="indeterminate"
				></mat-progress-spinner>
			</ng-container>
		</mat-card>
	</ng-template>

	<ng-template #desktopView>
		<ng-container
			*ngIf="(envService.isMobile | await) === false; else mobileView"
		>
			<mat-card
				fxFlex
				fxFlex.sm="95"
				fxFlex.md="75"
				fxFlex.gt-md="40"
				fxFlex.gt-lg="33"
			>
				<mat-card-title>
					{{
						(pinUnlock | await) ?
							stringsService.unlockTitle :
							stringsService.logInTitle
					}}
				</mat-card-title>

				<mat-card-subtitle
					*ngIf="(pinUnlock | await) && (masterKeyConfirmed | await)"
				>
					<p>
						<span cyphTranslate>Welcome back</span>
						&ngsp;
						<span>{{ savedUsername | await }}!</span>
						&ngsp;
						<span cyphTranslate>Enter your PIN below.</span>
					</p>
					<p>
						<span cyphTranslate>Not</span>
						&ngsp;
						<span>{{ savedUsername | await }}?</span>
						&ngsp;
						<a cyphTranslate (click)="pinUnlock.next(false)">
							Sign in as a different user
						</a>
						&ngsp;
						<span cyphTranslate>or</span>
						&ngsp;
						<a cyphTranslate (click)="removeSavedCredentials()"
							>log out</a
						>.
					</p>
				</mat-card-subtitle>

				<cyph-logo cardHeader homeLink></cyph-logo>

				<mat-card-content fxLayout="row" fxLayoutAlign="center">
					<form
						ngNativeValidate
						fxFlex="80"
						fxLayout="column"
						(submit)="submit()"
					>
						<div fxLayout="row" fxLayoutAlign="center center">
							<h3
								class="cyph-banner warn invalid-credentials"
								[class.master-key]="
									(pinUnlock | await) === false
								"
								[class.pin-unlock]="
									(pinUnlock | await) === true
								"
								[style.visibility]="
									(error | await) ? 'visible' : 'hidden'
								"
							>
								{{
									(pinUnlock | await) ?
										stringsService.invalidPIN :
										stringsService.invalidCredentials
								}}
							</h3>
						</div>

						<ng-container
							*ngTemplateOutlet="usernameField"
						></ng-container>

						<ng-container *ngIf="loggingIn | await">
							<ng-container
								*ngIf="(pinUnlock | await) === true; else login"
							>
								<ng-container
									*ngTemplateOutlet="pinUnlockFields"
								></ng-container>
							</ng-container>
						</ng-container>

						<br />

						<ng-container *ngIf="(activationCodeSectionOpen | await ) === false">
							<div
								fxLayout="row"
								fxLayoutAlign="center center"
								fxLayoutGap="24px"
								class="login-btns"
								*ngIf="
									(pinUnlock | await) ?
										stringsService.unlock :
										stringsService.logIn as buttonText
								"
							>
								<button
									mat-raised-button
									color="primary"
									type="submit"
									*ngIf="
										(activationCodeSectionOpen | await) ===
											false && (loggingIn | await) === true
									"
								>
									{{ buttonText }}
								</button>

								<button
									mat-raised-button
									color="primary"
									routerLink="login"
									*ngIf="(loggingIn | await) === false"
								>
									{{ buttonText }}
								</button>

								<button
									cyphTranslate
									mat-raised-button
									color="accent"
									(click)="activationCodeSectionOpen.next(true)"
								>
									Use Activation Code
								</button>

								<a
									cyphTranslate
									mat-raised-button
									color="accent"
									[routerLink]="
										'/register' +
										((username | await) ?
											'/:' + ((username | await) || '') :
											'')
									"
									*ngIf="
										!envService.noInAppRegistrationAllowed &&
										(loggingIn | await) === false
									"
								>
									Register
								</a>
							</div>
						</ng-container>


						<div
							class="activation-code"
							*ngIf="(activationCodeSectionOpen | await) === true &&
								(pinUnlock | await) === false &&
								(checking | await) === false
							"
						>
							<cyph-account-new-device-activation
								[activateForUsername]="
									username | await
								"
								[fxShow]="
									(activationCodeFailed
										| await) === false
								"
								(activationComplete)="
									!$event ?
										activationCodeFailed.next(
											true
										) :
										undefined
								"
								(altMasterKey)="
									submit(undefined, $event)
								"
								(lifecycleOnInit)="
									activationCodeFailed.next(false)
								"
							></cyph-account-new-device-activation>
							<button
								cyphTranslate
								mat-raised-button
								color="accent"
								(click)="activationCodeSectionOpen.next(false)"
							>
								Back
							</button>
							<div
								cyphTranslate
								*ngIf="
									(activationCodeFailed
										| await) === true
								"
							>
								Device activation failed
							</div>
						</div>
					</form>
				</mat-card-content>

				<mat-progress-spinner
					class="global"
					mode="indeterminate"
				></mat-progress-spinner>
			</mat-card>
		</ng-container>
	</ng-template>

	<ng-template #mobileView>
		<div fxFlexFill fxLayout="column" fxLayoutGap="32px">
			<div></div>

			<div fxFlex="33">
				<cyph-logo icon homeLink></cyph-logo>

				<div class="unlock-string">
					<span fxFlex cyphTranslate>
						{{
							(pinUnlock | await) ?
								stringsService.unlockTitle :
								stringsService.logInTitle
						}}
					</span>
				</div>
			</div>

			<div></div>

			<div fxFlex fxLayout="column">
				<div fxFlex fxLayoutAlign="center center">
					<form
						ngNativeValidate
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center"
						(submit)="submit()"
					>
						<div fxLayout="row" fxLayoutAlign="center center">
							<h3
								class="cyph-banner warn"
								[fxShow]="error | await"
							>
								{{
									(pinUnlock | await) ?
										stringsService.invalidPIN :
										stringsService.invalidCredentials
								}}
							</h3>
						</div>


						<ng-container
							*ngTemplateOutlet="usernameField"
						></ng-container>

						<ng-container *ngIf="loggingIn | await">
							<ng-container
								*ngIf="(pinUnlock | await) === true; else login"
							>
								<ng-container
									*ngTemplateOutlet="pinUnlockFields"
								></ng-container>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="(activationCodeSectionOpen | await ) === false">
							<div
								fxLayout="column"
								fxLayoutGap="16px"
								fxLayoutAlign="center center"
								*ngIf="
									(pinUnlock | await) ?
										stringsService.unlock :
										stringsService.logIn as buttonText
								"
							>
								<button
									mat-raised-button
									color="primary"
									type="submit"
									*ngIf="
										(activationCodeSectionOpen | await) ===
											false && (loggingIn | await) === true
									"
								>
									{{ buttonText }}
								</button>

								<button
									mat-raised-button
									color="primary"
									routerLink="login"
									*ngIf="(loggingIn | await) === false"
								>
									{{ buttonText }}
								</button>

								<button
									cyphTranslate
									mat-raised-button
									color="accent"
									(click)="activationCodeSectionOpen.next(true)"
								>
									Use Activation Code
								</button>

								<a
									cyphTranslate
									mat-raised-button
									color="accent"
									[routerLink]="
										'/register' +
										((username | await) ?
											'/:' + ((username | await) || '') :
											'')
									"
									*ngIf="
										!envService.noInAppRegistrationAllowed &&
										(loggingIn | await) === false
									"
								>
									Register
								</a>

								<a
									mat-stroked-button
									routerLink="/burner"
									*ngIf="(loggingIn | await) === false"
								>
									<span cyphTranslate>Use</span>
									&ngsp;
									<span>{{ stringsService.product }}</span>
									&ngsp;
									<span cyphTranslate>without an account</span>
								</a>
							</div>
						</ng-container>
					</form>
				</div>

				<div
					class="activation-code"
					*ngIf="
						(activationCodeSectionOpen | await) === true &&
						(pinUnlock | await) === false &&
						(checking | await) === false
					"
				>
							<div>
								<cyph-account-new-device-activation
									[activateForUsername]="
										username | await
									"
									[fxShow]="
										(activationCodeFailed
											| await) === false
									"
									(activationComplete)="
										!$event ?
											activationCodeFailed.next(
												true
											) :
											undefined
									"
									(altMasterKey)="
										submit(undefined, $event)
									"
									(lifecycleOnInit)="
										activationCodeFailed.next(false)
									"
								></cyph-account-new-device-activation>
								<div
									cyphTranslate
									*ngIf="
										(activationCodeFailed
											| await) === true
									"
								>
									Device activation failed
								</div>
							</div>
				</div>

				<button
					cyphTranslate
					mat-raised-button
					color="accent"
					*ngIf="(activationCodeSectionOpen | await ) === true"
					(click)="activationCodeSectionOpen.next(false)"
				>
					Back
				</button>

				<em
					class="logout"
					fxFlex="32px"
					fxFlexAlign="center center"
					*ngIf="(pinUnlock | await) && (masterKeyConfirmed | await)"
				>
					<span cyphTranslate>Not</span>
					&ngsp;
					<span>{{ savedUsername | await }}?</span>
					&ngsp;
					<a cyphTranslate (click)="pinUnlock.next(false)"
						>Sign in as a different user</a
					>
					&ngsp;
					<span cyphTranslate>or</span>
					&ngsp;
					<a cyphTranslate (click)="removeSavedCredentials()"
						>log out</a
					>.
				</em>
			</div>

			<div></div>
		</div>

		<mat-progress-spinner
			class="global"
			mode="indeterminate"
		></mat-progress-spinner>
	</ng-template>

	<cyph-footer></cyph-footer>
</div>

<ng-template #usernameField>
	<ng-container *ngIf="(pinUnlock | await) === false">
		<div class="product-description" fxLayout="row" fxLayoutAlign="center">
			<ng-container *ngIf="envService.isTelehealth">
				<div fxLayout="column" fxLayoutGap="8px">
					<div>
						<span cyphTranslate>Welcome to</span>
						&ngsp;
						<span>{{ stringsService.productTelehealth }}!</span>
						&ngsp;
						<span cyphTranslate>
							If you have an account, you can log in here.
						</span>
					</div>
					<div cyphTranslate>
						Otherwise, if you're a patient, please refer to your
						care provider for guidance.
					</div>
				</div>
			</ng-container>
		</div>

		<br />
		<br />
	</ng-container>

	<div fxLayout="row" fxLayoutAlign="center">
		<mat-form-field fxFlex>
			<input
				matInput
				cyphTranslate
				[ngModel]="savedUsername | await"
				(ngModelChange)="username.next($event)"
				[textMask]="usernameMask"
				name="cyphUsername"
				placeholder="Username"
				cyphAutofocus
				[cyphAutofocusEnabled]="
					(loggingIn | await) === true &&
					(pinUnlock | await) === false
				"
				[disabled]="(pinUnlock | await) === true"
				[required]="
					(activationCodeSectionOpen | await ) === true ||
					(loggingIn | await) === true &&
					(pinUnlock | await) === false
				"
				(keydown.enter)="
					masterKeyInput?.focus();
					masterKeyInput && $event.preventDefault()
				"
			/>
		</mat-form-field>
	</div>
</ng-template>

<ng-template #login>
	<div
		fxLayout="row"
		fxLayoutAlign="center"
		class="animated fadeIn"
		*ngIf="(activationCodeSectionOpen | await) === false"
	>
		<mat-form-field fxFlex>
			<input
				#masterKeyInput
				matInput
				[ngModel]="masterKey | await"
				(ngModelChange)="masterKey.next($event)"
				name="masterKey"
				[type]="(hidePassword | await) ? 'password' : 'text'"
				[placeholder]="stringsService.masterKey"
				(keydown.enter)="submit(); $event.preventDefault()"
				required
			/>
			<mat-icon
				matSuffix
				class="suffix-button"
				(click)="hidePassword.next(!hidePassword.value)"
			>
				{{ (hidePassword | await) ? 'visibility' : 'visibility_off' }}
			</mat-icon>
		</mat-form-field>
	</div>
	<br />
</ng-template>

<ng-template #pinUnlockFields>
	<ng-container *ngIf="(pinIsCustom | await) === false; else pwUnlockFields">
		<div fxLayout="row" fxLayoutAlign="center">
			<cyph-pin-input
				fxFlex
				[ngModel]="pin | await"
				(ngModelChange)="pin.next($event)"
				name="pin"
				[autofocus]="true"
				[required]="true"
				(entered)="submit()"
			></cyph-pin-input>
		</div>
	</ng-container>
</ng-template>

<ng-template #pwUnlockFields>
	<div fxLayout="row" fxLayoutAlign="center">
		<mat-form-field fxFlex>
			<input
				matInput
				cyphAutofocus
				[ngModel]="pin | await"
				(ngModelChange)="pin.next($event)"
				name="lockScreenPassword"
				[type]="(hidePassword | await) ? 'password' : 'text'"
				[placeholder]="stringsService.unlockPassword | titlecase"
				(keydown.enter)="submit(); $event.preventDefault()"
				required
			/>
			<mat-icon
				matSuffix
				class="suffix-button"
				(click)="hidePassword.next(!hidePassword.value)"
			>
				{{ (hidePassword | await) ? 'visibility' : 'visibility_off' }}
			</mat-icon>
		</mat-form-field>
	</div>
	<br />
</ng-template>
