Click here to finish setting `{{email}}` as your email address for your Cyph account `@{{username}}`:

[**{{accountsURLShort}}confirm-email/{{token}}**]({{accountsURL}}confirm-email/{{token}})

If `@{{username}}` isn't your account, or if you clicked the above link by mistake, click here instead to cancel the verification:

[{{accountsURLShort}}cancel-email/{{token}}]({{accountsURL}}cancel-email/{{token}})
