@import '../../../../css/mixins';

cyph-account-contact.active ::ng-deep .contact {
	filter: brightness(1.2);
}

:host-context(mat-bottom-sheet-container) .card-list {
	&.mobile {
		margin-bottom: 8px;
		margin-top: -8px;

		::ng-deep .nano {
			min-height: 300px;
		}
	}

	&:not(.mobile) {
		margin-bottom: -8px;
		margin-top: 8px;

		::ng-deep .nano {
			min-height: 324px;
		}
	}
}

.card-list {
	&,
	> div {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}

	cyph-account-contact {
		margin: 0;
		margin-bottom: 16px;

		&.active {
			margin-bottom: 32px;
		}

		::ng-deep {
			mat-card-subtitle,
			mat-card-title {
				max-width: calc(100vw - 180px);

				&.incoming {
					max-width: calc(100vw - 220px);
				}
			}
		}
	}

	&.mobile {
		cyph-account-contact {
			margin-bottom: 8px;

			&.active {
				margin-bottom: 16px;
			}
		}

		mat-tab-group {
			margin: 0 -8px;
		}
	}

	mat-tab-group ::ng-deep {
		.mat-ink-bar,
		.mat-tab-label {
			width: calc(50% - 1px) !important;
			min-width: calc(50% - 1px) !important;
			max-width: calc(50% - 1px) !important;
		}

		.mat-tab-body-wrapper {
			display: none !important;
		}
	}
}

.contact-list {
	min-height: 100%;
}
