@import '../../../../css/mixins';

cyph-account-contact.active ::ng-deep .contact {
	@include filter(brightness(1.2));
}

.card-list {
	&, > div {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}

	cyph-account-contact {
		margin: 0;
		margin-bottom: 16px;

		&.active {
			margin-bottom: 32px;
		}

		::ng-deep mat-card-title {
			max-width: calc(100vw - 180px);

			&.incoming {
				max-width: calc(100vw - 220px);
			}
		}
	}

	&.mobile cyph-account-contact {
		margin-bottom: 8px;

		&.active {
			margin-bottom: 16px;
		}
	}
}
