<div
	fxFlexFill
	fxLayout='row'
	class='card-list animated slideInDown'
	[class.initiating]='accountContactsService.showSpinner'
>
	<div fxFlexFill fxLayout='column' fxLayoutAlign='start stretch'>
		<cyph-account-contacts-search
			(clearUserFilterFunction)='clearUserFilter = $event'
			(userFilterChange)='$event.subscribe(userFilter)'
		></cyph-account-contacts-search>

		<cyph-account-contact
			class='active animated slideInDown'
			[contact]='userFilter | async'
			(click)='clearUserFilter()'
			*ngIf='(userFilter | async) !== undefined'
		></cyph-account-contact>

		<cyph-account-contact
			class='active animated slideInDown'
			[contact]='activeUser | async'
			*ngIf='(userFilter | async) === undefined'
		></cyph-account-contact>

		<od-virtualscroll
			[vsData]='contactList'
			[vsEqualsFunc]='vsEqualsFunc'
			[vsOptions]='vsOptions'
			*ngIf='showContactList && (userFilter | async) === undefined'
		>
			<ng-template let-item>
				<cyph-account-contact
					[contact]='item'
					class='animated slideInDown'
				></cyph-account-contact>
			</ng-template>
		</od-virtualscroll>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='accountContactsService.showSpinner'
	></mat-progress-spinner>
</div>
