<div
	fxFlexFill
	fxLayout='row'
	class='card-list animated slideInDown'
	[class.mobile]='envService.isMobile | async'
	[class.initiating]='
		(accountContactsService.showSpinner | async) ||
		(home && (accountFilesService.uploadSpinner | async))
	'
>
	<div fxFlex fxLayout='column' fxLayoutAlign='start stretch'>
		<br *ngIf='envService.isMobile | async' />

		<cyph-account-contacts-search
			#accountContactsSearch
			[class.searchMode]='searchMode'
			[autofocus]='searchMode'
			[contactList]='contactList'
			[externalUsers]='true'
			[searchProfileExtra]='searchProfileExtra'
			(searchBarBlur)='searchBarBlur.emit()'
		></cyph-account-contacts-search>

		<div fxFlex fxLayoutAlign='center center' *ngIf='
			youHaveNoFriends &&
			(accountContactsService.showSpinner | async) === false &&
			(contactList | async)?.length < 1;
			else mainContactListView
		'>
			<div>{{stringsService.emptyContactList}}</div>
		</div>

		<ng-template #mainContactListView>
			<div>
				<cyph-account-contact
					class='active animated slideInDown'
					[class.cyph-inverted-theme]='invertedTheme'
					[contact]='accountContactsSearch?.searchBar?.filterSingle | async'
					[showUnreadMessageCount]='true'
					(click)='accountContactsSearch?.searchBar?.clearFilter()'
					*ngIf='(accountContactsSearch?.searchBar?.filterSingle | async) !== undefined'
				></cyph-account-contact>

				<cyph-account-contact
					class='active animated slideInDown'
					[class.cyph-inverted-theme]='invertedTheme'
					[contact]='activeUser | async'
					[showUnreadMessageCount]='true'
					*ngIf='(accountContactsSearch?.searchBar?.filterSingle | async) === undefined'
				></cyph-account-contact>
			</div>

			<div fxFlex>
				<div cyphNanoScroller>
					<div class='contact-list'>
						<ng-container *ngFor='
							let item of filteredContactList | async; trackBy: trackByUser
						'>
							<ng-container *ngTemplateOutlet='listItem; context: {
								item: item
							}'></ng-container>
						</ng-container>
					</div>
				</div>
			</div>

			<!--
			<div fxFlex>
				<div cyphNanoScroller>
					<cdk-virtual-scroll-viewport
						fxFlexFill
						[itemSize]='86 + ((envService.isMobile | async) ? 8 : 16)'
						class='contact-list'
					>
						<ng-container *cdkVirtualFor='
							let item of filteredContactList;
							templateCacheSize: 0;
							trackBy: trackByUser;
						'>
							<ng-container *ngTemplateOutlet='listItem; context: {
								item: item
							}'></ng-container>
						</ng-container>
					</cdk-virtual-scroll-viewport>
				</div>
			</div>
			-->
		</ng-template>

		<br />

		<button mat-button [matMenuTriggerFor]='addContactMenu' class='add-contact'>
			{{stringsService.addContactTitle}}
		</button>
		<mat-menu #addContactMenu='matMenu'>
			<button
				mat-menu-item
				[matTooltip]='stringsService.addContactTooltipInternal'
				[matTooltipPosition]='(envService.isMobile | async) ? "right" : "left"'
				(click)='accountContactsService.addContactPrompt()'
			>
				{{stringsService.addContactButtonInternal}}
			</button>
			<button
				mat-menu-item
				[matTooltip]='stringsService.addContactTooltipExternal'
				[matTooltipPosition]='(envService.isMobile | async) ? "right" : "left"'
				(click)='accountContactsService.addContactPrompt(true)'
			>
				{{stringsService.addContactButtonExternal}}
			</button>
		</mat-menu>

		<br />
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='
			(accountContactsService.showSpinner | async) ||
			(home && (accountFilesService.uploadSpinner | async))
		'
	></mat-progress-spinner>
</div>

<ng-template #listItem let-item='item'>
	<cyph-account-contact
		[contact]='item'
		[showUnreadMessageCount]='true'
		[class.cyph-inverted-theme]='invertedTheme'
	></cyph-account-contact>
</ng-template>
