<div
	fxFlexFill
	fxLayout='row'
	class='card-list animated slideInDown'
	[class.mobile]='envService.isMobile | async'
	[class.initiating]='
		(accountContactsService.showSpinner | async) ||
		(home && (accountFilesService.uploadSpinner | async))
	'
>
	<div fxFlex fxLayout='column' fxLayoutAlign='start stretch'>
		<br *ngIf='envService.isMobile | async' />

		<cyph-account-contacts-search
			#accountContactsSearch
			[class.searchMode]='searchMode'
			[autofocus]='searchMode'
			[contactList]='contactList'
			[externalUsers]='true'
			[searchProfileExtra]='searchProfileExtra'
			(searchBarBlur)='searchBarBlur.emit()'
		></cyph-account-contacts-search>

		<div fxFlex fxLayoutAlign='center center' *ngIf='
			youHaveNoFriends &&
			(accountContactsService.showSpinner | async) === false &&
			(contactList | async)?.length < 1;
			else mainContactListView
		'>
			<div>{{stringsService.emptyContactList}}</div>
		</div>

		<ng-template #mainContactListView>
			<div>
				<cyph-account-contact
					class='active animated slideInDown'
					[class.cyph-inverted-theme]='invertedTheme'
					[contact]='accountContactsSearch?.searchBar?.filterSingle | async'
					[showUnreadMessageCount]='true'
					(click)='accountContactsSearch?.searchBar?.clearFilter()'
					*ngIf='(accountContactsSearch?.searchBar?.filterSingle | async) !== undefined'
				></cyph-account-contact>

				<cyph-account-contact
					class='active animated slideInDown'
					[class.cyph-inverted-theme]='invertedTheme'
					[contact]='activeUser | async'
					[showUnreadMessageCount]='true'
					*ngIf='(accountContactsSearch?.searchBar?.filterSingle | async) === undefined'
				></cyph-account-contact>
			</div>

			<div fxFlex>
				<div cyphNanoScroller>
					<div class='contact-list'>
						<ng-container *ngFor='
							let item of filteredContactList | async; trackBy: trackByUser
						'>
							<ng-container *ngTemplateOutlet='listItem; context: {
								item: item,
								unreadMessages: true
							}'></ng-container>
						</ng-container>
						<ng-container *ngFor='
							let item of filteredContactList | async; trackBy: trackByUser
						'>
							<ng-container *ngTemplateOutlet='listItem; context: {
								item: item,
								unreadMessages: false
							}'></ng-container>
						</ng-container>
					</div>
				</div>
			</div>

			<!--
			<od-virtualscroll
				class='contact-list'
				[vsData]='filteredContactList'
				[vsEqualsFunc]='vsEqualsFunc'
				[vsOptions]='vsOptions'
				*ngIf='(accountContactsSearch?.searchBar?.filterSingle | async) === undefined'
			>
				<ng-template let-item>
					<ng-container *ngTemplateOutlet='listItem; context: {
						item: item
					}'></ng-container>
				</ng-template>
			</od-virtualscroll>
			-->
		</ng-template>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='
			(accountContactsService.showSpinner | async) ||
			(home && (accountFilesService.uploadSpinner | async))
		'
	></mat-progress-spinner>
</div>

<ng-template #listItem let-item='item' let-unreadMessages='unreadMessages'>
	<ng-container *ngIf='unreadMessages === (((item.unreadMessageCount | async) || 0) > 0)'>
		<cyph-account-contact
			[contact]='item'
			[showUnreadMessageCount]='true'
			class='animated slideInDown'
			[class.cyph-inverted-theme]='invertedTheme'
			*ngIf='
				contactList !== accountContactsService.contactList ||
				((item.user ? (item.user | async)?.contactState : item.contactState) | async)
			'
		></cyph-account-contact>
	</ng-container>
</ng-template>
