<section
	fxFlexFill
	fxLayout='column'
	id='main'
	[class.unisection-mode]='appService.state !== states.home'
>
	<mat-toolbar id='main-toolbar' class='wow animated fadeInDownBig' [fxHide]='sidenav.opened'>
		<div fxFlex fxLayout='row' fxLayoutAlign='center center'>
			<div fxFlex fxLayout='column'>
				<div fxLayout='row'>
					<div fxLayout='column' fxLayoutAlign='center center'>
						<a cyphTranslate id='logo' routerLink='/'>
							<img src='/assets/img/logo.white.horizontal.header.png' alt='Cyph logo' />
						</a>
					</div>

					<div fxFlex fxLayout='column'></div>

					<div
						fxLayout='column'
						fxLayoutAlign='center center'
						fxHide.lt-lg class='link-wrapper-outer right'
					>
						<div class='link-wrapper-inner' cyphTranslate>
							<a mat-button routerLink='/intro'>Intro</a>
							<a mat-button routerLink='/features'>Features</a>
							<a mat-button routerLink='/about'>About</a>
							<a mat-button routerLink='/gettingstarted'>Getting Started</a>
						</div>
					</div>
				</div>
			</div>

			<div fxFlexAlign='center' fxLayout='column' fxLayoutAlign='center center'>
				<a
					mat-raised-button
					cyphTranslate
					id='new-cyph'
					class='breathe'
					[href]='envService.newCyphUrl'
				>
					Start New Cyph
				</a>
			</div>

			<div fxFlex fxLayout='column'>
				<div fxLayout='row'>
					<div
						fxLayout='column'
						fxLayoutAlign='center center'
						fxHide.lt-lg
						class='link-wrapper-outer left'
					>
						<div class='link-wrapper-inner' cyphTranslate>
							<a mat-button href='/blog'>Blog</a>
							<a mat-button routerLink='/faq'>FAQ</a>
							<a mat-button href='/pricing'>Pricing</a>
							<a mat-button routerLink='/register'>Register</a>
						</div>
					</div>

					<div fxFlex fxLayout='column'></div>

					<div fxLayout='column' fxLayoutAlign='center center'>
						<div fxHide.lt-lg class='social-media'>
							<a
								mat-icon-button
								cyphTranslate
								matTooltip='GitHub'
								rel='noopener noreferrer'
								href='https://github.com/cyph/cyph'
								target='_blank'
							>
								<img src='/assets/img/iconfinder/github.png' alt='GitHub icon' />
							</a>
							<a
								mat-icon-button
								cyphTranslate
								matTooltip='Twitter'
								rel='noopener noreferrer'
								href='https://twitter.com/cyph'
								target='_blank'
							>
								<img src='/assets/img/iconfinder/twitter.png' alt='Twitter icon' />
							</a>
							<a
								mat-icon-button
								cyphTranslate
								matTooltip='Facebook'
								rel='noopener noreferrer'
								href='https://www.facebook.com/cyph'
								target='_blank'
							>
								<img src='/assets/img/iconfinder/facebook.png' alt='Facebook icon' />
							</a>
						</div>

						<div fxHide.gt-md>
							<button
								mat-icon-button
								cyphTranslate
								matTooltip='Menu'
								(click)='sidenav.toggle()'
							>
								<mat-icon>menu</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-toolbar>

	<mat-sidenav-container (backdropClick)='sidenav.close()'>
		<mat-sidenav #sidenav ngClass.gt-md='disabled' align='end' mode='push'>
			<div fxLayout='column' fxLayoutGap='8px'>
				<div fxLayout='row'></div>
				<div fxLayout='row'>
					<a mat-button fxFlex cyphTranslate routerLink='/' (click)='sidenav.close()'>
						<img src='/assets/img/logo.white.horizontal.header.png' alt='Cyph logo' />
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						routerLink='/intro'
						(click)='sidenav.close()'
					>
						Intro
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						routerLink='/features'
						(click)='sidenav.close()'
					>
						Features
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						routerLink='/about'
						(click)='sidenav.close()'
					>
						About
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						routerLink='/gettingstarted'
						(click)='sidenav.close()'
					>
						Getting Started
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						href='/blog'
						(click)='sidenav.close()'
					>
						Blog
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						routerLink='/faq'
						(click)='sidenav.close()'
					>
						FAQ
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						href='/pricing'
						(click)='sidenav.close()'
					>
						Pricing
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						routerLink='/register'
						(click)='sidenav.close()'
					>
						Register
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						rel='noopener noreferrer'
						href='https://github.com/cyph/cyph'
						target='_blank'
						(click)='sidenav.close()'
					>
						<img src='/assets/img/iconfinder/github.png' alt='GitHub icon' />
						<span>GitHub</span>
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						rel='noopener noreferrer'
						href='https://twitter.com/cyph'
						target='_blank'
						(click)='sidenav.close()'
					>
						<img src='/assets/img/iconfinder/twitter.png' alt='Twitter icon' />
						<span>Twitter</span>
					</a>
				</div>
				<div fxLayout='row'>
					<a
						mat-button
						fxFlex
						cyphTranslate
						rel='noopener noreferrer'
						href='https://www.facebook.com/cyph'
						target='_blank'
						(click)='sidenav.close()'
					>
						<img src='/assets/img/iconfinder/facebook.png' alt='Facebook icon' />
						<span>Facebook</span>
					</a>
				</div>
			</div>
		</mat-sidenav>

		<section
			id='hero-section'
			[class.promo]='appService.promo !== undefined'
			[class.disrupt]='appService.promo === promos.disrupt'
		>
			<div class='hero-foreground'>
				<div
					fxLayout='row'
					fxLayoutAlign='center center'
					id='promo-section'
					*ngIf='appService.promo !== undefined'
				>
					<mat-card
						fxFlex='33'
						fxFlex.sm='66'
						fxFlex.xs='100'
						class='animated wow'
						data-wow-delay='3000ms'
						[class.bounceInLeft]='appService.promo === promos.jjgo'
						[class.bounceInDown]='appService.promo !== promos.jjgo'
					>
						<mat-card-title>
							<img
								alt='Promo image'
								[src]='
									"/assets/img/thirdparty/" +
									promos[appService.promo] +
									".png"
								'
							/>
						</mat-card-title>
						<mat-card-content>
							<p *ngIf='appService.promo !== promos.disrupt'>
								<span cyphTranslate>Welcome</span>
								&ngsp;
								<span *ngIf='appService.promo === promos.betalist'>
									Betalisters!
								</span>
								<span *ngIf='appService.promo !== promos.betalist'>
									<i *ngIf='appService.promo === promos.penn'>
										Penn's Sunday School
									</i>
									<i *ngIf='appService.promo === promos.jjgo'>
										Jordan, Jesse, Go!
									</i>
									<i *ngIf='appService.promo === promos.ventura'>
										We The People
									</i>
									<i *ngIf='appService.promo === promos.sawbones'>
										Sawbones
									</i>
									<i *ngIf='appService.promo === promos.judgejohn'>
										Judge John Hodgman
									</i>
									<i *ngIf='appService.promo === promos.mybrother'>
										My Brother, My Brother and Me
									</i>
									<i *ngIf='appService.promo === promos.security'>
										The Security Brief
									</i>
									&ngsp;
									<span cyphTranslate>listeners!</span>
								</span>
							</p>
							<p *ngIf='appService.promo !== promos.disrupt'>
								<a routerLink='/register' cyphTranslate>Sign up now</a>,
								&ngsp;
								<span cyphTranslate>
									and you'll get extra priority on our waitlist
									for a Cyph beta account.
								</span>
							</p>
							<span *ngIf='appService.promo === promos.disrupt'>
								<p>
									<span cyphTranslate>
										The big new Cyph v2 beta release is right around the corner!
										Check out the preview
									</span>
									&ngsp;
									<a
										cyphTranslate
										href='https://cyph.team/v2preview'
										target='_blank'
									>here</a>.
								</p>
								<p cyphTranslate>
									To scale up and reward our biggest supporters with early access
									to claim usernames, we're launching a crowdfunding campaign.
									Submit your info for special access to a hidden perk when it
									goes live.
								</p>
								<div fxLayout='row' fxLayoutAlign='center center'>
									<mat-form-field fxFlex='80'>
										<input
											matInput
											cyphTranslate
											[(ngModel)]='signupService.data.email'
											name='email'
											type='email'
											placeholder='Email'
											required
										/>
									</mat-form-field>
								</div>
								<div fxLayout='row' fxLayoutAlign='center center'>
									<mat-form-field fxFlex='80'>
										<input
											matInput
											cyphTranslate
											[(ngModel)]='signupService.data.name'
											name='name'
											placeholder='Name (optional)'
										/>
									</mat-form-field>
								</div>
								<div fxLayout='row' fxLayoutAlign='center end'>
									<button mat-button type='submit' cyphTranslate>
										Submit
									</button>
								</div>
							</span>
						</mat-card-content>
					</mat-card>
				</div>

				<div class='hero-foreground-main'>
					<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms'>
						<span cyphTranslate>Secure your</span>
						&ngsp;
						<span class='feature-cycle'>
							{{appService.features[appService.featureIndex]}}
						</span>
						&ngsp;
						<span cyphTranslate>in one click.</span>
					</h1>

					<div class='hero-container grid-container'>
						<div fxLayout='row' *ngIf='!envService.isMobile'>
							<div fxFlex='25'></div>
							<div class='wow bounceInLeft' data-wow-delay='2250ms'>
								<a routerLink='/intro'>
									<img
										cyphTranslate
										class='laptop screenshot'
										src='/assets/img/laptop-screenshot.png'
										alt='Laptop displaying secure Cyph video call'
										[class.demo]='demoService.isActive'
									/>
								</a>
								&nbsp;
							</div>
							<div class='wow bounceInRight' data-wow-delay='2250ms'>
								<a routerLink='/intro'>
									<img
										cyphTranslate
										class='phone screenshot'
										src='/assets/img/phone-screenshot.png'
										alt='Phone displaying secure Cyph video call'
										[class.demo]='demoService.isActive'
									/>
								</a>
								&nbsp;
							</div>
							<div fxFlex='25'></div>
						</div>
						<div class='hero-description wow animated fadeIn' data-wow-delay='2500ms'>
							<p cyphTranslate>
								Just send a link &mdash; no signups or downloads required!
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class='hero-background-wrapper'>
				<div class='hero-background'>
					<video autoplay loop mobile-poster='/assets/video/background.jpg'>
						<source src='/assets/video/background.mp4' type='video/mp4' />
						<source src='/assets/video/background.ogv' type='video/ogg' />
					</video>
				</div>
			</div>
		</section>

		<section id='testimonials-section'>
			<div
				fxLayout='row'
				class='carousel wow animated fadeIn'
				data-wow-delay='2750ms'
				*ngIf='appService.testimonialCarousel'
			>
				<div fxLayout='column' fxLayoutGap='64px' class='logo-container'>
					<div fxLayout='row'>
						<a
							fxFlex
							fxLayout='column'
							class='logo'
							(click)='appService.testimonialCarousel?.setItem(0)'
						>
							<img
								cyphTranslate
								src='/assets/img/thirdparty/cure53.png'
								alt='Cure53 logo'
							/>
						</a>
						<div fxFlex='55' fxLayout='column'></div>
						<a
							fxFlex
							fxLayout='column'
							class='logo'
							(click)='appService.testimonialCarousel?.setItem(1)'
						>
							<img
								cyphTranslate
								src='/assets/img/thirdparty/upliftaero.png'
								alt='Uplift Aeronautics logo'
							/>
						</a>
					</div>
				</div>

				<div fxLayout='column' fxFlex class='quote-container'>
					<div fxLayout='row' class='quote-row'>
						<div
							[fxFlex]='envService.isMobile ? "100" : "50"'
							fxLayout='column'
							class='quote'
						>
							<div class='text' cyphTranslate>
								Cyph provides security from a broad range of cryptographic attacks
								and very strong client-side crypto. The general conclusion of the
								test is that no major issues in regards to application security or
								cryptographic implementations could be spotted in spite of a
								thorough audit.
							</div>
							<div class='extra'>
								<a
									cyphTranslate
									href='/assets/auditconclusion.txt'
									target='_blank'
								>Conclusion</a>
								&ngsp;
								<span cyphTranslate>of the</span>
								&ngsp;
								<a
									rel='noopener noreferrer'
									href='https://cure53.de/pentest-report_cyph.pdf'
									target='_blank'
									cyphTranslate
								>independent security audit</a>
								&ngsp;
								<span cyphTranslate>conducted by</span>
								&ngsp;
								<a
									rel='noopener noreferrer'
									href='https://cure53.de'
									target='_blank'
								>Cure53</a>
								<br />
								<span cyphTranslate>(funded by the</span>
								&ngsp;
								<a
									rel='noopener noreferrer'
									href='https://www.opentechfund.org'
									target='_blank'
								>Open Technology Fund</a>)
							</div>
						</div>
						<div
							[fxFlex]='envService.isMobile ? "100" : "50"'
							fxLayout='column'
							class='quote'
						>
							<div class='text' cyphTranslate>
								I like the simple, nonintrusive interface and the single-minded
								emphasis on doing one thing really well. We will definitely
								continue using Cyph for these types of conversations.
							</div>
							<div class='extra'>
								<a
									rel='noopener noreferrer'
									href='http://uplift.aero'
									target='_blank'
								>Uplift Aeronautics</a>
								&ngsp;
								<span cyphTranslate>CEO Mark Jacobsen, on the</span>
								&ngsp;
								<a
									rel='noopener noreferrer'
									href='https://www.indiegogo.com/projects/the-syria-airlift-project'
									target='_blank'
								>Syria Airlift Project</a>
							</div>
						</div>
					</div>
					&nbsp;
				</div>
			</div>

			<a
				mat-icon-button
				class='nav-arrow'
				routerLink='/intro'
				matTooltip='Scroll Down'
				*ngIf='!envService.isMobile'
			>
				<mat-icon>keyboard_arrow_down</mat-icon>
			</a>
		</section>

		<section id='intro-section'>
			<a
				mat-icon-button
				class='nav-arrow'
				routerLink='/'
				matTooltip='Scroll Up'
				*ngIf='!envService.isMobile'
			>
				<mat-icon>keyboard_arrow_up</mat-icon>
			</a>

			<cyph-demo></cyph-demo>
		</section>

		<section id='features-section'>
			<div class='carousel grid-container' *ngIf='appService.featureCarousel !== undefined'>
				<div class='grid-parent grid-33 tablet-grid-33'>
					<div
						class='grid-100 tablet-grid-100 logo logo-text'
						(click)='appService.featureCarousel?.setItem(0)'
					>
						<img
							class='grid-25 tablet-grid-25'
							src='/assets/img/iconfinder/encryption.png'
							alt='Secure vault'
							cyphTranslate
						/>
						<div class='grid-75 tablet-grid-75'>
							<h3 class='title' cyphTranslate>
								Seriously Strong Encryption
							</h3>
						</div>
					</div>
					<div
						class='grid-100 tablet-grid-100 logo logo-text'
						(click)='appService.featureCarousel?.setItem(1)'
					>
						<img
							class='grid-25 tablet-grid-25'
							src='/assets/img/iconfinder/anonymous.png'
							alt='Man in disguise'
							cyphTranslate
						/>
						<div class='grid-75 tablet-grid-75'>
							<h3 class='title' cyphTranslate>
								Anonymity via Tor Hidden Service
							</h3>
						</div>
					</div>
				</div>

				<div class='grid-parent grid-33 tablet-grid-33'>
					<div
						class='grid-100 tablet-grid-100 logo logo-text'
						(click)='appService.featureCarousel?.setItem(2)'
					>
						<img
							class='grid-25 tablet-grid-25'
							src='/assets/img/iconfinder/video.png'
							alt='Video camera'
							cyphTranslate
						/>
						<div class='grid-75 tablet-grid-75'>
							<h3 class='title' cyphTranslate>
								Video Calling and File Transfers
							</h3>
						</div>
					</div>
					<div
						class='grid-100 tablet-grid-100 logo logo-text'
						(click)='appService.featureCarousel?.setItem(3)'
					>
						<img
							class='grid-25 tablet-grid-25'
							src='/assets/img/iconfinder/signing.png'
							alt='Cryptographic signature'
							cyphTranslate
						/>
						<div class='grid-75 tablet-grid-75'>
							<h3 class='title' cyphTranslate>
								Application Integrity Validation
							</h3>
						</div>
					</div>
				</div>

				<div class='grid-parent grid-33 tablet-grid-33'>
					<div
						class='grid-100 tablet-grid-100 logo logo-text'
						(click)='appService.featureCarousel?.setItem(4)'
					>
						<img
							class='grid-25 tablet-grid-25'
							src='/assets/img/iconfinder/nologin.png'
							alt='"No login" sign'
							cyphTranslate
						/>
						<div class='grid-75 tablet-grid-75'>
							<h3 class='title' cyphTranslate>
								No Signup or Downloads Required
							</h3>
						</div>
					</div>
					<div
						class='grid-100 tablet-grid-100 logo logo-text'
						(click)='appService.featureCarousel?.setItem(5)'
					>
						<img
							class='grid-25 tablet-grid-25'
							src='/assets/img/iconfinder/crossplatform.png'
							alt='Desktop, tablet, and phone'
							cyphTranslate
						/>
						<div class='grid-75 tablet-grid-75'>
							<h3 class='title' cyphTranslate>
								Cross-Platform &mdash; Works on Any Device
							</h3>
						</div>
					</div>
				</div>

				<div class='quote-container grid-70 tablet-grid-70 push-15 tablet-push-15'>
					<div class='quote'>
						<div class='text'>
							<p>
								<span cyphTranslate>
									Cyph is end-to-end encrypted using our patent-pending
								</span>
								&ngsp;
								<a
									target='_blank'
									rel='noopener noreferrer'
									href='https://cyph.team/castleprotocoldoc'
									cyphTranslate
								>Castle messaging protocol</a>.
								&ngsp;
								<span cyphTranslate>
									Castle is an encryption protocol inspired by the classic
								</span>
								&ngsp;
								<a
									target='_blank'
									rel='noopener noreferrer'
									href='https://en.wikipedia.org/wiki/Off-the-Record_Messaging'
								>Off-the-Record (OTR)</a>,
								&ngsp;
								<span cyphTranslate>
									with a number of architectural details influenced by
									Open Whisper Systems' Signal Protocol &mdash; such as
									the use of elliptic curves (ECDH/Curve25519).
								</span>
							</p>
							<p>
								<span cyphTranslate>
									The major departure that Castle takes from these other
									solutions is that it's been designed to theoretically
									withstand an attack from a quantum computer running
									Shor's algorithm (50 - 100 years from now). This is thanks to
								</span>
								&ngsp;
								<a
									target='_blank'
									[href]='
										"/blog/cyph-chooses-ntru-crypto-to-power-its-secure-" +
										"chat-communication-platform"
									'
									cyphTranslate
								>our incorporation of the post-quantum cipher NTRU</a>,
								&ngsp;
								<span cyphTranslate>
									along with lower-level details such as a unique public key
									authentication technique that mitigates the theoretical
									strengths of a quantum computer. This helps ensure that your
									now-private conversations won't one day suddenly become
									public after an accident of science.
								</span>
							</p>
							<p>
								<span cyphTranslate>
									Fun fact: to crack a single Castle message would require
								</span>
								&ngsp;
								<span>10</span><sup>38</sup>
								&ngsp;
								<span cyphTranslate>
									Tianhe-2 supercomputers running for the lifetime of the
									universe.
								</span>
							</p>
						</div>
					</div>
					<div class='quote'>
						<div class='text'>
							<p>
								<span cyphTranslate>
									Just connect to the Tor network and navigate to
								</span>
								&ngsp;
								<a
									class='oneline'
									target='_blank'
									[href]='"https://www." + configService.onionRoot'
								>{{configService.onionRoot}}</a>
								&ngsp;
								<em>("cyph'd by hidden backbone host server")</em>.
								&ngsp;
								<span cyphTranslate>
									While this won't totally eliminate communication metadata
									in the way that solutions like Ricochet are designed to,
									it does very effectively obfuscate the origin of any
									traffic you send to Cyph.
								</span>
							</p>
							<p cyphTranslate>
								Important note: Tor Browser Bundle is not currently supported.
								A bug in Firefox Private Browsing mode (which TBB depends on)
								currently causes it to misbehave when confronted with our TOFU
								implementation, and subsequently block any access to Cyph.
							</p>
						</div>
					</div>
					<div class='quote'>
						<div class='text'>
							<p>
								<span cyphTranslate>
									Voice/video calling is encrypted using a direct peer-to-peer
								</span>
								&ngsp;
								<a
									target='_blank'
									rel='noopener noreferrer'
									href='https://tools.ietf.org/html/rfc5764'
								>DTLS-SRTP</a>
								&ngsp;
								<span cyphTranslate>
									session between the clients, with public key authenticity
									assured by means of a fingerprint exchange via WebRTC
									signaling within the original Castle session.
								</span>
							</p>
							<p cyphTranslate>
								File transfers are encrypted symmetrically using a one-time
								XSalsa20 key, which is distributed from the sender to any
								recipients through Castle.
							</p>
							<p cyphTranslate>
								Important note: unlike file transfers and standard Cyph messages,
								voice/video calling is in fact theoretically vulnerable to quantum
								computing attacks, due to a property of the WebRTC specification
								that (by design) blocks us from protecting the entire key exchange
								within our Castle session.
							</p>
						</div>
					</div>
					<div class='quote'>
						<div class='text'>
							<p>
								<span cyphTranslate>
									Cyph application packages are verified at run-time using
									our patented browser-based Trust on First Use code
									signing framework,
								</span>
								&ngsp;
								<a target='_blank' href='/websign'>WebSign</a>.
								&ngsp;
								<span cyphTranslate>
									WebSign will protect you even in the event that our servers
									and/or your TLS session are compromised.
								</span>
							</p>
							<p cyphTranslate>
								Until we solved it, addressing this had long been considered
								an intractable problem, which is why you'll commonly see advice
								to avoid any product claiming to offer private communication or
								other cryptographic protection from within a web app (e.g.
								MEGAChat, ProtonMail, etc.). With the sole exception of Cyph,
								such advice should be taken very seriously.
							</p>
						</div>
					</div>
					<div class='quote'>
						<div class='text'>
							<p cyphTranslate>
								Cyph is extremely simple for anybody to use, and runs anywhere
								in one click &mdash; no installation or registration required.
								This makes it very easy to jump right into using, or to deploy
								to any new device (in addition to completely eliminating any
								potential hassle for friends with whom you intend to engage
								in encrypted communications).
							</p>
						</div>
					</div>
					<div class='quote'>
						<div class='text'>
							<p cyphTranslate>
								Since Cyph runs right in your browser (being, quite literally,
								the only secure web app in existence; see "Application
								Integrity Validation"), you can use it from your desktop,
								laptop, phone, or tablet &mdash; just about any relatively
								recent device! We've got native mobile and desktop apps in the
								works as well, so be sure to keep an eye out for when you
								can download Cyph.
							</p>
						</div>
					</div>
					&nbsp;
				</div>
			</div>
		</section>

		<section id='about-section'>
			<h1 class='hero-text' cyphTranslate>
				About Cyph
			</h1>
			<div class='section-content-container'>
				<p cyphTranslate>
					Cyph is a secure communication tool designed to be extremely friendly
					for users of any technical skill level, providing such features as
					encrypted video calling and file transfers to both individuals and
					businesses. The patented technology underpinning our software
					was built by two former SpaceX engineers &mdash; and rigorously vetted
					against a threat model focused on nation-state-level attacks &mdash;
					with the vision of defending innocent people from increasingly
					sophisticated rogue hackers and invasive government mass surveillance.
				</p>
				<div class='founder-photos grid-container'>
					<div class='
						wow bounceInLeft grid-20 prefix-20 suffix-20 tablet-grid-20
						tablet-prefix-20 tablet-suffix-20 mobile-grid-100
					'>
						<span class='mobile-grid-33'>
							<img
								src='/assets/img/ryan.jpg'
								alt='Ryan Lester, cofounder of Cyph'
								cyphTranslate
							/>
						</span>
						<div class='mobile-grid-66 name'>Ryan Lester, CEO</div>
					</div>
					<div class='wow bounceInRight grid-20 tablet-grid-20 mobile-grid-100'>
						<span class='mobile-grid-33 mobile-push-66'>
							<img
								src='/assets/img/josh.jpg'
								alt='Baron Joshua Cyrus Boehm, cofounder of Cyph'
								cyphTranslate
							/>
							</span>
						<div class='mobile-grid-66 mobile-pull-33 name'>
							Baron Joshua Cyrus Boehm, COO
						</div>
					</div>
				</div>
				<p cyphTranslate>
					Ryan and Josh have been friends for nearly two decades, in that time
					having spent many all-nighters working closely together on various
					software projects. Most recently, they were on the internal software
					quality team at Elon Musk's SpaceX, where Ryan drove the development of
					next-gen test automation tooling and frameworks while Josh led software
					quality assurance efforts.
				</p>
				<p cyphTranslate>
					Over the years, the difficulty of communicating privately online had
					become a constant thorn in their side. Existing solutions were largely
					cumbersome to use, had major functional limitations (lack of support for
					video calling, restrictions to small sets of platforms and operating
					systems, etc.), and often came with "gotchas" that would silently
					compromise confidentiality when one didn't have the expertise to fully
					understand the tool.
				</p>
				<p cyphTranslate>
					They knew there could be a better way, so they created Cyph.
				</p>
			</div>
		</section>

		<section id='gettingstarted-section'>
			<h1 class='hero-text' cyphTranslate>
				Press The Button
			</h1>
			<div class='section-content-container'>
				<div [fxFlex]='envService.isMobile'>
					<p cyphTranslate>
						The button will take you into the Cyph application, where you'll be given
						a custom shortlink to share with one friend.
					</p>
					<p cyphTranslate>
						When your friend opens this link, the conversation will begin.
					</p>
				</div>
			</div>
		</section>

		<section
			id='error'
			*ngIf='appService.state === states.error'
			class='unisection'
		>
			<div>
				<h1 cyphTranslate>I'm sorry, but your cyph is in another castle...</h1>
			</div>
			<img src='/assets/img/404.png' alt='Funny Mario reference' cyphTranslate />
			<div id='errorExplanation'>
				<p cyphTranslate>Reasons why you may have landed here:</p>
				<ul>
					<li cyphTranslate>
						A glitch in the matrix
					</li>
					<li cyphTranslate>
						You're just guessing random URLs
					</li>
					<li cyphTranslate>
						We broke something
					</li>
				</ul>
			</div>
		</section>

		<section
			id='claimusername'
			*ngIf='appService.state === states.claimusername'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Claim Your Username
			</h1>
			<div class='section-content-container' fxLayout='column' fxLayoutGap='32px'>
				<div>
					<cyph-claim-username
						[email]='appService.claimUsernameEmail'
					></cyph-claim-username>
				</div>
			</div>
		</section>

		<section
			id='contact'
			*ngIf='appService.state === states.contact'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Contact Us
			</h1>
			<div class='section-content-container' fxLayout='column' fxLayoutGap='32px'>
				<div>
					<cyph-contact [to]='appService.contactTo'></cyph-contact>
				</div>
				<div>
					<p>
						<span cyphTranslate>
							If you prefer to use your own email client,
							feel free to shoot us a message at
						</span>
						&ngsp;
						<a href='mailto:hello@cyph.com' title='hello@cyph.com'>hello@cyph.com</a>.
					</p>
					<p>
						<span cyphTranslate>
							We also have a phone line open for voicemail:
						</span>
						&ngsp;
						<a href='tel:+19312974462' title='+1(931) 297 4462'>+1(931) CYPH INC</a>.
					</p>
				</div>
			</div>
		</section>

		<section
			id='donate'
			*ngIf='appService.state === states.donate'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Donate
			</h1>
			<div fxLayout='column' fxLayoutGap='16px' class='section-content-container'>
				<div fxLayout='row'>
					<div fxLayout='column'>
						<p>
							<span cyphTranslate>
								If you'd like to help support our mission, you may donate
								via the form below or use the Bitcoin address
							</span>
							&ngsp;
							<a
								target='_self'
								href='bitcoin:1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd'
							>1Cyph47AKhyG8mP9SPxd2ELTB2iGyJjfnd</a>.
						</p>
						<p cyphTranslate>
							All donations will go directly toward the development of
							native mobile apps and Cyph accounts.
						</p>
					</div>
				</div>
				<div fxLayout='row'>
					<mat-slider
						fxFlex
						fxLayout='column'
						thumbLabel
						[(ngModel)]='appService.donationAmount'
						step='1'
						min='1'
						max='1337'
						matTooltip='Donation Amount'
					></mat-slider>
					<div fxLayout='column' class='donation-amount'>
						${{appService.donationAmount}}
					</div>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<button
						mat-button
						cyphTranslate
						class='donate-button'
						(click)='appService.updateCart(
							appService.donationAmount,
							configService.pricingConfig.categories.donation.id,
							configService.pricingConfig.categories.donation.items.generic.id
						)'
					>
						Confirm Donation Amount
					</button>
				</div>
			</div>
		</section>

		<section
			id='checkout'
			*ngIf='appService.state === states.checkout'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Checkout
			</h1>
			<div fxLayout='row' fxLayoutAlign='center center'>
				<mat-card fxFlex='33' fxFlex.sm='80' fxFlex.xs='95'>
					<mat-card-content>
						<div class='cart empty' *ngIf='!appService.cart'>
							<h3 cyphTranslate>
								There's nothing in your cart. What are you even doing here?
							</h3>
							<br />
							<span cyphTranslate>To add something to your cart go to</span>
							&ngsp;
							<a href='/pricing' cyphTranslate>Business Pricing</a>
							&ngsp;
							<span cyphTranslate>or</span>
							&ngsp;
							<a routerLink='/donate' cyphTranslate>make a donation</a>.
						</div>
						<cyph-checkout
							[amount]='appService.cart?.amount'
							[category]='appService.cart?.category'
							[item]='appService.cart?.item'
							[subscriptionType]='appService.cart?.subscriptionType'
							*ngIf='appService.cart'
						>
							<div
								cyphTranslate
								*ngIf='
									appService.cart?.category ===
									configService.pricingConfig.categories.donation.id
								'
							>
								Thank you for supporting Cyph!
							</div>
							<div
								cyphTranslate
								*ngIf='
									appService.cart?.category !==
									configService.pricingConfig.categories.donation.id
								'
							>
								Payment confirmed! Follow-up instructions will be sent via email.
							</div>
						</cyph-checkout>
					</mat-card-content>
				</mat-card>
			</div>
		</section>

		<section
			id='faq'
			*ngIf='appService.state === states.faq'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Frequently Asked Questions
			</h1>
			<div fxLayout='row' fxLayoutAlign='center center' class='section-content-container'>
				<div fxFlex='75' fxFlex.xs='95' fxLayout='column' fxLayoutGap='16px'>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								How do I use Cyph?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p>
								<span cyphTranslate>Simply go to</span>
								&ngsp;
								<a [href]='envService.newCyphUrl'>cyph.im</a>
								&ngsp;
								<span cyphTranslate>
									or click the "start new cyph" button and a cyph link will
									be generated for you to send to a friend. Text, email, or
									send the link to them via any other channel, and when they
									click it you both will enter a secure chat.
								</span>
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								How do I send files?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p cyphTranslate>
								Click the plus ("+") icon in the message composition textbox, click
								the paperclip icon, and then select the file you wish to share.
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								How do I start a video or voice call?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p cyphTranslate>
								Click the plus ("+") icon in the message composition textbox,
								then click the video (or phone) icon. A warning will pop up
								confirming that you wish to send the call invite and that
								connecting will expose your IP (Cyph video uses a peer-to-peer
								connection for voice and video, so you will be connecting
								directly to the other party instead of going through our
								servers).
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								What data do you track?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p cyphTranslate>
								Currently, we only track numbers of: cyph sessions, messages,
								timeouts, voice/video calls, file transfers, signups,
								cyphertext UI views, help UI views, and calls to our API.
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								How much does Cyph cost?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p>
								<span cyphTranslate>
									The Cyph beta is free to use for individuals (we intend
									to always have a free tier, because we see online privacy
									as a basic right) and we are currently piloting
								</span>
								&ngsp;
								<a
									href='/pricing'
									cyphTranslate
								>enterprise deployments of secure video and instant messaging</a>.
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								Do you have an Android/iOS/TI-89 app?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p cyphTranslate>
								Native chat applications for Android and iOS are in the works.
								We have no plans to support any Texas Instruments machines.
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								Why do I keep getting the "I'm sorry,
								but your cyph is in another castle" screen?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p cyphTranslate>
								Common reasons for landing on this page are: the cyph URL has
								been opened more than once (only the first person who clicks
								it is allowed into the chat) or the cyph link has already
								expired.
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								Has there been a third-party security audit of Cyph?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p>
								<span cyphTranslate>Yes,</span>
								&ngsp;
								<a
									href='https://cure53.de'
									rel='noopener noreferrer'
									target='_blank'
								>Cure53</a>
								&ngsp;
								<span cyphTranslate>
									audited Cyph and concluded that "No major issues in regards
									to application security or cryptographic implementations
									could be spotted in spite of a thorough audit."
								</span>
								&ngsp;
								<a
									href='https://cure53.de/pentest-report_cyph.pdf'
									rel='noopener noreferrer'
									target='_blank'
									cyphTranslate
								>[Complete Cure53 Pentest Report]</a>
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								How can I support Cyph?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p>
								<span cyphTranslate>
									One of the best ways you can support Cyph is by
									using it with your friends and talking about us
									on social media. You can also
								</span>
								&ngsp;
								<a cyphTranslate routerLink='/contact/feedback'>give feedback</a>
								&ngsp;
								<span cyphTranslate>or</span>
								&ngsp;
								<a cyphTranslate routerLink='/donate'>donate</a>
								&ngsp;
								<span cyphTranslate>
									to the cause. All donations will go towards the
									development and growth of Cyph.
								</span>
							</p>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-title>
							<span cyphTranslate>
								What should I do if I encounter a bug?
							</span>
						</mat-card-title>
						<mat-card-content>
							<p>
								<span cyphTranslate>Please contact us at</span>
								&ngsp;
								<a routerLink='/contact/bugs'>bugs@cyph.com</a>;
								&ngsp;
								<span cyphTranslate>
									our team generally has pretty fast response time.
									If you can, please include any steps to reproduce
									or other relevant information.
								</span>
							</p>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</section>

		<section
			id='termsofservice'
			*ngIf='appService.state === states.termsofservice'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Terms of Service
			</h1>
			<div class='section-content-container'>
				<ol>
					<li>
						<strong>Terms</strong>
						<p>
							By accessing this website, you are agreeing to be bound by these
							website Terms and Conditions of Use, all applicable laws and
							regulations, and agree that you are responsible for compliance
							with any applicable local laws. If you do not agree with any of
							these terms, you are prohibited from using or accessing this site.
							The materials contained in this website are protected by applicable
							copyright and trade mark law.
						</p>
					</li>
					<li>
						<strong>Use License</strong>
						<ol type='a'>
							<li>
								<p>
									Permission is granted to temporarily download one copy of
									the materials (information or software) on Cyph's website
									for personal, non-commercial transitory viewing only. This
									is the grant of a license, not a transfer of title, and
									under this license you may not:
								</p>
								<ol type='i'>
									<li>
										modify or copy the materials;
									</li>
									<li>
										use the materials for any commercial purpose, or for
										any public display (commercial or non-commercial);
									</li>
									<li>
										attempt to decompile or reverse engineer any software
										contained on Cyph's website;
									</li>
									<li>
										remove any copyright or other proprietary notations
										from the materials; or
									</li>
									<li>
										transfer the materials to another person or "mirror"
										the materials on any other server.
									</li>
								</ol>
							</li>
							<li>
								This license shall automatically terminate if you violate any
								of these restrictions and may be terminated by Cyph at any
								time. Upon terminating your viewing of these materials or upon
								the termination of this license, you must destroy any
								downloaded materials in your possession whether in electronic
								or printed format.
							</li>
						</ol>
					</li>
					<li>
						<strong>Refund Policy</strong>
						<p>
							Unless a specific exception is made by Cyph, refunds will not be
							granted on any payments made to Cyph.
						</p>
					</li>
					<li>
						<strong>Disclaimer</strong>
						<p>
							The materials on Cyph's website are provided "as is". Cyph makes no
							warranties, expressed or implied, and hereby disclaims and negates
							all other warranties, including without limitation, implied
							warranties or conditions of merchantability, fitness for a
							particular purpose, or non-infringement of intellectual property
							or other violation of rights. Further, Cyph does not warrant or
							make any representations concerning the accuracy, likely results,
							or reliability of the use of the materials on its Internet website
							or otherwise relating to such materials or on any sites linked to
							this site.
						</p>
					</li>
					<li>
						<strong>Limitations</strong>
						<p>
							In no event shall Cyph or its suppliers be liable for any damages
							(including, without limitation, damages for loss of data or profit,
							or due to business interruption,) arising out of the use or
							inability to use the materials on Cyph's Internet site, even if
							Cyph or a Cyph authorized representative has been notified orally
							or in writing of the possibility of such damage. Because some
							jurisdictions do not allow limitations on implied warranties, or
							limitations of liability for consequential or incidental damages,
							these limitations may not apply to you.
						</p>
					</li>
					<li>
						<strong>Revisions and Errata</strong>
						<p>
							The materials appearing on Cyph's website could include technical,
							typographical, or photographic errors. Cyph does not warrant that
							any of the materials on its website are accurate, complete, or
							current. Cyph may make changes to the materials contained on its
							website at any time without notice. Cyph does not, however, make
							any commitment to update the materials.
						</p>
					</li>
					<li>
						<strong>Links</strong>
						<p>
							Cyph has not reviewed all of the sites linked to its Internet
							website and is not responsible for the contents of any such
							linked site. The inclusion of any link does not imply endorsement
							by Cyph of the site. Use of any such linked website is at the
							user's own risk.
						</p>
					</li>
					<li>
						<strong>Site Terms of Use Modifications</strong>
						<p>
							Cyph may revise these terms of use for its website at any time
							without notice. By using this website you are agreeing to be bound
							by the then current version of these Terms and Conditions of Use.
						</p>
					</li>
					<li>
						<strong>Governing Law</strong>
						<p>
							Any claim relating to Cyph's website shall be governed
							by the laws of the State of VA without regard to its
							conflict of law provisions.
						</p>
					</li>
				</ol>
			</div>
		</section>

		<section
			id='privacypolicy'
			*ngIf='appService.state === states.privacypolicy'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Privacy Policy
			</h1>
			<div class='section-content-container'>
				<p>
					Privacy is what Cyph is all about, so your privacy is very important to us!
					Accordingly, we have developed this Policy in order for you to understand
					how we collect, use, communicate and disclose and make use of personal
					information. The following outlines our privacy policy.
				</p>
				<ul>
					<li>
						Before or at the time of collecting any personal information, we will
						identify the purposes for which information is being collected.
					</li>
					<li>
						We will collect and use of personal information only when necessary,
						solely with the objective of fulfilling those purposes specified by us
						and for other compatible purposes, unless we obtain the consent of the
						individual concerned or as required by law.
					</li>
					<li>
						We will only retain personal information as long as necessary for the
						fulfillment of those purposes.
					</li>
					<li>
						We will protect personal information by security safeguards against
						loss or theft, as well as unauthorized access, disclosure, copying,
						use or modification.
					</li>
					<li>
						We collect and use limited data with Google Analytics on our corporate
						site (cyph.com), as well as through a sandboxed iframe in the Cyph
						application. Events logged to Google Analytics indicate numbers of:
						cyph sessions, messages, timeouts, voice/video calls, file transfers,
						signups, cyphertext UI views, help UI views, and calls to our API.
					</li>
					<li>
						We do not and will never view, log, or transfer plaintext versions of
						your encrypted data, nor the private keys and mutually shared secrets
						needed in order to decipher them.
					</li>
					<li>
						We have not been approached by any agency, government or otherwise,
						with a request to backdoor our code. We are currently working on
						implementing a better warrant canary system.
					</li>
				</ul>
				<p>
					We are committed to conducting our business in accordance with these
					principles in order to ensure that the confidentiality of personal
					information is protected and maintained.
				</p>
				<p>
					<span>
						If you have any questions about our policy, please email us at
					</span>
					<a routerLink='/contact/privacy'>privacy@cyph.com</a>.
				</p>
			</div>
		</section>

		<section
			id='waitlisttrack'
			*ngIf='appService.state === states.waitlisttrack'
			class='unisection'
		>
			<h1 class='hero-text wow animated fadeInDownBig' data-wow-delay='420ms' cyphTranslate>
				Waitlist Position
			</h1>
			<div class='section-content-container'>
				<p cyphTranslate>
					There is no waitlist position tracker at this time. If you're seeing this page,
					you were sent here by a bug in our waitlist management software.
				</p>
				<p cyphTranslate>
					That said, everyone in the group that received the email with this link is near
					the top of the waitlist, so you can expect to have your account fairly soon.
				</p>
			</div>
		</section>

		<footer id='footer'>
			<div class='footer-info'>
				<span>&copy; Cyph 2018</span>
					&nbsp;&nbsp;&nbsp;
				<span class='pre-spaced'>{{stringsService.patents}}</span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a routerLink='/contact' cyphTranslate>Contact</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a routerLink='/donate' cyphTranslate>Donate</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a routerLink='/privacypolicy' cyphTranslate>Privacy Policy</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a routerLink='/termsofservice' cyphTranslate>Terms of Service</a>
			</div>
		</footer>
	</mat-sidenav-container>
</section>
