<form
	ngNativeValidate
	fxFlexFill
	fxLayout='column'
	fxLayoutGap='16px'
	(submit)='submit()'
>
	<div fxFlexFill *ngIf='signupService.state === 0'>
		<div fxLayout='row'>
			<ng-content></ng-content>
		</div>
		<div fxLayout='row'>
			<div
				fxFlex='50'
				fxLayout='column'
				fxLayoutAlign='center stretch'
				*ngIf='!envService.isMobile'
			>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='signupService.data.email'
							name='email'
							type='email'
							placeholder='Email'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							name='password'
							type='password'
							placeholder='Password'
							[disabled]='true'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							name='confirmPassword'
							type='password'
							placeholder='Confirm Password'
							[disabled]='true'
						/>
					</mat-form-field>
				</div>
				<div *ngIf='invite' fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='signupService.data.inviteCode'
							name='inviteCode'
							type='text'
							placeholder='Invite Code'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center end' class='register-button'>
					<button mat-button type='submit' [disabled]='true' cyphTranslate>
						Register
					</button>
				</div>
			</div>
			<div fxFlex fxLayout='column'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<p fxFlex='80' cyphTranslate>
						We are currently at capacity and registration is closed,
						but you can sign up for the waitlist to reserve your spot
						in line for an account.
					</p>
				</div>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<p fxFlex='80'>
						<span cyphTranslate>
							However, you don't need an account to use
						</span>
						&ngsp;
						<span>{{stringsService.product}};</span>
						&ngsp;
						<span cyphTranslate>
							just click the "start new cyph" button on the homepage. Our beta
							accounts program only provides early access to more advanced
							functionality and cool new features.
						</span>
					</p>
					<br />
				</div>
				<div fxLayout='row' fxLayoutAlign='center end' class='register-button'>
					<button mat-button type='submit' cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</div>

	<div fxFlexFill *ngIf='signupService.state === 1'>
		<div fxFlex fxLayout='row' fxLayoutAlign='center center'>
			<div fxFlex fxLayout='column'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='signupService.data.email'
							name='email'
							type='email'
							placeholder='Email'
							required
						/>
					</mat-form-field>
				</div>
				<div *ngIf='invite' fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='signupService.data.inviteCode'
							name='inviteCode'
							type='text'
							placeholder='Invite Code'
							required
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center end'>
					<button mat-button type='submit' cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</div>

	<div fxFlexFill *ngIf='signupService.state === 2'>
		<div fxFlex fxLayout='row' fxLayoutAlign='center center'>
			<div fxFlex fxLayout='column'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<mat-form-field fxFlex='80'>
						<input
							matInput
							cyphTranslate
							[(ngModel)]='signupService.data.name'
							name='name'
							placeholder='Name (optional)'
						/>
					</mat-form-field>
				</div>
				<div fxLayout='row' fxLayoutAlign='center end'>
					<button mat-button type='submit' cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</div>

	<div fxFlexFill *ngIf='signupService.state === 3'>
		<div fxFlex fxLayout='row' fxLayoutAlign='center center'>
			<div fxFlex='50' fxLayout='column'>
				<div fxLayout='row' fxLayoutAlign='center center'>
					<p fxFlex='80'>
						<span cyphTranslate>Thanks for subscribing,</span>
						&ngsp;
						<span>{{signupService.data.name}}!</span>
						&ngsp;
						<span cyphTranslate>We'll email you when your invite is ready.</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</form>
