<form
	ngNativeValidate
	fxFlexFill
	fxLayout="column"
	fxLayoutGap="16px"
	(submit)="submit()"
>
	<div
		fxFlexFill
		*ngIf="
			(signupService.state | await) === 0 ||
			(signupService.state | await) === 1
		"
	>
		<div fxFlex fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="center center">
					<p fxFlex="80" cyphTranslate>
						Join the waitlist for a free account!
					</p>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<mat-form-field fxFlex="80">
						<input
							matInput
							cyphTranslate
							[ngModel]="signupService.data.email | await"
							(ngModelChange)="
								signupService.data.email.next($event)
							"
							name="email"
							type="email"
							[pattern]="emailPattern"
							placeholder="Email"
							required
						/>
					</mat-form-field>
				</div>
				<div
					*ngIf="invite"
					fxLayout="row"
					fxLayoutAlign="center center"
				>
					<mat-form-field fxFlex="80">
						<input
							matInput
							cyphTranslate
							[ngModel]="signupService.data.inviteCode | await"
							(ngModelChange)="
								signupService.data.inviteCode.next($event)
							"
							name="inviteCode"
							type="text"
							placeholder="Invite Code"
							required
						/>
					</mat-form-field>
				</div>
				<br />
				<div fxLayout="row" fxLayoutAlign="start center">
					<mat-icon class="gdpr" svgIcon="gdpr"></mat-icon>
					&nbsp; &nbsp;
					<small>{{ stringsService.gdprSignupForm }}</small>
				</div>
				<br />
				<div fxLayout="row" fxLayoutAlign="center end">
					<button mat-button type="submit" cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</div>

	<div fxFlexFill *ngIf="(signupService.state | await) === 2">
		<div fxFlex fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="center center">
					<p fxFlex="80" cyphTranslate>
						Join the waitlist for a free account!
					</p>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<mat-form-field fxFlex="80">
						<input
							matInput
							cyphTranslate
							[ngModel]="signupService.data.name | await"
							(ngModelChange)="
								signupService.data.name.next($event)
							"
							name="name"
							placeholder="Name (optional)"
						/>
					</mat-form-field>
				</div>
				<div fxLayout="row" fxLayoutAlign="center end">
					<button mat-button type="submit" cyphTranslate>
						Waitlist Signup
					</button>
				</div>
			</div>
		</div>
	</div>

	<div fxFlexFill *ngIf="(signupService.state | await) === 3">
		<div fxFlex fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex="50" fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="center center">
					<p fxFlex="80">
						<span cyphTranslate>Thanks for subscribing,</span>
						&ngsp;
						<span>{{ signupService.data.name | await }}!</span>
						&ngsp;
						<span cyphTranslate
							>We'll email you when your invite is ready.</span
						>
					</p>
				</div>
			</div>
		</div>
	</div>
</form>
