<section fxFlexFill fxLayout="column" id="main" *ngIf="ready | await">
	<div
		fxFlexFill
		fxLayoutAlign="center center"
		class="login-form"
		[class.checking]="checking | await"
	>
		<mat-card fxFlex fxFlex.sm="95" fxFlex.md="75" fxFlex.gt-md="50">
			<mat-card-title>
				{{ stringsService.unlockTitle }}
			</mat-card-title>
			<mat-card-subtitle>
				<span cyphTranslate>Welcome to</span>
				&ngsp;
				<span>{{ stringsService.product }}!</span>
				&ngsp;
				<span cyphTranslate>
					You must enter a password to access this environment.
				</span>
			</mat-card-subtitle>
			<cyph-logo cardHeader homeLink></cyph-logo>
			<mat-card-content>
				<form ngNativeValidate (submit)="submit()">
					<div fxLayout="row" fxLayoutAlign="center center">
						<h3
							class="cyph-banner warn"
							[style.visibility]="
								(error | await) ? 'visible' : 'hidden'
							"
						>
							{{ stringsService.invalidPassword }}
						</h3>
					</div>
					<div fxLayout="row" fxLayoutAlign="center center">
						<mat-form-field fxFlex fxFlex.sm="80" fxFlex.gt-sm="60">
							<input
								matInput
								cyphAutofocus
								cyphEnableLastPass
								cyphTranslate
								[ngModel]="password | await"
								(ngModelChange)="password.next($event)"
								name="password"
								[type]="
									(hidePassword | await) ? 'password' : 'text'
								"
								placeholder="Password"
								required
							/>
							<mat-icon
								matSuffix
								class="suffix-button"
								(click)="hidePassword.next(!hidePassword.value)"
							>
								{{
									(hidePassword | await) ?
										'visibility' :
										'visibility_off'
								}}
							</mat-icon>
						</mat-form-field>
					</div>
					<div fxLayout="row" fxLayoutAlign="center center">
						<button mat-button type="submit" cyphTranslate>
							Log In
						</button>
					</div>
				</form>
			</mat-card-content>
			<cyph-spinner class="global" mode="indeterminate"></cyph-spinner>
		</mat-card>
	</div>
</section>
