@import '../../../../css/mixins';

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;
}

.title {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 8px 0;
	color: white;
	font-weight: normal;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.33);
}

mat-progress-bar.audio-level {
	position: absolute;
	bottom: calc(50% - 2px);
	left: calc(-50% + 2px);
	width: 100%;

	@include transform(rotate(270deg));
}

video {
	width: 100%;
	height: 100%;
}
