@import '../../../../css/mixins';

mat-card {
	margin: 2%;
	overflow: -webkit-paged-x;

	.back-button {
		position: absolute;
		top: 6px;
		left: 6px;
	}

	mat-card-title {
		text-align: center;
	}
}
