<div
	fxFlexFill
	fxLayoutAlign='center start'
	[class.initiating]='(sent | async) === undefined'
>
	<div fxFlex='90' class='cyph-light-theme'>
		<mat-card class='animated slideInDown' fxFlex *ngIf='(sent | async) !== undefined'>
			<mat-card-title>
				<span *ngIf='(messageType | async) === chatMessageValueTypes.CalendarInvite'>
					{{
						(appointmentFollowUp | async) ?
							stringsService.requestFollowUpAppointment :
							stringsService.requestAppointment
					}}
				</span>
				<span cyphTranslate *ngIf='(messageType | async) === chatMessageValueTypes.Form'>
					Send Form
				</span>
				<span cyphTranslate *ngIf='
					(messageType | async) === chatMessageValueTypes.Quill ||
					(messageType | async) === chatMessageValueTypes.Text
				'>
					New Message
				</span>
			</mat-card-title>
			<mat-card-content>
				<div
					fxFlexFill
					fxLayout='column'
					fxLayoutGap='8px'
					*ngIf='(sent | async) === false'
				>
					<cyph-account-contacts-search
						[class.visibility-hidden]='!!searchUsername.value && (
							(messageType | async) === chatMessageValueTypes.CalendarInvite ||
							(messageType | async) === chatMessageValueTypes.Form
						)'
						[placeholder]='stringsService.to'
						[searchUsername]='searchUsername'
						(userFilterChange)='$event.subscribe(recipient)'
						*ngIf='(appointmentFormData | async) === undefined'
					></cyph-account-contacts-search>
					<cyph-account-chat-message-box
						[customSendFunction]='send'
						[calendarInviteFollowUp]='appointmentFollowUp | async'
						[messageType]='messageType | async'
						[recipient]='recipient'
						[showHeader]='true'
						[showUnreadCount]='false'
					></cyph-account-chat-message-box>
				</div>
				<div fxFlexFill fxLayoutAlign='center center' *ngIf='sent | async'>
					<div cyphTranslate *ngIf='
						(appointmentFormData | async) !== undefined;
						else messageSent
					'>
						Form submitted!
					</div>
					<ng-template #messageSent>
						<div *ngIf='
							(messageType | async) !== chatMessageValueTypes.CalendarInvite;
							else appointmentRequested
						'>
							<span cyphTranslate>Message sent to</span>
							&ngsp;
							<a [routerLink]='
								accountService.routeRoot +
								"messages/" +
								(recipient | async)?.username
							'>
								{{(recipient | async)?.name | async}}
								(@{{(recipient | async)?.realUsername | async}})
							</a>
						</div>
					</ng-template>
					<ng-template #appointmentRequested>
						<div fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='5px'>
							<h1 cyphTranslate>Your appointment has been requested!</h1>

							<ng-container *ngIf='
								accountDatabaseService.currentUser | async as currentUser
							'>
								<ng-container *ngIf='
									envService.isTelehealth &&
									(sentFileID | async) !== undefined &&
									(currentUser.user.userType | async) ===
										accountUserTypes.Standard
									;
									else doctorView
								'>
									<h2 cyphTranslate>
										Why don't you get ahead on those medical forms while you're
										waiting for confirmation?
									</h2>
									<br />
									<div fxLayout='row' fxLayoutGap='7px'>
										<button
											mat-raised-button
											cyphTranslate
											color='accent'
											[routerLink]='
												accountService.routeRoot +
												"new-patient/" +
												(sentFileID | async)
											'
										>
											Patient Forms
										</button>

										<button
											mat-raised-button
											cyphTranslate
											color='primary'
											[routerLink]='accountService.routeRoot + "appointments"'
										>
											I'll do this later
										</button>
									</div>
								</ng-container>
								<ng-template #doctorView>
									<br />
									<button
										mat-raised-button
										cyphTranslate
										color='accent'
										[routerLink]='accountService.routeRoot + "appointments"'
									>
										Back to Appointments
									</button>
								</ng-template>
							</ng-container>
						</div>
					</ng-template>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='(sent | async) === undefined'
	></mat-progress-spinner>
</div>
