<div
	fxFlexFill
	[fxLayoutAlign]="
		(envService.isMobile | await) ? 'stretch stretch' : 'center center'
	"
	[class.initiating]="(sent | await) === undefined"
	[class.mobile]="envService.isMobile | await"
>
	<div fxFlex class="cyph-light-theme">
		<mat-card
			class="animated slideInDown ui-section"
			fxFlex
			*ngIf="(sent | await) !== undefined"
		>
			<button
				mat-icon-button
				cyphTranslate
				class="close-button"
				matTooltip="Close"
				matTooltipPosition="left"
				[routerLink]="
					(messageType | await) ===
					chatMessageValueTypes.CalendarInvite ?
						'/schedule' :
					((searchUsername | await) || '').length > 0 ?
						'/profile/' + ((searchUsername | await) || '') :
						'/'
				"
			>
				<mat-icon>close</mat-icon>
			</button>

			<mat-card-title>
				<span
					*ngIf="
						(messageType | await) ===
						chatMessageValueTypes.CalendarInvite
					"
				>
					{{
						(appointmentFollowUp | await) ?
							stringsService.requestFollowUpAppointment :
						(accountSettingsService.telehealth | await) ?
							stringsService.meetingScheduleTitleTelehealth :
							stringsService.meetingScheduleTitle
					}}
				</span>
				<span
					cyphTranslate
					*ngIf="(messageType | await) === chatMessageValueTypes.Form"
				>
					Send Form
				</span>
				<span
					cyphTranslate
					*ngIf="
						(messageType | await) === chatMessageValueTypes.Quill ||
						(messageType | await) === chatMessageValueTypes.Text
					"
				>
					New Message
				</span>
			</mat-card-title>
			<mat-card-content>
				<div
					fxFlexFill
					fxLayout="column"
					[fxShow]="(sent | await) === false"
				>
					<ng-container
						*ngIf="
							(messageType | await) !==
								chatMessageValueTypes.Form &&
							(fromDataPreSet | await) === false
						"
					>
						<ng-container
							*ngIf="
								((recipients | await)?.size || 0) === 1;
								else groupAppointmentMessageUI
							"
						>
							<ng-container
								*ngTemplateOutlet="defaultMessageUI"
							></ng-container>
						</ng-container>

						<mat-form-field
							fxFlex
							[fxShow]="
								(messageType | await) ===
									chatMessageValueTypes.Quill &&
								(sendQuillAsNote | await) === true
							"
						>
							<input
								matInput
								cyphTranslate
								[ngModel]="messageSubject | await"
								(ngModelChange)="messageSubject.next($event)"
								name="messageSubject"
								placeholder="Subject"
								[required]="
									(messageType | await) ===
										chatMessageValueTypes.Quill &&
									(sendQuillAsNote | await) === true
								"
							/>
						</mat-form-field>
					</ng-container>

					<cyph-account-contacts-search
						#accountContactsSearch
						fxHide="!!searchUsername.value && (
							(messageType | await) === chatMessageValueTypes.CalendarInvite ||
							(messageType | await) === chatMessageValueTypes.Form
						)"
						[chipInput]="true"
						[placeholder]="stringsService.to"
						[searchUsername]="searchUsername"
						(userFilterChange)="
							subscriptions.push($event.subscribe(recipients))
						"
						*ngIf="(appointmentFormData | await) === undefined"
					></cyph-account-contacts-search>
					<cyph-account-chat-message-box
						[appointmentShareTimeZone]="
							(appointmentShareTimeZone | await) === true
						"
						(appointmentShareTimeZoneChange)="
							appointmentShareTimeZone.next($event)
						"
						[customSendFunction]="send"
						[calendarInviteFollowUp]="
							(appointmentFollowUp | await) === true
						"
						[disableSend]="
							(((recipients | await)?.size || 0) < 1 &&
								((appointmentGroupMembers | await) || [])
									.length < 1 &&
								((accountService.fromEmail | await) || '')
									.length < 1 &&
								((accountService.fromName | await) || '')
									.length < 1) ||
							((messageType | await) ===
								chatMessageValueTypes.CalendarInvite &&
								!(accountChatService.chatSubject | await)
									?.currentMessage?.calendarInvite?.startTime)
						"
						[forceShow]="true"
						[messageType]="messageType | await"
						[sendText]="
							envService.isTelehealthFull &&
							(messageType | await) ===
								chatMessageValueTypes.CalendarInvite &&
							(activatedRoute.data | await)?.form !== undefined ?
								stringsService.next :
								stringsService.send
						"
						[showHeader]="true"
						[showUnreadCount]="false"
					></cyph-account-chat-message-box>
				</div>
				<div
					fxFlexFill
					fxLayoutAlign="center center"
					*ngIf="sent | await"
				>
					<div
						cyphTranslate
						*ngIf="
							(appointmentFormData | await) !== undefined;
							else messageSent
						"
					>
						Form submitted!
					</div>
					<ng-template #messageSent>
						<div
							*ngIf="
								(messageType | await) !==
									chatMessageValueTypes.CalendarInvite;
								else appointmentRequested
							"
						>
							<ng-container
								*ngIf="
									sentMessage | await as sentMessageData;
									else genericSendConfirmation
								"
							>
								<span cyphTranslate>Message sent to</span>
								&ngsp;
								<a
									[routerLink]="
										((messageType | await) ===
										chatMessageValueTypes.Quill ?
											'/mail/' :
											'/messages/') +
										(sentMessageData?.id || '')
									"
								>
									<span *ngIf="!!sentMessageData?.name">
										{{ sentMessageData?.name || '' }}
									</span>
									<span
										cyphTranslate
										*ngIf="!sentMessageData?.name"
									>
										group conversation
									</span>
								</a>
							</ng-container>

							<ng-template #genericSendConfirmation>
								<br />
								<div cyphTranslate>Message sent!</div>
							</ng-template>
						</div>
					</ng-template>
					<ng-template #appointmentRequested>
						<div fxLayout="column" fxLayoutAlign="center center">
							<h1 cyphTranslate>
								Your appointment has been requested!
							</h1>

							<ng-container *ngIf="envService.isTelehealth">
								<ng-container
									*ngIf="
										accountDatabaseService.currentUser
											| await as currentUser;
										else unregisteredPostRequest
									"
								>
									<ng-container
										*ngIf="
											!envService.isTelehealthFull;
											else promptForm
										"
									>
										<br />
										<button
											mat-raised-button
											cyphTranslate
											color="accent"
											routerLink="/"
										>
											Back
										</button>
									</ng-container>

									<ng-template #promptForm>
										<ng-container
											*ngIf="
												(sentFileID | await) !==
													undefined &&
													(currentUser?.user
														?.userType | await) ===
														accountUserTypes.Standard;
												else doctorView
											"
										>
											<h2 cyphTranslate>
												Why don't you get ahead on those
												medical forms while you're
												waiting for confirmation?
											</h2>
											<br />
											<div
												fxLayout="row"
												fxLayoutGap="7px"
											>
												<button
													mat-raised-button
													cyphTranslate
													color="accent"
													[routerLink]="
														'/new-patient/' +
														(sentFileID | await)
													"
												>
													Patient Forms
												</button>

												<button
													mat-raised-button
													cyphTranslate
													color="primary"
													routerLink="/appointments"
												>
													I'll do this later
												</button>
											</div>
										</ng-container>
									</ng-template>

									<ng-template #doctorView>
										<br />
										<button
											mat-raised-button
											cyphTranslate
											color="accent"
											routerLink="/appointments"
										>
											Back to Appointments
										</button>
									</ng-template>
								</ng-container>

								<ng-template #unregisteredPostRequest>
									<br />
									<br />
									<div cyphTranslate>
										Your request has been submitted to the
										doctor, and you will receive a
										confirmation via email as soon as it's
										accepted or rejected.
									</div>
									<br />
									<div>
										<span cyphTranslate>
											In the meantime, you may close this
											window or
										</span>
										<a
											cyphTranslate
											[routerLink]="
												'/profile/' +
												((searchUsername | await) || '')
											"
											>go back</a
										>.
									</div>
									<br />
								</ng-template>
							</ng-container>
						</div>
					</ng-template>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<cyph-spinner
		mode="indeterminate"
		*ngIf="(sent | await) === undefined"
	></cyph-spinner>
</div>

<mat-autocomplete #fromEmailAutocomplete="matAutocomplete">
	<ng-container
		*ngTemplateOutlet="
			emailContactOptions;
			context: {
				options: accountService.fromEmailOptions
			}
		"
	></ng-container>
</mat-autocomplete>

<mat-autocomplete #fromNameAutocomplete="matAutocomplete">
	<ng-container
		*ngTemplateOutlet="
			emailContactOptions;
			context: {
				options: accountService.fromNameOptions
			}
		"
	></ng-container>
</mat-autocomplete>

<ng-template #emailContactOptions let-options="options">
	<mat-option
		(click)="
			accountService.fromEmail.next(option.email);
			accountService.fromName.next(option.name)
		"
		*ngFor="let option of options | await; trackBy: trackBySelf"
	>
		<span>{{ option.name }}</span>
		&ngsp;
		<small>&lt;{{ option.email }}&gt;</small>
	</mat-option>
</ng-template>

<ng-template #defaultMessageUI>
	<mat-form-field fxFlex>
		<input
			matInput
			disabled
			[ngModel]="
				((recipients | await)?.values()?.next()?.value?.name | await) ||
				''
			"
			name="to"
			[placeholder]="stringsService.to"
		/>
	</mat-form-field>

	<div>
		{{ stringsService.from }}
	</div>

	<div
		class="from-details"
		ngClass.lt-sm="column"
		fxFlex
		fxLayout="row"
		fxLayoutGap="40px"
	>
		<div></div>
		<div fxFlex fxLayout="column">
			<div>
				<mat-form-field fxFlex>
					<input
						matInput
						[ngModel]="accountService.fromName | await"
						(ngModelChange)="accountService.fromName.next($event)"
						name="name"
						[placeholder]="stringsService.nameOptional"
					/>
				</mat-form-field>
			</div>

			<div
				fxFlex
				fxLayout="column"
				fxLayout.gt-xs="row"
				fxLayoutGap="8px"
				fxLayoutGap.lt-sm="0"
			>
				<mat-form-field fxFlex>
					<input
						matInput
						cyphTranslate
						[ngModel]="accountService.fromEmail | await"
						(ngModelChange)="accountService.fromEmail.next($event)"
						name="email"
						type="email"
						placeholder="Email (optional)"
					/>
				</mat-form-field>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #groupAppointmentMessageUI>
	<div fxFlex fxLayout="column" fxLayoutGap="32px">
		<mat-form-field fxFlex>
			<mat-chip-list #chipList cyphTranslate aria-label="Guests">
				<mat-chip
					[removable]="true"
					[selectable]="true"
					[value]="o"
					(removed)="removeFromGroup($event.chip.value)"
					*ngFor="
						let o of appointmentGroupMembers | await;
						trackBy: trackBySelf
					"
				>
					{{
						o.name +
							' <' +
							(o.email && o.phoneNumber ?
								o.email + ', ' + o.phoneNumber :
								o.email || o.phoneNumber) +
							'>'
					}}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
				<input
					#chipListInput
					cyphTranslate
					placeholder="Add Guests (enter name or alias)"
					[matChipInputFor]="chipList"
					(matChipInputTokenEnd)="addToGroup(false)"
					[ngModel]="appointmentGroupMemberDraft | await"
					(ngModelChange)="appointmentGroupMemberDraft.next($event)"
				/>
				<mat-icon
					matSuffix
					class="suffix-button"
					(click)="addToGroup()"
				>
					add
				</mat-icon>
			</mat-chip-list>
		</mat-form-field>

		<div></div>
	</div>
</ng-template>
