<div
	fxFlexFill
	[fxLayoutAlign]="
		(envService.isMobile | await) ? 'stretch stretch' : 'center center'
	"
	[class.mobile]="envService.isMobile | await"
	*ngIf="fullPage; else emailViewUI"
>
	<div fxFlex class="cyph-light-theme card-wrapper">
		<mat-card class="animated slideInDown ui-section" fxFlex>
			<button
				mat-icon-button
				cyphTranslate
				class="close-button"
				matTooltip="Close"
				matTooltipPosition="left"
				routerLink="/"
			>
				<mat-icon>close</mat-icon>
			</button>

			<mat-card-title>
				<ng-container
					*ngTemplateOutlet="emailSubjectUI; context: {email: email}"
				></ng-container>
			</mat-card-title>
			<mat-card-subtitle>
				<ng-container
					*ngTemplateOutlet="emailFromUI; context: {email: email}"
				></ng-container>
			</mat-card-subtitle>
			<mat-card-content>
				<ng-container *ngTemplateOutlet="emailViewUI"></ng-container>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<ng-template #emailFromUI let-email="email">
	<div fxLayout="row" class="email-header">
		<div
			fxFlex
			[attr.aria-label]="stringsService.emailLabelFrom"
			[matTooltip]="stringsService.emailAddressUnverifiedWarning"
			[matTooltipDisabled]="!!email?.from?.verified"
		>
			<mat-icon
				class="from-warning"
				color="warn"
				*ngIf="!email?.from?.verified"
			>
				warning
			</mat-icon>
			<span *ngIf="!!email?.from?.email; else noSenderSubtitle">
				<span class="from-name">{{
					email?.from?.name ? (email?.from?.name || '') + ' ' : ''
				}}</span
				>&lt;{{ email?.from?.email || ''
				}}{{
					email?.from?.username ?
						' | @' + (email?.from?.username || '') :
						''
				}}&gt;
			</span>
			<ng-template #noSenderSubtitle>
				<strong>{{ stringsService.emailNoSender }}</strong>
			</ng-template>
		</div>
		<div [attr.aria-label]="stringsService.emailLabelTimestamp">
			{{ getDateTimeString(email?.timestamp || 0) }}
		</div>
	</div>
</ng-template>

<ng-template #emailSubjectUI let-email="email">
	<span [attr.aria-label]="stringsService.emailLabelSubject">{{
		email?.subject || stringsService.emailNoSubject
	}}</span>
</ng-template>

<ng-template #emailViewUI>
	<div fxFlexFill fxLayout="column" fxLayoutGap="8px" *ngIf="!!email">
		<h2 *ngIf="!fullPage">
			<ng-container
				*ngTemplateOutlet="emailSubjectUI; context: {email: email}"
			></ng-container>
		</h2>

		<h3 *ngIf="!fullPage">
			<ng-container
				*ngTemplateOutlet="emailFromUI; context: {email: email}"
			></ng-container>
		</h3>

		<mat-expansion-panel
			class="recipients-panel"
			[attr.aria-label]="stringsService.emailLabelRecipients"
			[matTooltip]="stringsService.emailAddressUnverifiedWarningGroup"
			[matTooltipDisabled]="summary.allVerified"
			*ngIf="recipientSummary | await as summary"
		>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<span cyphTranslate>To</span>
				</mat-panel-title>
				<mat-panel-description>
					<span>{{ summary.text }}</span>
					<mat-icon color="warn" *ngIf="!summary.allVerified">
						warning
					</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-chip-list fxFlex>
				<mat-chip
					[matTooltip]="stringsService.emailAddressUnverifiedWarning"
					[matTooltipDisabled]="o.verified"
					[removable]="false"
					[selectable]="true"
					[value]="o"
					*ngFor="let o of email?.to || []; trackBy: trackBySelf"
				>
					<mat-icon matChipAvatar color="warn" *ngIf="!o.verified">
						warning
					</mat-icon>
					<span *ngIf="!!o.email">
						{{ o.name ? o.name + ' ' : '' }}&lt;{{ o.email
						}}{{ o.username ? ' | @' + o.username : '' }}&gt;
					</span>
				</mat-chip>
			</mat-chip-list>
		</mat-expansion-panel>

		<div></div>

		<div class="document-editor-container-wrapper">
			<ejs-documenteditorcontainer
				#documentEditorContainer
				[enableComment]="false"
				[enableCsp]="true"
				[enableLocalPaste]="false"
				[enableToolbar]="false"
				layoutType="web"
				[restrictEditing]="true"
			></ejs-documenteditorcontainer>
		</div>
	</div>
</ng-template>

<div #statusBarUI class="status-bar-ui-temporary-container" fxHide>
	<mat-form-field
		appearance="fill"
		class="attachments-list"
		[matTooltip]="
			((attachments | await) || []).length > 0 ?
				stringsService.attachmentsViewTooltip :
				stringsService.attachmentsViewEmptyTooltip
		"
		matTooltipPosition="above"
	>
		<mat-label cyphTranslate>Attachments</mat-label>
		<mat-select
			#attachmentsDropdown
			multiple
			[disabled]="((attachments | await) || []).length < 1"
			panelClass="email-view-attachments-panel"
			(openedChange)="attachmentsPanelOpen()"
			[ngModel]="(attachmentsToDownload | await) || []"
			(ngModelChange)="attachmentsToDownload.next($event)"
		>
			<mat-option
				[value]="attachment"
				*ngFor="
					let attachment of attachments | await;
					trackBy: trackBySelf
				"
			>
				{{ attachment.name }} ({{
					readableByteLength(attachment.data.length)
				}})
			</mat-option>
			<button
				class="remove-button"
				mat-button
				color="primary"
				cyphTranslate
				(click)="downloadAttachments()"
			>
				Download Selected Attachments
			</button>
		</mat-select>
	</mat-form-field>
</div>
