@import '../../../../css/mixins';

:host {
	position: relative;
}

.background-image {
	background-image: url(/assets/img/betalogo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50vh;
	height: 50vh;
	z-index: -1;
	opacity: 0.10;
	content: ' ';

	@include center;
}

.message-list-background {
	position: relative;

	@include shadow;
}

button.follow-up {
	margin-bottom: 25px;
}

.friend-is-typing {
	margin: 20px 0px;
	min-height: 18px;

	.ellipsis-spinner {
		margin: 0px;
	}
}

/* Temporary workaround for Safari bug */
.chat-end-message ::ng-deep cyph-signup-form > form {
	display: block !important;
}
