@import '../../../../css/mixins';

a.affiliate {
	font-family: Roboto;
	font-weight: 200;
	font-size: 0.9em;
}

:host > span.initiating > cyph-chat-cyphertext {
	display: none;
}

:host ::ng-deep {
	.message-loading {
		display: none;
	}
}
