<span
	[class.curtain]='cyphertextService.isVisible | async'
	[class.initiating]='
		(appService.chatRootState | async) === chatRootStates.chat &&
		chat.state === chatStates.chat &&
		(chatService.uiReady | async) !== true
	'
	[cyphDropZone]='false && (
		(appService.chatRootState | async) === chatRootStates.chat &&
		chat.state === chatStates.chat &&
		(chatService.uiReady | async) === true
	)'
	[cyphDropZoneClass]='false'
	(fileDrop)='fileTransferService.send($event)'
	*ngIf='chatService.chatSubject | async as chat'
>
	<section fxFlexFill fxLayout='column' id='main' class='cyph-foreground'>
		<canvas [fxShow]='envService.showGranim' id='main-chat-gradient'></canvas>

		<h3
			class='cyph-banner emphasis warn'
			*ngIf='
				(appService.chatRootState | async) !== chatRootStates.chat &&
				(envService.webSignError | async)
			'
		>
			<span cyphTranslate>WARNING: Your</span>
			&ngsp;
			<span>{{stringsService.product}}</span>
			&ngsp;
			<span cyphTranslate>instance has a problem. See</span>
			&ngsp;
			<a [href]='envService.homeWordPressUrl + "websignerror"' cyphTranslate>here</a>
			&ngsp;
			<span cyphTranslate>for more details and the solution.</span>
		</h3>

		<cyph-chat-main
			fxFlex
			fxFlexFill
			fxLayout='column'
			[hideDisconnectMessage]='envService.coBranded'
			[messageCountInTitle]='true'
			*ngIf='(appService.chatRootState | async) === chatRootStates.chat'
			[@fadeIn]='"in"'
		>
			<cyph-contact
				to='feedback'
				*ngIf='splitTestingService.getValue("chatendmessage"); else signupForm'
			></cyph-contact>
			<ng-template #signupForm>
				<cyph-signup-form>
					{{stringsService.signupMessage}}
				</cyph-signup-form>
			</ng-template>
		</cyph-chat-main>

		<cyph-link-connection
			fxFlex
			fxFlexFill
			fxLayout='column'
			*ngIf='(appService.chatRootState | async) === chatRootStates.waitingForFriend'
			[@fadeIn]='"in"'
		>
			<a
				class='affiliate'
				[href]='affiliateService.link.href'
				target='_blank'
				[matTooltip]='stringsService.affTooltip'
			>
				{{affiliateService.link.text}}
			</a>
		</cyph-link-connection>

		<cyph-not-found
			fxFlex
			fxFlexFill
			fxLayout='column'
			*ngIf='(appService.chatRootState | async) === chatRootStates.error'
			[@fadeIn]='"in"'
		></cyph-not-found>

		<div
			fxFlex
			fxFlexFill
			fxLayout='column'
			id='blank'
			*ngIf='(appService.chatRootState | async) === chatRootStates.blank'
		></div>

		<footer *ngIf='
			(appService.chatRootState | async) !== chatRootStates.chat ||
			(p2pService.isActiveOrInitialCall | async) === false
		'>
			<div>
				<cyph-chat-message-box
					[style.visibility]='(chatService.initiated | async) ? undefined : "hidden"'
					*ngIf='
						(appService.chatRootState | async) === chatRootStates.chat &&
						(chatService.chatSelfDestruct | async) === false
					'
				></cyph-chat-message-box>

				<cyph-footer *ngIf='(envService.isMobile | async) === false'></cyph-footer>
			</div>
		</footer>
	</section>

	<cyph-chat-cyphertext></cyph-chat-cyphertext>

	<mat-progress-spinner
		mode='indeterminate'
		*ngIf='
			(appService.chatRootState | async) === chatRootStates.chat &&
			chat.state === chatStates.chat &&
			(chatService.uiReady | async) !== true
		'
	></mat-progress-spinner>
</span>
