/* CONFIGURATION */

/* Bodytext font */
$font: 'proxima-nova', 'Helvetica Neue', Avenir, Arial, sans-serif;

/* Font for headings */
$fontheadings: 'proxima-nova', 'Helvetica Neue', Avenir, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #8b62d9;

.site-nav .brand img {
	height: 35px !important;
	margin-right: 10px !important;
	margin-left: -20px !important;
	margin-top: 0px !important;
	padding-top: 2px;
}

.blog-cover section a:last-child {
	margin: 0.5em;
}

.fb-like iframe {
	margin-top: -7px;
}

#bio {
	.bio-img {
	    border-radius: 150px;
	    float: right;
	    width: 300px; 
	}
	
}

.Josh, .Ryan {
	
	h1 {
		font-weight: 200;
		font-family: helvetica;
		font-size: 99px !important;
	}
	.image {
		width: 115% !important;
		top: -400px !important;
		left: -93px !important;
		position: fixed !important;
		z-index: -2;
	}
	
}
.header-blurb {
	position: absolute;
	top: 35%;
	text-align: center;
	font-weight: 200;
	left: 8%;
    text-shadow: 2px 2px 1px rgba(35,35,35,.35);
	z-index: 1;
	font-family: helvetica;
	color: #8b62d9;
}
article.Josh, article.Ryan {
	padding-top: 15px !important;
    opacity: 0.90;
    position: relative;
}

.article-cover.Josh, .article-cover.Ryan {
    height: 545px !important;
    max-height: 545px !important;
	position: relative;
	width: 100%;
	top: 0;
	background-color: #fff;
	.header{
		position: fixed;
		width: 100%;
		top: 0;
		.header-blurb {
			top: 50%;
		}
		.header-image {
			background-image: url('/blog/images/josh.bio.jpg');
			background-repeat: no-repeat;
			background-position: center -350px;
			background-attachment: fixed;
			background-size: cover;
			height: 971px;
		}
	}
}

.article-cover.Ryan {
	.header-image{
		background-image: url('/blog/images/ryan.bio.jpg') !important;
	}
}

article .social {
	float: left;
	div {
	min-width: 75px !important;
	}
}

article footer address {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

address .social-sharing {
	float: right;
}

.author {
	font-size: 20px;
	text-align: center;
	.muted{
		font-size: 18px;
	}
	.picture {
		float: left;
		img {
			margin: auto !important;
			float: left;
		}
		.social {
			a {
					margin: -5px 0px 10px 5px;
					clear: both;
					float: left;
			}
		}
	}
}

article address{
	margin-top: -15px;
	margin-bottom: 40px !important;
	img {
		margin-top: 0px !important;
		margin: 0px 20px 0px 5px;
	}
}

article.Josh .content, article.Ryan .content {
    margin: 0px 12% 0px 12%;
}

.site-footer {
    padding: 5em 0;
    margin: 4em 0 0 0;
    background: whitesmoke;
    color: #aaa;
    background-color: white;
    z-index: 8;
    font-size: 0.8em;
    position: relative;
    opacity: 0.90;
}

/* IMPORT CSS FILES */
@import 'bootstrap';
@import 'base';
@import 'nav';
@import 'article';
@import 'icons';
@import 'syntax';
@import 'responsive';
