/* CONFIGURATION */

/* Bodytext font */
$font: 'proxima-nova', 'Helvetica Neue', Avenir, Arial, sans-serif;

/* Font for headings */
$fontheadings: 'proxima-nova', 'Helvetica Neue', Avenir, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #8b62d9;

.site-nav .brand img {
	height: 35px !important;
	margin-right: 10px !important;
	margin-left: -15px !important;
	margin-top: 0px !important;
	padding-top: 2px;
}


/* IMPORT CSS FILES */
@import 'bootstrap';
@import 'base';
@import 'nav';
@import 'article';
@import 'icons';
@import 'syntax';
@import 'responsive';
