<mat-card fxFlex fxLayout='column' class='fullscreen'>
	<cyph-logo cardHeader></cyph-logo>
	<mat-card-title>
		{{stringsService.welcomeToProduct}}
	</mat-card-title>
	<mat-card-content fxFlex>
		<div fxFlexFill fxLayoutAlign='center center'>
			<div fxFlex='90' fxFlex.gt-sm='50' fxLayout='column' fxLayoutGap='16px'>
				<p>
					<span cyphTranslate>
						Well, almost. We've received your information, and your public key is now
						queued up to be cryptographically signed by one of the Cyph founders using
						their personal
					</span>
					&ngsp;
					<a
						target='_blank'
						[href]='envService.homeUrl + "agse"'
						cyphTranslate
					>Air Gapped Signing Environment</a>
					&ngsp;
					<span cyphTranslate>
						&mdash; a custom-designed hardware device that ensures the security of
					</span>
					&ngsp;
					<span>{{stringsService.product}}</span>
					&ngsp;
					<span cyphTranslate>
						for as long as it remains physically secure.
					</span>
				</p>
				<p cyphTranslate>
					You will receive an email as soon as your account is activated and ready for
					use. (If you didn't give us your email address, then just try signing in in a
					couple days and it should work.)
				</p>
				<p>
					<span cyphTranslate>Thank you for joining</span>
					&ngsp;
					<span>{{stringsService.product}}!</span>
				</p>
			</div>
		</div>
	</mat-card-content>
</mat-card>
