---
layout: page
footer: false
---

<div id="blog-archives" class="author">

	{% assign index = true %}
        {% for post in site.posts %}
          {% if post.author contains page.author %}

            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
              {% assign year = this_year %}
              <h2>{{ year }}</h2>
            {% endunless %}

            {% assign content = post.content %}
	    <article>
  	      {% include archive_post.html %}
	    </article>
          {% endif %}
	{% endfor %}
</div>

