---
layout: base
---
{% if page.cover_image %}
<div class="article-cover {{page.author.firstname}}">
    <div class='header'>
        <div class='header-blurb'>
            <h1> {{page.author.name}} </h1>
            <h2> {{page.author.bio}} </h2>
        </div>
        <div class='header-image'></div>
   </div>
</div>
{% endif %}
<article class="{{page.author.firstname}}">

    <div class="container">
        <header>
            {% include _social.html %}
        </header>

        <section id='bio' >
                <div class='content'>
                    {{ content }}
                </div>
            <br />
        </section>
    </div>
</article>