---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="{{ site.baseurl }}/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time> &mdash; {% include _readtime.html %} 
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
            <address>
               {% include _social-sharing.html %}
               <div class="author">
               <div class='picture'>
                   {% if page.author.image %}
                        <img src="{{ site.baseurl }}/images/{{ page.author.image }}">
                   {% endif %}
                   {% include _social.html %}  
               </div>
                 Written By <a href='{{ site.baseurl }}/bio/{{page.author.firstname}}/index.html'>{{ page.author.name }}</a>
                 <br />
                 <span class="bio muted">{{ page.author.bio }}</span>  
               </div>
            </address>
                <br />
        </header>

        <section>
            {{ content }}
        </section>

        <footer>
        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
