@import '../../../../css/mixins';

mat-card-title {
	> div {
		padding-top: 29px;
	}

	> div,
	input {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
		width: 100%;
	}

	&:not(.editable) {
		padding-bottom: 1.5em;
	}
}

mat-card-header {
	position: absolute;
	top: 14px;
	right: 25px;
	width: calc(100% - 34px);
}
