<ng-container *ngIf="accountDatabaseService.currentUser | await as currentUser">
	<div
		fxFlexFill
		fxLayoutAlign="center start"
		[class.initiating]="showSpinner | await"
		*ngIf="
			(realTime | await) === false ||
			(accountSettingsService.staticFeatureFlags.docs | await)
		"
	>
		<mat-card
			fxFlex
			class="partial-width"
			[class.mobile]="envService.isMobile | await"
			[class.visibility-hidden]="accountService.interstitial | await"
		>
			<div fxLayout="column">
				<div fxLayoutAlign="center center" fxLayout="row">
					<mat-card-title
						[class.editable]="noteEditable | await"
						[class.inbox]="anonymousMessages | await"
						fxFlex
					>
						<div *ngIf="(noteEditable | await) === false">
							{{
								(
									((note | await)?.record | await) || {
										name: undefined
									}
								).name || stringsService.untitled
							}}
						</div>
						<mat-form-field fxFlex *ngIf="noteEditable | await">
							<input
								matInput
								cyphTranslate
								[ngModel]="
									(
										((note | await)?.record | await) || {
											name: undefined
										}
									).name || stringsService.untitled
								"
								(ngModelChange)="
									updateNoteData({nameChange: $event})
								"
								(blur)="realTimeTitleUpdate()"
								[maxlength]="
									accountFilesService.maxNameLength.toString()
								"
								required
							/>
						</mat-form-field>
					</mat-card-title>
					<ng-container
						*ngIf="(note | await)?.record | await as record"
					>
						<mat-card-subtitle *ngIf="anonymousMessages | await">
							<div>
								{{ getDateTimeString(record?.timestamp || 0) }}
							</div>
							<div
								*ngIf="
									!!record?.replyToEmail ||
									!!record?.replyToName
								"
							>
								<span cyphTranslate>Reply-to:</span>
								&ngsp;
								<span *ngIf="!!record?.replyToName">
									{{ record?.replyToName || '' }}
								</span>
								&ngsp;
								<span *ngIf="!!record?.replyToEmail">
									&lt;<a
										[href]="
											'mailto:' +
											(record?.replyToEmail || '')
										"
										>{{ record?.replyToEmail || '' }}</a
									>&gt;
								</span>
							</div>
						</mat-card-subtitle>
					</ng-container>
					<mat-card-header fxLayout="row">
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Close Editor"
							[routerLink]="(newNote | await) ? '..' : '.'"
							*ngIf="noteEditable | await"
						>
							<mat-icon>close</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Back"
							routerLink=".."
							*ngIf="(noteEditable | await) === false"
						>
							<mat-icon>arrow_back</mat-icon>
						</button>

						<div fxFlex></div>

						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Edit"
							routerLink="edit"
							*ngIf="
								(noteEditable | await) === false &&
								currentUser?.user?.username ===
									(noteData | await)?.owner &&
								!(
									((note | await)?.record | await) || {
										replyToEmail: undefined
									}
								).replyToEmail &&
								!(
									((note | await)?.record | await) || {
										replyToName: undefined
									}
								).replyToName
							"
						>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Share"
							(click)="
								accountFilesService.shareFilePrompt(record);
								$event.stopPropagation()
							"
							*ngIf="
								((anonymousMessages | await) === false ?
									(note | await)?.record :
									undefined
								) | await as record
							"
						>
							<mat-icon>share</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Save"
							(click)="saveNote()"
							*ngIf="
								(noteEditable | await) &&
								(realTime | await) === false &&
								((newNote | await) ||
									currentUser?.user?.username ===
										(noteData | await)?.owner)
							"
						>
							<mat-icon>save</mat-icon>
						</button>
						<button
							mat-icon-button
							cyphTranslate
							matTooltip="Delete"
							*ngIf="(newNote | await) === false"
							(click)="
								accountFilesService.remove(note.value?.record)
							"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</mat-card-header>
				</div>
				<mat-card-content fxFlex fxLayout="column">
					<div class="cyph-light-theme">
						<mat-card
							[class.editable]="noteEditable | await"
							class="notepad"
						>
							<mat-card-content>
								<cyph-quill
									[content]="(note | await)?.content | await"
									[deltas]="(note | await)?.doc?.deltas"
									[isDisabled]="
										(noteEditable | await) === false
									"
									(contentChange)="onChange($event)"
								></cyph-quill>
								<!--
								[selections]='(note | await)?.doc?.selections'
								(selectionChange)='onSelectionChange($event)'
							-->
							</mat-card-content>
						</mat-card>
					</div>
				</mat-card-content>
			</div>
		</mat-card>

		<cyph-spinner
			mode="indeterminate"
			*ngIf="showSpinner | await"
		></cyph-spinner>
	</div>

	<router-outlet></router-outlet>
</ng-container>
