@import '../../../../css/mixins';

mat-card.note {
	margin: 2%;
	overflow: -webkit-paged-x;

	mat-card:not(.editable) {
		box-shadow: none;
	}
}

mat-card-title {
	> div {
		padding-top: 29px;
	}

	> div, input {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
		width: 100%;
	}
}

mat-card-header {
	top: 14px;
	position: absolute;
	right: 25px;
}
