@import '../../../../css/mixins';

mat-card-title {
	margin-bottom: 8px;
	margin-top: -20px;
	z-index: 1;

	> div {
		padding-top: 29px;
	}

	> div,
	input {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
		width: 100%;
	}

	&.inbox {
		padding-bottom: 2.5em !important;
		margin-top: -30px;
	}

	&:not(.editable) {
		padding-bottom: 1.5em;
	}
}

mat-card-subtitle {
	position: absolute;
	margin-top: 8px !important;
	font-size: 0.9em;
	z-index: 2;
}

mat-card-header {
	position: absolute;
	top: 6px;
	right: 6px;
	width: calc(100% - 12px);

	button {
		z-index: 2;
	}

	::ng-deep .mat-card-header-text {
		margin: 0 !important;
	}
}

mat-card.mobile {
	&.partial-width {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}

	mat-card.notepad {
		padding: 3px;
	}

	cyph-quill ::ng-deep {
		.ql-editor {
			min-height: calc(100vh - 315px);
		}

		.ql-toolbar {
			margin-left: auto;
			position: relative;
			width: 297px;
			margin-right: auto;

			.ql-formats:not(:first-child) {
				margin-right: 0;
			}
		}

		@media (min-width: 622px) {
			.ql-toolbar {
				width: unset;
			}
		}
	}
}
