<div fxLayout="column">
	<div
		class="quick-actions"
		fxLayout="row"
		fxLayoutAlign="center center"
		fxLayoutGap="8px"
	>
		<button
			mat-raised-button
			color="accent"
			routerLink="/request-appointment"
		>
			{{
				(accountSettingsService.telehealth | await) ?
					stringsService.meetingScheduleTitleTelehealth :
					stringsService.meetingSchedule
			}}
		</button>
		<button
			mat-raised-button
			color="accent"
			(click)="
				!accountDatabaseService.currentUser.value?.agseConfirmed ?
					openWindow(envService.cyphVideoUrl) :
				envService.isCordovaMobile ?
					router.navigate(['account-burner', 'video']) :
					openWindow('#account-burner/video')
			"
		>
			{{
				(accountSettingsService.telehealth | await) ?
					stringsService.meetingHostTitleTelehealth :
					stringsService.meetingHost
			}}
		</button>
	</div>
	<div fxFlex>
		<ejs-schedule
			#schedule
			currentView="Agenda"
			[eventSettings]="
				(this.accountAppointmentsService.appointmentSchedulerModels.all
					| await) || {}
			"
			[height]="
				(envService.isMobile | await) ?
					((windowWatcherService.height | await) || 120) - 120 :
					((windowWatcherService.height | await) || 179) - 179
			"
			[readonly]="true"
			[(selectedDate)]="selectedDate"
		>
			<e-views>
				<e-view
					option="Agenda"
					[eventTemplate]="agendaEventTemplate"
				></e-view>
				<e-view option="Day"> </e-view>
				<e-view option="Month"> </e-view>
				<e-view option="Week"> </e-view>
			</e-views>
		</ejs-schedule>

		<ng-template #agendaEventTemplate let-data>
			<div class="appointment-info" fxLayout="row" fxLayoutGap="32px">
				<div fxLayout="column">
					<div class="subject">
						{{ data.Subject }}
					</div>
					<div class="description">
						{{ data.Description }}
					</div>
					<div class="time">
						{{ getTimeString(data.StartTime) }} -
						{{ getTimeString(data.EndTime) }}
					</div>
				</div>
				<div
					class="location"
					fxLayout="column"
					fxLayoutAlign="center center"
				>
					<button
						mat-raised-button
						cyphTranslate
						color="accent"
						[disabled]="
							!accountDatabaseService.currentUser.value
								?.agseConfirmed
						"
						matTooltip="Join Call"
						(click)="
							envService.isCordovaMobile ?
								router.navigate(
									data.Location.split('/').slice(3)
								) :
								openWindow(
									'#' +
										data.Location.split('/')
											.slice(3)
											.join('/')
								)
						"
					>
						<mat-icon>video_call</mat-icon>
					</button>
				</div>
			</div>
		</ng-template>
	</div>
</div>
