@import '../../../../css/mixins';

::ng-deep .e-schedule-dialog-container {
	.e-subject-container {
		width: 100% !important;
	}

	.e-location-container,
	.e-recurrenceeditor {
		display: none !important;
	}
}

:host > div {
	position: relative;
	min-height: 100%;

	/* Override .initiating rule */
	overflow-y: visible !important;
}

.quick-actions {
	margin: 1em;
}

.appointment-info {
	font-size: 16px;
	line-height: 28px;

	.subject {
		font-size: 21px;
		font-weight: bold;
	}

	.time {
		font-style: italic;
	}

	.location {
		button {
			height: 45px;

			mat-icon {
				@include icon-size(28px);
			}
		}
	}
}

::ng-deep .e-schedule .e-agenda-view .e-appointment {
	border-left: 3px solid #7e57c2 !important;
}

.e-day-date-header {
	font-size: 2em;
}
