<div fxLayout='column' fxLayoutAlign='center' fxLayoutGap='16px' *ngIf='getFile() | async as o'>
	<cyph-account-contacts-search
		#accountContactsSearch
		[placeholder]='stringsService.to'
	></cyph-account-contacts-search>
	<div>
		<cyph-account-contact
			class='active animated slideInDown'
			[contact]='accountContactsSearch?.searchBar?.filterSingle | async'
			(click)='accountContactsSearch?.searchBar?.clearFilter()'
		></cyph-account-contact>
	</div>
	<mat-card class='file'>
		<mat-card-header fxLayout='row'>
			<mat-icon mat-card-avatar>
				{{accountFilesService.getThumbnail(o.mediaType)}}
			</mat-icon>
			<mat-card-title>
				{{o.file?.name}}
			</mat-card-title>
			<mat-card-subtitle>
				<div>
					<span cyphTranslate>Type:</span>
					&ngsp;
					<span>{{o.fileConfig?.mediaType}}</span>
				</div>
				<div *ngIf='!isNaN(o?.size)'>
					<span cyphTranslate>Size:</span>
					&ngsp;
					<span>{{readableByteLength(o?.size)}}</span>
				</div>
			</mat-card-subtitle>
		</mat-card-header>
	</mat-card>

	<button (click)='share()' mat-raised-button>
		{{stringsService.share}} {{o.fileConfig?.description}}
	</button>
</div>
