<div fxLayout='column' fxLayoutAlign='center' fxLayoutGap='16px' *ngIf='getFile() | async as o'>
	<cyph-account-contacts-search
		#accountContactsSearch
		[chipInput]='true'
		[placeholder]='stringsService.to'
	></cyph-account-contacts-search>

	<mat-card class='file'>
		<mat-card-header fxLayout='row'>
			<mat-icon mat-card-avatar>
				{{accountFilesService.getThumbnail(o.mediaType)}}
			</mat-icon>
			<mat-card-title>
				{{o.file?.name}}
			</mat-card-title>
			<mat-card-subtitle>
				<div>
					<span cyphTranslate>Type:</span>
					&ngsp;
					<span>{{o.fileConfig?.mediaType}}</span>
				</div>
				<div *ngIf='!isNaN(o?.size)'>
					<span cyphTranslate>Size:</span>
					&ngsp;
					<span>{{readableByteLength(o?.size)}}</span>
				</div>
			</mat-card-subtitle>
		</mat-card-header>
	</mat-card>

	<div></div>

	<div fxLayoutAlign='center'>
		<button
			(click)='share()'
			mat-raised-button
			[disabled]='(accountContactsSearch.searchBar?.filter | async)?.size < 1'
		>
			{{stringsService.share}} {{o.fileConfig?.description}}
		</button>
	</div>
</div>
