<div
	fxLayout="column"
	fxLayoutAlign="center"
	fxLayoutGap="16px"
	*ngIf="getFile() | await as o"
>
	<cyph-account-contacts-search
		#accountContactsSearch
		[chipInput]="true"
		[placeholder]="stringsService.to"
	></cyph-account-contacts-search>

	<mat-card class="file">
		<mat-card-header fxLayout="row">
			<mat-icon mat-card-avatar>
				{{ accountFilesService.getThumbnail(o?.mediaType) }}
			</mat-icon>
			<mat-card-title>
				{{ o?.file?.name }}
			</mat-card-title>
			<mat-card-subtitle>
				<div>
					<span cyphTranslate>Type:</span>
					&ngsp;
					<span>{{ o?.fileConfig?.mediaType || '' }}</span>
				</div>
				<div *ngIf="isNumber(o?.size)">
					<span cyphTranslate>Size:</span>
					&ngsp;
					<span>{{ readableByteLength(o?.size || 0) }}</span>
				</div>
			</mat-card-subtitle>
		</mat-card-header>
	</mat-card>

	<div></div>

	<div fxLayoutAlign="center">
		<button
			mat-raised-button
			fxFlex
			fxFlex.gt-sm="initial"
			[disabled]="
				((accountContactsSearch.searchBar?.filter | await) || {size: 0})
					.size < 1
			"
			(click)="share()"
		>
			{{ stringsService.share }} {{ o?.fileConfig?.description || '' }}
		</button>
	</div>
</div>
