<ng-container *ngIf='accountDatabaseService.currentUser | async as user'>


<div
	fxFlexFill
	fxLayoutAlign='center center'
	class='cyph-foreground'
	[class.mobile]='envService.isMobile | async'
	[cyphDropZone]='false && chat.state === states.chat'
	[cyphDropZoneClass]='false'
	(fileDrop)='fileTransferService.send($event)'
	*ngIf='accountChatService.chatSubject | async as chat'
>
	<div fxFlex fxFlexFill fxLayout='column'>
		<div
			fxLayout='row'
			fxLayoutAlign='center center'
			class='loading-indicator cyph-banner dark'
			*ngIf='chat.state === states.chat && (accountChatService.uiReady | async) !== true'
		>
			<mat-progress-spinner
				diameter='16'
				strokeWidth='2'
				mode='indeterminate'
			></mat-progress-spinner>
			&nbsp;
			&nbsp;
			<span cyphTranslate>Loading...</span>
		</div>

		<cyph-account-call-waiting
			fxFlexFill
			[appointment]='appointment | async'
			[cancelRedirectsHome]='cancelRedirectsHome | async'
			*ngIf='initialCallPending | async'
		></cyph-account-call-waiting>

		<ng-container
			*ngIf='(messageType | async) === chatMessageValueTypes.Text; else fullMessageBox'
		>
			<cyph-chat-main
				fxFlex
				[appointment]='
					(user.user.userType | async) === accountUserTypes.TelehealthDoctor ?
						(appointment | async) :
						undefined
				'
				[messageType]='messageType | async'
				[class.visibility-hidden]='initialCallPending | async'
			></cyph-chat-main>

			<cyph-account-chat-message-box
				[messageType]='chatMessageValueTypes.Text'
				*ngIf='(accountP2PService.isActiveOrInitialCall | async) === false'
				[fxHide]='initialCallPending | async'
			></cyph-account-chat-message-box>
		</ng-container>

		<ng-template #fullMessageBox>
			<cyph-chat-main
				fxFlex
				class='chat-end-margin'
				[appointment]='
					(user.user.userType | async) === accountUserTypes.TelehealthDoctor ?
						(appointment | async) :
						undefined
				'
				[messageType]='messageType | async'
				[persistentEndMessage]='true'
				[promptFollowup]='promptFollowup | async'
				[uiStyle]='uiStyles.mail'
				[class.visibility-hidden]='initialCallPending | async'
			>
				<cyph-account-chat-message-box
					[messageType]='messageType | async'
					[showHeader]='true'
					*ngIf='(accountP2PService.isActiveOrInitialCall | async) === false'
				></cyph-account-chat-message-box>
			</cyph-chat-main>
		</ng-template>
	</div>
</div>


</ng-container>


<router-outlet></router-outlet>
