@import '../../../../css/mixins';

:host > div {
	background-color: initial !important;

	&:not(.mobile) {
		padding: 0 16px;

		cyph-account-chat-message-box {
			padding-bottom: 1em;
		}

		.loading-indicator {
			left: 2px;
			width: calc(100% - 3px);
		}
	}
}

.loading-indicator {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 100%;
	z-index: 10;
	padding: 0;
}

.cyph-foreground.initiating > div:first-child {
	display: none !important;
}

.chat-end-margin ::ng-deep .chat-end-message mat-card {
	margin-bottom: 1em;
}

cyph-chat-main ::ng-deep .chat-main.mobile cyph-chat-message-list .message-list-background {
	padding-top: 8px;
}

cyph-chat-message-list ::ng-deep > .background-image {
	display: none;
}

cyph-chat-message-box ::ng-deep .text-message-box.mobile {
	padding: 0 4px;
}
