<div
	[fxFlex]="mobile && uiStyle === uiStyles.default ? 'nogrow' : ''"
	class="message-item"
	[ngClass]="'ui-style-' + uiStyles[uiStyle]"
	[class.full-width]="
		uiStyle === uiStyles.default &&
		!!value?.fileTransfer &&
		!value?.fileTransfer?.media
	"
	[class.mobile]="mobile"
	[class.author-app]="(chatMessage | await)?.authorType === authorTypes.App"
	[class.author-local]="
		(chatMessage | await)?.authorType === authorTypes.Local
	"
	[class.author-remote]="
		(chatMessage | await)?.authorType === authorTypes.Remote
	"
	[class.file-transfer]="
		(chatMessage | await)?.value?.fileTransfer !== undefined
	"
	[class.get-value-failure]="(chatMessage | await)?.value?.failure"
	[class.self-destruct]="chatService.chatSelfDestruct | await"
	[class.self-destructed]="
		(chatMessage | await)?.selfDestructTimer?.isComplete | await
	"
	[class.visibility-hidden]="(viewReady | await) === false"
	[attr.data-message-id]="(chatMessage | await)?.id"
	*ngIf="
		(chatMessage | await)?.valueWatcher | await as value;
		else messageLoading
	"
>
	<div>
		<div fxLayout="row" *ngIf="uiStyle === uiStyles.default; else mailUI">
			<div class="message" fxFlex>
				<div fxLayout="row" fxLayoutAlign="start center">
					<strong
						class="message-author"
						*ngIf="
							!mobile &&
							(chatMessage | await)?.authorType !==
								authorTypes.App
						"
					>
						{{ ((chatMessage | await)?.author | await) || '' }}:
					</strong>
					&nbsp;
					<ng-container
						*ngTemplateOutlet="
							messageContent;
							context: {
								value: value
							}
						"
					></ng-container>
				</div>
			</div>
			<div
				[fxFlex]="mobile ? undefined : '8em'"
				fxLayoutAlign="end center"
				class="message-timestamp"
			>
				<div fxLayout="row">
					<ng-container *ngIf="mobile">
						<ng-container
							*ngTemplateOutlet="messageCopy"
						></ng-container>
					</ng-container>

					<div [class.mobile-time]="mobile">
						<!--
						<ng-container
							*ngIf="
								mobile &&
								!!sessionService.group &&
								(chatMessage | await)?.authorType ===
									authorTypes.Local
							"
						>
							{{ ((chatMessage | await)?.author | await) || '' }}
							&nbsp;&mdash;&nbsp;
						</ng-container>
						-->

						{{ (chatMessage | await)?.timeString || '' }}

						<ng-container
							*ngIf="
								mobile &&
								!!sessionService.group &&
								(chatMessage | await)?.authorType ===
									authorTypes.Remote
							"
						>
							&nbsp;&mdash;&nbsp;&ngsp;{{
								((chatMessage | await)?.author | await) || ''
							}}
						</ng-container>
					</div>

					<div
						*ngIf="
							!mobile ||
							(chatMessage | await)?.authorType ===
								authorTypes.Local
						"
					>
						<span>&nbsp;</span>
						&ngsp;
						<ng-container
							*ngTemplateOutlet="messageConfirmation"
						></ng-container>
					</div>

					<ng-container *ngIf="!mobile">
						<ng-container
							*ngTemplateOutlet="messageCopy"
						></ng-container>
					</ng-container>
				</div>
			</div>
		</div>

		<ng-template #mailUI>
			<div
				fxLayout="row"
				class="cyph-light-theme mail-ui"
				[class.mail-local]="
					(chatMessage | await)?.authorType === authorTypes.Local
				"
			>
				<mat-card fxFlex>
					<mat-card-header>
						<img
							mat-card-avatar
							cyphTranslate
							class="avatar-image"
							[src]="
								((chatMessage | await)?.authorUser | await)
									?.avatar | await
							"
							[routerLink]="
								'/profile/' +
								((chatMessage | await)?.authorUser | await)
									?.username
							"
							alt="User Avatar"
							*ngIf="
								accountService &&
								(((chatMessage | await)?.authorUser | await)
									?.avatar | await) !== undefined
							"
						/>
						<mat-card-title fxFlex>
							<div fxFlex [fxLayout]="mobile ? 'column' : 'row'">
								<span
									*ngIf="
										((chatMessage | await)?.authorUser
											| await) !== undefined
									"
								>
									<strong
										>{{
											(
												(chatMessage | await)
													?.authorUser | await
											)?.name | await
										}}&nbsp;</strong
									>
									&ngsp;
									<small>
										{{
											(chatMessage | await)
												?.authorType ===
											authorTypes.Remote ?
												'@' :
												''
										}}{{
											(chatMessage | await)?.author
												| await
										}}
									</small>
								</span>
								<strong
									*ngIf="
										((chatMessage | await)?.authorUser
											| await) === undefined
									"
								>
									{{
										(chatMessage | await)?.authorType ===
										authorTypes.Remote ?
											'@' :
											''
									}}{{
										(chatMessage | await)?.author | await
									}}
								</strong>
								<div fxFlex *ngIf="!mobile"></div>
								<div>
									<span>{{
										(chatMessage | await)?.dateTimeString
									}}</span>
									&ngsp;
									<ng-container
										*ngTemplateOutlet="messageConfirmation"
									></ng-container>
								</div>
							</div>
						</mat-card-title>
					</mat-card-header>
					<div class="mail-divider" mat-card-image></div>
					<mat-card-content>
						<ng-container
							*ngTemplateOutlet="
								messageContent;
								context: {
									value: value
								}
							"
						></ng-container>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>

		<div
			fxLayout="row"
			fxLayoutAlign="center center"
			fxLayoutGap="10px"
			class="self-destruct-timer"
			*ngIf="(chatMessage | await)?.selfDestructTimer"
		>
			<div cyphTranslate>Message will self-destruct in</div>
			<div class="countdown">
				{{
					(chatMessage | await)?.selfDestructTimer?.timestamp | await
				}}
			</div>
		</div>
	</div>
	<div class="self-destruct-cover"></div>
</div>

<ng-template #messageConfirmation>
	<ng-container
		*ngIf="
			pending || (chatMessage | await)?.authorType !== authorTypes.Local;
			else messagePartialConfirmed
		"
	>
		<span class="confirmation-checks visibility-hidden">
			<mat-icon>check</mat-icon>
			&ngsp;
			<mat-icon>check</mat-icon>
		</span>
	</ng-container>
	<ng-template #messagePartialConfirmed>
		<ng-container
			*ngIf="!chatService.deliveryReceipts; else messageConfirmed"
		>
			<span class="confirmation-checks">
				<mat-icon>check</mat-icon>
				&ngsp;
				<mat-icon class="visibility-hidden">check</mat-icon>
			</span>
		</ng-container>
	</ng-template>
	<ng-template #messageConfirmed>
		<ng-container *ngIf="confirmed; else messageUnconfirmed">
			<span class="confirmation-checks">
				<mat-icon>check</mat-icon>
				&ngsp;
				<mat-icon>check</mat-icon>
			</span>
		</ng-container>
	</ng-template>
	<ng-template #messageUnconfirmed>
		<span
			class="confirmation-checks"
			[matTooltip]="stringsService.messageUnconfirmed"
		>
			<mat-icon>check</mat-icon>
			&ngsp;
			<mat-icon class="visibility-hidden">check</mat-icon>
		</span>
	</ng-template>
</ng-template>

<ng-template #messageContent let-value="value">
	<span fxFlex (init)="loaded.emit()">
		<cyph-calendar-invite
			[isDisabled]="true"
			[mobile]="mobile"
			[ngModel]="value.calendarInvite"
			*ngIf="value.calendarInvite; else fileTransferValue"
		></cyph-calendar-invite>
		<ng-template #fileTransferValue>
			<div *ngIf="value.fileTransfer; else formValue">
				<ng-container
					*ngIf="
						value.fileTransfer.media &&
							value.fileTransfer.size <=
								fileService.mediaSizeLimit;
						else saveFile
					"
				>
					<ng-container
						*ngIf="
							((mediaSpoiler | await) === false ?
								fileTransferService.getMedia(
									value.fileTransfer
								) :
								undefined
							) | await as media;
							else mediaLoading
						"
					>
						<ng-container
							*ngIf="!!media?.success; else mediaFailure"
						>
							<div class="centered media-container">
								<ng-container
									*ngTemplateOutlet="
										mediaDisplay;
										context: {clickable: true}
									"
								></ng-container>
							</div>
							<div
								class="centered-fake media-container visibility-hidden"
							>
								<ng-container
									*ngTemplateOutlet="mediaDisplay"
								></ng-container>
							</div>
						</ng-container>
						<ng-template #mediaDisplay let-clickable="clickable">
							<audio
								controls
								[attr.aria-label]="value.fileTransfer.name"
								*ngIf="fileService.isAudio(value.fileTransfer)"
							>
								<source
									[type]="value.fileTransfer.mediaType"
									[src]="media?.uri || ''"
								/>
							</audio>

							<div class="media-wrapper" fxLayout="row">
								<img
									class="media-message"
									[src]="media?.uri || ''"
									[alt]="value.fileTransfer.name"
									(click)="
										!clickable ?
											undefined :
											dialogService.media({
												mediaType:
													value.fileTransfer
														.mediaType,
												src: media?.uri || '',
												title: value.fileTransfer.name
											})
									"
									*ngIf="
										fileService.isImage(value.fileTransfer)
									"
								/>

								<button
									mat-icon-button
									cyphTranslate
									class="hide-content-button"
									[class.mobile]="mobile"
									matTooltip="Hide Content"
									(click)="mediaSpoiler.next(true)"
								>
									<mat-icon>visibility_off</mat-icon>
								</button>
							</div>

							<span
								class="video-message-wrapper"
								(click)="
									!clickable || mobile ?
										undefined :
										dialogService.media({
											mediaType:
												value.fileTransfer.mediaType,
											src: media?.uri || '',
											title: value.fileTransfer.name
										})
								"
								*ngIf="fileService.isVideo(value.fileTransfer)"
							>
								<video
									class="media-message"
									controls
									[attr.aria-label]="value.fileTransfer.name"
								>
									<source
										[type]="value.fileTransfer.mediaType"
										[src]="media?.uri || ''"
									/>
								</video>
							</span>
						</ng-template>
						<ng-template #mediaFailure>
							<div class="centered">
								<span>{{
									stringsService.incomingFileSaveMediaError
								}}</span>
								<h4 class="media-title">
									{{ value.fileTransfer.name }}
								</h4>
							</div>
							<br />
							<br />
						</ng-template>
					</ng-container>
					<ng-template #mediaLoading>
						<div
							[class.centered]="active"
							[class.centered-fake]="!active"
							[class.spoiler]="mediaSpoiler | await"
							[class.visibility-hidden]="!active"
							(click)="mediaSpoiler.next(false)"
							*ngFor="
								let active of [true, false];
								trackBy: trackBySelf
							"
						>
							<cyph-spinner
								mode="indeterminate"
								diameter="50"
								strokeWidth="5"
								*ngIf="(mediaSpoiler | await) === false"
							></cyph-spinner>
							<div
								cyphTranslate
								class="spoiler-message"
								*ngIf="mediaSpoiler | await"
							>
								Click to Reveal
							</div>
						</div>
					</ng-template>
				</ng-container>
				<ng-template #saveFile>
					<button
						mat-raised-button
						class="save-file centered"
						(click)="
							fileTransferService.saveFile(value.fileTransfer)
						"
						[matTooltip]="stringsService.incomingFile"
					>
						<mat-icon>get_app</mat-icon>
						&ngsp;
						<span>
							{{ value.fileTransfer.name }}
							&ngsp; ({{
								readableByteLength(value.fileTransfer.size)
							}})
						</span>
					</button>
					<br />
					<br />
					<br />
				</ng-template>
			</div>
		</ng-template>
		<ng-template #formValue>
			<cyph-dynamic-form
				[form]="value.form"
				[isDisabled]="true"
				[mobile]="mobile"
				*ngIf="value.form; else quillValue"
			></cyph-dynamic-form>
		</ng-template>
		<ng-template #quillValue>
			<cyph-quill
				[content]="quill | await"
				[isDisabled]="true"
				(ready)="resolveViewReady()"
				*ngIf="value.quill && value.quill.length > 0; else textValue"
			></cyph-quill>
		</ng-template>
		<ng-template #textValue>
			<cyph-markdown
				class="message-text"
				[markdown]="value.text"
				[targetSelf]="
					(chatMessage | await)?.authorType === authorTypes.App
				"
			></cyph-markdown>
		</ng-template>
	</span>
</ng-template>

<ng-template #messageCopy>
	<button
		#clipboardCopyMenuTrigger="matMenuTrigger"
		mat-icon-button
		[matMenuTriggerFor]="clipboardCopyMenu"
		matTooltip="Copy to Clipboard"
		cyphTranslate
		class="clipboard-copy-menu"
		[class.visibility-hidden]="
			envService.isMobileOS ||
			!(
				((((chatMessage | await)?.valueWatcher | await) || {text: ''})
					.text?.length || 0) > 0
			)
		"
		*ngIf="
			!mobile ||
			!envService.isMobileOS ||
			((((chatMessage | await)?.valueWatcher | await) || {text: ''}).text
				?.length || 0) > 0
		"
	>
		<mat-icon>content_copy</mat-icon>
	</button>
	<mat-menu #clipboardCopyMenu="matMenu">
		<button mat-menu-item (click)="copyToClipboard()" cyphTranslate>
			Copy Message
		</button>
		<button mat-menu-item (click)="copyToClipboard(true)" cyphTranslate>
			Quote Message
		</button>
	</mat-menu>
</ng-template>

<ng-template #messageLoading>
	<div cyphTranslate class="message-loading" *ngIf="!hidden">
		<div cyphTranslate>Loading message...</div>
	</div>
</ng-template>
