<form
	ngNativeValidate
	fxLayout='column'
	fxLayoutGap='32px'
	(submit)='onSubmit()'
	*ngIf='form'
>
	<div
		fxLayout='row'
		class='component'
		*ngFor='let component of form?.components; trackBy: trackByIndex'
	>
		<div fxFlex fxLayout='column' fxLayoutGap='16px'>
			<div
				fxLayout='row'
				fxLayout.lt-md='column'
				fxLayoutAlign.gt-sm='center center'
				fxLayoutGap='16px'
				class='row'
				*ngFor='let row of component.rows; trackBy: trackByIndex'
			>
				<div
					[fxFlex]='o.noGrow ? "nogrow" : (o.width || 100)'
					fxLayout='column'
					*ngFor='let o of row.elements; trackBy: trackByIndex'
				>

					<h3 class='label' *ngIf='o.type === types.Text'>{{o.label}}</h3>
					<div *ngIf='o.type === types.Text'>{{o.valueString}}</div>

					<mat-checkbox
						[(ngModel)]='o.valueBoolean'
						[disabled]='isDisabled'
						[name]='getName(o)'
						[required]='o.required'
						*ngIf='o.type === types.Checkbox'
					>
						{{o.label}}
					</mat-checkbox>

					<ng-container *ngIf='o.type === types.Datepicker'>
						<mat-form-field>
							<input
								matInput
								[matDatepicker]='datepicker'
								[ngModel]='timestampToDate(o.valueNumber, true)'
								(ngModelChange)='o.valueNumber = $event ? $event.getTime() : 0'
								[disabled]='isDisabled'
								[name]='getName(o)'
								[placeholder]='o.label'
								[required]='o.required'
							/>
							<mat-datepicker-toggle
								matSuffix
								[for]='datepicker'
							></mat-datepicker-toggle>
						</mat-form-field>
						<mat-datepicker [touchUi]='mobile' #datepicker></mat-datepicker>
					</ng-container>

					<mat-form-field *ngIf='o.type === types.Email'>
						<input
							matInput
							[textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							type='email'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</mat-form-field>

					<mat-form-field *ngIf='o.type === types.Input'>
						<input
							matInput
							[textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							type='text'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</mat-form-field>

					<mat-form-field *ngIf='o.type === types.Number'>
						<input
							matInput
							[textMask]='getMask(o)'
							[ngModel]='o.valueNumber'
							(ngModelChange)='o.valueNumber = parseInt($event)'
							[max]='o.max'
							[min]='o.min'
							[name]='getName(o)'
							type='number'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</mat-form-field>

					<mat-form-field *ngIf='o.type === types.Password'>
						<input
							matInput
							[textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							[type]='isDisabled ? "text" : "password"'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</mat-form-field>

					<h3 class='label' *ngIf='o.type === types.Radio'>{{o.label}}</h3>
					<mat-radio-group
						fxFlex
						[(ngModel)]='o.valueString'
						[name]='getName(o)'
						[disabled]='isDisabled'
						[required]='o.required'
						*ngIf='o.type === types.Radio'
					>
						<mat-radio-button
							*ngFor='let option of o.options; trackBy: trackBySelf'
							[value]='option'
						>
							{{option}}
						</mat-radio-button>
					</mat-radio-group>

					<mat-form-field fxFlex *ngIf='o.type === types.Select'>
						<mat-select
							fxFlex
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							[disabled]='isDisabled'
							[required]='o.required'
						>
							<mat-option
								*ngFor='let option of o.options; trackBy: trackBySelf'
								[value]='option'
							>
								{{option}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<h3 *ngIf='o.type === types.Slider'>{{o.label}}</h3>
					<mat-slider
						[(ngModel)]='o.valueNumber'
						[max]='o.max'
						[min]='o.min'
						[name]='getName(o)'
						*ngIf='o.type === types.Slider'
					></mat-slider>

					<mat-slide-toggle
						[(ngModel)]='o.valueBoolean'
						[name]='getName(o)'
						[disabled]='isDisabled'
						[required]='o.required'
						*ngIf='o.type === types.SlideToggle'
					>
						{{o.label}}
					</mat-slide-toggle>

					<mat-form-field *ngIf='o.type === types.Textarea'>
						<textarea
							matInput
							matTextareaAutosize
							matAutosizeMinRows='4'
							[textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						></textarea>
					</mat-form-field>

					<mat-form-field *ngIf='o.type === types.Time'>
						<input
							matInput
							[textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							type='time'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</mat-form-field>

					<mat-form-field *ngIf='o.type === types.URL'>
						<input
							matInput
							[textMask]='getMask(o)'
							[(ngModel)]='o.valueString'
							[name]='getName(o)'
							type='url'
							[disabled]='isDisabled'
							[placeholder]='o.label'
							[required]='o.required'
						/>
					</mat-form-field>

				</div>
			</div>
		</div>
	</div>
	<div fxLayout='row' fxLayoutAlign='center center' *ngIf='!isDisabled'>
		<button mat-raised-button matTooltip='Submit' color='accent' type='submit' cyphTranslate>
			Submit
		</button>
	</div>
</form>
