<form
	ngNativeValidate
	fxLayout="column"
	fxLayoutGap="16px"
	(submit)="onSubmit()"
	*ngIf="form"
>
	<ng-container *ngIf="!form?.isExpansionPanel; else expansionPanelForm">
		<ng-container
			*ngTemplateOutlet="
				mainView;
				context: {
					components: form?.components || []
				}
			"
		></ng-container>
	</ng-container>

	<ng-template #expansionPanelForm>
		<ng-container
			*ngTemplateOutlet="
				mainView;
				context: {
					components: (form?.components || []).slice(1)
				}
			"
		></ng-container>
	</ng-template>

	<ng-container *ngIf="!hideSubmitButton && !isDisabled">
		<br />
		<div fxLayout="row" fxLayoutAlign="center center">
			<button mat-raised-button color="accent" type="submit">
				{{ submitText }}
			</button>
		</div>
	</ng-container>
</form>

<ng-template #mainView let-components="components">
	<div
		fxLayout="column"
		fxLayoutAlign="center"
		class="component"
		*ngFor="let component of components; trackBy: trackByIndex"
	>
		<div
			[fxLayout]="component.isColumn ? 'column' : 'row'"
			fxLayoutAlign="center center"
			[class]="component.isColumn ? 'column' : 'row'"
			*ngFor="
				let container of component.containers;
				trackBy: trackByIndex
			"
		>
			<div
				fxFlex
				[fxLayout]="container.isColumn ? 'column' : 'row'"
				fxLayoutAlign="center center"
				fxLayoutGap="16px"
				[class]="container.isColumn ? 'column' : 'row'"
			>
				<ng-container
					*ngTemplateOutlet="
						elementContainerView;
						context: {
							container: container
						}
					"
				></ng-container>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #elementContainerView let-container="container">
	<ng-container
		*ngFor="let element of container.elements; trackBy: trackByIndex"
	>
		<ng-container *ngIf="element.element">
			<ng-container
				*ngTemplateOutlet="
					elementView;
					context: {
						o: element.element
					}
				"
			></ng-container>
		</ng-container>
		<ng-container *ngIf="element.elementContainer">
			<ng-container
				*ngTemplateOutlet="
					elementContainerView;
					context: {
						container: element.elementContainer
					}
				"
			></ng-container>
		</ng-container>
	</ng-container>
</ng-template>

<ng-template #elementView let-o="o">
	<div
		[fxFlex]="o.noGrow ? 'nogrow' : o.width || ''"
		fxLayout="column"
		*ngIf="isVisible(o)"
	>
		<h3 class="label" *ngIf="o.type === types.Text">{{ o.label }}</h3>
		<div *ngIf="o.type === types.Text">{{ o.valueString }}</div>

		<mat-checkbox
			[(ngModel)]="o.valueBoolean"
			(ngModelChange)="changeForm.emit()"
			[class.no-pointer-events]="isDisabled"
			[matTooltip]="o.tooltip"
			[matTooltipDisabled]="!o.tooltip"
			[name]="getName(o)"
			[required]="o.required"
			*ngIf="o.type === types.Checkbox"
		>
			{{ o.label }}
		</mat-checkbox>

		<ng-container *ngIf="o.type === types.CyphUsername">
			<cyph-account-contacts-search-optional
				[chipInput]="true"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[placeholder]="
					o.label ||
					(o.multiple ? stringsService.users : stringsService.user)
				"
				[name]="getName(o)"
				[readonly]="isDisabled"
				[required]="o.required"
				[searchUsername]="o.valueString"
				(userFilterChange)="setCyphUsernames(o, $event)"
			></cyph-account-contacts-search-optional>
		</ng-container>

		<ng-container *ngIf="o.type === types.Datepicker">
			<mat-form-field>
				<input
					matInput
					[matDatepicker]="datepicker"
					[matTooltip]="o.tooltip"
					[matTooltipDisabled]="!o.tooltip"
					[ngModel]="timestampToDate(o.valueNumber, true)"
					(ngModelChange)="
						o.valueNumber = $event ? $event.getTime() : 0;
						changeForm.emit()
					"
					[name]="getName(o)"
					[placeholder]="o.label"
					[readonly]="isDisabled"
					[required]="o.required"
				/>
				<mat-datepicker-toggle
					matSuffix
					[class.no-pointer-events]="isDisabled"
					[for]="datepicker"
				></mat-datepicker-toggle>
			</mat-form-field>
			<mat-datepicker
				#datepicker
				[touchUi]="
					mobile !== undefined ?
						mobile :
						(envService.isMobile | await) || false
				"
			></mat-datepicker>
		</ng-container>

		<mat-form-field *ngIf="o.type === types.Email">
			<input
				matInput
				[(ngModel)]="o.valueString"
				(ngModelChange)="changeForm.emit()"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[name]="getName(o)"
				[pattern]="emailPattern"
				[placeholder]="o.label"
				[readonly]="isDisabled"
				[required]="o.required"
				[textMask]="getMask(o)"
				type="email"
			/>
		</mat-form-field>

		<ng-container *ngIf="o.type === types.File">
			<h3 class="label">{{ o.label }}</h3>

			<button
				mat-button
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				(click)="saveFile(o.valueBytes, o.fileName, o.mediaType)"
				*ngIf="o.valueBytes?.length > 0"
			>
				{{ o.fileName }}
			</button>

			<button
				mat-fab
				color="primary"
				[matTooltip]="o.tooltip || stringsService.uploadFile"
				cyphDropZone
				(fileDrop)="
					o.mediaType = $event.mediaType;
					o.fileName = $event.name;
					o.valueBytes = $event.data;
					changeForm.emit()
				"
				*ngIf="!isDisabled"
			>
				<mat-icon>file_upload</mat-icon>
			</button>
		</ng-container>

		<ng-container *ngIf="o.type === types.Input">
			<mat-form-field>
				<input
					matInput
					[textMask]="getMask(o)"
					[(ngModel)]="o.valueString"
					(ngModelChange)="changeForm.emit()"
					[matTooltip]="o.tooltip"
					[matTooltipDisabled]="!o.tooltip"
					[name]="getName(o)"
					[placeholder]="o.label"
					[readonly]="isDisabled"
					[required]="o.required"
					type="text"
				/>
			</mat-form-field>
		</ng-container>

		<mat-form-field *ngIf="o.type === types.Number">
			<input
				#numberInputElement
				matInput
				[ngModel]="o.valueNumber.toFixed(8)"
				(keyup)="
					o.valueNumber = toFloat(
						numberInputElement.value || '0',
						o.max,
						o.min
					);
					numberInputElement.value = o.valueNumber?.toFixed(8) || '';
					changeForm.emit()
				"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[max]="o.max"
				[min]="o.min"
				[name]="getName(o)"
				[placeholder]="o.label"
				[readonly]="isDisabled"
				[required]="o.required"
				[step]="o.step"
				[textMask]="getMask(o)"
				type="number"
			/>
		</mat-form-field>

		<mat-form-field *ngIf="o.type === types.Password">
			<input
				matInput
				[(ngModel)]="o.valueString"
				(ngModelChange)="changeForm.emit()"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[name]="getName(o)"
				[placeholder]="o.label"
				[readonly]="isDisabled"
				[required]="o.required"
				[textMask]="getMask(o)"
				[type]="
					isDisabled || (hidePassword(o) | await) === false ?
						'text' :
						'password'
				"
			/>
			<mat-icon
				matSuffix
				class="suffix-button"
				(click)="hidePassword(o).next(!hidePassword(o).value)"
			>
				{{
					(hidePassword(o) | await) ? 'visibility' : 'visibility_off'
				}}
			</mat-icon>
		</mat-form-field>

		<h3 class="label" *ngIf="o.type === types.Radio">{{ o.label }}</h3>
		<mat-radio-group
			fxFlex
			[(ngModel)]="o.valueString"
			(ngModelChange)="changeForm.emit()"
			[class.no-pointer-events]="isDisabled"
			[matTooltip]="o.tooltip"
			[matTooltipDisabled]="!o.tooltip"
			[name]="getName(o)"
			[required]="o.required"
			*ngIf="o.type === types.Radio"
		>
			<mat-radio-button
				*ngFor="let option of o.options; trackBy: trackBySelf"
				[value]="option"
			>
				{{ option }}
			</mat-radio-button>
		</mat-radio-group>

		<mat-form-field
			fxFlex
			[class.no-pointer-events]="isDisabled"
			*ngIf="o.type === types.Select"
		>
			<mat-select
				fxFlex
				[(ngModel)]="o.valueString"
				(ngModelChange)="changeForm.emit()"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[name]="getName(o)"
				[placeholder]="o.label"
				[required]="o.required"
			>
				<mat-option
					*ngFor="let option of o.options; trackBy: trackBySelf"
					[value]="option"
				>
					{{ option }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<h3 *ngIf="o.type === types.Slider">{{ o.label }}</h3>
		<mat-slider
			[(ngModel)]="o.valueNumber"
			(ngModelChange)="changeForm.emit()"
			[matTooltip]="o.tooltip"
			[matTooltipDisabled]="!o.tooltip"
			[max]="o.max"
			[min]="o.min"
			[name]="getName(o)"
			[step]="o.step"
			*ngIf="o.type === types.Slider"
		></mat-slider>

		<mat-slide-toggle
			[(ngModel)]="o.valueBoolean"
			[class.no-pointer-events]="isDisabled"
			[matTooltip]="o.tooltip"
			[matTooltipDisabled]="!o.tooltip"
			[name]="getName(o)"
			[required]="o.required"
			*ngIf="o.type === types.SlideToggle"
		>
			{{ o.label }}
		</mat-slide-toggle>

		<mat-form-field *ngIf="o.type === types.Textarea">
			<textarea
				matInput
				[cdkTextareaAutosize]="true"
				[cdkAutosizeMinRows]="4"
				[(ngModel)]="o.valueString"
				(ngModelChange)="changeForm.emit()"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[name]="getName(o)"
				[placeholder]="o.label"
				[readonly]="isDisabled"
				[required]="o.required"
			></textarea>
		</mat-form-field>

		<mat-form-field *ngIf="o.type === types.Time">
			<input
				matInput
				[(ngModel)]="o.valueString"
				(ngModelChange)="changeForm.emit()"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[name]="getName(o)"
				[placeholder]="o.label"
				[readonly]="isDisabled"
				[required]="o.required"
				[textMask]="getMask(o)"
				type="time"
			/>
		</mat-form-field>

		<mat-form-field *ngIf="o.type === types.URL">
			<input
				matInput
				[(ngModel)]="o.valueString"
				(ngModelChange)="changeForm.emit()"
				[matTooltip]="o.tooltip"
				[matTooltipDisabled]="!o.tooltip"
				[name]="getName(o)"
				[placeholder]="o.label"
				[readonly]="isDisabled"
				[required]="o.required"
				type="url"
				[textMask]="getMask(o)"
			/>
		</mat-form-field>
	</div>
</ng-template>
