<script type='text/javascript' src='/lib/js/jquery-legacy/dist/jquery.min.js'></script>
{% javascript main %}
{% if site.inc.sharing.twitter %}<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='/lib/blog/twitter/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>{% endif %}
{% if site.inc.sharing.facebook %}<div id='fb-root'></div>
<script>(function(d, s, id) {
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '873979796022229',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '/lib/blog/facebook/sdk.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>{% endif %}
{% if site.inc.sharing.gplus %}
<script type='text/javascript' src='/lib/blog/google/plusone.js'></script>
<script type='text/javascript' src='/lib/blog/google/plusone.helper.js'></script>
{% endif %}
{% if site.inc.sharing.hn %}<script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '/lib/blog/hnbutton/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>{% endif %}
{% if site.inc.analytics.google %}
  {% include _google-analytics.html %}
{% endif %}
