{% if page.author.twitter or page.author.quora or page.author.github %}
    <div class="social">
        {% if page.author.twitter %}
            <a href="https://twitter.com/{{ page.author.twitter }}" class="twitter" ><img src='{{ site.baseurl }}/images/twitter.png' style='width:25px;height:25px;margin:-3px 5px auto 5px;'></img></a>
        {% endif %}
        {% if page.author.quora %}
            <a href='https://www.quora.com/profile/{{ page.author.quora }}'><img src='{{ site.baseurl }}/images/quora.png' style='width:25px;height:25px;margin:-3px 5px auto 5px;'></img></a>
        {% endif %}
        {% if page.author.github %}
            <a href='https://github.com/{{ page.author.github }}'><img src='{{ site.baseurl }}/images/github.png' style='width:25px;height:25px;margin:-3px 5px auto 5px;'></img></a>
        {% endif %}
    </div>
{% endif %}

{% if post.author.twitter or post.author.quora or post.author.github %}
        {% if post.author.twitter %}
            <a href="https://twitter.com/{{ post.author.twitter }}" class="twitter" ><img src='{{ site.baseurl }}/images/twitter.png' style='width:15px;height:15px;margin:-3px 5px auto 5px;'></img></a>
        {% endif %}
        {% if post.author.quora %}
            <a href='https://www.quora.com/profile/{{ post.author.quora }}'><img src='{{ site.baseurl }}/images/quora.png' style='width:15px;height:15px;margin:-3px 5px auto -2px;'></img></a>
        {% endif %}
        {% if post.author.github %}
            <a href='https://github.com/{{ post.author.github }}'><img src='{{ site.baseurl }}/images/github.png' style='width:15px;height:15px;margin:-3px 5px auto -2px;'></img></a>
        {% endif %}
{% endif %}